.vt_dt {
    padding: 10px !important;
    width: 70%;
    border: 1px solid #ccc;
}

.virtual-fields .form-control {
    display: block !important;
    width: 100%;
    height: 34px !important;
    padding: 6px 12px !important;
    font-size: 14px !important;
    line-height: 1.42857143 !important;
    color: #555 !important;
    background-color: #fff !important;
    background-image: none !important;
    border: 1px solid #ccc !important;
    border-radius: 4px !important;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%) !important;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s !important;
}

.form-control:focus {
    border-color: #66afe9 !important;
    outline: 0 !important;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%) !important;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    input[type=date].form-control {
        line-height: 34px !important;
    }
}

label {
    display: inline-block !important;
    max-width: 100% !important;
    margin-bottom: 5px !important;
    font-weight: 700 !important;
}

::ng-deep .consumer-virtual-serviceinfo-component app-field-error-display .sts-msg.error {
    font-weight: 700 !important;
    color: red !important;
}

.mat-dialog-actions button {
    margin-bottom: 0 !important;
    background-color: #1E4079 !important;
    text-transform: capitalize !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.mgn-bt-5 {
    margin-bottom: 5px !important;
}

.virtual-fields div, .virtual-fields .mat-radio-label-content, .virtual-fields .mat-radio-label{
    font-size: 1rem !important;
}

.virtual-fields .mat-select {
    padding: 10px !important;
    border:1px solid #ccc !important;
}
/* form.virtual-fields, form.virtual-fields .mat-dialog-content {
    height: 100vh !important;
    max-height: 100vh !important;
} */
.justify {
    text-align: justify !important;
}
.userGroup .mat-radio-button {
    display:block !important;
    padding:3px 0px 3px 0px !important;
}

.modal-title.service-detail-title {
    display: flex;
    align-items: stretch;
    padding: 10px !important;
    background: transparent!important;
    color: #222223!important;
    font-size: 1rem !important;
    font-weight: 600;
    margin: 0;
    position: relative;
    letter-spacing: normal;
}

.modal-title.service-detail-title .name {
    display: flex;
    align-items: stretch;
}

.modal-title.service-detail-title .name .dispvalue {
    display: flex;
    align-items: stretch;
    font-size: 1.4rem;
    color: #fff;
}

.modal-title.service-detail-title .name .dispvalue span {
    height: 32px;
    display: flex;
    align-items: flex-start;
}

.modal-title.service-detail-title .name .dispvalue span .wtsapaud-icon {
    width: 35px;
}

.modal-title.service-detail-title .name .dispvalue span .wtsapvid-icon {
    width: 40px;
    margin-right: 8px;
}

.modal-title.service-detail-title .name .dispvalue span .donation-service {
    width: 30px;
    margin-right: 8px;
}

.modal-title.service-detail-title .name .dispvalue span .physical-service {
    width: 50px;
    margin-right: 8px;
    margin-top: -12px;
}

.modal-title.service-detail-title .name .dispvalue span .zoom-icon {
    width: 38px;
}

.modal-title.service-detail-title .name .dispvalue span .meet-icon {
    width: 28px;
}

.modal-title.service-detail-title .name .dispvalue span .phon-icon {
    width: 28px;
}

.modal-header.service-detail-header button {
    height: 53px !important;
    display: flex;
    align-items: center;
    right: 20px!important;
    width: 24px!important;
    color: black !important;
    /* position: absolute; */
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    justify-content: center;
    z-index: 121;
    opacity: 1 !important;    
    margin-left: auto;
}

.modal-header.service-detail-header button span {
    display: flex;
    font-size: 2.2rem;
    color: #fff;
}

.service-detail-content.service-popup-content {
    padding: 0px 10px 0 15px !important;
    margin: 0;
    overflow: auto;
    display: block;
    max-height: 88vh;
}

.service-detail-content.service-popup-content .servicedet_outer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.service-detail-content.service-popup-content .servicedet_outer .img-outer {
    margin: 10px !important;
}

.service-detail-content.service-popup-content .servicedet_outer .img-outer .gal {
    width: 120px !important;
    margin: 0;
    padding: 0;
}

.service-detail-content.service-popup-content .servicedet_outer .img-outer .gal li:last-child {
    margin-bottom: 0;
}

.service-detail-content.service-popup-content .servicedet_outer .img-outer .gal li {
    list-style: none;
}

.service-detail-content.service-popup-content .servicedet_outer .img-outer .gal li .galbx{
    width: 120px !important;
    height: 120px !important;
    position: relative;
    cursor: pointer;
}

.service-detail-content.service-popup-content .servicedet_outer .img-outer .gal li .galbx .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-weight: 600;
    visibility: visible;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.125rem;
}

.service-detail-content.service-popup-content .servicedet_outer .img-outer .gal li .galbx img{
    width: 100%;
    height: 100%;
    position: absolute;
}

.service-detail-content.service-popup-content .servicedet_outer .outer {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.service-detail-content.service-popup-content .servicedet_outer .outer .outer1.line {
    margin-bottom: 10px !important;
    display: block !important;
    width: 100%;
}

.service-detail-content.service-popup-content .servicedet_outer .outer .outer1.line .description {
    color: #073B4C;
    /* text-align: center; */
    font-size: 1.125rem !important;
    font-weight: 600;
    width: 100%;
}

.service-detail-content.service-popup-content .servicedet_outer .outer .outer5.service-duration {
    margin: 10px 0;
    display: flex;
    justify-content: center;
}

.service-detail-content.service-popup-content .servicedet_outer .outer .outer5.service-duration .duration{
    display: inline-block;
    border-radius: 15px;
    /* background: linear-gradient(45deg, rgba(224,152,208,1) 0%, rgba(180,76,154,1) 100%) !important; */
    /* box-shadow: 15px 15px 40px #dba8c4; */
    opacity: 1;
    padding: 8px;    
    /* width: 80%; */
    text-align: center;
}

.service-detail-content.service-popup-content .servicedet_outer .outer .outer5.service-duration .duration span{
    font-weight: 700 !important;
    font-size: 1.2rem;
    color: #073B4C;
}

.service-detail-content.service-popup-content .servicedet_outer .outer .outer3 {
    margin: 10px 0 !important;
    width: 100%;
    display: flex;
}

.service-detail-content.service-popup-content .servicedet_outer .outer .outer3 .duration {
    display: flex;
    justify-content: center;
    width: 100%;
}

.service-detail-content.service-popup-content .servicedet_outer .outer .outer3 .duration span {
    font-weight: 700 !important;
    color: #073B4C;
    font-size: 1.125rem;
}

.service-detail-content.service-popup-content .servicedet_outer .outer .outer3 .duration .data-label {
    display: flex;
    align-items: center;
}

.service-detail-content.service-popup-content .servicedet_outer .outer .outer3 .duration .data-value {
    /* min-width: 25%;
    text-align: center; */
    /* border-radius: 50px;
    background-color: #F1B51C;
    padding: 5px 12px;
    display: flex;
    align-items: center; */
    margin: 0 8px;
}

.service-detail-content.service-popup-content .servicedet_outer .outer .outer4 {
    margin: 0 0 10px !important;
    width: 100%;
    display: flex;
}

.service-detail-content.service-popup-content .servicedet_outer .outer .outer4.tax {
    width: 100%;
    display: flex;
    justify-content: center;
}

.service-detail-content.service-popup-content .servicedet_outer .outer .outer4 .prepayment {
    width: 100%;
    display: flex;
    justify-content: center;
}

.service-detail-content.service-popup-content .servicedet_outer .outer .outer4 .prepayment > span,
.service-detail-content.service-popup-content .servicedet_outer .outer .outer4.tax > span {
    font-weight: 700 !important;
    font-size: 1.125rem;
    color: #073B4C;
}

.service-detail-content.service-popup-content .servicedet_outer .outer .outer4 .prepayment > .data-label,
.service-detail-content.service-popup-content .servicedet_outer .outer .outer4.tax > .data-label {
    display: flex;
    align-items: center;
}

.service-detail-content.service-popup-content .servicedet_outer .outer .outer4 .prepayment > .data-value,
.service-detail-content.service-popup-content .servicedet_outer .outer .outer4.tax > .data-value {
    /* min-width: 25%;
    text-align: center; */
    /* border-radius: 50px;
    background-color: #F1B51C;
    padding: 5px 12px; */
    margin: 0 8px;
    /* display: flex;
    align-items: center; */
}

.service-detail-content.service-popup-content .servicedet_outer .outer .mgn-bt-5 {
    margin: 10px 0 !important;
    color: red;
    font-size: 1rem;
    font-weight: 700;
}

.service-detail-content.service-popup-content .servicedet_outer .outer .outer5.donation {
    margin: 0 0 10px !important;
}

.service-detail-content.service-popup-content .servicedet_outer .outer .outer5.donation .duration {
    width: 100%;
    display: flex;
    justify-content: center;
}

.service-detail-content.service-popup-content .servicedet_outer .outer .outer5.donation .duration span {
    font-weight: 700 !important;
    font-size: 1.125rem;
    color: #073B4C;
}

.service-detail-content.service-popup-content .servicedet_outer .outer .outer5.donation .duration > .data-label {
    display: flex;
    align-items: center;
}

.service-detail-content.service-popup-content .servicedet_outer .outer .outer5.donation .duration > .data-value {
    /* min-width: 25%;
    text-align: center; */
    /* border-radius: 50px;
    background-color: #F1B51C;
    padding: 5px 12px; */
    margin: 0 5px;
    /* display: flex;
    align-items: center; */
}
.wtsapvid-icon {
    width: 20px !important;
}

.mat-radio-button {
    margin-right: 10px !important;
}
.modal-header.service-detail-header {
    background: #522e5a 0% 0% no-repeat padding-box !important;
    padding: 5px 15px 5px 10px !important;
}