<section>
  <div class="card">
    <span class="pointer-cursor" (click)="goBack()"><i class="fa fa-angle-left"></i>&nbsp;Back</span>
  </div>
</section>
<div class="card">
  <div class="d-flex justify-content-between">
    <div class="d-flex">
      <div class="mr-2 d-flex align-items-center">
        <img width="45" height="45" src="./assets/images/cdl/profile.png">
      </div>
      <div class="d-flex align-items-center">
        <div>
          <span class="font-weight-bold welcome-text">
            <span>Athira K R</span>
          </span><br>
          <span class="sub-title"> &nbsp;+91 8943819702</span>
        </div>
      </div>
    </div>
    <div>
      <div>
        <span class="company-logo">


          <i class="fa fa-solid fa-comment-dots fa-lg" style="color: #3670e2;"></i></span>
        <!-- <span class="wtsapaud-icon"></span> -->
        <!-- <img class="company-logo" src="./assets/images/cdl/company_logo.png"> -->
      </div>
    </div>
  </div>
</div>
<div class="col-xs-12 col-sm-12 mgn-up-10 card">
  <div class="col-xs-12 col-sm-12 mgn-up-10 card newCard">
    <div class="showHideClassDesktop">
      <div class="flexClass1 ">

        <div class="dateCreate">
          <div class="mrNumber1">Date</div>
          <div class="dateClr"><i class="fas fa-calendar-day"></i>17/05/2023</div>

        </div>
        <div class="dateCreate">
          <div class="mrNumber1">MR ID</div>
          <div class="dateClr">MR -13</div>

        </div>
        <div class="dateCreate">
          <div class="mrNumber1">Doctor</div>
          <div class="dateClr">Athira K R</div>
        </div>
        <div class="dateCreate">
          <div class="mrNumber1">No of teeth</div>
          <div class="dateClr">03</div>
        </div>
        <div class="dateCreate">
          <div class="mrNumber1">Status</div>
          <div class="dateClr">Completed</div>

        </div>
      </div>
    </div>


  </div>
  <div class="row col-xs-12 col-sm-12 mgn-up-10">

    <div class="col-md-2 no-padding-small" *ngIf="!teeth_loading">
      <div class="card">
        <div class="d-flex justify-content-center mt-4">
          <div class="text-center mr-4">
            <div class="d-flex align-items-stretch">

            </div>
          </div>
          <div class="text-left">
            <h5 class="font-weight-bold">Teeths</h5>

          </div>
        </div><br>
        <ng-container class="d-flex align-items-stretch " style="margin: 20px;">
          <div class="d-flex align-items-stretch web" *ngFor="let teeth of teethDetails.teeth"
            (click)="onSelect(teeth,event)" [ngClass]="{'surface_select':teeth === selectedTeethDetails}">
            <div style="padding: 20px;">
              <img class="teeth" src="./assets/images/Union.png" height="20px" width="20px"> &nbsp;&nbsp; Teeth
              {{teeth?.toothId}}
            </div>
          </div>
          <!-- <div class="d-flex align-items-stretch display">
            <div style="padding: 20px;">
             <mat-select class="form-control widthWebKit">
               <mat-option  *ngFor = "let teeth of teethDetails.teeth" >
                 <div> <img class="teeth" src="./assets/images/Union.png" (click)="onSelect(teeth,event)" height="20px" width="20px"> &nbsp;&nbsp; Teeth {{teeth?.toothId}} </div>
               </mat-option>
             </mat-select>
            
            </div> 
           </div> -->
        </ng-container>
        <!-- <ng-container class="d-flex align-items-stretch display" style="margin: 20px;">
        
         
        </ng-container> -->

      </div>
    </div>
    <div class="col-md-8 no-padding-small">
      <div class="card">
        <div>
          <div>
            <div class="d-lg-flex justify-content-between">
              <div class="d-flex">

                <div class="ml-4">
                  <div>

                    <span class="dealer-name mt-4">Teeth {{selectedTeethDetails.toothId}}</span>
                  </div>
                  <div class="font-medium">
                    <span>Premolar , Adult Teeth</span>
                  </div>
                </div>
              </div>
              <i class="fa fa-edit" style="color: #3670e2;" (click)="toothEdit(selectedTeethDetails.toothId)"></i>

            </div>
            <br>
            <div class="font-medium">
              <span><b>Details</b></span>
            </div>
            <hr>
            <div *ngIf="!teeth_loading">
              <mat-tab-group class="notifilabel">
                <mat-tab class="notifilabel" label="Mesial" *ngIf="selectedTeethDetails.surface.mesial ">
                  <div class="row tab-pane active" id="tab1" role="tabpanel" aria-labelledby="tab1">
                    <div class="">

                      <div>
                        <div class="bggrey my-2">
                          <div>
                            <div class="d-flex">
                              <div class="form-title">Chief Complaint</div>
                            </div>
                            <mat-chip-listbox class="mat-wrap">
                              <mat-chip-row>
                                {{selectedTeethDetails.chiefIssue}}
                              </mat-chip-row>
                            </mat-chip-listbox>

                          </div>
                        </div>
                      </div>
                      <div>
                        <div class="bggrey my-2">
                          <div>
                            <div class="d-flex">
                              <div class="form-title">Observations</div>
                            </div>
                            <mat-chip-listbox class="mat-wrap">
                              <mat-chip-row>
                                {{selectedTeethDetails.surface.mesial.observations}}
                              </mat-chip-row>
                            </mat-chip-listbox>
                          </div>
                        </div>
                      </div>
                      <div>
                        <div class="bggrey my-2">
                          <div>
                            <div class="d-flex">
                              <div class="form-title">Diagnosis</div>
                            </div>
                            <mat-chip-listbox class="mat-wrap">
                              <mat-chip-row>
                                {{selectedTeethDetails.surface.mesial.diagnosis}}
                              </mat-chip-row>
                            </mat-chip-listbox>
                          </div>
                        </div>
                      </div>
                      <div>
                        <div class="bggrey my-2">
                          <div>
                            <div class="d-flex">
                              <div class="form-title">Notes </div>
                            </div>
                            <mat-chip-listbox class="mat-wrap">
                              <mat-chip-row>
                                {{selectedTeethDetails.surface.mesial.description}}
                              </mat-chip-row>
                            </mat-chip-listbox>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </mat-tab>
                <mat-tab class="notifilabel" label="Distal" *ngIf="selectedTeethDetails.surface.distal">
                  <div class="row tab-pane active" id="tab1" role="tabpanel" aria-labelledby="tab1">
                    <div class="">

                      <div>
                        <div class="bggrey my-2">
                          <div>
                            <div class="d-flex">
                              <div class="form-title">Chief Complaint</div>
                            </div>
                            <mat-chip-listbox>
                              <mat-chip-row>
                                {{selectedTeethDetails.chiefIssue}}
                              </mat-chip-row>
                            </mat-chip-listbox>
                          </div>
                        </div>
                      </div>
                      <div>
                        <div class="bggrey my-2">
                          <div>
                            <div class="d-flex">
                              <div class="form-title">Observations</div>
                            </div>
                            <mat-chip-listbox>
                              <mat-chip-row>
                                {{selectedTeethDetails.surface.distal.observations}}
                              </mat-chip-row>
                            </mat-chip-listbox>
                          </div>
                        </div>
                      </div>
                      <div>
                        <div class="bggrey my-2">
                          <div>
                            <div class="d-flex">
                              <div class="form-title">Diagnosis</div>
                            </div>
                            <mat-chip-listbox class="mat-wrap">
                              <mat-chip-row>
                                {{selectedTeethDetails.surface.distal.diagnosis}}
                              </mat-chip-row>
                            </mat-chip-listbox>
                          </div>
                        </div>
                      </div>
                      <div>
                        <div class="bggrey my-2">
                          <div>
                            <div class="d-flex">
                              <div class="form-title">Notes </div>
                            </div>
                            <mat-chip-listbox class="mat-wrap">
                              <mat-chip-row>
                                {{selectedTeethDetails.surface.distal.description}}
                              </mat-chip-row>
                            </mat-chip-listbox>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                  <br />
                </mat-tab>

                <mat-tab class="notifilabel" label="Buccal" *ngIf="selectedTeethDetails.surface.buccal">
                  <div class="row tab-pane active" id="tab1" role="tabpanel" aria-labelledby="tab1">
                    <div class="">

                      <div>
                        <div class="bggrey my-2">
                          <div>

                            <div class="d-flex">
                              <div class="form-title">Chief Complaint</div>
                            </div>
                            <mat-chip-listbox class="mat-wrap">
                              <mat-chip-row>
                                {{selectedTeethDetails.chiefIssue}}
                              </mat-chip-row>
                            </mat-chip-listbox>


                          </div>
                        </div>
                      </div>
                      <div>
                        <div class="bggrey my-2">
                          <div>
                            <div class="d-flex">
                              <div class="form-title">Observations</div>
                            </div>
                            <mat-chip-listbox class="mat-wrap">
                              <mat-chip-row>
                                {{selectedTeethDetails.surface.buccal.observations}}
                              </mat-chip-row>
                            </mat-chip-listbox>

                          </div>
                        </div>
                      </div>
                      <div>
                        <div class="bggrey my-2">
                          <div>
                            <div class="d-flex">
                              <div class="form-title">Diagnosis</div>
                            </div>
                            <mat-chip-listbox class="mat-wrap">
                              <mat-chip-row>
                                {{selectedTeethDetails.surface.buccal.diagnosis}}
                              </mat-chip-row>
                            </mat-chip-listbox>

                          </div>
                        </div>
                      </div>
                      <div>
                        <div class="bggrey my-2">
                          <div>
                            <div class="d-flex">
                              <div class="form-title">Notes </div>
                            </div>
                            <mat-chip-listbox class="mat-wrap">
                              <mat-chip-row>
                                {{selectedTeethDetails.surface.buccal.description}}
                              </mat-chip-row>
                            </mat-chip-listbox>

                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                  <br />
                </mat-tab>
                <!-- <mat-tab class="notifilabel"  label="Lingual"  *ngIf="selectedTeethDetails.surface.lingual">
                        <div class="row tab-pane active" id="tab1" role="tabpanel" aria-labelledby="tab1">
                          <div class="col-md-7">
                             
                              <div>
                                  <div class="bggrey my-2">
                                      <div>
                                        <div class="d-flex">
                                          <div class="form-title">Chief Complaint</div>
                                      </div>
                                      <mat-chip-listbox class="mat-wrap">
                                        <mat-chip-row>
                                          {{selectedTeethDetails.chiefComplaint}}
                                        </mat-chip-row>
                                        </mat-chip-listbox>
                                      
                                      </div>
                                  </div>
                              </div>
                              <div>
                                  <div class="bggrey my-2">
                                      <div>
                                          <div class="d-flex">
                                              <div class="form-title">Observations</div>
                                          </div>
                                          <mat-chip-listbox class="mat-wrap">
                                            <mat-chip-row>
                                              {{selectedTeethDetails.surface.lingual.observations}}
                                            </mat-chip-row>
                                            </mat-chip-listbox>
                                      </div>
                                  </div>
                              </div>
                              <div>
                                  <div class="bggrey my-2">
                                      <div>
                                          <div class="d-flex">
                                              <div class="form-title">Diagnosis</div>
                                          </div>
                                          <mat-chip-listbox class="mat-wrap">
                                            <mat-chip-row>
                                              {{selectedTeethDetails.surface.lingual.diagnosis}}
                                            </mat-chip-row>
                                            </mat-chip-listbox>
                                      </div>
                                  </div>
                              </div>
                              <div>
                                  <div class="bggrey my-2">
                                      <div>
                                          <div class="d-flex">
                                              <div class="form-title">Notes </div>
                                          </div>
                                          <mat-chip-listbox class="mat-wrap">
                                            <mat-chip-row>
                                              {{selectedTeethDetails.surface.lingual.description}}
                                            </mat-chip-row>
                                            </mat-chip-listbox>
                                      </div>
                                  </div>
                              </div>
                             
                          </div>
                      </div>
                     <br/>
                        </mat-tab> -->
                <mat-tab class="notifilabel" label="Lingual" *ngIf="selectedTeethDetails.surface.lingual">
                  <div class="row tab-pane active" id="tab1" role="tabpanel" aria-labelledby="tab1">
                    <div>

                      <div>
                        <div class="bggrey my-2">
                          <div>
                            <div class="d-flex">
                              <div class="form-title">Chief Complaint</div>
                            </div>
                            <mat-chip-listbox class="mat-wrap">
                              <mat-chip-row>
                                {{selectedTeethDetails.chiefIssue}}
                              </mat-chip-row>
                            </mat-chip-listbox>
                          </div>
                        </div>
                      </div>
                      <div>
                        <div class="bggrey my-2">
                          <div>
                            <div class="d-flex">
                              <div class="form-title">Observations</div>
                            </div>
                            <mat-chip-listbox class="mat-wrap">
                              <mat-chip-row>
                                {{selectedTeethDetails.surface.lingual.observations}}
                              </mat-chip-row>
                            </mat-chip-listbox>
                          </div>
                        </div>
                      </div>
                      <div>
                        <div class="bggrey my-2">
                          <div>
                            <div class="d-flex">
                              <div class="form-title">Diagnosis</div>
                            </div>
                            <mat-chip-listbox class="mat-wrap">
                              <mat-chip-row>
                                {{selectedTeethDetails.surface.lingual.diagnosis}}
                              </mat-chip-row>
                            </mat-chip-listbox>
                          </div>
                        </div>
                      </div>
                      <div>
                        <div class="bggrey my-2">
                          <div>
                            <div class="d-flex">
                              <div class="form-title">Notes </div>
                            </div>
                            <mat-chip-listbox class="mat-wrap">
                              <mat-chip-row>
                                {{selectedTeethDetails.surface.lingual.description}}
                              </mat-chip-row>
                            </mat-chip-listbox>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                  <br />
                </mat-tab>
                <mat-tab class="notifilabel" label="Incisal" *ngIf="selectedTeethDetails.surface.incisal">
                  <div class="row tab-pane active" id="tab1" role="tabpanel" aria-labelledby="tab1">
                    <div class="">

                      <div>
                        <div class="bggrey my-2">
                          <div>
                            <div class="d-flex">
                              <div class="form-title">Chief Complaint</div>
                            </div>
                            <mat-chip-listbox class="mat-wrap">
                              <mat-chip-row>
                                {{selectedTeethDetails.chiefIssue}}
                              </mat-chip-row>
                            </mat-chip-listbox>
                          </div>
                        </div>
                      </div>
                      <div>
                        <div class="bggrey my-2">
                          <div>
                            <div class="d-flex">
                              <div class="form-title">Observations</div>
                            </div>
                            <mat-chip-listbox class="mat-wrap">
                              <mat-chip-row>
                                {{selectedTeethDetails.surface.incisal.observations}}
                              </mat-chip-row>
                            </mat-chip-listbox>
                          </div>
                        </div>
                      </div>
                      <div>
                        <div class="bggrey my-2">
                          <div>
                            <div class="d-flex">
                              <div class="form-title">Diagnosis</div>
                            </div>
                            <mat-chip-listbox class="mat-wrap">
                              <mat-chip-row>
                                {{selectedTeethDetails.surface.incisal.diagnosis}}
                              </mat-chip-row>
                            </mat-chip-listbox>
                          </div>
                        </div>
                      </div>
                      <div>
                        <div class="bggrey my-2">
                          <div>
                            <div class="d-flex">
                              <div class="form-title">Notes </div>
                            </div>
                            <mat-chip-listbox class="mat-wrap">
                              <mat-chip-row>
                                {{selectedTeethDetails.surface.incisal.description}}
                              </mat-chip-row>
                            </mat-chip-listbox>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                  <br />
                </mat-tab>
                <mat-tab class="notifilabel" label="Occlusal" *ngIf="selectedTeethDetails.surface.occlusal">
                  <div class="row tab-pane active" id="tab1" role="tabpanel" aria-labelledby="tab1">
                    <div class="">

                      <div>
                        <div class="bggrey my-2">
                          <div>
                            <div class="d-flex">
                              <div class="form-title">Chief Complaint</div>
                            </div>
                            <mat-chip-listbox class="mat-wrap">
                              <mat-chip-row>
                                {{selectedTeethDetails.chiefIssue}}
                              </mat-chip-row>
                            </mat-chip-listbox>
                          </div>
                        </div>
                      </div>
                      <div>
                        <div class="bggrey my-2">
                          <div>
                            <div class="d-flex">
                              <div class="form-title">Observations</div>
                            </div>
                            <mat-chip-listbox class="mat-wrap">
                              <mat-chip-row>
                                {{selectedTeethDetails.surface.occlusal.observations}}
                              </mat-chip-row>
                            </mat-chip-listbox>
                          </div>
                        </div>
                      </div>
                      <div>
                        <div class="bggrey my-2">
                          <div>
                            <div class="d-flex">
                              <div class="form-title">Diagnosis</div>
                            </div>
                            <mat-chip-listbox class="mat-wrap">
                              <mat-chip-row>
                                {{selectedTeethDetails.surface.occlusal.diagnosis}}
                              </mat-chip-row>
                            </mat-chip-listbox>
                          </div>
                        </div>
                      </div>
                      <div>
                        <div class="bggrey my-2">
                          <div>
                            <div class="d-flex">
                              <div class="form-title">Notes </div>
                            </div>
                            <mat-chip-listbox class="mat-wrap">
                              <mat-chip-row>
                                {{selectedTeethDetails.surface.occlusal.description}}
                              </mat-chip-row>
                            </mat-chip-listbox>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                  <br />
                </mat-tab>
              </mat-tab-group>

            </div>

          </div>
        </div>
      </div>
      <br>

    </div>
    <div class="col-md-2 no-padding-small">
      <div class="col-md-2 card">
        <div>
          <div>
            <div class="d-lg-flex justify-content-between">
              <div class="d-flex">

                <div class="ml-4">

                  <div class="noteDes">
                    <div><b>Uploaded Files</b></div>

                    <div class="img-section clearfix d-flex" *ngIf="!teeth_loading">
                      <ul class="galul" *ngFor="let teeth of this.teethDetails.teeth ;let i = index ">
                        <li *ngFor="let file of teeth.attachments ;let i = index ">
                          <div class="galimg_outer">
                            <div class="gal_img pointer-cursor">

                              <a [href]="file.s3path" target="_blank">
                                <img [src]="getImagefromUrl(file.s3path,file)" width="50px" height="50px">
                              </a>
                            </div>

                          </div>
                        </li>
                        <li *ngIf="teeth.attachments.length === 0">
                          <div class="galimg_outer">
                            <div class="gal_img pointer-cursor">

                            No Data Found
                            </div>

                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <br />

          </div>
        </div>
      </div>
      <!-- <div class="col-md-2 card">
        <div>
          <div >
            <div class="d-lg-flex justify-content-between">
              <div class="d-flex">
                
                <div class="ml-4">
                  
                  <div class="font-medium">
                    <span>Files</span>
                  </div>
                </div>
              </div>
             
            </div>
            <br/>
            
          </div>
        </div>
      </div> -->
      <br>

    </div>
  </div>


</div>