<!--begin::Stats Widget 11-->
<div class="card card-custom card-stretch card-stretch-half gutter-b p-0">
    <!--begin::Body-->
    <div class="card-body p-0 adjust_ht bg_peacok">
        <div class="">
            <div class=" align-items-start flex-column">
                <div class="card-label p-3 ml-5 font-weight-bolder text-light">Next Appointment </div>
            </div>
        </div>
        <div class="d-flex align-items-center justify-content-between card-spacer flex-grow-1">
            <div class="d-flex align-items-center mb-10">
                <!--begin::Symbol-->
                <div class="symbol symbol-40 symbol-light-white mr-5">
                    <div class="symbol-label">
                        <img src="assets/media/004-boy-1.svg" class="h-75 align-self-end" alt="">
                    </div>
                </div>
                <!--end::Symbol-->

                <!--begin::Text-->
                <div class="d-flex flex-column font-weight-bold">
                    <a class="text-hover-primary mb-1 font-size-lg clr_white">{{nextAppt.service.name}}</a>
                    <span class="text-muted">{{nextAppt.appmtFor[0].firstName}} {{nextAppt.appmtFor[0].lastName}}</span>
                </div>
                <!--end::Text-->
            </div>
            <div class="d-flex flex-column text-right mtn_40">
                <span class="text-light font-weight-bolder font-size-sm clr_white">{{nextAppt.schedule.apptSchedule.timeSlots[0].sTime}} - {{nextAppt.schedule.apptSchedule.timeSlots[0].eTime}}</span>
                <a class="btn mt-2 font-weight-bolder btn-sm btn_action">
                    Actions
                </a>
            </div>
        </div>
    </div>
    <div class="card-body p-0 adjust_ht">
        <div class="">
            <div class=" align-items-start flex-column">
                <div class="card-label p-3 ml-5 font-weight-bolder text-dark-light">Next Token </div>
            </div>
        </div>
        <div class="d-flex align-items-center justify-content-between card-spacer flex-grow-1 ">
            <div class="d-flex align-items-center mb-10">
                <!--begin::Symbol-->
                <div class="symbol symbol-40 symbol-light-dark mr-5">
                    <div class="symbol-label">
                        <img src="assets/media/004-boy-1.svg" class="h-75 align-self-end" alt="">
                    </div>
                </div>
                <!--end::Symbol-->

                <!--begin::Text-->
                <div class="d-flex flex-column font-weight-bold">
                    <a class="text-dark text-hover-primary mb-1 font-size-lg">RCT Consultation</a>
                    <span class="text-muted">Gayathry Menon</span>
                </div>
                <!--end::Text-->
            </div>
            <div class="d-flex flex-column text-right mtn_40">
                <span class="text-dark-light font-weight-bolder font-size-sm">10.00 - 12.00</span>
                <a class="btn mt-2 font-weight-bolder btn-sm btn_action2">
                    Actions
                </a>
            </div>
        </div>
    </div>
    <!--end::Body-->
</div>
<!--end::Stats Widget 11-->
