<section class="content consumer-dash consumer-appthistory">
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading top-row ">                
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <app-header *ngIf="shared_functions.checkLogin()"></app-header>
                </div>
            </div>
            <div class="panel-body no-padding">
                <!-- <app-search-form (searchclick)="handlesearchClick()" [passedDomain]="domain" [passedkwdet]="kwdet">
                </app-search-form> -->
                <div class="row m0 p0">
                    <div class="c-outer m0">
                        <div class="c-body">
                            <div class="card title-gb">
                                <h5 class="mgn-up-10 mgn-lt-5">Check-ins/Tokens History <a class="pull-right back-btn" (click)="backtoProviderDetails()"><i class="fa fa-arrow-left"></i></a></h5>
                            </div>
                            <div class="card history one no-padding">
                                <app-consumer-checkin-history-list [params]="params" *ngIf="provider_id">
                                </app-consumer-checkin-history-list>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>