<div class="card card-custom gutter-b">
  <div class="card-body p-0">
    <div class="card-title col-12 col-sm-7 col-lg-7 p-0">
      <h3 class="service-name">
        <i *ngIf="waitlist_data.service.serviceType === 'virtualService'"></i>
        {{waitlist_data.service.name}}
        <!-- <i class="fa fa-question-circle-o" aria-hidden="true"></i> -->
      </h3>
      <div *ngIf="bookingType === 'checkin'" class="service-status" [ngClass]="{'custom-color-red': waitlist_data.waitlistStatus == 'failed' || waitlist_data.waitlistStatus == 'cancelled', 
                    'custom-color-green': waitlist_data.waitlistStatus == 'started' || waitlist_data.waitlistStatus == 'done', 
                    'custom-color-yellow':  waitlist_data.waitlistStatus == 'prepaymentPending' || waitlist_data.waitlistStatus == 'checkedIn' || waitlist_data.waitlistStatus == 'arrived' 
                   }">
        <i class="fa fa-circle" aria-hidden="true"></i>
        {{waitlist_data.waitlistStatus | capitalizeFirst}}
      </div>
      <div *ngIf="bookingType === 'appointment'" class="service-status" [ngClass]="{'custom-color-red': waitlist_data.apptStatus == 'failed' || waitlist_data.apptStatus == 'Cancelled' || waitlist_data.apptStatus == 'Rejected', 
                    'custom-color-green': waitlist_data.apptStatus == 'Started' || waitlist_data.apptStatus == 'Confirmed' || waitlist_data.apptStatus == 'Completed', 
                    'custom-color-yellow':  waitlist_data.apptStatus == 'prepaymentPending' || waitlist_data.apptStatus == 'Arrived' 
                   }">
        <i class="fa fa-circle" aria-hidden="true"></i>
        {{waitlist_data.apptStatus | capitalizeFirst}}
      </div>
    </div>
    <div class="card-toolbar col-12 col-sm-5 col-lg-5 p-0 disp-grid">
      <div *ngIf="showStart" class="action-buttons-container">
        <button type="button" class="start-service-btn btn mb-2 btn-block" (click)="changeWaitlistStatus('STARTED')">
          Start
        </button>
      </div>
      <div *ngIf="showTeleserviceStart" class="action-buttons-container">
        <button type="button" class="start-service-btn btn mb-2 btn-block" (click)="showCallingModes(waitlist_data)">
          <div class="action-box-sub">
            <span class="meet-icon"
              *ngIf="waitlist_data.service.serviceType === 'virtualService' && waitlist_data.service.virtualCallingModes[0].callingMode === 'GoogleMeet'"></span>
            <span class="zoom-icon"
              *ngIf="waitlist_data.service.serviceType === 'virtualService' && waitlist_data.service.virtualCallingModes[0].callingMode === 'Zoom'"></span>
            <span class="phon-icon"
              *ngIf="waitlist_data.service.serviceType === 'virtualService' && waitlist_data.service.virtualCallingModes[0].callingMode === 'Phone'"></span>
            <span class="wtsapaud-icon"
              *ngIf="waitlist_data.service.serviceType === 'virtualService' && waitlist_data.service.virtualCallingModes[0].callingMode === 'WhatsApp' && waitlist_data.service.virtualServiceType === 'audioService'"></span>
            <span class="wtsapvid-icon"
              *ngIf="waitlist_data.service.serviceType === 'virtualService' && waitlist_data.service.virtualCallingModes[0].callingMode === 'WhatsApp' && waitlist_data.service.virtualServiceType === 'videoService'"></span>
            <span class="icon-text" *ngIf="bookingType === 'checkin'">
              {{waitlist_data.waitlistStatus == 'started' ? 'Resume' : 'Start'}} Service
            </span>
            <span class="icon-text" *ngIf="bookingType !== 'checkin'">
              {{waitlist_data.apptStatus == 'Started' ? 'Resume' : 'Start'}} Service
            </span>
          </div>
        </button>
      </div>
      <div class="action-buttons-container">
        <a *ngIf="showCall" class="btn mb-2 action-button" (click)="callingWaitlist()">
          <ng-container *ngIf="waitlist_data.callingStatus">
            <i class="fa fa-stop"></i>Stop
          </ng-container>
          <ng-container *ngIf="!waitlist_data.callingStatus">
            <i class="fa fa-stop"></i>Alert
          </ng-container>
        </a>
        <a *ngIf="waitlist_data.waitlistStatus == 'checkedIn' || waitlist_data.waitlistStatus == 'arrived'"
          class="btn mb-2 action-button" (click)="witlistRescheduleActionClicked()">
          <i class="fa fa-repeat"></i>Reschedule
        </a>
        <a *ngIf="waitlist_data.apptStatus == 'Confirmed' || waitlist_data.apptStatus == 'Arrived'"
          class="btn mb-2 action-button" (click)="apptRescheduleActionClicked()">
          <i class="fa fa-repeat"></i>Reschedule
        </a>
        <a *ngIf="showCancel" class="btn mb-2 action-button" (click)="changeWaitlistStatus('CANCEL')">
          <i class="fa fa-times-circle-o"></i>Cancel
        </a>
        <a *ngIf="waitlist_data.waitlistStatus==='blocked'" class="btn mb-2 action-button" (click)="unBlockWaitlist()">
          <i class="fa fa-unlock-alt"></i>Unblock
        </a>
        <a *ngIf="waitlist_data.apptStatus==='blocked'" class="btn mb-2 action-button" (click)="unBlockAppt()">
          <i class="fa fa-unlock-alt"></i>Unblock
        </a>
        <a *ngIf="showArrived" class="btn mb-2 action-button" (click)="changeWaitlistStatus('REPORT')">
          <i class="fa fa-map-marker"></i>Mark as arrived
        </a>
        <a *ngIf="showComplete" class="btn mb-2 action-button" (click)="changeWaitlistStatus('DONE')">
          <i class="fa fa-check"></i>Complete
        </a>
        <a *ngIf="showUndo" class="btn mb-2 action-button" (click)="changeWaitlistStatus('CHECK_IN')">
          <i class="fa fa-exchange"></i>Status change
        </a>
        <a *ngIf="showSendDetails" class="btn mb-2 action-button" (click)="smsCheckin()">
          <i class="fa fa-share-square-o"></i>Share booking info
        </a>
        <a *ngIf="trackStatus" class="btn mb-2 action-button" (click)="locateCustomer()">
          <i class="fa fa-question-circle"></i>Where is my customer
        </a>
        <a *ngIf="timeType !== 3" class="btn mb-2 action-button" (click)="printCheckin()">
          <i class="fa fa-print" aria-hidden="true"></i>Print
        </a>
        <a *ngIf="showAttachment" class="btn mb-2 action-button" (click)="sendimages()">
          <i class="fa fa-paperclip" aria-hidden="true"></i>Send Attachments
        </a>
        <a *ngIf="showAssign" class="btn mb-2 action-button" data-toggle="modal" data-target="#exampleModalCenter">
          <i class="fa fa-paperclip" aria-hidden="true"></i>Assign
        </a>
      </div>
    </div>
  </div>
</div>
<div class="dashqr" *ngIf="showQR">
  <ngx-qrcode id="print-section" [elementType]="elementType" [value]="qr_value">
  </ngx-qrcode>
</div>
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body" *ngIf="waitlist_data">
        <div class="action-box pointer-cursor"
          *ngIf="active_user && active_user.userType == 1 && !waitlist_data.provider && (bookingType == 'checkin' && waitlist_data.queue.provider.id === 0 || bookingType == 'appointment' && waitlist_data.schedule.provider.id === 0) && isUserdisable"
          (click)="assignMyself()">
          <div class="action-box-sub">
            <span class="doctor-change-icon"></span>
            <div class="icon-text">Assign Myself</div>
          </div>
        </div>
        <div class="action-box pointer-cursor"
          *ngIf="bookingType == 'checkin' && waitlist_data.queue.provider.id === 0 || bookingType == 'appointment' && waitlist_data.schedule.provider.id === 0"
          (click)="changeWaitlistservice()">
          <div class="action-box-sub">
            <span class="doctor-change-icon"></span>
            <div *ngIf="waitlist_data.provider" class="icon-text">Change {{provider_label | capitalizeFirst}}</div>
            <div *ngIf="!waitlist_data.provider" class="icon-text">Assign {{provider_label | capitalizeFirst}}</div>
          </div>
        </div>
        <div class="action-box pointer-cursor"
          *ngIf="(bookingType == 'checkin' && waitlist_data.queue.provider.id === 0 || bookingType == 'appointment' && waitlist_data.schedule.provider.id === 0) && waitlist_data.provider"
          (click)="removeProvider()">
          <div class="action-box-sub">
            <span class="doctor-change-icon"></span>
            <div class="icon-text">Unassign {{provider_label | capitalizeFirst}}</div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal" #closebutton>Cancel</button>
      </div>
    </div>
  </div>
</div>