<!--begin::Header-->
<div class="card rounded-0 card-custom gutter-b wave wave-animate-fast wave-success pl-0 pr-0">
<div class="card-header border-0 py-1 pl-1 pr-1">
    <h3 class="card-title align-items-start flex-column pl-2">
      <span class="card-label font-weight-bolder text-dark"><i *ngIf="waitlist_data.service.serviceType === 'virtualService'"></i>
        {{waitlist_data.service.name |
        capitalizeFirst}}
      </span>
      <span *ngIf="bookingType === 'checkin'" class="text-success mt-3 font-weight-bold font-size-sm">
        <i class="fa fa-dot-circle-o" aria-hidden="true"></i>
        {{waitlist_data.waitlistStatus | capitalizeFirst}}</span>
        <span *ngIf="bookingType === 'appointment'" class="text-success mt-3 font-weight-bold font-size-sm">
          <i class="fa fa-dot-circle-o" aria-hidden="true"></i>
          {{waitlist_data.apptStatus | capitalizeFirst}}</span>
    </h3>
    <div class="card-toolbar pr-2 disp-grid">
      <div>
        <button type="button" class="start-video-btn btn btn-lg lh-1 btn-start font-size-xs mb-2 btn-square btn-block">
          Start Video Call
        </button>
      </div>
      <div>
        <a class="btn btn-light-danger font-weight-bold btn-square font-size-xs mr-3 lh-1">Stop</a>
        <a class="btn btn-light-primary mr-3 btn-square font-weight-bold  font-size-xs lh-1">Reschedule</a>
        <a class="btn btn-danger btn-square lh-1 font-size-xs">
          Cancel
        </a>
      </div>
    </div>
  </div>
</div>
  <!--end::Header-->
