.ownermsg
 {
   height:75%;
   width:75%;
   border-radius: 5px;
   background-color: #3c8dbc;
   color:white;


 }
 .receivermsg
 {
   height:75%;
   width:75%;
   border-radius: 5px;
   background-color: lightblue;
   color:black;


 }
 .fontStyle{
    font-size:12px !important;
    margin:15px  !important;
    font-style: italic !important;
    padding:10px;
    font-weight:bold;
 }
 div .time {
   width:75%;
   margin-bottom:2%;
 }
 /* .footer {

  padding: 3px;
  background-color: lightgrey;
  color: white;
  height:25%;
  position: -webkit-sticky;
  position: sticky;
} */
.footer {
  height: 50px;
  margin-top: -50px;
  text-align: center;
  position: -webkit-sticky;
  position: sticky;
}
.main{
  border:1px solid black;
}
.btn-primary:hover {
  border-color: blue !important;
}
.text-muted {
  color: #6c757dd9 !important;
  font-size:75% !important;
}
.imgRight{
  margin-right:10%;
  margin-top:2%;
  height:25%;
  width:25%;
}
.imgLeft{
  margin-left:10%;
  margin-top:2%;
  height:25%;
  width:25%;
}
div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: grey;
  padding: 50px;
  font-size: 20px;
}
