<section class="card">
  <div class="title-gb no-padding">
    <div class="dash-head">
      <div class="arrowLeftIcon"> <i class="fa fa-arrow-left iconClr" aria-hidden="true" (click)="goback()"></i></div>
      <div>{{headerName}}</div>
    </div>
  </div>
</section>
<section class="card col-md-12">
  <div class="col-md-12 btnClass">
    <!----mat tab change to mat select start-->
    <div class="statusSelectDiv d-none">
      <div class="fieldPadding">
        <mat-select class="form-control" placeholder="{{totalActivity}}" #userTaskStatus [(ngModel)]="statusFilter">
          <mat-option *ngFor="let stat of taskStatusList;let index=i" [value]="stat.id"
            (click)="handleTaskStatus(userTaskStatus.value)">
            <span style="display:flex;gap:10px">
              <div>
                <img width="25px" src={{stat.image}} />
              </div>
              <div>{{stat.name }}</div>
            </span>
          </mat-option>
        </mat-select>
      </div>
    </div>
    <!----mat tab change to mat select end-->
    <!-- <div class="webDisplay">
      <a class="navbar-item-color bold pointer-cursor pull-right mgn-lt-5 disp-none-small" (click)="createTask('Create')">
        <button mat-flat-button class="btn btn mb-2 action-button  btn-primary action-button-add confirmBtn">
          Create Activity <i class="fa fa-plus" aria-hidden="true"></i></button>
          
      </a>
    </div> -->
    <!-- <div class="mobileDisplay">
      <a [matTooltipClass]="tooltipcls"
          class="navbar-item-color bold pointer-cursor mgn-lt-5">
            <button type="button"   [matMenuTriggerFor]="appMenu" class="btn btn  action-button  btn-primary action-button-add confirmBtn"> 
              Actions <img height="25px" width="25px" src="/assets/images/crmImages/downarrow.png" /> 
            </button>
            <mat-menu #appMenu="matMenu">
                <button style="gap:5px !important" mat-menu-item  (click)="createTask('Create')" data-toggle="modal" data-target="#exampleModalCenter">
                  <span>
                    <img height="25px" width="25px" src="/assets/images/crmImages/craeteActivity.png"/>
                  </span>
                 <span style="font-weight: 500;">
                  Create Activity 
                 </span>
                </button>
            </mat-menu>
          </a>
    </div> -->
  </div>
  <div class="clearfix"></div>
  <div class="startMatTab">
    <div>
      <div class="content comn-cls dashboard audit" *ngIf="!api_loading">
        <div class="col-md-12 no-padding-small">
          <!-- <span (click)="showFilterSidebar()" class="btn btn-primary pull-right mb-2">
            <i class="icon-filter-one mt-2" [matTooltipClass]="tooltipcls" [matTooltip]="filtericonTooltip"
              style="cursor: pointer;"></i>
            <span>Filter</span>
          </span> &nbsp;&nbsp;&nbsp; -->
          <span style="margin-left: 20px;" (click)="createTask('Create')" class=" btn btn-primary pull-right mb-2">

            <span>Create Activity</span> <i class="fa fa-plus" aria-hidden="true"></i>
          </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <div class="row">
            <div class="card p0 w-dta">
              <div class="table-responsive dash-list">
                <table class="table" style="background-color: white;">
                  <thead>
                    <tr class="tble-filtr-tr heght">
                      <!-- <th></th> -->
                      <th class="head_color">Activity</th>
                      <th class="head_color">Employee</th>
                      <!-- <th class="head_color">Category</th>
                        <th class="head_color">Type</th> -->
                      <th class="head_color">Date</th>
                      <th class="head_color">Status</th>

                    </tr>
                  </thead>
                  <app-common-innerloading-spinner *ngIf="api_loading"></app-common-innerloading-spinner>
                  <tbody>
                    <tr>

                      <div>
                        <aside class="filterSidebar filter-sidebar" *ngIf="filter_sidebar">
                          <section id="filterContainer" class="sidebar sidebar-bottom checkfilter filter-container">
                            <div class="filterClosebtn filter-head" [class.pd-btm-30]="!filterapplied">
                              <span class="filter-head-title">Filters</span>
                              <i class="icon-filter-one-op ng-star-inserted pointer-cursor pull-right"
                                (click)="hideFilterSidebar()" [matTooltipClass]="tooltipcls"
                                [matTooltip]="'Close filter window'"></i>
                            </div>
                            <div [ngStyle]="{'height.px': filterapplied === true ? 95 : 44 }">&nbsp;</div>
                            <ul class="sidebar-menu accordion" id="accordion1">
                              <div class="card">
                                <div class="card-header">
                                  <h2 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                      data-target="#collapseStatus2" aria-expanded="false">
                                      <div>
                                        <div style="display: inline-block !important;">
                                          <i class="fa fa-circle-o-notch"></i>
                                        </div>
                                        <span>&nbsp;Status</span>
                                      </div>
                                      <i class="fa fa-angle-down"></i>
                                    </button>
                                  </h2>
                                </div>
                                <div id="collapseStatus2" class="collapse in" data-parent="#accordion2">
                                  <div class="card-body">
                                    <div class="filter-checkbox-input">
                                      <li class="filterli filterCheckbox filterCheckboxborder filtercheckboxSize">
                                      </li>
                                      <li class="filterli filterCheckbox  filterCheckboxborder filtercheckboxSize"
                                        *ngFor="let stat of taskStatusList;let index=i">
                                        <mat-checkbox [checked]="statuses.indexOf(stat) !== -1"
                                          [checked]="statuses.indexOf(stat.id) !== -1"
                                          (change)="setFilterDataCheckbox('status', stat.id)">
                                          {{stat.name}}</mat-checkbox>
                                      </li>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <!-- <div class="card">
                                  <div class="card-header">
                                    <h2 class="mb-0">
                                      <button class="btn btn-link" type="button" data-toggle="collapse"
                                        data-target="#collapseCategory3" aria-expanded="false">
                                        <div>
                                          <div style="display: inline-block !important;">
                                            <i class="fa fa-circle-o-notch"></i>
                                          </div>
                                          <span>&nbsp;Category</span>
                                        </div>
                                        <i class="fa fa-angle-down"></i>
                                      </button>
                                    </h2>
                                  </div>
                                  <div id="collapseCategory3" class="collapse in" data-parent="#accordion2">
                                    <div class="card-body">
                                      <div class="filter-checkbox-input">
                                        <li class="filterli filterCheckbox filterCheckboxborder filtercheckboxSize">
                                        </li>
                                        <li class="filterli filterCheckbox  filterCheckboxborder filtercheckboxSize"
                                          *ngFor="let cat of categoryListData[0];let index=i">
                                          <mat-checkbox [checked]="categories.indexOf(cat) !== -1"
                                            [checked]="categories.indexOf(cat.id) !== -1"
                                            (change)="setFilterDataCheckbox('category', cat.id)">
                                            {{cat.name}}</mat-checkbox>
                                        </li>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="card">
                                  <div class="card-header">
                                    <h2 class="mb-0">
                                      <button class="btn btn-link" type="button" data-toggle="collapse"
                                        data-target="#collapseType3" aria-expanded="false">
                                        <div>
                                          <div style="display: inline-block !important;">
                                            <i class="fa fa-circle-o-notch"></i>
                                          </div>
                                          <span>&nbsp;Type</span>
                                        </div>
                                        <i class="fa fa-angle-down"></i>
                                      </button>
                                    </h2>
                                  </div>
                                  <div id="collapseType3" class="collapse in" data-parent="#accordion2">
                                    <div class="card-body">
                                      <div class="filter-checkbox-input">
                                        <li class="filterli filterCheckbox filterCheckboxborder filtercheckboxSize">
                                        </li>
                                        <li class="filterli filterCheckbox  filterCheckboxborder filtercheckboxSize"
                                          *ngFor="let typ of taskTypeList[0];let index=i">
                                          <mat-checkbox [checked]="types.indexOf(typ) !== -1"
                                            [checked]="types.indexOf(typ.id) !== -1"
                                            (change)="setFilterDataCheckbox('type', typ.id)">
                                            {{typ.name}}</mat-checkbox>
                                        </li>
                                      </div>
                                    </div>
                                  </div>

                                </div> -->
                            </ul>
                          </section>
                          <div class="filter-footer mt-1 mx-auto text-center" *ngIf="filterapplied === true">
                            <button class="btn reset-btn" (click)="clearFilter()" style="margin-top: 5px;">
                              <i class="fa fa-undo"></i>&nbsp;Reset
                            </button>
                            <button class="btn apply-btn" (click)="applyFilter(statusFilter)">
                              <i class="fa fa-check"></i>&nbsp;Apply
                            </button>
                          </div>
                        </aside>
                      </div>

                    </tr>
                  </tbody>
                  <tbody>
                    <ng-container *ngIf="totalTaskActivityList.length === 0">
                      <tr>
                        <td class="nodatafound" colspan="5">{{no_tasks_cap}}</td>
                      </tr>
                    </ng-container>
                    <ng-container *ngIf="totalTaskActivityList.length>0">
                      <tr *ngFor="let task of totalTaskActivityList; let i=index" class="pointer-cursor"
                        (click)="viewTask(task.taskUid,task)">

                        <!-- <td>
                          <circle-progress class="circle__progress" [percent]="task.progress" [animation]="true"
                            [animationDuration]="300" [startFromZero]="true" [showInnerStroke]="true"
                            [titleFontSize]="'10'" [titleFontWeight]="'900'" [height]="'100'" [unitsFontSize]="'10'"
                            [unitsFontWeight]="'700'" [subtitle]="task.status.name" [subtitleFontSize]="'7'"
                            [lazy]="false"></circle-progress>
                        </td> -->

                        <td data-title="Task Details" class="td1">{{task.title}}</td>
                        <td data-title="Task Details" class="td2"><span
                            *ngIf="task.assignee">{{task.assignee.name}}</span></td>
                        <td data-title="Due Date" class="td6" *ngIf="task.dueDate">{{task.dueDate | date:newDateFormat}}
                        </td>
                        <td data-title="Status" class="td3" [ngStyle]="{'color': getColor(task.status.name)}">
                          {{task.status.name}}</td>
                        <!-- <td data-title="Category" class="td4">{{task.category.name}}</td>
                          <td data-title="Type" class="td5">{{task.type.name}}</td> -->

                        <td data-title="Due Date" class="td6" *ngIf="!task.dueDate">--</td>
                        <!-- <td  >
                            <div class="copy">
                              <span class="">
                                <button type="button" mat-icon-button class="action_bt" [matMenuTriggerFor]="appMenu"
                                  (click)="stopprop($event);">
                                  <mat-icon>more_vert</mat-icon>
                                </button>
                              </span>
                              <mat-menu #appMenu="matMenu">
                                <button mat-menu-item (click)="openTaskCompletion(task)" *ngIf="task.status.name !='Completed'">
                                  <img class="imageStatus" src="/assets/images/crmImages/mark.png" />Mark as Done
                                </button>
                                <button mat-menu-item (click)="openEditTask(task,'Update')"  *ngIf="task.status.name !='Completed'">
                                  <img class="imageStatus" src="/assets/images/crmImages/edit.png" />Edit
                                </button>
                                <button mat-menu-item (click)="openDialogStatusChange(task)" >
                                 <img class="imageStatus" src="/assets/images/crmImages/statusUpdate.png" />Status change
                                </button>

                              </mat-menu>
                            </div>
                          </td> -->
                      </tr>
                    </ng-container>
                  </tbody>
                </table>
                <div class="search_paging" *ngIf="pagination.totalCnt>10 ">
                  <app-pager [total_pages]="pagination.totalCnt" [pagesize]="pagination.perPage"
                    (pagerclick)="handle_pageclick($event,userTaskStatus.value)" [curpage]="pagination.startpageval">
                  </app-pager>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>