<section class="card">
  <div class="row d-flex">
    <div class="col-md-4 col-lg-4 col-sm-5 col-xs-5 headerDetails">
      <div class="dash-head">
        <div><i style="color:#1D3E77 !important" class="fa fa-arrow-left pointer-cursor" (click)="goback()"></i>
        </div>
        <div style="color: #1D3E77;" *ngIf="headerName">{{headerName}}</div>
      </div>
    </div>
    <div class="col-md-8 col-lg-8 col-sm-7 col-xs-7 headerDetailss">
      <div class="pull-right">
        <div class="navbar-custom-menu">
          <ul class="nav navbar-nav">
            <li class="dropdown messages-menu loc-lst queue-menu-1 pull-right locationName">
              <i class="icon-location dropdown-toggle mt-1" data-toggle="dropdown" style="color: #1D3E77"></i>
              <a href="#" class="dropdown-toggle navbar-item-color bold hideFilter mt-1" data-toggle="dropdown"
                *ngIf="selected_location && selected_location.place" style="color: #1D3E77">
                {{selected_location.place | capitalizeFirst}}
              </a>
              <ul class="dropdown-menu">
                <li>
                  <ul *ngIf="selected_location" class="menu">
                    <li *ngFor="let location of locations;let i = index"
                      [ngClass]="{'active': (location.place === selected_location.place)}">
                      <a class="pointer-cursor" (click)="onChangeLocationSelect(i)" style="color: #1D3E77">
                        <h4 *ngIf="location && location.place && location.place.length>='27'">
                          {{ location.place.substring(0,24) | capitalizeFirst }}...</h4>
                        <h4 *ngIf="location && location.place &&location.place.length<'27'">{{
                          location.place |
                          capitalizeFirst }}</h4>
                      </a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="card col-md-12 no-padding">
  <div class="row col-md-12 mb-2">
    <div class="col-md-6 col-xs-12 statusSelectDiv no-padding-small">
      <div class="mt-2">
        <p-dropdown styleClass="text-left" [style]="{'width':'100%'}" [options]="taskStatusList"
          (onChange)="handleTaskStatus(statusFilter.id)" [(ngModel)]="statusFilter" optionLabel="name" #userTaskStatus
          dropdownIcon="fa fa-caret-down">
          <ng-template let-status pTemplate="item">
            <div class="flex align-items-center gap-2">
              <img width="25px" src="{{status.image}}" alt="Stat Image" />&nbsp;
              <span>{{ status.name }}</span>
            </div>
          </ng-template>
        </p-dropdown>
      </div>
    </div>
    <div class="col-md-6 col-xs-12 no-padding">
      <div class="d-flex justify-content-end mt-2">
        <div class="mr-2">
          <button pButton pRipple type="button" class="p-button-primary" (click)="createTask('Create')"><span
              *ngIf="createActivityText" class="btn-heading">{{createActivityText}}</span></button>
        </div>
        <div *ngIf="filterConfig && filterConfig.length>0">
          <app-filter [position]="'right'" (filterEvent)="applyFilters($event)"
            [filterConfig]="filterConfig"></app-filter>
        </div>
      </div>
    </div>
  </div>
  <div class="startMatTab">
    <div>
      <div class="content comn-cls dashboard audit" *ngIf="!api_loading">
        <div class="col-md-12 no-padding-small">
          <div class="row">
            <div class="card p0 w-dta">
              <div class="table-responsive dash-list mt-2">
                <p-table [value]="totalTaskActivityList" #activityTable [showCurrentPageReport]="true" [lazy]="true"
                  (onLazyLoad)="loadTasks($event)" [rowsPerPageOptions]="[10,25,50]" [paginator]="true" [rows]="10"
                  [totalRecords]="taskCount" [loading]="api_loading"
                  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} Tasks">
                  <ng-template pTemplate="header">
                    <tr>
                      <th class="head_color" style="width: 25%!important;">Activity</th>
                      <th class="head_color" style="width: 25%!important;">Employee</th>
                      <th class="head_color" style="width: 25%!important;">Due Date</th>
                      <th class="head_color" style="width: 25%!important;">Status</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-task>
                    <app-common-innerloading-spinner *ngIf="api_loading"></app-common-innerloading-spinner>
                    <tr class="pointer-cursor" (click)="viewTask(task.taskUid,task)">
                      <td data-title="Task Details" style="width: 25%!important;">
                        <span *ngIf="task && task.title">{{task.title}}</span>
                      </td>
                      <td data-title="Task Details" style="width: 25%!important;">
                        <span *ngIf="task && task.assignee">{{task.assignee.name}}</span>
                      </td>
                      <td data-title="Due Date" class="td6">
                        <span *ngIf="task && task.dueDate">{{task.dueDate | date:newDateFormat}}</span>
                        <span *ngIf="task && !task.dueDate">--</span>
                      </td>
                      <td data-title="Status" style="width: 25%!important;">
                        <div [ngStyle]="{'color': getColor(task.status.name)}"
                          *ngIf="task && task.status && task.status.name">
                          {{task.status.name}}
                        </div>
                      </td>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="emptymessage">
                    <tr>
                      <td colspan="7">No Tasks found.</td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>