<div class="ksk-hd">
    <div class="ksk-ynw-logo">
        <img src="assets/images/logo.png" alt="">
    </div>
    <div class="ksk-company-logo">
        <div class="logo"><img [src] = "blogo" *ngIf="blogo!='' && blogo!=null"/></div>
        <span class="title" *ngIf="bname != '' && bname != undefined">{{bname | capitalizeFirst}}</span>
    </div>
    <!-- <div class="ksk-exit">
        <button class="exit">
            <span class="icon-logout"></span>Exit
        </button>
    </div> -->
</div>