 p.smalltext {
     font-size: 10px !important;
     word-break: break-all;
 }

 .card {
     padding: 0px !important;
     height: 200px !important;
     /* background-color: #1AA695; */
     box-shadow: 0px 3.98005px 3.98005px rgba(0, 0, 0, 0.05)!important;
 }
 body{
    color: white;
}
 h5 {
    color: white;
    font-weight: 600 !important;
    font-size: 20px;
    padding-top: 0.75rem!important;
 }
 button {
    border-radius: 8px!important;
    background: border-box;
    border-width: 1px!important;
    border-color: white!important;
    color: white!important;
 }
.fa {
    color: black!important;
    background-color: white;
    padding: 2.5px;
    border-radius: 3px;

}
p.smalltext {
color: white; 
}   

.profile-image {
    margin-top: 54px;
    height: 150px!important;
    border-radius: 15px;
}
.location {
    font-size: 12px!important;
    color: white!important;
}