<div class="card bg-basic-profile" [ngClass]="templateJson?.theme">
    <div>
        <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 no-padding">
            <div class="d-flex no-padding card-outer-cont align-items-center">
                <div class="no-padding card-inner-img-cont">
                    <div class="img-circle">
                        <img class="img-responsive" [src]="templateJson.logo" >
                    </div>
                </div>
                <div class="mgn-lt-10 pointer-cursor">
                    <h5 class="line-clamp-ln2 mgn-bt-5">{{businessProfile.businessName}}</h5>
                    <p class="line-clamp-ln3 no-margin card-service-desc" *ngIf="location">
                        {{location}}
                    </p>
                </div>                
            </div>
            <div class="col-xs-12 bline mgn-up-10"></div>
            <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 mgn-up-10 d-flex justify-content-between align-items-center no-padding">
                <span *ngIf="phoneNo" [matTooltip]="phoneNo.label | capitalizeFirst">
                    <i class="fa fa-phone"></i> {{businessProfile.countryCode}} {{phoneNo.instance}}
                </span>
                <span class="cut-text" *ngIf="emailId" [matTooltip]="emailId.label | capitalizeFirst">
                    <i class="fa fa-envelope-o"></i> {{emailId.instance}}
                </span>
                <span class="nexticon" (click)="goHome()">></span>
            </div>
        </div>
    </div>
</div>