<div class="lm-outer w-manager">
   
    <h3 id ="main-top">Waitlist Manager - Foodjoint</h3>
    
    <section>
        <p>Waitlist manager helps the provider to manage the queue and ensure seamless workflow from the point of the check-in, to the waitlist, to the actual appointment.</p>
    </section>
    
    <section>
        <h4>Accept Online Check-In</h4>

        <ul class="ul-normal">
            <li>This gives you full control over online consumer check-in.</li>
            <li>If this button is enabled, check-in is open for consumers and if this button is disabled, consumers can only view your profile at their dashboard, but cannot check-in online for any service offered.</li>
        </ul>

        <div class="box-indent">
            <h5>How is waiting time calculated ?</h5>

            <ul class="ul-normal">
                <li>Waiting time refers to the time consumer waits to avail his/her service offered at your enterprise.</li>
                <li>Automatic (Machine Learning):</li>
                <li>Fixed:</li>
                <li>Do not show waiting time for consumers:</li>
            </ul>
        </div>
    </section>
    
    <section>
        <h4>Accept Future Check-In</h4>

        <ul class="ul-normal">
            <li>This advanced feature helps you to accept check-ins online for a service in future.</li>
            <li>If you enable this button,at consumer dashboard a link appears beneath the check-in button, “Do you want to check-in for a different Date/Time?”, which permits the consumer to check-in for a different date or time.</li>
        </ul>
    </section>
    
    <section>
        <h4>Show Token</h4>

        <ul class="ul-normal">
            <li>When a consumer check-ins for a service,consumer gets a token number according to the order they check-in for a service only if you enable <strong>“Show Token”</strong> button.</li>
            <li>This token number is displayed in the consumer dashboard with which consumer can have a brief idea about his position in the waitlist for a particular queue.</li>
        </ul>
    </section>
    
    <section>
        <h4>Locations</h4>

        <ul class="ul-normal">
            <li>Your business’s location data comes under this section. Location details you have saved at the time of profile activation process is set by default as the base location of your business. </li>
            <li>If you want to set a particular location as base location, click the three dots menu in the right corner of the location name and click <strong>“Set as Base Location”</strong>.</li>
            <li>Also if you don't want to make any added location open to consumers you can click <strong>“Disable”</strong> button from the three dots menu in the right corner of the location name.</li>
            <li><strong>“Add new location”</strong> allows you to add a different location for your enterprise.
                <ol class="ol-normal">
                    <li>When you click this button a location window pops up where you can select the location in map.</li>
                    <li>Click <strong>“Yes I’ am Done”</strong> when you picked the location from map,then enter location name and the rest of the fields are filled automatically. If new location is not available in map all the fields should be entered manually.</li>
                    <li>Then comes the <strong>Business Schedule</strong> section where you add a new time schedule(working hours) and click save to add the new location details.</li>
                </ol>
            </li>
            <li>When you click the location name complete details of location, location amenities,working hours are displayed.</li>
            <li>Here you can edit the location and location amenities of your enterprise.</li>
            <li>Working hours(Time window) of selected location is displayed in the bottom of the page.</li>
            <li>You can edit the queue,add a new queue and also can “Enable/Disable” queue by clicking the three dots menu.</li>
        </ul>
    </section>
    
    <section>
        <h4>Services</h4>

        <p>In the Services section of our system,you will describe clearly all the services your business will provide to your consumers. Keep in mind highly detailed or technical descriptions are definitely not recommended, use simple terms so that your consumers can read easily.</p>

        <ul class="ul-normal">
            <li>When you click <strong>“Services”</strong>, a page appears where you can view already added services.</li>
            <li>You can <strong>“Enable/Disable”</strong> particular service by clicking the three dots menu.</li>
            <li><strong>“ADD NEW SERVICE”</strong> button enables you to add a new service to your profile. When you click this button a service window pop up where you can input the service details.
                <table class="table wm-tbl">
                    <tbody>
                        <tr>
                            <td class="td1">1</td>
                            <td class="td2">Service Name</td>
                            <td class="td3">Enter the name of the service.</td>
                        </tr>
                        <tr>
                            <td class="td1">2</td>
                            <td class="td2">Description </td>
                            <td class="td3">Give a description about the service you are offering to consumers.</td>
                        </tr>
                        <tr>
                            <td class="td1">3</td>
                            <td class="td2">Estimated Duration</td>
                            <td class="td3">Enter the minimum duration to complete this service.</td>
                        </tr>
                        <tr>
                            <td class="td1">4</td>
                            <td class="td2">Price</td>
                            <td class="td3">Input the price of this service.</td>
                        </tr>
                        <tr>
                            <td class="td1">5</td>
                            <td class="td2">Enable Prepayment</td>
                            <td class="td3">You can enable prepayment to accept payment in advance for the service offered. If you enable prepayment, consumers are asked to pay in advance before checking-in for this particular service.</td>
                        </tr>
                        <tr>
                            <td class="td1">6</td>
                            <td class="td2">Notification</td>
                            <td class="td3">When you enable the notification button,two options appears, Push Message and Email.Select any of these medium through which a message is passed to consumers informing  their service has been done.</td>
                        </tr>
                        <tr>
                            <td class="td1">7</td>
                            <td class="td2">Gallery</td>
                            <td class="td3">Multiple images of the service can be added here.</td>
                        </tr>
                    </tbody>
                </table>
            </li>
            <li>A newly added service will be displayed to consumers, only if the service has been added to any available queue.</li>
            <li>When you click the service name complete details of services are displayed and can edit only if the status of queue is set enabled.</li>
            <li>Click the pencil button to edit the service details.</li>
        </ul>  
    </section>
    
    <section>
        <h4>Queues</h4>

        <p>Queue simply means the working hours of your enterprise. Services are rendered to the consumer in the order they checked-in online, walk-in consumers and phone-in consumers who checked-in at your desk.</p>

        <ul class="ul-normal">
            <li><strong>“ADD NEW QUEUE”</strong>, button enables you to add a new queue. When you click this button a queue window pop up where you can input the queue details.

            <table class="table wm-tbl">
                <tbody>
                    <tr>
                        <td class="td1">1</td>
                        <td class="td2">Queue Name</td>
                        <td class="td3">Enter a name for the queue.</td>
                    </tr>
                    <tr>
                        <td class="td1">2</td>
                        <td class="td2">Location</td>
                        <td class="td3">Choose location from the drop down box.</td>
                    </tr>
                    <tr>
                        <td class="td1">3</td>
                        <td class="td2">Service</td>
                        <td class="td3">Tick the services offered in this queue from list of services displayed here.</td>
                    </tr>
                    <tr>
                        <td class="td1">4</td>
                        <td class="td2">Schedule</td>
                        <td class="td3">Tick the dates for the queue.</td>
                    </tr>
                    <tr>
                        <td class="td1">5</td>
                        <td class="td2">Start Time/End Time</td>
                        <td class="td3">Enter the start time and end time for the queue.</td>
                    </tr>
                    <tr>
                        <td class="td1">6</td>
                        <td class="td2">Maximum Capacity</td>
                        <td class="td3">Enter the maximum consumers you can serve in this particular queue.</td>
                    </tr>
                    <tr>
                        <td class="td1">7</td>
                        <td class="td2">Number of consumers served at a time</td>
                        <td class="td3">Enter the number of consumers served at a time.</td>
                    </tr>
                </tbody>
            </table>
            </li>
            <li>When you click the enabled queue brief outlook of this time schedule is displayed.</li>
            <li>You can edit the schedule of this particular queue when you click the pencil button in the right corner.</li>
            <li>When you click to edit the schedule Queue window appears where the input fields are filled with current data which can be edited.When you have all the right information click “Save” button.</li>
        </ul>
    </section>
    <span class="backTotop" (click)="handleScroll('main-top')"><span class="icon-angle-up"></span>Top</span>
</div>
