      <!-- <h1 class="mat-dialog-title">Learn More
        <button #queue mat-dialog-close class="modal_close" tabindex="-1">
            <i class="fa fa-window-close" aria-hidden="true"></i>
        </button>
      </h1>
      <mat-dialog-content> -->
       <div class="help-mainouter-index" *ngIf="destination=='help' && helpSub==''">
         <ul class='index-ul'>
            <li (click)="sethelpSub('bprofile')">Profile & Search</li>
            <li (click)="sethelpSub('waitlistmanager')">Waitlist Manager</li>
            <li (click)="sethelpSub('checkin')">Checkin</li>
            <li (click)="sethelpSub('customer')">Customer</li>
            <li (click)="sethelpSub('kiosk')">Kiosk</li>
            <li (click)="sethelpSub('license')">License</li>
            <li (click)="sethelpSub('adjustdelay')">Adjust Delay</li>
         </ul>
       </div>
       <div class="help-mainouter-index" *ngIf="destination=='help' && helpSub !=''" (click)="sethelpSub('')"><span class="back-to-index">Back to Index</span></div>


        <!-- Bprofile -->
        <app-bprofile-learnmore [target]="subKey" *ngIf="destination=='bprofile' || helpSub =='bprofile'"></app-bprofile-learnmore>
        
        <!-- Waitlist Manager -->
        <app-waitlistmanager-learnmore [target]="subKey" *ngIf="destination=='waitlistmanager' || helpSub =='waitlistmanager'"></app-waitlistmanager-learnmore>

        <!-- Checkins -->
        <app-checkin-learnmore [target]="'checkin'" *ngIf="destination=='checkin' || helpSub =='checkin'"></app-checkin-learnmore>

        <!-- Customer -->
        <app-customer-learnmore [target]="'customer'" *ngIf="destination=='customer' || helpSub =='customer'"></app-customer-learnmore>

        <!-- Kiosk -->
        <app-kiosk-learnmore [target]="'kiosk'" *ngIf="destination=='kiosk' || helpSub =='kiosk'"></app-kiosk-learnmore>

        <!-- License -->
        <app-license-learnmore [target]="'license'" *ngIf="destination=='license' || helpSub =='license'"></app-license-learnmore>
        <!-- License -->
        <app-adjustdelay-learnmore [target]="'adjustdelay'" *ngIf="destination=='adjustdelay' || helpSub =='adjustdelay'"></app-adjustdelay-learnmore>
      <!-- </mat-dialog-content>

      <mat-dialog-actions>
        <button  type="button" mat-dialog-close class="cs-btn bt2">Close</button>
      </mat-dialog-actions> -->