.green {
  color: #2000b0;
  line-height: 1.5rem;
  font-size: 15px;
  text-align: center !important;
  padding: 5px !important;
}

.datePicker {
  width: 70px !important;
  height: 80px !important;
}

.service-image {
  width: 40px;
  height: 40px;
  margin-right: 2px;
}

.service-image i.wtsapvid-icon,
.service-image i.zoom-icon {
  width: 100% !important;

}

.wtsapaud-icon {
  width: 40px !important;
  height: 40px !important
}

.jaldeevideo-icon {
  width: 50px !important;
  height: 50px !important;
}

.service-image i.phon-icon,
.service-image i.meet-icon {
  width: 60% !important;

}

.greenline {
  border: 2px solid #d6d6db;
  text-align: center;
  padding: 5px;
  cursor: pointer;
  box-shadow: 5px 10px #ddd8d8;


}

.green:hover {
  background-color: #000cb0;
  color: white;
}

.red {
  color: #FF5502;
  line-height: 1.5rem;
  font-size: 15px;
}

.skyblue {
  padding: 10px 10px 5px 10px;
  border-radius: 5px;
  background-color: #F1EFFB;
  color: #2653B7;
  margin-right: 5px;
  text-align: center !important;
}

.slotdiv {
  max-height: 100vh !important;
  overflow: auto;
  margin-top: 0px !important;

}

.today {
  color: #2653B7;
  margin-left: 10px;
}

.pad-lg-20 {
  padding: 20px;
}

@media (min-width:320px) and (max-width:760px) {
  * {
    font-size: 15px;
  }

  .greenline {
    padding: 2px !important;
  }

  .skyblue {
    padding: 10px 10px 5px 10px;
    border-radius: 5px;
    background-color: #F1EFFB;
    color: #2653B7;
    margin-right: 2px;
    text-align: center;
  }

  .padding-xs-small {
    padding: 0px !important;
    margin: 0px !important;
  }

  .pad-lg-20 {
    padding: 0px !important;
  }

  .green {
    line-height: 1.5rem;
    font-size: 10px !important;
  }

  .red {
    line-height: 1.5rem;
    font-size: 10px !important;
  }
}

.custom-login-form .mat-dialog-title {
  text-align: left !important;
  color: #ffffff !important;
  height: 50px !important;
  padding: 0px 20px !important;
  font-weight: 700 !important;
  background-color: #073B4C;
}

.custom-login-form .mat-dialog-title .title {
  height: 50px !important;
  line-height: 50px !important;
}

.card-inner-img-cont i {
  height: 80px !important;
  width: 80px !important;
  box-shadow: 0 4px 8px rgb(0 0 0 / 20%), 0 6px 20px rgb(0 0 0 / 19%);
  padding: 5px;
  border-radius: 50%;
}

.line-clamp-ln2 {
  display: -webkit-box !important;
  -webkit-line-clamp: 2 !important;
  -webkit-box-orient: vertical !important;
  overflow: hidden;
}

.card-inner-img-cont {
  height: 100%;
}

.card-outer-cont {
  height: 85px !important;
  display: table;
}

.service-head-cont,
.card-inner-img-cont {
  height: 100%;
  display: table;
}

.service-head-cont h5,
.card-inner-img-cont i {
  display: table-cell !important;
  vertical-align: middle !important;
}

.service-detail-content.service-popup-content {
  padding: 0px !important;
  margin: 0;
  overflow: auto;
  display: block;
}

.service-detail-content.service-popup-content .servicedet_outer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0px;
}

.service-detail-content.service-popup-content .servicedet_outer .img-outer .gal {
  margin: 0;
  padding: 0;
}

.service-detail-content.service-popup-content .servicedet_outer .img-outer .gal li:last-child {
  margin-bottom: 0;
}

.service-detail-content.service-popup-content .servicedet_outer .img-outer .gal li {
  list-style: none;
}

.service-detail-content.service-popup-content .servicedet_outer .img-outer .gal li .galbx {
  height: 80px !important;
  width: 80px !important;
  vertical-align: middle;
  border-radius: 50%;
  border: 5px solid #eee;
}

.service-detail-content.service-popup-content .servicedet_outer .img-outer .gal li .galbx img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.service-detail-content.service-popup-content .servicedet_outer .outer {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}

ul.service-ul li {
  flex: 1 0 25%;
  background: url('../../../../assets/images/Serviceimg5.jpg') no-repeat left;
  list-style: none;
  margin: 0;
  padding: 15px 15px 15px 60px;
}

.card-head-grey {
  color: #B6B1B1;
  font-size: 12px;
}