.dialog-pad {
    padding:30px
}
.dialog-pad .txt-center {
    text-align: center;
}
.dialog-pad .btn-save {
    background: #4690b7;
    color: white;
}
.dialog-pad .btn-cancel, .view-pad .btn-cancel {
    background: lightgrey;
}
.dialog-pad input {
    width: 100% !important;
    line-height: 2.3 !important;
    border: 2px solid #4690b7;
    border-radius: 8px;
}
.dialog-pad .mat-dialog-content {
    max-height: 10vh !important;
    overflow: hidden !important;
}
.dialog-pad .mat-dialog-title, .view-pad .mat-dialog-title {
    margin: 0 !important;
}
.dialog-pad .head-t {
    font-family: 'Google Sans',Roboto,Arial,sans-serif !important;
    font-size: 1.275rem;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.75rem;
}
.view-pad {
    padding: 30px;
}
table { 
    border-spacing: 10px;
    border-collapse: separate;
    font-size: 0.9rem;
}
.view-pad hr {
    border-top: 1px solid #afaaaa !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}
@media screen and (max-width: 400px) {
    .dialog-pad button {
            padding: 6px 12px !important;
            line-height: 1.2 !important;
    }
    .dialog-pad .mat-dialog-content {
        max-height: 6vh !important;
    }
}
.api_succes_msg {
    background: #00cc96;
    text-align: center;
    color: white;
    font-size: small;
    line-height: 2;
}