<ng-container *ngIf="showOTPContainer">
  <form [formGroup]="otp_form" novalidate (ngSubmit)="otp_form.valid && doOnOtpSubmit(otp_form.value)" class="otp_scr"
    (keyup)="doResetApiErrors()">
    <p class="col-form-label col-md-12 no-padding" for="otp"><b>{{otp_mobile}}</b></p>
    <div class="form-group ">
      <input type="text" (keypress)="removSpecChar($event)" class="form-control" placeholder="Enter OTP"
        [formControl]="otp_form.controls['phone_otp']" autocomplete="off" maxlength="5">
    </div>
    <div class="form-group mgn-bt-10">
      <button type="submit" class="form-control btn btn-primary" [disabled]="!otp_form.valid">VERIFY</button>
    </div>
    <div class="resendouter" *ngIf="resetCounterVal==0">
      <span class="link" (click)="resendOTPMobile()"  *ngIf="submitdata.userProfile.countryCode == '+91'" mat-button> {{resend_otp_to_cap}} <ng-container
          *ngIf="type=='change_email'">
          Email</ng-container></span>
    </div>
    <div class="counter-outer" style="font-size: 0.90em" *ngIf="resetCounterVal>0">
      {{resend_otp_opt_active_cap}} <span class="counter">{{resetCounterVal}}</span> {{seconds_cap}}
    </div>
  </form>
</ng-container>

<ng-container *ngIf="showOTPEmailContainer">
  <form [formGroup]="email_form" novalidate *ngIf="email_otp_req"
    (ngSubmit)="email_form.valid && resendViaEmail(email_form.value)" (keyup)="doResetApiErrors()">
    <div class="form-group pholder">
      <input type="email" [formControl]="email_form.controls['otp_email']" placeholder="Enter your email id"
        autocomplete="off" class="form-control" />
      <app-field-error-display [displayError]="fed_service.isFieldValid(email_form,'otp_email')"
        errorMsg="Please enter a valid email.">
      </app-field-error-display>
    </div>
    <div class="form-group disp-flex">
      <button type="button" class="form-control btn btn-primary can-btn mgn-rt-10"
        (click)="doCancelEmailOTP()">{{cancel_btn_cap}}</button>
      <button [disabled]="!email_form.valid" class="form-control btn btn-primary">{{resend_btn_cap}}</button>
    </div>
  </form>
</ng-container>