.btn-primary {
    background-color: #1e4079 !important;
    border-color: #1e4070 !important;
    color: #fff !important;
    font-weight: 100 !important;
    border-radius: 5px !important;
    padding: 10px 20px !important;
}