/* #### Start Sticky Footer ####*/
/*
html {
  height: 100%;
}
app-provider {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Avoid the IE 10-11 `min-height` bug. */
/*
}
.cont-outer {
  flex: 1 0 auto; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
  /*padding: 20px;*/
/*
}
/*
app-footer {
  flex-shrink: 0; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
 /* padding: 20px;*/
/*
}
/* #### Ends Sticky Footer ####*/

.cont-outer {
    padding-bottom: 40px;
}

.row {
    border: none !important;
    
    @include respond-to(ynw-575) {
        margin-left: 0;
        margin-right: 0;
    }
}

.row[_ngcontent-c20] {
    border: none;
}

// Tooltip Icon ####
.icon-question, [data-icon="F"] {
    cursor: pointer;
}

// YNW Custom Fonts ####
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Medium.eot');
    src: url('../fonts/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-Medium.woff2') format('woff2'),
        url('../fonts/Montserrat-Medium.woff') format('woff'),
        url('../fonts/Montserrat-Medium.ttf') format('truetype'),
        url('../fonts/Montserrat-Medium.svg#Montserrat-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Light.eot');
    src: url('../fonts/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-Light.woff2') format('woff2'),
        url('../fonts/Montserrat-Light.woff') format('woff'),
        url('../fonts/Montserrat-Light.ttf') format('truetype'),
        url('../fonts/Montserrat-Light.svg#Montserrat-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Bold.eot');
    src: url('../fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-Bold.woff2') format('woff2'),
        url('../fonts/Montserrat-Bold.woff') format('woff'),
        url('../fonts/Montserrat-Bold.ttf') format('truetype'),
        url('../fonts/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.eot');
    src: url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-Regular.woff2') format('woff2'),
        url('../fonts/Montserrat-Regular.woff') format('woff'),
        url('../fonts/Montserrat-Regular.ttf') format('truetype'),
        url('../fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

// Form Related #### 
.form-group, .form-check {
    font-size: .875rem;
    font-weight: 500;
    
    input[type="text"], input[type="email"], input[type="password"], input[type="file"], textarea, .form-control {
        @include border-radius(0);
        background: $cc-inputbg;
        border: 1px solid $cc-formborder;
        @include font-regular;
        font-size: 0.875rem;
        font-weight: 500;
        color: $linkblack;
        text-overflow: ellipsis;
        padding:10px;
        
        @include placeholder {
            color: darken($linkblue, 30%);
        }
        
        &:focus {
            @include box-shadow(0, 0, 1px, $linkblue, inset);
            border: 1px solid $linkblue;
            background: $white;
        }
        
        &:disabled {
            background: $cc-formbg;
            border: 1px solid transparent;
        }
    }
    input[type="text"], input[type="email"], input[type="password"] {
        height: 40px;
    }
    textarea {
        min-height: 100px;
    }
    
    .col-form-label {
        font-weight: 600;
        font-size: .875rem;
        display: block;
    }
    
    .error-msg {
        color: $cc-red !important;
        font-size: .875rem;
        font-weight: 500;
    }
}

// Form BG/Border 
.mat-form-field {
    @include font-medium;
    
    .mat-input-wrapper {
        .mat-input-flex {
            .mat-input-infix {
                .mat-input-element {
                    background: $cc-inputbg;
                    border: 1px solid $cc-formborder;
                    font-size: 0.875rem;
                    font-weight: 500;
                    color: $linkblack;
                    text-overflow: ellipsis;
                    padding:10px;
                    
                    @include placeholder {
                        color: darken($linkblue, 30%);
                    }
                    
                    &:disabled {
                        background: $cc-formbg;
                        border: 1px solid transparent;
                    }
                }
                
                .mat-select {
                    height: 40px;
                    padding: 10px;
                    @include font-regular;
                    background: $cc-inputbg;
                    border: 1px solid $cc-formborder;
                    
                    &.mat-select-disabled {
                        background: $cc-formbg;
                        border: 1px solid transparent;

                        .mat-select-value {
                            color: $cc-darkgray;
                        }
                    }
                }
            }
        }
    }
}

// Lightbox
#modal-gallery-wrapper {
    header {
        background: transparent;
    }
}

// Margin / Padding #### 
.m0 {
    margin: 0 !important;
}
.mb0 {margin-bottom: 0 !important;}
.mt0{margin-top: 0 !important;}
.mb20 {
    margin-bottom: 20px;
}
.mt20 {
    margin-top: 20px;
}
.mt30 {
    margin-top: 30px;
}
.mt30 {
    margin-bottom: 30px;
}
.pl0 {padding-left: 0;}
.pr0 {padding-right: 0;}
.p0 {padding: 0px !important;}
.pb0 {padding-bottom: 0 !important;}
.pt0 {padding-top: 0 !important;}

// Warning Box ####
.wbox {
    border:2px solid $cc-warning-border;
    box-shadow: none;
    display: flex;
    
    .bx-ico {
        padding: 20px;
        background-color: $cc-warning-bg;
        border-right: 2px solid $cc-warning-border;
        
        i {
            font-size: 1.5625rem;
            color: $cc-warning;
        }
    }
    .bx-copy {
        padding: 20px;
        font-size: .875rem;
        
        span {
            @include font-bold;
            @include anchor-border;
            color: $linkblue;
        }
    }
}

// payment Success/Error Message
.payment-message {
    padding: 50px;
    text-align: center;
    display: flex;
    width: 100%;
    height: 100vh;
    
    .card {
        display: flex;
        align-items: center;
        justify-content: center;
        
        .icon-tick, .icon-warning {
            font-size: 1.7rem;
            animation: payment 1s forwards 500ms ease-in-out;
            transform: translateY(-5px);
            opacity: 0;
        }
        
        .message {
            font-size: 1.2rem;
            font-weight: 500;
        }

        .cs-btn {
            &.gohome {
                margin: 0 auto;
                margin-top: 30px;
                display: flex;
            }
        }
        
        &.success {
            .message, .icon-tick {
                color: $green;
            }
        }
        &.failed {
            .message, .icon-warning {
                color: $cc-red;
            }
        }
    }
}

// MENU Style Popup ####
.mat-menu-panel {
    @include box-shadow(0, 0, 30px, rgba(0,0,0,.1));
    
    .mat-menu-content {
        padding: 0;
        
        .mat-menu-item {
            display: flex;
            font-size: .875rem;
            font-weight: 500 !important;
            height: 40px;
            line-height: 40px;
            align-items: center;
            @include font-regular;
            color: rgba(0,0,0,.7);
            @include transition(all 300ms);
            
            @include respond-to(ynw-767) {
                color: rgba(0,0,0,1);
                
                i {
                    color: rgba(0,0,0,1);
                }
            }
            
            i {
                margin-right: 15px;
                font-size: 1rem;
                display: flex;
                color: rgba(0,0,0,.6);
            }
            
            &:focus {
                outline: none;
            }
            &:hover {
                color: rgba(0,0,0,1);
                
                i {
                    color: rgba(0,0,0,1); 
                }
            }
        }
    }
}

// Card Style ####
.card {
    padding: 20px;
    @include box-shadow(0, 0, 10px, rgba(0,0,0,.05) !important);
    @include border-radius(5px);
    border:none !important;
    width: 100%;
    
    &.w-dta {
        
    .mat-accordion {
            @include border-radius(5px);

            .mat-expansion-panel {
                box-shadow: none;
                @include border-radius(5px);

                .mat-expansion-panel-header {
                    background: transparent;
                    @include font-medium;
                    padding: 0 20px;
                    font-size: 1.25rem;
                    min-height: 60px;
                    
                    /*.mat-expansion-indicator {
                        width: 14px;
                        height: 14px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        
                        &:after {
                            border-width: 0 1.5px 1.5px 0;
                        }
                    }*/
                    
                    .mat-expansion-indicator {
                        @include transform(rotate(0deg) !important);
                        position: absolute;
                        width: 20px;
                        height: 20px;
                        right: 15px;
                        display: flex;
                        align-items: center;
                        font-weight: 700;
                        font-size: .625rem;

                        &:after {
                            color: $linkblack;
                            border: none;
                            content: "\72";
                            position: absolute;
                            @include font-custom;
                            @include transform(rotate(0deg));
                        }
                    }

                    &.mat-expanded {
                        .mat-expansion-indicator {
                            &:after {
                                content: "\66";
                                color: $linkblack;
                            }
                        }
                    }
                }
                
                .mat-expansion-panel-content {
                    .mat-expansion-panel-body {
                        padding-left: 0px;
                        padding-right: 0px;
                        padding-bottom: 20px;
                        @include font-regular;
                        
                        .no-dta {
                            padding-left: 20px;
                            padding-right: 20px;
                            p {
                                font-size: 1rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

// More Options Dropdown ####
.more-opt {
    position: absolute;
    width: 100%;
    font-size: .875rem;
    z-index: 200;
    top: 0px;
    visibility: hidden;
    perspective: 1300px;
    border-top: 3px solid $linkblue;

    .closebtn {
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 201;
    }

    .mo-content {
        background: $white;
        padding: 20px;
        opacity: 0;
        @include transform(rotateX(-60deg));
        @include transform-origin(50% 0);
        @include transform-style(preserve-3d);
        @include transition(all 0.3s);
        @include box-shadow(0, 20px, 30px, rgba(0,0,0,.1) !important);
        
        .mat-dialog-title {
            @include font-medium;
            font-size: 1.125rem;
            margin-bottom: 20px;
            font-weight: 700;
            line-height: 1rem;
        }
        
        .mat-dialog-content {
            overflow: inherit;
            @include clearfix();
            
            .more-box {
                float: left;
                width: 25%;
                
                @include respond-to(ynw-767){
                    width: 33.33%;
                }
                @include respond-to(ynw-575){
                    width: 50%;
                }
                @include respond-to(ynw-400){
                    width: 100%;
                    margin-bottom: 15px
                }
                
                .refine_subheader {
                    font-weight: 600;
                    margin-bottom: 10px;
                }
                
                .refine_fieldlist {
                    app-rating-star {
                        .rating-outer {
                            display: flex;
                            align-items: center;

                            .ynwstar-rating {
                                float: none;
                                width: 135px;

                                label {
                                    margin-bottom: 0;
                                    cursor: pointer;
                                    
                                    &:before {
                                        font-size: 1rem;
                                    }
                                }
                            }
                            .moreopt-clear {
                                margin-left: 15px;
                                cursor: pointer;
                                position: relative;
                                width: 20px;
                                height: 20px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                font-size: .65rem;
                                background: lighten($cc-red, 20%);
                                color: $cc-red;
                                @include border-radius(50px);

                                &:before {
                                    @include font-custom;
                                    content: "";
                                    position: absolute;
                                    content: "\69";
                                }
                            }
                        }
                    }
                }
                
                &:last-child {
                    margin: 0;
                }
                
                .mat-slide-toggle-content {
                    @include font-medium;
                    font-size: .875rem;
                }
            }
        }
        
        .mat-dialog-actions {
            margin-top: 20px;
            display: block;
            margin-bottom: 0;
        }

    }

    &.show {
        visibility: visible;

        .mo-content {
            opacity: 1;
            @include transform(rotateX(0deg));
        }
    }
}

// information notification ####
.info-lst {
    margin: 0;
    padding: 0 0 0 34px;
    background: url(../images/icon-bulb.svg) no-repeat scroll 0 0/24px 24px;

    li {
        list-style: none;
        margin-bottom: .25rem;
        font-size: .75rem;
        @include font-script;
        color: #000;

        a {text-decoration: underline; &:hover{text-decoration: none; color: $linkblue;}}

        &:last-child {
            margin-bottom: 0;
        }
    }
}

// Snackbar ####
.mat-snack-bar-container {
    color: $white;
    background: $linkblue;
    padding: 15px 24px;
    position: relative;
    z-index: 1010;
    
    .mat-simple-snackbar {
        @include font-medium;
    }
    
    &:before {
        position: absolute;
        width: 8000px;
        margin-left: -4000px;
        content: "";
        left: 0;
        top: 0;
        height: 100%;
        z-index: -1;
    }
    
    &.snackbarnormal {
        &:before {
            background: $linkblue;
        }
    }
    
    &.snackbarerror {
        &:before {
            background: $cc-red;
        } 
    }
}

// Popup menu ####
.pop-mnu {
    display: none;
}

// Table styles ####
.tbl-list {
    margin: 0;
    padding: 0;
    width: 100%;
    min-width: 600px;
    
    li {
        list-style: none;
        
        .otr {
            display: flex;
            position: relative;
            border-bottom: 1px solid $cc-body;
            @include transition(all 300ms);
            
            .cth {
                padding: 10px;
                vertical-align: middle;
            }
            .ctd {
                padding: 10px;
                flex-grow: 1;
            }
        }
        
        &.tth {
            .otr {
                border: none;
                
            }
            
            &:hover {
                .otr {
                    background: transparent;
                }
            }
        }
        &:last-child {
            .otr {
                border-bottom: none;
            }
        }
        
        &:hover {
            .otr {
                background: $cc-body;
            }
        }
    }
}

// #### Common Styles to apply everywhere  #### //

.mat-checkbox, .mat-select, .mat-form-field {
    @include font-medium;
}

// Ripple effect
.ripple {
    position: relative;
    overflow: hidden;
    
    &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 5px;
        height: 5px;
        background: rgba(0, 0, 0, .03);
        opacity: 0;
        @include border-radius(200px);
        transform: scale(1, 1) translate(-50%);
        transform-origin: 50% 50%;
    }
}
.ripple:focus:not(:active)::after {
    animation: ripple 1s ease-out;
}