.consumer {
    padding-top: 15px;

    .tp-1 {
        width: 100%;
        display: flex;
        
        .tp-l {
            margin-right: 20px;
            
            @include respond-to(ynw-768-991) {
                position: absolute;
            }
            
            &.lgo {
                padding-top: 40px;
                
                @include respond-to(ynw-768-991) {
                    padding-top: 0;
                }
            }
        }
        
        .tp-r {
            flex-grow: 1;
            
            .tc1 {
                margin-top: 0;
                margin-bottom: 20px;
                
                @include respond-to(ynw-768-991) {
                    height: 70px;
                }

                .isprovidertop {
                    margin-top: 5px;
                }
            }

            .tp-srch {
                width: 100%;
                position: relative;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                @include respond-to(ynw-767) {
                    flex-direction: column;
                    align-items: flex-start;
                }
                @include respond-to(ynw-768-991) {
                    flex-direction: column;
                    align-items: flex-start;
                }

                .sa-lc,
                .sa-dm,
                .sa-src {
                    background-color: $cc-formbg;
                    height: 50px;

                    @include respond-to(ynw-767) {
                        height: $input-h;
                    }
                    @include respond-to(ynw-768-991) {
                        height: $input-h;
                    }
                }

                .flex-shrink-0 {
                    flex-shrink: 0;
                    -ms-flex-negative: 0;
                }
                .flex-shrink-1 {
                    -ms-flex-negative: 1;
                    flex-shrink: 1;
                }
                .ml5 {
                    margin-left: 5px;

                    @include respond-to(ynw-767) {
                        margin-left: 0;
                    }
                    @include respond-to(ynw-768-991) {
                        margin-left: 0;
                    }
                }
                .mr5 {
                    margin-right: 5px;
                }

                .sa-lc {
                    width: 250px;
                    cursor: pointer;
                    position: relative;

                    @include respond-to(ynw-767) {
                        width: 100%;
                        margin-bottom: 5px;
                    }
                    @include respond-to(ynw-768-991) {
                        width: 100%;
                        margin-bottom: 5px;
                    }

                    .search_location_class {
                        border: none;
                        background: transparent;
                        padding: 0px;
                        @include border-radius(0px);
                        position: relative;
                        z-index: 2;
                        font-size: 1.125em;
                        font-weight: 500;
                        width: 100%;

                        .mat-form-field-wrapper {
                            padding: 0;
                            height: 90px;

                            @include respond-to(ynw-767) {
                                height: $input-h;
                            }
                            @include respond-to(ynw-768-991) {
                                height: $input-h;
                            }

                            .mat-input-infix {
                                padding: 0;
                                border-top: none;

                                .mat-input-element {
                                    padding: 15px;
                                    vertical-align: top;
                                    height: 90px;
                                    font-size: .875rem;
                                    padding-left: 40px;
                                    text-overflow: ellipsis;
                                    @include font-regular;
                                    font-weight: 500;
                                    color: $cc-black;

                                    @include respond-to(ynw-767) {
                                        height: $input-h;
                                        padding: 11px 11px 11px 40px;
                                    }
                                    @include respond-to(ynw-768-991) {
                                        height: $input-h;
                                        padding: 11px 11px 11px 40px;
                                    }
                                }

                                .mat-form-field-label {
                                    display: none;
                                }
                            }

                        }

                        .mat-form-field-underline {
                            display: none;
                        }

                        &:focus {
                            outline: none;
                            border: none;
                        }
                    }

                    &:before {
                        content: "\74";
                        /*background: url(../images/icon-location.svg);*/
                        @include font-custom;
                        width: 14px;
                        height: 18px;
                        position: absolute;
                        left: 15px;
                        top: 50%;
                        margin-top: -12px;
                    }
                }

                .sa-dm {
                    width: 200px;
                    cursor: pointer;

                    @include respond-to(ynw-767) {
                        width: 100%;
                        margin-bottom: 5px;
                    }
                    @include respond-to(ynw-768-991) {
                        width: 100%;
                        margin-bottom: 5px;
                    }

                    .mat-form-field {
                        display: block;

                        .mat-input-wrapper {
                            padding-bottom: 0;

                            .mat-input-infix {
                                padding: 0;
                                border-top: none;

                                .mat-select {
                                    box-shadow: none !important;
                                    border: none !important;
                                    height: 90px;
                                    background: none;
                                    border-radius: 0px;
                                    display: flex;
                                    align-items: center;
                                    @include font-regular;
                                    font-weight: 500;
                                    font-size: .875rem;
                                    color: $cc-black;
                                    padding: 15px;

                                    @include respond-to(ynw-767) {
                                        height: $input-h;
                                    }
                                    @include respond-to(ynw-768-991) {
                                        height: $input-h;
                                    }

                                    .mat-select-arrow {
                                        color: $cc-black;
                                        border: none;
                                        position: relative;
                                        width: 10px;
                                        height: 10px;
                                        font-size: .65rem;
                                        font-weight: 700;
                                        display: flex;
                                        align-items: center;
                                        margin: 0;

                                        &:after {
                                            @include font-custom;
                                            content: "\72";
                                            position: absolute;
                                            right: 0;
                                        }
                                    }
                                }

                            }

                            .mat-form-field-underline {
                                display: none;
                            }
                        }
                    }
                }

                .sa-src {
                    width: 100%;
                    @include font-regular;

                    .search_keyword_class {
                        padding: 0px;
                        background: transparent;
                        border-radius: 0;
                        border: none;
                        width: 100%;

                        .mat-input-infix {
                            padding: 0;
                            border-top: none;

                            .mat-input-element {
                                height: 90px;
                                padding: 15px;
                                @include font-regular;
                                font-weight: 600;
                                font-size: 0.875rem;
                                color: $cc-black;

                                @include respond-to(ynw-767) {
                                    height: $input-h;
                                }
                                @include respond-to(ynw-768-991) {
                                    height: $input-h;
                                }

                            }

                            .mat-form-field-label-wrapper {
                                display: block;

                                .mat-form-field-label {
                                    padding-left: 15px;
                                    padding-top: 30px;
                                    @include font-regular;
                                    font-weight: 500;

                                    @include respond-to(ynw-767) {
                                        padding-top: 10px;
                                        padding-left: 20px;
                                    }
                                    @include respond-to(ynw-768-991) {
                                        padding-top: 10px;
                                        padding-left: 20px;
                                    }
                                }
                            }
                        }

                        .mat-form-field-underline {
                            display: none;
                        }

                        &.mat-focused {
                            .mat-form-field-label-wrapper {
                                .mat-form-field-label {
                                    color: $cc-darkgray;

                                    @include respond-to(ynw-767) {
                                        padding-top: 20px;
                                    }
                                    @include respond-to(ynw-768-991) {
                                        padding-top: 20px;
                                    }

                                }
                            }
                        }

                    }
                }

                .plr0i {
                    @include respond-to(ynw-767) {
                        width: 100%;
                    }
                    @include respond-to(ynw-768-991) {
                        width: 100%;
                    }

                    #search_button {
                        background: $cc-red;
                        color: #fff;
                        width: 100px;
                        line-height: 18px;
                        font-weight: 400;
                        text-align: center;
                        border: none;
                        @include border-bottom-radius(0);
                        position: relative;
                        height: 50px;
                        cursor: pointer;

                        @include respond-to(ynw-767) {
                            height: $input-h;
                            width: 100%;
                            margin-bottom: 10px;
                        }
                        @include respond-to(ynw-768-991) {
                            height: $input-h;
                            width: 100%;
                            margin-bottom: 10px;
                        }

                        .icon-search {
                            color: $white;
                            font-size: 1.5rem;

                            @include respond-to(ynw-767) {
                                font-size: 1.5rem;
                            }
                            @include respond-to(ynw-768-991) {
                                font-size: 1.5rem;
                            }

                            &:before {
                                position: absolute;
                                width: 100%;
                                height: 100%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                top: 0;
                                left: 0;
                            }
                        }
                    }

                    .cs-btn {
                        &:before {
                            background: lighten($cc-red, 10%);
                        }
                    }

                }

                .sa-mo {
                    line-height: 1em;

                    @include respond-to(ynw-767) {
                        width: 100%;
                    }
                    @include respond-to(ynw-768-991) {
                        width: 100%;
                    }

                    .icon-filter {
                        font-size: 0.875em;
                        color: $linkblack;
                        font-weight: 500;
                        position: relative;
                        display: block;
                        width: 35px;
                        cursor: pointer;

                        @include respond-to(ynw-767) {
                            width: 100px;
                            margin: 0 auto;
                        }
                        @include respond-to(ynw-768-991) {
                            width: 100px;
                            margin: 10px auto 0 auto;
                        }
                        @include respond-to(ynw-992-1199) {
                            width: 60;
                        }

                        &:before {
                            position: absolute;
                            left: 8px;
                            top: -10px;
                            font-size: 1.675rem;
                            
                            @include respond-to(ynw-768-991) {
                                left: 0;
                            }
                        }
                    }
                }

            }
        }
    }

}