.srch {
    background: $white;
    
    .sa {
        width: 100%;
        padding-top: 110px;
        padding-bottom: 70px;
        @include font-medium;
        
        @include respond-to(ynw-767) {
            padding-top: 30px;
            padding-bottom: 30px;
        }
        @include respond-to(ynw-575) {
            padding-top: 10px;
        }
        @include respond-to(ynw-768-991) {
            padding-top: 60px;
        }
        
        .moreOptionsOverlay {z-index: 199;}

        h1 {
            font-size: 3.125em;
            text-align: center;
            margin-bottom: 30px;

            @include respond-to(ynw-767) {
                font-size: 2.5rem;    
            }
            @include respond-to(ynw-575) {
                font-size: 1.875rem;
                margin-bottom: 20px;
                padding-top: 10px;
            }
        }
        .sa-fld {
            width: 100%;
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            
            @include respond-to(ynw-767) {
                flex-direction: column;
                align-items: flex-start;
            }
            @include respond-to(ynw-768-991) {
                flex-direction: column;
                align-items: flex-start;
            }

            .sa-lc, .sa-dm, .sa-src {
                background-color: $cc-formbg;
                height: 90px;
                
                @include respond-to(ynw-767) {
                    height: $input-h;
                }
                @include respond-to(ynw-768-991) {
                    height: $input-h;
                }
            }

            .flex-shrink-0 {flex-shrink: 0; -ms-flex-negative: 0;}
            .flex-shrink-1 {-ms-flex-negative: 1; flex-shrink: 1;}
            .ml5 {
                margin-left: 5px;
                
                @include respond-to(ynw-767) {
                    margin-left: 0;
                }
                @include respond-to(ynw-768-991) {
                    margin-left: 0;
                }
            }
            .mr5 {margin-right: 5px;}



            .sa-lc {
                width: 300px;
                cursor: pointer;
                position: relative;
                
                @include respond-to(ynw-767) {
                    width: 100%;
                    margin-bottom: 5px;
                }
                @include respond-to(ynw-768-991) {
                    width: 100%;
                    margin-bottom: 5px;
                }

                .search_location_class {
                    border: none;
                    background: transparent;
                    padding: 0px;
                    @include border-radius(0px);
                    position: relative;
                    z-index: 2;
                    font-size: 1.125em;
                    font-weight: 500;
                    width: 100%;
                    
                    .mat-form-field-wrapper {
                        padding: 0;
                        height: 90px;
                        
                        @include respond-to(ynw-767) {
                            height: $input-h;
                        }
                        @include respond-to(ynw-768-991) {
                            height: $input-h;
                        }
                        
                        .mat-input-infix {
                            padding: 0;
                            border-top: none;
                            
                            .mat-input-element {
                                padding: 15px;
                                vertical-align: top;
                                height: 90px;
                                font-size: .875rem;
                                padding-left: 40px;
                                text-overflow: ellipsis;
                                @include font-regular;
                                font-weight: 500;
                                color: $cc-black;
                                background: $cc-formbg;
                                border: 1px solid transparent;
                                
                                @include respond-to(ynw-767) {
                                    height: $input-h;
                                    padding: 11px 11px 11px 40px;
                                }
                                @include respond-to(ynw-768-991) {
                                    height: $input-h;
                                    padding: 11px 11px 11px 40px;
                                }
                            }
                            
                            .mat-form-field-label {
                                display: none;
                            }
                        }
                        
                    }
                    
                    .mat-form-field-underline {display: none;}

                    &:focus {outline: none; border: none;}
                }

                &:before {
                    content: "\74";
                    /*background: url(../images/icon-location.svg);*/
                    @include font-custom;
                    width: 14px;
                    height: 18px;
                    position: absolute;
                    left: 15px;
                    top: 50%;
                    margin-top: -12px;
                    z-index: 97;
                }
            }
            .sa-dm {
                width: 200px;
                cursor: pointer;
                
                @include respond-to(ynw-767) {
                    width: 100%;
                    margin-bottom: 5px;
                }
                @include respond-to(ynw-768-991) {
                    width: 100%;
                    margin-bottom: 5px;
                }
                
                .mat-form-field {
                    display: block;
                    
                    .mat-input-wrapper {
                        padding-bottom: 0;
                        
                        .mat-input-infix {
                            padding: 0;
                            border-top: none;

                            .mat-select {
                                box-shadow: none !important;
                                border: none !important;
                                height: 90px;
                                background: none;
                                border-radius: 0px;
                                /*display: flex;
                                align-items: center;*/
                                @include font-regular;
                                font-weight: 500;
                                font-size: .875rem;
                                color: $cc-black;
                                padding: 15px;

                                @include respond-to(ynw-767) {
                                    height: $input-h;
                                }
                                @include respond-to(ynw-768-991) {
                                    height: $input-h;
                                }
                                @include respond-to(ynw-992-1199) {
                                    padding: 38px 15px;
                                }
                                @include respond-to(ynw-1200) {
                                    padding: 38px 15px;
                                }

                                .mat-select-arrow {
                                    color: $cc-black;
                                    border: none;
                                    position: relative;
                                    width: 10px;
                                    height: 10px;
                                    font-size: .65rem;
                                    font-weight: 700;
                                    display: flex;
                                    align-items: center;
                                    margin: 0;
                                    
                                    &:after {
                                        @include font-custom;
                                        content: "\72";
                                        position: absolute;
                                        right: 0;
                                    }
                                }
                            }

                        }

                        .mat-form-field-underline {display: none;} 
                    }
                }
            }
            .sa-src {
                width: 100%;
                @include font-regular;
                
                .search_keyword_class {
                    padding: 0px;
                    background: transparent;
                    border-radius: 0;
                    border: none;
                    width: 100%;
                    
                    .mat-input-infix {
                        padding: 0;
                        border-top: none;
                        
                        .mat-input-element {
                            height: 90px;
                            padding: 15px;
                            @include font-regular;
                            font-weight: 500;
                            font-size: 0.875rem;
                            color: $cc-black;
                            background: $cc-formbg;
                            border: 1px solid transparent;
                            
                            @include respond-to(ynw-767) {
                                height: $input-h;
                            }
                            @include respond-to(ynw-768-991) {
                                height: $input-h;
                            }
                            
                        }
                        
                       .mat-form-field-label-wrapper {
                            display: block;
                           
                           .mat-form-field-label {
                               padding-left: 15px;
                               padding-top: 30px;
                               @include font-regular;
                               font-weight: 500;
                               
                                @include respond-to(ynw-767) {
                                    padding-top: 10px;
                                    padding-left: 20px;
                                }
                                @include respond-to(ynw-768-991) {
                                    padding-top: 10px;
                                    padding-left: 20px;
                                }
                           }
                        } 
                    }
                    
                    .mat-form-field-underline {display: none;}
                    
                    &.mat-focused {
                        .mat-form-field-label-wrapper {
                            .mat-form-field-label {
                                color: $cc-darkgray;
                                
                                @include respond-to(ynw-767) {
                                    padding-top: 20px;
                                }
                                @include respond-to(ynw-768-991) {
                                    padding-top: 20px;
                                }
                                
                            }
                        }
                    }
                    
                }
            }

            .plr0i {
                
                @include respond-to(ynw-767) {
                    width: 100%;
                }
                @include respond-to(ynw-768-991) {
                    width: 100%;
                }

                #search_button {
                    background: $cc-red;
                    color: #fff;
                    width: 100px;
                    line-height: 18px;
                    font-weight: 400;
                    text-align: center;
                    border: none;
                    @include border-bottom-radius(0);
                    position: relative;
                    height: 90px;
                    cursor: pointer;
                    
                    @include respond-to(ynw-767) {
                        height: $input-h;
                        width: 100%;
                    }
                    @include respond-to(ynw-768-991) {
                        height: $input-h;
                        width: 100%;
                    }

                    .icon-search {
                        color: $white;
                        font-size: 2.5rem;
                        
                        @include respond-to(ynw-767) {
                            font-size: 1.5rem;
                        }
                        @include respond-to(ynw-768-991) {
                            font-size: 1.5rem;
                        }

                        &:before {
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            top: 0;
                            left: 0;
                        }
                    }
                    &:hover{                                
                        @include respond-to(ynw-767) {
                            background: darken($cc-red, 20%);

                            &:before {
                                display: none;
                            }
                        }
                        @include respond-to(ynw-768-991) {
                            background: darken($cc-red, 20%);

                            &:before {
                                display: none;
                            }
                        }
                    }
                }

                .cs-btn {
                    &:before {
                        background: lighten($cc-red, 10%);
                    }
                }

            }

            .sa-mo {
                line-height: 1em;
                
                @include respond-to(ynw-767) {
                    width: 100%;
                    margin-top: 10px;
                }
                @include respond-to(ynw-768-991) {
                    width: 100%;
                    margin-top: 10px;
                }

                .icon-filter {
                    font-size: 0.875em;
                    color: $linkblack;
                    font-weight: 500;
                    position: relative;
                    display: block;
                    padding-left: 40px;                
                    width: 85px;
                    cursor: pointer;
                    
                    @include respond-to(ynw-767) {
                        width: 100px;
                        margin: 0 auto;
                    }
                    @include respond-to(ynw-768-991) {
                        width: 100px;
                        margin: 0 auto;
                    }
                    @include respond-to(ynw-992-1199) {
                        width: 60;
                        padding-left: 10px;
                        margin-top: 25px;
                    }

                    &:before {
                        position: absolute;
                        left: 8px;
                        top: 4px;
                        font-size: 1.675rem;

                        @include respond-to(ynw-992-1199) {
                            top: -30px;
                        }
                    }
                }
            }
            
            /* More Options Dropdown */
            .more-opt {
                top: 90px;
                
                @include respond-to(ynw-767) {
                    top: 217px;
                }
                @include respond-to(ynw-768-991) {
                    top: 217px;
                }
            }
        }
        .sa-ps {
            clear: left;
            margin-top: 20px;
            text-align: center;
            font-size: 1rem;

            p {
                font-size: 1rem;
                font-weight: 500;

                a {
                    margin-left: 20px;
                    color: $linkblack;
                    text-decoration: underline;

                    &:last-child {
                        text-decoration: none;
                        font-size: 1.375rem;

                        &:before {
                            position: relative;
                            top: 5px;
                        }
                    }
                }
            }

        }
    }  
}


.itro-bg {
    background: #f7f7f7;
    padding: 5em 0;
    
    .itro {
        text-align: center;
        width: 100%;
        
        h1 {
            font-size: 2.125rem;
        }
        
        .animation {
            position: relative;
            min-height: 520px;
            display: flex;
            flex-direction: column;
            align-items: center;
            
            .blue-bbl {
                background: url(../images/blue.svg);
                width: 274px;
                height: 143px;
                position: absolute;
                display: block;
                z-index: 12;
                left: 144px;
                top: 63px;
                display: flex;
                justify-content: center;
                flex-direction: column;
                text-align: center;
                
                @include respond-to(ynw-767) {
                    position:relative;
                    left: 0;
                    top: 0;
                    order: 2;
                    margin-bottom: 1em;
                }
                @include respond-to(ynw-768-991) {
                   left: 20px; 
                }
                
                h3 {
                    font-size: 1.25rem;
                    color: #0c484c;
                    
                    span {
                        display: block;
                    }
                }
            }
            
            .yellow-bbl {
                background: url(../images/yellow.svg);
                width: 292px;
                height: 169px;
                position: absolute;
                display: block;
                z-index: 13;
                left: 595px;
                top: 59px;
                display: flex;
                justify-content: center;
                flex-direction: column;
                text-align: center;
                
                @include respond-to(ynw-767) {
                    position:relative;
                    left: 0;
                    top: 0;
                    order: 3;
                    margin-bottom: 1em;
                }
                @include respond-to(ynw-768-991) {
                    top: 39px;
                    left: 400px; 
                }
                
                h3 {
                    font-size: 1.25rem;
                    color: #4c4102;
                }
            }
            
            .green-bbl {
                background: url(../images/green.svg);
                width: 334px;
                height: 184px;
                position: absolute;
                display: block;
                z-index: 14;
                left: 353px;
                top: 280px;
                display: flex;
                justify-content: center;
                flex-direction: column;
                text-align: center;
                
                @include respond-to(ynw-767) {
                    position:relative;
                    left: 0;
                    top: 0;
                    order: 4;
                    margin-bottom: 1em;
                }
                @include respond-to(ynw-768-991) {
                    left: 213px; 
                }
                
                h3 {
                    font-size: 1.25rem;
                    color: #154c3c;
                }
            }
            
            .gray-bbl {
                background: url(../images/gray.svg);
                width: 414px;
                height: 183px;
                position: absolute;
                z-index: 11;
                left: 296px;
                top: 146px;
                display: flex;
                justify-content: center;
                flex-direction: column;
                text-align: center;
                
                @include respond-to(ynw-767) {
                    position:relative;
                    left: 0;
                    top: 0;
                    order: 1;
                    margin-bottom: 1em;
                    margin-top: 1em;
                    width: 340px;
                    background-size: 100% 183px;
                }
                @include respond-to(ynw-768-991) {
                    left: 126px; 
                }
                
                h2 {
                    font-size: 1.5rem;
                }
            }
            
            .dashed-line {
                background: url(../images/dashed.svg);
                width: 520px;
                height: 253px;
                position: absolute;
                display: block;
                z-index: 10;
                left: 245px;
                top: 100px;
                
                @include respond-to(ynw-767) {
                    position:relative;
                    left: 0;
                    top: 0;
                    display: none;
                }
                @include respond-to(ynw-768-991) {
                    left: 73px; 
                }
            }
            
            .rgtr-mem {
                background: url(../images/register-bg.svg);
                width: 213px;
                height: 177px;
                position: absolute;
                display: block;
                z-index: 15;
                left: 766px;
                top: 377px;
                color: $white;
                @include script-font;
                padding-top: 1.875em;
                
                @include respond-to(ynw-767) {
                    position:relative;
                    left: 0;
                    top: 0;
                    order: 5;
                    margin-bottom: 1em;
                }
                @include respond-to(ynw-768-991) {
                    left: 490px;
                }
                @include respond-to(ynw-992-1199) {
                    left: 700px;
                }
                                
                i {
                    font-size: 1.875rem;
                    margin-bottom: 0.1em;
                }
                
                p {
                    line-height: 1.25em;
                    margin-bottom: 0.1em;
                }
                
                span {
                    font-size: 1.125rem;
                    font-weight: 600;
                    color: $white;
                    @include anchor-border;
                }
            }
        }
        
        .wt-vd {
            span {
                border: 1px solid $cc-mediumgray;
                font-size: 1.125rem;
                padding: .625em 1.25em;
                display: inline-block;
                @include border-radius(40px);
                color: $linkblack;
                @include script-font;
                position: relative;
                padding-left: 45px;
                cursor: pointer;
                @include transition(all 300ms);
                
                i {
                    font-size: 1.875rem;
                    display: inline-block;
                    margin-right: 10px;                    
                    vertical-align: middle;
                    
                    &:before {
                        position: absolute;
                        top: 50%;
                        left: 20px;
                        margin-top: -0.4475em;
                    }
                    
                }
                
                &:hover {
                    text-decoration: none;
                    background-color: $linkblue;
                    color: $white;
                    border-color: transparent;
                    
                }
            }
        }
    }
}

.yap-bg {
    background: #f2edb6;
    padding: 5em 0;
    
    .mbap-img {
        background: url(../images/img-mobile.svg) no-repeat 50%;
        width: 100%;
        height: 383px;
    }
    
    .mbap-dts {
        .mbap-adgs {            
            margin-top: 1.875em;
            padding-left: 0;
            
            li {
                @include script-font;
                margin-bottom: 1.125em;
                list-style: none;
                position: relative;
                padding-left: 1.25em;
                
                &:before {
                    font-family: "custom-ynw";
                    font-style: normal;
                    font-weight: normal;
                    font-variant: normal;
                    text-transform: none;
                    content: "\67";
                    position: absolute;
                    left: 3px;
                    font-size: .55rem;
                    top: 6px;
                }
                
                &:last-child {
                    &:before {
                        display: none;
                    }
                }
                
            }
        }
    }
    
    .mbap-dir {
        display: flex;
        margin-top: 2rem;
        
        .mbap-dir-l {
            flex-direction: column;
            width: 60%;
            
            a {
                margin-bottom: 20px;
                display: block;
            }
        }
        
        .mbap-dir-r {
            display: flex;
            justify-content: center;
            flex-direction: column;
            text-align: center;
        }
    }
    
    .mbap-plane {
        background: url(../images/img-plane.svg) no-repeat scroll 10% / 354px 300px;
        padding-top: 1rem;
        height:100%;
        width: 100%;
        position: absolute;
        
        @include respond-to(ynw-992-1199){
            width: 280px;
            background-size: 280px 300px;
        }
    }
}

.ser {
    background: #9adbf5;
    padding: 5em 0;
    @include font-regular;
    
    .tfs1 {
        width: 100%;
        
        h1 {
            text-align: center;
            span {
                font-weight: 400;
                display: block;
            }
        }
        
        .tfs1-1 {
            @include script-font;
            font-size: 1rem;
            width: 40%;
            margin: 2.5em auto;
            text-align: center;
            font-weight: 400;
        }
        
        h2 {
            font-size: 1.5rem;
            margin-bottom: 1.875em;
            font-weight: 500;
            text-align: center;
        }
        
        .tfs1-dg {
            display: flex;
            flex-wrap: wrap;
            
            @include respond-to(ynw-575) {
                flex-direction: column;
            }
            @include respond-to(ynw-1200) {
                justify-content: space-around;
            }
            
            .item {
                margin-bottom: 1.25rem;
                width: 23%;
                margin: 0 10px 20px 10px;
                background: $white;
                position: relative;
                overflow: hidden;
                @include box-shadow(0px, 0px, 30px, rgba(0,0,0,.05));
                
                &:before {
                    content: "";
                    position: absolute;
                    width: 100px;
                    height: 100px;
                    z-index: 0;
                    @include border-radius(100%);
                    left: -100px;
                    bottom: -100px;
                    @include transition(all 500ms ease-in-out);
                    z-index: 1;
                    opacity: 0;
                }
                
                @include respond-to(ynw-767) {
                    width: 46.1%;
                }
                @include respond-to(ynw-575) {
                    width: auto;
                    margin-left: 15px;
                    margin-right: 15px;
                }
                @include respond-to(ynw-768-991) {
                    width: 46.8%;
                }
                @include respond-to(ynw-992-1199) {
                    width: 31%;
                }
                
                .ser-bx {
                    flex-direction: column;                    
                    padding: 1.875em;
                    text-align: center;                    
                    min-height: 330px;
                    position: relative;
                    z-index: 2;

                    @include respond-to(ynw-575) {
                        min-height: auto;
                    }

                    img {
                        display: block;
                        margin: 0 auto;
                        width: 90px;
                        cursor: pointer;
                    }

                    h4 {
                        font-size: 1.125rem;
                        margin-bottom: 0;
                        cursor: pointer;
                    }

                    .ntcs {
                        font-size: .875rem;
                        margin-bottom: 1.125em;
                        display: block;
                    }

                    .home-specialization-span, .home-more-span {
                        display: block;
                        font-size: .775rem;
                        font-weight: 500;
                        line-height: 1.7em;
                        color: $linkblack;
                        cursor: pointer;
                        text-decoration: underline;

                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
                
                &:nth-child(2) {                    
                    &:before {
                        background: $cc-d1;
                    }                    
                }
                &:nth-child(3) {
                    &:before {
                        background: $cc-d2;
                    } 
                }
                &:nth-child(4) {
                    &:before {
                        background: $cc-d4;
                    } 
                }
                &:nth-child(5) {
                    &:before {
                        background: $cc-d3;
                    } 
                }
                &:nth-child(6) {
                    &:before {
                        background: $cc-d6;
                    } 
                }
                &:nth-child(7) {
                    &:before {
                        background: $cc-d5;
                    } 
                }
                &:nth-child(8) {
                    &:before {
                        background: $cc-d7;
                    } 
                }    
                
                &.ad-clm {
                    background: rgba(0,0,0,.04);
                    box-shadow: none;
                    display: flex;
                    justify-content: center;

                    .ser-bx {
                        display: flex;
                        justify-content: center;
                        
                        h3 {
                            font-size: 1.875rem;
                            font-weight: 700;
                            margin-bottom: 0;
                        }

                        p {
                            font-size: .75rem;
                            margin: 1.3rem 0;
                            font-weight: 500;
                        }

                        .cs-btn {
                            background: $white;
                            padding: .325em 1.525em;
                            color: $linkblack;
                            font-weight: 700;
                            @include border-radius(0);
                            text-decoration: none;
                            display: inline-block;
                            font-size: 1rem;

                            &:hover {
                                background: $linkblue;
                                color: $white;
                            }
                        }
                    }
                }
                &:hover {
                    &:before {
                        @include scale(10);
                        opacity: 1;
                    }
                    
                    @include respond-to(ynw-767) {
                        @include scale(1);    
                    }
                }
            }
        }
    }
}

.prv {
    background: #efffc0;
    padding: 5em 0;
    
    .tfp1 {
        width: 100%;
        text-align: center;
        
        h1 {
            text-align: center;
            span {
                font-weight: 400;
                display: block;
            }
        }
        
        h2 {
            font-size: 1.5rem;
            font-weight: 800;
            margin-bottom: 1.675em;
        }
        
        .tfp1-1 {
            @include script-font;
            font-size: 1rem;
            width: 40%;
            margin: 2.5em auto;
            text-align: center;
            font-weight: 400;
        }
        
        .tfp-grph {            
            width: 100%;
            margin-bottom: 3.125em;
            
            img {
                width: 60%;
                margin: 0 auto;
                display: block;
            }
        }
        
        .lm1 {
            font-size: .875rem;
            border: 0.125em solid $linkblack;
            text-transform: uppercase;
            padding: 0.625em 2.5em;
            @include border-radius(0);
            color: $linkblack;
            font-weight: 600;
            display: inline-block;
            margin-bottom: 5em;
            min-width: 200px;
            @include font-bold;
            
            &:hover {
                background: $linkblue;
                color: $white;
                border-color: $linkblue;
            }
        }
        
        .jn1 {
            font-size: 1.25rem;
            border: none;
            text-transform: uppercase;
            padding: 0.625em 2.5em;
            @include border-radius(0);
            color: $white;
            font-weight: 700;
            background: $cc-red;
            min-width: 200px;
            margin-bottom: 1.125em;
            
            &:before {
                background: lighten($cc-red, 10%);
            }
            &:hover, &:active {
                &:before {
                    opacity: 1;
                    transform: scale(8);
                }
            }
        }
        
        .jn1-1 {
            @include font-medium;
            span {
                color: $linkblack;
                font-weight: 600;
                @include anchor-border;
                cursor: pointer;
            }
        }
    }
}