/***** Common Pages #### */

.content {
    
    .static-outer {
        .static-mainheader {
            font-size: 1.875rem;
            font-weight: 700;
            margin-bottom: 10px;
        }
        .p-subouter {
            margin-bottom: 1.2rem;
            
            p {
                margin-bottom: 1.2rem;
            }
            
            div, p, ul li, ol li {
                font-size: 1rem;
                letter-spacing: .3px;
            }
            
            h2 {
                font-size: 1.2rem;
                font-weight: 600;
                color: lighten($linkblack, 20%);
            }
            
            ul {           
                padding-left: 20px;

                li {
                    margin-bottom: 1.125em;
                    list-style: none;
                    position: relative;
                    padding-left: 1.25em;

                    &:before {
                        font-family: "custom-ynw";
                        font-style: normal;
                        font-weight: normal;
                        font-variant: normal;
                        text-transform: none;
                        content: "\67";
                        position: absolute;
                        left: 3px;
                        font-size: .55rem;
                        top: 4px;
                    }

                }

            }
        }
    }
    
    &.see-pages {
        
        .outer-card {
            display: flex;
            width: 100% !important;
            
            @include respond-to(ynw-575) {
                flex-direction: column;
            }

            .card {
                width: 60%;
                
                @include respond-to(ynw-575) {
                    margin-bottom: 30px;
                    width: 100%;
                }
                
                .form-group {
                    .col-form-label {
                        padding: 0;
                        margin-bottom: 5px;
                    }
                    
                    .form-control {
                        width: 50%;
                        
                        @include respond-to(ynw-767) {
                            width: 100%;
                        }
                        @include respond-to(ynw-768-991) {
                            width: 100%;
                        }
                    }
                    
                    .pickerouter {
                        display: flex;

                        input[type="text"] {
                            width: 120px;
                            padding: .375rem .75rem;
                        }

                        .mat-datepicker-toggle {
                            @include border-radius(50px);
                            background: $linkblue;
                            margin-right: 15px;

                            .mat-icon-button {
                                height: 38px;
                                line-height: 38px;
                                
                                svg {
                                    color: $white;
                                }
                            }
                        }
                    }
                    
                    .mat-radio-group {
                        .mat-radio-button {
                            @include font-regular;
                            margin-right: 10px;
                        }
                    }
                    
                    .verified {
                        position: relative;
                        margin-top: 10px;
                        padding-left: 20px;
                        
                        &:before {
                            content: "\24";
                            position: absolute;
                            @include font-custom;
                            left: 0;
                            top: 0;
                            color: $green;
                            font-size: 1rem;
                        }
                        
                    }
                    
                    app-field-error-display {
                        .sts-msg {
                            &.error {
                                padding:5px;
                                background: transparent;
                                color: $cc-red;
                                font-size: .625rem;
                                font-weight: 500;
                                text-align: left;
                            }
                            &.success {
                                padding:5px;
                                background: transparent;
                                color: $green;
                                font-size: .625rem;
                                font-weight: 500;
                                text-align: left;
                            }
                        }
                    }
                    
                }
                
                .innercard {
                    display: flex;
                    
                    @include respond-to(ynw-767) {
                        flex-direction: column;
                    }
                    @include respond-to(ynw-768-991) {
                        flex-direction: column;
                    }
                    
                    .form-group {
                        .form-control {
                            width: 100%;
                        }    
                    }
                    
                    .leftcard, .cardright {
                        width: 50%;
                        
                        @include respond-to(ynw-767) {
                            width: 100%
                        }
                        @include respond-to(ynw-768-991) {
                            width: 100%
                        }
                    }
                    .cardright {
                        .grayouter {
                            padding-left: 40px;
                            
                            @include respond-to(ynw-767) {
                                padding-left: 0;
                            }
                            @include respond-to(ynw-768-991) {
                                padding-left: 0;
                            }
                            
                            .info-lst {
                                padding: 0px 0 0 20px;
                                background: url(../images/icon-bulb.svg) no-repeat scroll 0 0/16px 16px;
                                margin-top: 5px;
                                
                                li {
                                    color: $cc-mediumgray;
                                }
                            }
                        }
                    }
                }
                
                .d-tbl {
                    .addbt {
                        margin-top: 20px;
                        font-weight: 500;
                    }
                    
                    .table {
                        margin-bottom: 0;
                        
                        tbody {
                            tr {
                                td {
                                    &.mre {
                                        text-align: center;
                                        
                                        .mbt {
                                            top: -10px;
                                            
                                            @include respond-to(ynw-767){
                                                display: none;
                                            }
                                            
                                            &:before {
                                                display: none;
                                            }
                                        }
                                        .mbt-mobile-show {
                                                width: 100%;
                                                display: flex;
                                                justify-content: flex-end;
                                                display: none;
                                                
                                                @include respond-to(ynw-767){
                                                    display: block;
                                                    text-align: right;
                                                }

                                                .editcls, .deletecls {
                                                    position: relative;
                                                    border: none;
                                                    background: transparent;
                                                    padding-left: 20px;
                                                    font-weight: 500;
                                                    margin-right: 15px;
                                                    cursor: pointer;

                                                    &:before {
                                                        @include font-custom;
                                                        content: "\78";
                                                        position: absolute;
                                                        left: 0;
                                                        font-size: .875rem;
                                                    }
                                                }

                                                .deletecls {
                                                    margin-right: 0;

                                                    &:before {
                                                        content: "\4b";
                                                    }
                                                }

                                                @include respond-to(ynw-768-991) {
                                                    display: none;
                                                }
                                                @include respond-to(ynw-992-1199) {
                                                    display: none;
                                                }
                                                @include respond-to(ynw-1200) {
                                                    display: none;
                                                }
                                            }
                                    }
                                }
                            }
                        }
                    }
                }
                
                .example-container {                    
                    .mat-dialog-content {
                        padding: 0;
                        overflow: visible;
                        
                        .mat-input-element {
                            width: 50%;

                            @include respond-to(ynw-767) {
                                width: 100%;
                            }
                            @include respond-to(ynw-768-991) {
                                width: 100%;
                            }
                        }
                    }
                    .mat-dialog-actions {
                        box-shadow: none;
                        padding: 0;
                        margin-top: 20px;
                        display: flex;
                        align-items: center;
                        
                        button {
                            margin-right: 15px;
                        }
                        
                        .resendouter {
                            margin-top: 0;
                        }
                    }
                }

                app-form-success-display {
                    .sts-msg {
                        &.success {
                            margin-top: 15px;
                        }
                    }
                }
                
                &.members-card {
                    width: 75%;
                }
            }
            
            .right-menu {
                flex-grow: 1;
                margin-left: 40px;
                
                @include respond-to(ynw-575) {
                    margin-left: 0;
                }
                
                .right-menu-header {
                    font-weight: 600;
                    margin-bottom: 20px;
                }
                
                ul {
                    margin: 0;
                    padding: 0;
                    
                    li {
                        list-style: none;
                        font-size: .875rem;
                        color: $linkblue;
                        margin-bottom: 10px;
                        cursor: pointer;
                        display: table;
                        padding-left: 30px;
                        position: relative;
                        
                        &:before {
                            position: absolute;
                            left: 0;
                            top: 3px;
                        }
                    }
                }
            }
            
            .mat-dialog-actions {

                &:last-child {
                    margin: 0;
                    padding: 20px 0;
                }
            }
        }
    }
    &.comn-cls {
        .copy {
            .no-msg {
                padding: 20px;
                font-size: .875rem;
                color: $cc-mediumgray;
                text-align: center;
            }
        }
    }
}

// Learn More Popup
.lm-popup {
    background: $white;
    color: $linkblack;
    padding: 0px;
    @include box-shadow(0, -20px, 30px, rgba(0,0,0,.1) !important);
    @include transition(all 500ms);
    /*margin-right: -50%;*/
    /*visibility: hidden;*/
    opacity: 1;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    width: 60%;
    z-index: 1001;
    
    @include respond-to(ynw-767) {
        width: 80%;
    }
    
    .close {
        position: absolute;
        background: $white;
        padding: 3px;
        width: 30px;
        height: 30px;
        opacity: 1;
        left: -50px;
        top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        @include border-radius(30px);
        @include transition(all 500ms);
        text-shadow: none;
        
        &:before {
            position: absolute;
            content: "\69";
            @include font-custom;
            color: $linkblack;
            width:14px;
            height: 14px;
            font-size: .875rem;
        }
        
        &:hover {
            background: $linkblue;
            
            &:before {
                color: $white;
            }
        }
    }
    
    .backTotop {
        position: absolute;
        right: 30px;
        bottom: 20px;
        background: rgba(255,255,255,.8);
        font-weight: 600;
        text-align: center;
        @include box-shadow(0px, 0px, 30px, rgba(0,0,0,.3));
        @include border-radius(60px);
        font-size: .875rem;
        margin-left: -75px;
        padding: 15px;
        @include transition(all 500ms);
        z-index: 100;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 70px;
        height: 70px;
        
        .icon-angle-up {
            height: 1em;
        }
        
        &:hover {
            color: $linkblue;
        }
        
    }

    // Learn More Pages ####
    .lm-outer {
        margin: 0 auto;
        padding: 20px;
        background: $white;
        height: 100vh;
        overflow: auto;
        overflow-x: hidden;


        h3 {
            font-size: 1.575rem;
            font-weight: 700;
            margin-bottom: 10px;
            color: $black;
        }

        section {
            margin-bottom: 1rem;

            p, div, ul li, ol li, table th, table td {
                font-size: 1rem;
                line-height: 1.75;
                letter-spacing: .3px;
            }

            p, ul li, ol li, ul, ol {
                margin-bottom: 1.2rem;
            }

            h4 {
                font-size: 1.2rem;
                color: $black;
                padding-top: 15px;
            }

            h5 {
                font-size: 1rem;
                color: lighten($linkblack, 20%);
            }
            
            h6 {
                color: lighten($linkblack, 20%);
            }

            blockquote {
                @include font-script;
                color: lighten($linkblack, 20%);
                letter-spacing: .5px;
                font-size: .875rem;
                padding: 20px;
                font-style: italic;
                border-left: 5px solid lighten($linkblack, 40%);
                background: $cc-body;
                margin-bottom: 1.2rem;

                span {
                    font-weight: 600;
                    font-size: 1rem;
                }
            }

            .box-indent {
                margin-left: 2.2rem;
            }

            .ul-normal {
                padding-left: 15px;

                li {
                    position: relative;
                    list-style: none;
                    position: relative;
                    padding-left: 1.25em;

                    ul, ol, table {
                        margin-top: 1.2rem;
                    }

                    ol {
                        li {
                            list-style: decimal;
                            padding-left: .5em;

                            &:before {
                                display: none;
                            }
                        }
                    }

                    &:before {
                        font-family: "custom-ynw";
                        font-style: normal;
                        font-weight: normal;
                        font-variant: normal;
                        text-transform: none;
                        content: "\67";
                        position: absolute;
                        left: 3px;
                        font-size: .55rem;
                        top: 6px;
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }

            .ol-normal {
                li {
                    ul, ol, table {
                        margin-top: 1.2rem;
                    }
                }
            }

            .table {
                border: 1px solid $cc-ash;
                background: rgba(255,255,255,.3);
                margin-bottom: 1.2rem;

                thead {         
                    tr {
                        background: rgba(255,255,255,.8);
                        th {
                            font-size: 1.2rem;
                            color: lighten($linkblack, 20%);
                        }
                    }
                }
                tbody {
                    tr {
                        td {
                            vertical-align: top;

                            .ol-normal {
                                margin: 0 0 1.2rem 20px;
                                padding: 0;

                                li {
                                    &:last-child {
                                        margin-bottom: 0;
                                    }
                                }
                            }

                            &.td1 {
                                font-weight: 600;
                            }
                        }
                    }
                }
            }

            .lm-index {
                .ul-normal {
                    li {
                        color: $linkblue;
                        font-weight: 500;
                        cursor: pointer;
                    }
                }
            }

            &:last-child {
                margin-bottom: 0;
            }
        }

        &.bprofile {
            section {
                .table {
                    thead {
                        tr{
                            th{
                                font-size: .875rem;
                            }
                        }
                    }
                    tbody {
                        tr {
                            td {
                                font-size: .875rem;
                                font-weight: 500;
                                color: lighten($linkblack, 20%);

                                h6 {
                                    font-weight: 600;
                                    font-size: .875rem;
                                }

                                div, ol li, ul li, p {
                                    font-size: .875rem;
                                    font-weight: 500;
                                }

                                ol li, ul li, p {
                                    color: lighten($linkblack, 20%);
                                }

                                .box {
                                    border-bottom: 1px solid $cc-ash;
                                    margin-bottom: 1.2rem;

                                    ol {
                                        padding-left: 1rem;
                                    }

                                    &:last-child {
                                        margin-bottom: 0;
                                        border: none;
                                    }
                                }
                            }
                        }
                    }

                    &.verify-tbl {                    
                        tr {
                            td {
                                &.td1 {
                                    width: 20%;
                                    font-size: 1rem;
                                    font-weight: 600;
                                }
                                &.td2 {
                                    border-left: 1px solid $cc-ash;
                                }
                            }
                        }
                    }

                    &.addword-tbl {
                        thead {
                            tr {
                                th {
                                    font-size: 1rem;

                                    &.th1 {
                                        width: 30%;
                                    }
                                }
                            }
                        }
                        tbody {
                            tr {
                                td {
                                    &.td1 {
                                        width: 30%;
                                        font-weight: 600;
                                    }
                                }
                                &.tr2 {
                                    background: $silver;
                                }
                                &.tr3 {
                                    background: $gold;
                                }
                                &.tr4 {
                                    background: $diamond;
                                }
                            }
                        }
                    }

                    &.loc-tbl, &.social-tbl {
                        width: 260px;

                        tbody {
                            tr {
                                td {
                                    font-weight: 600;
                                }
                            }
                        }
                    }

                    &.locam-tbl {
                        tbody {
                            tr {
                                td {
                                    &.td1 {
                                        font-weight: 600;
                                        font-size: 1rem;
                                    }
                                    &.td2 {
                                        border-left: 1px solid $cc-ash;
                                        padding: 0;
                                        font-weight: 600;

                                        .table {
                                            border: none;
                                            margin-bottom: 0;

                                            tbody {
                                                tr {
                                                    td {
                                                        border: none;

                                                        .ul-normal {
                                                            margin-bottom: 0;

                                                            li {
                                                                margin-bottom: 10px;

                                                                &:before {
                                                                    content: "\2d";
                                                                }
                                                            }
                                                        }

                                                        &.td1 {
                                                            display: none;
                                                            font-size: .875rem;
                                                            width: 5%;
                                                        }
                                                        &.td2 {
                                                            width: 50%;
                                                            padding: .75rem;
                                                        }
                                                    }

                                                    border-bottom: 1px solid $cc-ash;

                                                    &:last-child {
                                                        border: none;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    &.spec-tbl, &.addinfo-tbl {
                        tbody {
                            tr {
                                td {
                                    &.td1 {
                                        font-weight: 600;
                                        font-size: 1rem;
                                    }
                                    &.td2 {
                                        border-left: 1px solid $cc-ash;
                                        padding: 0;

                                        .table {
                                            border: none;
                                            margin-bottom: 0;

                                            tbody {
                                                tr {
                                                    border-bottom: 1px solid $cc-ash;

                                                    td {
                                                        border: none;

                                                        &.td1 {
                                                            width: 35%;
                                                            font-weight: 600;
                                                            font-size: .875rem;
                                                        }
                                                        &.td2 {
                                                            width: 65%;
                                                            padding: .75rem;

                                                            .ol-normal {
                                                                margin-bottom: 0;

                                                                li {
                                                                    margin-bottom: 10px;

                                                                    &:last-child {
                                                                        margin-bottom: 0;
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }

                                                    &:last-child {
                                                        border: none;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .important {
                    padding: 20px;
                    border: 1px solid $cc-body;
                    margin-bottom: 1.2rem;
                    font-size: .875rem;

                    h5 {
                        text-transform: uppercase;
                    }

                    ul, ol {
                        margin-bottom: 0;
                        padding-left: 0;

                        li {
                            font-size: .875rem;
                            font-weight: 500;
                        }
                    }

                    ul {
                        li {
                            padding-left: 1.6em;

                            &:before {
                                content: "\3b";
                                font-size: .875rem;
                                top: 1px;
                                left: 0px;
                            }
                        }
                    }
                }
            }   
        }

        &.w-manager {
            section {
                .table {
                    tbody {
                        tr {
                            td {
                                font-size: .875rem;
                                font-weight: 500;
                            }
                        }
                    }
                    &.wm-tbl {                
                        tbody {
                            .td1, .td2 {
                                font-weight: 600;
                            }
                        }
                    }
                }
            }
        }

        &.license {
            section {
                .ul-normal {
                    li {
                        .ul-normal {
                            padding-left: 18px;

                            li {
                                list-style: circle;
                                padding-left: 0rem;

                                &:before {
                                    display: none;
                                }
                            }
                        }
                    }
                }

                .table {
                    thead {
                        tr {
                            th {
                                font-size: 1rem;
                            }
                        }
                    }
                    tbody {
                        tr {
                            td {
                                font-size: .875rem;
                                font-weight: 500;
                            }
                        }
                    }
                    &.license-tbl {
                        background: transparent;

                        thead {
                            tr {
                                background: transparent;

                                th {
                                    font-size: 1rem;
                                    vertical-align: top;

                                    &.th1 {
                                        background: $metrics;
                                        text-transform: uppercase;
                                    }
                                    &.th2 {
                                        background: $basic;
                                        text-transform: uppercase;
                                    }
                                    &.th3 {
                                        background: $silver;
                                    }
                                    &.th4 {
                                        background: $gold;
                                    }
                                    &.th5 {
                                        background: $diamond;
                                    }
                                    &.th6 {
                                        background: $basic;
                                    }
                                }

                                &:nth-child(1) {
                                    background: rgba(0,0,0,.055);
                                    th{
                                        border-bottom: none;
                                    }
                                }
                                &:nth-child(2) {
                                    th{
                                        border-top: none;
                                        border-bottom: 3px solid $cc-ash;
                                        font-size: .875rem;
                                    }
                                }
                            }
                        }
                        tbody {
                            tr {
                                td {
                                    font-size: .875rem;
                                    font-weight: 500;
                                    color: lighten($linkblack, 20%);

                                    &.td1 {
                                        background: $metrics;
                                        font-weight: 600;
                                    }
                                    &.td2 {
                                        background: $basic;
                                    }
                                    &.td3 {
                                        background: $silver;
                                    }
                                    &.td4 {
                                        background: $gold;
                                    }
                                    &.td5 {
                                        background: $diamond;
                                    }
                                    &.td6 {
                                        background: rgba(255,255,255,.8);
                                    }
                                }

                                &:nth-child(1) {
                                    td {
                                        border-top: none;
                                    }
                                }
                            }
                        }
                    }

                    &.addon-tbl {
                        tbody {
                            tr {
                                td {
                                    &.td1 {
                                        font-weight: 600;
                                    }
                                }
                            }
                        }
                    }

                    &.addword-tbl {
                        thead {
                            tr {
                                th {

                                    &.th1 {
                                        width: 35%;
                                    }
                                }
                            }
                        }
                        tbody {
                            tr {
                                td {
                                    &.td1 {
                                        width: 30%;
                                        font-weight: 600;
                                    }
                                }
                                &.tr2 {
                                    background: $silver;
                                }
                                &.tr3 {
                                    background: $gold;
                                }
                                &.tr4 {
                                    background: $diamond;
                                }
                            }
                        }
                    }
                }
            }
        }

        &.consumer {
            section {
                .table {
                        thead {
                            tr {
                                th {
                                    font-size: 1rem;
                                }
                            }
                        }
                        tbody {
                            tr {
                                td {
                                    font-size: .875rem;
                                    font-weight: 500;

                                    ul, ol {
                                        margin-bottom: 0;

                                        li {
                                            font-size: .875rem;
                                            font-weight: 500;
                                        }
                                    }

                                    &.td1 {
                                        font-weight: 600;
                                    }
                                }
                            }
                        }
                    }
            }
        }
    }    
    
}

