/*popup styles ####*/

.cdk-overlay-container {
    .cdk-overlay-dark-backdrop {
        background: rgba(0, 0, 0, .6);
    }
    .mat-dialog-container {
        @include box-shadow(0, 0, 10px, rgba(0, 0, 0, .1));
        @include border-radius(5px);
        padding: 0;
        overflow: hidden;

        form {

            .form-header {
                font-size: 1.5rem;
                font-weight: 600;
            }

            .form-group {
                margin-bottom: 1.25em;
            }
        }
        .mat-select-content {
            background: red !important;
            .mat-option {
                padding: 0 10px;
                @include font-regular;
                font-size: .875rem;
                font-weight: 500;
            }
        }
    }

    .mat-select-panel {
        box-shadow: none !important;
        @include font-regular;
        font-size: .875rem;
        font-weight: 500;
        border: 1px solid #e6e6e6;
        /*max-height: 100%;*/
        .mat-selected {
            background: $linkblue !important;
            color: $white !important;
            
            .mat-option-text {
                .fb, .tw, .lkd, .ytb, .gpl, .pntr {
                    color: $white;
                }
            }
        }

        .mat-option-text {
            @include font-regular;
            font-weight: 500;
            
            .fb, .tw, .lkd, .ytb, .gpl, .pntr {
                font-size: 1.25rem;
                vertical-align: text-bottom;
            }
            .fb{
                color: #627aac;
            }
            .tw{
                color: #5eb0fb;
            }
            .lkd{
                color: #02a2c2;
            }
            .ytb{
                color: #ef452f;
            }
            .gpl{
                color: #ef452f;
            }
            .pntr{
                color: #ef452f;
            }
        }
    }

    .mat-autocomplete-panel {
        box-shadow: none !important;
        border: 1px solid #e6e6e6;

        .mat-option {
            @include font-regular;
            font-size: .875rem;
            font-weight: 500;
            padding: 0 10px;
        }

        .mat-optgroup {
            .mat-optgroup-label {
                background: $linkblue;
                color: $white;
                @include font-regular;
                font-size: .875rem;
                font-weight: 600 !important;
                margin-bottom: 0;
            }
        }
    }
}

.signupmainclass,
.loginmainclass,
.moreoptionsmainclass,
.forgotpasswordmainclass,
.commonpopupmainclass,
.googlemainmappopup, .outer-card, .consumerpopupmainclass {
    width: 600px !important;

    div,
    label,
    input {
        @include font-regular;
        font-size: .875rem;
        font-weight: 500;
        
        .mat-slide-toggle-content {
            @include font-regular;
            font-weight: 500;
        }
    }

    .mat-dialog-title {
        margin: 0;
        padding: 15px 20px;
        @include font-medium;
        font-size: 1.25rem;
        font-weight: 600;
        @include left-gradient(#1873f2, #00aef2);
        color: $white;
        position: relative;

        .modal_close {
            position: absolute;
            background: none;
            border: none;
            padding: 0;
            cursor: pointer;
            color: $white;
            right: 20px;
            top: 50%;
            margin-top: -10px;
            z-index: 121;
            width: 20px;
            height: 20px;

            i {
                display: flex;

                &:before {
                    @include font-custom;
                    content: "\69";
                    font-size: 1rem !important;
                    width: 20px;
                    height: 20px;
                    font-weight: 600;
                }
            }
        }
    }
    .mat-dialog-content {
        margin: 0;
        padding: 20px;
        overflow: auto;

        .form-group {

            .sts-msg {
                font-weight: 500;
                font-size: .625rem;
                padding: 5px;
                background: transparent;
                text-align: left;

                &.error {
                    color: $cc-red;
                }
            }

            .mat-form-field {
                width: 100%;

                .mat-input-wrapper {
                    padding: 0;
                    margin: 0;

                    .mat-input-infix {
                        margin: 0;
                        padding: 0;
                        border: none;

                        .mat-form-field-label {
                            display: none;
                        }

                        .mat-select {
                            padding: 10px;
                            height: 40px;
                            background: $cc-formbg;
                        }
                    }

                    .mat-input-underline {
                        display: none;
                    }
                }
            }
            .example-section {
                mat-checkbox {
                    label {
                        margin-bottom: 0;
                    }
                }
            }
            
            .service-section, .schedule-section {
                display: flex;
                flex-wrap: wrap;
            }
            
            .startendtime {
                margin-bottom: 20px;
                display: flex;
                flex-wrap: wrap;

                .starttimediv, .endtimediv {
                    flex-grow: 1;

                    fieldset {
                        .form-control {
                            @include border-radius(0);
                            background: $white;
                            @include font-regular;
                            font-size: 0.875rem;
                            color: $cc-darkgray;
                            text-overflow: ellipsis;

                            &:focus {
                                @include box-shadow(0, 0, 1px, $linkblue, inset);
                                border: 1px solid $linkblue;
                                background: $white;
                            }
                        }
                        .ngb-tp-hour,
                        .ngb-tp-minute {
                            input[type="text"] {
                                background: $cc-formbg;
                                
                                &:focus {
                                    @include box-shadow(0, 0, 1px, $linkblue, inset);
                                    border: 1px solid $linkblue;
                                    background: $white;
                                }
                            }
                            .btn-link {
                                display: flex;

                                &:first-child {
                                    .chevron {
                                        width: 16px;
                                        height: 16px;

                                        &:before {
                                            border: none;
                                            content: "\66";
                                            @include font-custom;
                                            color: $linkblue;
                                            display: flex;
                                            transform: rotate(0);
                                            font-size: 1rem;
                                            font-weight: 700;
                                            align-items: center;
                                        }
                                    }
                                }
                                &:last-child {
                                    .chevron.bottom {
                                        width: 16px;
                                        height: 16px;

                                        &:before {
                                            border: none;
                                            content: "\72";
                                            @include font-custom;
                                            color: $linkblue;
                                            display: flex;
                                            transform: rotate(0);
                                            font-size: 1rem;
                                            font-weight: 700;
                                        }
                                    }
                                }
                                &:hover,
                                &:focus,
                                &:active {
                                    text-decoration: none;
                                }
                            }
                        }
                        .ngb-tp-meridian {
                            .btn-outline-primary {
                                border-color: $linkblue;
                                color: $linkblue;
                                font-weight: 600;
                                font-size: .875rem;

                                &:hover {
                                    background: $linkblue;
                                    color: $white;
                                }
                                &:focus {
                                    outline: none;
                                    box-shadow: none;
                                }
                            }
                        }
                        &:first-child {
                            margin-bottom: 15px;
                        }
                    }
                }


            }
            
            &.inline {
                display: flex;
                align-items: center;

                .mat-slide-toggle {
                    margin-left: 15px;
                }
            }
            &.bold {
                label {
                    font-weight: 600;
                }
            }
        }

        .mat-form-field {
            width: 100%;

            .mat-input-wrapper {
                padding: 0;
                margin: 0;

                .error-msg {
                    color: $cc-red;
                }

                .mat-input-infix {
                    margin: 0;
                    padding: 0;
                    border: none;

                    .mat-form-field-label {
                        display: none;
                    }

                    .mat-input-element {
                        padding: 10px;
                        background: $cc-formbg;
                        height: 40px;

                        &:focus {
                            @include box-shadow(0, 0, 1px, $linkblue, inset);
                            border: 1px solid $linkblue;
                            background: $white;
                        }
                    }
                    .mat-select {
                        padding: 10px;
                        height: 40px;
                        background: $cc-formbg;

                        .mat-select-arrow {
                            color: $cc-black;
                            border: none;
                            position: relative;
                            width: 10px;
                            height: 10px;
                            font-size: .65rem;
                            font-weight: 700;
                            display: flex;
                            align-items: center;
                            margin: 0;

                            &:after {
                                @include font-custom;
                                content: "\72";
                                position: absolute;
                                right: 0;
                            }
                        }
                    }
                }

                .mat-input-underline {
                    display: none;
                }
            }
        }

        .form-group-packages {
            .col-form-label {
                font-weight: 600;
            }
            .mat-radio-group {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                width: 100%;

                .mat-radio-button {
                    margin-right: 0;
                    padding: 10px;

                    .mat-radio-label {
                        border: none;
                        padding: 0;
                    }
                }
            }
        }
        
        .itemtopouter {
            margin-bottom: 1.25em;
            display: flex;
            
            .galul {
                margin-right: 15px;
                li {
                    width: auto;
                    
                    .galimg_outer {
                        padding: 0;
                    }
                }
            }
            
            .upload-doc {
                flex-grow: 1;
                display: flex;
                justify-content: center;
                
                label {
                    margin-bottom: 0px;
                    cursor: pointer;
                }
                .select-wrapper  {
                    width: auto;
                    height: auto;
                    margin: 0 0 0 15px;
                    
                    &:before {
                        height: 20px;
                    }
                }
                &.imageexist {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    
                    label {
                        margin-bottom: 20px;
                    }
                    
                    .select-wrapper  {
                        width: 30px;
                        height: 30px;
                    }
                }
            }
            
            > div {
                width: 40%;
            }
        }

        .custom-select {
            background-color: $cc-formbg;
            border-radius: 0;
            border: 0;
            box-shadow: none;

            option {
                padding: 10px;
            }
        }

        .form-check {
            margin-bottom: 10px;

            label {
                cursor: pointer;
            }
        }

        .custom-control {
            padding-left: 0;
        }
        
        .mat-radio-group {
            .mat-radio-button {
                margin-left: 10px;
            }  
        }
        
        .pickerouter {
            display: flex;
            
            input[type="text"] {
                width: 120px;
            }
            
            .mat-datepicker-toggle {
                margin-right: 15px;
                
                button {
                    height: 38px;
                    background: $linkblue;
                    
                    svg {
                        fill: $white;
                    }
                }
            }
        }
        
        .audit_outer {
            border: 1px solid $cc-ash;

            .table {
                margin-bottom: 0;
            }
        }

        > .ng-star-inserted {
            margin-bottom: 20px;
            .refine_subheader {
                font-weight: 600;
                margin-bottom: 10px;
            }
        }
    }
    .mat-dialog-actions {
        border-top: 1px solid $cc-ash;
        display: block;
        margin-bottom: 0;
        
        .bt1 {
            margin-right: 10px;
        }
        
        .resendouter {
            margin-top: 15px;
            
            span {
                display: table;
                margin-bottom: 10px;
                color: $linkblue;
                font-size: .75rem;
                cursor: pointer;
                
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        
        &:last-child {
            margin: 0;
            padding: 20px;
        }
    }

    app-field-error-display {
        .sts-msg {
            &.error {
                padding: 10px 15px;
                background: $cc-red;
                color: $white;
                font-size: .75rem;
                font-weight: 500;
                text-align: center;
            }
            &.success {
                padding: 10px 15px;
                background: $green;
                color: $white;
                font-size: .75rem;
                font-weight: 500;
                text-align: center;
            }
        }
    }
    app-form-success-display {
        .sts-msg {
            &.success {
                padding: 10px 15px;
                background: $green;
                color: $white;
                font-size: .75rem;
                font-weight: 500;
                text-align: center;
            }
        }
    }
    
    .otpbottom {
        .mat-dialog-content {
            padding-top: 0;
            
            .form-group {
                margin-bottom: 0;
            }
        }
    }
}

/* ###### Consumer popups  #####*/
.consumerpopupmainclass {
    width: 700px !important;
    
    .mat-dialog-title {
        margin: 0;
        padding: 20px 20px 10px;
        @include font-medium;
        font-size: 1.25rem;
        font-weight: 600;
        background: transparent;
        color: $linkblack;
        position: relative;
        z-index: 5;

        .modal_close {
            position: absolute;
            background: none;
            border: none;
            padding: 0;
            cursor: pointer;
            color: $white;
            right: 20px;
            top: 50%;
            margin-top: -10px;
            z-index: 121;
            width: 20px;
            height: 20px;
            @include transition(all 300ms);
            @include border-radius(30px);

            i {
                display: flex;

                &:before {
                    @include font-custom;
                    content: "\69";
                    font-size: .75rem !important;
                    width: 20px;
                    height: 20px;
                    font-weight: 600;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
            
            &:hover {
                background: $white;
                color: $linkblue;
            }
        }
        &:after {
            position: absolute;
            content: "";
            background: url(../images/c-popup-bg.svg) no-repeat scroll 0 0;
            height: 83px;
            top: -8px;
            right: -3px;
            left: 0;
            width: auto;
            z-index: -1;
            pointer-events: none;
            
            @include respond-to(ynw-767) {
                width: 750px;
                left: auto;
                right: -10px;
            }
        }
    }
    .mat-dialog-content {
        margin: 0;
        padding: 20px;
        overflow: auto;
        position: relative;
        z-index: 6;
        
        .mainouter {
            .main-head, .date-outer, .service-outer, .queue-outer, .prepay-outer {
                margin-bottom: 15px;
                color: $cc-gray;
                font-size: 1rem;
                
                .prov_name, .loc_name, .selected-date, .prepaymin-cls {
                    color: $linkblack;
                    font-weight: 600;
                }
                .prov_name {
                    font-weight: 700;
                }
                .loc_name {
                    font-size: .875rem;
                }
            }
            .date-outer {
                font-size: .875rem;
                border-bottom: 1px dashed $cc-ash;
                padding-bottom: 15px;
                
                .selected-date {
                    margin-bottom: 5px;
                }
                
                .future-text {
                    display: table;
                    cursor: pointer;
                    color: $linkblue;
                    text-decoration: underline;
                    font-weight: 500;
                    font-size: .75rem;
                }
                .future-date-outer {
                    margin-top: 5px;
                    
                    .form-group {
                        margin-bottom: 0px;
                        display: flex;
                        
                        .col-form-label {
                            font-weight: 500;
                            margin-right: 10px;
                            align-self: center;
                        }
                        
                        .pickerouter {
                            .mat-datepicker-toggle {
                                margin-right: 0;
                            }
                            .form-control {
                                background: $white;
                            }
                        }
                    }
                }
            }
            .service-outer, .queue-outer {
                border-bottom: 1px dashed $cc-ash;
                padding-bottom: 15px;
                
                .service-head, .queue-head {
                    font-size: .875rem;
                    margin-bottom: 5px;
                    color: $linkblack;
                    font-weight: 600;
                }
                
                .mat-chip-list {
                    .mat-chip-list-wrapper {
                        margin-bottom: 5px;
                        
                        .mat-chip.mat-chip-selected.mat-primary {
                            font-weight: 600;
                            background: $green;
                            color: $white;
                            border: none;
                            border: 1px solid $green;
                        }
                        
                        .mat-chip {
                            padding: 5px 10px;
                            margin-right: 5px;
                            margin-left: 0;
                            margin-bottom: 5px;
                            cursor: pointer;
                            background: $white;
                            border: 1px solid $cc-mediumgray;
                            
                            &:focus {
                                box-shadow: none;
                            }
                        }
                    }
                }
                
                .service-details {
                    .service-dur-pr {
                        display: flex;
                        
                        @include respond-to(ynw-575) {
                            flex-direction: column;
                        }
                        
                        .service-duration {
                            width: 200px;
                            
                            .min-cls {
                                font-weight: 600;
                                color: $linkblack;
                            }
                        }
                        .service-price {
                            flex-grow: 1;
                            
                            @include respond-to(ynw-575) {
                                margin-top: 10px;
                            }

                            .price {
                                font-weight: 600;
                                color: $linkblack;
                            }
                            .taxable {
                                font-size: .75rem;
                            }
                        }
                    }
                    .service-desc {
                        margin-top: 5px;
                    }
                }
                
                .selected-ser, .selected-que {
                    margin-bottom: 5px;
                    
                    .selected-ser-name {
                        font-weight: 600;
                        color: $linkblack;
                    }
                }
                
                .queue-waitingdiv {
                    .queue-head {
                        font-weight: 500;
                        color: $cc-gray;
                        
                        .queue-avail-date {
                            font-weight: 600;
                            color: $linkblack;
                        }
                    }
                }
                
                .no-queue-available {
                    font-size: .875rem;
                }
            }
            
            .queue-outer {
                .mat-chip-list {
                    .mat-chip-list-wrapper {
                        .mat-chip {
                            border-color: $cc-body;
                            background: $cc-body;
                        }
                    }
                }
            }
            
            .servicefor-outer {
                .service-availer {
                    color: $linkblack;
                    font-weight: 600;
                }
                .change-button {
                    cursor: pointer;
                    display: table;
                    color: $linkblue;
                    font-size: .75rem;
                    text-decoration: underline;
                }
                
                &.btborder {
                    border-bottom: 1px dashed $cc-ash;
                    padding-bottom: 15px;
                }
            }
            
            .revealdiv {
                margin-top: 15px;
                
                .form-group {
                    margin-bottom: 0;
                    
                    .mat-checkbox {
                        .mat-checkbox-layout {
                            .mat-checkbox-label {
                                white-space: pre-wrap;
                            }
                        }
                    }
                }
            }
            
            .consumer-comment {
                .form-group {
                    margin-bottom: 0px;
                    
                    .col-form-label {
                        font-weight: 500;
                        color: $cc-gray;
                    }
                }
            }
            
            .prepay-outer {
                margin-bottom: 0;
                margin-top: 15px;
                padding: 20px 15px 15px;
                @include top-to-bottom(#f8f8f8, #fff);
                
                .prepay-amt {
                    margin-bottom: 15px;
                    font-size: .875rem;
                    font-weight: 600;
                    color: $linkblack;
                    
                    .prepaymin-cls {
                        font-weight: 700;
                        color: $green;
                        font-size: 1rem;
                    }
                }
                .prepay-gateway-outer {
                    
                    .prepay-head {
                        margin-bottom: 5px;
                        color: $linkblack;
                        font-weight: 600;
                    }
                    
                    .mat-radio-group {
                        .mat-radio-button {
                            color: $linkblack;
                        }
                    }
                }
            }
            
            .member-outer {
                .member-head {
                    margin-bottom: 15px;
                }
                .member-list {
                    .member-ul {
                        margin: 0 0 0 20px;
                        padding: 0;
                        
                        li {
                            list-style: none;
                        }
                    }
                    .member-add {
                        margin-left: 20px;
                        margin-top: 10px;
                        cursor: pointer;
                        display: table;
                        font-size: .75rem;
                        color: $linkblue;
                        text-decoration: underline;
                        font-weight: 500;
                    }
                }
            }
        }
    }
    .mat-dialog-actions {
        padding: 20px;
        @include respond-to(ynw-767) {
            .mat-button .backbtn, .bt2 {
                padding: 10px 15px !important;
            }
        }
        @include respond-to(ynw-575) {
            button {
                margin-bottom: 5px;
            }
        }
    }
    
}

/* ##### Consumer Popup Ends ### */

.loginmainclass {
    .mat-dialog-actions {
        display: block;
        padding: 20px;

        .mat-button {
            margin: 0 auto 15px auto;
        }

        .forgotpass,
        .newuser {
            color: $linkblue;
            margin-bottom: 10px;
            font-size: .75rem;
            cursor: pointer;
            font-weight: 500;
        }
        .newuser {
            color: $cc-black;
            margin-bottom: 0;
            cursor: default;
            
            span {
                color: $linkblue;
                cursor: pointer;
            }
        }
    }
}

.signupmainclass {
    .mat-dialog-content {
        .mat-radio-group {
            display: flex;
            align-items: center;
            margin-bottom: 20px;

            .mat-radio-button {
                flex: 0;
                margin-right: 20px;

                label {
                    margin: 0;
                    padding: 15px;
                    border: 2px solid $cc-mediumgray;
                    @include border-radius(5px);
                    
                    .mat-radio-label-content {
                        color: $cc-gray;
                    }
                }

                &.mat-radio-checked {
                    label {
                        border-color: $linkblue;
                    }
                }

                &:last-child {
                    margin-right: 0;
                }
                
                &.activepackcls {
                    .mat-radio-label {
                        .mat-radio-label-content {
                            font-weight: 600;
                            color: $linkblack;
                        }
                    }
                }
            }

        }
    }
}

.googlemainmappopup {
    .mat-dialog-title {
        @include font-regular;
        font-size: 1.25rem;
        font-weight: 500 !important;
        padding-right: 40px;

        span {
            font-size: .875rem;
            display: block;
            line-height: 1.2;
        }
    }
    .mat-dialog-content {
        padding: 0;

        .obtained-address-outer {
            padding: 20px;
            width: 100%;
            margin: 0;

            .title {
                font-weight: 600;
                display: block;
                margin-bottom: 10px;
            }
        }
        
        #pac-input {
            @include border-radius(5px);
            background: $white;
            border: 1px solid transparent;
            @include font-regular;
            font-size: 0.875rem;
            color: $cc-darkgray;
            text-overflow: ellipsis;
            height: 44px;
            padding: 10px;
            border: 1px solid $linkblue;
            @include box-shadow(0, 0, 30px, rgba(0,0,0,0.3));
            width: 230px;
            
            @include respond-to(ynw-575){
                top: 40px !important;
            }

            &:focus {
                background: $white;
                outline: none;
            }
        }
        
        .mat-accordion {
            .mat-expansion-panel {
                .mat-expansion-panel-header {
                    @include font-medium;
                }
                .mat-expansion-panel-content {
                    .mat-expansion-panel-body {
                        .googleaddresstable {
                            .googlecheckboxtd {
                                display: block;
                                padding-top: 5px;
                            }
                            .googleaddresstd {
                                padding-bottom: 5px;
                            }
                        }
                    }
                }
            }
        }
    }
    .mat-dialog-actions {
        text-align: center;
        
        .mat-button {
            text-transform: none;
            margin: 0 auto;
        }
    }
}

/* common popup class #### */

.commonpopupmainclass {
    .mat-dialog-content {
        .schedule_outer {
            font-size: .875rem;
            font-weight: 500;

            .whrs {
                margin-bottom: 20px;
                padding-left: 0;

                li {
                    display: flex;
                    align-items: center;
                    @include transition(all 300ms);
                    padding-left: 15px;
                    height: 40px;

                    .day {
                        @include font-bold;
                        color: $cc-black;
                        display: inline-block;
                        font-style: normal;
                        font-size: .875rem;
                        width: 80px;
                        margin: 0;
                    }
                    .time {
                        font-weight: 500;
                        font-style: normal;
                        color: $cc-black;
                        font-size: .875rem;
                        margin: 0;
                        width: 175px;
                    }
                    .mat-icon-button {
                        outline: none;
                        color: $linkblue;
                    }

                    &:hover {
                        background: $cc-lightgray;
                    }
                }
            }
            .bt3 {
                margin-bottom: 0;
            }

            .bt7 {
                margin-left: 5px;
            }

            .schedulesub_outer {
                background: $cc-lightgray;
                padding: 20px;

                .sch_sel_head {
                    font-size: 1rem;
                    font-weight: 600;
                    margin-bottom: 15px;
                }
                .chk-section {
                    display: flex;
                    flex-wrap: wrap;
                    margin-bottom: 20px;
                    height: auto;

                    .chk-margin {
                        margin-right: 15px;
                        margin-left: 0px;
                        margin-bottom: 10px;

                        &:nth-child(1) {
                            display: none;
                        }
                        /*&:last-child {
                            margin: 0;
                        }*/

                        .mat-checkbox-layout {
                            margin-bottom: 0;
                        }
                    }
                }
                .startendtime {
                    margin-bottom: 20px;
                    display: flex;
                    flex-wrap: wrap;
                    
                    .starttimediv, .endtimediv {
                        flex-grow: 1;
                        
                        fieldset {
                            .form-control {
                                @include border-radius(0);
                                background: $white;
                                @include font-regular;
                                font-size: 0.875rem;
                                color: $cc-darkgray;
                                text-overflow: ellipsis;

                                &:focus {
                                    @include box-shadow(0, 0, 1px, $linkblue, inset);
                                    border: 1px solid $linkblue;
                                    background: $white;
                                }
                            }
                            .ngb-tp-hour,
                            .ngb-tp-minute {
                                .btn-link {
                                    display: flex;

                                    &:first-child {
                                        .chevron {
                                            width: 16px;
                                            height: 16px;

                                            &:before {
                                                border: none;
                                                content: "\66";
                                                @include font-custom;
                                                color: $linkblue;
                                                display: flex;
                                                transform: rotate(0);
                                                font-size: 1rem;
                                                font-weight: 700;
                                                align-items: center;
                                            }
                                        }
                                    }
                                    &:last-child {
                                        .chevron.bottom {
                                            width: 16px;
                                            height: 16px;

                                            &:before {
                                                border: none;
                                                content: "\72";
                                                @include font-custom;
                                                color: $linkblue;
                                                display: flex;
                                                transform: rotate(0);
                                                font-size: 1rem;
                                                font-weight: 700;
                                            }
                                        }
                                    }
                                    &:hover,
                                    &:focus,
                                    &:active {
                                        text-decoration: none;
                                    }
                                }
                            }
                            .ngb-tp-meridian {
                                .btn-outline-primary {
                                    border-color: $linkblue;
                                    color: $linkblue;
                                    font-weight: 600;
                                    font-size: .875rem;

                                    &:hover {
                                        background: $linkblue;
                                        color: $white;
                                    }
                                    &:focus {
                                        outline: none;
                                        box-shadow: none;
                                    }
                                }
                            }
                            &:first-child {
                                margin-bottom: 15px;
                            }
                        }
                    }
                    
                    
                }
                .sts-msg {
                    margin-top: 15px;
                }
            }
        }
        .upload-doc {
            border: 2px dashed $cc-mediumgray;
            text-align: center;
            padding: 20px;
            cursor: pointer;
            @include transition(all 300ms);

            label {
                font-size: 1rem;
                color: $cc-black;
                padding: 0;
                margin-bottom: 10px;
            }

            .select-wrapper {
                margin: 0 auto;
                background: transparent;
                position: relative;
                width: 30px;
                height: 30px;
                cursor: pointer;
                
                #image_src {
                    display: none;
                }

                &:before {
                    @include font-custom;
                    content: "\4d";
                    position: absolute;
                    display: flex;
                    width: 30px;
                    height: 30px;
                    align-items: center;
                    font-size: 1.875rem;
                    cursor: pointer;
                }
            }

            &:hover {
                background: $cc-lightgray;
            }
        }
        .galul {
            margin: 0;
            padding: 0;
            display: flex;
            flex-flow: wrap;

            li {
                list-style: none;
                width: 33.3333%;
                
                @include respond-to(ynw-575) {
                    width: 50%;
                }

                .galimg_outer {
                    position: relative;
                    padding: 5px;

                    .gal_img {
                        img {
                            width: 100%;
                            height: 130px;
                            
                            @include respond-to(ynw-575) {
                                height: 100px;
                            }
                        }
                    }
                    .gal_caption {
                        input {
                            width: 100%;
                            color: $cc-black;
                            padding: 5px;
                            text-overflow: ellipsis;
                            height: 30px;

                            &:focus {
                                @include box-shadow(0, 0, 1px, $linkblue, inset);
                                border: 1px solid $linkblue;
                                background: $white;
                                outline: none;
                            }
                        }
                    }
                    .gal_action {
                        position: absolute;
                        top: 0;
                        right: 0;
                        z-index: 5;

                        button {
                            top: 5px;
                            right: 5px;
                            background: rgba(0, 0, 0, .3);
                            color: $white;
                        }
                    }
                }
            }
        }
        .sm_keydiv {
            label {
                padding: 0;
                font-size: 1rem;
                display: flex;
                align-items: center;

                i {
                    font-size: 1.875rem;
                    margin-right: 10px;

                    &.fb {
                        color: $fb;
                    }
                    &.tw {
                        color: $tw;
                    }
                    &.lkd {
                        color: $lkd;
                    }
                    &.ytb {
                        color: $ytb;
                    }
                    &.gpl {
                        color: $ytb;
                    }
                    &.pntr {
                        color: $ytb;
                    }
                }
            }
        }
    }

    .mat-dialog-actions {
        padding: 20px;
    }

    &.locationoutermainclass {
        .mat-dialog-content {
            .form-group {
                &.mapselection {
                    span {
                        display: block;
                        margin-top: 10px;
                        font-size: .75rem;
                        font-style: italic;
                        color: $cc-mediumgray;
                    }
                }
            }
        }
    }
    &.privacyoutermainclass {
        .mat-dialog-content {
            .phoneouter,
            .emailouter {
                .form-group {
                    &:nth-child(3) {
                        .mat-radio-group {
                            .mat-radio-button {
                                margin-right: 10px;
                            }
                        }
                    }
                }
            }
        }
    }

    &.confirmationmainclass {
        .mat-dialog-title {
            background: transparent;
            color: $cc-black;
        }
        .mat-dialog-content {
            p {
                margin: 0;
                font-size: 1rem;
                text-align: center;
            }
        }
        .mat-dialog-actions {
            display: flex;
            justify-content: center;
            border: none;
            padding-top: 0;
        }
    }
}