// Google Web Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700|Roboto+Slab:400,700');

// Variables

// Gray and Brand Colors for use across theme
$theme-primary: #f24949;

$black: #000;
$white: #fff;
$green: #00cc96;

// ## custom-colors
$cc-body: #f2f2f2;

$cc-formbg: #e6e6e6;

$cc-inputbg: lighten(#00aef2, 60%);
$cc-formborder : #b6cdd8;

$cc-lightgray: #f8f8f8;
$cc-mediumgray: #999999;
$cc-gray: #666;
$cc-darkgray: #4c4c4c;
$cc-detailgray: #fafafa;

$cc-black: #222223;

$cc-red: #f24949;

$cc-ash: #dbdbdb;

$cc-navyblue: #676d7c;
$cc-lightblue: #b5e8fe;

$cc-warning: #fda60d;
$cc-warning-bg: #fff5e5;
$cc-warning-border: #fee3b2;

//License Colors
$basic: #a3cdff;
$basicplus: #c499ff; 
$premium: #ffaf51;

// Dashboard action colors
$arrived: #79e688;
$start: #4de2ff;
$checkedin: #5568ff;
$done: #0edcb8;
$newbill: #ff8fb8;
$viewbill: #f2cd61;
$acceptbill: #63f2b2;

// Inbox colors
$received: #bbf7e7;
$sent: #a5e1ff;

// Home Domian BG colors
$cc-d1: #e6f9ff;
$cc-d2: #f4e9ff;
$cc-d3: #ffeceb;
$cc-d4: #fff2e6;
$cc-d5: #e9fffb;
$cc-d6: #efe9ff;
$cc-d7: #f8ffe6;

//footer-colors
$footer-gray : #26272d;
$footer-darkgray : #1c1d21;

//URLs
$linkblue: #00aef2;
$linkblack: #222223;
$hover-blue: #1873f2;

//Units

//search input height
$input-h : 50px;

//Social Media Colors
$fb: #627aac;
$tw: #5eb0fb;
$lkd: #02a2c2;
$ytb: #ef452f;
$gpl: #d93c3e;
$pntr: #b90020;

//Kiosk
$kbtn-bdr: #e9e9e9;
$kc1: #ffa449;
$kc2: #2ac59c;
$kc3: #42b9f3;

//LearnMore Plans
$metrics: rgba(0,0,0,.02);
$basic: rgba(255,255,255,.3);
$silver: rgba(0,0,0,.05);
$gold: rgba(255,213,154,.5);
$diamond: rgba(154,221,255,.5);

$lightred: #ffdddd;
















