// Google Web Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700|Roboto+Slab:400,700');

// Variables

// Gray and Brand Colors for use across theme
$theme-primary: #f24949;

$black: #000;
$white: #fff;
$green: #00cc96;

// ## custom-colors
$cc-body: #f2f2f2;

$cc-formbg: #e6e6e6;

$cc-lightgray: #f8f8f8;
$cc-mediumgray: #999999;
$cc-gray: #666;
$cc-darkgray: #4c4c4c;
$cc-detailgray: #fafafa;

$cc-black: #222223;

$cc-red: #f24949;

$cc-ash: #dbdbdb;

$cc-navyblue: #676d7c;

$cc-warning: #fda60d;
$cc-warning-bg: #fff5e5;
$cc-warning-border: #fee3b2;

$cc-d1: #e6f9ff;
$cc-d2: #f4e9ff;
$cc-d3: #ffeceb;
$cc-d4: #fff2e6;
$cc-d5: #e9fffb;
$cc-d6: #efe9ff;
$cc-d7: #f8ffe6;

//footer-colors
$footer-gray : #26272d;
$footer-darkgray : #1c1d21;

//URLs
$linkblue: #00aef2;
$linkblack: #222223;
$hover-blue: #1873f2;
$hover-blue: #1873f2;

//Units

//search input height
$input-h : 50px;

//Social Media Colors
$fb: #627aac;
$tw: #5eb0fb;
$lkd: #02a2c2;
$ytb: #ef452f;
$gpl: #d93c3e;
$pntr: #b90020;



















