<div class="text-center dialog-box-width">
  <span class="head-text" *ngIf="data.source === 'Lead'"><b>Upload files related to lead</b></span>

    <span class="head-text" *ngIf="data.source === 'Task' && data.type !== 'SubTask' "><b>Upload files related to activity</b></span>
    <span class="head-text" *ngIf="data.source === 'Task' && data.type === 'SubTask'"><b >Upload files related to subactivity</b></span>
    
</div>
<hr class="my-0 py-0">
<div class="container-fluid my-3 select-attachment" style="overflow-y: scroll!important;">
      <!-- <mat-chip-list class="btns">
        <mat-chip disableRipple > -->
          <div class="file_upload_list">
          </div>
          <div class="choose_file">
            <label for="choose_file" (click)="imagefile.click()">
              <input #imagefile
              type="file" accept="/*;capture=camera"
              style="display:none;" multiple
              (change)="filesSelected($event)"><i
              class="fa fa-paperclip mgn-rt-5"
              aria-hidden="true"></i>
              <span>Choose Files</span>
            </label>
          </div>
        <!-- </mat-chip>
       </mat-chip-list>  -->
      <ul class="galul mt-4">
        <ng-container
        *ngIf="selectedMessage.files && selectedMessage.files.length > 0">
        <li
            *ngFor="let file of selectedMessage.files;let i = index ">
            <div class="galimg_outer">
                <div class="gal_img">
                    <img [src]="getImage(selectedMessage.base64[i], file)"
                        *ngIf="selectedMessage.base64[i]">
                </div>
                <div class="gal-input">
                    <input type="text" placeholder="Caption"
                        [(ngModel)]="imgCaptions[i]"
                        [ngModelOptions]="{standalone: true}">
                </div>
                <div class="gal_action"
                    (click)="deleteTempImage(i)">
                    <i class="fa fa-times-circle"
                        aria-hidden="true"></i>
                </div>
            </div>
        </li>
    </ng-container>
      </ul>
</div>
<hr class="my-0 py-0">
<div class="my-2 text-right mb-2 mr-2">
  <button class="btn btn-warning mx-2" (click)="dialogClose()">Cancel</button>
  <button class="btn btn-primary" (click)="saveFile()">Upload</button>
</div>

