
.gal_action {
    position: absolute;
    top: -5px;
    right: -3px;
    background: rgba(0,0,0,.5);
    width: 15px;
    height: 15px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
  }
  .galimg_outer {
    list-style: none!important;
    position: relative;
    padding: 5px 10px 10px 5px;
  }
  .galul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .galul li {
    float: left;
  }
  .galimg_outer .gal_img img
  {
      width: 60px!important;
      height: 60px!important;
  }
  .gal-input input {
    width: 60px;    
    font-size: .7rem;
  }

.btn-primary
{
    background-color: #1E4079!important;
    border-color: #1E4079!important;
    color: #fff!important;
    font-weight: normal!important;
}



.wrapper{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 500px;
	background: #fff;
}

.title{
	background: #f3f4f8;
	padding: 15px;
	font-size: 18px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 3px;
}
.file_upload_list li .file_item{
	display: flex;
	border-bottom: 1px solid #f3f4f8;
    padding: 15px 20px;
}
.file_item .format{
	background: #1E4079;	border-radius: 10px;
	width: 45px;
	height: 40px;
	line-height: 40px;
	color: #fff;
	text-align: center;
	font-size: 12px;
	margin-right: 15px;
}

.file_item .file_progress{
	width: calc(100% - 60px);
	font-size: 14px;
}

.file_item .file_info,
.file_item .file_size_wrap{
	display: flex;
	align-items: center;
}
.file_item .file_info{
	justify-content: space-between;
}
.file_item .file_progress .progress{
	width: 100%;
	height: 4px;
	background: #efefef;
	overflow: hidden;
	border-radius: 5px;
	margin-top: 8px;
	position: relative;
}

.file_item .file_progress .progress .inner_progress{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #58e380;
}
.file_item .file_size_wrap .file_size{
	margin-right: 15px;
}
.file_item .file_size_wrap .file_close{
	border: 1px solid #1E4079;
	color: #1E4079;
	width: 20px;
	height: 20px;
	line-height: 18px;
	text-align: center;
	border-radius: 50%;
	font-size: 10px;
	font-weight: bold;
	cursor: pointer;
}

.file_item .file_size_wrap .file_close:hover{
	background: #1E4079;
	color: #fff;
}

.choose_file label{
	display: block;
	border: 2px dashed #1E4079;
	padding: 15px;
	width: calc(100% - 20px);
	margin: 10px;
	text-align: center;
	cursor: pointer;
    list-style-type: none!important;
    text-decoration: none!important;
}
.choose_file #choose_file{
	outline: none;
	opacity: 0;
    width: 0;
}
.choose_file span{
	font-size: 14px;
	color: #1E4079;
}

.choose_file label:hover span{
	text-decoration: underline;
}

.fa-paperclip
{
    color: #1E4079!important;
}

.dialog-box-width
{
    margin: 10px 150px!important;
}

@media(max-width: 600px){
    .dialog-box-width
    {
        margin: 10px 40px!important;
    }

  }
