
.gal_action {
    position: absolute;
    top: -5px;
    right: -3px;
    background: rgba(0,0,0,.5);
    width: 15px;
    height: 15px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
  }
  .galimg_outer {
    list-style: none!important;
    position: relative;
    padding: 5px 10px 10px 5px;
  }
  .galul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .galul li {
    float: left;
  }
  .galimg_outer .gal_img img
  {
      width: 80px!important;
      height: 80px!important;
  }
  .gal-input input {
    width: 80px;    
    font-size: .7rem;
  }

.btn .btn-primary
{
    width: 300px!important;
    color: #1E4079!important;
    background-color: #fff!important;
    text-align: left!important;
}
