<h1 class="mat-dialog-title">{{your_cap}} {{checkinLabel}} {{at_cap}} {{this.data.locName | capitalizeFirst}}
    <button #queue [mat-dialog-close]="changeOccured" class="modal_close" tabindex="-1">
        <i class="fa fa-window-close" aria-hidden="true"></i>
    </button>
</h1>

<mat-dialog-content>
    <div class="c-checkin" *ngIf="loc.length>0">
        <div class="table-outer d-tbl">
            <table class="table">
                <thead>
                    <tr>
                        <!-- <th *ngIf="!batchEnabled && tokenenabled">{{token_no}}</th>
                        <th *ngIf="batchEnabled">Batch</th> -->
                        <th *ngIf="tokenenabled">{{token_no}}</th>
                        <th>{{service_cap}}</th>
                        <th>{{for_cap}}</th>
                        <th>{{scheduled_on_cap}}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let chkin of loc">
                        <td class="chk-service" data-title="Batch" *ngIf="chkin.token">{{chkin.token}}</td>
                        <!-- <td class="chk-service" data-title="Batch" *ngIf="!chkin.batchName && chkin.token">{{chkin.token}}</td>
                        <td class="chk-service" data-title="Service" *ngIf="chkin.batchName">{{chkin.batchName}}</td> -->
                        <td class="chk-service" data-title="Service">{{chkin.service.name | capitalizeFirst}}</td>
                        <td class="chk-service" data-title="For">
                            {{getWaitlistingFor(chkin.waitlistingFor) | capitalizeFirst}}</td>
                        <td class="chk-service" data-title="Time">
                            <div class="schedulediv"><span class="schedule">{{getDateDisplay(chkin.date)}}</span>
                                <ng-container *ngIf="chkin.serviceTime != undefined">, <span
                                        class="est-time">{{chkin.serviceTime}}</span></ng-container>
                                <ng-container
                                    *ngIf="chkin.serviceTime == undefined && chkin.appxWaitingTime != undefined">,
                                    {{estimateCaption}} <span class="est-time">{{chkin.appxWaitingTime}}
                                        {{mins_cap}}</span></ng-container>
                            </div>
                        </td>
                        <td class="chk-cancel" (click)="confirmCancelChecin(chkin)"
                            [matTooltip]="'Cancel ' + checkinLabel "><span class="icon-delete"></span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="c-checkin-blank" *ngIf="loc.length==0">
        {{no_cap}} {{checkinLabel}} {{exists_at_cap}} {{this.data.locName | capitalizeFirst}}
    </div>
</mat-dialog-content>

<mat-dialog-actions>
    <button type="button" [mat-dialog-close]="changeOccured" class="cs-btn bt2">{{close_btn_cap}}</button>
</mat-dialog-actions>

<app-field-error-display [displayError]="true" *ngIf="api_error" errorMsg="{{api_error}}"></app-field-error-display>

<app-form-success-display [displayMsg]="true" *ngIf="api_success" successMsg="{{api_success}}">
</app-form-success-display>
