
  <!-- <h1 class="mat-dialog-title">
    <button #locte mat-dialog-close class="modal_close" tabindex="-1">
      <i class="fa fa-window-close" aria-hidden="true"></i>
    </button>
  </h1> -->
  <div class="col-md-12 locate-customer" mat-dialog-content>
    <p> {{locationMessage}} </p>
    <button type="button" class="cs-btn bt1 small-btn" (click)="closeDialog()">Ok</button>
  </div>

  <!-- <mat-dialog-content>
    <div class="col-md-12 col-xs-12 col-sm-12 mgn-bt-10">
     {{locationMessage}}
      </div>
  </mat-dialog-content> -->
  


  

