.c-checkin-new .lnk a {
  color: #1572a8 !important;
}
.border-rt {
  border-right: 1px solid #ccc !important;
}
.c-checkin-new .lnk a {
  color: #1572a8 !important;
}
.c-checkin-new .lnk {
  font-size: 1rem !important;
  font-weight: 700 !important;
}
.c-checkin-new .lnk.action {
  font-size: 0.8rem !important;
}
.cancel-btn {
  background: white !important;
  color: #334b99 !important;
  border: 1px solid #334b99 !important;
  height: 40px;
  width: 90%;
  max-width: 310px;
  overflow: hidden;
  text-align: center;
  box-sizing: border-box;
  transition: all .3s ease;
  cursor: pointer;
  padding: 7px !important;
  border-radius: 20px !important;
  font-size: 1.1rem !important;
  font-weight: 500;
}
.border-tp {
  border-top: 1px solid #ccc !important;
} 
@media (min-width: 992px) {
  .c-checkin-new .check-new-group {
    min-height: 200px;
  }
}
.checkin-btn-bp span {
  font-size: 1.1rem !important;
}