.booking-card.card.service, .booking-card.card.user {
    width: 100% !important;
    font-weight: 400 !important;
    border: 0 !important;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
    margin: auto !important;
    overflow: hidden !important;
    height: 180px !important;
    max-width: 180px !important;
    min-width: 160px !important;
}
.booking-card.card.order {
    width: 100% !important;
    font-weight: 400 !important;
    border: 0 !important;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
    margin: auto !important;
    overflow: hidden !important;
}
@media(min-width: 700px) {
    .booking-card.card.order{
        max-width: 250px !important;
        min-width: 230px !important;
    }
  }

.booking-card.card p {
    font-size: 13px !important;
    line-height: 1.5 !important;
    margin: 0 0 5px !important;
}
.booking-card.card.order p {
font-weight: 500;
}

.booking-card-user .card-item-title {
    height: 100px !important;
    width: 100% !important;
}

@media(max-width: 992px) and (min-width: 375px) {
    .booking-card.card {
        margin-top: 10px !important;
    }
}

.booking-card.card {
    padding: 5px !important;
    position: relative !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
    min-width: 0 !important;
    word-wrap: break-word !important;
    background-color: #fff !important;
    background-clip: border-box !important;
    border: 1px solid rgba(0, 0, 0, 0.125) !important;
    border-radius: .25rem !important;
}

.booking-card .view {
    position: relative !important;
    overflow: hidden !important;
    cursor: default !important;
}

/* .booking-card .card-img, .booking-card .card-img-top {
    border-top-left-radius: calc(0.25rem - 1px) !important;
    border-top-right-radius: calc(0.25rem - 1px) !important;
} */

.booking-card .card-img, .booking-card .card-img-top, .booking-card .card-img-bottom {
    -ms-flex-negative: 0 !important;
    flex-shrink: 0 !important;
    width: 100% !important;
}

.booking-card .overlay .mask {
    opacity: 0 !important;
    -webkit-transition: all .4s ease-in-out !important;
    transition: all .4s ease-in-out !important;
}

.booking-card .view .mask {
    position: absolute !important;
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    overflow: hidden !important;
    background-attachment: fixed !important;
}

.booking-card .rgba-white-slight, .rgba-white-slight:after {
    background-color: rgba(255, 255, 255, 0.1) !important;
}

.booking-card .card-body {
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important;
    border-radius: 0 !important;
}

.booking-card .card-body {
    -ms-flex: 1 1 auto !important;
    flex: 1 1 auto !important;
    min-height: 1px !important;
    padding: 0.25rem !important;
}

.booking-card .card .card-body h1, .booking-card .card .card-body h2, .booking-card .card .card-body h3, .booking-card .card .card-body h4, .booking-card .card .card-body h5, .booking-card.card .card-body h6 {
    font-weight: 400 !important;
}

.booking-card .font-weight-bold {
    font-weight: 700 !important;
}

.booking-card .card-title {
    height: 45px !important;
    line-height: 1.25 !important;
    margin-bottom: 0 !important;
}

/* .booking-card.card.order .card-title {
    height: 100px !important;
} */

.booking-card .card .card-body .card-title a {
    -webkit-transition: .2s ease-in-out !important;
    transition: .2s ease-in-out !important;
}

.booking-card .card.booking-card .rating {
    font-size: .7rem !important;
}

.booking-card .rating {
    padding: 0 !important;
    color: #ffa000 !important;
    list-style-type: none !important;
}

.booking-card .card .card-body .card-text {
    font-size: .9rem !important;
    font-weight: 400 !important;
    color: #747373 !important;
}

.booking-card .lead {
    font-size: 1.25rem !important;
    font-weight: 300 !important;
}

.booking-card .deep-purple-text {
    color: #673ab7 !important;
}

.more-act {
    font-size: 1.25rem !important;
    margin-top: -10px !important;
}

@media(max-width: 992px) {
    .more-act {
        margin-top: -5px !important;
    }
}

.more-act:hover {
    border-radius: 20px !important;
    padding: 5px!important;
    background-color: #eee !important;
}

.booking-card .card-footer {
    height: 50px !important;
}

.booking-card .card-content {
    height: 80px !important;
}

.booking-card .meet-icon, .booking-card .phon-icon {
    width: 20px !important;
}

.booking-card .module {
    margin: 0 0 1em 0;
    overflow: hidden !important;
}

.booking-card .line-clamp {
    display: -webkit-box !important;
    -webkit-line-clamp: 2 !important;
    -webkit-box-orient: vertical !important;
}

.booking-card.card.order .module1 {
    /* margin: 0 0 1em 0; */
    overflow: hidden !important;
}

.booking-card.card.order .line-clamp1 {
    display: -webkit-box !important;
    -webkit-line-clamp: 1 !important;
    -webkit-box-orient: vertical !important;
}

.booking-card .card-head {
    margin-bottom: 1rem !important;
    height: 40px !important;
}

.pl-0 {
    padding-left: 0 !important;
}

.pb-0 {
    padding-bottom: 0 !important;
}

.pt-0 {
    padding-top: 0 !important;
}

.booking-card:hover {
    background-color: #f8f8f8 !important;
}

.booking-card .card-item-head {
    height: 100px !important;
    align-self: center !important;
}

.booking-card.card.order .card-item-head {
    height: 140px !important;
    width: 100% !important;
}

.booking-card .card-item-content {
    height: 75px !important;
    margin-top: 15px;
    text-align: center;
    display: table;
    width: 100%;
}

.booking-card.card.order .card-item-content {
    text-align: left !important;
}

/* .booking-card.card.order .card-item-content h4 a{
    padding-left:10px !important;
} */

.booking-card.card.order .card-item-content h4 a.name {
    overflow: hidden !important;
}

.booking-card.card.order .card-item-content h4 a.price {
    font-size: 1rem !important;
}

.strikeMe {
    text-decoration: line-through !important;
    color: #aaa !important;
    font-size: 0.85rem !important;
}

.booking-card.card.order .card-item-content {
    height: 75px !important;
    margin-top: 10px;
}

.booking-card.card.order .card-item-content .btn-lt button, .booking-card.card.order .card-item-content .btn-rt button {
    font-size: 1.25rem;
    padding-left: 7px;
    padding-right: 7px;
    background-color: #fff !important;
    border-color: #ddd !important;
    border: 1px solid;
}

/* .booking-card.card.order .card-item-content .btn-lt, .booking-card.card.order .card-item-content .btn-rt {
    width: 35px;
    height: 35px;
} */

.booking-card.card.order .card-item-content .btn-lt button {
    border-top-left-radius: 20px 20px;
    border-bottom-left-radius: 20px 20px;
    /* padding-left: 13px !important; */
}

.booking-card.card.order .card-item-content .btn-rt button {
    border-top-right-radius: 20px 20px;
    border-bottom-right-radius: 20px 20px;
    /* padding-right: 13px !important; */
}

.booking-card.card.order .card-item-content .count-o {
    width: 35px !important;
    height: 32px !important;
    border: 1px solid #ddd !important;
    padding-top: 5px !important;
    text-align: center !important;
    font-size: .8rem !important;
}

.booking-card.card.order .card-img, .booking-card.card.order .card-img-top {
    border-top-left-radius: calc(0.25rem - 1px) !important;
    border-top-right-radius: calc(0.25rem - 1px) !important;
    height: 140px !important;
    object-fit: cover !important;
}
.booking-card .card-item-content h4 {
    display: table-cell;
    vertical-align: middle
}

.booking-card-user .card-img, .booking-card-user .card-img-top {
    /* border-top-left-radius: calc(0.25rem - 1px) !important;
    border-top-right-radius: calc(0.25rem - 1px) !important; */
    /* height: 100px !important;
    max-width: 100px !important; */
    width: 90px !important;
    height: 90px;
    border: 1px solid #ddd;
    margin-top: 10px;
    vertical-align: middle;
}

.booking-card h4.card-title a {
    color: #191d96 !important;
}

.orange {
    color: orange !important;
}

.pad-lt-25 {
    padding-left: 25px !important;
}

@media(max-width:575px) {
    .booking-card.card.order .card-item-content .count-o {
        height: 29px !important;
    }
    .booking-card.card.order .card-item-content .btn-lt button {
        padding-left: 15px !important;
    }
}
.booking-card.head .card-item-head{
    text-align: center !important;
}
.booking-card.head .card-item-head .card-img{
    object-fit: scale-down !important;
}
button.fxmenu {
    position: absolute;
    right: 20px;
    border-radius: 100%;
    background: white;
    padding: 2px 5px 0px 5px;
    text-align: center;
}
.booking-card.card.order.disabled {
    opacity: .4 !important;
    /* pointer-events: none !important; */
}
.outstock{
    display: flex;
    justify-content: center;
    align-items: center;
}
.disabled .btn-rt, .disabled.count-o, .disabled .btn-lt{
    pointer-events: none !important;
}
.ribbon {
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: absolute;
  }
  .ribbon::before,
  .ribbon::after {
    position: absolute;
    z-index: -1;
    content: '';
    display: block;
    border: 5px solid #2980b9;
  }
  .ribbon span {
    position: absolute;
    display: block;
    width: 200px;
    padding: 5px 0;
    background-color: darkred;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    color: #fff;
    font-size: small;
    text-shadow: 0 1px 1px rgba(0,0,0,.2);
    text-transform: uppercase;
    text-align: center;
  }
  /* top right*/
.ribbon-top-right {
    top: -10px;
    right: -10px;
  }
  .ribbon-top-right::before,
  .ribbon-top-right::after {
    border-top-color: transparent;
    border-right-color: transparent;
  }
  .ribbon-top-right::before {
    top: 0;
    left: 0;
  }
  .ribbon-top-right::after {
    bottom: 0;
    right: 0;
  }
  .ribbon-top-right span {
    /* left: -25px; */
    top: 30px;
    transform: rotate(45deg);
  }
  