<!-- Card -->
<div class="card booking-card pointer-cursor service" *ngIf="(service && service.serviceAvailability) || item.type=='donation'"
    (click)="cardActionPerformed(item.type, null, service, loc, null, $event)">
    <!-- Card content -->
    <div class="card-body">
        <!-- Title -->
        <div class="card-head">
            <div class="col-xs-2 text-center no-padding m0 "
                *ngIf="service.serviceType && service.serviceType == 'virtualService'">
                <i class="fa phon-icon"
                    *ngIf="service.virtualCallingModes && service.virtualCallingModes.length > 0 && service.virtualCallingModes[0].callingMode === 'Phone'"></i>
                <i class="fa meet-icon"
                    *ngIf="service.virtualCallingModes && service.virtualCallingModes.length > 0 && service.virtualCallingModes[0].callingMode === 'GoogleMeet'"></i>
                <i class="fa zoom-icon"
                    *ngIf="service.virtualCallingModes && service.virtualCallingModes.length > 0 && service.virtualCallingModes[0].callingMode === 'Zoom'"></i>
                <i class="fa wtsapaud-icon"
                    *ngIf="service.virtualCallingModes && service.virtualCallingModes.length > 0 && service.virtualCallingModes[0].callingMode === 'WhatsApp' && service.virtualServiceType ==='audioService'"></i>
                <i class="fa wtsapvid-icon"
                    *ngIf="service.virtualCallingModes && service.virtualCallingModes.length > 0 && service.virtualCallingModes[0].callingMode === 'WhatsApp' && service.virtualServiceType ==='videoService'"></i>
            </div>
            <div class="module line-clamp"
                [ngClass]="{'col-xs-10 no-padding':service.serviceType && service.serviceType == 'virtualService'}">
                <h4 class="card-title font-weight-bold">
                    <a>{{service.name | capitalizeFirst | limitTo: [35, '...']}}</a></h4>
            </div>
        </div>
        <div class="card-content">
            <p class="card-text" *ngIf="item.type=='donation'">
                <span class="rupee-font bold">{{service.minDonationAmount| currency:'&#8377;'}}</span>
                To
                <span class="rupee-font bold">{{service.maxDonationAmount| currency:'&#8377;'}}</span>
            </p>
            <p class="card-text" *ngIf="personsAheadText">{{personsAheadText}}</p>
            <p class="card-text" *ngIf="timings">{{timingCaption}}
                <br /><b>{{timings}}</b>
            </p>
        </div>
        <div class="card-footer">
            <a class="btn btn-flat p-1 mx-0 mb-0 pl-0"
                [ngClass]="{'deep-purple-text':item.type=='appt','blue':item.type=='waitlist','orange':item.type=='donation'}">{{buttonCaption}}</a>
            <a (click)="cardActionPerformed(item.type, 'view', service, loc, null, $event)"
                class="btn btn-flat deep-purple-text p-1 pointer-cursor mx-0 mb-0 pull-right more-act">...</a>
        </div>
    </div>
</div>
<div class="card booking-card pointer-cursor order" *ngIf="item.type=='catalog' || item.type=='item'" (click)="cardActionPerformed(item.type, 'view', item, loc, null, $event)">
    <div class="card-item-head" *ngIf="service.itemImages">
        <img class="card-img img-responsive" [src]="service.itemImages[0].thumbUrl" alt="Profile Pic" />
    </div>
    <div class="card-item-content">
        <h4 class="card-title font-weight-bold d-block">
            <a class="d-block name module1 line-clamp1">{{service.displayName}}</a>
            <p class="module1 line-clamp1">{{service.itemDesc}}</p>
        </h4>
        <div class="col-md-12 no-padding">
            <!-- <div class="col-md-5 no-padding">

            </div> -->
            <div class="col-md-12 no-padding">
                <a class="price rupee-font pull-left"><span *ngIf="service.showPromotionalPrice" class="mgn-lt-5 strikeMe">&#8377;{{service.price}}</span><span>&#8377;{{service.showPromotionalPrice?service.promotionalPrice: service.price}}</span> </a>
                <div class="btn-rt pull-right">
                    <button (click)="cardActionPerformed(item.type, 'add', item, loc, null, $event)">+</button>
                </div>
                <div class="count-o pull-right">
                    {{getItemQty(item)}}
                </div>
                <div class="btn-lt pull-right">
                    <button (click)="cardActionPerformed(item.type, 'remove', item, loc, null, $event)">-</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card booking-card booking-card-user pointer-cursor user" *ngIf="item.type==='provider'"
    (click)="cardActionPerformed(item.type, null, null, null, user.id, $event)">
    <div class="card-item-head">
        <img class="card-img img-circle img-responsive" [src]="getPic(user)" alt="Profile Pic">
    </div>
    <div class="card-item-content">
        <h4 class="card-title font-weight-bold module line-clamp">
            <a *ngIf="user.businessName">{{user.businessName}}</a>
            <a
                *ngIf="!user.businessName && user.firstName && user.firstName!='undefined'">{{user.firstName | capitalizeFirst}}</a>
            <a
                *ngIf="!user.businessName && user.lastName && user.lastName!='undefined'">&nbsp;{{user.lastName | capitalizeFirst}}</a>
        </h4>
    </div>
</div>
<!-- Card -->
