.yourProfile {

}
.yourProfile .coverFotoBorder {
    width:100%;
    background: #3f51b50d;
    border-radius: 5px;
    height: 220px;
}
.yourProfile .mgn-center {
    margin-left: auto !important;
    margin-right: auto !important;
}
.yourProfile .edit-txt {
    float: right;
    font-size: 0.8rem;
    color: #00c0ef;
    font-weight: 600;
}
.yourProfile .sub-heads {
    font-size: 1rem !important;
    font-weight: 600 !important;
}
.yourProfile .busns-name {
    font-size: 2rem;
    color: #337ab7;
    text-align: center;
    font-weight: 600;
}
.yourProfile .pad-10 {
    padding:10px;
}
.yourProfile .bus-desc {
    font-size: 0.9rem;
    text-align: justify;
}
.yourProfile .abt-you-box {
    /* background: #3c8dbc0d; */
    /* box-shadow: 0 0 3px rgba(0, 0, 0, 0.5) !important; */
    border-top: 1px solid #80808059;
    border-bottom: 1px solid #80808059;
}
.yourProfile share-button button {
    font-size: 12px !important;
}
.yourProfile .camera-outline {
    bottom: 35px;
    right: 36px;
    transform: translate(50%, 50%);
    position: absolute;
    opacity: 100px;
    border: 2px solid white;
    border-radius: 90px;
    background: #e4e6eb;
    min-width: 30px;
}
.yourProfile .coverFotoBorder .edit-cover {
    border: 2px solid white;
    border-radius: 9px;
    position: absolute;
    z-index: 2;
    padding-left: 10px;
    background: rgb(228 230 235);
    box-sizing: border-box;
    right: 30px;
    margin-top: 170px;
    height: 35px;
    color: black;
}
.yourProfile .coverFotoBorder .edit-cover-small {
    border: 2px solid white;
    border-radius: 50px;
    position: absolute;
    z-index: 2;
    padding-left: 6px;
    background: rgb(228 230 235);
    right: 30px;
    margin-top: 170px;
    height: 35px;
}
.yourProfile .edit-cover-small .propic-cam-icon {
    width: 14px !important;
}
.yourProfile .mgn-top-m3{
    margin-top: -3px;
}
.yourProfile .disp-flex {
    display: flex;
}
.yourProfile .dwnld-icon {
    font-size: 1.2rem;
    margin-left: 10px;
    margin-top: 10px;
    color: #2196F3;
}
.yourProfile .dwnld-bdr {
    margin-top: 4px;
    /* font-size: 1rem; */
    color: #2196F3;
    background: #00ffff3b;
    border-radius: 100px;
    height: 40px;
    min-width: 40px;
    margin-left: 10px;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 
    0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
}
.yourProfile .txt-center {
    text-align: center;
}
@media (max-width: 595px) {
    .yourProfile  .camera-outline {
        bottom: 20px !important;
        right: 35px !important;
    }
}
@media (max-width: 575px) {
    .yourProfile .content .col-a .card.w-dta.active .cd-t .basic-i .bi-l .pro-pic .pro-pic-img img {
        width: 120px !important;
        height: 120px !important;
    }
    .yourProfile .pro-pic-bdr {
        margin-top: 60px !important;
    }
}
.yourProfile .all_disabled {
    background: #9e9e9e6e !important;
    cursor: not-allowed !important;
    opacity: 0.2;
    pointer-events: none !important;
}
.yourProfile .incomplete-msg {
    position: absolute;
    font-weight: 600;
    font-size: 1rem;
    z-index: 4;
    width: 100%;
    text-align: center;
    margin-top: 60px;
    color: red;
    right: 0px;
}
.yourProfile .bar-wdth {
    width: 50%;
}
.yourProfile .no-shadow {
    box-shadow: none !important;
}

@media (min-width: 360px) and (max-width: 770px) {
  .smal-device-wt {
        margin-left: auto !important;
        margin-right: auto !important; 
        inline-size: fit-content;
    }
}
@media screen and (max-width: 770px) {
    .yourProfile .prof-url {
        text-align: center !important;
    }
}
@media (min-width: 461px) {
    .yourProfile .coverFotoBorder .edit-cover-small {
        display: none !important;
    }
}
.yourProfile .no-padding-up {
    padding-top: 0 !important;
}
.yourProfile .cover-bg {
    background-size: cover;
    /* background-repeat: round; */
}
@media screen and (max-width: 330px) {
    .yourProfile .cover-bg {
        background-size: cover !important;
    }
}
.yourProfile .pro-pic-bdr {
    border: 4px solid white;
}
.yourProfile .pro-pic-div {
    position: absolute;
    width: 90%;
    border-bottom: none;
    margin-top: 60px;
}
@media (max-width: 460px) {
    .yourProfile .coverFotoBorder .edit-cover {
        display: none !important;
    }
}