<!-- <h1 class="mat-dialog-title">   Add Notes  For
  <button #locte mat-dialog-close class="modal_close" tabindex="-1">
    <i class="fa fa-window-close" aria-hidden="true"></i>
  </button>
</h1> -->
<mat-dialog-content class="txt-area-msg">
  <!-- <textarea  readonly  rows="5" class="col-md-12 col-sm-12 col-xs-12">
      {{notes}}
  </textarea> -->
  <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xs-12 no-padding">
    <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xs-4 no-padding">
      <img class="img-msg" src="assets/images/order/chat.svg" alt="messsage">
    </div>
    <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8 col-xs-8 mgn-bt-10">
      <mat-form-field>
        <textarea matInput rows="6">
          {{notes}}
          </textarea>
      </mat-form-field>
      <div class="disp-flex">
        <button class="cancel-btn" (click)="closeDialog()">Cancel</button> &nbsp;&nbsp;&nbsp;
        <button class="snd-btn">Add</button>
      </div>
    </div>
  </div>

</mat-dialog-content>
<!-- 
<mat-dialog-actions>

  <button type="button" class="cs-btn bt1 small-btn" (click)="closeDialog()">Close</button>
</mat-dialog-actions> -->