
.coupon {
    border: 5px dotted rgb(233, 230, 230);
    border-radius: 15px;
    max-width: 100%;
}
.coupon-container {
    padding: 3px 16px;
    background-color:white;
}
.expire {
    color: red;
}
.tnc{
    margin-left: 40%;
    text-align: right;
}
.code{
    border: 1px solid #666;
}
.help{
    margin-bottom: 3px;
    color: #999;
    font-size: .75rem;
    font-weight: 600;
    padding-left: 30px;
}