<h1 class="mat-dialog-title">Coupons List
  <button #queue mat-dialog-close class="modal_close" tabindex="-1">
    <i class="fa fa-window-close" aria-hidden="true"></i>
  </button>
</h1>

<mat-dialog-content>
  <div class="coupon">
    <div class="coupon-container" style="background-color:white">
      <h6><b>20% OFF YOUR PURCHASE</b></h6>
      <div>Lorem ipsum dolor sit amet, et nam pertinax gloriatur. Sea te minim soleat senserit, ex quo luptatum
        tacimates voluptatum, salutandi delicatissimi eam ea. In sed nullam laboramus appellantur, mei ei omnis dolorem
        mnesarchum.</div>
    </div>
    <div class="coupon-container">
      <div>Use Promo Code: <span class="promo">BOH232</span></div>
      <div class="expire">Expires: Jan 03, 2017</div>
    </div>
  </div>
  <div class="coupon">
    <div class="coupon-container" style="background-color:white">
      <h6><b>20% OFF YOUR PURCHASE</b></h6>
      <div>Lorem ipsum dolor sit amet, et nam pertinax gloriatur. Sea te minim soleat senserit, ex quo luptatum
        tacimates voluptatum, salutandi delicatissimi eam ea. In sed nullam laboramus appellantur, mei ei omnis dolorem
        mnesarchum.</div>
    </div>
    <div class="coupon-container">
      <div>Use Promo Code: <span class="promo">BOH232</span></div>
      <div class="expire">Expires: Jan 03, 2017</div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button type="button" mat-dialog-close class="cs-btn bt2">Close</button>
</mat-dialog-actions>