
.coupon {
    border: 5px dotted rgb(233, 230, 230);
    border-radius: 15px;
    max-width: 100%;
}
.coupon-container {
    padding: 3px 16px;
    background-color:white;
}
.expire {
    color: red;
}
.code{
    margin-left: 40%;
    text-align: right;
}
