
.coupon {
    border: 5px dotted rgb(233, 230, 230);
    border-radius: 15px;
    max-width: 100%;
}
.coupon-container {
    padding: 3px 16px;
    background-color:white;
}
.expire {
    color: red;
}
.tnc{
    width: 20%;
    text-align: right;
}
.code{
    border: 1px solid #666;
}
.help{
    margin-bottom: 3px;
    color: #999;
    font-size: .75rem;
    font-weight: 600;
    padding-left: 30px;
}
.coupon_validity{
    width: 80%;
}
.bluefont{
color:blue;
}
.mat-dialog-title.coupon-title {
    background-color: #00183a !important;
    color: white !important;
    font-weight: 500 !important;
    font-size: 18px !important;
}

@media (max-width: 575px) {
    .mat-dialog-title.coupon-title {
        font-size: 16px !important;
    }   
}

.mat-dialog-title.coupon-title button.modal_close {
    color: white !important;
}

.mat-dialog-title.coupon-title button.modal_close i {
    display: inline-block !important;
}

@media (max-width: 575px) {
    .mat-dialog-title.coupon-title button.modal_close i {
        margin-top: 0 !important;
    }
}

mat-dialog-content .coupon {
    overflow: hidden !important;
    border-radius: 8px !important;
    border: 0.1px solid #ddd !important;
    box-shadow: rgb(50 50 93 / 25%) 0px 2px 5px -1px, rgb(0 0 0 / 30%) 0px 1px 3px -1px !important;
}

mat-dialog-content .coupon .coupon-container {
    padding: 16px !important;
}

mat-dialog-content .coupon h6.coupon-name {
    font-size: 20px !important;
    color: darkslategrey !important;
    font-family: Helvetica, sans-serif !important;
}

@media (max-width: 575px) {
    mat-dialog-content .coupon h6.coupon-name {
        font-size: 18px !important;
    }
}

mat-dialog-content .coupon .coupon-desc {
    color: #555 !important;
    font-weight: 700 !important;
    font-family: Helvatica, sans-serif !important;
    font-size: 15px !important;
    padding-bottom: 8px !important;
}

@media (max-width: 575px) {
    mat-dialog-content .coupon .coupon-desc {
        font-size: 13.5px !important;
    }
}

mat-dialog-content .coupon .t-and-c,
mat-dialog-content .coupon .coupon-valid-through,
mat-dialog-content .coupon .coupon-main {
    display: flex !important;
    padding-bottom: 6px !important;
}

@media (max-width: 450px) {
    mat-dialog-content .coupon .coupon-main {
        flex-direction: column !important;
    }
}

mat-dialog-content .coupon .coupon-main > div:nth-child(1) {
    flex: 1 !important;
}

@media (max-width: 450px) {
    mat-dialog-content .coupon .coupon-main > div:nth-child(1) {
        padding-bottom: 6px !important;
    }
}

mat-dialog-content .coupon .coupon-main > div:nth-child(1) > div {
    display: flex !important;
}

mat-dialog-content .coupon .t-and-c .t-and-c-title,
mat-dialog-content .coupon .coupon-valid-through .coupon-valid-through-title,
mat-dialog-content .coupon .coupon-main .coupon-discount-title {
    font-family: Helvatica, sans-serif !important;
    color: #888 !important;
    font-size: 15px !important;
}

mat-dialog-content .coupon .t-and-c .t-and-c-text,
mat-dialog-content .coupon .coupon-valid-through .coupon-valid-through-text,
mat-dialog-content .coupon .coupon-main .coupon-discount-text {
    flex: 1 !important;
    font-family: Helvatica, sans-serif !important;
    font-weight: 700 !important;
    color: #555 !important;
    font-size: 15px !important;
    text-align: justify !important;
}

mat-dialog-content .coupon .coupon-valid-through .coupon-valid-through-text div {
    display: inline-block !important;
    font-family: Helvatica, sans-serif !important;
    font-weight: 700 !important;
    color: #555 !important;
    font-size: 15px !important;
    text-align: justify !important;
}

mat-dialog-content .coupon .coupon-main .coupon-discount-text i {
    color: #555 !important;
    font-weight: 700 !important;
    font-size: 15px !important;
}

@media (max-width: 575px) {
    mat-dialog-content .coupon .t-and-c .t-and-c-title,
    mat-dialog-content .coupon .coupon-valid-through .coupon-valid-through-title,
    mat-dialog-content .coupon .coupon-main .coupon-discount-title {
        font-size: 13.5px !important;
    }

    mat-dialog-content .coupon .t-and-c .t-and-c-text,
    mat-dialog-content .coupon .coupon-valid-through .coupon-valid-through-text,
    mat-dialog-content .coupon .coupon-main .coupon-discount-text {
        font-size: 13.5px !important;
    }

    mat-dialog-content .coupon .coupon-valid-through .coupon-valid-through-text div {
        font-size: 13.5px !important;
    }

    mat-dialog-content .coupon .coupon-valid-through .coupon-valid-through-text,
    mat-dialog-content .coupon .coupon-valid-through .coupon-valid-through-text div {
        text-align: left !important;
    }

    mat-dialog-content .coupon .coupon-main .coupon-discount-text i {
        font-size: 13.5px !important;
    }
}

@media (max-width: 375px) {
    mat-dialog-content .coupon .coupon-valid-through .coupon-valid-through-text,
    mat-dialog-content .coupon .coupon-valid-through .coupon-valid-through-text div {
        text-align: left !important;
    }
}

mat-dialog-content .coupon .coupon-main > div:nth-child(2) {
    display: flex !important;
    width: 180px !important;
    padding: 5px 8px !important;
    background-color: #f2f5fa !important;
    border-radius: 10px !important;
    box-shadow: rgb(50 50 93 / 25%) 0px 2px 5px -1px, rgb(0 0 0 / 30%) 0px 1px 3px -1px !important;
}

@media (max-width: 750px) {
    mat-dialog-content .coupon .coupon-main > div:nth-child(2) {
        width: 150px !important;
    }
}

@media (max-width: 575px) {
    mat-dialog-content .coupon .coupon-main > div:nth-child(2) {
        width: 125px !important;
    }
}

@media (max-width: 450px) {
    mat-dialog-content .coupon .coupon-main > div:nth-child(2) {
        align-self: flex-end !important;
        width: 150px !important;
    }
}

@media (max-width: 375px) {
    mat-dialog-content .coupon .coupon-main > div:nth-child(2) {
        min-width: 100% !important;
        width: 125px !important;
    }
}

mat-dialog-content .coupon .coupon-main > div:nth-child(2) > div:nth-child(1) {
    flex: 1 !important;
    font-size: 18px !important;
    font-family: Helvatica, sans-serif !important;
    font-weight: 700 !important;
    color: #213b6b !important;
    overflow: hidden !important;
    white-space: nowrap !important;
    text-overflow: ellipsis !important;
}

mat-dialog-content .coupon .coupon-main > div:nth-child(2) > div:nth-child(2) {
    display: flex !important;
    align-items: center !important;
    justify-content: flex-end !important;
    width: 25px !important;
}

mat-dialog-content .coupon .coupon-main > div:nth-child(2) > div:nth-child(2) i {
    font-size: 18px !important;
    font-weight: 700 !important;
    color: #213b6b !important;
}

@media (max-width: 575px) {

    mat-dialog-content .coupon .coupon-main > div:nth-child(2) > div:nth-child(1) {
        font-size: 16px !important;
    }
    
    mat-dialog-content .coupon .coupon-main > div:nth-child(2) > div:nth-child(2) {
        width: 22px !important;
    }

    mat-dialog-content .coupon .coupon-main > div:nth-child(2) > div:nth-child(2) i {
        font-size: 16px !important;
    }
}

.ttip {
    position: relative;
}
  
.ttip .tooltiptext {
    visibility: hidden;
    width: 62px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 120%;
    left: 50%;
    margin-left: -30px;
    opacity: 0;
    transition: opacity 0.3s;
}
  
.ttip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
  
.ttip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
