.overlay {
  background: none !important;
  opacity: 5 !important;
  visibility: visible !important;
}
.add_qty {
  bottom: 0;
  position: absolute;
  background: white;
  padding: 10px;
  right: 0 !important;
  border: 1px solid #80808029;
}
.ln-ht-2{
  line-height: 2 !important;
}
.ln-ht-1 {
  line-height: 1 !important;
}
.radio {
  font-size: 0.8rem !important;
}
.radio_outline {
  border: 1px solid !important;
}
.disp-flex {
  display: flex;
}
.disp-grid {
  display: grid;
}
.font-addrss {
  font-size: 0.8rem;
  font-family: monospace;
}
.gutter-b {
  height: 100px !important;
}
.fade {
  opacity: 4 !important;
}
.modal-footer {
  padding: 5px 10px 5px 5px !important;
}
.modal-body {
  padding-bottom: 0 !important;
}
.highlight{
   /* background: #42A948 !important; green */
  box-shadow: 0 3px 5px 0 rgba(40,44,63,.4) !important;
  border: 2px dashed #0707eca1 !important;
}
.addressedit:hover{
color: #0707eca1 !important;
}
.disableall {
  cursor: default;
  pointer-events: none !important;
  opacity: 0.5 !important;
}
.width100{
  width: 100%;
}
.addmoreitem{
  color: blueviolet;
    float: right;
    margin-right: 10px;
}
.btn.btn-light-primary:hover{
  background-color: #f9e2a7!important;
  border-color: transparent!important;
  color:blue;
}
.countrycode{
  border-bottom:none!important;
  margin-bottom:8px!important;
  margin-right:2px!important;   
 }
 .strikeMe {
  text-decoration: line-through !important;
  color: #aaa !important;
  font-size: 0.85rem !important;
}
.orderItems .card{
  min-width: 350px !important;
  min-height: 400px !important;
  max-width: 350px !important;
  }
.mob-prefix-border {
  border-bottom-right-radius: 0px !important;
  border-top-right-radius: 0px !important;
  margin-right: 0px !important;
}
.mob-field-border {
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}