<form [formGroup]="applicantForm" id="{{applicantId}}" (focusout)="sendApplicantInfo()">
    <div style="display: flex; align-items: center;  gap: 10px;" *ngIf="applicant && applicant.parent">
        <div class="imageClass">
            <div style="color: #8A8383;" *ngIf="customerName && customerName[0]">{{customerName[0] | capitalizeFirst}}
            </div>
        </div>
        <div>
            <div>
                <div style="font-size: 14px;color: #000000;font-weight: bold;margin-bottom: 4px;" *ngIf="customerName">
                    {{customerName |capitalizeFirst}}</div>
            </div>
            <div>
                <div style="font-size: 12px;color: #000000;" *ngIf="phoneNumber">+91 {{phoneNumber}}</div>
            </div>
            <div>
                <div style="font-size: 12px;color: #000000;" *ngIf="leadInfo && leadInfo.leadId">
                    LeadId-{{leadInfo.leadId}}</div>
            </div>
        </div>
    </div>
    <hr *ngIf="applicant && applicant.parent" />
    <div style="border-bottom: 1px solid #04A5FF;height: 30px;" *ngIf="applicant && (!applicant.parent)">
        <div style="display: flex;justify-content: space-between;align-items: center;">
            <div style="font-size: 15px!important;font-weight: bold!important" *ngIf="coApplicantText">
                {{coApplicantText}}
            </div>
            <div>
                <i (click)="(disbaleFielInput) && removApplicant(applicantId)" class="fa fa-trash"
                    aria-hidden="true"></i>
            </div>
        </div>
    </div>
    <div style="display: flex;gap: 5px" *ngIf="applicant && (!applicant.parent)">
        <div class="lbl col-sm-8 col-md-7 col-lg-7 no-padding">
            <div class="leadTitle" *ngIf="lebalName">
                <div>{{lebalName}}</div>
                <div class="astericColor">*</div>
            </div>
            <div class="fieldPadding">
                <input autocomplete="off" onpaste="return false" oncopy="return false" ondrag="return false"
                    oncut="return false" ondrop="return false" class="form-control" formControlName="customerName"
                    #applicantName placeholder="Enter name" />
                <app-field-error-display [displayError]="true" style="color: #f24949 !important;" *ngIf="errorMessage"
                    errorMsg="{{errorMessage}}">
                </app-field-error-display>
            </div>
        </div>
        <div class="lbl col-sm-8 col-md-7 col-lg-7 no-padding">
            <div class="leadTitle" *ngIf="lebalPhoneNumber">
                <div>{{lebalPhoneNumber}}</div>
                <div class="astericColor">*</div>
            </div>
            <div class="fieldPadding">
                <input maxlength="10" autocomplete="off" onpaste="return false" oncopy="return false"
                    ondrag="return false" oncut="return false" ondrop="return false" class="form-control"
                    formControlName="permanentPhoneNumber" #applicantPhone type="tel" placeholder="Enter number" />
                <app-field-error-display [displayError]="true" style="color: #f24949 !important;" *ngIf="errorMessage"
                    errorMsg="{{errorMessage}}">
                </app-field-error-display>
            </div>
        </div>
    </div>
    <span class="group-head" *ngIf="lebalkycDetails">{{lebalkycDetails}}</span><br>
    <div class="bggrey my-2 mgn-bt-20">
        <div style="display: flex;gap: 5px">
            <div class="lbl col-sm-8 col-md-7 col-lg-7 no-padding">
                <div class="leadTitle" *ngIf="legbalApplicantKyc">
                    <div>{{legbalApplicantKyc}}</div>
                    <div class="astericColor">*</div>
                </div>
                <div class="fieldPadding">
                    <mat-select (ngModelChange)="handleKycSelectedType(idTypes.value,'firstApplicant')"
                        class="form-control widthWebKit" placeholder="" #idTypes formControlName="idTypes">
                        <mat-option [value]="kyc.name" *ngFor="let kyc of kycList">
                            <div *ngIf="kyc && kyc.displayName">{{kyc.displayName}}</div>
                        </mat-option>
                    </mat-select>
                </div>
            </div>
            <div class="lbl col-sm-8 col-md-7 col-lg-7 no-padding">
                <div class="leadTitle" *ngIf="lebalNumber">
                    <div>{{lebalNumber}}</div>
                    <div class="astericColor">*</div>
                </div>
                <div class="fieldPadding">
                    <input autocomplete="off" onpaste="return false" oncopy="return false" ondrag="return false"
                        oncut="return false" ondrop="return false" class="form-control" formControlName="idValue"
                        #idValue placeholder="Enter number" />
                    <app-field-error-display [displayError]="true" style="color: #f24949 !important;"
                        *ngIf="errorMessage" errorMsg="{{errorMessage}}">
                    </app-field-error-display>
                </div>
            </div>
        </div>
        <div class="fieldPadding" *ngIf="applicant">
            <div class=""
                [hidden]="applicant && applicant.validationIds && applicant.validationIds[0] && applicant.validationIds[0].attachments && applicant.validationIds[0].attachments.length > 0 && applicant.validationIds[0].attachments[0]['s3path']">
                <input #logofile type="file" accept="/*;capture=camera" style="display:none;"
                    (change)="filesSelected($event, 'kyc1')">{{lebalUplaodFile}}
                <a class="btn btn-clean btn-icon btn-md" (click)="(disbaleFielInput) && logofile.click()"><i
                        class="material-icons">
                        attach_file</i></a>
            </div>
            <div
                *ngIf="applicant && applicant.validationIds && applicant.validationIds[0] && applicant.validationIds[0].attachments && applicant.validationIds[0].attachments.length > 0 && !applicant.validationIds[0].attachments[0]['s3path']">
                <div class="img-section clearfix mgn-up-20"
                    *ngIf="selectedFiles['kyc1'] && selectedFiles['kyc1'].files && selectedFiles['kyc1'].files.length > 0">
                    <ul class="galul">
                        <li *ngFor="let file of selectedFiles['kyc1'].files;let i = index ">
                            <div class="galimg_outer">
                                <div class="gal_img pointer-cursor">
                                    <img [src]="getImage(selectedFiles['kyc1'].base64[i], file)"
                                        *ngIf="selectedFiles['kyc1'].base64[i]">
                                </div>
                                <div class="gal_action" (click)="(disbaleFielInput) && deleteTempImage(i, 'kyc1',file)"
                                    *ngIf="mode!=='read'">
                                    <i class="fa fa-times-circle" aria-hidden="true"></i>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="bggrey my-2 clearfix"
        *ngIf="applicant && applicant.validationIds && applicant.validationIds[0] && applicant.validationIds[0].attachments && applicant.validationIds[0].attachments.length > 0 && applicant.validationIds[0].attachments[0]['s3path']">
        <div style="display: flex;gap: 5px" id="print-section">
            <div class="lbl col-sm-8 col-md-7 col-lg-7 no-padding">
                <div *ngFor="let file of applicant.validationIds[0].attachments;let i = index" style="display:flex">
                    <div class="pointer-cursor" (click)="dialogImgView(file)">
                        <img style="height: 20px; width:20px;" [src]="getImageType(file.fileType)" alt="">
                        {{file.fileName?.length>10 ? file.fileName.slice(0, 10)+'...' : file.fileName}}
                    </div>
                    <div>
                        <i class="fa fa-times-circle pointer-cursor" aria-hidden="true"
                            (click)="(disbaleFielInput) && deleteTempImage(i, 'kyc1',file)" *ngIf="mode!=='read'"></i>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="bggrey my-2 mgn-bt-20">
        <div style="display: flex;gap: 5px">
            <div class="lbl col-sm-8 col-md-7 col-lg-7 no-padding">
                <div class="leadTitle" *ngIf="legbalApplicantKyc">
                    <div>{{legbalApplicantKyc}}</div>
                    <div class="astericColor">*</div>
                </div>
                <div class="fieldPadding">
                    <mat-select (ngModelChange)="handleKycSelectedType(idTypes1.value,'secondApplicant')"
                        class="form-control widthWebKit" placeholder="" #idTypes1 formControlName="idTypes1">
                        <mat-option [value]="kyc.name" *ngFor="let kyc of kycList">
                            <div *ngIf="kyc && kyc.displayName">{{kyc.displayName}}</div>
                        </mat-option>
                    </mat-select>
                </div>
            </div>
            <div class="lbl col-sm-8 col-md-7 col-lg-7 no-padding">
                <div class="leadTitle" *ngIf="lebalNumber">
                    <div>{{lebalNumber}}</div>
                    <div class="astericColor">*</div>
                </div>
                <div class="fieldPadding">
                    <input autocomplete="off" onpaste="return false" oncopy="return false" ondrag="return false"
                        oncut="return false" ondrop="return false" class="form-control" formControlName="idValue1"
                        #idValue1 placeholder="Enter number" />
                    <app-field-error-display [displayError]="true" style="color: #f24949 !important;"
                        *ngIf="errorMessage" errorMsg="{{errorMessage}}">
                    </app-field-error-display>
                </div>
            </div>

        </div>

        <div class="fieldPadding" *ngIf="applicant">
            <div class=""
                [hidden]="applicant && applicant.validationIds && applicant.validationIds[1] && applicant.validationIds[1].attachments && applicant.validationIds[1].attachments.length > 0 && applicant.validationIds[1].attachments[0]['s3path']">
                <input #files type="file" accept="/*;capture=camera" style="display:none;"
                    (change)="filesSelected($event,'kyc2')">{{lebalUplaodFile}}
                <a class="btn btn-clean btn-icon btn-md" (click)="(disbaleFielInput) && files.click()"><i
                        class="material-icons">
                        attach_file</i></a>
            </div>
            <div
                *ngIf="applicant && applicant.validationIds && applicant.validationIds[1] && applicant.validationIds[1].attachments && applicant.validationIds[1].attachments.length > 0 && !applicant.validationIds[1].attachments[0]['s3path']">
                <div class="img-section clearfix mgn-up-20"
                    *ngIf="selectedFiles['kyc2'] && selectedFiles['kyc2'].files && selectedFiles['kyc2'].files.length > 0">
                    <ul class="galul">
                        <li *ngFor="let file of selectedFiles['kyc2'].files;let i = index ">
                            <div class="galimg_outer">
                                <div class="gal_img">
                                    <img [src]="getImage(selectedFiles['kyc2'].base64[i], file)"
                                        *ngIf="selectedFiles['kyc2'].base64[i]">
                                </div>
                                <div class="gal_action" (click)="(disbaleFielInput) && deleteTempImage(i, 'kyc2',file)"
                                    *ngIf="mode!=='read'">
                                    <i class="fa fa-times-circle" aria-hidden="true"></i>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="bggrey my-2 clearfix"
        *ngIf="applicant && applicant.validationIds && applicant.validationIds[1] && applicant.validationIds[1].attachments && applicant.validationIds[1].attachments.length > 0 && applicant.validationIds[1].attachments[0]['s3path']">
        <div style="display: flex;gap: 5px">
            <div class="lbl col-sm-8 col-md-7 col-lg-7 no-padding">
                <div *ngFor="let file of applicant.validationIds[1].attachments; let i=index" style="display:flex">
                    <div (click)="dialogImgView(file)" style="cursor:pointer">
                        <img style="height: 20px; width:20px;" [src]="getImageType(file.fileType)" alt="">
                        {{file.fileName?.length>10 ? file.fileName.slice(0, 10)+'...' : file.fileName}}
                    </div>
                    <div>
                        <i class="fa fa-times-circle pointer-cursor" aria-hidden="true"
                            (click)="(disbaleFielInput) && deleteTempImage(i, 'kyc2',file)" *ngIf="mode!=='read'"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="bggrey my-2 mgn-bt-20">
        <div style="display: flex;gap: 5px">
            <div class="lbl col-sm-8 col-md-7 col-lg-7 no-padding">
                <div class="leadTitle" *ngIf="legbalApplicantKyc">
                    <div>{{legbalApplicantKyc}}</div>
                </div>
                <div class="fieldPadding">
                    <mat-select (ngModelChange)="handleKycSelectedType(idTypes2.value,'thirdApplicant')"
                        class="form-control widthWebKit" placeholder="Select applicant KYC" #idTypes2
                        formControlName="idTypes2">
                        <mat-option [value]="kyc.name" *ngFor="let kyc of kycList">
                            <div *ngIf="kyc && kyc.displayName">{{kyc.displayName}}</div>
                        </mat-option>
                    </mat-select>
                </div>
            </div>
            <div class="lbl col-sm-8 col-md-7 col-lg-7 no-padding">
                <div class="leadTitle" *ngIf="lebalNumber">
                    <div>{{lebalNumber}}</div>
                </div>
                <div class="fieldPadding">
                    <input autocomplete="off" onpaste="return false" oncopy="return false" ondrag="return false"
                        oncut="return false" ondrop="return false" class="form-control" formControlName="idValue2"
                        #idValue2 placeholder="Enter number" />
                    <app-field-error-display [displayError]="true" style="color: #f24949 !important;"
                        *ngIf="errorMessage" errorMsg="{{errorMessage}}">
                    </app-field-error-display>
                </div>
            </div>

        </div>

        <div class="fieldPadding" *ngIf="applicant">
            <div class=""
                [hidden]="applicant && applicant.validationIds && applicant.validationIds[2] && applicant.validationIds[2].attachments && applicant.validationIds[2].attachments.length > 0 && applicant.validationIds[2].attachments[0]['s3path']">
                <input #files type="file" accept="/*;capture=camera" style="display:none;"
                    (change)="filesSelected($event,'kyc3')">{{lebalUplaodFile}}
                <a class="btn btn-clean btn-icon btn-md" (click)="(disbaleFielInput) && files.click()"><i
                        class="material-icons">
                        attach_file</i></a>
            </div>
            <div
                *ngIf="applicant && applicant.validationIds && applicant.validationIds[2] && applicant.validationIds[2].attachments && applicant.validationIds[2].attachments.length > 0 && !applicant.validationIds[2].attachments[0]['s3path']">
                <div class="img-section clearfix mgn-up-20"
                    *ngIf="selectedFiles['kyc3'] && selectedFiles['kyc3'].files && selectedFiles['kyc3'].files.length > 0">
                    <ul class="galul">
                        <li *ngFor="let file of selectedFiles['kyc3'].files;let i = index ">
                            <div class="galimg_outer">
                                <div class="gal_img">
                                    <img [src]="getImage(selectedFiles['kyc3'].base64[i], file)"
                                        *ngIf="selectedFiles['kyc3'].base64[i]">
                                </div>
                                <div class="gal_action" (click)="(disbaleFielInput) && deleteTempImage(i, 'kyc3',file)"
                                    *ngIf="mode!=='read'">
                                    <i class="fa fa-times-circle" aria-hidden="true"></i>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="bggrey my-2 clearfix"
        *ngIf="applicant && applicant.validationIds && applicant.validationIds[2] && applicant.validationIds[2].attachments && applicant.validationIds[2].attachments.length > 0 && applicant.validationIds[2].attachments[0]['s3path']">
        <div style="display: flex;gap: 5px">
            <div class="lbl col-sm-8 col-md-7 col-lg-7 no-padding">
                <div *ngFor="let file of applicant.validationIds[2].attachments;let i=index" style="display:flex">
                    <div (click)="dialogImgView(file)" style="cursor:pointer">
                        <img style="height: 20px; width:20px;" [src]="getImageType(file.fileType)" alt="">
                        {{file.fileName?.length>10 ? file.fileName.slice(0, 10)+'...' : file.fileName}}
                    </div>
                    <div>
                        <i class="fa fa-times-circle pointer-cursor" aria-hidden="true"
                            (click)="(disbaleFielInput) && deleteTempImage(i, 'kyc3',file)" *ngIf="mode!=='read'"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <span class="group-head" *ngIf="lebalDetails">{{lebalDetails}}</span><br>
    <div class="bggrey my-2">
        <div style="display: flex;gap: 5px">
            <div class="lbl col-sm-8 col-md-7 col-lg-7 no-padding">
                <div class="leadTitle" *ngIf="lebalTelType">
                    <div>{{lebalTelType}}</div>
                    <div class="astericColor">*</div>
                </div>
                <div class="fieldPadding">
                    <mat-select class="form-control widthWebKit" placeholder="" #telephoneType
                        formControlName="telephoneType">
                        <mat-option *ngFor="let telephone of telePhoneTypeList" [value]="telephone.name">
                            <div *ngIf="telephone && telephone.displayName">{{telephone.displayName}}</div>
                        </mat-option>
                    </mat-select>
                </div>
            </div>
            <div class="lbl col-sm-8 col-md-7 col-lg-7 no-padding">
                <div class="leadTitle" *ngIf="lebalTelNumber">
                    <div>{{lebalTelNumber}}</div>
                    <div class="astericColor">*</div>
                </div>
                <div class="fieldPadding">
                    <input autocomplete="off" onpaste="return false" oncopy="return false" ondrag="return false"
                        oncut="return false" ondrop="return false" class="form-control"
                        formControlName="telephoneNumber" #telephoneNumber maxlength="10" placeholder="Enter number" />
                    <app-field-error-display [displayError]="true" style="color: #f24949 !important;"
                        *ngIf="errorMessage" errorMsg="{{errorMessage}}">
                    </app-field-error-display>
                </div>
            </div>
        </div>
        <div>
            <div class="leadTitle" *ngIf="lebalHousename">
                <div>{{lebalHousename}}</div>
                <div class="astericColor">*</div>
            </div>
            <div class="fieldPadding">
                <input autocomplete="off" onpaste="return false" oncopy="return false" ondrag="return false"
                    oncut="return false" ondrop="return false" (keyup)="resetErrors()" type="text" #permanentAddress
                    placeholder="Enter house name" class="form-control" formControlName="permanentAddress"
                    autocomplete="off" />
                <app-field-error-display [displayError]="true" style="color: #f24949 !important;" *ngIf="errorMessage"
                    errorMsg="{{errorMessage}}">
                </app-field-error-display>
            </div>
        </div>
        <div style="display: flex;gap: 5px">
            <div class="lbl col-sm-8 col-md-7 col-lg-7 no-padding">
                <div class="leadTitle" *ngIf="lebalCity">
                    <div>{{lebalCity}}</div>
                    <div class="astericColor">*</div>
                </div>
                <div class="fieldPadding">
                    <input autocomplete="off" onpaste="return false" oncopy="return false" ondrag="return false"
                        oncut="return false" ondrop="return false" class="form-control" formControlName="permanentCity"
                        #permanentCity placeholder="Enter city" />

                    <app-field-error-display [displayError]="true" style="color: #f24949 !important;"
                        *ngIf="errorMessage" errorMsg="{{errorMessage}}">
                    </app-field-error-display>
                </div>
            </div>
            <div class="lbl col-sm-8 col-md-7 col-lg-7 no-padding">
                <div class="leadTitle" *ngIf="lebalState">
                    <div>{{lebalState}}</div>
                    <div class="astericColor">*</div>
                </div>
                <div class="fieldPadding">
                    <mat-select class="form-control" placeholder="Enter State" #permanentState
                        formControlName="permanentState">
                        <mat-option *ngFor="let item of stateList;let index=i" [value]="item.name">
                            <div *ngIf="item && item.name">
                                {{item.name}}
                            </div>
                        </mat-option>
                    </mat-select>
                    <app-field-error-display [displayError]="true" style="color: #f24949 !important;"
                        *ngIf="errorMessage" errorMsg="{{errorMessage}}">
                    </app-field-error-display>
                </div>
            </div>
        </div>
        <div style="display: flex;gap: 5px">
            <div class="lbl col-sm-8 col-md-7 col-lg-7 no-padding">
                <div class="leadTitle" *ngIf="lebalPinCode">
                    <div>{{lebalPinCode}}</div>
                    <div class="astericColor">*</div>
                </div>
                <div class="fieldPadding">
                    <input autocomplete="off" onpaste="return false" oncopy="return false" ondrag="return false"
                        oncut="return false" ondrop="return false" maxlength="6" class="form-control"
                        formControlName="permanentPinCode" #permanentPinCode placeholder="Enter pin code" />
                    <app-field-error-display [displayError]="true" style="color: #f24949 !important;"
                        *ngIf="errorMessage" errorMsg="{{errorMessage}}">
                    </app-field-error-display>
                </div>
            </div>
            <div class="lbl col-sm-8 col-md-7 col-lg-7 no-padding">
                <div class="leadTitle" *ngIf="lebalDOB">
                    <div>{{lebalDOB}}</div>
                    <div class="astericColor">*</div>
                </div>
                <div class="fieldPadding">
                    <div class="matDatePicker">
                        <input autocomplete="off" onpaste="return false" oncopy="return false" ondrag="return false"
                            oncut="return false" ondrop="return false" formControlName="dob" class="form-control"
                            type="text" matInput [matDatepicker]="picker" placeholder="Enter Date" #dob
                            [max]="todayDate">
                        <mat-datepicker-toggle matSuffix [for]="picker">
                        </mat-datepicker-toggle>
                        <mat-datepicker #picker [dateClass]="dateClass.bind(this)">
                        </mat-datepicker>
                    </div>
                    <app-field-error-display [displayError]="true" style="color: #f24949 !important;"
                        *ngIf="errorMessage" errorMsg="{{errorMessage}}">
                    </app-field-error-display>
                </div>
            </div>
        </div>
        <div style="display: flex;gap: 5px">
            <div class="lbl col-sm-8 col-md-7 col-lg-7 no-padding">
                <div class="leadTitle" *ngIf="lebalRelationName">
                    <div>{{lebalRelationName}}</div>
                    <div class="astericColor">*</div>
                </div>
                <div class="fieldPadding">
                    <input autocomplete="off" onpaste="return false" oncopy="return false" ondrag="return false"
                        oncut="return false" ondrop="return false" class="form-control" formControlName="relationName"
                        #relationName placeholder="Enter relation name" />
                    <app-field-error-display [displayError]="true" style="color: #f24949 !important;"
                        *ngIf="errorMessage" errorMsg="{{errorMessage}}">
                    </app-field-error-display>
                </div>
            </div>
            <div class="lbl col-sm-8 col-md-7 col-lg-7 no-padding">
                <div class="leadTitle" *ngIf="lebalRelationType">
                    <div>{{lebalRelationType}}</div>
                    <div class="astericColor">*</div>
                </div>
                <div class="fieldPadding">
                    <mat-select class="form-control widthWebKit" placeholder="" #relationType
                        formControlName="relationType">
                        <mat-option [value]="relation.name" *ngFor="let relation of relations">
                            <div *ngIf="relation && relation.displayName">{{relation.displayName}}</div>
                        </mat-option>
                    </mat-select>
                </div>
            </div>
        </div>
    </div>
    <div class="bggrey my-2">
        <div style="display: flex;gap: 5px">
            <div class="lbl col-sm-8 col-md-7 col-lg-7 no-padding">
                <div class="leadTitle" *ngIf="lebalNOmineeName">
                    <div>{{lebalNOmineeName}}</div>
                </div>
                <div class="fieldPadding">
                    <input autocomplete="off" onpaste="return false" oncopy="return false" ondrag="return false"
                        oncut="return false" ondrop="return false" class="form-control" formControlName="nomineeName"
                        #nomineeName placeholder="Enter name" />
                    <app-field-error-display [displayError]="true" style="color: #f24949 !important;"
                        *ngIf="errorMessage" errorMsg="{{errorMessage}}">
                    </app-field-error-display>
                </div>
            </div>
            <div class="lbl col-sm-8 col-md-7 col-lg-7 no-padding">
                <div class="leadTitle" *ngIf="lebalNomineeType">
                    <div>{{lebalNomineeType}}</div>
                </div>
                <div class="fieldPadding">
                    <mat-select class="form-control widthWebKit" placeholder="" #nomineeType
                        formControlName="nomineeType" placeholder="Enter nominee type">
                        <mat-option [value]="relation.name" *ngFor="let relation of relations">
                            <div *ngIf="relation && relation.displayName">{{relation.displayName}}</div>
                        </mat-option>
                    </mat-select>
                </div>
            </div>
        </div>
        <div style="display: flex;gap: 5px">
            <div class="lbl col-sm-8 col-md-7 col-lg-7 no-padding">
                <div class="leadTitle" *ngIf="lebalAddressType">
                    <div>{{lebalAddressType}}</div>
                </div>
                <div class="fieldPadding">
                    <mat-select class="form-control widthWebKit" placeholder="" #addressType
                        formControlName="addressType">
                        <mat-option [value]="'Residence'">
                            <div>
                                Residence
                            </div>
                        </mat-option>
                    </mat-select>
                </div>
            </div>
            <div class="lbl col-sm-8 col-md-7 col-lg-7 no-padding">
                <div class="leadTitle" *ngIf="lebalNomineeAddress">
                    <div>{{lebalNomineeAddress}}</div>
                </div>
                <div class="fieldPadding">
                    <input autocomplete="off" onpaste="return false" oncopy="return false" ondrag="return false"
                        oncut="return false" ondrop="return false" (keyup)="resetErrors()" type="text" #address
                        placeholder="" class="form-control" formControlName="address" autocomplete="off"
                        placeholder="Enter nominee address" />
                    <app-field-error-display [displayError]="true" style="color: #f24949 !important;"
                        *ngIf="errorMessage" errorMsg="{{errorMessage}}">
                    </app-field-error-display>
                </div>
            </div>
        </div>
        <div style="display: flex;gap: 5px">
            <div class="lbl col-sm-8 col-md-7 col-lg-7 no-padding">
                <div class="leadTitle" *ngIf="lebalDistrict">
                    <div>{{lebalDistrict}}</div>
                </div>
                <div class="fieldPadding">
                    <input autocomplete="off" onpaste="return false" oncopy="return false" ondrag="return false"
                        oncut="return false" ondrop="return false" class="form-control" formControlName="city" #city
                        placeholder="Enter district" />
                    <app-field-error-display [displayError]="true" style="color: #f24949 !important;"
                        *ngIf="errorMessage" errorMsg="{{errorMessage}}">
                    </app-field-error-display>
                </div>
            </div>
            <div class="lbl col-sm-8 col-md-7 col-lg-7 no-padding">
                <div class="leadTitle" *ngIf="lebalState">
                    <div>{{lebalState}}</div>
                </div>
                <div class="fieldPadding">
                    <mat-select class="form-control" placeholder="Enter State" #state formControlName="state">
                        <mat-option *ngFor="let item of stateList;let index=i" [value]="item.name">
                            <div *ngIf="item && item.name">
                                {{item.name}}
                            </div>
                        </mat-option>
                    </mat-select>
                    <app-field-error-display [displayError]="true" style="color: #f24949 !important;"
                        *ngIf="errorMessage" errorMsg="{{errorMessage}}">
                    </app-field-error-display>
                </div>
            </div>
        </div>
        <div style="display: flex;gap: 5px">
            <div class="lbl col-sm-8 col-md-7 col-lg-7 no-padding">
                <div class="leadTitle" *ngIf="lebalPinCode">
                    <div>{{lebalPinCode}}</div>
                </div>
                <div class="fieldPadding">
                    <input autocomplete="off" onpaste="return false" oncopy="return false" ondrag="return false"
                        oncut="return false" ondrop="return false" maxlength="6" class="form-control"
                        formControlName="pin" #pin placeholder="Enter pin code" />
                    <app-field-error-display [displayError]="true" style="color: #f24949 !important;"
                        *ngIf="errorMessage" errorMsg="{{errorMessage}}">
                    </app-field-error-display>
                </div>
            </div>
        </div>
    </div>
    <span class="group-head"
        *ngIf="applicant && applicant.parent && ( this.leadInfo.status.name == 'New' || this.leadInfo.status.name == 'KYC Updated' || this.leadInfo.status.name == 'KYC')">Other
        Files</span><br>
    <div class="bggrey"
        *ngIf="applicant && applicant.parent && ( this.leadInfo.status.name == 'New' || this.leadInfo.status.name == 'KYC Updated' || this.leadInfo.status.name == 'KYC')">
        <div class="fieldPadding">
            <div
                [hidden]=" applicant && applicant.otherAttachments && applicant.otherAttachments.length > 0 && applicant.otherAttachments[0]['s3path']">
                <input #files type="file" accept="/*;capture=camera" style="display:none;"
                    (change)="filesSelected($event,'other')">{{lebalUplaodFile}}
                <a class="btn btn-clean btn-icon btn-md" (click)="(disbaleFielInput) && files.click()"><i
                        class="material-icons">
                        attach_file</i></a>
            </div>
            <div
                *ngIf="applicant && applicant.otherAttachments && applicant.otherAttachments.length > 0 && !applicant.otherAttachments[0]['s3path']">
                <div class="img-section clearfix mgn-up-20"
                    *ngIf="selectedFiles['other'] && selectedFiles['other'].files && selectedFiles['other'].files.length > 0">
                    <ul class="galul">
                        <li *ngFor="let file of selectedFiles['other'].files;let i = index ">
                            <div class="galimg_outer">
                                <div class="gal_img">
                                    <img [src]="getImage(selectedFiles['other'].base64[i], file)"
                                        *ngIf="selectedFiles['other'].base64[i]">
                                </div>
                                <div class="gal_action"
                                    (click)="(disbaleFielInput) && deleteTempImage(i, 'other','delete')"
                                    *ngIf="mode!=='read'">
                                    <i class="fa fa-times-circle" aria-hidden="true"></i>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class=" my-2 clearfix"
            *ngIf="applicant && applicant.otherAttachments && applicant.otherAttachments.length > 0 && applicant.otherAttachments[0]['s3path']">
            <div style="display: flex;gap: 5px">
                <div class="lbl col-sm-8 col-md-7 col-lg-7 no-padding">
                    <div *ngFor="let file of applicant.otherAttachments; let i=index" style="display:flex">
                        <div (click)="dialogImgView(file)" style="cursor:pointer">
                            <img style="height: 20px; width:20px;cursor:pointer" [src]="getImageType(file.fileType)"
                                alt="">
                            {{file.fileName?.length>10 ? file.fileName.slice(0, 10)+'...' : file.fileName}}
                        </div>
                        <div>
                            <i class="fa fa-times-circle pointer-cursor" aria-hidden="true"
                                (click)="(disbaleFielInput) && deleteTempImage(i, 'other','delete')"
                                *ngIf="mode!=='read'"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<ng-container *ngIf="this.leadInfo && this.leadInfo.status && (this.leadInfo.status.name==='KYC Updated'||
    this.leadInfo.status.name==='Login' || this.leadInfo.status.name==='Credit Recommendation')">
    <div class="my-2" style="padding:10px">
        <button type="button" class="font-weight-bold confirmBtn confirmBtnCrif"
            (click)="(disbaleFielInput) &&showCrifscoreSection()">
            <span>
                <span>{{generateCrifText}}</span>
                <span *ngIf="tempCrifDetails===0">&nbsp;of Applicant</span>
                <span *ngIf="tempCrifDetails===1">&nbsp;of Co-Applicant </span>
                <span *ngIf="tempCrifDetails>1">&nbsp;of Co-Applicant {{tempCrifDetails}}</span>
            </span>
        </button>
    </div>
    <div *ngIf="showCrifSection">
        <span class="group-head"><span>
                <span>{{generateCrifText}}</span>
                <span *ngIf="tempCrifDetails===0">&nbsp;of Applicant</span>
                <span *ngIf="tempCrifDetails===1">&nbsp;of Co-Applicant </span>
                <span *ngIf="tempCrifDetails>1">&nbsp;of Co-Applicant {{tempCrifDetails}}</span>
            </span></span>
        <br>
        <div class="bggrey my-2">
            <div style="display: flex;gap: 5px">
                <div class="lbl col-sm-8 col-md-7 col-lg-7 no-padding" style="display: flex;
        flex-direction: row-reverse; justify-content: left;align-items:center;">
                    <div class="leadTitle">
                    </div>
                    <div class="fieldPadding">
                        <a class="navbar-item-color bold pointer-cursor disp-none-small"
                            *ngIf="crifScore && crifScoreLebal">{{crifScoreLebal}}
                            {{crifScore}} </a>
                        <button *ngIf="crifBtnForHide" [ngClass]="{'cursorDisable':bCrifBtnDisable }" mat-flat-button
                            style="margin-left: 25px !important;"
                            class="btn btn mb-2 action-button action-button-add confirmBtn"
                            (click)="!bCrifBtnDisable && saveCrifApplicant(applicant)">
                            {{lebalCrifVerification}}</button>
                    </div>
                    <app-common-innerloading-spinner *ngIf="api_loading"></app-common-innerloading-spinner>
                    <div *ngIf="showPdfIcon">
                        <a (click)="printCRIF()">
                            <img class="img" style="height: 50px; width: 50px;"
                                src="/assets/images/ImgeFileIcon/pdf.png" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>