<section class="container no-padding cons-donate no-padding-small">
    <div class="content p0 loc-list p-checkin ynw-common-form-nm">
        <div class="panel panel-default">
            <div class="panel-heading top-row ">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">
                    <app-header *ngIf="sharedFunctionobj.checkLogin()" [includedfrom]="'donation'"></app-header>
                </div>
            </div>
            <div class="panel-body no-padding">
                <div class="c-outer m0">
                    <div class="c-body">
                        <div class="card title-gb m0">
                            <h5 class="mgn-up-10">
                                <!-- <span class="selected-date">Date: {{sel_day}}
                                {{todaydate | date: dateFormat}}
                            </span> -->
                                <a class="back-btn" (click)="goBack()"><i class="fa fa-arrow-left"></i></a>
                                <span class=" mgn-lt-10 amount">{{businessjson.businessName}}</span>
                            </h5>
                        </div>
                        <div class="col-md-12 no-padding">
                            <div class="card p0 ">
                                <div class="copy locd">
                                    <div class="lbl col-sm-12 col-md-12 col-lg-12 col-xs-12 col-sm-12 no-padding"
                                        *ngIf="action==''">
                                        <div
                                            class="col-md-6 col-lg-6 col-xs-12 col-sm-12 no-padding check-new-group border-tp border-rt">
                                            <div class="col-md-12 col-xs-12 col-sm-12 no-padding">

                                                <div class="col-md-12 col-xs-12 col-sm-12 lnk mgn-bt-5 mgn-up-5 donation_label">
                                                    Donation
                                                </div>
                                                <div class="col-sm-12 col-xs-12 col-md-12 c-checkin-new">
                                                    <div class="card-body" *ngIf="sel_ser">
                                                        <h6 class="card-title service">
                                                            {{sel_ser_det.name}}
                                                            <!-- <span class="donate-by"> by </span>
                                                            {{this.businessjson.businessName}} -->
                                                        </h6>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12 border-tp check-new-group">
                                            <div class="col-md-12 col-xs-12 col-sm-12 no-padding">
                                                <div
                                                    class="col-md-12 col-xs-12 col-sm-12 no-padding mgn-up-10 mgn-bt-10 no-padding c-checkin-new">
                                                    <div class="col-md-12 col-xs-12 col-sm-12 lnk mgn-bt-5 no-padding">
                                                        Donor name <a
                                                            class="lnk pointer-cursor action mgn-lt-5 mgn-rt-20"
                                                            (click)="editDonor()">Change
                                                        </a>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                    <div class="col-sm-12 col-xs-12 col-md-12 no-padding">
                                                        <div class="card-body">
                                                            <h6 class="card-title service"
                                                                *ngFor="let member of waitlist_for">
                                                                {{donorName}}
                                                            </h6>
                                                            <div class="">
                                                                <i class="fa fa-mobile "></i>
                                                                <span class="mgn-lt-10 phonevallabel"
                                                                    *ngIf="userPhone && !changePhno">{{userPhone}}</span>
                                                                <span class="mgn-lt-10 phonevallabel"
                                                                    *ngIf="currentPhone && changePhno">{{currentPhone}}</span><a
                                                                    class="mgn-lt-5 lnk pointer-cursor"><i
                                                                        class="fa fa-pencil"
                                                                        (click)="editPhone()"></i></a>
                                                            </div>
                                                            <div class="" *ngIf="userData && userData.userProfile && userData.userProfile.email">
                                                                <i class="fa fa-envelope-o "></i>
                                                                <span class="mgn-lt-5 emailvallabel">{{userData.userProfile.email}}</span>
                                                                <a class="mgn-lt-5 lnk pointer-cursor"><i class="fa fa-pencil"
                                                                (click)="handleEmail()"></i></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="lbl col-sm-12 col-md-12 col-lg-12 col-xs-12 col-sm-12 no-padding" *ngIf="action==''">
                                        <div class="col-md-6 col-xs-12 col-sm-12">
                                            <div class="col-md-12 col-xs-12 col-sm-12 no-padding ">
                                                <div class="mgn-up-5 input-group mobile-error c-checkin-new">
                                                    <div
                                                        class="col-md-12 col-xs-12 col-sm-12 no-padding amount">
                                                        Amount
                                                    </div>
                                                    <div class="col-md-12 col-xs-12 col-sm-12 no-padding">
                                                        <label>
                                                            <input type="number" min="0" class="form-control rupee-font"
                                                                placeholder="&#8377; Enter Amount"
                                                                [(ngModel)]="donationAmount">
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="prepay-amt mgn-bt-20">
                                                <div
                                                    class="col-md-12 col-sm-12 col-lg-12 col-xs-12 form-level-settings applybill no-padding red">
                                                    <p class="form-level-settings applybill">Minimum <span class="bold"><span
                                                        class="rupee-font">{{rupee_symbol}}</span>{{sel_ser_det.minDonationAmount}}</span>
                                                        Maximum <span class="bold"><span
                                                            class="rupee-font">{{rupee_symbol}}</span>{{sel_ser_det.maxDonationAmount}}</span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-xs-12 col-sm-12">
                                            <div class="col-md-12 col-xs-12 col-sm-12 no-padding mgn-up-20">
                                                <div class="col-md-12 col-xs-12 col-sm-12 no-padding">
                                                    <div class="mainouter checkin-page c-checkin-new">
                                                        <div class="lnk">Make payment
                                                        </div>
                                                        <div class="mgn-bt-10">
                                                            
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12 col-xs-12 col-sm-12 mgn-bt-20 no-padding"
                                                        style="display: flex;">
                                                        <div class="checkin-btn-bp pointer-cursor col-md-6 mgn-rt-10"
                                                            (click)="payuPayment()">
                                                            CC/DC/Net Banking/UPI
                                                        </div>
                                                        <div class="checkin-btn-bp pointer-cursor col-md-4"
                                                            (click)="paytmPayment()">
                                                            Paytm
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="lbl col-md-12 col-lg-12 col-xs-12 col-sm-12 no-padding notes"
                                    *ngIf="action=='donor'">
                                    <div class="mgn-up-5 input-group mobile-error c-checkin-new">
                                        <div class="col-md-12 col-xs-12 col-sm-12 lnk mgn-bt-10">Enter Donor name
                                        </div>
                                        <div class="col-md-12 col-xs-12 col-sm-12 mgn-bt-20">
                                            <label>
                                                <input type="text" placeholder="donor name"
                                                    class="phonenum" [(ngModel)]="donor" />
                                                <button (click)="addDonor()" class="btn bt3 btn-default coupon-apply-btn"
                                                    type="button">Ok</button>
                                                    <app-field-error-display [displayError]="true"
                                                    *ngIf="donorerror != null" errorMsg={{donorerror}}>
                                                </app-field-error-display>
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="lbl col-md-12 col-lg-12 col-xs-12 col-sm-12 no-padding notes"
                                    *ngIf="action=='phone'">
                                    <div class="mgn-up-5 input-group mobile-error c-checkin-new">
                                        <div class="col-md-12 col-xs-12 col-sm-12 lnk mgn-bt-10">Enter new mobile number
                                        </div>
                                        <div class="col-md-12 col-xs-12 col-sm-12 mgn-bt-20">
                                            <label>
                                                <input type="text" maxlength="10" placeholder="Mobile number"
                                                    class="phonenum" [(ngModel)]="selected_phone" />
                                                <button (click)="addPhone()"
                                                    class="btn bt3 btn-default coupon-apply-btn"
                                                    type="button">Ok</button>
                                                <app-field-error-display [displayError]="true"
                                                    *ngIf="phoneerror != null" errorMsg={{phoneerror}}>
                                                </app-field-error-display>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="lbl col-sm-12 col-md-12 col-lg-12 col-xs-12 col-sm-12 no-padding notes"
                            *ngIf="action=='email'">
                            <div class="col-md-12 col-xs-12 col-sm-12 lnk mgn-up-20">Please
                                enter your
                                email for payment</div>
                            <div class="col-md-7 col-sm-12 col-xs-12 mgn-bt-20">
                                <ng-container>
                                    <div class="form-group">
                                        <input style="border-bottom: 1px solid" class="form-control emailPrepay"
                                            id="email" placeholder="Email(user@xyz.com)" [(ngModel)]="payEmail"
                                            autocomplete="off" (keyup)="showConfrmEmail($event)" onpaste="return false;"
                                            oncopy="return false" oncut="return false" ondrag="return false"
                                            ondrop="return false">
                                        <app-field-error-display [displayError]="true" *ngIf="emailerror != null"
                                            errorMsg={{emailerror}}>
                                        </app-field-error-display>
                                    </div>
                                    <div class="form-group" *ngIf="confrmshow">
                                        <!-- <mat-form-field> -->
                                        <input style="border-bottom: 1px solid" class="form-control emailPrepay"
                                            id="email1" placeholder="Re-enter Email(user@xyz.com)"
                                            [(ngModel)]="payEmail1" autocomplete="off" onpaste="return false;"
                                            oncopy="return false" oncut="return false" ondrag="return false"
                                            ondrop="return false">
                                        <!-- </mat-form-field> -->
                                        <app-field-error-display [displayError]="true" *ngIf="email1error != null"
                                            errorMsg={{email1error}}>
                                        </app-field-error-display>
                                    </div>
                                    <!-- <span class="input-group-btn" *ngIf="confrmshow"> -->
                                    <span class="input-group-btn">
                                        <button class="btn bt3 btnCancel" type="button" (click)="goBack()">
                                            Cancel
                                        </button>
                                        <button class="btn bt3 btn-default" (click)="addEmail()"
                                            type="button">Add</button>
                                    </span>
                                </ng-container>
                            </div>
                        </div>
                                <div class="lbl col-sm-12 col-md-12 col-lg-12 col-xs-12 col-sm-12 no-padding c-checkin-new"
                                    *ngIf="action=='service'">
                                    <div class="col-md-12 col-xs-12 col-sm-12 lnk mgn-bt-10 mgn-up-20">
                                        Choose the service you want
                                    </div>
                                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                        <ng-container *ngFor="let service of servicesjson; let i = index">
                                            <div class="bus-item-medium"
                                                [class.div-selected-outline]="service.id==sel_ser">
                                                <div class="card card-item-n no-padding ">
                                                    <div class="card-item-title">
                                                        <a class="pointer-cursor"
                                                            (click)="showServiceDetail(service, businessjson.businessName,'servicedetails')">
                                                            <b>
                                                                {{service.name | capitalizeFirst}}
                                                            </b>
                                                        </a>
                                                    </div>
                                                    <div class="card-item-content">
                                                        <div class="card-item-content-action">
                                                            <div class="checkin-btn-bp1 mgn-up-10"
                                                                (click)="handleServiceSel(service.id)">
                                                                Select
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div [innerHTML]="payment_popup" #div [style.display]="'none'"></div>
            </div>
        </div>
    </div>
</section>