<section class="container no-padding cons-donate no-padding-small">
    <div class="content p0 loc-list p-checkin ynw-common-form-nm">
        <div class="panel panel-default">
            <div class="panel-heading top-row ">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">
                    <app-header *ngIf="sharedFunctionobj.checkLogin()"></app-header>
                </div>
            </div>
            <div class="panel-body no-padding">
                <div class="c-outer m0">
                    <div class="c-body">
                        <div class="card title-gb m0">
                            <h5 class="mgn-up-10">
                                <!-- <span class="selected-date">Date: {{sel_day}}
                                {{todaydate | date: dateFormat}}
                            </span> -->
                                <a class="pull-right back-btn" (click)="goBack()"><i class="fa fa-arrow-left"></i></a>
                            </h5>
                        </div>
                        <div class="col-md-12 no-padding">
                            <div class="card p0 ">
                                <div class="copy locd">
                                    <div class="lbl col-sm-12 col-md-12 col-lg-12 col-xs-12 col-sm-12 no-padding"
                                        *ngIf="action==''">
                                        <div
                                            class="col-md-6 col-lg-6 col-xs-12 col-sm-12 no-padding check-new-group border-tp border-rt">
                                            <div class="col-md-12 col-xs-12 col-sm-12 no-padding c-checkin-new">

                                                <div class="col-md-12 col-xs-12 col-sm-12 lnk mgn-bt-5 mgn-up-5">
                                                    Donate For
                                                </div>
                                                <div class="col-sm-12 col-xs-12 col-md-12">
                                                    <div class="card-body" *ngIf="sel_ser">
                                                        <h6 class="card-title service">
                                                            {{sel_ser_det.name}}<span class="donate-by"> by </span>
                                                            {{this.businessjson.businessName}}
                                                        </h6>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12 border-tp check-new-group">
                                            <div class="col-md-12 col-xs-12 col-sm-12 no-padding">
                                                <div
                                                    class="col-md-12 col-xs-12 col-sm-12 no-padding mgn-up-10 mgn-bt-10 no-padding c-checkin-new">
                                                    <div class="col-md-12 col-xs-12 col-sm-12 lnk mgn-bt-5 no-padding">
                                                        Donor name <a
                                                            class="lnk pointer-cursor action mgn-lt-5 mgn-rt-20 pull-right "
                                                            (click)="editDonor()">Change
                                                        </a>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                    <div class="col-sm-12 col-xs-12 col-md-12 no-padding">
                                                        <div class="card-body">
                                                            <h6 class="card-title service"
                                                                *ngFor="let member of waitlist_for">
                                                                {{donorName}}
                                                            </h6>
                                                            <div class="">
                                                                <i class="fa fa-mobile "></i>
                                                                <span class="mgn-lt-10 phonevallabel"
                                                                    *ngIf="userPhone && !changePhno">{{userPhone}}</span>
                                                                <span class="mgn-lt-10 phonevallabel"
                                                                    *ngIf="currentPhone && changePhno">{{currentPhone}}</span><a
                                                                    class="mgn-lt-5 lnk pointer-cursor"><i
                                                                        class="fa fa-pencil"
                                                                        (click)="editPhone()"></i></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="lbl col-sm-12 col-md-12 col-lg-12 col-xs-12 col-sm-12 no-padding" *ngIf="action==''">
                                        <div class="col-md-6 col-xs-12 col-sm-12">
                                            <div class="col-md-12 col-xs-12 col-sm-12 no-padding mgn-up-10">
                                                <div class="mgn-up-5 input-group mobile-error c-checkin-new">
                                                    <div
                                                        class="col-md-12 col-xs-12 col-sm-12 no-padding mgn-bt-10 amount">
                                                        Amount (<span class="rupee-font">{{rupee_symbol}}</span>)
                                                    </div>
                                                    <div class="col-md-12 col-xs-12 col-sm-12 no-padding">
                                                        <label>
                                                            <input type="number" min="0" class="form-control rupee-font"
                                                                placeholder="&#8377; Enter Amount"
                                                                [(ngModel)]="donationAmount">
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="prepay-amt mgn-bt-20">
                                                <div
                                                    class="col-md-12 col-sm-12 col-lg-12 col-xs-12 form-level-settings applybill no-padding red">
                                                    <p class="form-level-settings applybill"> <i
                                                            class="icon-bell"></i>&nbsp;Amount must be
                                                        in range between <span class="bold"><span
                                                                class="rupee-font">{{rupee_symbol}}</span>{{sel_ser_det.minDonationAmount}}</span>
                                                        and <span class="bold"><span
                                                                class="rupee-font">{{rupee_symbol}}</span>{{sel_ser_det.maxDonationAmount}}</span>
                                                        <span *ngIf="sel_ser_det.multiples"> (multiples
                                                            of <span class="bold"><span
                                                                    class="rupee-font">{{rupee_symbol}}</span>{{sel_ser_det.multiples}}</span>)</span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-xs-12 col-sm-12">
                                            <div class="col-md-12 col-xs-12 col-sm-12 no-padding mgn-up-20">
                                                <div class="col-md-12 col-xs-12 col-sm-12 no-padding">
                                                    <div class="mainouter checkin-page c-checkin-new">
                                                        <div class="lnk">Payment Options
                                                        </div>
                                                        <div class="mgn-bt-10">
                                                            <p class="settings_info" style="display: inline;">Choose
                                                                your
                                                                payment
                                                                options from here</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12 col-xs-12 col-sm-12 mgn-bt-20 no-padding"
                                                        style="display: flex;">
                                                        <div class="checkin-btn-bp pointer-cursor col-md-6 mgn-rt-10"
                                                            (click)="payuPayment()">
                                                            CC/DC/Net Banking/UPI
                                                            <i class="fa fa-long-arrow-right mgn-lt-5"></i>
                                                        </div>
                                                        <div class="checkin-btn-bp pointer-cursor col-md-4"
                                                            (click)="paytmPayment()">
                                                            Paytm
                                                            <i class="fa fa-long-arrow-right mgn-lt-5"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="lbl col-md-12 col-lg-12 col-xs-12 col-sm-12 no-padding notes"
                                    *ngIf="action=='donor'">
                                    <div class="mgn-up-5 input-group mobile-error c-checkin-new">
                                        <div class="col-md-12 col-xs-12 col-sm-12 lnk mgn-bt-10">Enter Donor name
                                        </div>
                                        <div class="col-md-12 col-xs-12 col-sm-12 mgn-bt-20">
                                            <label>
                                                <input type="text" placeholder="donor name"
                                                    class="phonenum" [(ngModel)]="donor" />
                                                <button (click)="addDonor()" class="btn bt3 btn-default coupon-apply-btn"
                                                    type="button">Ok</button>
                                                    <app-field-error-display [displayError]="true"
                                                    *ngIf="donorerror != null" errorMsg={{donorerror}}>
                                                </app-field-error-display>
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="lbl col-md-12 col-lg-12 col-xs-12 col-sm-12 no-padding notes"
                                    *ngIf="action=='phone'">
                                    <div class="mgn-up-5 input-group mobile-error c-checkin-new">
                                        <div class="col-md-12 col-xs-12 col-sm-12 lnk mgn-bt-10">Enter new mobile number
                                        </div>
                                        <div class="col-md-12 col-xs-12 col-sm-12 mgn-bt-20">
                                            <label>
                                                <input type="text" maxlength="10" placeholder="Mobile number"
                                                    class="phonenum" [(ngModel)]="selected_phone" />
                                                <button (click)="addPhone()"
                                                    class="btn bt3 btn-default coupon-apply-btn"
                                                    type="button">Ok</button>
                                                <app-field-error-display [displayError]="true"
                                                    *ngIf="phoneerror != null" errorMsg={{phoneerror}}>
                                                </app-field-error-display>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="lbl col-sm-12 col-md-12 col-lg-12 col-xs-12 col-sm-12 no-padding c-checkin-new"
                                    *ngIf="action=='service'">
                                    <div class="col-md-12 col-xs-12 col-sm-12 lnk mgn-bt-10 mgn-up-20">
                                        Choose the service you want
                                    </div>
                                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                        <ng-container *ngFor="let service of servicesjson; let i = index">
                                            <div class="bus-item-medium"
                                                [class.div-selected-outline]="service.id==sel_ser">
                                                <div class="card card-item-n no-padding ">
                                                    <div class="card-item-title">
                                                        <a class="pointer-cursor"
                                                            (click)="showServiceDetail(service, businessjson.businessName,'servicedetails')">
                                                            <b>
                                                                {{service.name | capitalizeFirst}}
                                                            </b>
                                                        </a>
                                                    </div>
                                                    <div class="card-item-content">
                                                        <div class="card-item-content-action">
                                                            <div class="checkin-btn-bp1 mgn-up-10"
                                                                (click)="handleServiceSel(service.id)">
                                                                Select
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div [innerHTML]="payment_popup" #div [style.display]="'none'"></div>
            </div>
        </div>
    </div>
</section>