<!-- <p>checkout works!</p> -->


<section class="container no-padding cons-donate no-padding-small order-checkout">
  <div class="content p0 loc-list p-checkin ynw-common-form-nm">
    <div class="panel panel-default">
      <div class="panel-heading top-row">

        <!-- <a class="pull-left back-btn mgn-up-5"><i class="fa fa-arrow-left"></i></a> -->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">
          <app-header *ngIf="sharedFunctionobj.checkLogin()"></app-header>
        </div>
        <!-- </div> -->
      </div>
      <div class="panel-body no-padding">
        <div class="c-outer m0">
          <div class="c-body width-100">
            <div class="card title-gb m0">
              <h5 class="mgn-up-10">
                <a class="back-btn" (click)="goBack()">
                  <i class="fa fa-arrow-left"></i>
                </a>
                <span class=" mgn-lt-10 amount">Go to cart</span>
              </h5>
            </div>

            <div class="lbl col-sm-12 col-md-7 col-lg-7 col-xl-7  col-xs-12 bg-grey no-padding-small" *ngIf="action==''">
              <div class="col-md-12 no-padding-small mgn-up-30">

                <mat-vertical-stepper [linear]="isLinear" fxLayout="column" #stepper>
                  <mat-step label="Step1" [completed]="isLoggedIn()" >
                    <!-- <ng-template matStepperIcon="edit">
                      <mat-icon></mat-icon>
                    </ng-template> -->
                    <ng-template matStepLabel>Account</ng-template>
                    <form [formGroup]="loginForm" >
                      <!-- <mat-form-field>
                        <input  formControlName="phone" readonly="true">
                      </mat-form-field> -->
                      <div class="ph-outline">
                        <input class="ph-ip" formControlName="phone" required >
                        <label class="ph-label">Mobile number</label>
                      </div>
                    </form>
                    <div>
                      <button class="nxt-btn" mat-flat-button matStepperNext>Next</button>
                    </div>

                  </mat-step>
                  <mat-step label="Step 2">
                    <ng-template matStepLabel>Delivery options</ng-template>
                    <div>
                      <div *ngIf="home_delivery && store_pickup" class="d-type">Choose delivery type <br>
                      <mat-radio-group [(ngModel)]="choose_type" (change)="changeType($event)">
                        <mat-radio-button [value]="'store'" [checked]="storeChecked">
                          Store pick up
                        </mat-radio-button> &nbsp;&nbsp;&nbsp;
                        <mat-radio-button [value]="'home'" [checked]="!storeChecked">
                          Home delivery
                        </mat-radio-button>
                      </mat-radio-group>
                    </div>
                      <div *ngIf="store_pickup && !home_delivery">
                        Store Pick Up
                      </div>
                      <div *ngIf="home_delivery && !store_pickup">
                        Home Delivery
                      </div>
                      <div class="col-md-12 col-xs-12 col-sm-12 no-padding lnk mgn-up-10">
                        Date/Time
                        <span><a class="changeitem  pointer-cursor  mgn-rt-20 mgn-bt-10 change"
                          (click)="changeTime()" >Change
                            </a></span>
                    </div>
                    <div>
                        <h4>
                            <span *ngIf="!isFuturedate">Today, </span>
                            <span *ngIf="!isFuturedate">
                                {{nextAvailableTime}}
                            </span>
                            <span *ngIf="isFuturedate">{{sel_checkindate | date: newDateFormat}},
                            </span>
                            <span *ngIf="isFuturedate">
                                {{nextAvailableTime}}
                            </span>

                        </h4>
                    </div>
                  </div>
                    <div>
                      <!-- <button mat-button matStepperPrevious>Back</button> -->
                      <button class="nxt-btn" mat-flat-button matStepperNext>Next</button>

                    </div>


                  </mat-step>
                  <mat-step label="Step 3">
                    <ng-template matStepLabel *ngIf="(!home_delivery && store_pickup)||choose_type=='store'"> Contact Details</ng-template>
                    <ng-template matStepLabel *ngIf="(home_delivery && !store_pickup) || choose_type =='home' ">Fill out your address</ng-template>

                    <ng-container *ngIf="(home_delivery && !store_pickup) || choose_type =='home' ">
                    <mat-grid-list cols="{{no_of_grids}}" rowHeight="200px" [gutterSize]="'10px'" class="mgn-bt-20">
                      <mat-grid-tile *ngFor="let address of added_address; let i = index" (click)="highlight(i,address)" [ngClass]="{'highlight': selectedRowIndex == i}">
                        <mat-grid-tile-header>
                          <i class="fa fa-map-marker" aria-hidden="true"></i>
                          <span class="adrs-head">Address {{i+1}}</span>
                        </mat-grid-tile-header>
                        <div class="adrs-data">
                          <div>{{address.firstName }}&nbsp;{{address.lastName}}</div>
                          <div>{{address.address}}</div>
                          <div>{{address.city}} ,{{address.landMark}}, {{address.postalCode}}</div>
                          <div> +91 {{address.phoneNumber}}</div>
                          <div> {{address.email}}</div>
                        </div>
                        <mat-grid-tile-footer>
                          <button class="add-adrs-btn" mat-flat-button (click)="updateAddress(address,i)">
                            Edit
                          </button> &nbsp;
                          <button class="add-adrs-btn" mat-flat-button (click)="deleteAddress(address,i)">
                           Delete
                          </button>
                        </mat-grid-tile-footer>
                      </mat-grid-tile>
                      <mat-grid-tile>
                        <mat-grid-tile-header>
                          <i class="fa fa-map-marker" aria-hidden="true"></i>
                          <span class="adrs-head">Add new address</span>
                        </mat-grid-tile-header>
                        <mat-grid-tile-footer>
                          <button class="add-adrs-btn" mat-flat-button (click)="addAddress()">
                            Add new
                          </button>
                        </mat-grid-tile-footer>
                      </mat-grid-tile>
                    </mat-grid-list>
                  </ng-container>
                  <ng-container *ngIf="(!home_delivery && store_pickup)||choose_type=='store'">
                    <form [formGroup] = "storeContact">
                      <!-- <mat-form-field class="example-full-width">
                         <mat-label> Contact Phone Number</mat-label>
                        <input matInput placeholder="Enter your phone number" value="" formControlName="phone">
                      </mat-form-field> -->
                      <div class="ph-outline" style="display: flex;" >
                          <div class="input-group">
                              <!-- <span class="input-group-addon">+91</span> -->
                        <input class="ph-ip mgn-lt-20" formControlName="phone" required id="youridhere">
                        <label for="youridhere" class="static-value">+91</label>
                        <label class="ph-label"><sup><i class="fa fa-asterisk"></i></sup>Contact number</label>
                        </div>
                      </div>

                      <div class="ph-outline">
                        <input class="ph-ip" formControlName="email">
                        <label class="ph-label"><sup><i class="fa fa-asterisk"></i></sup>Email</label>
                      </div>
                      <!-- <mat-form-field class="example-full-width">
                       <mat-label>Contact Email</mat-label>
                        <input matInput placeholder="Enter your email" value=""formControlName="email">
                      </mat-form-field> -->
                    </form>

                  </ng-container>
                  </mat-step>

                </mat-vertical-stepper>

              </div>
            </div>
            <div class="lbl col-sm-12 col-md-5 col-lg-5 col-xl-5 col-xs-12 no-padding-small bg-grey"  *ngIf="action==''">
              <!-- Side bar contact -->
              <div class="contact-outer">
                <aside *ngIf="showSide" class="side_nav">
                  <h4>Store Contact <i (click)="closeNav()" class="fa fa-times-circle fl-right"></i></h4>
                  <div class="addrs">
                    <span>{{storeContactNw.firstName}}&nbsp;{{storeContactNw.lastName}}</span>
                    <span *ngIf="storeContactNw.address">
                      <i class="fa fa-map-marker"></i> {{storeContactNw.address}}
                    </span>
                    <span><i class="fa fa-phone mgn-rt-6"></i>{{storeContactNw.primCountryCode}} {{storeContactNw.phone}}</span>
                    <span *ngIf= "storeContactNw.alternatePhone"><i class="fa fa-phone mgn-rt-6"></i>{{storeContactNw.secCountryCode}} {{storeContactNw.alternatePhone}}</span>
                    <span [matTooltip]="storeContactNw.email" *ngIf="storeContactNw.email" class="wrap"><i class="fa fa-envelope mgn-rt-6"></i>{{storeContactNw.email}}</span>
                    <span *ngIf= "storeContactNw.alternateEmail" class="content_wrap"><i class="fa fa-envelope mgn-rt-6"></i>{{storeContactNw.alternateEmail}}</span>
                    <span *ngIf= "storeContactNw.whatsappNo"><i class="fa wtsapaud-icon mgn-rt-6"></i>{{storeContactNw.whatsAppCountryCode}} {{storeContactNw.whatsappNo}}</span>
                  </div>
                </aside>
              </div>
              <div class="card" *ngIf="loading">
                <app-common-innerloading-spinner> </app-common-innerloading-spinner>
              </div>
              <div [class.opacty]="showSide" class="card mgn-up-30" *ngIf="!loading">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xs-12 disp-flex">
                  <div *ngIf="businessDetails && businessDetails.logo">
                  <div class="prov-dp" [ngStyle]="{ 'background-image': 'url(' + businessDetails.logo + ')'}"></div>
                </div>
                  <div class="prov-name">
                    <div class="prov-name-txt">
                     {{businessDetails.bname}}
                    </div>
                    <div class="prov-loc">
                        {{businessDetails.blocation}}

                    </div>
                    <div class="prov-loc store-cntct" (click)="sidebar()">
                      <i class="fa fa-home store_ico"></i>Store Contact
                    </div>
                  </div>
                </div>
                <span (click)="filed.click()" *ngIf="!image_list_popup && this.orderType === 'SHOPPINGLIST'">
                  <input type="file"  multiple name="image_src" id="image_src" accept="/*;capture=camera"  #filed (change)="imageSelect($event)"><a class="uploadshoppinglist-btn">Upload Shopping List</a>
                </span>
                <div class="bill-section" *ngIf="this.orderType !== 'SHOPPINGLIST'">
                  <div class="bill-section-content">
                    <div class="bill-wrapper ">
                      <div class="bill-content">
                        <div class="section-three">
                          <div class="bill-breakup">
                            <div class="list border">
                              <div class="list-content head_labels">
                                <div class="copy one">
                                  <div class="col-a col-b cd-b">
                                    <div>
                                      <div class="">
                                        <div class="c-row one width-100">
                                          <div class="name cart-flex">
                                            <span style="font-weight: 400;">Product</span>
                                          </div>
                                          <div class="quantity">Qty</div>
                                          <div  *ngIf="catalog_details.showPrice" class="price rupee-font">Price</div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="list-content" style="text-align: left;"
                                *ngFor="let item of orders; let i = index">

                                <div class="copy one">
                                  <div class="col-a col-b cd-b">
                                    <div class="mgn-up-10">
                                      <div class="">
                                        <div class="c-row one width-100">
                                          <div class="name cart-flex">
                                            <i class="fa fa-stop-circle"></i>
                                            <span class="item-name">{{item.item.displayName}}</span>
                                          </div>
                                          <div class="quantity item-qty">{{getItemQty(item)}}</div>
                                          <div *ngIf="catalog_details.showPrice" class="price rupee-font">{{item.item.showPromotionalPrice?item.item.promotionalPrice: item.item.price | currency:'&#8377;'}}</div>
                                        </div>
                                      </div>

                                    </div>
                                  </div>
                                </div>

                              </div>
                              <div class="snd_msg_outer">
                                <textarea placeholder="Any notes? Write here..." class="txtArea" [(ngModel)]="orderNote"></textarea>
                                <!-- <div class="snd_msg_lbl">Any notes?Write here...</div> -->
                              </div>

                            </div>

                          </div>

                          <div class="" *ngIf="catalog_details.showPrice" >
                            <div class="bill-details-txt">
                              Bill Details
                            </div>
                            <div class="amount-table">
                              <div class="">
                                <div class="disp-flex width-100 amount-details">
                                  <div class="bill-labels">Item Total</div>
                                  <div class="price rupee-font"> &#8377;{{getTotalItemPrice()}}</div>
                                </div>
                                <!-- <div class="hr-line"></div> -->
                                <div class="disp-flex width-100 amount-details" *ngIf="catalog_details.taxPercentage">
                                  <div class="bill-labels">Total Tax </div>
                                  <div class="price rupee-font">&#8377;{{getTotalItemTax(catalog_details.taxPercentage)}}</div>
                                </div>
                                <div class="disp-flex width-100 amount-details" *ngIf="(home_delivery && !store_pickup) || choose_type =='home'">
                                  <div class="bill-labels">Delivery Charges </div>
                                  <div class="price rupee-font">&#8377;{{getDeliveryCharges()}}</div>
                                </div>
                                <div class="hr-line-pitch-blk mgn-up-20"></div>
                                <div class="disp-flex width-100 amount-details to-pay mgn-up-20">
                                  <div class="bill-labels">TO PAY</div>
                                  <div class="price rupee-font">&#8377;{{getOrderFinalAmountToPay()}}</div>
                                </div>
                              </div>
                            </div>
                          </div>

                          <!-- <div class="" *ngIf="this.orderType === 'SHOPPINGLIST'">

                            </div> -->

                        </div>
                      </div>
                        <button mat-flat-button (click)="confirm()" [disabled]="checkoutDisabled"class="chekout-btn">CHECKOUT &nbsp; → </button>
                    </div>
                  </div>
                </div>


                <div *ngIf="image_list_popup && this.orderType === 'SHOPPINGLIST'">
                  <ul class="shoppinglist-gal">
                    <ng-container *ngFor="let file of image_list_popup;let i = index">
                        <li *ngIf="i<2" class="shoppinglist-li">
                            <div class="shoppinglistbx">
                                <span class="shoppinglistmbt">
                                    <button type="button" mat-icon-button
                                        [matMenuTriggerFor]="menu">
                                        <mat-icon>more_vert</mat-icon>
                                    </button>
                                    <mat-menu #menu="matMenu">
                                        <button type="button" mat-menu-item
                                            (click)="deleteTempImage(file, i)">
                                            <i class="icon-delete"></i>
                                            <span>delete</span>
                                        </button>
                                    </mat-menu>
                                </span>
                                <div class="shoppinglistimg-h" (click)="openImageModalRow(file)">
                                    <div class="shoppinglistoverlay-y"></div><img class="shoppinglistimg" [src]="file.modal.img"
                                        *ngIf="file.modal.img" />
                                </div>
                            </div>
                        </li>
                    </ng-container>
                    <li *ngIf="image_list_popup.length>2" class="shoppinglist-li">
                        <div class="shoppinglistbx">
                            <span class="shoppinglistmre" (click)="openImageModalRow(image_list_popup[2])"
                                *ngIf="(image_list_popup.length-3)>0">+{{(image_list_popup.length-3)}}</span>
                            <div class="shoppinglistimg-h" *ngIf="(image_list_popup.length-3)>0"><img class="shoppinglistimg"
                                    *ngIf="image_list_popup[2].modal.img"
                                    [src]="image_list_popup[2].modal.img" /></div>
                            <span class="shoppinglistmbt" *ngIf="(image_list_popup.length-3)==0">
                                <button type="button" mat-icon-button [matMenuTriggerFor]="menu">
                                    <mat-icon>more_vert</mat-icon>
                                </button>
                                <mat-menu #menu="matMenu">
                                    <button type="button" mat-menu-item
                                        (click)="deleteTempImage(image_list_popup[2], 2)">
                                        <i class="icon-delete"></i>
                                        <span>delete</span>
                                    </button>
                                </mat-menu>
                            </span>
                            <div class="shoppinglistimg-h" (click)="openImageModalRow(image_list_popup[2])"
                                *ngIf="(image_list_popup.length-3)==0">
                                <div class="shoppinglistoverlay-y"></div><img class="shoppinglistimg"
                                    *ngIf="image_list_popup[2].modal.img"
                                    [src]="image_list_popup[2].modal.img" />
                            </div>
                        </div>
                    </li>
                </ul>
                <a (click)="filed.click()" class="pointerlist">
                  <input type="file"  multiple name="image_src" id="image_src" accept="/*;capture=camera"  #filed (change)="imageSelect($event)">Add more
                </a>
                 <!-- <a class="pointerlist" (click)="editshoppinglist()" class="popular_more">Add more</a> -->
                <div class="snd_msg_outer">
                    <textarea placeholder="Any notes? Write here..." class="txtArea" [(ngModel)]="orderlistNote"></textarea>
                  </div>
                  <span class="form-level-settings" *ngIf="choose_type === 'home' && catalog_details.homeDelivery.deliveryCharge"> Delivery charge &#x20B9;{{getDeliveryCharges()}} will added to the bill.</span>
                    <ks-modal-gallery [id]="0" [modalImages]="image_list_popup"
                    [plainGalleryConfig]="customPlainGalleryRowConfig"
                    [buttonsConfig]="customButtonsFontAwesomeConfig"
                    (buttonBeforeHook)="onButtonBeforeHook($event)"
                    (buttonAfterHook)="onButtonAfterHook()"></ks-modal-gallery>
                    <!-- <div (click)="filed.click()">
                        <input type="file"  multiple name="image_src" id="image_src" accept="/*;capture=camera"  #filed (change)="imageSelect($event)">uploadshoppinglist
                      </div> --><br>
                      <div class="order-label" *ngIf="(s3CouponsList.length > 0)"><a (click)="applyPromocode()"
                        *ngIf="selected_coupons.length === 0">Apply Promo Code</a>
                      <a *ngIf="selected_coupons.length > 0" (click)="applyPromocode()">
                        Promocode applied , it will effect in the bill</a>&nbsp;&nbsp;{{selected_coupons.toString()}}
                    </div>


                    <div *ngIf="selectedImagelist.files.length > 0">
                        <button mat-flat-button (click)="confirm()" [disabled]="checkoutDisabled"class="chekout-btn">CHECKOUT &nbsp; → </button>
                    </div>
                  </div>
                <!-- <div class="cr1">
                <div class="ph-gal-bx col-md-12 col-xs-12 col-sm-12 col-lg-12 no-padding" *ngIf="image_list_popup && image_list_popup.length > 0">
                  <h5>upload list</h5>
                  <ul class="ph-gal">
                      <ng-container *ngFor="let file of image_list_popup;let i = index">
                          <li *ngIf="i<2">
                              <div class="galbx">
                                  <span class="mbt">
                                      <button type="button" mat-icon-button
                                          [matMenuTriggerFor]="menu">
                                          <mat-icon>more_vert</mat-icon>
                                      </button>
                                      <mat-menu #menu="matMenu">
                                          <button type="button" mat-menu-item
                                              (click)="deleteTempImage(file, i)">
                                              <i class="icon-delete"></i>
                                              <span>{{delete_btn}}</span>
                                          </button>
                                      </mat-menu>
                                  </span>
                                  <div class="img-h" (click)="openImageModalRow(file)">
                                      <div class="overlay-y"></div><img [src]="file.modal.img"
                                          *ngIf="file.modal.img" />
                                  </div>
                              </div>
                          </li>
                      </ng-container>
                      <li *ngIf="image_list_popup.length>2">
                          <div class="galbx">
                              <span class="mre" (click)="openImageModalRow(image_list_popup[2])"
                                  *ngIf="(image_list_popup.length-3)>0">+{{(image_list_popup.length-3)}}</span>
                              <div class="img-h" *ngIf="(image_list_popup.length-3)>0"><img
                                      *ngIf="image_list_popup[2].modal.img"
                                      [src]="image_list_popup[2].modal.img" /></div>
                              <span class="mbt" *ngIf="(image_list_popup.length-3)==0">
                                  <button type="button" mat-icon-button [matMenuTriggerFor]="menu">
                                      <mat-icon>more_vert</mat-icon>
                                  </button>
                                  <mat-menu #menu="matMenu">
                                      <button type="button" mat-menu-item
                                          (click)="deleteTempImage(image_list_popup[2], 2)">
                                          <i class="icon-delete"></i>
                                          <span>{{delete_btn}}</span>
                                      </button>
                                  </mat-menu>
                              </span>
                              <div class="img-h" (click)="openImageModalRow(image_list_popup[2])"
                                  *ngIf="(image_list_popup.length-3)==0">
                                  <div class="overlay-y"></div><img
                                      *ngIf="image_list_popup[2].modal.img"
                                      [src]="image_list_popup[2].modal.img" />
                              </div>
                          </div>
                      </li>
                  </ul>
                  <ks-modal-gallery [id]="0" [modalImages]="image_list_popup"
                      [plainGalleryConfig]="customPlainGalleryRowConfig"
                      [buttonsConfig]="customButtonsFontAwesomeConfig"
                      (buttonBeforeHook)="onButtonBeforeHook()"
                      (buttonAfterHook)="onButtonAfterHook()"></ks-modal-gallery>
              </div>



</div> -->

              </div>
            </div>
            <div class="panel-body no-padding">
              <div class="col-md-12 col-xs-12 col-sm-12 no-padding">
                <div class="card p0">
                  <div class="copy locd">


                    <div class="lbl col-md-12 col-lg-12 col-xs-12 col-sm-12 no-padding notes"
                      *ngIf="action=='timeChange'">
                      <div class="col-md-12 col-xs-12 col-sm-12 mgn-lt-10">
                        <div class="col-md-12 col-xs-12 col-sm-12 no-padding lnk mgn-bt-5 mgn-up-10">
                          Choose
                          Date</div>
                        <div class="pull-left brd-round brd-light mgn-up-20">
                          <div class="icon-minus pull-left" (click)="calculateDate(-1)">
                          </div>

                          <div class="pull-left chkindt">{{sel_checkindate | date: dateFormat}}</div>
                          <div class="icon-add pull-left" (click)="calculateDate(1)"></div>
                        </div>
                        <div class="pickerouter caldiv pull-left mgn-up-20">
                          <mat-datepicker-toggle matSuffix [for]="picker">
                          </mat-datepicker-toggle>
                          <mat-datepicker #picker [dateClass]="dateClass.bind(this)"></mat-datepicker>
                          <input class="" style="visibility: hidden; width:1px" type="text"
                              [matDatepicker]="picker" [min]="minDate" [max]="maxDate" [value]="ddate"
                              (dateChange)="handleFutureDateChange($event)">
                        </div>
                      </div>
                      <div class="col-md-12 col-xs-12 col-sm-12 mgn-lt-10">
                        <div class="col-md-12 col-xs-12 col-sm-12 no-padding lnk mgn-up-20 mgn-bt-20">Delivery
                          Timings  </div>
                        <div class="col-md-12 col-xs-12 col-sm-12 slotdiv no-padding mgn-up-20">
                          <!-- <div class="pull-left brd-round brd-light mgn-up-20" *ngIf="isfutureAvailableTime">
                            <p>{{futureAvailableTime}}</p>
                          </div> -->

                          <div class="col-md-6 col-xs-12 col-sm-8 form-group" *ngIf="isfutureAvailableTime">
                            <!-- <mat-form-field>
                              <mat-select placeholder="Time windows" [(ngModel)]="timeWindows" >
                                <mat-option *ngFor=" let stat of availableTimewindows" [value]="stat">
                                  {{stat.sTime}} -  {{stat.eTime}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field> -->
                            <mat-chip-list class="">
                              <mat-chip *ngFor="let queue of nextAvailableTimeQueue, let i= index"
                              (click)="handleQueueSelection(queue, i)">
                              <!-- [selected]="queue(i) === nextAvailableTime"> -->
                                  {{queue['sTime'] + ' - ' +
                                  queue['eTime']}}
                              </mat-chip>
                          </mat-chip-list>
                          </div>
                          <div  *ngIf="!isfutureAvailableTime">
                              <p>No timings are available</p>
                            </div>
                        </div>
                      </div>
                      <div class="col-md-12 col-xs-12 col-sm-12 mgn-bt-20 mgn-up-20 mgn-lt-5">
                        <button (click)="goBackToCheckout(futureAvailableTime ,queue)" [disabled]="!isfutureAvailableTime" class="btn bt3 btn-default coupon-apply-btn"
                          type="button">Ok</button>
                      </div>
                    </div>


                    <div class="lbl col-md-12 col-lg-12 col-xs-12 col-sm-12 no-padding notes" *ngIf="action=='coupons'">
                      <div class="col-md-12 col-xs-12 col-sm-12 lnk mgn-up-20">Apply promocode</div>
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mgn-up-20">
                        <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 no-padding" *ngIf="showCouponWB">
                          <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 form-level-settings applybill no-padding">
                            <i class="icon-bell"></i>{{applied_inbilltime}}
                          </div>
                          <div class="col-md-4 col-lg-3 col-sm-6 col-xs-8 no-padding">
                            <div class="input-group">
                              <input [ngClass]="{'invalid':!couponvalid}" (keydown)="clearCouponErrors()"
                                placeholder="Enter coupon code" type="text" class="form-control"
                                [(ngModel)]="selected_coupon">
                              <span class="input-group-btn">
                                <button class="btn bt3 btn-default coupon-apply-btn"
                                  (click)="applyCoupons(selected_coupon)" type="button">Add</button>
                              </span>
                            </div>
                          </div>

                          <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 no-padding" style="color: red;"
                            *ngIf="api_cp_error !== null">
                            {{api_cp_error}}</div>
                          <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 no-padding mgn-up-10 mgn-bt-20">

                          </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-lg-12 col-12 mgn-up-20 mgn-bt-30 border-tp pad-up-10"
                          *ngIf="couponsList && couponsList.length>0">
                          <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 no-padding"
                            *ngFor="let coupon of couponsList let i=index">
                            <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 no-padding coupon-add-msg">
                              <div class="col-md-5 col-sm-7 col-xs-7 col-lg-4 no-padding">
                                {{coupon.couponCode}} </div>
                              <div class="col-md-7 col-sm-5 col-xs-5 col-lg-8 delteTC">
                                <span><a *ngIf="coupon.instructions" (click)="toggleterms(i)"
                                    class="pointer-cursor lnk read-more-checkin">Read
                                    T & C </a></span>
                                <span><a class="pointer-cursor lnk"><i class="pointer-cursor icon-delete mgn-lt-10 lnk"
                                      (click)="removeJCoupon(i)" [matTooltipClass]="tooltipcls"
                                      [matTooltip]="'Remove Coupon'"></i></a></span>
                              </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 mgn-up-10 pre-instr no-padding"
                              *ngIf="coupon.showme">
                              {{coupon.instructions}}
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 coupon-outer" *ngIf="coupon_status">
                        <div class="form-group">
                          <span *ngIf="coupon_status=='success'" class="coupon_success">Coupon Code(s)
                            applied
                            successfully</span>
                          <span *ngIf="coupon_status=='error'" class="coupon-error">Coupon Code(s) not
                            valid</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </div>


          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>

</section>
