.card
{
    border-radius: 10px;
}
.dropdown-menu {
  width: 200px!important;
}
.height-limit
{
  height: 140px!important;
    overflow-y: scroll!important;
}
.text-primary
{
    color: #1E4079!important;
}
.border-cirlce
{
    background-color: #1E4079!important;
    color: #fff!important;
    border-radius: 50%!important;
    padding: 7px 8px!important;
}
.location-name
{
  font-size: 12px!important;
}
.container
{
    width: 95%!important;
}
.fa.fa-chevron-down
{
    font-size: 10px!important;
}
.btn.btn-outline-primary
{
    font-size: 12px!important;
    width: 100px!important;
}


/* Circular Progress Bar */

.progress-circle {
    position: relative;
    display: inline-block;
    margin: 0.5rem;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #ebebeb; }
  
  .progress-circle:after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -webkit-animation: colorload 2s;
    animation: colorload 2s; 
}
  
  .progress-circle span {
    font-size: 0.6rem;
    color: #8b8b8b;
    position: absolute;
    left: 50%;
    top: 50%;
    display: block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    margin-left: -30px;
    margin-top: -30px;
    text-align: center;
    border-radius: 50%;
    background: #fff;
    z-index: 1; }
  
  .progress-circle span:after {
    content: "";
    font-weight: 600;
    color: #8b8b8b; 
}

.progress-circle.progress-70:after {
    background-image: linear-gradient(-18deg, #ebebeb 50%, transparent 50%, transparent), linear-gradient(270deg, #1E4079 50%, #ebebeb 50%, #ebebeb); 
}

.progress-bar-text
{
    font-size: 8px!important;
    color: #1E4079!important;
}

.fa .fa-edit
{
  color: lawngreen!important;
}

@keyframes colorload {
0% {
    opacity: 0;
    transform: rotate(0deg); }
100% {
    opacity: 1;
    transform: rotate(360deg); } 
}












.details.text-secondary
{
    color: rgb(131, 128, 128)!important;
    font-size: 12px!important;
}
.details.text-warning
{
    color: rgb(219, 153, 30)!important;
    font-size: 12px!important;
}
.details.text-dark
{
    font-size: 15px!important;
}
.details.text-success
{
    font-size: 15px!important;
}

.task-description
{
    color: rgb(167, 161, 161)!important;
    font-size: 15px!important;
}

.border
{
    border: 1px solid rgb(240, 233, 233);
    padding: 10px!important;
    margin-right: 10px!important;
}

.subtask-border
{
    border: 1px solid rgb(240, 233, 233);
    padding: 10px!important;
}









.progress-bar {
    padding: 0!important;
  }
  .progress {
    width: 50px!important;
  }
  #fileInput {
    position: absolute!important;
    cursor: pointer!important;
    z-index: 10!important;
    opacity: 0!important;
    height: 100%!important;
    left: 0px!important;
    top: 0px!important;
  }
  .mat-toolbar-single-row {
    height: auto !important;
    background: transparent!important;
    padding: 0!important;
  }
  .mat-toolbar-single-row button {
    width: 100px!important;
  }
  .mat-form-field {
    width: 100%!important;
  }
  .message {
    background-color: #ddd!important;
    padding: 15px!important;
    color: #333!important;
    border: #aaa solid 1px!important;
    border-radius: 4px!important;
    margin-bottom: 10px!important;
  }



  .img-section img {
    width: 70px!important;
    height: 70px!important;
    cursor: auto!important;
  }
  .galul {
    margin: 0!important;
    padding: 0!important;
    list-style: none!important;
  }
  .galul li {
    float: left!important;
  }
  .galimg_outer {
    position: relative!important;
    padding: 5px 10px 10px 5px!important;
  }
  .gal-input input {
    width: 70px!important;    
    font-size: .7rem!important;
  }
  .gal_action {
    position: absolute!important;
    top: -5px!important;
    right: -3px!important;
    background: rgba(0,0,0,.5)!important;
    width: 15px!important;
    height: 15px!important;
    text-align: center!important;
    border-radius: 50%!important;
    cursor: pointer!important;
  }

  .upload-file-btn
  {
    width: -webkit-fill-available !important;
    color: #1E4079!important;
    background-color: #fff!important;
    text-align: left!important;
    background: #FCFCFC;
    border: 1.07315px dashed #C9C9C9;
    border-radius: 11.8046px;
  }
  .btn-text
  {
    font-size: 12px!important;
  }

  /* for notes section start */
  @media(max-width: 992px){
    .notesSubTask{
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
    }
    .border{
      margin-right: 0px !important;
    }

  }
  .widthadd{
    max-width: -webkit-fill-available !important;
  }
  @media(min-width: 1200px){
    .widthadd{
      max-width: 32.333333% !important;
    }
    .subTask{
      width: 65.666667% !important;
    }
  }
  .notesListSection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-weight: 500!important;
    font-size: 13px!important;
    color: #4D4B4B;
  }
  .allNotesList{
    padding: 10px;
    background: #FFFFFF;
    border: 0.450552px solid #DCDCDC;
    box-sizing: border-box;
    border-radius: 3.93969px;
   margin: 10px;
  }
  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 180px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
}
.imageStatus{
  height: 16px;
  width: 16px;
  margin-left: -2px;
  margin-right: 8px;
}
  .headerFixed{
    overflow: scroll;
  }

  ::-webkit-scrollbar {
    width: 0.3em;
    height: 0.3em
}
::-webkit-scrollbar-button {
    background: #ccc
}
::-webkit-scrollbar-track-piece {
    background: #eee
}
::-webkit-scrollbar-thumb {
    background: #888
}
.card{
  background: #FFFFFF;
    box-shadow: 1.15808px 4.63232px 11.5808px rgb(179 179 179 / 25%) !important;
    border-radius: 8px !important;
}
.headerName{
  color: #000000;
    font-weight: 600;
    /* padding-left: 10px; */
    font-size: 18px;
}
.taskDetailsEnterHeader{
  font-weight: 500;
  color: #000000;
  font-size: 15px;
}
.taskTitle{
  display: flex;
  align-items: center;
  grid-gap: 5px;
  gap: 5px;
  font-weight: 400;
  font-size: 12px;
  color: rgb(109, 108, 108);
}
.astericColor{
  color: #f24949 !important;
}
.form-control{
  /* background-color: #f6f6f6!important; */
  display: block;
  width: 100%;
  height: 35px;
  padding: 6px 12px!important;
  font-size: 14px !important;
  line-height: 1.42857143!important;
  color: #000000 !important;
  /* border: none !important; */
  /* background-image: none !important; */
  /* background: #F1F1F1 !important; */
  border-radius: 5.73504px !important;
  /* background: #F7F7F7 !important; */
  border: 1px solid #E9E9E9;
  /* box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%) !important; */
  /* transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s!important;
  background: #F7F7F7 !important;
  border: 1px solid #E9E9E9; */
  /* box-shadow: 0px 4px 11px rgb(0 0 0 / 15%) !important; */
  /* border-radius: 7px !important; */
}
.inputlabel{
  color: #949191;
  font-weight: 400;
}
::-webkit-input-placeholder { /* Edge */
  color: #000000;
}

:-ms-input-placeholder { /* Internet Explorer */
  color: #000000;
}

::placeholder {
  color: #000000;
}
.formTop{
  margin-top: 5px;
}
.fieldPadding{
  margin-top: 3px;
}
::ng-deep .mat-select-arrow {
  transform: rotate(0deg) !important;
}

::ng-deep .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
  transform: rotate(-180deg) !important;
}
::ng-deep .form-group .pickerouter .mat-datepicker-toggle button{
  height: auto !important;
    background: #B2B2B2 !important;

}
.dateWithMatDtae{
  display: flex;
  /* flex-direction: row-reverse; */
  align-items: center;
  justify-content: space-between;

}
textarea {
  resize: none;
}
.positionNameInput{
  position: relative;

}
.estField{
  display: flex;align-items: center;gap: 5px;
  box-shadow: 0.417685px 2.50611px 8.77138px 1.25305px rgba(30, 64, 121, 0.15) !important;
  padding: 10px;
  /* width: -webkit-fill-available; */
  border-radius: 5px;
}
@media(max-width: 768px){
  .taskImg{
    display: none;
  }
  .noImg{
    margin-right: 0px !important;
  }
  .secondEst{
    width: -webkit-fill-available;
  }
  .estField{
    width: -webkit-fill-available;
    gap: 10px;
  }
  .taskAndNote{
    display: block;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .formWidth{
    width: 100% !important;
    padding: 5px;
  }
  .notesWidth{
    width: 100% !important;
  }
  .forWeb{
    display: none;
  }
  .forMobile{
    display: block;
  }
  ::ng-deep .example-headers-align .mat-expansion-panel-header-description{
    justify-content: flex-end !important;
  }

}
@media(min-width: 768px){
  .forWeb{
    display: block;
  }
  .forMobile{
    display: none;
  }
  ::ng-deep .example-headers-align .mat-expansion-panel-header-description{
    justify-content: flex-start !important;
  }
}

.timeField{
  font-weight: bold;
    font-size: 12px;
    color: #2e2e2e;
}
.cancelBtn{
  background: #A8ABAF !important;
box-shadow: 0.417685px 2.50611px 8.77138px 1.25305px rgba(30, 64, 121, 0.15) !important;
border-radius: 3.75916px !important;
border: 0px solid  !important;
margin-right: 10px !important;
padding: 6px 10px;
color: #fff;
font-weight: bold;
  font-size: 14px;
}
.confirmBtn{
  background: #0D2348 !important;
box-shadow: 0.417685px 2.50611px 8.77138px 1.25305px rgba(30, 64, 121, 0.15) !important;
border-radius: 3.75916px !important;
border: 0px solid  !important;
padding: 6px 12px;
color: #fff;
}
input:focus  {
  box-shadow: 0px 4px 11px rgb(0 0 0 / 15%) !important;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s!important;
  background: #F7F7F7 !important;
  border: 2px solid #E9E9E9 !important;
}
input:not(:focus)  {
  box-shadow: none;
  /* border: none !important; */
}
textarea:focus  {
  box-shadow: 0px 4px 11px rgb(0 0 0 / 15%) !important;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s!important;
  background: #F7F7F7 !important;
  border: 2px solid #E9E9E9 !important;
}
textarea:not(:focus)  {
  box-shadow: none;
  /* border: none !important; */
}
.notesSection{
  background: #FFFFFF;
    border: 0.82945px solid #D9D5D5;
    border-radius: 7.25282px;
}
.taskAndNote{
  display: flex;
  justify-content: space-between;
  gap: 10px;
 
}
.formWidth{
  width: 60%;
  padding: 5px;
}
.notesWidth{
  width: 40%;
}
.fiesWithIcon{
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd !important;
}
.filesUploadThings{
  padding: 10px;
}
.filesUploadThingsAction{
  padding: 10px;
  text-align: center;
}
.label{
  color: #505050 !important;
  font-weight: 500;
  padding: 10px !important;
  font-weight: 600;
    /* padding: 10px !important; */
    font-size: 12px;
}
.labelFile{
  color: #505050 !important;
  font-weight: 500;
}
.textareaStart{
  background: #FFFFFF;
    border: 0.82945px solid #D9D5D5;
    border-radius: 7.25282px;
}
textarea .form-control{
  height: 100px !important;
  background: #FCFCFC !important;
    border: 1.07315px solid #C9C9C9 !important;
    border-radius: 11.8046px !important;
}
.allNotesList{
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
}
.errorMsg{
  color: #f24949;
  font-size: 12px;
  font-weight: 500;
  margin-left: 10px;
    margin-bottom: 10px;
    margin-top: -10px;
}
.inputFile{
  border: 1.07315px dashed #C9C9C9;
    border-radius: 11.8046px;
    height: 85px !important;
    background: #FCFCFC !important;
}
.imageStatus{
  height: 20px;
  width: 20px;
}
.statusListClass{
  display: flex;
    gap: 10px;
    margin-top: 5px;
    margin-left: -20px;
}
.statusClass1{
  display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 10px; */
    background: #D7FEE9;
    border: 1px solid #D7FFE9;
    border-radius: 11px;
    padding: 10px;
    flex-direction: row-reverse;
    cursor: pointer;
}
.statusClass2{
  display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 10px; */
    background: #FEECD7;
border-radius: 11.9425px;   
    padding: 10px;
    border-radius: 11px;
    flex-direction: row-reverse;
    /* border: 1px solid #D7FFE9; */
    cursor: pointer;
}
.statusClass3{
  display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 10px; */
    padding: 10px;
    flex-direction: row-reverse;
    background: #FADDDD;
    border-radius: 11.9425px;
    /* border-radius: 11px; */
    cursor: pointer;
}
@media(max-width: 768px){
  .statusListClass{
    display: flex;
    grid-gap: 5px;
    margin-top: 10px;
    /* margin-left: -25px; */
  }
  .statusResult{
    margin-left: -15px;
  }
}
.imageClass{
  width: 4rem;
    height: 4rem;
    padding: 20px;
    border-radius: 50%;
    text-align: center;
    background: #D9D8D8;
}