<h1 class="mat-dialog-title">
    {{data.reminder ? (data.status === true ? 'Message' : 'Reminder'): 'Meeting Details'}}
    <button mat-dialog-close class="modal_close" tabindex="-1">
      <i class="fa fa-window-close" aria-hidden="true"></i>
  </button>
  </h1>
  

  <!-- Reminder Section -->
  <div mat-dialog-content *ngIf="data.reminder">
    <div *ngIf="!data.status" class="col-md-12">
    <div class="col-md-8 no-padding" style="color:#1873f2;font-weight:bold" >
      {{reminder_cap}}</div>
      <div class="col-md-3  no-padding">
      <mat-select class="brd-solid-1" [(ngModel)]="selectedTime" (selectionChange)="handleTimeSelction(time.value)" #time>
        <mat-option *ngFor="let min of minute" [value]="min.value">
          {{min.viewValue}}
        </mat-option>
        </mat-select></div>
        </div>
    <div class="mgn-bt-10 reminder">
      <mat-form-field id="reminder">
        <textarea matInput class="form-control tel_srv_txtarea" id="message" placeholder="" [(ngModel)]="msg_to_user"
          (ngModelChange)="dataChanged($event)">
        </textarea>
      </mat-form-field>
      <div class="btn-primary-n custId-cursor delteTC" (click)="copyMessageInfo('reminder','Reminder')">
        <i class="fa fa-clone" aria-hidden="true"></i> Copy this message
      </div>
    </div>
    <div class="coupon-outer mgn-up-40">
        Send {{data.status === true ? 'Message' : 'Reminder'}} Via<br>
      <mat-checkbox class="mgright50 example-margin" [(ngModel)]="sms">
        Mobile
      </mat-checkbox>
      <mat-checkbox class="mgright50 example-margin" [(ngModel)]="email">Email
      </mat-checkbox>
      <mat-checkbox class="mgright50 example-margin" [(ngModel)]="pushnotify">
        App Notification
      </mat-checkbox>
    </div>
  </div>


  <!-- Meeting Details Section -->
  <div mat-dialog-content class="meetingdetail" *ngIf="data.meetingDetail">
    <mat-tab-group (selectedTabChange)="tabClick($event)">
      <mat-tab label="For {{data.custmerLabel}}">
        <mat-form-field id="usr_meetingDetails">
          <textarea class="form-control tel_srv_txtarea" matInput placeholder="" [(ngModel)]="msg_to_user"
            (ngModelChange)="dataChanged($event)">
          </textarea>
        </mat-form-field>
        <div class="btn-primary-n custId-cursor delteTC bx-shdw-none" (click)="copyMessageInfo('usr_meetingDetails','Meeting Details')">
          <i class="fa fa-clone" aria-hidden="true"></i> Copy Meeting Details
        </div>
      </mat-tab>
      <mat-tab label="For me">
        <mat-form-field id="mymeetDetails">
          <textarea class="form-control tel_srv_txtarea" matInput placeholder="" [(ngModel)]="msg_to_me"
            (ngModelChange)="dataChanged($event)">
              </textarea>
        </mat-form-field>
        <div class="btn-primary-n custId-cursor delteTC bx-shdw-none" (click)="copyMessageInfo('mymeetDetails','Meeting Details')">
          <i class="fa fa-clone" aria-hidden="true"></i> Copy Meeting Details
        </div>
      </mat-tab>
    </mat-tab-group>
    <div *ngIf="!providerView" class="coupon-outer">
      Share Meeting Details Via<br>
      <mat-checkbox class="mgright50 example-margin" [(ngModel)]="sms">
        Mobile
      </mat-checkbox>
      <mat-checkbox class="mgright50 example-margin" [(ngModel)]="email">Email
      </mat-checkbox>
      <mat-checkbox class="mgright50 example-margin" [(ngModel)]="pushnotify">
        App Notification
      </mat-checkbox>
    </div>
  </div>

  <!-- Actions -->
  <!-- <div mat-dialog-actions class="paddingtop">
    <button tabindex="-1" style="float:left;" mat-dialog-close class="cs-btn bt2">Cancel</button>
    <button tabindex="2" style="float:left;" class="cs-btn bt1" (click)="sendMessage()">Send</button>
  </div> -->

  <div  *ngIf="!providerView" class="mat-dialog-actions" style="margin-top: 15px;display: inline-flex;">
    <button type="button" mat-dialog-close class="cs-btn bt2"
        [disabled]="disableButton">{{cancel_btn_cap}}</button>
    <button type="button" mat-button (click)="sendMessage()"
        class="cs-btn bt1 mr10">{{send_btn_cap}}</button>

</div>

  <!-- <app-field-error-display [displayError]="true" *ngIf="showError" errorMsg="Department name is required">
  </app-field-error-display> -->
  <app-form-success-display [displayMsg]="true" *ngIf="api_success" successMsg="{{api_success}}">
  </app-form-success-display>
