.fa-arrow-left {
  color: #1E4070 !important;
  font-size: 16px !important;
  font-weight: bold !important;
}

.heading {
  font-size: 18px !important;
  font-weight: 700 !important;
}

.full-width {
  width: 100% !important;
}

.btn-primary {
  background-color: #1e4079 !important;
  border-color: #1e4070 !important;
  color: #fff !important;
  font-weight: 100 !important;
  border-radius: 4px !important;
}

.btn-warning {
  background-color: #EFA855 !important;
  border-color: #EFA855 !important;
  color: #fff !important;
  font-weight: 100 !important;
  border-radius: 4px !important;
}

.font-weight-600 {
  font-weight: 600 !important;
}

.bg-light {
  background-color: #fff !important;
}

.fa-check {
  color: #fff !important;
}

.status-callCompleted {
  /* background-color: #cce6c8 !important; */
  color: rgb(55, 97, 55) !important;
  font-weight: bold !important;
  padding: 5px !important;
  border-radius: 8px !important;
}

/* .p-button {
    background-color: #1E4079 !important;
} */

.text-white {
  color: #fff !important;
}

th {
  font-size: 14px !important;
}

.shadow {
  -webkit-box-shadow: 0 0 5px 2px #fff !important;
  -moz-box-shadow: 0 0 5px 2px #fff !important;
  box-shadow: 0 0 5px 2px #fff !important;
}

.text-right.p-dropdown.p-component {
  width: 400px !important;
}

.back-btn {
  color: #1E4070 !important;
  font-size: 16px !important;
  font-weight: 700 !important;
}


/* .text-primary {
  color: #1E4079 !important;
} */

.status-connected {
  /* background-color: #cce6c8 !important; */
  color: #18801f !important;
  font-weight: bold !important;
  padding: 5px !important;
  border-radius: 8px !important;
}

.status-missed {
  /* background-color: #FFCDD2 !important; */
  color: #C63737 !important;
  font-weight: bold !important;
  padding: 5px !important;
  border-radius: 8px !important;
}

.status-voicemail {
  /* background-color: #d9e3ff !important; */
  color: #10359c !important;
  font-weight: bold !important;
  padding: 5px !important;
  border-radius: 8px !important;
}

.text-grey {
  color: #757575 !important;
}


@media (max-width: 767px) {

  .table-column-data {
    font-weight: bold !important;
  }

  .mobile-card {
    box-shadow: 0px 2px 20px -10px #bbb !important;
  }

  .text-right.p-dropdown.p-component {
    width: 400px !important;
  }

  .heading {
    font-size: 16px !important;
  }
}



@media screen and (max-width: 576px) and (min-width: 0px) {
  .desktop-only {
    display: none;
  }

  .container {
    overflow: none !important;
  }
}

@media (min-width: 1025px) {
  .mobile-only {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .mobile-only {
    display: none;
  }

  ::ng-deep .p-timeline-event-content {
    font-size: 0.7rem !important;
  }
}
