::ng-deep .p-component-overlay {
    width: 0 !important;
}

.pi-filter-fill {
    font-size: 15px !important;
}

.p-button-primary {
    background-color: #1e4079 !important;
    border-color: #1e4070 !important;
    color: #fff !important;
    font-weight: 100 !important;
    border-radius: 3px !important;
}

.btn-heading {
    font-size: 16px !important;
    font-weight: 600 !important;
    letter-spacing: 1px;
}

.main-heading {
    font-size: 18px !important;
    letter-spacing: 1px;
}

::ng-deep .filter-sidebar .p-sidebar-header {
    display: flex !important;
    justify-content: end !important;
}

::ng-deep .filter-sidebar .p-inputtext {
    width: 100%!important;
}

::ng-deep .filter-sidebar .p-calendar .p-inputtext {
    width: 100% !important;
}

.filter-sidebar label {
    font-weight: 700!important;
    font-size: 14px!important;
    margin-bottom: 0 !important;
}