.action-section {
  margin-bottom: 20px;
}
.action-box {
  /* border: 1px solid #ccc; */
  width: 150px;
  height: 110px;
  margin: 15px;
  text-align: center;
  float: left;
  display: table;
  box-shadow: 10px 10px 15px 0px #cccccc9c;
}
@media (max-width: 970px) {
  .action-box {
    width: 140px;
  }
}
@media (max-width: 864px) {
  .action-box {
    width: 125px;
    height: 90px;
  }
}
.fa .fa-hourglass-star{
  width: 40px !important;
  height: 40px !important;
  display: block;
}
@media (max-width: 520px) {
  .action-box {
    width: 100px;
    margin: 10px;
  }
  .bill-icon, .cancel-icon, .changestatus-icon, .label-icon, .mail-icon, 
  .message-icon, .notes-icon, .printer-icon, .viewdetails-icon,
  .arrived-icon, .complete-icon, .waitlistcall-icon, .start-icon, .qnr-icon,
  .meet-icon, .phon-icon, .reschedule-icon, .delay-icon, .mr-rx-icon, .medicalrecord-icon {
    width: 25px !important;
  }
  .customerdetails-icon {
    width: 20px !important;
  }
  .textIcon{
    width: 40px !important;
    height: 40px !important;
    color: blue !important;
  }
  .action-box .zoom-icon, .action-box .wtsapaud-icon, .action-box .wtsapvid-icon {
    width: 50px !important;
  }
}

@media (max-width: 400px) {
  .icon-text {
    font-size: smaller;
  }
  .action-box {
    width: 40%;
    height: 90px;
    margin: 10px;
  }
}
@media (max-width: 330px) {
  .action-box {
    width: 120px !important;
  }
}
.action-box-sub {
  display: table-cell;
  vertical-align: middle;
}
.label-head {
  color: black;
  font-weight: 700;
  font-size: 1rem;
}
.footerlinks {
  font-size: 1rem;
}
.action-box .zoom-icon, .action-box .wtsapaud-icon, .action-box .wtsapvid-icon {
  width: 70px;
}
.action-box .meet-icon, .action-box .phon-icon {
  width: 40px;
}
.action-box .wtsapaud-icon {
  margin-top: -15px;
}
.label-caption {
  margin-left: 50px;
  margin-top: 10px;
  font-weight: bold;
  font-size: 1.2rem;
}
.slotdiv {
  max-height: 250px;
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 20px;
}
.changelink {
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 1rem;
  text-decoration: underline;
}
.reschedule-btn span {
  padding: 10px 40px !important;
  font-size: 1rem !important;
}
.reschedule.p-checkin .mainouter .queue-outer .mat-chip-list .mat-chip-list-wrapper .mat-chip:hover {
  background-color: #29b6f6 !important;
  color: white !important;
}
.reschedulebtn {
  text-align: center;
}
.reschedulebtn span {
  padding: 10px 30px !important;
  font-size: 1rem !important;
}
.scro {
  max-height: 450px;
  overflow-y: scroll;
}
.pad-9 {
  padding:9px !important;
}
.status-box {
  box-shadow: 5px 5px 5px 0px #cccccc60 !important;
  border-radius: 10px;
  background: #ffffff;
  color: #1e4079;
  width: 30%;
  padding: 20px;
  float: left;
  margin: 10px;
  cursor: pointer;   
  border: 1px solid #cccccc60;
}
.status-box .status {
  font-weight: bold;
  font-size: 1.2rem;
}
.status-box-internal{
  box-shadow: 5px 5px 5px 0px #cccccc60 !important;
  border-radius: 10px;
  background: #ffffff;
  color:#FF8C00;
  width: 30%;
  padding: 20px;
  float: left;
  margin: 10px;
  cursor: pointer;   
  border: 1px solid #cccccc60;
}
.status-box-disabled{
  box-shadow: 5px 5px 5px 0px #cccccc60 !important;
  border-radius: 10px;
  background: #ffffff;
  color:grey;
  width: 30%;
  padding: 20px;
  float: left;
  margin: 10px;
  cursor: pointer;   
  border: 1px solid #cccccc60;
  pointer-events: none;
  opacity: 0.4;
}
.status-box-internal .status,.status-box-disabled .status {
  font-weight: bold;
  font-size: 1.2rem;
}
.hght {
  height: 250px;
}
@media (max-width: 595px) {
  .status-box {
    width: 95% !important;
  }
  .status-box-internal {
    width: 95% !important;
  }
  .status-box-disabled {
    width: 95% !important;
  }
}
::ng-deep .action-label .mat-checkbox-layout{
  white-space: normal !important;
}
::ng-deep .action-label .mat-checkbox-inner-container {
  margin: 0 auto !important;
}
::ng-deep .action-label .mat-checkbox-layout .mat-checkbox-label {
  margin-left: 5px !important;
}
.status-scro {
  max-height: 65vh;
  overflow-y: scroll;
}
@media(max-width: 750px){ 
  .popBt{
    height: 38px !important;
    width: 100px !important;
  }
  }

  .appt-in-chip .mat-chip {
    min-width: 13% ;
    max-width: 13% ;
    
  }