.modal-dialog .modal-content {
    border-radius: 0 !important;
    height: -webkit-fill-available !important;
  }
  
 .modal-dialog .modal-content .modal-header {
    padding: 15px 10px !important;
  }
  
  .modal-dialog .modal-content .modal-header::before,
 .modal-dialog .modal-content .modal-header::after {
    content: none !important;
  }
  
.modal-dialog .modal-content .modal-header h4 {
    font-weight: 700 !important;
    text-decoration: underline !important;
    text-underline-position: under !important;
    text-transform: uppercase !important;
  }
  
.modal-dialog .modal-content .modal-header button i {
    color: #522E5A !important;
  }
  
.modal-dialog .modal-content .modal-body h6 {
    font-weight: 700 !important;
    text-decoration: underline !important;
    text-underline-position: under !important;
    text-transform: uppercase !important;
  }
  
.modal-dialog .modal-content .modal-body p {
    text-align: justify !important;
  }
  
 .modal-dialog .modal-content .modal-footer button {
    border: 0 !important;
    border-radius: 30px !important;
    height: 50px !important;
    padding: 10px 30px !important;
    background: transparent radial-gradient(closest-side at 6% 0%, #E7B7C8 0%, #8D42A2CC 100%) 0% 0% no-repeat padding-box !important;
    /* box-shadow: 15px 15px 40px #dba8c4 !important; */
    opacity: 1 !important;
    color: white !important;
    margin: 8px 10px !important;
  }
  body.modal-open {
    overflow: hidden !important;
  }
  .modal-dialog {
    margin-top: 100px !important;
  }
  .modal-body {
    max-height: 70vh;
    overflow: auto;
  }
  
.t-and-c .checkbox label {
  display: inline-flex !important;
  align-items: center !important;
  font-size: 15px !important;
}

.t-and-c .checkbox label a {
  color: #A986AC !important;
  font-weight: 700 !important;
}