<section>
    <app-breadcrumb [breadcrumbs]="breadcrumbs" [moreOptions]="breadcrumb_moreoptions"
        (performAction)="performActions($event)"></app-breadcrumb>
</section>
<section>
    <div class="content loc-list sc-frm ynw-common-form-nm">
        <div class="col-md-12 no-padding-small">
            <div class="row">
                <div class="card p0">
                    <div class="copy locd">
                        <div class="col-md-6 col-xs-12 col-sm-12">
                            <div class="form-group" *ngIf="scExists">
                                <div class="col-md-8 col-xs-10 col-sm-10">
                                    <mat-form-field>
                                        <input matInput placeholder="SC Code/ Phone Number" type="text"
                                            class="form-control" [(ngModel)]="scCode_Ph"
                                            [ngModelOptions]="{standalone: true}">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4 col-xs-2 col-sm-2">
                                    <i class="fa fa-search pointer-cursor" (click)="findSC_ByScCode(scCode_Ph)"></i>
                                </div>
                            </div>
                            <div class="salesChannelDetails" *ngIf="scfound">
                                <div class="col-md-12 col-xs-12 col-sm-12 mgn-up-10">
                                    SC Code: {{scInfo.scId}}
                                </div>
                                <div class="col-md-12 col-xs-12 col-sm-12 mgn-up-10">
                                    SC Name: {{scInfo.scName}}
                                </div>
                                <div class="col-md-12 col-xs-12 col-sm-12 mgn-up-10">
                                    SC Phone No: {{scInfo.primaryPhoneNo}}
                                </div>
                                <div class="col-md-12 col-xs-12 col-sm-12 mgn-up-10 mgn-bt-10">
                                    Name : {{scInfo.contactFirstName}} {{scInfo.contactLastName}}
                                </div>
                            </div>
                            <div class="actiondiv labelsave" *ngIf="scExists" style="display: inline-flex;">
                                <button (click)="onCancel()" type="button"
                                    class="cs-btn bt2">Cancel</button>
                                &nbsp;
                                <button (click)="addSalesCode(scCode_Ph)" type="button" mat-button
                                    class="cs-btn bt2">SET</button>
                            </div>
                        </div>
                        
                        <!-- <div class="col-md-12">
                                <form novalidate (keyup)="resetApiErrors()"
                                    class="ynw-common-form-nm wiz-service labelForm serviceform">
                                    <ng-container>
                                        <div *ngIf="!sales_code">
                                            <div class="form-group jdn_discount">
                                                <mat-form-field>
                                                    <input matInput type="text" class="form-control" id="id"
                                                        placeholder="Enter Sales channel code" [(ngModel)]="id"
                                                        [ngModelOptions]="{standalone: true}" autocomplete="off">
                                                </mat-form-field>
                                            </div>
                                            <div class="actiondiv labelsave" style="display: inline-flex;">
                                                <button (click)="onCancel()" type="button"
                                                    class="cs-btn bt2">Cancel</button>
                                                &nbsp;
                                                <button (click)="addSalesCode(id)" type="button" mat-button
                                                    class="cs-btn bt2">SET</button>
                                            </div>
                                        </div>
                                    </ng-container>
                                </form>
                            </div> -->
                        <div class="content loc-list">
                            <h3 class="pointer-cursor" *ngIf="sales_code">Sales Channel Code</h3>
                            <div class="item">
                                <div *ngIf="sales_code">{{sales_code}} </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</section>