.mobPrefix {
    display: flex;
    align-items: center;
    padding: 0.55rem 1rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #3F4254;
    text-align: center;
    white-space: nowrap;
    background-color: #F3F6F9;
    border: 1px solid #E4E6EF;
    border-radius: 0.42rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.mobclass {
    width:80%!important;
    height:38px!important;
}
.ynw-common-form .form-control {
    display: block !important;
    width: 100% ;
    height: 34px;
    padding: 6px 12px !important;
    font-size: 14px !important;
    line-height: 1.42857143 !important;
    color: #555 !important;
    background-color: #fff !important;
    background-image: none !important;
    border: 1px solid #ccc !important;
    border-radius: 4px !important;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%) !important;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s !important;
}
.deleteIcon{
    height: 85px;
    width: 85px;
    background: #F7F7F7;
    box-shadow: inset 0px 4.875px 4.875px rgb(0 0 0 / 25%);
    border-radius: 50%;
   
    padding: 5px
}
.deletePosition{
    text-align: center;
    margin-top: 20px;
}
.confirmation{
    text-align: center;
    margin-top: 10px
}
.confirmationTxt{
    color: #E67367;
    font-size: 18px;
    font-weight: 500;
}
.confirmationdlt{
    text-align: center;
    margin-top: 10px 
}
.confirmationTxtDlt{
    color: #464646;
    font-size: 14px;
    font-weight: 500;
}
.btnActive{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}
.noBtn{
    background: #ECEBEB;
    border-radius: 6.89189px;
    border: none;
    padding: 10px;
    width: 5rem;
    box-shadow: 0px 4.51106px 4.51106px rgb(0 0 0 / 25%);
}
.yesBtn{
    border: none;
    padding: 10px;
    width: 5rem;
    background: #FF4343;
    box-shadow: 0px 4.51106px 4.51106px rgb(0 0 0 / 25%);
    border-radius: 6.89189px;
    color: #fff;
    font-weight: 600;
}
.modal_close{
    border: none !important;
}
.goodByText{
    font-size: 45px;
    color: #000000;
    font-weight: 400;
}
.padIng{
    padding: 10px;
}
.textCenter{
    text-align: center;
}
.deletedTxt{

}
.goodByeImg{

}