<!-- <h1 mat-dialog-title>{{data.heading}}</h1> -->
<h1 mat-dialog-title></h1>
<div mat-dialog-content>
  <p> {{data.message}} </p>
  <div *ngIf="data.cancelPolicy">
    <div>
      <span>Note:</span> Jaldee is not responsible for the transactions between Consumer and Provider.
      <ul>
        <li>Consumers can cancel the booking anytime</li>
        <li>If the consumer cancels the appointment, 3% will be deducted from the amount(which includes Jaldee service charges and Online Gateway fees).</li>
        <li>Refund will be received directly to the consumer’s bank account after he/she cancels the future bookings.</li>
        <li>If the booking is cancelled on the date of booking, refund will not be processed automatically(i.e Consumer must inform the provider to initiate the refund)</li>
      </ul>
    </div>
    <p> Are you sure you want to cancel {{data.book}}? </p>
  </div>
</div>
<div *ngIf="data.filterByDept" class="col-md-12 col-sm-12 col-xs-12">
  <div class="col-md-6 col-sm-6 dept-input"> 
  <input type="text" class="form-control" id="mobile_number" placeholder="Department name *" [(ngModel)]="deptName"
    autocomplete="off">
  </div>
</div>
<div mat-dialog-content *ngIf="data.message1">
  <p> {{data.message1}} </p>
</div>
<div mat-dialog-actions class="paddingtop">
  <button tabindex="-1" (click)="onClick(0)" class="cs-btn bt2">{{cancel_btn_cap}}</button>
  <button tabindex="2" (click)="onClick(1)" class="cs-btn bt1 reddelete">{{ok_btn_cap}}</button>
</div>
<app-field-error-display [displayError]="true" *ngIf="showError" errorMsg="Department name is required">
</app-field-error-display>