<div class="lm-outer w-manager">
        <section>
            <h3>Create Devotee</h3>
            <ul class="ul-normal">
                    <li>You can create a devotee.</li>
                    <li>Initial step is the search process. With mobile number and first name/last name of  devotee, search for this particular entry in the system.</li>
                    <li>If the devotee does not exists you can input the devotee details and get registered with Jaldee.</li>
            </ul>
        </section>
    </div>
    