<mat-radio-group class="paymentmode shadow" name="paymentMode" (change)="paymentModeSelected($event)">
    <div *ngFor="let modes of paymentModes">
        <mat-radio-button class="pay-rad mgn-up-5" [value]="modes.mode">
            <div class="clearfix"></div>
            <div class="col-xs-12 no-padding pay-mode mgn-up-10">
                <div class="col-xs-12 no-padding mgn-up-10 text-center">
                    <img class="pay-icons" [src]="getImageSrc(modes.mode)">
                </div>
                <div class="col-xs-12 mgn-up-5 no-padding text-center">
                    {{modes.modeDisplayName}}
                </div>
            </div>
        </mat-radio-button>        
    </div>
    <div>
        <mat-radio-button class="pay-rad mgn-up-5" [value]="'cash'" *ngIf="cashPay">
            <div class="clearfix"></div>
            <div class="col-xs-12 no-padding pay-mode mgn-up-10">
                <div class="col-xs-12 no-padding mgn-up-10 text-center">
                    <img class="pay-icons" [src]="getImageSrc('CASH')">
                </div>
                <div class="col-xs-12 mgn-up-5 no-padding text-center">
                    Pay by Cash
                </div>
            </div>
        </mat-radio-button>
    </div>
</mat-radio-group>