<div class="col-md-12">
    <div class="cl1" *ngIf="dept_data && action=='show'">
        <span class="editbt" (click)="editDepartment()" *ngIf="dept_data.departmentStatus=='ACTIVE'"></span>
        <div class="ot-it">
            <h4>{{dept_data.departmentName | capitalizeFirst}}</h4>
            <div class="c-ot m0">
                <div class="item">
                    <span class="ttle">Department Code</span>
                    <span>{{dept_data.departmentCode}}</span>
                </div>
                <div class="item" *ngIf="dept_data.departmentDescription">
                    <span class="ttle">Description</span>
                    <span>{{dept_data.departmentDescription}}</span>
                </div>
            </div>
        </div>
    </div>
    <form [formGroup]="deptForm" novalidate (ngSubmit)="deptForm.valid &&
onSubmit(deptForm.value)" (keyup)="resetApiErrors()" *ngIf="action !== 'show'"
        class="ynw-common-form-nm wiz-service serviceform">
        <ng-container>
            <div class="col-md-12">
                <div class="form-group">
                    <mat-form-field>
                        <input matInput type="text" class="form-control" id="dept_name"
                            placeholder="Enter Department Name *" formControlName="departmentName" autocomplete="off">
                    </mat-form-field>
                    <app-field-error-display [displayError]="fed_service.isFieldValid(deptForm,'departmentName')"
                        [errorMsg]="fed_service.getErrorMessage(deptForm,'departmentName',
        {
          'required' : 'Please enter the department name.',
          'maxlength' : 'Name can contain only 100 characters'
        })">
                    </app-field-error-display>
                </div>
                <div class="form-group">
                    <mat-form-field>
                        <input matInput type="text" class="form-control" id="dept_code"
                            placeholder="Enter Department Code *" formControlName="departmentCode" autocomplete="off">
                    </mat-form-field>
                    <app-field-error-display [displayError]="fed_service.isFieldValid(deptForm,'departmentCode')"
                        [errorMsg]="fed_service.getErrorMessage(deptForm,'departmentCode',
            {
              'required' : 'Please enter the department code.',
              'maxlength' : 'Name can contain only 15 characters'
            })">
                    </app-field-error-display>
                </div>
                <div class="form-group">
                    <!-- <input matInput type="text" class="form-control" id="description" placeholder="Description"
        formControlName="description" autocomplete="off"> -->
                    <mat-form-field>
                        <textarea matInput class="form-control" id="description"
                            placeholder="Briefly describe department" formControlName="departmentDescription"
                            (keyup)="setCharCount($event)" (focus)="setDescFocus()" (blur)="lostDescFocus()"
                            maxlength="250"> </textarea>
                    </mat-form-field>

                    <app-field-error-display [displayError]="fed_service.isFieldValid(deptForm,'departmentDescription')"
                        [errorMsg]="fed_service.getErrorMessage(deptForm,'departmentDescription',
        {
          'required' : 'Please enter the department description.',
          'maxlength' : 'Description can contain only 250 characters'
        })">
                    </app-field-error-display>
                    <span class="max-char-length" *ngIf="isfocused">You have {{char_count}} characters remaining</span>
                </div>
                <div class="actiondiv" style="margin-bottom:30px">
                    <button (click)="onCancel()" type="button" class="cs-btn bt2">{{cancel_btn}}</button> &nbsp;
                    <button type="submit" mat-button [disabled]="!deptForm.valid || savedisabled"
                        class="cs-btn bt1">{{button_title}}</button>
                    <!-- <span class="service-tooltip" *ngIf="type == 'add' && mode=='normal'">
                    <i class="icon-bell"></i>
                    {{tooltip}}
                </span> -->
                </div>
            </div>
        </ng-container>
    </form>
</div>