<div class="tp-pnl">
    <div class="container">
        <div class="row">
            <div class="top-mnu">
                <span class="top-help-icon"><button class="cs-btn bt4" [disabled]="buttonDisabled"
                        (click)="checkinClicked()"><i data-icon="s"></i>
                        {{checkin_label |capitalizeFirst}}</button><i data-icon="B" id="checkin-help"
                        (click)="learnmore_clicked('checkin')"></i></span>
                <span class="top-help-icon"><button class="cs-btn bt4" (click)="searchCustomer('createCustomer')"><i
                            data-icon="u"></i> {{create_cap}} {{customer_label | capitalizeFirst}}</button><i
                        data-icon="B" id="customer-help" (click)="learnmore_clicked('customer')"></i></span>
                <!-- <span class="top-help-icon" *ngIf="kiosk_active"><a routerLink="/kiosk" target="_blank">
                        <div class="cs-btn bt4"><i data-icon="A"></i> {{kiosk_cap}}</div>
                    </a><i data-icon="B" id="kiosk-help" (click)="learnmore_clicked('kiosk')"></i></span> -->
                <!-- <span class="top-help-icon"><a routerLink="/kiosk" ><div class="cs-btn bt4"><i data-icon="A"></i> Kiosk</div></a><i data-icon="B" id="kiosk-help" (click)="learnmore_clicked('kiosk')"></i></span> -->
                <span class="top-help-button"><button class="cs-btn bt5" (click)="learnmore_clicked('help')"><i
                            data-icon="B"></i> {{help_cap}}</button></span>
            </div>
        </div>
        <div class="row m-nav">
            <div class="col-xs-12 col-sm-4 col-md-4 nav01 pl0">
                <span>
                    <a (click)="dashboardClicked()" [class.active]="activeTab=='dashboard'" class="pointer-cursor"><i
                            data-icon="w"></i>
                        {{dashboard_cap}}</a></span>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 nav01"><a routerLink="/provider/customers"
                    [class.active]="activeTab=='customers'"><i data-icon="c"></i>
                    {{customer_label | capitalizeFirst}}s</a></div>
            <div class="col-xs-12 col-sm-4 col-md-4 nav01 pr0"><a routerLink="/provider/settings"
                    [class.active]="activeTab=='settings'"><i data-icon="D"></i> {{settings_cap}}</a></div>
        </div>
    </div>
</div>