<section id="cons_home_n">
	<header class="site-header">
		<div class="container">
			<div class="row align-items-center hidden-xs hidden-sm ">
				<div class="site-branding col-md-4 col-lg-4 mb-4 mb-lg-0">
					<img src="assets/images/home/logo-white.png" alt="Jaldee" class="img-fluid logo" />
				</div>
				<div class="col-md-8 col-lg-8 site-header--links d-flex flex-wrap ">
					<!-- <div class="download-buttons visible-xs visible-sm">
						<span>Download Jaldee App</span>
						<a href="#" class="cons_btn_login_top"><img src="assets/images/home/playstore-icon.png" alt="Download from Google Play Store"
								class="" /></a>
						<a href="#" class=""><img src="assets/images/home/applestore-icon.png" alt="Download from Apple Store"
								class="" /></a>
					</div> -->
					<div class="account-links ">
						<a (click)="providerLinkClicked()" class="pointer-cursor"><span class="bus-page-rdbtn">Business
								Partner Zone</span></a>
						<a class="pointer-cursor" class="login-link"><span class="cons_btn_login_top"
								(click)="doLogin('consumer')">Log in</span> <span class="cons_btn_join_top"
								(click)="doSignup('consumer')">Sign up</span></a>
					</div>
					<!-- <div class="account-links col-xs-12 col-sm-12">
						<a href="# " class="pointer-cursor pull-left">Business Partner Zone</a>
						<a class="pointer-cursor" class="login-link pull-right"><span class="cons_btn_login_top" (click)="doLogin('consumer')">Log in</span> / <span class="cons_btn_join_top" (click)="doSignup('consumer')">Sign up</span></a>
					</div> -->
				</div>
			</div>
			<div class="row visible-xs visible-sm ">
				<div class="col-5 col-xs-5 col-sm-5">
					<img src="assets/images/home/logo-white.png" alt="Jaldee" class="logo" />
				</div>
				<div class="col-7 col-xs-7 col-sm-7">
					<!-- <div class="download-buttons visible-xs visible-sm">
						<span>Download Jaldee App</span>
						<a href="#" class="cons_btn_login_top"><img src="assets/images/home/playstore-icon.png" alt="Download from Google Play Store"
								class="" /></a>
						<a href="#" class=""><img src="assets/images/home/applestore-icon.png" alt="Download from Apple Store"
								class="" /></a>
					</div> -->
					<div class="col-12 no-padding">
						<div class="col-xs-12  col-sm-12 no-padding">
							<a class="pointer-cursor" class="login-link d-block pull-right">
								<span class="cons_btn_login_top" (click)="doLogin('consumer')">Log in</span>
								<span class="cons_btn_join_top" (click)="doSignup('consumer')">Sign up</span></a>
						</div>
						<div class="col-xs-12 col-sm-12 no-padding mgn-up-20">
							<a (click)="providerLinkClicked()" class="pointer-cursor d-block pull-right">
								<span class="bus-page-rdbtn">Business Partner Zone</span></a>
						</div>
					</div>
					<!-- <div class="account-links col-xs-12 col-sm-12">
						<a href="# " class="pointer-cursor pull-left">Business Partner Zone</a>
						<a class="pointer-cursor" class="login-link pull-right"><span class="cons_btn_login_top" (click)="doLogin('consumer')">Log in</span> / <span class="cons_btn_join_top" (click)="doSignup('consumer')">Sign up</span></a>
					</div> -->
				</div>
			</div>
		</div>
	</header>



	<main id="site-main">

		<div id="search" class="srch">
			<div class="container">
				<div class="col-md-12 col-xs-12 col-sm-12 no-padding-small">
					<div class="sa" *ngIf="domain_obtained==true">
						<div class="account-links">
							<h2>Avoid Waiting in Queues</h2>
							<h5>Find Service Provider</h5>
							<ng-container>
								<app-search [showopennow]="0" [searchfields]="searchfields"
									[domainlistpassed]="domainlist_data" [includedfrom]="'home'"></app-search>
							</ng-container>
						</div>
					</div>
				</div>
				<!-- <div class="d-flex flex-wrap align-items-center">
					<form id="search-form">
						<input type="text" id="txtCity" placeholder="Bangaluru, Karnataka">
						<input type="text" id="txtDomain" placeholder="All Domains">
						<input type="text" id="txtKeyword"
							placeholder="Search for doctors, professionals, beauty saloons...">
						<button type="submit"><img src="assets/images/home/search-icon.png" alt="search"
								class="img-fluid" /></button>
					</form>
					<a href="#" id="more-link">More Option</a>
				</div> -->
				<!-- <p class="text-center">Popular Searches</p> -->
				<!-- <div class="service-categories d-flex d-wrap align-items-center justify-content-center">
        		    <div class="service-icon-outer text-center">
            		    <div class="service-icon">
            		        <img src="assets/images/home/physician.png" alt="Physician" />
        		        </div>
        		        <h6>Physician</h6>
        		    </div>
        		    <div class="service-icon-outer text-center">
            		    <div class="service-icon">
            		        <img src="assets/images/home/hospital.png" alt="Hospital" />
            		    </div>
            		    <h6>Hospital</h6>
        		    </div>
        		    <div class="service-icon-outer text-center">
            		    <div class="service-icon">
            		        <img src="assets/images/home/dentist.png" alt="Dentist" />
            		    </div>
            		    <h6>Dentist</h6>
        		    </div>
        		    <div class="service-icon-outer text-center">
            		    <div class="service-icon">
            		        <img src="assets/images/home/gynecologist.png" alt="Gynecologist" />
            		    </div>
            		    <h6>Gynecologist</h6>
        		    </div>
        		    <div class="service-icon-outer text-center">
            		    <div class="service-icon">
            		        <img src="assets/images/home/dermatologist.png" alt="Dermatologist" />
            		    </div>
            		    <h6>Dermatologist</h6>
        		    </div>
        		    <div class="service-icon-outer text-center">
            		    <div class="service-icon">
            		        <img src="assets/images/home/ayurvedic.png" alt="Ayurvedic" />
            		    </div>
            		    <h6>Ayurvedic</h6>
        		    </div>
        		    <div class="service-icon-outer text-center">
            		    <div class="service-icon">
            		        <img src="assets/images/home/homeopathy.png" alt="Homeopathy" />
            		    </div>
            		    <h6>Homeopathy</h6>
        		    </div>
				</div> -->

			</div>
		</div>
		<section id="welcome">
			<div class="container">
				<div class="row no-gutters align-items-end">
					<div class="col-lg-6 text-block">
						<!-- <h3>Welcome to</h3>
						<img src="assets/images/home/logo-blue.png" alt="Jaldee" class="img-fluid" /> -->
						<!-- <section id="reviews"> -->
						<div class="col-md-12">
							<div class="section-header text-center">
								<img src="assets/images/home/logo-blue.png" alt="Jaldee" />
								<h2 class="section-title">Jaldee News</h2>
								<!-- <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p> -->
							</div>
							<owl-carousel [options]="carouselOne" [carouselClasses]="['owl-carousel', 'owl-theme']">
								<div class="item  review-card text-center">
									<!-- <div class="customer-avatar">
											<img src="assets/images/home/client.png" alt="client-avatar" />
										</div> -->
									<div class="customer-info">
										<!-- <h4 class="name">John Smith</h4> -->
										<h4 class="name">Jaldee Telehealth</h4>
										<p class="position">&nbsp;</p>
										<!-- <p class="position">Manager</p> -->
									</div>
									<!-- <div class="ratings">
											<img src="assets/images/home/rating-idle.png" alt="ratings" class="rating-idle" />
											<img src="assets/images/home/rating-hover.png" alt="ratings" class="rating-hover" />
										</div> -->
									<div class="review-text">
										<p>Consult your doctor from anywhere. Visit <a
												href="https://business.jaldee.com/">telehealth.jaldee.com</a> to view
											our doctors
											and book a video consultation.</p>
									</div>
								</div>
								<div class="item review-card text-center">
									<!-- <div class="customer-avatar">
											<img src="assets/images/home/client.png" alt="client-avatar" />
										</div> -->
									<div class="customer-info">
										<!-- <h4 class="name">John Smith</h4> -->
										<h4 class="name">Jaldee Blog</h4>
										<p class="position">&nbsp;</p>

										<!-- <p class="position">Manager</p> -->
									</div>
									<!-- <div class="ratings">
											<img src="assets/images/home/rating-idle.png" alt="ratings" class="rating-idle" />
											<img src="assets/images/home/rating-hover.png" alt="ratings" class="rating-hover" />
										</div> -->
									<div class="review-text">
										<p>Jaldee is proud to announce the launch of our new blog. Check it out! Visit
											<a href="https://blog.jaldee.com/">blog.jaldee.com</a>.</p>
									</div>
								</div>
								<div class="item review-card text-center">
									<!-- <div class="customer-avatar">
											<img src="assets/images/home/client.png" alt="client-avatar" />
										</div> -->
									<div class="customer-info">
										<!-- <h4 class="name">John Smith</h4> -->
										<h4 class="name">Jaldee Business</h4>
										<p class="position">&nbsp;</p>
										<!-- <p class="position">Manager</p> -->
									</div>
									<!-- <div class="ratings">
											<img src="assets/images/home/rating-idle.png" alt="ratings" class="rating-idle" />
											<img src="assets/images/home/rating-hover.png" alt="ratings" class="rating-hover" />
										</div> -->
									<div class="review-text">
										<p>Get your website and QR code online in minutes. Visit <a
												href="https://business.jaldee.com/">business.jaldee.com</a> to get
											started.</p>
									</div>
								</div>
							</owl-carousel>
						</div>
						<!-- </section> -->
						<!-- <ul>
							<li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
								has been the industry's standard dummy text ever since the 1500s, when an unknown
								printer took a galley of type and scrambled it to make a type specimen book. It has
								survived not only five centuries, but also the leap into electronic typesetting,
								remaining essentially unchanged. It was popularised in the 1960s with the release of
								Letraset sheets.</li>
							<li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
								has been the industry's standard dummy text ever since the 1500s, when an unknown
								printer took a galley of type and scrambled it to make a type specimen book.</li>
							<li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
								has been the industry's standard dummy text ever since the 1500s.</li>
						</ul> -->
					</div>
					<div class="col-lg-6 image-block">
						<img src="assets/images/home/welcome-1.png" alt="Jaldee" class="img-fluid" />
					</div>
				</div>
			</div>
		</section>

		<section id="working">
			<div class="container">
				<div class="section-header text-center">
					<h2 class="section-title">How Jaldee Works</h2>
				</div>
				<div id="steps-row" class="row">
					<div class="col-lg col-sm-6 text-center step mb-5">
						<div class="step-icon"><img src="assets/images/home/step1.png" alt="Find" /></div>
						<h5>Find</h5>
						<ul class="list-unstyled">
							<li>Doctors</li>
							<li>Professionals</li>
							<li>Beauty and more</li>
						</ul>
					</div>
					<div class="col-lg col-sm-6 text-center step mb-5">
						<div class="step-icon"><img src="assets/images/home/step2.png" alt="Book" /></div>
						<h5>Book</h5>
						<ul class="list-unstyled">
							<li>Appointment</li>
							<li>Queue Token</li>
							<li>Online Check-in</li>
						</ul>
					</div>
					<div class="col-lg col-sm-6 text-center step mb-5">
						<div class="step-icon"><img src="assets/images/home/step3.png" alt="Alert" /></div>
						<h5>Alert</h5>
						<ul class="list-unstyled">
							<li>Reminders</li>
							<li>Current waiting time</li>
							<li>Real-time status</li>
						</ul>
					</div>
					<div class="col-lg col-sm-6 text-center step mb-5">
						<div class="step-icon"><img src="assets/images/home/step4.png" alt="Pay" /></div>
						<h5>Pay</h5>
						<ul class="list-unstyled">
							<li>Contactless receipts</li>
							<li>Mobile pay</li>
							<li>SMS/Email Pay</li>
						</ul>
					</div>
				</div>
				<div class="d-flex flex-wrap video-wrapper">
					<!-- <div class="video-text-box">
						<h2>Lorem Ipsum</h2>
						<p>When you choose The Derby Hearing Centre you’re guaranteed an excellent service, whether you
							require wax removal or a new hearing aid. We take care of everything, ensuring that you’re
							able to hear in high definition. A 5 year warranty is available on premium hearing aids, and
							this also includes free batteries for two years. Trust in the skills of our specialists, and
							the state-of-the-art equipment that we use. Call us today for an excellent service,
							completely independent and we supply every hearing aid make and model available from the top
							manufactures.</p>
					</div> -->
					<div class="video-box mgn-up-50" id="video-box">
						<img src="assets/images/home/video-poster.png" alt="Poster" class="img-fluid w-100" />
						<span id="play-btn" (click)="playvideoClicked()"><img
								src="assets/images/home/video-play-icon.png" alt="Play" /></span>
					</div>
				</div>
			</div>
		</section>

		<!-- <section id="video">
			<div class="container">
				<div class="section-header text-center">
					<img src="assets/images/home/logo-blue.png" alt="Jaldee" />
					<h2 class="section-title">Our Video</h2>
				</div>
				
			</div>
		</section> -->

		<section id="services">
			<div class="container">
				<div class="section-header text-center">
					<h3>You don’t have to wait in lines to get a quality service!</h3>
					<h2 class="section-title">Not anymore! <strong>Jaldee Karo!</strong></h2>
				</div>

				<div id="services-list" class="row no-gutters">
					<ul class="col-md">
						<li>
							<div class="servicelist-icon icon-1"></div>Find services nearby
						</li>
						<li>
							<div class="servicelist-icon icon-2"></div>Get online token
						</li>
						<li>
							<div class="servicelist-icon icon-3"></div>Book an appointment
						</li>
						<li>
							<div class="servicelist-icon icon-4"></div>Check-in to a queue from anywhere
						</li>
						<li>
							<div class="servicelist-icon icon-5"></div>Take a video call with your Doctor
						</li>
						<li>
							<div class="servicelist-icon icon-6"></div>Book home services
						</li>
						<li>
							<div class="servicelist-icon icon-7"></div>Get real-time status alerts
						</li>
					</ul>
					<ul class="col-md">
						<li>
							<div class="servicelist-icon icon-8"></div>Check your waiting time and delay
						</li>
						<li>
							<div class="servicelist-icon icon-9"></div>Get traffic live alerts & know when to leave
						</li>
						<li>
							<div class="servicelist-icon icon-10"></div>Auto share your arrival time
						</li>
						<li>
							<div class="servicelist-icon icon-11"></div>Do online enquiries before you visit
						</li>
						<li>
							<div class="servicelist-icon icon-12"></div>Do it all while protecting your privacy
						</li>
						<li>
							<div class="servicelist-icon icon-13"></div>Pay for your services using your phone
						</li>
						<li>
							<div class="servicelist-icon icon-14"></div>Contactless receipts & billing
						</li>
					</ul>
					<ul class="col-md">
						<li>
							<div class="servicelist-icon icon-15"></div>No convenience charges, never pay here!!
						</li>
						<li>
							<div class="servicelist-icon icon-16"></div>Use Jaldee Mobile Apps or browser UI
						</li>
						<li>
							<div class="servicelist-icon icon-17"></div>Favorite your service providers
						</li>
						<li>
							<div class="servicelist-icon icon-18"></div>Get coupons and discounts
						</li>
					</ul>
				</div>
			</div>
		</section>

		<section id="explore">
			<div class="container">
				<div class="section-header text-center">
					<img src="assets/images/home/logo-blue.png" alt="Jaldee" />
					<h2 class="section-title">Explore Services</h2>
					<!-- <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p> -->
				</div>
				<div id="services-grid" class="row">
					<div class="col-lg-4 service pointer-cursor" (click)="domainClicked('healthCare')">
						<div class="service-inner">
							<div class="service-image">
								<img src="assets/images/home/service-healthcare.jpg" alt="Healthcare"
									class="img-fluid" />
							</div>
							<div class="service-overlay text-center">
								<h3 class="service-title">Healthcare</h3>
								<p>[Doctors, Dentists, Labs, Radiology, Ayurvedic, Naturopathy, homeopathy, Veterinary]
								</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 service pointer-cursor" (click)="domainClicked('personalCare')">
						<div class="service-inner">
							<div class="service-image">
								<img src="assets/images/home/service-personalcare.jpg" alt="Personal Care"
									class="img-fluid" />
							</div>
							<div class="service-overlay text-center">
								<h3 class="service-title">Personal Care</h3>
								<p>[Hair Salons, Spa, Massage, Fitness, Beauty care, more]</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 service pointer-cursor" (click)="domainClicked('foodJoints')">
						<div class="service-inner">
							<div class="service-image">
								<img src="assets/images/home/service-restaurant.jpg" alt="Restaurants"
									class="img-fluid" />
							</div>
							<div class="service-overlay text-center">
								<h3 class="service-title">Restaurants</h3>
								<p>[Dine-in, Takeaway]</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 service pointer-cursor" (click)="domainClicked('professionalConsulting')">
						<div class="service-inner">
							<div class="service-image">
								<img src="assets/images/home/service-professional.jpg" alt="Professionals"
									class="img-fluid" />
							</div>
							<div class="service-overlay text-center">
								<h3 class="service-title">Professionals</h3>
								<p>[Accountants, Tax Consultants, Lawyers, Architects, more]</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 service pointer-cursor" (click)="domainClicked('otherMiscellaneous')">
						<div class="service-inner">
							<div class="service-image">
								<img src="assets/images/home/service-home.jpg" alt="Home Services" class="img-fluid" />
							</div>
							<div class="service-overlay text-center">
								<h3 class="service-title">Home Services</h3>
								<p>[Plumbers, Electricians, Painters, Carpenters, more]</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 service pointer-cursor" (click)="domainClicked('religiousPriests')">
						<div class="service-inner">
							<div class="service-image">
								<img src="assets/images/home/service-religious.jpg" alt="Religious, Vaastu & Astrology"
									class="img-fluid" />
							</div>
							<div class="service-overlay text-center">
								<h3 class="service-title">Religious, Vaastu & Astrology</h3>
								<p>[Temples, Priests, Ceremonies, more]</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="apps">
		<div class="container">
			<div class="section-header text-center">
				<h2 class="section-title">Jaldee Available On</h2>
			</div>
			<div class="section-app text-center">
				<a class="button1" href="https://play.google.com/store/apps/details?id=com.jaldeeinc.jaldee"><img src="assets/images/img-glplay.png"></a>
				<a class="button2" href="https://apps.apple.com/in/app/jaldee-com/id1478246665"><img src="assets/images/img-aplstore.png"></a>
			</div>
			<div class="center-img text-center mgn-up-50 mgn-bt-20">
			<img src="assets/images/iphone.png">
			</div>
		</div>
		</section>
		<div id="grey-cta-bar">
			<div class="container">
				<div class="d-flex flex-wrap align-items-center justify-content-between">
					<h3><span class="small">Can your Service Provider</span><br>Benefit from <span
							style="color: #f1b51c;">Jaldee?</span></h3>
					<a href="#" class="btn cta-btn-lg mt-4 mt-lg-0">Refer a Provider</a>
				</div>
			</div>
		</div>

		<section id="split-ctas">
			<div class="row no-gutters">
				<div class="cta col-lg-6">
					<img src="assets/images/home/service-provider.jpg" alt="Service Provider"
						class="img-fluid cta-image">
					<div class="cta-content">
						<h2 class="cta-title">Are you a <br>Service Provider?</h2>
						<a href="#" class="btn cta-btn">Learn More</a>
					</div>
				</div>
				<div class="cta col-lg-6">
					<img src="assets/images/home/business.jpg" alt="Business Owner" class="img-fluid cta-image">
					<div class="cta-content">
						<h2 class="cta-title">Are you a <br>Business Owner?</h2>
						<a href="#" class="btn cta-btn">Learn More</a>
					</div>
				</div>
			</div>
		</section>

	</main>

	<footer class="site-footer">

		<div class="footer-top">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 footer-col footer-col-1">
						<div>
							<h4>Jaldee</h4>
							<ul class="menu">
								<li><a class="pointer-cursor" [routerLink]="['/home/aboutus']" target="_blank">About</a>
								</li>
								<li><a class="pointer-cursor" [routerLink]="['/home/contact']"
										target="_blank">Contact</a></li>
								<li><a class="pointer-cursor" [routerLink]="['/terms']" target="_blank">Terms</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-3 footer-col footer-col-2">
						<div>
							<h4>Solutions</h4>
							<ul class="menu">
								<li><a href="https://business.jaldee.com/">Healthcare</a></li>
								<li><a href="https://business.jaldee.com/">Personal Care</a></li>
								<li><a href="https://business.jaldee.com/">Banks/Finance</a></li>
								<li><a href="https://business.jaldee.com/">Corporates</a></li>
								<li><a href="https://business.jaldee.com/">Supermarkets/Retail</a></li>
								<li><a href="https://business.jaldee.com/">Professionals</a></li>
								<li><a href="https://business.jaldee.com/">Restaurants</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-3 footer-col footer-col-3">
						<div>
							<h4>Jaldify Now</h4>
							<ul class="menu">
								<li><a href="https://business.jaldee.com/">List your business</a></li>
								<li><a href="https://business.jaldee.com/">Become Jaldee Partner</a></li>
								<li><a href="https://business.jaldee.com/">Pricing</a></li>
								<li><a href="https://business.jaldee.com/">Ask for a demo</a></li>
								<li><a [routerLink]="['/home/contact']" target="_blank">Support</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-3 footer-col footer-col-4">
						<div>
							<h4>Resources</h4>
							<ul class="menu">
								<li><a href="https://www.youtube.com/channel/UCZD8V1OapzlaS5eNET9x3mg">Videos</a></li>
							</ul>
						</div>
					</div>
				</div>

				<div class="row align-items-end justify-content-end">
					<div class="col-lg-4 site-brand text-center mb-3">
						<img src="assets/images/home/logo-white.png" alt="Jaldee" class="img-fluid" />
					</div>

					<div class="col-lg-4 social-menu text-center text-lg-right">
						<!-- <span>Follow Us:</span>
						<a class="social-icon fa fa-facebook" href="#" target="_blank" title="Follow us on Facebook"
							rel="noopener noreferrer">
						</a>
						<a class="social-icon fa fa-twitter" href="#" target="_blank" title="Follow us on Twitter"
							rel="noopener noreferrer">
						</a>
						<a class="social-icon fa fa-instagram" href="#" target="_blank" title="Follow us on Instagram"
							rel="noopener noreferrer">
						</a>
						<a class="social-icon fa fa-google-plus" href="#" target="_blank"
							title="Follow us on Google Plus" rel="noopener noreferrer">
						</a>
						<a class="social-icon fa fa-youtube-play" href="#" target="_blank"
							title="Subscribe our Youtube Channel" rel="noopener noreferrer">
						</a> -->
					</div>
				</div>


			</div>
		</div>

		<div class="footer-bottom">
			<div class="container">
				<div class="row align-items-center justify-content-between text-center">
					<div class="footer-bottom--links col-md-auto">
						<span>Follow Us: </span>
						<a class="social-icon fa fa-facebook" href="https://www.facebook.com/jaldeeinc/" target="_blank"
							title="Follow us on Facebook" rel="noopener noreferrer">
						</a>&nbsp;
						<a class="social-icon fa fa-twitter" href="https://twitter.com/jaldee6" target="_blank"
							title="Follow us on Twitter" rel="noopener noreferrer">
						</a>&nbsp;
						<a class="social-icon fa fa-instagram"
							href="https://instagram.com/jaldeesoft?igshid=nwc61fuai4ue" target="_blank"
							title="Follow us on Instagram" rel="noopener noreferrer">
						</a>&nbsp;
						<a class="social-icon fa fa-youtube-play"
							href="https://www.youtube.com/channel/UCZD8V1OapzlaS5eNET9x3mg" target="_blank"
							title="Subscribe our Youtube Channel" rel="noopener noreferrer">
						</a>
						<!-- <a href="#">Privacy Policy</a><span class="separator">|</span><a href="#">Privacy Shield Privacy
							Notice</a><span class="separator">|</span><a href="#">Site Map</a> -->
					</div>
				</div>
			</div>
		</div>
	</footer>
</section>