.book_telgrm_btn {
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease !important;
    outline: none !important;
    vertical-align: middle;
    margin-left: 20px;
    padding: 1rem 5rem !important;
    font-size: 0.925rem !important;
    line-height: 1.35;
    border-radius: 0.42rem !important;
    border: 1px solid transparent !important;
    text-align: center !important;
    display: inline-block;
    color: #1e4079;
    background-color: #f1b51b;
    border-color: #1e4079;
    font-weight: 600;
}
.mgn-up-50 {
    margin-top:50px;
}
.book_telgrm_btn:hover{
    background-color: white !important;
}
.svg-icon {
    margin-right: 0.35rem;
}
.svg-icon svg {
    height: 16px;
    width: 16px;
    overflow: hidden;
    vertical-align: middle;
}

.fa-telegram {
    color: #1e4079 !important;
  }

#cons_home_n #welcome {
    padding-top: 20px !important;
}  
/* section {
    height: 100vh !important;
} */
div.loading {
    background: #eee;
    position: absolute;
    top: 30%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.image{
    align-items:baseline !important
}
.home-img{
    margin-top: -20% !important;
}

.img-fluideffect {

  max-width: 100%;
  height: auto;
  position: absolute !important;
  bottom: -140px !important;
}
.knowmorebutton {
    width: 45%;
    margin-top: 40px;
    /* margin-top: 1%; */
    background-color: #854ef2;
    border: 1px solid  #854ef2;
    color:white;
   word-wrap: break-word;
    font-weight: 600;
    font-family: "Poppins";
    /* font-style: Montserrat; */
    display: inline-block;
    /* margin-bottom: 0; */
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    padding: 6px 0 6px 0px;
    border-radius: 20px ;
    /* font-size: 12px; */
    line-height: 1.42857143;
    /* border-bottom-left-radius: 10px; */
}
.gap {
    width: 100%;
    height: 100px;
    /* background-color: #f1b51b; */
}
.half-curveshape {
    width:100%;
    height:300px;
    /* border-radius: 50px; */
    background-color: #854ef2;
    background-image: linear-gradient(to right, white,#854ef2);
    border-bottom-left-radius: 300px;
    /* border-top-left-radius: 100px; */
    
}
.padding-0 {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.smallbottomcurve {
    width:100%;
    height:150px;
    background-color: #854ef2;
    border-top-right-radius: 150px;
    position: absolute;
    bottom: -100px;
}
@media(max-width:760px){
    .gap {
        width: 100%;
    height: 10px;
    }
    .templatemobile {
        /* font-size: 12px !important; */
        display: flex !important;
        flex-direction: row !important;
    }
    .templatemobile h1,h3,h4,button{
        font-size: 12px !important;
    }
    .knowmorebutton {
        margin-top: 10px;
        width: 80%;
    }
    .smallbottomcurve {
       display: none;
        
    }
    .half-curveshape {
        width:100%;
        height:200px;
    }
    .img-fluideffect {
        max-width: 100%;
        height: auto;
        position: absolute !important;
        bottom: -60px !important;
      }
}