.colorHeaderIcon {
  color: #1D3E77 !important
}

.dash-head {
  display: flex;
  gap: 5px;
}

.personalDetails {
  color: #30A5FA;
  font-size: 15px;
  font-weight: 600;
}

.marginClass {
  margin-top: 10px;
}

.widthCls {
  width: 100%;
}

.text-primary {
  color: #1E4079 !important;
}

.details-title {
  font-size: 14px !important;
  color: rgba(58, 53, 65, 0.68) !important;
}

.details-sub-title {
  font-size: 15px !important;
  font-weight: bold !important;
}

.customerLabel {
  color: rgba(58, 53, 65, 0.68);
  font-size: 12px;
}

.customerInfoLabel {
  color: rgba(58, 53, 65, 0.87);
  font-size: 12px;
  font-weight: 600;
  float: right;
  width: 13rem;
}

.paddiNgCls {
  padding: 5px;
}

.cancelBtn {
  background: #A8ABAF !important;
  box-shadow: 0.417685px 2.50611px 8.77138px 1.25305px rgba(30, 64, 121, 0.15) !important;
  border-radius: 3.75916px !important;
  border: 0px solid !important;
  margin-right: 10px !important;
  padding: 6px 10px;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  height: 2.5rem;
}

.border {
  border: 1px solid rgb(185, 185, 185) !important;
  padding: 7px !important;
}

.confirmBtn {
  background: #1E4079 !important;
  border-radius: 5px !important;
  border: 0px solid !important;
  padding: 6px 12px;
  color: #fff;
  width: 50% !important;
}

.flexClass {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.paddingCls {
  padding: 5px;
}

.loanDetails {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.customerScoreLabel {
  color: #949191;
}

.customerScoreInfoLabel {
  color: #000000;
  font-size: 25px !important;
  font-weight: bold !important;
}

@media(max-width: 768px) {
  .loanDetails {
    flex-wrap: wrap;
  }

  .flexWrap {
    flex-wrap: wrap;
  }

  .customerInfoLabel {
    width: 10rem;
  }
}

.height {
  height: 200px !important;
}

.approved {
  color: green !important;
  background-color: rgb(221, 248, 221) !important;
  padding: 10px !important;
  border-radius: 10px !important;
}

.redirected {
  color: rgb(230, 158, 26) !important;
  background-color: rgb(255, 229, 181) !important;
  padding: 10px !important;
  border-radius: 10px !important;
}

.rejected {
  color: rgb(229, 48, 48) !important;
  background-color: rgb(255, 232, 232) !important;
  padding: 10px !important;
  border-radius: 10px !important;
}

.image {
  height: 18px;
  width: 18px;
}

.statusCls {
  display: flex;
  gap: 5px;
}

.card {
  box-shadow: 0px 109.322px 87.4576px rgb(41 72 152 / 5%), 0px 70.8569px 51.2194px rgb(41 72 152 / 4%), 0px 42.1092px 27.8569px rgb(41 72 152 / 3%), 0px 21.8644px 14.2119px rgb(41 72 152 / 3%), 0px 8.90772px 7.12618px rgb(41 72 152 / 2%), 0px 2.02448px 3.44162px rgb(41 72 152 / 1%) !important;
}

.customcard {
  border: 1px solid #E9E8E8 !important;
  box-shadow: 0px 109.322px 87.4576px rgb(41 72 152 / 5%), 0px 70.8569px 51.2194px rgb(41 72 152 / 4%), 0px 42.1092px 27.8569px rgb(41 72 152 / 3%), 0px 21.8644px 14.2119px rgb(41 72 152 / 3%), 0px 8.90772px 7.12618px rgb(41 72 152 / 2%), 0px 2.02448px 3.44162px rgb(41 72 152 / 1%) !important;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
}

.card-title {
  font-size: 12px !important;
  color: rgb(186, 182, 182);
}

.card-sub-title {
  font-size: 12px !important;
  color: #0073FF;
}

.remarks-card {
  background-color: #FFF7F3 !important;
}

.btn-primary {
  background-color: #1e4079 !important;
  border-color: #1e4070 !important;
  color: #fff !important;
  font-weight: 100 !important;
  border-radius: 5px !important;
  /* padding: 10px 20px !important; */
}

.min-height {
  min-height: 100px !important;
}

.btn-primary-full {
  width: 100% !important;
}

.fa-tachometer {
  font-size: 40px !important;
}

.btn-sanctioned {
  background-color: #1e4079 !important;
  border-color: #1e4070 !important;
  color: #fff !important;
  font-weight: 100 !important;
  border-radius: 5px !important;
  padding: 10px 20px !important;
}

.btn-action {
  background-color: #1e4079 !important;
  border-color: #1e4070 !important;
  color: #fff !important;
  font-weight: 100 !important;
  border-radius: 5px !important;
  padding: 5px 10px !important;
}

.btn-redirect {
  background-color: #f48e5b !important;
  border-color: #f48e5b !important;
  color: #fff !important;
  font-weight: 100 !important;
  border-radius: 5px !important;
  padding: 10px 20px !important;
}

.btn-reject {
  background-color: #eb4b4b !important;
  border-color: #eb4b4b !important;
  color: #fff !important;
  font-weight: 100 !important;
  border-radius: 5px !important;
  padding: 10px 20px !important;
}

.loan-tag {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.88), rgba(255, 255, 255, 0.88)), #F44336;
  color: #FF4C51;
  border-radius: 5px;
  padding: 3px 6px;
  font-size: 12px;
}

.loan-name {
  font-size: 18px;
  font-weight: bold;
  text-transform: capitalize;
}

.loan-icon {
  color: #0C315E;
  background-color: rgba(12, 49, 94, 0.11);
  font-size: 22px;
  padding: 10px 13px;
  border-radius: 10px;
}

.loan-icon-info {
  color: rgba(58, 53, 65, 0.87);
  font-size: 20px;
  font-weight: bold;
}

.loan-icon-sub-info {
  color: rgba(58, 53, 65, 0.68);
  font-size: 14px;
}

.loan-info {
  font-size: 14px !important;
}


.actions-1 {
  color: #fff !important;
  background-color: #13A6F9 !important;
  padding: 10px !important;
  border-radius: 50% !important;
}

.actions-2 {
  color: #fff !important;
  background-color: #EA7330 !important;
  padding: 7px 10px !important;
  border-radius: 50% !important;
}

/* .details-sub-title {
  padding-top: 5px !important;
} */

.table-responsive,
tr,
td,
th {
  border: 0 !important;
}

::-webkit-scrollbar {
  height: 5px;
}

.table-responsive {
  margin-bottom: 0 !important;
}

.rounded {
  border-radius: 5px !important;
}

.font-medium {
  font-size: 14px !important;
}


@media screen and (max-width: 576px) and (min-width: 0px) {
  .desktop-only {
    display: none;
  }

  .container {
    overflow: none !important;
  }
}

@media (min-width: 1025px) {
  .mobile-only {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .mobile-only {
    display: none;
  }

  ::ng-deep .p-timeline-event-content {
    font-size: 0.7rem !important;
  }
}


::ng-deep .p-timeline-horizontal .p-timeline-event:last-child {
  flex: 1 !important;
}