.revamp_addon .pad-30 {
    padding: 30px;
}
.revamp_addon .bx-shadw {
    box-shadow: 0 3px 5px 0 rgba(40,44,63,.4) !important;
}
.revamp_addon .txt_disp_name {
    margin-right: 60px;
    margin-bottom: 20px;
    font-size: 1rem;
    color: grey;
    font-weight: 600;
}