<div class="full-view-calendar">
    <p-toggleButton onLabel="Show&nbsp;Weekends" offLabel="Hide Weekends" class="full-calendar-week-toggle-button"
        onIcon="pi&nbsp;pi-eye" offIcon="pi pi-eye-slash" (onChange)="toggleWeekends()"></p-toggleButton>

    <full-calendar [options]="calendarOptions" [events]="eventsPromise | async" #calendar>
        <ng-template #eventContent let-arg>
            <div (click)="bookingClicked(arg)" class="text-center text-dark">
                <div>
                    <b>{{ arg.event.title }}</b>
                </div>
                <div>
                    <b>{{ arg.event.extendedProps.time }}</b>
                </div>
                <div [class]="arg.event.extendedProps.status">
                    <b class="text-capitalize">{{ arg.event.extendedProps.status }}</b>
                </div>
            </div>
        </ng-template>
    </full-calendar>
</div>
