.vt_dt {
  padding: 10px !important;
  width: 70%;
  border: 1px solid #ccc;
}
.virtual-fields .form-control {
  display: block !important;
  width: 100% ;
  height: 34px;
  padding: 6px 12px !important;
  font-size: 14px !important;
  line-height: 1.42857143 !important;
  color: #555 !important;
  background-color: #fff !important;
  background-image: none !important;
  border: 1px solid #ccc !important;
  border-radius: 4px !important;
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%) !important;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s !important;
}
.virtual-fields input{
  width: 100%!important;
}
.form-control:focus {
  border-color: #66afe9 !important;
  outline: 0 !important;
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%) !important;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type=date].form-control {
      line-height: 34px !important;
  }
}
label {
  display: inline-block !important;
  max-width: 100% !important;
  margin-bottom: 5px !important;
  font-weight: 700 !important;
}
::ng-deep .consumer-virtual-serviceinfo-component app-field-error-display .sts-msg.error {
  font-weight: 700 !important;
  color: red !important;
}
.mat-dialog-actions button {
  margin-bottom: 0 !important;
  background-color: #1E4079 !important;
  text-transform: capitalize !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.mgn-bt-5 {
  margin-bottom: 5px !important;
}
.virtual-fields div, .virtual-fields .mat-radio-label-content, .virtual-fields .mat-radio-label{
  font-size: 1rem !important;
}
.virtual-fields div .smallfont{
  font-size: .75rem !important;
}
.virtual-fields .mat-select {
  padding: 10px !important;
  border:1px solid #ccc !important;
}
form.virtual-fields, form.virtual-fields .mat-dialog-content {
  max-height: 100vh !important;
}
.justify {
  text-align: justify !important;
}
.userGroup .mat-radio-button {
  display:block !important;
  padding:3px 0px 3px 0px !important;
}
.mobPrefix {
  display: flex;
  align-items: center;
  padding: 0.55rem 1rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #3F4254;
  text-align: center;
  white-space: nowrap;
  background-color: #F3F6F9;
  border: 1px solid #E4E6EF;
  border-radius: 0.42rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.mobclass {
  width:80%!important;
  height:38px!important;
}
.virtualage{
  padding-left:none;
}
.disabledDiv {
  pointer-events: none;
  opacity: 0.4;   
}
.edtlang{
  display: flex!important;
  padding-right: 10px;
  margin-left: auto;
  justify-items: right;
  font-size: larger;
 }
.genderradio{
padding-right:0px!important;
padding-left:18px!important;
}
.mat-dialog-content >.ng-start-inserted div.optional {
margin-bottom:none!important;
}
.updateemail{
  font-size:10px;
  color:grey;
  font-style:italic;
}
.content {
  padding-top: 0px !important
}
ul.details.contact {
  font-size: 0.9rem !important;
  display: flex;
}
.bus-page p {
  font-weight: 500 !important;
  }
.bus-page .rating-stars {
  text-align: left;
  padding-top: 10px;
}
.bus-page .gal {
  font-weight: 500 !important;
}
.bus-page .gal .galbx img {
  height: 100%!important;
  width: 50px;
}
.bus-page .gal .galbx {
  cursor: pointer !important;
}
.bus-page .rating-stars img {
  width: 12px;
  margin-right: 5px;
}
.bus-page .gal .galbx {
  position: relative;
  width: 50px;
  height: 100%;
  margin: auto;
}
.info-bar {
  background-color: #f5f5f5 !important;
}
.bus-page .gal .galbx .overlay {
  position: absolute;
  width: 50px;
  height: 100%;
  z-index: 10;
  background: rgba(0, 0, 0, .5);
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: #fff;
  font-weight: 600;
  font-size: 1.125rem;
  visibility: visible;
  opacity: 1;
}
ul.details li {
  list-style: none !important;
  display: inline;
  margin: 5px;
  font-weight: 500 !important;
}
ul.bus-actions li {
  list-style: none !important;
  display: block;
  margin: 5px;
  font-weight: 500 !important;
  font-size: 1.2rem;
 }
ul.bus-actions li a.lnk {
  font-weight: 500 !important;
  font-size: 0.8rem !important;
}
.socialmedia li a i.fa {
  font-size: 20px !important;
}
.sec-border {
  border: 1px solid #ddd;
}
.bus.card {
  padding: 0px !important;
  margin-bottom: 10px !important;
}
.bus.card hr {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}
.bus .card-body {
  width: 150px;
  height: 200px;
  border: 1px solid #ddd !important;
  margin-top: 10px;
}

.service-container {
  margin: auto;
}

.bus.card h5, p.pro-desc {
  margin-bottom: 0px !important;
}

.bus.card .card-img-top-cont {
  width: 100%;
  height: 80px;
  text-align: center;
}
.bus.card .card-name-top-cont {
  height: 60px !important
}
.card-sec-head {
  background-color: #f6f5f5;
  padding-top: 10px;
  padding-bottom: 10px;
}
.bus.card h5 {
  font-size: 1rem;
  padding: 5px !important;
}
.bus.card .card-img-top {
  width: 80px;
  height: 80px;
  align-items: center;
}
.bus.card .card-text {
  height: 25px;
  text-align: center;
}
.bus.card .card-btn {
  font-size: 10px;
  text-align: center;
  font-weight: bold;
  padding: 3px !important;
}
.bus.card .card-btn-cont {
  text-align: center;
  color: #000000 !important;
  background-color: lightsky #1E4079 !important;
}
.like-btn {
  border: 1px solid #5f75bc;
  border-radius: 40px;
  padding: .45rem .75rem;
    font-weight: 600;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  display: flex;
  font-size: 0.9rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.img-badge-big {
  display: none;
}
.cardwidth{
  padding: 40px !important;
  width: 100%;
}
@media (max-width: 767px) {
.cardwidth{
  padding: 20px !important;
}
}
@media (max-width: 767px) {
  .like-btn {
    display: inline-block !important;
  }
  ul.bus-actions {
    margin-bottom: 0 !important;
  }
  ul.bus-actions li {
    display: inline-block !important;
  }
  .bus-title-content {
    text-align: center;
  }
  ul.details.contact {
    justify-content: center;
  }
  .img-badge {
    display: none;
  }
  .img-badge-big {
    display: block;
  }
  .img-badge-big ul li {
    display: inline;
  }
}
@media (max-width: 500px) {
  .panel-body {
    padding: 5px !important;
  }
    .img-responsive {
    width: 50% !important;
    margin: auto;
  }
  .like-btn {
    font-size: 0.7rem !important;
  }
  }

@media (min-width: 500px) and (max-width: 767px) {
  .img-responsive {
    width: 25% !important;
    margin: auto;
  }
  }

@media (min-width: 768px) and (max-width: 993px) {
  .like-btn {
    display: inline !important;
  }
  ul.bus-actions li {
    display: inline !important;
  }
}
.question-header {
  color: #bbb;
  font-size: 0.8rem;
  font-weight: 500;
}
.question-main-outer {
  word-break: break-word;
}
.question-valuearr li {
  list-style: none;
}
.question-valuearr ul {
  padding-left: 0 !important;
}
.question-value1, .question-valuearr li {
  font-weight: 600 !important;
  color: #3a3030;
  font-size: 0.8rem;
}
.playstore-icon {
  background: url("../../../../../assets/images/home/buy-theme.png") no-repeat !important;
  height: 15px;
  position: absolute;
}
.apptext {
  padding-left: 15px !important;
}
.appstore-icon {
  background: url("../../../../../assets/images/home/quick-question.png") no-repeat !important;
  height: 15px;
  position: absolute;
}
.info-bar ul li {
  margin-right: 20px;
  display: inline;
  font-size: 0.9rem;
  color: #00aef2;
  font-weight: 500;
}

.bus.card {
  height: 220px !important;
  width: 20% !important;
  float: left !important;
  align-items: center !important;
  margin: auto !important;
  padding: 0px !important;
  margin-bottom: 10px !important;
}

.bus h1, .bus h2, .bus h3, .bus h4, .bus h5, .bus h6, .loc-card h1, .loc-card h2, .loc-card h3, .loc-card h4, .loc-card h5, .loc-card h6 {
  font-weight: 600 !important;
}

.loc-card .schedule ul {
  padding-left: 0 !important;
}

.font-open-now {
  font-size: xx-small !important;
  color: #00cc96 !important;
  font-weight: 600;
}

.location-accord h3 {
  margin-bottom: -5px !important;
}

.loc-btn {
  border: 1px solid #5f75bc;
  border-radius: 5px;
  padding: .45rem .75rem;
  color: #3a3030;
  font-weight: 600;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  display: inline;
  font-size: 0.75rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.location-accord ul li {
  margin-right: 5px !important;
  margin-left: 0 !important;
}

.location-accord ul.badges li {
  margin-right: 10px !important;
  font-size: 1.5rem !important;
  color: black !important;
}

.location-accord ul.badges {
  padding-left: 0px !important;
  margin-top: 0 !important;
}

@media(max-width:768px) {
  /* .location-accord ul.badges {
    margin-top: 15px !important;
  } */
  h6 {
    font-size: 1rem!important;
  }
  .bus-title-content h6, .bus-title-content h3 {
    margin-bottom: 0px !important;
  }
}

.bus-item-long .card.card-item-n {
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) !important; */
  transition: 0.3s;
  border-radius: 5px;
  width: 92% !important;
  margin: auto;
  display: block !important;
  padding: 0px !important;
  border: 1px solid #106e76 !important;
}

.bus-item-long img {
  width: 100%;
}

.bus-item .card.card-item-n {
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) !important; */
  transition: 0.3s;
  border-radius: 5px;
  width: 150px !important;
  height: 200px;
  margin: auto;
  padding: 0px !important;
  border: 1px solid #106e76 !important;
}

.bus-item .card.card-item-n {
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  transition: 0.3s;
}

.bus-item .card-item-content {
  margin-top: 0px !important;
  text-align: center;
}

/* .card.card-item-n:hover {
   box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
} */

.bus-item-long .card-item-content-img {
  max-width: 100px !important;
  height: auto;
  width: 25%;
}

.bus-item-long .card.card-item-n img {
  border-radius: 5px 5px 0 0;
  width: 75% !important;
  height: auto;
  border: 1 px solid #ddd;
  color: #106e76 !important;
}

.bus-item .card.card-item-n .card-item-title {
  border-radius: 5px 5px 0 0;
  width: 100% !important;
  height: auto;
  border: 1 px solid #ddd;
  color: #106e76 !important;
}

.bus-item .card.card-item-n img, .bus-item .card.card-item-n .card-item-title a {
  color: #106e76 !important;
}

.bus-item .card.card-item-n img, .bus-item .card.card-item-n .card-item-title {
  border-radius: 5px 5px 0 0;
  height: 85px;
  font-size: 0.8rem !important;
  border-bottom: 1px solid #106e76 !important;
  text-align: center;
  /* background-color: #106e76; */
  display: table;
  /* text-transform: uppercase; */
  padding: 5px !important;
}

.bus-item .card.card-item-n .card-item-title a {
  /* height: 100%; */
  display: table-cell !important;
  vertical-align: middle !important;
}

.bus-item-long .card-item-content {
  width: 75% !important;
}

.bus-item .card-item-content {
  height: 200px !important;
}

.bus-item .card-item-content .title-style {
  font-size: 0.85rem !important;
  color: #000;
  font-weight: 600 !important;
}

.bus-item .card-item-content-info {
  height: 85px !important;
  overflow: auto;
}
.bus-item .card-item-content-action {
  height: 25px !important;
}

@media (min-width: 320px) and (max-width: 500px) {
  .bus-item .card.card-item-n {
    width: 95% !important;
    margin: auto !important;
    margin-bottom: 10px !important;
    float: left;
  }
  .bus-item-long {
    width: 95%;
  }
}

.bus-item-long {
  float: left;
  /* width: 100%; */
  width: 33.3% !important;
  margin: auto !important;
  margin-bottom: 10px !important;
  margin-top: 5px !important;
}

.bus-item {
  width: 16.66% !important;
  float: left;
  margin: auto !important;
  margin-bottom: 10px !important;
  margin-top: 5px !important;
}

@media (min-width: 600px) and (max-width: 992px) {
  .bus.card {
    width: 33.3% !important;
  }
  .bus-item {
    width: 33.3% !important;
  }
  .bus-item-long {
    width: 50% !important;
  }
}

@media (max-width: 600px) {
  .bus.card {
    width: 50% !important;
  }
  .bus-item {
    width: 50% !important;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .bus-item {
    width: 20% !important;
  }
  .bus-item-long {
    width: 50% !important;
  }
}

@media (min-width: 320px) and (max-width: 374px) {
  .bus-item {
    width: 100% !important;
  }
  /* .bus-item .card.card-item-n {
    width: 200px !important;
  } */
}

@media (max-width: 320px) {
  .bus-item {
    width: 100% !important;
  }
  .bus-item .card.card-item-n {
    width: 100% !important;
  }
}

@media screen and (max-width: 768px) {
  .bus-item .card.card-item-n h6 {
    font-size: 1rem!important;
  }
  .bus-item-long {
    width: 100% !important;
  }
}

.dept-head h6 {
  font-size: 1rem;
  font-weight: 600;
}

.bus-item p.charge {
  font-size: 0.60rem !important;
}

.card-item-content-info p.price {
  margin-top: 5px !important;
}

.bus-item p.price, .bus-item p.description {
  margin-bottom: -5px !important;
  font-size: 0.60rem !important;
}

.deptInfo .dept-content .card {
  padding: 0px !important;
}

.img-circle {
  border: 1px solid #eee !important;
}

.font-wt600 {
  font-weight: 600 !important;
}

.badges li .fa-clock-o {
  font-size: 1.75rem;
}

.card-item-n .more-info {
  font-size: 0.75rem !important;
  font-weight: 500 !important;
}

.justify {
  text-align: justify !important;
}

.more {
  color: #00aef2;
  cursor: pointer !important;
}

.panel-body {
  padding-bottom: 0px !important;
}

.info-bar ul li:hover {
  color: #000 !important;
}

.disp-block {
  display: block !important;
}

.panel {
  margin-bottom: 0 !important;
}

.gallery-bullet i {
  color: #bbb;
  font-size: 9px !important;
  padding-right: 5px;
}

.img-badge li {
  display: inline;
}

.img-badge li span, img-badge-big li span {
  font-size: 1.25rem !important;
}

.img-badge li .fa-clock-o, .img-badge-big li .fa-clock-o {
  font-size: 1.6rem !important;
}

.img-badge-big li .fa {
  font-size: 1.75rem !important;
}

/* .img-badge-big li span.icon-parking {
  font-size: 1.25 !important;
} */

.top-row {
  background: #f1b51c;
}

.bus-title-content h6 a {
  font-size: 0.8rem !important;
}

.bord-top {
  border-top: 1px solid #ddd !important;
}

.p-top-20 {
  padding-top: 20px !important;
}

.bus-item-long h6, .bus-item-long h3 {
  padding-top: 10px;
}

.panel-heading {
  width: 100%;
  font-size: 0.75rem;
  height: 40px;
  /* font-family: poppins !important; */
}

.panel-heading a {
  color: #161bc9 !important;
}

@media(max-width:375px) {
  .panel-heading {
    padding-left: 0px !important;
    padding-right: 0 !important;
  }
}

.back-btn {
  margin-left: 5px;
  font-size: 1.25rem !important;
  margin-top: -5px;
}

.service-icon {
  display: block !important;
  font-size: 1.5rem !important;
}

.service-icon .meet-icon, .service-icon .phon-icon {
  width: 25px !important;
}
.service-icon .zoom-icon {
  width: 30px !important; 
}
.service-icon .wtsapaud-icon {
  width: 40px !important;
}
.service-icon .wtsapvid-icon {
  width: 20px !important;
  /* margin-bottom: 10px; */
}
.bus-item .card-item-content .title-style.mgn-bt-m-5 {
  margin-bottom: -5px !important;
}

.bus-item p.price.mgn-bt-20 {
  margin-bottom: 20px !important;
}

.deptInfo {
  background: #ffffff !important;
}

.dept-head {
  /* background: #fff1df; */
  padding: 10px 0 3px 10px !important;
  margin-bottom: 10px !important;
}

.whtsap-ic {
  color: limegreen !important;
}

.c-checkin-new .card-img {
  width: 100% !important;
  max-width: 100px !important;
  height: auto !important;
}

.c-checkin-new .lnk a {
  color: #1572a8 
}

.c-checkin-new .lnk {
  font-size: 1rem !important;
  font-weight: 700 !important;
  /* text-transform: uppercase !important; */
}
.c-checkin-new .btns .lnk.action{
  font-size: 0.8rem !important;
  color: #3c8dbc ;
}
.c-checkin-new .lnk.action .fa {
  font-size: 0.8rem !important;
}

.c-checkin-new .card-title.service {
  font-weight: 700 !important;
  font-size: 1.5rem !important;
  /* line-height: 40px !important; */
  color: #7a7a7a !important;
  /* line-height:normal !important; */
  /* margin-bottom: 0 !important; */
}
.c-checkin-new .phonenum {
  height:33px !important;
  width: 120px;
  font-size: 0.9rem !important;
}
.c-checkin-new .phonevallabel, .c-checkin-new .emailvallabel {
  font-size:0.85rem !important;
}
.c-checkin-new .card-title.serv-time {
  /* line-height: 40px !important; */
  font-size: 2rem ;
  color: #334b99 ;
  font-weight: 700 ;
}

.pre-check-title {
  font-size: 0.75rem !important;
  font-weight: 600;
}

.color-grey {
  color: #bbb !important;
}

.border-bt {
  border-bottom: 1px solid #EBEDF3 !important;
}

.border-rt {
  border-right: 1px solid #EBEDF3 !important;
}

.c-checkin-new .icon-minus {
  margin-top: 3px !important;
  margin-right: 5px !important;
  font-size: 1.5rem;
}

.c-checkin-new .icon-add {
  margin-top: 3px !important;
  margin-left: 5px !important;
  font-size: 1.5rem;
}

.brd-light {
  border: 1px solid #ccc !important;
  padding: 3px 10px 3px 10px !important
}

.brd-round {
  border-radius: 20px !important;
}

.c-checkin-new .chkindt {
  font-weight: 600;
  font-size: 1rem !important;
  padding-top: 2px;
  margin-top: 3px !important;
}

.c-checkin-new .caldiv {
  margin-left: 10px;
}

.c-checkin-new .slotdiv mat-chip {
  font-weight: 600;
  font-size: 1rem !important;
  background-color: #fff !important;
  border: 1px solid #ccc !important;
  border-radius: 20px !important;
  min-width: 80px !important;
  padding: 15px !important;
}
.c-checkin-new .slotdiv {
  max-height: 50vh !important;
  overflow: auto;
  margin-top: 0px !important;

}
.c-checkin-new .slotdiv mat-chip.mat-chip-selected {
  border-color: #334b99;
  color:#334b99;
  border: 2px solid !important;
}
.c-checkin-new .slotdiv .mat-chip {
  border-color: #ccc !important;
  /* color:#ddd !important; */
}
.c-checkin-new mat-chip a {
  width: 100%;
  text-align: center;
}

.c-checkin-new .chk-btns-div mat-chip {
  font-weight: 600;
  font-size: 0.75rem !important;
  background-color: #fff !important;
  border: 1px solid #ccc;
  border-radius: 20px !important;
}

/* @media (min-width:992px) {
.c-checkin-new .check-new-group {
  min-height: 400px;
}
} */

.pre-instr {
  font-size: 0.75rem !important;
  font-weight: 600;
}

.checkin-btn-bp {
  /* background: linear-gradient(to right, #3c8dbc 0%, #1873f2 100%); */
  height: 40px;
  width: 90%;
  max-width: 310px;
  /* text-transform: uppercase; */
  overflow: hidden;
  text-align: center;
  box-sizing: border-box;
  color: white;
  /* font-size: 0.75rem !important; */
  transition: all .3s ease;
  cursor: pointer;
  padding: 7px !important;
  background: #334b99 !important;
  border-radius: 20px !important;
  font-size: 1.2rem !important;
  font-weight: 500;
}

/* .service-icon {
  top: 0 !important;
  padding-right: 0 !important;
  margin-top: -6px !important;
  margin-right: 5px !important;
} */
.meet-icon,.service-icon{
  top: 0 !important;
  padding-right: 0 !important;
  /* margin-top: 3px !important; */
  margin-right: 5px !important;
  height: 35px;
}
.zoom-icon{
  top: 0 !important;
  padding-right: 0 !important;
  /* margin-top: 3px !important; */
  margin-right: 5px !important;
}
.zoom1{
  height: 35px;
}
.service-icon .fa-phone{
  color: #7a7a7a !important
}

.servicesdiv {
  border: 1px solid #ddd!important;
  margin-bottom: 5px;
  padding:5px !important
}
.servicesdiv h6 {
  margin-top: 10px;
}
/* .div-selected-outline {
  border: 3px solid #334b99!important;
  color: #334b99!important;
} */

.servicesdiv .img-cont {
  width:30px !important
}
.pad-rt-0 {
  padding-right: 0 !important;
}
.pad-up-10 {
  padding-top: 10px !important;
}

.coupon-apply-btn {
  margin-left: 10px !important;
    padding: 6px 15px 8px 15px !important;
    height: auto !important;
    background-color:#3c8dbc !important;
    color: #fff !important;
}
.checkin-btn-bp1 {
  /* background: linear-gradient(to right, #3c8dbc 0%, #1873f2 100%); */
  height: 25px;
  max-width: 75%;
  margin:auto;
  /* text-transform: uppercase; */
  overflow: hidden;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  color: white;
  font-size: 0.75rem !important;
  transition: all .3s ease;
  cursor: pointer;
  padding: 3px !important;
  background: #106e76 !important;
}

.doc .checkin-btn-bp1 {
  background: #334b99 !important;
  color: #fff !important;
}

.checkin-btn-bp1.disabled {
  background: lightgray;
  height: 28px;
  /* text-transform: uppercase; */
  overflow: hidden;
  max-width: 75%;
  margin:auto;
  display: flex;
  justify-content: center;
  font-size: 0.75rem !important;
  align-items: center;
  box-sizing: border-box;
  color: white;
  transition: all .3s ease;
  cursor: not-allowed;
  padding: 7px !important;
}
.card.div-selected-outline {
  border: 3px solid #334b99!important;
  color: #334b99!important;
}
.bus-item-medium .card.card-item-n {
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) !important; */
  transition: 0.3s;
  border-radius: 5px;
  margin: auto;
height: 150px !important;
  width:150px !important;
  padding: 0px !important;
  border: 1px solid #106e76 !important;
}
.bus-item-medium-dpt .card.card-item-n {
  height: 100px !important;
}

.bus-item-medium .card.card-item-n {
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  transition: 0.3s;
}
.card-payment-button{
  background-color: #fff;
  width: 100%!important;
  padding: 20px;
}
.bus-item-medium .card-item-content {
  margin-top: 0px !important;
  text-align: center;
}
.bus-item-medium .card-item-content .title-style.mgn-bt-m-5 {
  margin-bottom: -5px !important;
}

.bus-item-medium p.price.mgn-bt-20 {
  margin-bottom: 20px !important;
}

.bus-item-medium .card.card-item-n .card-item-title {
  border-radius: 5px 5px 0 0;
  width: 100% !important;
  height: auto;
  border: 1 px solid #ddd;
  color: #106e76 !important;
}

.bus-item-medium .card.card-item-n img, .bus-item-medium .card.card-item-n .card-item-title a {
  color: #106e76 !important;
}


.bus-item-medium .title-style {
  display: table-header-group;
  font-size: 0.85rem !important;
  color: #000;
  font-weight: 600 !important;
}

.bus-item-medium .card.card-item-n img, .bus-item-medium .card.card-item-n .card-item-title {
  border-radius: 5px 5px 0 0;
  height: 100px;
  font-size: 0.8rem !important;
  border-bottom: 1px solid #106e76 !important;
  text-align: center;
  /* background-color: #106e76; */
  display: table;
  /* text-transform: uppercase; */
  padding: 5px !important;
}
.bus-item-medium-dpt .card.card-item-n img, .bus-item-medium-dpt .card.card-item-n .card-item-title {
  border-bottom: none !important;
}
.bus-item-medium .card.card-item-n .card-item-title a {
  /* height: 100%; */
  display: table-cell !important;
  vertical-align: middle !important;
}



@media (min-width: 320px) and (max-width: 500px) {
  .bus-item-medium .card.card-item-n {
    width: 95% !important;
    margin: auto !important;
    margin-bottom: 10px !important;
    float: left;
  }
  

}

.bus-item-medium {
  width: 16.66% !important;
  float: left;
  margin: auto !important;
  margin-bottom: 10px !important;
  margin-top: 5px !important;
}

@media (min-width: 600px) and (max-width: 992px) {
  .bus-item-medium {
    width: 33.3% !important;
  }
}

@media (max-width: 600px) {
  .bus-item-medium {
    width: 50% !important;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .bus-item-medium {
    width: 20% !important;
  }
}

@media (min-width: 320px) and (max-width: 374px) {
  .bus-item-medium {
    width: 100% !important;
  }
}

@media (max-width: 320px) {
  .bus-item-medium {
    width: 100% !important;
  }
  .bus-item-medium .card.card-item-n {
    width: 100% !important;
  }
}

@media screen and (max-width: 768px) {
  .bus-item-medium .card.card-item-n h6 {
    font-size: 1rem!important;
  }
}

.bus-item-medium.div-selected-outline  .card.card-item-n{
  border: 5px solid #106e76 !important;
}
.wtsapaud-icon {
  top: -2px !important;
}
.disableActn{
  background: #dbdbdb !important;
  color: #999999 !important;
  border: none !important;
  pointer-events: none !important;
}
.preinfoDesc {
  border: 1px solid;
  margin: 20px;
  }

  .example-custom-date-class {
    background:rgb(133,233,133);
    border-radius: 100%;
   }
   .whatsappNo {
    color: #1572a8;
    font-size: 1.2rem;
    font-weight: 300;
   }
   .c-checkin-new .caldiv mat-datepicker-toggle button.mat-icon-button {
    width: 50px !important;
    height: 50px !important;
   }
   .c-checkin-new .caldiv mat-datepicker-toggle button.mat-icon-button svg{
    height: 40px;
    width: 40px;
   }
   .mode-hint {
    margin-bottom: 5px;
    color: #919090;
    font-style: italic;
    font-size: 0.85rem !important;
   }
   .contact-section .wtsapaud-icon{
    width: 25px !important;
    top: 4px !important;
   }
  .changephemail .wtsapaud-icon {
    top: 5px !important;
}
.mandatoryChip {
  border: 1px solid rgb(255, 0, 0) !important;
}

.height40 {
  height: 32px;
  font-size: 12px !important;
}
.mgn-up-10-m {
  margin-top: -10px !important;
}

ngx-intl-tel-input input {
  font-size: 13px !important;
  height: 40px !important;
}
.prenotes {
  border: 1px solid #cccccc80;
  padding: 20px 10px;
}
.prenotes a {
  color: #1572a8 !important;
}
.preinfo-title {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 1rem;
}
.line-clamp {
  display: -webkit-box !important;
  -webkit-line-clamp: 2 !important;
  -webkit-box-orient: vertical !important;
}
.module-nomargin {
  /* margin: 0 0 1em 0; */
  overflow: hidden !important;
}
.tab-selected h3,
.tab-selected i {
  color: dark #1E4079;
}
.tab-selected .step-icon {
  background: dark #1E4079 ;
}
.fa {
  font: normal normal normal 14px/1 FontAwesome !important;
}
.fa-arrow-left {
  color: black;
}
.pay-section {
  text-align: center;
  line-height: 1.7;
  font-size: 1.3rem;
  background: #ffefc9b0;
  padding: 10px;
}
.select-pay {
  color: red;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
}
.confirm-head {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}
.bookdetails {
  margin-bottom: 20px;
  width: 100%;
  color: dark #1E4079 ;
  line-height: 2;
}
.bookdetails td {
  font-size: 1.2rem !important;
}
.bookdetails tbody {
  vertical-align: baseline !important;
  /* word-break: break-all !important; */
}
.containerAppt {
  font-size: 1.7rem;
  margin: auto;
  color: rgb(4, 124, 133);
  font-weight: bold;
  margin-bottom: 20px;
  border: 1px solid #00008b26;
  border-radius: 10px;
 
}
.containerpayment {
  font-size: 1.3rem;
  margin: auto;
  font-weight: bold;
  margin-bottom: 20px;
  
  
  border-radius: 10px;
  padding-left: 10px;
  height: 110px;
}
.selected-payment {
  
  padding: 10px;
}
.pad-bt-10 {
  padding-bottom: 10px;
}
@media (max-width: 450px) {
  .paytm-icon {
    width: 80px !important;
    height: 38px !important;
  }
  .razorpay-icon {
    width: 100px !important;
  }
}
.paytm-icon {
  content: url(../../../../../assets/images/paytm.png);
  width: 100px;
  padding: 10px;
  /* height: 58px; */
  background: white;
}
.razorpay-icon {
  content: url(../../../../../assets/images/razorpay.png);
  width: 150px;
  padding: 10px;
  background: white;
}
.fa-file-text-o, .fa-paperclip {
  color: #3c8dbc !important;
}
.img-section img {
  width: 80px;
  height: 80px;
  cursor: auto;
}
.gal_action {
  position: absolute;
  top: -5px;
  right: -3px;
  background: rgba(0,0,0,.5);
  width: 15px;
  height: 15px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}
.galimg_outer {
  position: relative;
  padding: 5px 10px 10px 5px;
}
.galul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.galul li {
  float: left;
}
.fa-times-circle {
  font-size: 1.3rem !important;
}
.fade {
  opacity: 2 !important;
}
body.modal-open {
  overflow: hidden !important;
}
.modal-dialog {
  margin-top: 100px !important;
}
.modal-body {
  max-height: 70vh;
  overflow: auto;
}
::ng-deep .cdk-overlay-container {
  z-index: 1050 !important;
}
.disp-none {
  display: none !important;
}
.error-section {
  background: red;
  color: white;
  padding: 10px;
  text-align: center;
  font-size: .8rem;
 }
 .success-section {
   background: #00cc96 !important;
 }
 .width-60 {
  width: 60% !important;
 }

 .step-icon {
  border-radius: 50%;
  color: white;
  background-color: #aaaa;
  min-width: 50px;
  display: flex;
  justify-content: center;
  margin: auto;
  text-align: center;
  height: 50px;
  align-items: center;
 }
 .wizard-title {
   color: #aaaa !important;
 }
 @media (max-width: 767.98px) {
 .step-icon {
    margin-right: 10px;
 }
}
.modal-body {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
.close-btn button {
  font-size: 2rem !important;
  padding-right: 15px;
  padding-top: 15px;
}
.col-xs-3 {
  width: 25% !important;
}
.col-xs-9 {
  width: 75% !important;
}
@media (max-width: 767.98px) {
  .wizard.wizard-1 .wizard-nav .wizard-steps {
      flex-direction: unset !important;
  }
  .wizard.wizard-1 .wizard-nav .wizard-steps .wizard-title, .booking-img {
    display: none !important;
  }
  .wizard.wizard-1 .wizard-nav .wizard-steps .wizard-step {
    width: auto !important;
  }
  .displ-none {
    display: none !important;
  }
}
@media (min-width: 768px) {
  .wizard.wizard-1 .wizard-nav .wizard-steps {
    display: block !important;
  }
  .wizard-label {
    display: flex;
  }
  .wizard-arrow {
    display: none !important;
  }
  .wizard-mgn-30 {
    margin-bottom: 30px;
  }
  .wizard-nav {
    margin-top: 50px;
  }
  .right-part {
    min-height: 650px;
    border-left: 1px solid #EBEDF3 !important;
  }
  .containerAppt {
    width: 80%;
  }
  .containerpayment{
    width: 80%;
  }
  .check-new-group {
    margin-left: 10px;
  }
}
.wizard.wizard-1 .wizard-nav .wizard-steps .wizard-step .wizard-label {
  margin-left: 1.5rem !important;
  margin-right: 1.5rem !important;
}
.wizard.wizard-1 .wizard-nav .wizard-steps .wizard-step .wizard-arrow.last {
  display: none !important;
}
.refund_policy {
  color: #3c8dbc !important;
  font-size: 0.9rem !important;
}
.pay_policy {
  font-size: 0.9rem !important;
}

.modal-footer {
  padding-top: 0px !important;
}
.loading-hgt {
  height: 85vh;
}
.jvideo-icon-m {
  width:25px !important;
}
.jvideo-icon-mg5 {
  margin-bottom: 5px !important;
}
.gal-input input {
  width: 80px;    
  font-size: .7rem;
}
.billing-head {
  text-align: left !important;
  font: normal normal bold 15px/18px Roboto !important;
  letter-spacing: 0px !important;
  width: 15% !important;
  display: inline-block !important;
}

.billing-value {
  text-align: left;
  font: normal normal normal 15px/18px Roboto;
  letter-spacing: 0px;
  width: 85%;
}

@media (max-width: 1200px) {
  .billing-head {
    width: 20% !important;
  }
  
  .billing-value {
    width: 80%;
  }  
}

@media (max-width: 991px) {
  .billing-head {
    width: 25% !important;
  }
  
  .billing-value {
    width: 75%;
  }  
}

@media (max-width: 767px) {
  .billing-head {
    width: 15% !important;
  }
  
  .billing-value {
    width: 85%;
  }  
}

@media (max-width: 576px) {
  .billing-head {
    width: 20% !important;
  }
  
  .billing-value {
    width: 80%;
  }  
}

@media (max-width: 500px) {
  .billing-head {
    width: 30% !important;
  }
  
  .billing-value {
    width: 70%;
  }  
}

.bookdetails {
  width: 80% !important;
  margin: 0 auto 20px !important;
}

@media (max-width: 767px) {
  .bookdetails {
    width: 90% !important;
    margin: 0 auto 20px !important;
  }  
}

.contact-section.contact {
  text-align: left !important;
  font: normal normal normal 14px/27px Roboto !important;
  letter-spacing: 0.21px !important;
  color: #747474 !important;
  opacity: 1 !important;
}

 .mgn-lt-36 {
  margin-left: 38px !important;
}

.mat-dialog-content{
  height: 100vh !important;
}

.sts-msg.error {
  padding-left: 0 !important;
  font-weight: 500 !important;
  font-size: 0.8rem !important;
  color: red !important;
}
.fa-mobile {
  font-size: 1.5rem !important;
  width: 20px !important;
}
.fa-envelope-o {
  width: 20px !important;
  font-size: 1.3rem !important;
}

.c-checkin-new .chk-btns-div mat-chip.br-top-left-0 {
  border-top-left-radius: 0 !important;
}

.c-checkin-new .chk-btns-div mat-chip.br-bottom-left-0 {
  border-bottom-left-radius: 0 !important;
}

.c-checkin-new .chk-btns-div mat-chip.margin-left-0{
  margin-left: 0 !important;
}

.c-checkin-new .chk-btns-div mat-chip.br-top-right-0 {
  border-top-right-radius: 0 !important;
}

.c-checkin-new .chk-btns-div mat-chip.br-bottom-right-0 {
  border-bottom-right-radius: 0 !important;
}

.c-checkin-new .chk-btns-div mat-chip.margin-right-0{
  margin-right: 0 !important;
}

.creditleft{
  font-size: x-small;
  padding-left: 20px;
  color: darkgrey;
  padding-bottom: 10px;
}
.jaldeecredit{
  /* color: darkgrey; */
  padding-top: 5px;
  font-size: small;
}
.cancelpolicy{
  text-align: center;
  padding-bottom: 10px;
}.prepayment{
  text-align: center;
  font-size: 1.3rem;
}
.prepayment-confirm{
  text-align: center;
  font-size: 1.3rem;
  margin-top:50px;
  /* margin-left: 100px; */
}
.prepayment-confirm .btn{
  border-radius: 1.5rem!important;
  font-size:1.5rem!important;
}
.prepayment .btn{
 border-radius: 1.5rem!important;
 font-size:1.5rem!important;
}
@media (max-width: 400px) {
  .containerpayment{
    height: 140px;
    font-size: .75rem;
  }
   .containerAppt{
    font-size: 1rem;
  }
  .prepayment{
    text-align: center;
    font-size: 1rem;
  }
  .prepayment-confirm{
    text-align: center;
    font-size: 1rem;
    margin-top:20px;
    /* margin-left: 20px; */
  }
  .prepayment-confirm .btn{
    border-radius: 1rem!important;
    font-size:1rem!important;
  }
  .prepayment .btn{
   border-radius: 1rem!important;
   font-size:1rem!important;
  }
  .cancelpolicy{
    margin-top:5px;
  }
  }
  .note-pad {
    padding: 0px 20px !important;
  }
  @media  (max-width: 800px)  {
    .web{
        display: none !important;
    }
  }
  @media (min-width: 450px) {
    .disply  {
        display: none !important;
    }
  }
  .paymentdiv{
    padding: 10px;
    text-align: center;
    background-color: #ffffff;
    /* border: 1px solid #00008b26; */
  border-radius: 10px;
  
  }
  .paymenticons{
  border-radius: 10px;
  border-bottom: 1px solid #f8f8f8;
  border-right: 1px solid #f8f8f8;
  /* box-shadow: 4px 4px 5px gainsboro; */
  }
  .paymenticons:hover {
    border: 2px solid dark #1E4079;
  }
  .highlight{
    background: #9e9e9e6e !important;
    cursor: not-allowed !important;
    opacity: 0.2;
    pointer-events: none !important;
  }
  .incomplete-msg {
    position: absolute !important;
    font-weight: 600 !important;
    font-size: 1rem !important;
    z-index: 4 !important;
    width: 100% !important;
    text-align: center !important;
    margin-top: 60px !important;
    color: green !important;
    right: 0px !important;
  }
  .pad_link{
    padding-top: 14px !important;
  }
  .pad_policy{
    padding-top: 7px !important;
  }
  .changebt{
    color: #1572a8 !important;
  }
@media (min-width:320px)  {
   /* smartphones, iPhone, portrait 480x320 phones */ 
   .pad-10.d-flex.flex-column-fluid.hf-panel-body {
    padding-bottom: 150px!important;
}
  }
@media (min-width:481px)  { 
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
  .pad-10.d-flex.flex-column-fluid.hf-panel-body {
    padding-bottom: 0px!important;
}
}
@media (min-width:641px)  { 
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  .pad-10.d-flex.flex-column-fluid.hf-panel-body {
    padding-bottom: 0px!important;
}
 }
@media (min-width:961px)  { 
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  .pad-10.d-flex.flex-column-fluid.hf-panel-body {
    padding-bottom: 0px!important;
}

 }
@media (min-width:1025px) { 
  /* big landscape tablets, laptops, and desktops */
  .pad-10.d-flex.flex-column-fluid.hf-panel-body {
    padding-bottom: 0px!important;
}
 }
@media (min-width:1281px) { 
  /* hi-res laptops and desktops */
  .pad-10.d-flex.flex-column-fluid.hf-panel-body {
    padding-bottom: 0px!important;
}
 }



 
.fa{
  color: black!important;
  font-size: 20px!important;
  }
  
  .fa-arrow-circle-left
  {
    font-size: 35px!important;
  }
  .fa-arrow-right{
    font-size: 35px!important;
    color: white!important;
  }
  .back-btn-text{
    font-size: 30px!important;
    font-weight: 700;
  }
  .provider-details{
    font-size: 40px!important;
  }
  
  .appointment-details-heading{
    background-color: #1E4079!important;
    color: white;
    border-radius: 10px;
  }
  
  .mat-chip.mat-standard-chip.mat-primary
  {
    color: #1E4079!important;
    background-color: white!important;
    border: 1px solid #1E4079;
  }
  .mat-chip-selected{
    color: green!important;
  }
  
  
  .appointment-details-card
  {
    background-color: #f1faf1!important;
  }


 
    .paymentmode{
      font-size:16px!important;
      padding:0px !important;
    }
    /*
    .mat-radio-button.mat-radio-checked { 
      border-color: #1E4079 !important;
      box-shadow: 0 0 3px 3px #1E4079!important;
      padding-right: 10px!important;
    }
  
    .time_range > .mat-radio-button.mat-radio-checked { 
      border: #1E4079 !important;
      box-shadow: 0 0 2px 2px #1E4079!important;
      border-radius: 30px!important;
      text-align: center!important;
    }
  
     ::ng-deep .mat-radio-button .mat-radio-container {
      display: none!important;
    }
    ::ng-deep .mat-radio-container .mat-radio-outer-circle,
    ::ng-deep .mat-radio-container .mat-radio-inner-circle{
      
      display: none!important;
    }
    ::ng-deep .mat-radio-container .mat-radio-label{
      display: inline;
    } */
  


  .header .fa-map-marker
  {
    font-size: 14px!important;
  }
  .consumer-name
  {
    font-size: 20px!important;
    font-weight: bold!important;
  }
  .consumer-name .fa-pencil-square-o
  {
    font-size: 20px!important;
  }









  @media (min-width:320px)  {
    /* smartphones, iPhone, portrait 480x320 phones */ 
    .pad-10.d-flex.flex-column-fluid 
    {
     padding-bottom: 130px!important;
    }
    
    .card.shadow
    {
      padding: 8px!important;
    }
    .back-btn-text{
      font-size: 15px!important;
      font-weight: 700;
    }
    .fa-arrow-circle-left
    {
      font-size: 18px!important;
    }
    .col-md-4.col-lg-4.col-sm-12.col-xs-12.mt-4.d-flex.align-items-stretch.desktop-only {
      display: none!important;
    }
    
    
   }

 @media (min-width:481px)  { 
   /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
   .pad-10.d-flex.flex-column-fluid {
     padding-bottom: 0px!important;
 }
 .back-btn-text{
  font-size: 30px!important;
  font-weight: 700;
}
.fa-arrow-circle-left
{
  font-size: 35px!important;
}
.col-md-4.col-lg-4.col-sm-12.col-xs-12.mt-4.d-flex.align-items-stretch.desktop-only {
  display: flex!important;
  align-items:stretch!important;
}
 }



 @media (min-width:641px)  { 
   /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
   .pad-10.d-flex.flex-column-fluid {
     padding-bottom: 0px!important;
    }
    .back-btn-text{
      font-size: 30px!important;
      font-weight: 700;
    }
    .fa-arrow-circle-left
    {
      font-size: 35px!important;
    }
    .col-md-4.col-lg-4.col-sm-12.col-xs-12.mt-4.d-flex.align-items-stretch.desktop-only {
      display: flex!important;
      align-items:stretch!important;
    }
    
  }



 @media (min-width:961px)  { 
   /* tablet, landscape iPad, lo-res laptops ands desktops */
   .pad-10.d-flex.flex-column-fluid {
     padding-bottom: 0px!important;
 }
 .back-btn-text{
  font-size: 30px!important;
  font-weight: 700;
}
.fa-arrow-circle-left
{
  font-size: 35px!important;
}
.col-md-4.col-lg-4.col-sm-12.col-xs-12.mt-4.d-flex.align-items-stretch.desktop-only {
  display: flex!important;
  align-items:stretch!important;
}
 
  }



 @media (min-width:1025px) { 
   /* big landscape tablets, laptops, and desktops */
   .pad-10.d-flex.flex-column-fluid {
     padding-bottom: 0px!important;
 }
 
  .back-btn-text{
    font-size: 30px!important;
    font-weight: 700;
  }
  .fa-arrow-circle-left
  {
    font-size: 35px!important;
  }
  .col-md-4.col-lg-4.col-sm-12.col-xs-12.mt-4.d-flex.align-items-stretch.desktop-only {
    display: flex!important;
    align-items:stretch!important;
  }
  
  }



 @media (min-width:1281px) { 
   /* hi-res laptops and desktops */
   .pad-10.d-flex.flex-column-fluid {
     padding-bottom: 0px!important;
 }

    .back-btn-text{
      font-size: 30px!important;
      font-weight: 700;
    }
    .fa-arrow-circle-left
    {
      font-size: 35px!important;
    }
    .col-md-4.col-lg-4.col-sm-12.col-xs-12.mt-4.d-flex.align-items-stretch.desktop-only {
      display: flex!important;
      align-items:stretch!important;
    }
  }
   .italic {
    font-style: italic;
  }

  .question-header {
    color: #000 !important;
    font-weight: 500 !important;
    font-size: 1rem !important;
  }

  ::ng-deep  .chk-btns-div .mat-chip-list-wrapper {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    display: inline-block;
  }

  .resPaymrntDetails{
    /* font-size: 15px; */
    /* font-weight: bold; */
    color: #133072;
    /* border-radius: 5px; */
    /* width: 26rem; */
    /* margin: 5px; */
  }



  .mobile-donor-details {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #cdc8c9;
  }
  hr {
    border-top: 1px solid #eee !important;
}
.customLoader {
  position:absolute;
  top: 50%;
  left: 45%;
  width:50px;
  z-index: 100;
  height:50px;
}

::ng-deep .cont-outer{
  padding-bottom: 0 !important;
}
@media (min-width: 992px)
{
.header {
    display: flex;
    justify-content: space-between;
    height: 65px;
    position: relative;
    z-index: 2;
}
}
.shadow {
  box-shadow: 0 .5rem 1.5rem .5rem rgba(0,0,0,.075)!important;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -12.5px;
  margin-left: -12.5px;
}
@media (min-width: 992px)
{
.col-lg-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}
}
@media (min-width: 768px)
{
.col-md-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}
}
@media (min-width: 768px)
{
.col-md-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
}
}
.booking-img {
  margin: 50px auto auto;
 
}
@media (min-width: 992px)
{
  .container-fluid {
    padding: 0 25px;
}
}
.btn.btn-primary {
  color: #fff;
  background-color: #1e4079;
  border-color: #1e4079;
}
.font-weight-bold {
  font-weight: 500!important;
}
.btn {
  display: inline-block;
  font-weight: normal;
  color: #3f4254;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.65rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.42rem;
  transition: color .3s ease-in-out,background-color .3s ease-in-out,border-color .3s ease-in-out,box-shadow .3s ease-in-out;
}

/* .px-9 {
  padding-left: 2.25rem!important;
}
.px-9 {
  padding-right: 2.25rem!important;
} */
.py-4 {
  padding-bottom: 0.5rem!important;
}
.py-4 {
  padding-top: 0.5rem!important;
}
.col-sm-12, .col-md-4, .col-lg-4
{
  padding-right: 12.5px;
  padding-left: 12.5px;
}


.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #EBEDF3;
  border-radius: 0.42rem;
}
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
b {
  font-weight: 600;
}
.text-primary {
  color: #1e4079!important;
}
.card-title {
  margin-bottom: 2rem;
}
h6 {
  font-size: 1.175rem;
}
@media (min-width: 576px)
{
.modal-content {
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 10%);
}
}
.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 0 solid rgba(0,0,0,.2);
    border-radius: 0.42rem;
    box-shadow: 0 0.25rem 0.5rem rgb(0 0 0 / 10%);
    outline: 0;
}
.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 1.75rem;
}
.modal-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  padding: 1.5rem;
  border-top: 1px solid #EBEDF3;
  border-bottom-right-radius: 0.42rem;
  border-bottom-left-radius: 0.42rem;
}
.modal-footer > * {
  margin: 0.25rem;
}
@media (min-width: 576px)
{
.modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
}
}
.modal.fade .modal-dialog {
  transition: transform .3s ease-out;
  transform: translateY(-50px);
}
a:not([href]) {
  color: inherit;
  text-decoration: none;
}
.hgt-adjust {
  min-height: 91vh;
}
button {
  font-family: inherit;
}
.align-items-stretch {
  align-items: stretch!important;
}
.btn.btn-light-primary {
  color: #1e4079;
  background-color: #f9e2a7;
  border-color: transparent;
}
.contact-section {
  font-weight: 400;
}
.text-primary{
  color: #1e4079 !important;
}
.pay-cnfm {
  color: red;
  font-size: .9rem;
  margin-top: 10px;
} 
