.confirmBtn{
    background: #0D2348 !important;
    box-shadow: 0.417685px 2.50611px 8.77138px 1.25305px rgba(30, 64, 121, 0.15) !important;border-radius: 3.75916px !important;
    border: 0px solid !important;padding: 6px 12px;color: #fff;
}
.createTxtIcon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.createTxt{
    font-size: 16px;
    font-weight: bold;
    color: #000000;
}
.closeIcon{
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    text-align: center;
    background: #FFFFFF;
}
.closeIcon:hover{
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    text-align: center;
    background: #FFFFFF;
    border: 0.13368px solid #FFFFFF;
    box-shadow: 0px 0.534719px 11.8652px rgb(0 0 0 / 17%);
}
.shareTxt{
    color: rgba(0, 0, 0, 0.6);
    font-size:12px;
    font-weight: 500;
}
.btnClass1{
    text-align: left;
    margin-bottom: 15px;
    margin-left: 1.25rem;
    display: flex;
    gap: 10px;
}
.cancelBtn {
    background: #A8ABAF !important;
    box-shadow: 0.417685px 2.50611px 8.77138px 1.25305px rgba(30, 64, 121, 0.15) !important;
    border-radius: 3.75916px !important;
    border: 0px solid !important;
    /* margin-right: 10px !important; */
    padding: 6px 10px;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
  }
  .cardCustom{
    background: #FCFCFC !important;
    border: 1.20589px dashed #C9C9C9 !important;
    border-radius: 5.2647px !important;
    width: 100% !important;
    z-index: 9999999;
    padding: 10px;
    text-align: center;
  }
  .image{
    height: 345px;
    width: 70%;
  }
  .copyBtnBtn{
    background-color: #FFE7E7 !important;
    box-sizing: border-box;
    color: #D33A2C;
    box-shadow: 0.417685px 2.50611px 8.77138px 1.25305px rgb(30 64 121 / 15%) !important;
    border-radius: 3.75916px !important;
    border: 0px solid !important;
    padding: 6px 10px;
    font-size: 14px;
  }
  @media(max-width: 800px){
    .image{
        height: 100%;
        width: 100%;
      }
  }