@media only screen and (max-width: 480px) {
.changeInsmall{
    font-size: small;
    padding: 5px;
    margin-top: 2px;
    }
}
.wlstatus mat-select{
    border: 1px solid #ddd;
    padding: 8px;
}
.wlstatus .select-all, .select-all {
    padding: 5px 15px 5px 15px !important;
}

@media only screen and (min-width:768px) {
    .min-hgt-60-desk {
        min-height: 60px;
    }
}
.padd{
    font-weight: 600;
    /* font-size: .875rem; */
    display: block;
    margin-bottom: 25px;
    padding: 0;
    padding: 10px !important;
}