
.orderlist .card {
    width: 300px;
    float: left !important;
    display: table !important;
    margin: 10px !important;
    min-height: 150px
}
.order-count {
    font-weight: bold;
    font-size: 2rem;
}
.count-section .card {
    max-width: 400px !important;
}
.boxshadow-style {
    box-shadow: 10px 10px 15px 0px #cccccc9c !important;
    border: 1px solid #ccc !important;
}
::ng-deep .custom-frame {
    & .mat-checkbox-background, .mat-checkbox-frame {
      border-radius: 70% !important;
    }
}
.act-btn {
    padding: 2px 10px;
    border: 1px solid;
    border-radius: 20px;
    font-size: .7rem;
}
.top-sec span {
    font-size: x-small;
}
.top-sec {
    padding: 5px 5px 0 5px;
}
.main-sec {
    padding: 0 10px 10px 15px;
}
.main-sec .datetime {
    font-size: 1.3rem;
}
@media (max-width:345px) {
    .orderlist .card {
        width: 270px !important;
    }
}
::ng-deep .mat-checkbox-checked .mat-checkbox-background {
    background-color: orange !important;
}
.main-act-btn {
    padding: 10px;
    border: 1px solid #9999;
}