<h2>Order Manager</h2>
Welcome back {{businessName}}
<div>
<p>Quick stats</p>
<div class="disp-flex">
    <div class="card">
        Total orders
        210
    </div>
    <div class="card">
        Today's orders
        210
    </div>
    <div class="card">
        Future
        210
    </div>
</div>
</div>
<mat-tab-group class="checkinlist" (selectedTabChange)="tabChange($event)">
    <mat-tab label="Active Orders">
        <div class="card">
            Total orders
            210
        </div>
        <div class="card">
            Today's orders
            210
        </div>
        <div class="card">
            Future
            210
        </div>
    </mat-tab>
    <mat-tab label="Future">
    </mat-tab>
    <mat-tab label="History">
    </mat-tab>
</mat-tab-group>