
.orderlist .card {
    width: 300px;
    float: left !important;
    display: table !important;
    margin: 10px !important;
    min-height: 170px;
    height: 170px;
}
.order-count {
    font-weight: bold;
    font-size: 2rem;
}
.count-section .card {
    max-width: 400px !important;
}
.boxshadow-style {
    box-shadow: 10px 10px 15px 0px #cccccc9c !important;
}
::ng-deep .custom-frame {
    & .mat-checkbox-background, .mat-checkbox-frame {
      border-radius: 70% !important;
    }
}
.act-btn {
    padding: 2px 10px;
    border: 1px solid;
    border-radius: 20px;
    font-size: .7rem;
}
.top-sec span {
    font-size: x-small;
}
.top-sec {
    padding: 5px 5px 0 5px;
}
.main-sec {
    padding: 0 10px 10px 15px;
}
.main-sec .datetime {
    font-size: 1.2rem;
}
@media (max-width:345px) {
    .orderlist .card {
        width: 270px !important;
    }
}
::ng-deep .orderlist .mat-checkbox-checked .mat-checkbox-background {
    background-color: orange !important;
}
.main-act-btn {
    padding: 10px;
    border: 1px solid #9999;
}
.order-hght {
    min-height: 250px;
}
.grey-color {
    color: grey;
}
.darkblue {
    color: #334b99 !important;
}
.darkorange {
    color: rgba(255 ,166,0,0.89)!important;
}
::ng-deep .mat-tab-header {
    z-index: 0 !important;
}
.icon-filter-one, .fa-refresh {
    color: black;
}
@media (max-width: 550px) {
    .checkfilter {
        height: 550px !important;
    }
}
::ng-deep .count-section [class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: Flaticon2 !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal;
}
::ng-deep .pitch_blu {
    color: #1e4079 !important;
}
.count-section .mat-grid-tile {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
    cursor: pointer;
}
.count-section .quik_link {
    margin-bottom: 10px;
    font-weight: 600;
    color: #1e4079;
}
.count-section .mat-grid-tile-footer {
    height: 18px;
    color: #1e4079;
    background: none !important;
    overflow: hidden;
    padding: 0 !important;
    position: absolute;
    left: 0;
    right: 0;
    font-size: 0.7rem;
}
.count-section .mat-grid-tile-footer span {
    font-weight: 600;
    margin-right: auto;
    margin-left: auto;
}