.action-section {
    margin-bottom: 20px;
  }
  .action-box {
    /* border: 1px solid #ccc; */
    width: 150px;
    height: 100px;
    margin: 15px;
    text-align: center;
    float: left;
    display: table;
    box-shadow: 10px 10px 15px 0px #cccccc9c;
  }
  @media (max-width: 970px) {
    .action-box {
      width: 140px;
    }
  }
  @media (max-width: 864px) {
    .action-box {
      width: 125px;
      height: 90px;
    }
  }
  @media (max-width: 520px) {
    .action-box {
      width: 100px;
      margin: 10px;
    }
    .message-icon, .medical-list-icon, .edit-customer-icon, .last-visit-icon, 
    .medicalrecord-icon, .mr-rx-icon {
      width: 25px !important;
    }
  }
  @media (max-width: 400px) {
    .icon-text {
      font-size: smaller;
    }
    .action-box {
      width: 120px;
      height: 80px;
      margin: 5px;
    }
  }
  .action-box-sub {
    display: table-cell;
    vertical-align: middle;
  }
  .scro {
    max-height: 500px;
    overflow-y: scroll;
  }
