<h1 class="mat-dialog-title" style="font-size: 1.2rem !important;">{{noteTitle}}
  <span *ngIf="type === 'checkin'"> from {{(checkin.waitlistingFor[0].firstName || checkin.waitlistingFor[0].lastName) ?
    checkin.waitlistingFor[0].firstName + ' ' + checkin.waitlistingFor[0].lastName : consumer_label + ' id ' + checkin.consumer.jaldeeId}}
  </span>
  <span *ngIf="type === 'appt'"> from
    {{(checkin.appmtFor[0].firstName || checkin.appmtFor[0].lastName) ? checkin.appmtFor[0].firstName + ' ' +
    checkin.appmtFor[0].lastName : consumer_label + ' id ' + checkin.providerConsumer.jaldeeId}}</span>
  <span *ngIf="type === 'donation'"> from {{checkin.donor.firstName}}</span>
  <span *ngIf="type === 'order'"> from {{checkin.orderFor.firstName}}
    {{checkin.orderFor.lastName}}</span>
  <button #queue mat-dialog-close class="modal_close" tabindex="-1">
    <i class="fa fa-window-close" aria-hidden="true"></i>
  </button>
</h1>
<mat-dialog-content style="padding-top: 0px;display: grid;">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding no-margin" *ngIf="type === 'checkin'">
    <p *ngIf="checkin.token">Token # : {{checkin.token}}</p>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding no-margin" *ngIf="type === 'appt'">
    <p>Appointment Time : {{getSingleTime(checkin.appmtTime)}}
    </p>
  </div>
  <div *ngIf="type == 'appt' || type == 'checkin' || type == 'order-details'" class="prov-wtlst-note-border"
    [innerHTML]="checkin.consumerNote | nl2br">
  </div>
  <div *ngIf="type == 'donation'" class="prov-wtlst-note-border" [innerHTML]="checkin.note | nl2br">
  </div>
  <div *ngIf="type == 'order'" class="prov-wtlst-note-border" [innerHTML]="checkin.orderNote | nl2br">
  </div>
</mat-dialog-content>