<section class="container no-padding-small cust-book-details">
    <div class="content p0 comn-cls checkin-details order-det">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading top-row ">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">
                        <app-header *ngIf="shared_functions.checkLogin()"></app-header>
                    </div>
                </div>
                <div class="panel-body no-padding">
                    <div class="c-outer m0">
                        <div class="c-body booking-content col-md-12 col-xs-12 col-sm-12 no-padding">
                            <!-- graphics -->
                            <div class="graphics-div">
                                <span>
                                    <img class="myjaldee-bg" _ngcontent-ywv-c30=""
                                        src="assets/images/myjaldee/Group92.png" style="width: 400px;">
                                </span>
                            </div>

                            <!-- Title with back option -->
                            <div class="card title-gb">
                                <h5 class="mgn-up-10 index-head">{{titlename}} <a class="pull-left mgn-rt-20 back-btn"
                                        (click)="gotoPrev()"><i class="fa fa-arrow-left"></i></a></h5>
                            </div>

                            <div class="lbl col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xs-12">
                                <div class="card" *ngIf="!api_loading">
                                    <app-common-innerloading-spinner> </app-common-innerloading-spinner>
                                </div>
                                <div class="card" *ngIf="api_loading">

                                    <!-- Header -->
                                    <div class="mgn-bt-20 temp-style index-head">
                                        <div class="pad-10">
                                            <h3 class="custId-cursor head-color disp-flex"
                                                (click)="providerDetail(waitlist.providerAccount)">
                                                {{waitlist.providerAccount.businessName | capitalizeFirst}}
                                            </h3>
                                            <!-- <a class="loc-cls" [href]="waitlist.providerAccount.location.googleMapUrl"
                                                target="_blank">
                                                <i class="fa fa-map-marker"></i>
                                                {{waitlist.providerAccount.location.place | capitalizeFirst}}
                                            </a> -->
                                        </div>
                                    </div>

                                    <!-- Consumer Details -->
                                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xs-12 mgn-bt-20">
                                        <div
                                            class="col-sm-12 col-md-12 col-lg-12  col-xl-12 col-xs-12 cust-det-outline">
                                            <div
                                                class="col-sm-7 col-md-7 col-lg-7  col-xl-7 col-xs-6 mgn-up-10 mgn-bt-10 l-ht-2 ">
                                                <div class="txt-custdet">Customer Details</div>
                                                <div class="txt-cust-name">{{waitlist.orderFor.firstName}}&nbsp;{{waitlist.orderFor.lastName}}</div>
                                                <div class="txt-addrs">
                                                    <i class="fa fa-phone"></i>
                                                    {{waitlist.phoneNumber}}</div>
                                                    <div class="txt-addrs">
                                                        <i class="fa fa-envelope"></i>
                                                        {{waitlist.email}}</div>
                                                <div class="txt-addrs">
                                                    <i class="fa fa-map-marker"></i>
                                                    107, Teachers colony HSR Layout, Bangalore</div>
                                            </div>
                                            <div
                                                class="col-sm-5 col-md-5 col-lg-5  col-xl-5 col-xs-6 mgn-up-10 mgn-bt-10 l-ht-2 ">
                                                <div class="txt-custdet">Delivery Type</div>
                                                <div *ngIf="waitlist.storePickup" class="txt-cust-name">Store Pick Up</div>
                                                <div *ngIf="waitlist.homeDelivery" class="txt-cust-name">Home Delivery</div>
                                                <div><button mat-raised-button class="action-btn">ACTIONS</button></div>
                                                <!-- <div class="mgn-up-10"><button mat-raised-button class="cancel-btn">CANCEL</button></div> -->
                                            </div>

                                        </div>
                                    </div>

                                    <!-- Toggle -->
                                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xs-12 mgn-bt-20">
                                        <span>ORDERED ITEMS</span>
                                        <mat-button-toggle-group #group="matButtonToggleGroup" class="fl-right">
                                            <mat-button-toggle value="list" aria-label="Text align left"
                                                (click)="getValue('list')">
                                                <mat-icon class="l-ht-0 fa fa-list mgn-bt-5"></mat-icon>
                                            </mat-button-toggle>
                                            <mat-button-toggle value="grid" aria-label="Text align center"
                                                (click)="getValue('grid')">
                                                <mat-icon class="l-ht-0 fa fa-th-large mgn-bt-5"></mat-icon>
                                            </mat-button-toggle>
                                        </mat-button-toggle-group>
                                    </div>

                                    <!-- Item list -->
                                    <div
                                        class="col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xs-12 orderedItems mgn-bt-20">
                                        <!-- Grid View -->
                                        <mat-grid-list cols="{{no_of_grids}}" rowHeight="200px" [gutterSize]="'10px'"
                                            *ngIf="showView === 'grid'">
                                            <mat-grid-tile *ngFor="let item of waitlist.orderItem">
                                                <mat-grid-tile-header
                                                    [ngStyle]="{ 'background-image': 'url(' + item.itemImages[0].url + ')'}">
                                                </mat-grid-tile-header>
                                                <div class="item-contnt">
                                                    <div class="itm-nme">{{item.name}}</div>
                                                    <div class="price rupee-font itm-amt">&#8377;{{item.totalPrice}}
                                                    </div>
                                                    <div class="itm-qty">Qty - {{item.quantity}}</div>
                                                </div>
                                            </mat-grid-tile>
                                        </mat-grid-list>

                                        <!-- List View -->
                                        <div *ngIf="showView === 'list'"
                                            class="col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xs-12 cust-det-outline">
                                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xs-12 mgn-up-10 mgn-bt-10 bt-lst-bdr l-ht-2"
                                                *ngFor="let item of waitlist.orderItem">
                                                <div class="col-sm-7 col-md-7 col-lg-7 col-xl-7 col-xs-5">
                                                    <div class="itm-nme">{{item.name}}</div>
                                                    <div class="price rupee-font itm-amt">&#8377;{{item.totalPrice}}
                                                    </div>
                                                    <div class="itm-qty">Qty - {{item.quantity}}</div>
                                                </div>
                                                <div class="col-sm-5 col-md-5 col-lg-5 col-xl-5 col-xs-5">
                                                    <div class="lst-img"
                                                        [ngStyle]="{ 'background-image': 'url(' + item.itemImages[0].url + ')'}">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>