.createCustomer .pad-19 {
    padding: 19px !important;
}
.createCustomer .pad-20 {
    padding: 20px !important;
} 
.createCustomer .form-group {
    margin-bottom: 0.1rem !important;
}
.card-body {
    padding:1rem!important;
    padding-bottom: 0px !important;
}
.or{
    margin-top: 10px;

}
@media (max-width: 576px) {
    .or{
        margin-top: 10px;
    
    }
}

.input1 {
    width: 50px;
    
    box-sizing: border-box;
    height: 40px;
    border-radius: 4px;
    background: #f6f6f6 !important;
    border-bottom: 1px solid #f6f6f6 !important;
    border-top: 1px solid #f6f6f6 !important;
    border-left: 1px solid #f6f6f6 !important;
    border-right: 1px solid #f6f6f6 !important;
    padding: 4px;
    position: relative;
    margin-top: -6px;
    margin-bottom: 0;
    display: table-cell;
    text-align: center;
  }
  .input1:not(select) {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.adjust{
    margin-left: -100px;
    flex: 0 0 25%;
    max-width: 50%;
}
.mat-select {
    width: 100px !important;
    border: solid 1px #f6f6f6 !important;
    border-radius: 4px;
    background-color: #f6f6f6 !important;
    height:34px;
    
  }
.mat-form-field{
    height:34px !important;
    /* background-color: #f6f6f6 !important; */
}
#email_id,#mobile_number,#last_name,#first_name,#countryCode,#dob,#address{
    background-color: #f6f6f6 !important;
    border-radius: 4px;
    border: 1px solid #f6f6f6 !important;
}
@media (max-width: 750px) {
    .input1 {
        width: 50px;
        margin-top: -9px;
        box-sizing: border-box;
        height: 40px;
        border-radius: 0;
        background: #f6f6f6 !important;
        border-bottom: 1px solid #f6f6f6 !important;
        border-top: 1px solid #f6f6f6 !important;
        border-left: 1px solid #f6f6f6 !important;
        border-right: 1px solid #f6f6f6 !important;
        position: relative;
        margin-top: -4px !important;
        margin-bottom: 0;
        display: table-cell;
        text-align: center;
      }
      .input1:not(select) {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
    .adjust{
        margin-left: 0px;
    }
}
.countrycode{
width:20%;
float: left;
}
.mobilenumber{
width: 80%;
margin-top: -1px;
}
@media (max-width: 576px) {
    .countrycode{
        width:25%;
        }
    .mobilenumber{
    width: 75%;
    }
}
.form-text-light
{
  /* color: rgb(139, 139, 139)!important; */
  font-size: 0.8rem!important;
}
.custom-btn-length
{
    width: 90px !important;
    text-align: center!important;
}