.createCustomer .pad-19 {
    padding: 19px !important;
}
.createCustomer .pad-20 {
    padding: 20px !important;
} 
.createCustomer .form-group {
    margin-bottom: 1rem !important;
}
.card-body {
    padding-bottom: 0px !important;
}
.or{
    margin-top: 30px;

}
@media (max-width: 576px) {
    .or{
        margin-top: 10px;
    
    }
}
    