.btn-primary {
  background-color: #1e4079 !important;
  color: #fff !important;
  border-color: #1e4079 !important;
  width: 100% !important;
}

.border {
  border: 1px solid rgb(206, 205, 205) !important;
  border-radius: 5px !important;
}

.fa-trash,
.fa-eye {
  font-size: 18px !important;
}

.overflow-x-scroll {
  overflow-x: scroll !important;
}

.font-large {
  font-size: 20px !important;
}
