/* table{
    width: 100%;
   }
   td {
    max-width:15%;
    word-wrap: break-word;
    margin:auto;
    text-align:justify;
    word-break: break-word;
    white-space: pre-line;
    overflow-wrap: break-word;
    -ms-word-break: break-word;
    word-break: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
  .table-container {
    flex-grow: 1;
    flex-basis: 90vh;
    overflow: auto;
  }
  
   */

    table{
    width: 100%;
   }
   td {
    word-wrap: break-word;
    margin:auto;
    text-align:justify;
    word-break: break-word;
    white-space: pre-line;
    overflow-wrap: break-word;
    -ms-word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
  /*.table-container {
    flex-grow: 1;
    flex-basis: 90vh;
    overflow: auto;
  } */
  .green {
    color:green;
  }
  .gray {
    color:gray;
  }
  
  
  .customersList .pitch_blu {
    color: #1e4079 !important;
  }
  .customersList .hidden_th {
    display: none !important;
  }
  
  @media screen and (max-width: 1218px) {
      .customersList .hide_th {
        display: none !important;
      }
      .customersList .hidden_th {
        display: inline-block !important;
      }
  } 
  @media screen and (max-width: 385px) {
    .customersList .card-body {
      padding: 0 !important;
    }
  } 
  
.customersList .card {
  border-radius: 0 !important;
}  
.customersList .row_data {
  font-size: 0.75rem !important;
  font-weight: 600 !important;
}
.user-img img {
  width: 50px;
  height: 50px;
  border-radius: 0.42rem;
}
.fa {
  font-family: 'FontAwesome' !important;
}
@media (max-width: 992px) {
  .display-min-none {
    display: none;
  }
}
.table.table-vertical-center td {
  vertical-align: baseline !important;
}
.view-details {
  margin-top: 10px;
}
/* .view-details .b1 {
  width: 30%;
}
.view-details .b2 {
  width: 60%;
  text-align: right;
  float: right;
} */
.row_data:hover {
  box-shadow: 0 4px 4px 0 rgb(0 0 0 / 25%);
  border-radius: 0.4rem;
}
.fa-map-marker {
  font-size: 1rem !important;
}
.username {
  font-size: 0.9rem;
  display: flex;
}
.mgn-lt-45 {
  margin-left: 45px
}
@media (max-width: 576px) {
.waitlist-box {
  margin: 10px 0px;
  /* border-radius: 0.5rem; */
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 25%);
  border: 1px solid #eee;
}
.img-min-width{
  min-width: 50px;
}
.assign-btn{
    border-radius: 3px;
    padding: 3px 7px 5px 3px;
    margin-bottom: 1px;
    box-shadow: none;
    border: 1px solid #ddd;
    color: black;
    font-weight: 500;
    display: inline-block;
    border: 1px solid #1E4079 ;
    font-size: 10px !important;
}
}
.action-button {
  color: #1E4079 !important;
  background-color: white !important;
  border: 1px solid #1E4079 !important;
  font-weight: 700 !important;
  padding: 5px 20px !important;
  font-size: 12px !important;
  text-transform: uppercase !important; 
  height: 30px;
}
.action-button:hover {
  color: white !important;
  background: #1E4079 !important;
  font-weight: 500 !important;
}
.icon-filter-one:before {
  color: #1E4079 !important;
}
.action-button:hover .icon-filter-one:before {
  color: white !important;
}
.icon-filter-one {
  font-size: 1rem !important;
}
td, .d-lg-none .mgn-up-5 {
  word-break: break-all !important;
}
.user-filter mat-checkbox {
  display: block;
}
::ng-deep .user-filter .mat-checkbox-layout .mat-checkbox-label {
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  white-space: nowrap !important;
}
.status-circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid white;
  bottom: 0;
  right: 0;
  margin: auto 0;
  /* position: absolute; */
}

.status-circle.green {
  background-color: green;
}

.status-circle.grey {
  background-color: darkgrey;
}


/* Filter Code Starts Here */

.filter-sidebar {
  box-shadow: -5px 0px 10px -1px #bbb !important;
  border: 0 !important;
  /* margin-bottom: 55px !important; */
  height: -webkit-fill-available !important;
  width: 265px !important;
  overflow: hidden !important;
}

.filter-sidebar .filter-container {
  height: -webkit-fill-available !important;
  overflow: auto !important;
}

.filter-sidebar .filter-container .filter-head {
  /* background-color: #1E4079 !important; */
  background-color: #E3E9ED !important;
  /* height: 52px !important; */
  /* padding: 10px !important; */
  height: 44px !important;
  padding: 0 15px !important;
  text-transform: uppercase !important;
  /* color: white !important; */
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  position: absolute !important;
  top: 0 !important;
  right: 0 !important;
  width: 100% !important;
  z-index: 5 !important;
}

.filter-sidebar .filter-container .filter-head .filter-head-title {
  /* color: white !important; */
  /* font-size: 18px !important; */
  color: #374957 !important;
  font-size: 14px !important;
}

.filter-sidebar .filter-container .filter-head i {
  /* font-size: 30px !important; */
  font-size: 11px !important;
  color: #374957 !important;
}

.filter-sidebar .filter-container .sidebar-menu#accordion1 .card {
  box-shadow: none !important;
  padding: 10px 15px !important;
  border-radius: 0 !important;
  /* border-bottom: 2px solid #ddd !important; */
  border-bottom: 1px solid #e3e9ed !important;
}

.filter-sidebar .filter-container .sidebar-menu#accordion1 .card-header h2 button {
  /* color: #1E4079 !important; */
  color: #374957 !important;
  font-weight: 700 !important;
  /* font-size: 15.5px !important; */
  font-size: 14px !important;
  border-radius: 0 !important;
  border: 0 !important;
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;

  padding: 10px 15px !important;
  /* background-color: #ddd !important; */
  background-color: white !important;
  margin: -10px -15px 0 !important;
  width: -webkit-fill-available !important;
  /* text-transform: uppercase !important; */
}

.filter-sidebar .filter-container .sidebar-menu#accordion1 .card-header h2 button.collapsed {
  width: 100% !important;
  padding: 0 !important;
  background-color: transparent !important;
  margin: 0 !important;
}

.filter-sidebar .filter-container .sidebar-menu#accordion1 .card-header h2 button:hover {
  /* color: #1E4079 !important; */
  color: #374957 !important;
  text-decoration: none !important;
}

.filter-sidebar .filter-container .sidebar-menu#accordion1 .card-header h2 button:active {
  box-shadow: none !important;
}

.filter-sidebar .filter-container .sidebar-menu#accordion1 .card-header h2 button:focus {
  text-decoration: none !important;
}

.filter-sidebar .filter-container .sidebar-menu#accordion1 .card-header h2 button:active:focus {
  box-shadow: none !important;
  outline: none !important;
  text-decoration: none !important;
}

.filter-sidebar .filter-container .sidebar-menu#accordion1 .card-header h2 button i.fa,
.filter-sidebar .filter-container .sidebar-menu#accordion1 .card-header h2 button i.fas {
  font-size: 16px !important;
  color: #374957 !important;
  font-weight: 700 !important;
}

.filter-sidebar .filter-container .sidebar-menu#accordion1 .card-header h2 button i.fa.fa-angle-down {
  /* font-size: 22px !important; */
  /* color: #1E4079 !important; */
  font-size: 16px !important;
  color: #374957 !important;
  font-weight: 700 !important;
  padding: 0 !important;
}

.filter-sidebar .filter-container .sidebar-menu#accordion1 .card-header h2 button i.fa.fa-angle-down {
  transition: 0.70s !important;
  transform: rotate(180deg) !important;
} 

.filter-sidebar .filter-container .sidebar-menu#accordion1 .card-header h2 button.collapsed i.fa.fa-angle-down {
  transition: 0.70s !important;
  transform: rotate(0deg) !important;
}

/* .filter-sidebar .filter-container .sidebar-menu#accordion1 .card-body {
  margin-top: 10px !important;
} */

.filter-sidebar .filter-container .sidebar-menu#accordion1 .card-body .filter-text-input {
  border-bottom: 0 !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.filter-sidebar .filter-container .sidebar-menu#accordion1 .card-body .filter-text-input li.filter-li {
  margin: 0 !important;
}

.filter-sidebar .filter-container .sidebar-menu#accordion1 .card-body .filter-text-input li.filter-li .filter-textbox {
  /* height: 40px !important; */
  height: 34px !important;
  width: 100% !important;
  margin: 0 !important;
  /* background-color: #e3e3e3 !important; */
  background-color: white !important;
  /* border: 0 !important; */
  border: 1px solid #e3e9ed !important;
  /* border-radius: 5px !important; */
  border-radius: 3px !important;

  /* font-size: 15px !important; */
  font-size: 14px !important;
  /* font-weight: 700 !important; */
  /* color: darkslategrey !important; */
  color: #5f7d95 !important;
}

.filter-sidebar .filter-container .sidebar-menu#accordion1 .card-body .filter-text-input li.filter-li .filter-textbox::placeholder {
  /* font-weight: 700 !important; */
  /* font-size: 15px !important; */
  font-size: 14px !important;
  /* color: #777 !important; */
  color: #888 !important;
}

.filter-sidebar .filter-container .sidebar-menu#accordion1 .card-body .filter-checkbox-input {
  /* padding: 15px 0 !important; */
  padding: 5px 0 10px !important;
  border-bottom: none !important;
}

.filter-sidebar .filter-container .sidebar-menu#accordion1 .card-body .filter-checkbox-input li.filterli {
  /* margin: 0 15px !important; */
  margin: 0 !important;
}

.filter-sidebar .filter-container .sidebar-menu#accordion1 .card-body .filter-checkbox-input .mat-checkbox.filter-checkbox {
  margin-top: 5px !important;
}

::ng-deep .app-user-service-change-component.filter-sidebar .filter-container .sidebar-menu#accordion1 .card-body .filter-checkbox-input .mat-checkbox.filter-checkbox .mat-checkbox-layout {
  margin: 0 !important;
}

::ng-deep .app-user-service-change-component.filter-sidebar .filter-container .sidebar-menu#accordion1 .card-body .filter-checkbox-input .mat-checkbox.filter-checkbox .mat-checkbox-inner-container {
  /* height: 20px !important;
  width: 20px !important; */
  height: 18px !important;
  width: 18px !important;
  box-shadow: inset 0 0 0 1px #cfd9e0 !important;
  border-radius: 3px !important;
  background-color: #fff !important;
  margin-right: 10px !important;
}

::ng-deep .app-user-service-change-component.filter-sidebar .filter-container .sidebar-menu#accordion1 .card-body .filter-checkbox-input .mat-checkbox.filter-checkbox .mat-checkbox-inner-container .mat-checkbox-frame {
  /* border-radius: 50% !important;
  border-color: #888 !important; */
  border: 0 !important;
}

::ng-deep .app-user-service-change-component.filter-sidebar .filter-container .sidebar-menu#accordion1 .card-body .filter-checkbox-input .mat-checkbox.filter-checkbox.mat-checkbox-checked .mat-checkbox-inner-container .mat-checkbox-background {
  /* border-radius: 50% !important; */
  /* background-color: #1E4079 !important; */
  background-color: #0f73ee !important;
}

::ng-deep .app-user-service-change-component.filter-sidebar .filter-container .sidebar-menu#accordion1 .card-body .filter-checkbox-input .mat-checkbox.filter-checkbox .mat-checkbox-label {
  /* font-size: 15px !important;
  font-weight: 700 !important;
  color: darkslategrey !important; */
  font-size: 14px !important;
  color: #5f7d95 !important;
  height: 18px !important;
  line-height: 18px !important;
}

.filter-sidebar .filter-container .filter-head .reset-filter {
  /* background-color: white !important; */
  /* padding: 5px 8px !important; */
  /* border-radius: 3px !important; */
  /* color: #1E4079 !important; */
  color: #374957 !important;
  font-weight: 700 !important;
  /* font-size: 15px !important; */
  font-size: 14px !important;
  margin-left: 0 !important;
  text-transform: capitalize !important;
}

.filter-sidebar .filter-container .sidebar-menu#accordion1 .collapse {
  overflow: hidden !important;
}

.filter-sidebar .filter-container .sidebar-menu#accordion1 .collapse.in .card-body {
  padding: 0 !important;
}

.filter-sidebar .filter-container .sidebar-menu#accordion1 .card-header {
  padding: 10px 15px !important;
  margin: -10px -15px !important;
}

.filter-sidebar .filter-container .sidebar-menu#accordion1 .card-header .btn.btn-link.collapsed {
  margin-bottom: 0 !important;
}

.filter-sidebar .filter-container .sidebar-menu#accordion1 .card-header .btn.btn-link {
  margin-bottom: -10px !important;
}

.filter-sidebar .filter-container .sidebar-menu#accordion1 .card-body .filter-text-input:nth-child(1) {
  padding-top: 15px !important;
}

.filter-sidebar .filter-container .sidebar-menu#accordion1 .card-body .filter-checkbox-input:nth-child(1) {
  padding-top: 15px !important;
}

.collapse.in:not(.show) {
  display: block !important;
}

.filter-sidebar .filter-footer {
  position: absolute !important;
  top: 44px !important;
  right: 0 !important;
  width: 100% !important;
  height: 50px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: space-evenly !important;
  background-color: white !important;
  border-bottom: 1px solid #e3e9ed !important;
  box-shadow: 0px 2px 20px -10px #bbb !important;
}

.filter-sidebar .filter-footer .btn {
  width: 45% !important;
}

.filter-sidebar .filter-footer .btn.reset-btn {
  background: #f3f6f9 !important;
  height: 40px !important;
  color: #374957 !important;
  font-weight: 700 !important;
  font-size: 14px !important;
  line-height: 1 !important;
  border: 0 !important;
}

.filter-sidebar .filter-footer .btn.reset-btn:hover {
  background: #e1e5e8 !important;
}

.filter-sidebar .filter-footer .btn.reset-btn i.fa.fa-undo {
  color: #374957 !important;
  font-weight: 700 !important;
  font-size: 14px !important;
}

.filter-sidebar .filter-footer .btn.apply-btn {
  background: #476073 !important;
  height: 40px !important;
  color: white !important;
  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 1 !important;
  border: 0 !important;
}

.filter-sidebar .filter-footer .btn.apply-btn:hover {
  background: #3b4e5d !important;
}

.filter-sidebar .filter-footer .btn.apply-btn i.fa.fa-check {
  font-weight: 500 !important;
  color: white !important;
  font-size: 14px !important;
}

/* Filter Code Ends Here */
