/* table{
    width: 100%;
   }
   td {
    max-width:15%;
    word-wrap: break-word;
    margin:auto;
    text-align:justify;
    word-break: break-word;
    white-space: pre-line;
    overflow-wrap: break-word;
    -ms-word-break: break-word;
    word-break: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
  .table-container {
    flex-grow: 1;
    flex-basis: 90vh;
    overflow: auto;
  }
  
   */

    table{
    width: 100%;
   }
   td {
    word-wrap: break-word;
    margin:auto;
    text-align:justify;
    word-break: break-word;
    white-space: pre-line;
    overflow-wrap: break-word;
    -ms-word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
  /*.table-container {
    flex-grow: 1;
    flex-basis: 90vh;
    overflow: auto;
  } */
  .green {
    color:green;
  }
  .gray {
    color:gray;
  }
  
  
  .customersList .pitch_blu {
    color: #1e4079 !important;
  }
  .customersList .hidden_th {
    display: none !important;
  }
  
  @media screen and (max-width: 1218px) {
      .customersList .hide_th {
        display: none !important;
      }
      .customersList .hidden_th {
        display: inline-block !important;
      }
  } 
  @media screen and (max-width: 385px) {
    .customersList .card-body {
      padding: 0 !important;
    }
  } 
  
.customersList .card {
  border-radius: 0 !important;
}  
.customersList .row_data {
  font-size: 0.75rem !important;
  font-weight: 600 !important;
}
.user-img {
  border-radius: 0.42rem;
  flex-shrink: 0 !important;
}
.user-img img {
  width: 100%;
  max-width: 50px;
  height: 50px;
}
.fa {
  font-family: 'FontAwesome' !important;
}
@media (max-width: 992px) {
  .display-min-none {
    display: none;
  }
}
.table.table-vertical-center td {
  vertical-align: baseline !important;
}
.view-details {
  margin-top: 10px;
}
.view-details .b1 {
  width: 30%;
}
.view-details .b2 {
  width: 60%;
  text-align: right;
  float: right;
}
.row_data:hover {
  box-shadow: 0 4px 4px 0 rgb(0 0 0 / 25%);
  border-radius: 0.4rem;
}
.fa-map-marker {
  font-size: 1rem !important;
}