<section class="">
  <div class="card title-gb">
    <h5 class="mgn-up-10">
      <!-- <button type="button" class="btn default profile-back" (click)="redirecToReports()">
          <span class="fa fa-chevron-left">&nbsp;Back</span>
        </button>&nbsp;&nbsp;&nbsp; -->
      <span class="fa fa-arrow-left pointer-cursor" (click)="redirecToReports()"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      User Service change
      <!-- <i class="fa fa-chevron-left mgn-rt-10" aria-hidden="true" ></i> -->
    </h5>
  </div>
</section>
<section >
  <div >
    <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 no-padding-small">

      <div class="w-dta" >
        <div class="row">
            <div class="copy">
                <div class="table-outer q-itm">
      <div class="pad-10 drugdetailslist">
      <table class="table ">
        <thead>
          <tr>
            <th>Service ID</th>
            <th>Username</th>
            <th>User Type</th>
            <th>Online status</th>
            <th>Phone number</th>
            <th>Specialization</th>
            <th>Languages</th>
          </tr>
        </thead>
        <tbody>
          <tr [class.green]="service.selected" *ngFor="let service of service_dataSource.data; let i = index;" (click)="selectedRow(i)">
            <td data-title="Service ID">{{service.id? service.id : ''}}</td>
            <td data-title="Username">{{service.Username?service.Username : ''}}</td>
            <td data-title="User Type">{{service.userType? service.userType : ''}}</td>
            <td data-title="Online status"><span ><i class="fa fa-user-circle-o green"  *ngIf="service.isAvailable" aria-hidden="true"></i><i class="fa fa-user-circle-o gray"  *ngIf="!service.isAvailable" aria-hidden="true"></i></span></td>
            <td data-title="Phone number" > {{service.mobileNo}}</td>
            <td data-title="Specialization" >{{service.specialization}} </td>
            <td data-title="Languages">{{service.languages}} </td>
          </tr>
        </tbody>
      </table>
      
    </div>
   
   
    
</div></div></div></div>

      <!-- <div class="box">
        <div *ngIf="service_dataSource.data.length!=0">
          <div class="box-body table-container table-responsive mat-elevation-z8'">
            Choose services from this grid
            <div>
              <mat-form-field>
                <input matInput type="text" (keyup)="applyFilter($event.target.value)" placeholder=" Apply Filter"
                  style="border-bottom:none;">
              </mat-form-field>
            </div>

            <table mat-table [dataSource]="service_dataSource">
              <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef >
                  <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()" displaySelectAll={false} adjustForCheckbox={false}>
                  </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                  <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)">
                  </mat-checkbox>
                </td>
              </ng-container>
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>Service ID</th>
                <td mat-cell *matCellDef="let service">
                  <span class="mobile-label">Service ID:</span>
                  {{service.id}}</td>
              </ng-container>
              <ng-container matColumnDef="username">
                <th mat-header-cell *matHeaderCellDef>Username</th>
                <td mat-cell *matCellDef="let service">
                  {{service.Username}}</td>
              </ng-container>

              <ng-container matColumnDef="userType">
                <th mat-header-cell *matHeaderCellDef>User type</th>
                <td mat-cell *matCellDef="let service">
                  {{service.userType}}</td>
              </ng-container>
              <ng-container matColumnDef="availability">
                <th mat-header-cell *matHeaderCellDef>Online status</th>
                <td mat-cell *matCellDef="let service">
                  <span ><i class="fa fa-user-circle-o green"  *ngIf="service.isAvailable" aria-hidden="true"></i><i class="fa fa-user-circle-o gray"  *ngIf="!service.isAvailable" aria-hidden="true"></i></span>
                  </td>
              </ng-container>
              <ng-container matColumnDef="phonenumber">
                <th mat-header-cell *matHeaderCellDef>Phone number</th>
                <td mat-cell *matCellDef="let service">
                  {{service.mobileNo}}
                  </td>
              </ng-container>
              <ng-container matColumnDef="specialization">
                <th mat-header-cell *matHeaderCellDef>Specialization</th>
                <td mat-cell *matCellDef="let service">
                  {{service.specialization}}
                  </td>
              </ng-container>
              <ng-container matColumnDef="languages">
                <th mat-header-cell *matHeaderCellDef>Languages</th>
                <td mat-cell *matCellDef="let service">
                  {{service.languages}}
                  </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="service_displayedColumns"></tr>
              <tr mat-row *matRowDef="let row;columns:service_displayedColumns"></tr>

            </table>
            <div class="text-center mt-5">
              <button type="button" class="btn btn-lg default profile-back"
                (click)="updateUser();">Select</button>
            </div>

          </div>

        </div>
        <div *ngIf="service_dataSource.data.length===0">
          <div class="box-body table-container table-responsive mat-elevation-z8'" style="text-align: center;">
            No users Found
          </div>
        </div>
      </div> -->




    </div>
  </div>
</section>



<!-- <section class="">
  <div class="card title-gb">
    <h5 class="mgn-up-10">
     
      <span class="fa fa-arrow-left pointer-cursor" (click)="redirecToReports()"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      User Service change
    </h5>
  </div>
</section>
<section class="report">
  <div class="content w-manager settings comn-cls lic-page">
    <div class="col-md-10 col-xs-12 col-sm-12 col-lg-9 no-padding-small">



      <div class="box">
        <div *ngIf="service_dataSource.data.length!=0">
          <div class="box-body table-container table-responsive mat-elevation-z8'">
            Choose services from this grid
            <div>
              <mat-form-field>
                <input matInput type="text" (keyup)="applyFilter($event.target.value)" placeholder=" Apply Filter"
                  style="border-bottom:none;">
              </mat-form-field>
            </div>

            <table mat-table [dataSource]="service_dataSource">
             
              <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef >
                  <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()" displaySelectAll={false} adjustForCheckbox={false}>
                  </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                  <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)">
                  </mat-checkbox>
                </td>
              </ng-container>
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>Service ID</th>
                <td mat-cell *matCellDef="let service">
                  <span class="mobile-label">Service ID:</span>
                  {{service.id}}</td>
              </ng-container>
              <ng-container matColumnDef="username">
                <th mat-header-cell *matHeaderCellDef>Username</th>
                <td mat-cell *matCellDef="let service">
                  {{service.Username}}</td>
              </ng-container>

              <ng-container matColumnDef="userType">
                <th mat-header-cell *matHeaderCellDef>User type</th>
                <td mat-cell *matCellDef="let service">
                  {{service.userType}}</td>
              </ng-container>
              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef>Status</th>
                <td mat-cell *matCellDef="let service">
                  {{service.status}}</td>
              </ng-container>
             
              <tr mat-header-row *matHeaderRowDef="service_displayedColumns"></tr>
              <tr mat-row *matRowDef="let row;columns:service_displayedColumns"></tr>

            </table>
            <div class="text-center mt-5">
              <button type="button" class="btn btn-lg default profile-back"
                (click)="updateUser();">Select</button>
            </div>

          </div>

        </div>
        <div *ngIf="service_dataSource.data.length===0">
          <div class="box-body table-container table-responsive mat-elevation-z8'" style="text-align: center;">
            No users Found
          </div>
        </div>
      </div>




    </div>
  </div>
  <div class="clearfix"></div>
</section> -->