.operations-row {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    justify-content: flex-start !important;
    align-items: flex-start !important;
    padding: 12.5px 7.5px 0 !important;
}

.operations-row .operations-column {
    width: 100% !important;
}

.operations-row .column .card {
    margin: 0 5px 12.5px !important;
    width: auto !important;
    background: #fff !important;
    overflow: hidden !important;
    position: relative !important;
    border: 1px solid #f2f4f9 !important;
    border-radius: 10px !important;
    box-shadow: 0 0 10px 0 rgb(183 192 206 / 20%) !important;
    -webkit-box-shadow: 0 0 10px 0 rgb(183 192 206 / 20%) !important;
    display: flex !important;
    justify-content: flex-start !important;
    align-items: flex-start !important;
    flex-direction: column !important;
    padding: 0 !important;
}

.operations-row .column .card .header {
    display: flex !important;
    width: 100% !important;
    color: #555 !important;
    padding: 10px 15px !important;
    line-height: 40px !important;
}

.operations-row .column .card .header h2 {
    margin: 0 !important;
    color: #5b626b !important;
    font-size: 17px !important;
    line-height: 40px !important;
    padding-right: 10px !important;
    font-weight: 500 !important;
    font-family: "Roboto", sans-serif !important;
}

.operations-row .column .card .header > button {
    position: absolute !important;
    top: 10px !important;
    right: 10px !important;
    list-style: none !important;
}

.tableBody {
    font-size: 14px !important;
    color: #555 !important;
    padding: 0px 15px 0px 15px !important;
    font-family: "Roboto", sans-serif !important;
    width: 100% !important;
}

@media (max-width: 767px) {
    .table-responsive {
        border: none !important;
    }
}

table.table {
    --bs-table-bg: transparent !important;
    --bs-table-accent-bg: transparent !important;
    --bs-table-striped-color: #212529 !important;
    --bs-table-striped-bg: rgba(0, 0, 0, 0.05) !important;
    --bs-table-active-color: #212529 !important;
    --bs-table-active-bg: rgba(0, 0, 0, 0.1) !important;
    --bs-table-hover-color: #212529 !important;
    --bs-table-hover-bg: rgba(0, 0, 0, 0.075) !important;
    width: 100% !important;
    margin-bottom: 1rem !important;
    color: #212529 !important;
    vertical-align: top !important;
    border-color: #dee2e6 !important;
    caption-side: bottom !important;
}

tr {
    border-color: inherit !important;
    border-style: solid !important;
    border-width: 0 !important;
}

.table > :not(:last-child) > :last-child > * {
	border-bottom-color: currentColor;
}

.table > :not(caption) > * > * {
	padding: 0.5rem 0.5rem;
	background-color: var(--bs-table-bg);
	border-bottom-width: 1px;
	box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}

tbody {
    vertical-align: inherit !important;
    border-color: inherit !important;
    border-style: solid !important;
    border-width: 0 !important;
}

td {
    padding: 10px !important;
    border-top: 1px solid #eee !important;
    border-bottom: 1px solid #eee !important;
    vertical-align: middle !important;
	border-color: inherit;
	border-style: solid;
	border-width: 0;
}

@media (max-width: 640px) {
    td {
        font-size: 14px !important;
    }
}

.showLinks a {
    color: #1e4079;
}