<app-header [headerTitle]="" [includedfrom]="'phome'" id="pro_home"  ll></app-header>



  <section class="breadcrumb breadcrumb_bg">
  <div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="breadcrumb_iner text-center">
                <div class="breadcrumb_iner_item">
                    <h2> Jaldee Pricing&nbsp;</h2>
                </div>
            </div>
        </div>
    </div>
</div>

</section>

<!-- QManager pricing -->
<section>
  <section class="features py-5">
    <div class="QManager">
      <div class="why"><strong>QManager</strong></div>
      <div id="price">
        <!--price tab-->
        <div class="plan">
          <div class="plan-inner">
            <div class="entry-title">
              <h3>Free</h3>
              <div class="price">Free
              </div>
            </div>
            <div class="entry-content">
              <ul>
                <li><strong>Online queue check-in/booking</strong> </li>
                <li><strong>Walk-in and phone-in queue</strong></li>
                <li><strong>Two way communication<br>(SMS, Email, Mobile app messaging)</strong></li>
                <li><strong>My Customer database</strong></li>
                <li><strong>Dynamic business schedules</strong></li>
                <li><strong>Recurring business schedules</strong></li>
                <li><strong>Web UI, Android and iOs Apps</strong> </li>
                <li><strong>Bring your own device (BYOD)</strong> </li>
                <li><strong>Online enquiries</strong> </li>
                
              </ul>
            </div>
            
          </div>
        </div>
        <!-- end of price tab-->
        <!--price tab-->
        <div class="plan basic">
          <div class="plan-inner">
            
            <div class="entry-title">
              <h3>Silver</h3>
              <div class="price">Rs499
              </div>
            </div>
            <div class="entry-content">
              <ul>
                <li><strong>Online queue check-in/booking</strong> </li>
                <li><strong>Walk-in and phone-in queue</strong></li>
                <li><strong>Two way communication<br>(SMS, Email, Mobile app messaging)</strong></li>
                <li><strong>My Customer database</strong></li>
                <li><strong>Dynamic business schedules</strong></li>
                <li><strong>Recurring business schedules</strong></li>
                <li><strong>Web UI, Android and iOs Apps</strong> </li>
                <li><strong>Bring your own device (BYOD)</strong> </li>
                <li><strong>Online enquiries</strong> </li>
                <li><strong>Kiosk<br>(addon)</strong> </li>
                 </ul>
            </div>
            
          </div>
        </div>
        <!-- end of price tab-->
        <!--price tab-->
        <div class="plan standard">
          <div class="plan-inner">
            <div class="hot">Free 45 days trail</div>
            <div class="entry-title">
              <h3>Gold</h3>
              <div class="price">Rs1499
              </div>
            </div>
            <div class="entry-content">
              <ul>
                <li><strong>Online queue check-in/booking</strong> </li>
                <li><strong>Walk-in and phone-in queue</strong></li>
                <li><strong>Two way communication<br>(SMS, Email, Mobile app messaging)</strong></li>
                <li><strong>My Customer database</strong></li>
                <li><strong>Dynamic business schedules</strong></li>
                <li><strong>Recurring business schedules</strong></li>
                <li><strong>Web UI, Android and iOs Apps</strong> </li>
                <li><strong>Bring your own device (BYOD)</strong> </li>
                <li><strong>Online enquiries</strong> </li>
                <li><strong>Kiosk<br>(addon)</strong> </li>
                <li><strong>Online Prepayments<br>(Jaldee pos required)</strong> </li>
                <li><strong>Live track customer ETAs</strong> </li>
                <li><strong>Online questionnaire</strong> </li>

              </ul>
            </div>
            
          </div>
        </div>
        <!-- end of price tab-->
        <!--price tab-->
        <div class="plan ultimite">
          <div class="plan-inner">
            <div class="entry-title">
              <h3>Platinum</h3>
              <div class="price">Rs2999
              </div>
            </div>
            <div class="entry-content">
              <ul>
                <li><strong>Online queue check-in/booking</strong> </li>
                <li><strong>Walk-in and phone-in queue</strong></li>
                <li><strong>Two way communication<br>(SMS, Email, Mobile app messaging)</strong></li>
                <li><strong>My Customer database</strong></li>
                <li><strong>Dynamic business schedules</strong></li>
                <li><strong>Recurring business schedules</strong></li>
                <li><strong>Web UI, Android and iOs Apps</strong> </li>
                <li><strong>Bring your own device (BYOD)</strong> </li>
                <li><strong>Online enquiries</strong> </li>
                <li><strong>Kiosk<br>(addon)</strong> </li>
                <li><strong>Online Prepayments<br>(Jaldee pos required)</strong> </li>
                <li><strong>Live track customer ETAs</strong> </li>
                <li><strong>Online questionnaire</strong> </li>
              </ul>
            </div>
            
          </div>
        </div>
        <div class="plan Corp">
          <div class="plan-inner">
            <div class="entry-title1">
              <h3>Diamond</h3>
              <div class="price">Rs7999
              </div>
            </div>
            <div class="entry-content">
              <ul>
                <li><strong>Online queue check-in/booking</strong> </li>
                <li><strong>Walk-in and phone-in queue</strong></li>
                <li><strong>Two way communication<br>(SMS, Email, Mobile app messaging)</strong></li>
                <li><strong>My Customer database</strong></li>
                <li><strong>Dynamic business schedules</strong></li>
                <li><strong>Recurring business schedules</strong></li>
                <li><strong>Web UI, Android and iOs Apps</strong> </li>
                <li><strong>Bring your own device (BYOD)</strong> </li>
                <li><strong>Online enquiries</strong> </li>
                <li><strong>Kiosk<br>(addon)</strong> </li>
                <li><strong>Online Prepayments<br>(Jaldee pos required)</strong> </li>
                <li><strong>Live track customer ETAs</strong> </li>
                <li><strong>Online questionnaire</strong> </li>
              </ul>
            </div>
             </div>
        </div>
        <!-- end of price tab-->
      </div>
    </div>
 </section>

 <!-- Jaldee online -->
 <section class="features py-5">
  <div class="Jaldee Online">
    <div class="why"><strong>Jaldee Online</strong></div>
    <div id="price">
      <!--price tab-->
      <div class="plan">
        <div class="plan-inner">
          <div class="entry-title">
            <h3>Free</h3>
            <div class="price">Free
            </div>
          </div>
          <div class="entry-content">
            <ul>
              <li><strong>Jaldee Online<br>
                <div style="font-size: 10px"><i>Limited features</i></div></strong> </li>
              <li><strong>Jaldee.com Business Listing</strong></li>
              <li><strong>Online enquiries (2)</strong></li>
              <li><strong>Showcase your business</strong></li>
              <li><strong>QManager integration with Jaldee.com</strong></li>
              <li><strong>Jaldee.com & order manager integration</strong></li>
              </ul>
          </div>
         </div>
      </div>
      <!-- end of price tab-->
      <!--price tab-->
      <div class="plan basic">
        <div class="plan-inner">
          
          <div class="entry-title">
            <h3>Silver</h3>
            <div class="price">Rs499
            </div>
          </div>
          <div class="entry-content">
            <ul>
              <li><strong>Jaldee Online<br> <div style="font-size: 10px"><i>Limited features</i></div></strong> </li>
              <li><strong>Jaldee.com Business Listing</strong></li>
              <li><strong>Online enquiries (10)</strong></li>
              <li><strong>Showcase your business</strong></li>
              <li><strong>QManager integration with Jaldee.com</strong></li>
              <li><strong>Jaldee.com & order manager integration</strong></li>
              
               </ul>
          </div>
          
        </div>
      </div>
      <!-- end of price tab-->
      <!--price tab-->
      <div class="plan standard">
        <div class="plan-inner">
          <div class="hot">Free 45 days trail</div>
          <div class="entry-title">
            <h3>Gold</h3>
            <div class="price">Rs1499
            </div>
          </div>
          <div class="entry-content">
            <ul>
              <li><strong>Jaldee Online</strong> </li>
              <li><strong>Jaldee.com Business Listing</strong></li>
              <li><strong>Online enquiries (25)</strong></li>
              <li><strong>Showcase your business</strong></li>
              <li><strong>Custom Jaldee.com URL ID</strong> </li>
              <li><strong>Jaldee.com <br>verification/certification</strong> </li>
              <li><strong>QManager integration with Jaldee.com</strong></li>
              <li><strong>Jaldee.com<br> & <br>order manager integration</strong></li>
              <li><strong>Jaldee.com search keywords (2)</strong> </li>
            </ul>
          </div>
         </div>
      </div>
      <!-- end of price tab-->
      <!--price tab-->
      <div class="plan ultimite">
        <div class="plan-inner">
          <div class="entry-title">
            <h3>Platinum</h3>
            <div class="price">Rs2999
            </div>
          </div>
          <div class="entry-content">
            <ul>
              <li><strong>Jaldee Online</strong> </li>
              <li><strong>Jaldee.com Business Listing</strong></li>
              <li><strong>Unlimited <br>Online enquiries</strong></li>
              <li><strong>Showcase your business</strong></li>
              <li><strong>Custom Jaldee.com URL ID</strong> </li>
              <li><strong>Jaldee.com <br>verification/certification</strong> </li>
              <li><strong>QManager integration with Jaldee.com</strong></li>
              <li><strong>Jaldee.com<br> & <br>order manager integration</strong></li>
              <li><strong>Jaldee.com search keywords (5)</strong> </li>
              
            </ul>
          </div>
          
        </div>
      </div>
      <div class="plan Corp">
        <div class="plan-inner">
          <div class="entry-title1">
            <h3>Diamond</h3>
            <div class="price">Rs7999
            </div>
          </div>
          <div class="entry-content">
            <ul>
              <li><strong>Jaldee Online</strong> </li>
              <li><strong>Jaldee.com Business Listing</strong></li>
              <li><strong>Unlimited <br>Online enquiries</strong></li>
              <li><strong>Showcase your business</strong></li>
              <li><strong>Custom Jaldee.com URL ID</strong> </li>
              <li><strong>Jaldee.com <br>verification/certification</strong> </li>
              <li><strong>QManager integration with Jaldee.com</strong></li>
              <li><strong>Jaldee.com<br> & <br>order manager integration</strong></li>
              <li><strong>Jaldee.com search keywords (25)</strong> </li>
            </ul>
          </div>
           </div>
      </div>
      <!-- end of price tab-->
    </div>
</div>
</section>



<!-- Jaldee Pos/billing  -->
<section class="features py-5">
  <div class="QManager">
    <div class="why"><strong>Jaldee Pos & Billing</strong></div>
    <div id="price">
      <!--price tab-->
      <div class="plan">
        <div class="plan-inner">
          <div class="entry-title">
            <h3>Free</h3>
            <div class="price">Free
            </div>
          </div>
          <div class="entry-content">
            <ul>
              <li><strong>Online queue check-in/booking</strong> </li>
              <li><strong>Walk-in and phone-in queue</strong></li>
              <li><strong>Two way communication<br>(SMS, Email, Mobile app messaging)</strong></li>
              <li><strong>My Customer database</strong></li>
              <li><strong>Dynamic business schedules</strong></li>
              <li><strong>Recurring business schedules</strong></li>
              <li><strong>Web UI, Android and iOs Apps</strong> </li>
              <li><strong>Bring your own device (BYOD)</strong> </li>
              <li><strong>Online enquiries</strong> </li>
              
            </ul>
          </div>
          
        </div>
      </div>
      <!-- end of price tab-->
      <!--price tab-->
      <div class="plan basic">
        <div class="plan-inner">
          
          <div class="entry-title">
            <h3>Silver</h3>
            <div class="price">Rs499
            </div>
          </div>
          <div class="entry-content">
            <ul>
              <li><strong>Online queue check-in/booking</strong> </li>
              <li><strong>Walk-in and phone-in queue</strong></li>
              <li><strong>Two way communication<br>(SMS, Email, Mobile app messaging)</strong></li>
              <li><strong>My Customer database</strong></li>
              <li><strong>Dynamic business schedules</strong></li>
              <li><strong>Recurring business schedules</strong></li>
              <li><strong>Web UI, Android and iOs Apps</strong> </li>
              <li><strong>Bring your own device (BYOD)</strong> </li>
              <li><strong>Online enquiries</strong> </li>
              <li><strong>Kiosk<br>(addon)</strong> </li>
               </ul>
          </div>
          
        </div>
      </div>
      <!-- end of price tab-->
      <!--price tab-->
      <div class="plan standard">
        <div class="plan-inner">
          <div class="hot">Free 45 days trail</div>
          <div class="entry-title">
            <h3>Gold</h3>
            <div class="price">Rs1499
            </div>
          </div>
          <div class="entry-content">
            <ul>
              <li><strong>Online queue check-in/booking</strong> </li>
              <li><strong>Walk-in and phone-in queue</strong></li>
              <li><strong>Two way communication<br>(SMS, Email, Mobile app messaging)</strong></li>
              <li><strong>My Customer database</strong></li>
              <li><strong>Dynamic business schedules</strong></li>
              <li><strong>Recurring business schedules</strong></li>
              <li><strong>Web UI, Android and iOs Apps</strong> </li>
              <li><strong>Bring your own device (BYOD)</strong> </li>
              <li><strong>Online enquiries</strong> </li>
              <li><strong>Kiosk<br>(addon)</strong> </li>
              <li><strong>Online Prepayments<br>(Jaldee pos required)</strong> </li>
              <li><strong>Live track customer ETAs</strong> </li>
              <li><strong>Online questionnaire</strong> </li>

            </ul>
          </div>
          
        </div>
      </div>
      <!-- end of price tab-->
      <!--price tab-->
      <div class="plan ultimite">
        <div class="plan-inner">
          <div class="entry-title">
            <h3>Platinum</h3>
            <div class="price">Rs2999
            </div>
          </div>
          <div class="entry-content">
            <ul>
              <li><strong>Online queue check-in/booking</strong> </li>
              <li><strong>Walk-in and phone-in queue</strong></li>
              <li><strong>Two way communication<br>(SMS, Email, Mobile app messaging)</strong></li>
              <li><strong>My Customer database</strong></li>
              <li><strong>Dynamic business schedules</strong></li>
              <li><strong>Recurring business schedules</strong></li>
              <li><strong>Web UI, Android and iOs Apps</strong> </li>
              <li><strong>Bring your own device (BYOD)</strong> </li>
              <li><strong>Online enquiries</strong> </li>
              <li><strong>Kiosk<br>(addon)</strong> </li>
              <li><strong>Online Prepayments<br>(Jaldee pos required)</strong> </li>
              <li><strong>Live track customer ETAs</strong> </li>
              <li><strong>Online questionnaire</strong> </li>
            </ul>
          </div>
          
        </div>
      </div>
      <div class="plan Corp">
        <div class="plan-inner">
          <div class="entry-title1">
            <h3>Diamond</h3>
            <div class="price">Rs7999
            </div>
          </div>
          <div class="entry-content">
            <ul>
              <li><strong>Online queue check-in/booking</strong> </li>
              <li><strong>Walk-in and phone-in queue</strong></li>
              <li><strong>Two way communication<br>(SMS, Email, Mobile app messaging)</strong></li>
              <li><strong>My Customer database</strong></li>
              <li><strong>Dynamic business schedules</strong></li>
              <li><strong>Recurring business schedules</strong></li>
              <li><strong>Web UI, Android and iOs Apps</strong> </li>
              <li><strong>Bring your own device (BYOD)</strong> </li>
              <li><strong>Online enquiries</strong> </li>
              <li><strong>Kiosk<br>(addon)</strong> </li>
              <li><strong>Online Prepayments<br>(Jaldee pos required)</strong> </li>
              <li><strong>Live track customer ETAs</strong> </li>
              <li><strong>Online questionnaire</strong> </li>
            </ul>
          </div>
           </div>
      </div>
      <!-- end of price tab-->
    </div>


</div>

</section>
<section class="pricing">  
  <div class="container text-center">
    <!-- <h3 class="tittle font-weight-bold">Jaldee Pricing</h3> -->
    <div class="row" > 
      <!-- <div class="scroll"> -->
      <div class="jd-pricing">
        <table align="center">
          <!-- <thead>
            <tr>
              <th class="th1 headcol lic_metric">Product</th>
              <td class="th2 long head_bg">Free</td>
              <td class="long head_bg">Silver <div style="font-size: 15px">Rs 499</div>
              </td>
              <td class="th3 long head_bg">Gold <div style="font-size: 15px">Rs 1499</div>
              </td>
              <td class="th4 long head_bg">Platinum <div style="font-size: 15px">Rs 2999</div> -->
              <!-- </td> -->
              <!-- <td class="th5 long head_bg">Ruby</td> -->
              <!-- <td class="th6 long head_bg">Diamond <div style="font-size: 15px">Rs 7999</div>
              </td>
            </tr>
          </thead> -->
          <tbody>
            <tr>
              <td colspan="6">
                <mat-accordion class="no-padding">
                  <mat-expansion-panel [expanded]="false" style="width:100%">
                    <mat-expansion-panel-header expandedHeight="48px" collapsedHeight="32px">
                      <mat-panel-title>
                        <span class="helpcontent1">Jaldee Q Manager</span>
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div id="price">
                      <!--price tab-->
                      <div class="plan">
                        <div class="plan-inner">
                          <div class="entry-title">
                            <h3>Free</h3>
                            <div class="price">Free
                            </div>
                          </div>
                          <div class="entry-content">
                            <ul>
                              <li><strong>Online queue check-in/booking</strong> </li>
                              <li><strong>Walk-in and phone-in queue</strong></li>
                              <li><strong>Two way communication<br>(SMS, Email, Mobile app messaging)</strong></li>
                              <li><strong>My Customer database</strong></li>
                              <li><strong>Dynamic business schedules</strong></li>
                              <li><strong>Recurring business schedules</strong></li>
                              <li><strong>Web UI, Android and iOs Apps</strong> </li>
                              <li><strong>Bring your own device (BYOD)</strong> </li>
                              <li><strong>Online enquiries</strong> </li>
                            </ul>
                          </div>
                          
                        </div>
                      </div>
                      <!-- end of price tab-->
                      <!--price tab-->
                      <div class="plan basic">
                        <div class="plan-inner">
                          <div class="hot">hot</div>
                          <div class="entry-title">
                            <h3>Silver</h3>
                            <div class="price">Rs499
                            </div>
                          </div>
                          <div class="entry-content">
                            <ul>
                              <li><strong>Online queue check-in/booking</strong> </li>
                              <li><strong>Walk-in and phone-in queue</strong></li>
                              <li><strong>Two way communication<br>(SMS, Email, Mobile app messaging)</strong></li>
                              <li><strong>My Customer database</strong></li>
                              <li><strong>Dynamic business schedules</strong></li>
                              <li><strong>Recurring business schedules</strong></li>
                              <li><strong>Web UI, Android and iOs Apps</strong> </li>
                              <li><strong>Bring your own device (BYOD)</strong> </li>
                              <li><strong>Online enquiries</strong> </li>
                              <li><strong>Kiosk<br>(addon)</strong> </li>
                               </ul>
                          </div>
                          
                        </div>
                      </div>
                      <!-- end of price tab-->
                      <!--price tab-->
                      <div class="plan standard">
                        <div class="plan-inner">
                          <div class="entry-title">
                            <h3>Gold</h3>
                            <div class="price">Rs1499
                            </div>
                          </div>
                          <div class="entry-content">
                            <ul>
                              <li><strong>Online queue check-in/booking</strong> </li>
                              <li><strong>Walk-in and phone-in queue</strong></li>
                              <li><strong>Two way communication<br>(SMS, Email, Mobile app messaging)</strong></li>
                              <li><strong>My Customer database</strong></li>
                              <li><strong>Dynamic business schedules</strong></li>
                              <li><strong>Recurring business schedules</strong></li>
                              <li><strong>Web UI, Android and iOs Apps</strong> </li>
                              <li><strong>Bring your own device (BYOD)</strong> </li>
                              <li><strong>Online enquiries</strong> </li>
                              <li><strong>Kiosk<br>(addon)</strong> </li>
                              <li><strong>Online Prepayments<br>((Jaldee pos required))</strong> </li>
                              <li><strong>Live track customer ETAs</strong> </li>
                              <li><strong>Online questionnaire</strong> </li>

                            </ul>
                          </div>
                          
                        </div>
                      </div>
                      <!-- end of price tab-->
                      <!--price tab-->
                      <div class="plan ultimite">
                        <div class="plan-inner">
                          <div class="entry-title">
                            <h3>Platinum</h3>
                            <div class="price">Rs2999
                            </div>
                          </div>
                          <div class="entry-content">
                            <ul>
                              <li><strong>Online queue check-in/booking</strong> </li>
                              <li><strong>Walk-in and phone-in queue</strong></li>
                              <li><strong>Two way communication<br>(SMS, Email, Mobile app messaging)</strong></li>
                              <li><strong>My Customer database</strong></li>
                              <li><strong>Dynamic business schedules</strong></li>
                              <li><strong>Recurring business schedules</strong></li>
                              <li><strong>Web UI, Android and iOs Apps</strong> </li>
                              <li><strong>Bring your own device (BYOD)</strong> </li>
                              <li><strong>Online enquiries</strong> </li>
                              <li><strong>Kiosk<br>(addon)</strong> </li>
                              <li><strong>Online Prepayments<br>((Jaldee pos required))</strong> </li>
                              <li><strong>Live track customer ETAs</strong> </li>
                              <li><strong>Online questionnaire</strong> </li>
                            </ul>
                          </div>
                          
                        </div>
                      </div>
                      <div class="plan ultimite">
                        <div class="plan-inner">
                          <div class="entry-title">
                            <h3>Diamond</h3>
                            <div class="price">Rs7999
                            </div>
                          </div>
                          <div class="entry-content">
                            <ul>
                              <li><strong>Online queue check-in/booking</strong> </li>
                              <li><strong>Walk-in and phone-in queue</strong></li>
                              <li><strong>Two way communication<br>(SMS, Email, Mobile app messaging)</strong></li>
                              <li><strong>My Customer database</strong></li>
                              <li><strong>Dynamic business schedules</strong></li>
                              <li><strong>Recurring business schedules</strong></li>
                              <li><strong>Web UI, Android and iOs Apps</strong> </li>
                              <li><strong>Bring your own device (BYOD)</strong> </li>
                              <li><strong>Online enquiries</strong> </li>
                              <li><strong>Kiosk<br>(addon)</strong> </li>
                              <li><strong>Online Prepayments<br>((Jaldee pos required))</strong> </li>
                              <li><strong>Live track customer ETAs</strong> </li>
                              <li><strong>Online questionnaire</strong> </li>
                            </ul>
                          </div>
                           </div>
                      </div>
                      <!-- end of price tab-->
                    </div>
            <tr>
              <th class="th3 headcol">Jaldee Q Manager</th>
              <td class="th2 light-col long"><i class="fa fa-check"></i>
              </td>
              <td class="brozelicensecol long"><i class="fa fa-check"></i>

              </td>
              <td class="th3 light-col long"><i class="fa fa-check"></i></td>
              <td class="th4 brozelicensecol long"><i class="fa fa-check"></i></td>
              <!-- <td class="th5 light-col long">5999 Rs</td> -->
              <td class="th6 light-col long"><i class="fa fa-check"></i></td>
            </tr>
            <tr>
              <th class="th3 headcol">Online queue check-in/booking</th>
              <td class="th2 light-col long"><i class="fa fa-check"></i></td>
              <td class="brozelicensecol long"><i class="fa fa-check"></i></td>
              <td class="th3 light-col long"><i class="fa fa-check"></i></td>
              <td class="th4 brozelicensecol long"><i class="fa fa-check"></i></td>
              <!-- <td class="th5 light-col long">5999 Rs</td> -->
              <td class="th6 light-col long"><i class="fa fa-check"></i></td>
            </tr>
            <tr>
              <th class="th3 headcol">Walk-in and phone-in queue</th>
              <td class="th2 light-col long"><i class="fa fa-check"></i></td>
              <td class="brozelicensecol long"><i class="fa fa-check"></i></td>
              <td class="th3 light-col long"><i class="fa fa-check"></i></td>
              <td class="th4 brozelicensecol long"><i class="fa fa-check"></i></td>
              <!-- <td class="th5 light-col long">5999 Rs</td> -->
              <td class="th6 light-col long"><i class="fa fa-check"></i></td>
            </tr>
            <tr>
              <th class="th3 headcol">Two way communication(SMS, Email,
                Mobile app
                messaging)</th>
              <td class="th2 light-col long"><i class="fa fa-check"></i></td>
              <td class="brozelicensecol long"><i class="fa fa-check"></i></td>
              <td class="th3 light-col long"><i class="fa fa-check"></i></td>
              <td class="th4 brozelicensecol long"><i class="fa fa-check"></i></td>
              <!-- <td class="th5 light-col long">5999 Rs</td> -->
              <td class="th6 light-col long"><i class="fa fa-check"></i></td>
            </tr>
            <tr>
              <th class="th3 headcol">My Customer database</th>
              <td class="th2 light-col long"><i class="fa fa-check"></i></td>
              <td class="brozelicensecol long"><i class="fa fa-check"></i></td>
              <td class="th3 light-col long"><i class="fa fa-check"></i></td>
              <td class="th4 brozelicensecol long"><i class="fa fa-check"></i></td>
              <!-- <td class="th5 light-col long">5999 Rs</td> -->
              <td class="th6 light-col long"><i class="fa fa-check"></i></td>
            </tr>
            <tr>
              <th class="th3 headcol">Multiple locations</th>
              <td class="th2 light-col long"><i class="fa fa-times"></i></td>
              <td class="brozelicensecol long"><i class="fa fa-times"></i></td>
              <td class="th3 light-col long"><i class="fa fa-check"></i></td>
              <td class="th4 brozelicensecol long"><i class="fa fa-check"></i></td>
              <!-- <td class="th5 light-col long">5999 Rs</td> -->
              <td class="th6 light-col long"><i class="fa fa-check"></i></td>
            </tr>
            <tr>
              <th class="th3 headcol">Dynamic business schedules </th>
              <td class="th2 light-col long"><i class="fa fa-check"></i></td>
              <td class="brozelicensecol long"><i class="fa fa-check"></i></td>
              <td class="th3 light-col long"><i class="fa fa-check"></i></td>
              <td class="th4 brozelicensecol long"><i class="fa fa-check"></i></td>
              <!-- <td class="th5 light-col long">5999 Rs</td> -->
              <td class="th6 light-col long"><i class="fa fa-check"></i></td>
            </tr>
            <tr>
              <th class="th3 headcol">Recurring business schedules </th>
              <td class="th2 light-col long"><i class="fa fa-check"></i></td>
              <td class="brozelicensecol long"><i class="fa fa-check"></i></td>
              <td class="th3 light-col long"><i class="fa fa-check"></i></td>
              <td class="th4 brozelicensecol long"><i class="fa fa-check"></i></td>
              <!-- <td class="th5 light-col long">5999 Rs</td> -->
              <td class="th6 light-col long"><i class="fa fa-check"></i></td>
            </tr>
            <tr>
              <th class="th3 headcol">Web UI, Android and iOs Apps</th>
              <td class="th2 light-col long"><i class="fa fa-check"></i></td>
              <td class="brozelicensecol long"><i class="fa fa-check"></i></td>
              <td class="th3 light-col long"><i class="fa fa-check"></i></td>
              <td class="th4 brozelicensecol long"><i class="fa fa-check"></i></td>
              <!-- <td class="th5 light-col long">5999 Rs</td> -->
              <td class="th6 light-col long"><i class="fa fa-check"></i></td>
            </tr>
            <tr>
              <th class="th3 headcol">Bring your own device (BYOD)</th>
              <td class="th2 light-col long"><i class="fa fa-check"></i></td>
              <td class="brozelicensecol long"><i class="fa fa-check"></i></td>
              <td class="th3 light-col long"><i class="fa fa-check"></i></td>
              <td class="th4 brozelicensecol long"><i class="fa fa-check"></i></td>
              <!-- <td class="th5 light-col long">5999 Rs</td> -->
              <td class="th6 light-col long"><i class="fa fa-check"></i></td>
            </tr>
            <tr>
              <th class="th3 headcol">Queue status display board <div style="font-size: 10px"><i>(addon)</i></div>
              </th>
              <td class="th2 light-col long"><i class="fa fa-times"></i></td>
              <td class="brozelicensecol long"><i class="fa fa-check"></i></td>
              <td class="th3 light-col long"><i class="fa fa-check"></i></td>
              <td class="th4 brozelicensecol long"><i class="fa fa-check"></i></td>
              <!-- <td class="th5 light-col long">5999 Rs</td> -->
              <td class="th6 light-col long"><i class="fa fa-check"></i></td>
            </tr>
            <tr>
              <th class="th3 headcol">Online enquiries</th>
              <td class="th2 light-col long"><i class="fa fa-check"></i></td>
              <td class="brozelicensecol long"><i class="fa fa-check"></i></td>
              <td class="th3 light-col long"><i class="fa fa-check"></i></td>
              <td class="th4 brozelicensecol long"><i class="fa fa-check"></i></td>
              <!-- <td class="th5 light-col long">5999 Rs</td> -->
              <td class="th6 light-col long"><i class="fa fa-check"></i></td>
            </tr>
            <tr>
              <th class="th3 headcol">Kiosk <div style="font-size: 10px"><i>(addon)</i></div>
              </th>
              <td class="th2 light-col long"><i class="fa fa-times"></i></td>
              <td class="brozelicensecol long"><i class="fa fa-check"></i></td>
              <td class="th3 light-col long"><i class="fa fa-check"></i></td>
              <td class="th4 brozelicensecol long"><i class="fa fa-check"></i></td>
              <!-- <td class="th5 light-col long">5999 Rs</td> -->
              <td class="th6 light-col long"><i class="fa fa-check"></i></td>
            </tr>
            <tr>
              <th class="th3 headcol">Online Prepayments <div style="font-size: 10px"><i>(Jaldee pos required)</i>
                </div>
              </th>
              <td class="th2 light-col long"><i class="fa fa-times"></i></td>
              <td class="brozelicensecol long"><i class="fa fa-times"></i></td>
              <td class="th3 light-col long"><i class="fa fa-check"></i></td>
              <td class="th4 brozelicensecol long"><i class="fa fa-check"></i></td>
              <!-- <td class="th5 light-col long">5999 Rs</td> -->
              <td class="th6 light-col long"><i class="fa fa-check"></i></td>
            </tr>
            <tr>
              <th class="th3 headcol">Live track customer ETAs</th>
              <td class="th2 light-col long"><i class="fa fa-times"></i></td>
              <td class="brozelicensecol long"><i class="fa fa-times"></i></td>
              <td class="th3 light-col long"><i class="fa fa-check"></i></td>
              <td class="th4 brozelicensecol long"><i class="fa fa-check"></i></td>
              <!-- <td class="th5 light-col long">5999 Rs</td> -->
              <td class="th6 light-col long"><i class="fa fa-check"></i></td>
            </tr>
            <tr>
              <th class="th3 headcol">Online questionnaire</th>
              <td class="th2 light-col long"><i class="fa fa-times"></i></td>
              <td class="brozelicensecol long"><i class="fa fa-times"></i></td>
              <td class="th3 light-col long"><i class="fa fa-check"></i></td>
              <td class="th4 brozelicensecol long"><i class="fa fa-check"></i></td>
              <!-- <td class="th5 light-col long">5999 Rs</td> -->
              <td class="th6 light-col long"><i class="fa fa-check"></i></td>
            </tr>
            </mat-expansion-panel>
            </mat-accordion>
            </td>
            </tr>
            <tr>
              <td colspan="6">
                <mat-accordion class="no-padding">
                  <mat-expansion-panel [expanded]="false" style="width:100%">
                    <mat-expansion-panel-header expandedHeight="48px" collapsedHeight="32px">
                      <mat-panel-title>
                        <span class="helpcontent1">Jaldee Online</span>
                      </mat-panel-title>
                    </mat-expansion-panel-header>
            <tr>
              <th class="th3 headcol">Jaldee Online</th>
              <td class="th2 light-col long"><i class="fa fa-check"></i>
                <div style="font-size: 10px"><i>Limited features</i></div>
              </td>
              <td class="brozelicensecol long"><i class="fa fa-check"></i>
                <div style="font-size: 10px"><i>Limited features</i></div>
              </td>
              <td class="th3 light-col long"><i class="fa fa-check"></i></td>
              <td class="th4 brozelicensecol long"><i class="fa fa-check"></i></td>
              <!-- <td class="th5 light-col long">5999 Rs</td> -->
              <td class="th6 light-col long"><i class="fa fa-check"></i></td>
            </tr>
            <tr>
              <th class="th3 headcol">Jaldee.com Business Listing</th>
              <td class="th2 light-col long"><i class="fa fa-check"></i></td>
              <td class="brozelicensecol long"><i class="fa fa-check"></i></td>
              <td class="th3 light-col long"><i class="fa fa-check"></i></td>
              <td class="th4 brozelicensecol long"><i class="fa fa-check"></i></td>
              <!-- <td class="th5 light-col long">5999 Rs</td> -->
              <td class="th6 light-col long"><i class="fa fa-check"></i></td>
            </tr>
            <tr>
              <th class="th3 headcol">Online enquiries</th>
              <td class="th2 light-col long">2</td>
              <td class="brozelicensecol long">10</td>
              <td class="th3 light-col long">25</td>
              <td class="th4 brozelicensecol long">Unlimited</td>
              <!-- <td class="th5 light-col long">5999 Rs</td> -->
              <td class="th6 light-col long">Unlimited</td>
            </tr>
            <tr>
              <th class="th3 headcol">Showcase your business</th>
              <td class="th2 light-col long"><i class="fa fa-check"></i></td>
              <td class="brozelicensecol long"><i class="fa fa-check"></i></td>
              <td class="th3 light-col long"><i class="fa fa-check"></i></td>
              <td class="th4 brozelicensecol long"><i class="fa fa-check"></i></td>
              <!-- <td class="th5 light-col long">5999 Rs</td> -->
              <td class="th6 light-col long"><i class="fa fa-check"></i></td>
            </tr>
            <tr>
              <th class="th3 headcol">Custom Jaldee.com URL ID</th>
              <td class="th2 light-col long"><i class="fa fa-times"></i></td>
              <td class="brozelicensecol long"><i class="fa fa-times"></i></td>
              <td class="th3 light-col long"><i class="fa fa-check"></i></td>
              <td class="th4 brozelicensecol long"><i class="fa fa-check"></i></td>
              <!-- <td class="th5 light-col long">5999 Rs</td> -->
              <td class="th6 light-col long"><i class="fa fa-check"></i></td>
            </tr>
            <tr>
              <th class="th3 headcol">Jaldee.com verification/certification</th>
              <td class="th2 light-col long"><i class="fa fa-times"></i></td>
              <td class="brozelicensecol long"><i class="fa fa-check"></i></td>
              <td class="th3 light-col long"><i class="fa fa-check"></i></td>
              <td class="th4 brozelicensecol long"><i class="fa fa-check"></i></td>
              <!-- <td class="th5 light-col long">5999 Rs</td> -->
              <td class="th6 light-col long"><i class="fa fa-check"></i></td>
            </tr>
            <tr>
              <th class="th3 headcol">Queue manager integration with Jaldee.com</th>
              <td class="th2 light-col long"><i class="fa fa-check"></i></td>
              <td class="brozelicensecol long"><i class="fa fa-check"></i></td>
              <td class="th3 light-col long"><i class="fa fa-check"></i></td>
              <td class="th4 brozelicensecol long"><i class="fa fa-check"></i></td>
              <!-- <td class="th5 light-col long">5999 Rs</td> -->
              <td class="th6 light-col long"><i class="fa fa-check"></i></td>
            </tr>
            <tr>
              <th class="th3 headcol">Jaldee.com and order manager integration</th>
              <td class="th2 light-col long"><i class="fa fa-check"></i></td>
              <td class="brozelicensecol long"><i class="fa fa-check"></i></td>
              <td class="th3 light-col long"><i class="fa fa-check"></i></td>
              <td class="th4 brozelicensecol long"><i class="fa fa-check"></i></td>
              <td class="th6 light-col long"><i class="fa fa-check"></i></td>
            </tr>
            <tr>
              <th class="th3 headcol">Jaldee.com search keywords</th>
              <td class="th2 light-col long"><i class="fa fa-times"></i></td>
              <td class="brozelicensecol long"><i class="fa fa-times"></i></td>
              <td class="th3 light-col long">2</td>
              <td class="th4 brozelicensecol long">5</td>
              <!-- <td class="th5 light-col long">5999 Rs</td> -->
              <td class="th6 light-col long">25</td>
            </tr>
            </mat-expansion-panel>
            </mat-accordion>
            </td>

            </tr>
            <tr>
              <td colspan="6">
                <mat-accordion class="no-padding">
                  <mat-expansion-panel [expanded]="false" style="width:100%">
                    <mat-expansion-panel-header expandedHeight="48px" collapsedHeight="32px">
                      <mat-panel-title>
                        <span class="helpcontent1">Jaldee Pos & Billing</span>
                      </mat-panel-title>
                    </mat-expansion-panel-header>
            <tr>
              <th class="th3 headcol">Jaldee Pos & Billing</th>
              <td class="th2 light-col long"><i class="fa fa-check"></i>
                <div style="font-size: 10px"><i>Limited features</i></div>
              </td>
              <td class="brozelicensecol long"><i class="fa fa-check"></i>
                <div style="font-size: 10px"><i>Limited features</i></div>
              </td>
              <td class="th3 light-col long"><i class="fa fa-check"></i></td>
              <td class="th4 brozelicensecol long"><i class="fa fa-check"></i></td>
              <!-- <td class="th5 light-col long">5999 Rs</td> -->
              <td class="th6 light-col long"><i class="fa fa-check"></i></td>
            </tr>
            <tr>
              <th class="th3 headcol">Store coupons and discounts</th>
              <td class="th2 light-col long"><i class="fa fa-times"></i></td>
              <td class="brozelicensecol long"><i class="fa fa-check"></i></td>
              <td class="th3 light-col long"><i class="fa fa-check"></i></td>
              <td class="th4 brozelicensecol long"><i class="fa fa-check"></i></td>
              <!-- <td class="th5 light-col long">5999 Rs</td> -->
              <td class="th6 light-col long"><i class="fa fa-check"></i></td>
            </tr>
            <tr>
              <th class="th3 headcol">Online coupons</th>
              <td class="th2 light-col long">0</td>
              <td class="brozelicensecol long">3</td>
              <td class="th3 light-col long">10</td>
              <td class="th4 brozelicensecol long">Unlimited</td>
              <!-- <td class="th5 light-col long">5999 Rs</td> -->
              <td class="th6 light-col long">Unlimited</td>
            </tr>
            <tr>
              <th class="th3 headcol">Items database</th>
              <td class="th2 light-col long">10</td>
              <td class="brozelicensecol long">50</td>
              <td class="th3 light-col long">300</td>
              <td class="th4 brozelicensecol long">Unlimited</td>
              <!-- <td class="th5 light-col long">5999 Rs</td> -->
              <td class="th6 light-col long">Unlimited</td>
            </tr>
            <tr>
              <th class="th3 headcol">GST support</th>
              <td class="th2 light-col long"><i class="fa fa-check"></i></td>
              <td class="brozelicensecol long"><i class="fa fa-check"></i></td>
              <td class="th3 light-col long"><i class="fa fa-check"></i></td>
              <td class="th4 brozelicensecol long"><i class="fa fa-check"></i></td>
              <!-- <td class="th5 light-col long">5999 Rs</td> -->
              <td class="th6 light-col long"><i class="fa fa-check"></i></td>
            </tr>
            <tr>
              <th class="th3 headcol">Electronic billing and receipts</th>
              <td class="th2 light-col long"><i class="fa fa-check"></i></td>
              <td class="brozelicensecol long"><i class="fa fa-check"></i></td>
              <td class="th3 light-col long"><i class="fa fa-check"></i></td>
              <td class="th4 brozelicensecol long"><i class="fa fa-check"></i></td>
              <!-- <td class="th5 light-col long">5999 Rs</td> -->
              <td class="th6 light-col long"><i class="fa fa-check"></i></td>
            </tr>
            <tr>
              <th class="th3 headcol">Cashless payment self pay <div style="font-size: 10px"><i>(Paytm/Debit
                    cards/Credit cards/Internet banking)</i></div>
              </th>
              <td class="th2 light-col long"><i class="fa fa-check"></i></td>
              <td class="brozelicensecol long"><i class="fa fa-check"></i></td>
              <td class="th3 light-col long"><i class="fa fa-check"></i></td>
              <td class="th4 brozelicensecol long"><i class="fa fa-check"></i></td>
              <!-- <td class="th5 light-col long">5999 Rs</td> -->
              <td class="th6 light-col long"><i class="fa fa-check"></i></td>
            </tr>
            <tr>
              <th class="th3 headcol">Your own bank account setup</th>
              <td class="th2 light-col long"><i class="fa fa-times"></i></td>
              <td class="brozelicensecol long"><i class="fa fa-times"></i></td>
              <td class="th3 light-col long"><i class="fa fa-check"></i></td>
              <td class="th4 brozelicensecol long"><i class="fa fa-check"></i></td>
              <!-- <td class="th5 light-col long">5999 Rs</td> -->
              <td class="th6 light-col long"><i class="fa fa-check"></i></td>
            </tr>
            <tr>
              <th class="th3 headcol">Jaldee bank account <div style="font-size: 10px"><i>(periodic payment
                    transfers)</i></div>
              </th>
              <td class="th2 light-col long"><i class="fa fa-check"></i></td>
              <td class="brozelicensecol long"><i class="fa fa-check"></i></td>
              <td class="th3 light-col long"><i class="fa fa-check"></i></td>
              <td class="th4 brozelicensecol long"><i class="fa fa-check"></i></td>
              <!-- <td class="th5 light-col long">5999 Rs</td> -->
              <td class="th6 light-col long"><i class="fa fa-check"></i></td>
            </tr>
            </mat-expansion-panel>
            </mat-accordion>
            </td>
            </tr>
            <tr style="text-align: left;">
                <td colspan="6">
                    <mat-accordion class="no-padding">
                        <mat-expansion-panel [expanded]="false" style="width:100%">
                            <mat-expansion-panel-header expandedHeight="48px" collapsedHeight="32px">
                              <mat-panel-title>
                                <span class="helpcontent1o">Jaldee Add-ons (price/month)</span>
                              </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div>
                                <p><strong>Note:-</strong> Free license users are only eligible to buy addons for Online enquires and Online
                                  business profile views</p>
                                <div class="adon-shadow-frst">
                                  <strong>Storage(per month)</strong>
                                  <ul>
                                    <li>500 mb - Rs.25/month</li>
                                    <li>2 gb - Rs.59/month</li>
                                    <li>5 gb - Rs.99/month</li>
                                    <li>15 gb - Rs.199/month</li>
                                  </ul>
                                </div>
                                <div class="adon-shadow-scnd">
                                  <strong>Jaldee.com search keywords</strong>
                                  <ul>
                                    <li>Pack of 5 search keywords - Rs.250/month</li>
                                    <li>Pack of 20 search keywords - Rs.1000/month</li>
                                  </ul>
                                </div>
                                <div class="adon-shadow-frst">
                                <strong>Jaldee Discount Network (JDN)</strong>
                                <ul>
                                  <li>Rs.499/- for lifetime</li>
                                </ul>
                              </div>
                              <div class="adon-shadow-scnd">
                                <strong>Kiosk (Coming soon)</strong>
                                <ul>
                                  <li>Kiosk (1) - Rs. 399/month</li>
                                  <li>Kiosk (2) - Rs. 759/month</li>
                                  <li>Kiosk (5) - Rs. 1499/month</li>
                                  <li>Kiosk (10) - Rs. 2499/month</li>
                                  <li>Kiosk (25) - Rs. 4999/month</li>
                                </ul>
                              </div>
                              <div class="adon-shadow-frst">
                                <strong>Custom app (Coming soon)</strong>
                                <ul>
                                  <li>Custom app - Rs. 699/month</li>
                                  <li>Custom app enterprise (multi user) - 1999/month</li>
                                </ul>
                                </div>
                                <div class="adon-shadow-scnd">
                                <strong>Queue Displayboard (Dec 1st)</strong>
                                <ul>
                                  <li>Queue Status display Board (1) - Rs. 399/month</li>
                                  <li>Queue Status display Board (2) - Rs. 759/month</li>
                                  <li>Queue Status display Board (5) - Rs. 1499/month</li>
                                  <li>Queue Status display Board (10) - Rs. 2499/month</li>
                                  <li>Queue Status display Board (25) - Rs. 4999/month</li>
                                  <li>Queue Status display Board (100) - Rs. 19999/month</li>
                                </ul>
                                </div>
                                <div class="adon-shadow-frst">
                                <strong>Jaldee Messaging (SMS/Email/Push notification) (Dec 1st)</strong>
                                <ul>
                                  <li>1000 SMS (unlimited Emails & Push notifications) - Rs. 199/month</li>
                                  <li>2500 SMS (unlimited Emails & Push notifications) - Rs. 459/month</li>
                                  <li>10000 SMS (unlimited Emails & Push notifications) - Rs. 1699/month</li>
                                  <li>25000 SMS (unlimited Emails & Push notifications) - Rs. 3999/month</li>
                                </ul>
                                </div>
                                <div class="adon-shadow-scnd">
                                <strong>Online enquiries</strong>
                                <ul>
                                  <li>Online enquiries 100 - Rs. 49/month</li>
                                  <li>Unlimited online enquiries - Rs. 149/month</li>
                                </ul>
                                </div>
                                <div class="adon-shadow-frst">
                                <strong>Online business profile views</strong>
                                <ul>
                                  <li>Online business profile views (unlimited) - Rs. 99/month</li>
                                </ul>
                                </div>
                                <div class="adon-shadow-scnd">
                                <strong>Jaldee Queue manager multi provider (i.e for hospitals, nursing homes, clinics) (Dec 1st)</strong>
                                <ul>
                                  <li>Service providers upto 10 - Rs. 9999/month</li>
                                  <li>Service providers upto 25 - Rs. 17999/month</li>
                                  <li>Service providers upto 50 - Rs. 29999/month</li>
                                  <li>Service providers upto 100 - Rs. 49999/month</li>
                                  <li>Service providers upto 250 - Rs. 99999/month</li>
                                </ul>
                                </div>
                              </div>
                        </mat-expansion-panel>
                      </mat-accordion>
                  </td>
            </tr>
            <tr>
              <th class="td1  headcol">Transactions <div style="font-size: 10px"><i>(Queue check ins/bookings/online
                    orders)</i></div>
              </th>
              <td class="td2 light-col long">30/month <div style="font-size: 10px"><i>(10/day)</i></div>
              </td>
              <td class="brozelicensecol long">300/month <div style="font-size: 10px"><i>(25/day)</i></div>
              </td>
              <td class="td3 light-col long">500/month <div style="font-size: 10px"><i>(50/day)</i></div>
              </td>
              <td class="td4 brozelicensecol long">2000/month <div style="font-size: 10px"><i>(100/day)</i></div>
              </td>
              <!-- <td class="td5 light-col long">250 per day <i class="fa fa-info-circle" [matTooltipClass]="tooltipcls"
                      [matTooltip]="'2500 per month, Unlimited for 2019'"></i></td> -->
              <td class="td6 light-col long">5000/month <div style="font-size: 10px"><i>(200/day)</i></div>
              </td>
            </tr>
            <tr>
              <th class="td1  headcol">Business profile views</th>
              <td class="td2 light-col long">30/month <div style="font-size: 10px"><i>(10/day)</i></div>
              </td>
              <td class="brozelicensecol long">1000/month <div style="font-size: 10px"><i>(50/day)</i></div>
              </td>
              <td class="td3 light-col long">Unlimited</td>
              <td class="td4 brozelicensecol long">Unlimited</td>
              <!-- <td class="td5 light-col long">300 per day <i class="fa fa-info-circle" [matTooltipClass]="tooltipcls"
                      [matTooltip]="'5000 per month'"></i></td> -->
              <td class="td6 light-col long">Unlimited</td>
            </tr>
            <tr>
              <th class="td1 headcol">Corporate website integration </th>
              <td class="td2 light-col long"><i class="fa fa-times"></i></td>
              <td class="brozelicensecol long"><i class="fa fa-times"></i></td>
              <td class="td3 light-col long"><i class="fa fa-check"></i></td>
              <td class="td4 brozelicensecol long"><i class="fa fa-check"></i></td>
              <!-- <td class="td5 light-col long"><i class="fa fa-check"></i></td> -->
              <td class="td6 light-col long"><i class="fa fa-check"></i></td>
            </tr>
            <tr>
              <th class="th3 headcol">Api/SDK <div style="font-size: 10px"><i>(Coming soon)</i></div>
              </th>
              <td class="th2 light-col long"><i class="fa fa-times"></i></td>
              <td class="brozelicensecol long"><i class="fa fa-times"></i></td>
              <td class="th3 light-col long"><i class="fa fa-times"></i></td>
              <td class="th4 brozelicensecol long"><i class="fa fa-check"></i></td>
              <!-- <td class="th5 light-col long">5999 Rs</td> -->
              <td class="th6 light-col long"><i class="fa fa-check"></i></td>
            </tr>
            <tr>
              <th class="th3 headcol">Custom app <div style="font-size: 10px"><i>(addon)</i></div>
              </th>
              <td class="th2 light-col long"><i class="fa fa-times"></i></td>
              <td class="brozelicensecol long"><i class="fa fa-times"></i></td>
              <td class="th3 light-col long"><i class="fa fa-check"></i></td>
              <td class="th4 brozelicensecol long"><i class="fa fa-check"></i></td>
              <!-- <td class="th5 light-col long">5999 Rs</td> -->
              <td class="th6 light-col long"><i class="fa fa-check"></i></td>
            </tr>
          </tbody>
        </table>
      </div> 
    </div>
  </div>
  
</section>
<app-footer [includedfrom]="'phome'"></app-footer>