<div class="component-container">
    <div class="title-row">
        <div class="title-head">Admin Dashboard</div>
        <div class="title-path"><i class="fas fa-home"></i>&nbsp;/&nbsp;Home&nbsp;/&nbsp;Dashboard</div>
    </div>
    <div class="summary-row">
        <div class="column">
            <div class="card">
                <div class="head">
                    Appointments
                    <span class="inc-dec" style="color: green !important">+3%</span>
                </div>
                <div class="data">
                    <!-- <div class="icon" style="background-color: #6f42c1 !important;"> -->
                    <i class="icon material-icons align-middle" style="color: #6676de !important;">face</i>   <!-- style="color: #6f42c1 !important;" -->
                    <!-- </div> -->
                    <div class="text-val">650</div>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
                    <path fill="#8e9bf3" fill-opacity="1" 
                        d="M0,32L26.7,74.7C53.3,117,107,203,160,202.7C213.3,203,267,117,320,69.3C373.3,21,427,11,
                            480,21.3C533.3,32,587,64,640,112C693.3,160,747,224,800,224C853.3,224,907,160,960,
                            154.7C1013.3,149,1067,203,1120,202.7C1173.3,203,1227,149,1280,133.3C1333.3,117,1387,
                            139,1413,149.3L1440,160L1440,320L1413.3,320C1386.7,320,1333,320,1280,320C1226.7,320,1173,320,
                            1120,320C1066.7,320,1013,320,960,320C906.7,320,853,320,800,320C746.7,320,693,320,640,320C586.7,
                            320,533,320,480,320C426.7,320,373,320,320,320C266.7,320,213,320,160,320C106.7,320,53,320,27,320L0,
                            320Z">
                    </path>
                </svg>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="head">
                    Operations
                    <span class="inc-dec" style="color: green !important">+8%</span>
                </div>
                <div class="data">
                    <!-- <div class="icon" style="background-color: #fd7e14 !important;"> -->
                    <i class="icon material-icons align-middle" style="color: #fd7e14 !important;">content_cut</i>
                    <!-- </div> -->
                    <div class="text-val">54</div>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
                    <path fill="#fe9e4e" fill-opacity="1" 
                        d="M0,96L15,96C30,96,60,96,90,117.3C120,139,150,181,180,218.7C210,256,240,288,270,
                            277.3C300,267,330,213,360,176C390,139,420,117,450,117.3C480,117,510,139,540,128C570,
                            117,600,75,630,96C660,117,690,203,720,213.3C750,224,780,160,810,138.7C840,117,870,
                            139,900,144C930,149,960,139,990,149.3C1020,160,1050,192,1080,170.7C1110,149,1140,
                            75,1170,42.7C1200,11,1230,21,1260,48C1290,75,1320,117,1350,133.3C1380,149,1410,
                            139,1425,133.3L1440,128L1440,320L1425,320C1410,320,1380,320,1350,320C1320,320,1290,
                            320,1260,320C1230,320,1200,320,1170,320C1140,320,1110,320,1080,320C1050,320,1020,320,
                            990,320C960,320,930,320,900,320C870,320,840,320,810,320C780,320,750,320,720,320C690,
                            320,660,320,630,320C600,320,570,320,540,320C510,320,480,320,450,320C420,320,390,320,
                            360,320C330,320,300,320,270,320C240,320,210,320,180,320C150,320,120,320,90,320C60,320,
                            30,320,15,320L0,320Z">
                    </path>
                </svg>                
            </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="head">
                    New Patients
                    <span class="inc-dec" style="color: red !important">-5%</span>
                </div>
                <div class="data">
                    <!-- <div class="icon" style="background-color: #198754 !important;"> -->
                    <i class="icon material-icons align-middle" style="color: #198754 !important;">person_add</i>
                    <!-- </div> -->
                    <div class="text-val">129</div>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
                    <path fill="#53b86b" fill-opacity="1" 
                        d="M0,96L15,101.3C30,107,60,117,90,128C120,139,150,149,180,170.7C210,192,240,224,270,
                            218.7C300,213,330,171,360,176C390,181,420,235,450,256C480,277,510,267,540,266.7C570,
                            267,600,277,630,250.7C660,224,690,160,720,117.3C750,75,780,53,810,85.3C840,117,870,203,
                            900,224C930,245,960,203,990,186.7C1020,171,1050,181,1080,165.3C1110,149,1140,107,1170,
                            96C1200,85,1230,107,1260,128C1290,149,1320,171,1350,160C1380,149,1410,107,1425,85.3L1440,
                            64L1440,320L1425,320C1410,320,1380,320,1350,320C1320,320,1290,320,1260,320C1230,320,
                            1200,320,1170,320C1140,320,1110,320,1080,320C1050,320,1020,320,990,320C960,320,930,
                            320,900,320C870,320,840,320,810,320C780,320,750,320,720,320C690,320,660,320,630,320C600,
                            320,570,320,540,320C510,320,480,320,450,320C420,320,390,320,360,320C330,320,300,320,270,
                            320C240,320,210,320,180,320C150,320,120,320,90,320C60,320,30,320,15,320L0,320Z">
                    </path>
                </svg>                
            </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="head">
                    Earnings
                    <span class="inc-dec" style="color: green !important">+7%</span>
                </div>
                <div class="data">
                    <!-- <div class="icon" style="background-color: #0d6efd !important;"> -->
                    <i class="icon material-icons align-middle" style="color: #0d6efd !important;">local_activity</i>
                    <!-- </div> -->
                    <div class="text-val"><i class="fa fa-inr"></i>20,125</div>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
                    <path fill="#3d9aff" fill-opacity="1" 
                        d="M0,96L16,128C32,160,64,224,96,245.3C128,267,160,245,192,245.3C224,245,256,267,288,240C320,
                            213,352,139,384,144C416,149,448,235,480,250.7C512,267,544,213,576,186.7C608,160,640,160,
                            672,165.3C704,171,736,181,768,165.3C800,149,832,107,864,106.7C896,107,928,149,960,144C992,
                            139,1024,85,1056,85.3C1088,85,1120,139,1152,160C1184,181,1216,171,1248,160C1280,149,1312,
                            139,1344,144C1376,149,1408,171,1424,181.3L1440,192L1440,320L1424,320C1408,320,1376,320,
                            1344,320C1312,320,1280,320,1248,320C1216,320,1184,320,1152,320C1120,320,1088,320,1056,
                            320C1024,320,992,320,960,320C928,320,896,320,864,320C832,320,800,320,768,320C736,320,704,
                            320,672,320C640,320,608,320,576,320C544,320,512,320,480,320C448,320,416,320,384,320C352,
                            320,320,320,288,320C256,320,224,320,192,320C160,320,128,320,96,320C64,320,32,320,16,320L0,320Z">
                    </path>
                </svg>                
            </div>
        </div>
    </div>
    <div class="appointments-and-doctors-row">
        <div class="column appointments-column">
            <div class="card">
                <div class="header">
                    <h2>Booked Appointment</h2>
                    <button mat-icon-button [matMenuTriggerFor]="bookedAppointmentMenu" aria-label="Booked Appointment Menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #bookedAppointmentMenu="matMenu">
                        <button mat-menu-item>
                            <mat-icon>dialpad</mat-icon>
                            <span>Redial</span>
                        </button>
                        <button mat-menu-item>
                            <mat-icon>voicemail</mat-icon>
                            <span>Check voice mail</span>
                        </button>
                        <button mat-menu-item>
                            <mat-icon>notifications_off</mat-icon>
                            <span>Disable alerts</span>
                        </button>
                    </mat-menu>
                </div>
                <div class="tableBody">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Patient Name</th>
                                    <th scope="col">Assigned Doctor</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Diseases</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="table-img">
                                        <img src="https://radixtouch.com/templates/admin/cliniva/source/light/assets/images/user/user1.jpg" alt="">
                                    </td>
                                    <td>John Doe</td>
                                    <td>
                                        <a href="mailto:test@gmail.com">Dr. Jacob Ryan</a>
                                    </td>
                                    <td>12/05/16</td>
                                    <td>
                                        <div class="badge col-red">Fever</div>
                                    </td>
                                    <td>
                                        <button mat-icon-button>
                                            <mat-icon>edit</mat-icon>
                                        </button>
                                        <button mat-icon-button>
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-img">
                                        <img src="https://radixtouch.com/templates/admin/cliniva/source/light/assets/images/user/user2.jpg" alt="">
                                    </td>
                                    <td>Sarah Smith</td>
                                    <td>
                                        <a href="mailto:test@gmail.com">Dr. Rajesh</a>
                                    </td>
                                    <td>12/05/16</td>
                                    <td>
                                        <div class="badge col-green">Cholera</div>
                                    </td>
                                    <td>
                                        <button mat-icon-button>
                                            <mat-icon>edit</mat-icon>
                                        </button>
                                        <button mat-icon-button>
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-img">
                                        <img src="https://radixtouch.com/templates/admin/cliniva/source/light/assets/images/user/user3.jpg" alt="">
                                    </td>
                                    <td>Airi Satou</td>
                                    <td>
                                        <a href="mailto:test@gmail.com">Dr. Jay Soni</a>
                                    </td>
                                    <td>12/05/16</td>
                                    <td>
                                        <div class="badge col-purple">Jaundice</div>
                                    </td>
                                    <td>
                                        <button mat-icon-button>
                                            <mat-icon>edit</mat-icon>
                                        </button>
                                        <button mat-icon-button>
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-img">
                                        <img src="https://radixtouch.com/templates/admin/cliniva/source/light/assets/images/user/user4.jpg" alt="">
                                    </td>
                                    <td>Angelica Ramos</td>
                                    <td>
                                        <a href="mailto:test@gmail.com">Dr. John Deo</a>
                                    </td>
                                    <td>12/05/16</td>
                                    <td>
                                        <div class="badge col-purple">Typhoid</div>
                                    </td>
                                    <td>
                                        <button mat-icon-button>
                                            <mat-icon>edit</mat-icon>
                                        </button>
                                        <button mat-icon-button>
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-img">
                                        <img src="https://radixtouch.com/templates/admin/cliniva/source/light/assets/images/user/user5.jpg" alt="">
                                    </td>
                                    <td>Ashton Cox</td>
                                    <td>
                                        <a href="mailto:test@gmail.com">Dr. Megha Trivedi</a>
                                    </td>
                                    <td>12/05/16</td>
                                    <td>
                                        <div class="badge col-orange">Malaria</div>
                                    </td>
                                    <td>
                                        <button mat-icon-button>
                                            <mat-icon>edit</mat-icon>
                                        </button>
                                        <button mat-icon-button>
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-img">
                                        <img src="https://radixtouch.com/templates/admin/cliniva/source/light/assets/images/user/user8.jpg" alt="">
                                    </td>
                                    <td>Cara Stevens</td>
                                    <td>
                                        <a href="mailto:test@gmail.com">Dr. Sarah Smith</a>
                                    </td>
                                    <td>12/05/16</td>
                                    <td>
                                        <div class="badge col-cyan">Infection</div>
                                    </td>
                                    <td>
                                        <button mat-icon-button>
                                            <mat-icon>edit</mat-icon>
                                        </button>
                                        <button mat-icon-button>
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="column doctors-column">
            <div class="card">
                <div class="header">
                    <h2>Doctors List</h2>
                    <button mat-icon-button [matMenuTriggerFor]="doctorsListMenu" aria-label="Doctors List Menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #doctorsListMenu="matMenu">
                        <button mat-menu-item>
                            <mat-icon>dialpad</mat-icon>
                            <span>Redial</span>
                        </button>
                        <button mat-menu-item>
                            <mat-icon>voicemail</mat-icon>
                            <span>Check voice mail</span>
                        </button>
                        <button mat-menu-item>
                            <mat-icon>notifications_off</mat-icon>
                            <span>Disable alerts</span>
                        </button>
                    </mat-menu>
                </div>
                <div class="tableBody">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Doctor Name</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="table-img">
                                        <img src="https://radixtouch.com/templates/admin/cliniva/source/light/assets/images/user/user5.jpg" alt="">
                                    </td>
                                    <td>
                                        <div class="media-title">
                                            <a href="mailto:test@gmail.com">Dr. Jay Soni</a>
                                        </div>
                                        <div class="text-job font-11">(MBBS, MD)</div>
                                    </td>
                                    <td>
                                        <div class="badge col-green">Available</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-img">
                                        <img src="https://radixtouch.com/templates/admin/cliniva/source/light/assets/images/user/user6.jpg" alt="">
                                    </td>
                                    <td>
                                        <div class="media-title">
                                            <a href="mailto:test@gmail.com">Dr. Sarah Smith</a>
                                        </div>
                                        <div class="text-job font-11">(BDS, MDS)</div>
                                    </td>
                                    <td>
                                        <div class="badge col-red">Absent</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-img">
                                        <img src="https://radixtouch.com/templates/admin/cliniva/source/light/assets/images/user/user3.jpg" alt="">
                                    </td>
                                    <td>
                                        <div class="media-title">
                                            <a href="mailto:test@gmail.com">Dr. Megha Trivedi</a>
                                        </div>
                                        <div class="text-job font-11">(BHMS)</div>
                                    </td>
                                    <td>
                                        <div class="badge col-green">Available</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-img">
                                        <img src="https://radixtouch.com/templates/admin/cliniva/source/light/assets/images/user/user2.jpg" alt="">
                                    </td>
                                    <td>
                                        <div class="media-title">
                                            <a href="mailto:test@gmail.com">Dr. John Deo</a>
                                        </div>
                                        <div class="text-job font-11">(MBBS, MS)</div>
                                    </td>
                                    <td>
                                        <div class="badge col-green">Available</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-img">
                                        <img src="https://radixtouch.com/templates/admin/cliniva/source/light/assets/images/user/user1.jpg" alt="">
                                    </td>
                                    <td>
                                        <div class="media-title">
                                            <a href="mailto:test@gmail.com">Dr. Jacob Ryan</a>
                                        </div>
                                        <div class="text-job font-11">(MBBS, MD)</div>
                                    </td>
                                    <td>
                                        <div class="badge col-red">Absent</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-img">
                                        <img src="https://radixtouch.com/templates/admin/cliniva/source/light/assets/images/user/user8.jpg" alt="">
                                    </td>
                                    <td>
                                        <div class="media-title">
                                            <a href="mailto:test@gmail.com">Dr. Jay Soni</a>
                                        </div>
                                        <div class="text-job font-11">(MBBS)</div>
                                    </td>
                                    <td>
                                        <div class="badge col-green">Available</div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="operations-row">
        <div class="column operations-column">
            <div class="card">
                <div class="header">
                    <h2>Operations</h2>
                    <button mat-icon-button [matMenuTriggerFor]="operationsMenu" aria-label="Operations Menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #operationsMenu="matMenu">
                        <button mat-menu-item>
                            <mat-icon>dialpad</mat-icon>
                            <span>Redial</span>
                        </button>
                        <button mat-menu-item>
                            <mat-icon>voicemail</mat-icon>
                            <span>Check voice mail</span>
                        </button>
                        <button mat-menu-item>
                            <mat-icon>notifications_off</mat-icon>
                            <span>Disable alerts</span>
                        </button>
                    </mat-menu>
                </div>
                <div class="tableBody">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Patient Name</th>
                                    <th scope="col">Doctors Team</th>
                                    <th scope="col">Date of Operation</th>
                                    <th scope="col">Report</th>
                                    <th scope="col">Diseases</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="table-img">
                                        <img src="https://radixtouch.com/templates/admin/cliniva/source/light/assets/images/user/user8.jpg" alt="">
                                    </td>
                                    <td>John Doe</td>
                                    <td class="text-truncate">
                                        <ul class="list-unstyled order-list">
                                            <li class="avatar avatar-sm">
                                                <img src="https://radixtouch.com/templates/admin/cliniva/source/light/assets/images/user/user1.jpg" alt="user" class="rounded-circle">
                                            </li>
                                            <li class="avatar avatar-sm">
                                                <img src="https://radixtouch.com/templates/admin/cliniva/source/light/assets/images/user/user2.jpg" alt="user" class="rounded-circle">
                                            </li>
                                            <li class="avatar avatar-sm">
                                                <img src="https://radixtouch.com/templates/admin/cliniva/source/light/assets/images/user/user3.jpg" alt="user" class="rounded-circle">
                                            </li>
                                            <li class="avatar avatar-sm">
                                                <span class="badge">+4</span>
                                            </li>
                                        </ul>
                                    </td>
                                    <td>12-08-2019</td>
                                    <td>
                                        <i class="fa fa-file-pdf-o tbl-pdf"></i>
                                    </td>
                                    <td>Cancer</td>
                                    <td>
                                        <button mat-icon-button class="btn-tbl-edit">
                                            <mat-icon>edit</mat-icon>
                                        </button>
                                        <button mat-icon-button class="btn-tbl-delete">
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-img">
                                        <img src="https://radixtouch.com/templates/admin/cliniva/source/light/assets/images/user/user5.jpg" alt="">
                                    </td>
                                    <td>Jens Brincker</td>
                                    <td class="text-truncate">
                                        <ul class="list-unstyled order-list">
                                            <li class="avatar avatar-sm">
                                                <img src="https://radixtouch.com/templates/admin/cliniva/source/light/assets/images/user/user7.jpg" alt="user" class="rounded-circle">
                                            </li>
                                            <li class="avatar avatar-sm">
                                                <img src="https://radixtouch.com/templates/admin/cliniva/source/light/assets/images/user/user2.jpg" alt="user" class="rounded-circle">
                                            </li>
                                            <li class="avatar avatar-sm">
                                                <span class="badge">+3</span>
                                            </li>
                                        </ul>
                                    </td>
                                    <td>14-08-2019</td>
                                    <td>
                                        <i class="fa fa-file-pdf-o tbl-pdf"></i>
                                    </td>
                                    <td>Fracture</td>
                                    <td>
                                        <button mat-icon-button class="btn-tbl-edit">
                                            <mat-icon>edit</mat-icon>
                                        </button>
                                        <button mat-icon-button class="btn-tbl-delete">
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-img">
                                        <img src="https://radixtouch.com/templates/admin/cliniva/source/light/assets/images/user/user3.jpg" alt="">
                                    </td>
                                    <td>Mark Hay</td>
                                    <td class="text-truncate">
                                        <ul class="list-unstyled order-list">
                                            <li class="avatar avatar-sm">
                                                <img src="https://radixtouch.com/templates/admin/cliniva/source/light/assets/images/user/user2.jpg" alt="user" class="rounded-circle">
                                            </li>
                                            <li class="avatar avatar-sm">
                                                <img src="https://radixtouch.com/templates/admin/cliniva/source/light/assets/images/user/user1.jpg" alt="user" class="rounded-circle">
                                            </li>
                                            <li class="avatar avatar-sm">
                                                <img src="https://radixtouch.com/templates/admin/cliniva/source/light/assets/images/user/user8.jpg" alt="user" class="rounded-circle">
                                            </li>
                                            <li class="avatar avatar-sm">
                                                <span class="badge">+2</span>
                                            </li>
                                        </ul>
                                    </td>
                                    <td>18-08-2019</td>
                                    <td>
                                        <i class="fa fa-file-pdf-o tbl-pdf"></i>
                                    </td>
                                    <td>Cataract Surgery</td>
                                    <td>
                                        <button mat-icon-button class="btn-tbl-edit">
                                            <mat-icon>edit</mat-icon>
                                        </button>
                                        <button mat-icon-button class="btn-tbl-delete">
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-img">
                                        <img src="https://radixtouch.com/templates/admin/cliniva/source/light/assets/images/user/user6.jpg" alt="">
                                    </td>
                                    <td>Mark Hay</td>
                                    <td class="text-truncate">
                                        <ul class="list-unstyled order-list">
                                            <li class="avatar avatar-sm">
                                                <img src="https://radixtouch.com/templates/admin/cliniva/source/light/assets/images/user/user5.jpg" alt="user" class="rounded-circle">
                                            </li>
                                            <li class="avatar avatar-sm">
                                                <img src="https://radixtouch.com/templates/admin/cliniva/source/light/assets/images/user/user3.jpg" alt="user" class="rounded-circle">
                                            </li>
                                            <li class="avatar avatar-sm">
                                                <img src="https://radixtouch.com/templates/admin/cliniva/source/light/assets/images/user/user9.jpg" alt="user" class="rounded-circle">
                                            </li>
                                            <li class="avatar avatar-sm">
                                                <span class="badge">+4</span>
                                            </li>
                                        </ul>
                                    </td>
                                    <td>20-08-2019</td>
                                    <td>
                                        <i class="fa fa-file-pdf-o tbl-pdf"></i>
                                    </td>
                                    <td>Cholecystectomy</td>
                                    <td>
                                        <button mat-icon-button class="btn-tbl-edit">
                                            <mat-icon>edit</mat-icon>
                                        </button>
                                        <button mat-icon-button class="btn-tbl-delete">
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-img">
                                        <img src="https://radixtouch.com/templates/admin/cliniva/source/light/assets/images/user/user1.jpg" alt="">
                                    </td>
                                    <td>Mark Hay</td>
                                    <td class="text-truncate">
                                        <ul class="list-unstyled order-list">
                                            <li class="avatar avatar-sm">
                                                <img src="https://radixtouch.com/templates/admin/cliniva/source/light/assets/images/user/user2.jpg" alt="user" class="rounded-circle">
                                            </li>
                                            <li class="avatar avatar-sm">
                                                <img src="https://radixtouch.com/templates/admin/cliniva/source/light/assets/images/user/user4.jpg" alt="user" class="rounded-circle">
                                            </li>
                                            <li class="avatar avatar-sm">
                                                <span class="badge">+3</span>
                                            </li>
                                        </ul>
                                    </td>
                                    <td>22-08-2019</td>
                                    <td>
                                        <i class="fa fa-file-pdf-o tbl-pdf"></i>
                                    </td>
                                    <td>Hysterectomy</td>
                                    <td>
                                        <button mat-icon-button class="btn-tbl-edit">
                                            <mat-icon>edit</mat-icon>
                                        </button>
                                        <button mat-icon-button class="btn-tbl-delete">
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-img">
                                        <img src="https://radixtouch.com/templates/admin/cliniva/source/light/assets/images/user/user2.jpg" alt="">
                                    </td>
                                    <td>Mark Hay</td>
                                    <td class="text-truncate">
                                        <ul class="list-unstyled order-list">
                                            <li class="avatar avatar-sm">
                                                <img src="https://radixtouch.com/templates/admin/cliniva/source/light/assets/images/user/user6.jpg" alt="user" class="rounded-circle">
                                            </li>
                                            <li class="avatar avatar-sm">
                                                <img src="https://radixtouch.com/templates/admin/cliniva/source/light/assets/images/user/user9.jpg" alt="user" class="rounded-circle">
                                            </li>
                                            <li class="avatar avatar-sm">
                                                <img src="https://radixtouch.com/templates/admin/cliniva/source/light/assets/images/user/user4.jpg" alt="user" class="rounded-circle">
                                            </li>
                                            <li class="avatar avatar-sm">
                                                <span class="badge">+2</span>
                                            </li>
                                        </ul>
                                    </td>
                                    <td>28-08-2019</td>
                                    <td>
                                        <i class="fa fa-file-pdf-o tbl-pdf"></i>
                                    </td>
                                    <td>Back Pain Surgery</td>
                                    <td>
                                        <button mat-icon-button class="btn-tbl-edit">
                                            <mat-icon>edit</mat-icon>
                                        </button>
                                        <button mat-icon-button class="btn-tbl-delete">
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
