<h1 class="mat-dialog-title">{{bill_cap}}
	<button #queue mat-dialog-close class="modal_close" tabindex="-1">
		<i class="fa fa-window-close" aria-hidden="true"></i>
	</button>
</h1>
<mat-dialog-content>
	<div class="bill-wrapper">
		<div class="bill-header">
			<div class="section-one">
				<h3>{{bname | capitalizeFirst}}</h3>
				<div class="details">
					<span class="columns"> <span class="title">{{customer_label
							| capitalizeFirst}}</span> <span class="dynamic">{{checkin.consumer.userProfile.firstName
							| capitalizeFirst}} {{checkin.consumer.userProfile.lastName}}</span>
					</span> <span class="columns"> <span class="title">{{date_cap}}
							&amp; {{time_cap}}</span> <span class="dynamic">{{billdate}}
							{{billtime}}</span>
					</span> <span class="columns" *ngIf="billnumber"> <span class="title">{{bill_no_cap}}</span>
						<span class="dynamic">{{billnumber}}</span>
					</span> <span class="columns" *ngIf="gstnumber"> <span class="title">{{gstin_cap}}</span>
						<span class="dynamic">{{gstnumber | capitalizeFirst}}</span>
					</span>
				</div>
			</div>
		</div>
		<div class="workbench">
			<ng-container *ngIf="(!showAddItemsec && showAddItemMenuSection) || showAddItemsec || showJCouponSection">
				<div class="section-two">
					<div class="add-button" *ngIf="!showAddItemsec && showAddItemMenuSection">
						<button class="cs-btn bt3" (click)="showAddItem()">{{ad_ser_item_cap}}</button>&nbsp;
						<span class="bill-more-mat-menu">
							<!-- <span class="icon-vertical-ellipse"></span> -->
							<button mat-icon-button [matMenuTriggerFor]="menu">
								<mat-icon>more_vert</mat-icon>
							</button>
							<mat-menu #menu="matMenu">
								<button mat-menu-item (click)="orderDiscountSelected()" *ngIf="(discounts.length > 0)">
									<span>Add Order Discount</span>
								</button>
								<button mat-menu-item (click)="orderPCouponSelected()" *ngIf="(coupons.length >0)">
									<span>Add Provider Coupon</span>
								</button>
								<button mat-menu-item (click)="jCouponSelected()">
									<span>Add Jaldee Coupon(s)</span>
								</button>
							</mat-menu>
						</span>
					</div>
					<ng-container *ngIf="showAddItemsec">
						<div class="add-serv-item edit-row service">
							<div class="spl">
								<div class="item selectbox">
									<mat-form-field class="example-full-width"> <input type="text" #itemservicesearch aria-label="Number" matInput
										 [formControl]="itemServiceSearch" [matAutocomplete]="auto">
										<mat-autocomplete #auto="matAutocomplete">
											<ng-container *ngFor="let group of ItemServiceGroupOptions | async">
												<!-- <mat-optgroup [label]="group.type" *ngIf="group.type=='Items' || (group.type=='Services' && isServiceBillable)"> -->
												<ng-container *ngIf="group.type=='Items' || (group.type=='Services' && isServiceBillable)">
													<mat-option *ngFor="let value of group.values; let i = index" [value]="value" (keyup)="itemServiceSelected(group.type,value)" (onSelectionChange)="itemServiceSelected(group.type,value)">
														{{ value }} {{(group.type=='Items')? ' - [Item]' : ' - [Service]'}}
													</mat-option>
												</ng-container>
												<mat-option *ngIf="group.values.length==0" [disabled]="true">
													<span class="no-data"></span>{{no_cap}} {{group.type}}
													{{available_cap}}</mat-option> <!-- </mat-optgroup> -->
											</ng-container>
										</mat-autocomplete>
									</mat-form-field>
								</div>
								<div class="item qty">
									<span class="label">{{qty_cap}}</span> <span class="number">
										<mat-form-field class="example-full-width"> <input type="number" matInput #itemserviceqty aria-label="Number"
											 matInput value="1" size="3" [(ngModel)]="curSelItm.qty" (blur)="blurQty($event.target.value, curSelItm)">
										</mat-form-field>
									</span>
								</div>
							</div>
							<div class="spr">
								<button class="cs-btn bt1" (click)="addService_Item()" >{{add_btn_cap}}</button>
								<button class="cs-btn bt2" (click)="hideWorkBench()">{{cancel_btn_cap}}</button>
							</div>
						</div>
					</ng-container>
					<ng-container *ngIf="showJCouponSection">
						<div class="add-j-coupon edit-row service">
							<div class="spl">
								<div class="item selectbox">
									<mat-form-field class="example-full-width"> <input type="text" #jcoupon  matInput
										 [(ngModel)]="jCoupon">
									</mat-form-field>
								</div>
							</div>
							<div class="spr">
								<button class="cs-btn bt1" (click)="applyJCoupon(jCoupon)">APPLY</button>
								<button class="cs-btn bt2" (click)="hideWorkBench()">CANCEL</button>
							</div>
						</div>
					</ng-container>
				</div>
			</ng-container>
			<ng-container *ngIf="(showPCouponSection || showDiscountSection)">
				<div class="section-three">
					<div class="bill-breakup">
						<div class="list">
							<div class="list-content">
								<div class="c-row two">
									<div class=" edit-row discoup">
										<div class="spl">
											<div class="item selectbox1" *ngIf="discounts.length >0 && showDiscountSection">
												<mat-form-field>
													<mat-select [(ngModel)]="selOrderDiscount" [ngModelOptions]="{standalone: true}">
														<mat-option [value]="''">{{select_discount_cap}}</mat-option>
														<mat-option *ngFor="let discount of discounts; let i = index" [value]="discount"> {{ discount.name }}
														</mat-option>
													</mat-select>
												</mat-form-field>
											</div>
											<div class="item selectbox1" *ngIf="coupons.length >0 && showPCouponSection">
												<mat-form-field>
													<mat-select [(ngModel)]="selOrderProviderCoupon" [ngModelOptions]="{standalone: true}">
														<mat-option [value]="''">{{select_coupon_cap}}</mat-option>
														<mat-option *ngFor="let coupon of coupons; let i = index" [value]="coupon">
															{{ coupon.name }} </mat-option>
													</mat-select>
												</mat-form-field>
											</div>
										</div>
										<div class="spr">
											<button *ngIf="discounts.length >0 && showDiscountSection" class="cs-btn bt1" (click)="applyOrderDiscount()">{{done_btn_cap}}</button>
											<button *ngIf="coupons.length >0 && showPCouponSection" class="cs-btn bt1" (click)="applyOrderCoupon()">{{done_btn_cap}}</button>
											<button style="margin-left:5px;"  class="cs-btn bt1" (click)="hideWorkBench()">{{cancel_btn_cap}}</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</ng-container>
		</div>
		<div class="bill-content">
			<div class="section-three">
				<div class="bill-breakup">
					<div class="list" *ngFor="let service of bill_data.service; let i = index">
						<div class="list-content">
							<div class="c-row one">
								<div class="name">
									{{service.serviceName | capitalizeFirst}} @ {{service.price}} <span class="tax" [matTooltipClass]="tooltipcls" [matTooltip]="'Taxable'"
									 *ngIf="service.GSTpercentage > 0">Tax</span>
								</div>
								<div class="quantity">{{qnty_cap}}
									{{service.quantity}}</div>
								<div class="price">{{service.price |
									currency:'INR':'symbol':'.2-2'}}</div>
							</div>
							<div class="c-row two">
								<!--When click MENU this section shows-->
								<div class="edit-row discoup" *ngIf="bill_data.service[i].showservicedisccoup">
									<div class="spl">
										<div class="item selectbox1" *ngIf="discounts.length > 0">
											<mat-form-field>
												<mat-select [(ngModel)]="bill_data.service[i].serviceDiscount" [ngModelOptions]="{standalone: true}">
													<mat-option [value]="''">{{select_discount_cap}} </mat-option>
													<mat-option *ngFor="let discount of discounts; let i = index" [value]="discount">
														{{ discount.name }} </mat-option>
												</mat-select>
											</mat-form-field>
										</div>
									</div>
									<div class="spr">
										<button class="cs-btn bt1" (click)="applyServiceDiscount(bill_data.service[i])">{{done_btn_cap}}</button>
										<button style="margin-left:5px;" class="cs-btn bt1" (click)="serviceDiscCoupSec(i)">{{cancel_btn_cap}}</button>
									</div>
								</div>
								<!--ENDS-->
								<div class="discount-row" *ngFor="let discount of service.discount">
									<div class="name">{{discount.name}}</div>
									<div class="price">(-){{discount.discountValue |
										currency:'INR':'symbol':'.2-2'}} <i (click)="removeServiceDiscount(service.serviceId, discount.id)" class="fa fa-window-close" aria-hidden="true"></i></div>
								</div>
							</div>
							<div class="c-row three" *ngIf="service.discount.length > 0">
								<div class="name">{{sub_tot_cap}}</div>
								<div class="price">{{service.netRate |
									currency:'INR':'symbol':'.2-2'}}</div>
							</div>
						</div>
						<div class="more">
							<!-- <span class="icon-vertical-ellipse"></span> -->
							<button mat-icon-button [matMenuTriggerFor]="menu">
								<mat-icon>more_vert</mat-icon>
							</button>
							<mat-menu #menu="matMenu">
								<button mat-menu-item (click)="serviceDiscCoupSec(i)" *ngIf="discounts.length > 0">
									<span>Add Service Discount</span>
								</button>
								<button mat-menu-item (click)="removeService(service.serviceId, service.quantity)">
									<span>Remove Service</span>
								</button>
							</mat-menu>
						</div>
					</div>
					<div class="list" *ngFor="let item of bill_data.items; let i = index">
						<div class="list-content">
							<div class="c-row one">
								<div class="name">
									{{item.itemName | capitalizeFirst}} @ {{item.price}} <span class="tax" [matTooltipClass]="tooltipcls" [matTooltip]="'Taxable'"
									 *ngIf="item.GSTpercentage > 0">Tax</span>
								</div>
								<div class="quantity">{{qnty_cap}}
									{{item.quantity}}</div>
								<div class="price">{{item.price |
									currency:'INR':'symbol':'.2-2'}}</div>
							</div>
							<div class="c-row two">
								<!--When click MENU this section shows-->
								<div class="edit-row discoup" *ngIf="bill_data.items[i].showitemdisccoup">
									<div class="spl">
										<div class="item selectbox1" *ngIf="discounts.length >0">
											<mat-form-field>
												<mat-select [(ngModel)]="bill_data.items[i].itemDiscount" [ngModelOptions]="{standalone: true}">
													<mat-option [value]="''">{{select_discount_cap}} </mat-option>
													<mat-option *ngFor="let discount of discounts; let i = index" [value]="discount">
														{{ discount.name }} </mat-option>
												</mat-select>
											</mat-form-field>
										</div>
									</div>
									<div class="spr">
										<button class="cs-btn bt1" (click)="applyItemDiscount(bill_data.items[i])">{{done_btn_cap}}</button>
										<button style="margin-left:5px;"  class="cs-btn bt1" (click)="itemDiscCoupSec(i)">{{cancel_btn_cap}}</button>
									</div>
								</div>
								<!--ENDS-->
								<div class="discount-row" *ngFor="let discount of item.discount">
									<div class="name">{{discount.name}}</div>
									<div class="price">(-){{discount.discountValue |
										currency:'INR':'symbol':'.2-2'}} <i (click)="removeItemDiscount(item.itemId, discount.id)" class="fa fa-window-close" aria-hidden="true"></i></div>
								</div>
							</div>
							<div class="c-row three" *ngIf="item.discount.length > 0">
								<div class="name">{{sub_tot_cap}}</div>
								<div class="price">{{item.netRate |
									currency:'INR':'symbol':'.2-2'}}</div>
							</div>
						</div>
						<div class="more">
							<!-- <span class="icon-vertical-ellipse"></span> -->
							<button mat-icon-button [matMenuTriggerFor]="menu">
								<mat-icon>more_vert</mat-icon>
							</button>
							<mat-menu #menu="matMenu">
								<button mat-menu-item (click)="itemDiscCoupSec(i)" *ngIf="discounts.length > 0">
									<span>Add Item Discount</span>
								</button>
								<button mat-menu-item (click)="removeItem(item.itemId, item.quantity)">
									<span>Remove Item</span>
								</button>
							</mat-menu>
						</div>
					</div>
				</div>
				<div class="amount-table">
					<div class="amt-content">
						<table class="amt-content">
							<tbody>
								<tr class="amt gross">
									<td class="name">{{gross_amnt_cap}}</td>
									<td class="price">{{bill_data.netTotal | currency:'INR':'symbol':'.2-2'}}</td>
								</tr>
								<tr class="amt discount" *ngFor="let discount of bill_data.discount">
									<td class="name">{{discount.name}}</td>
									<td class="price">(-){{discount.discountValue |
										currency:'INR':'symbol':'.2-2'}}</td>
										<td><i (click)="removeOrderDiscount(discount)" class="fa fa-window-close" aria-hidden="true"></i></td>
								</tr>
								<tr class="amt coupon" *ngFor="let coupon of bill_data.providerCoupon">
									<td class="name">{{coupon.name}}</td>
									<td class="price">(-){{coupon.couponValue |
										currency:'INR':'symbol':'.2-2'}} </td>
										<td><i (click)="removeProviderCoupon(coupon)" class="fa fa-window-close" aria-hidden="true"></i></td>
								</tr>
								<tr class="amt discount" *ngFor="let jcoupon of bill_data.jCoupon | keyvalue">
									<td class="name">{{jcoupon.key}}</td>
									<td class="price">(-){{jcoupon.value.value |
										currency:'INR':'symbol':'.2-2'}} </td>
										<td><i (click)="removeJCoupon(jcoupon.key)" class="fa fa-window-close" aria-hidden="true"></i></td>
								</tr> 
								<tr class="amt tax" *ngIf="bill_data.taxableTotal">
									<td class="name"><span class="tax-top">Tax
											{{item_service_tax}}% of {{bill_data.taxableTotal |
											currency:'INR':'symbol':'.2-2'}}</span><span class="txn">(CGST-{{item_service_tax/2}}%,
											SGST-{{item_service_tax/2}}%)</span></td>
									<td class="price">(+){{bill_data.totalTaxAmount |
										currency:'INR':'symbol':'.2-2'}}</td>
								</tr>
								<tr class="amt paid" *ngIf="totpaid > 0">
									<td class="name"><span class="link" (click)="showpaidSection()">Amount Paid</span></td>
									<td class="price">{{bill_data.totalAmountPaid |
										currency:'INR':'symbol':'.2-2'}}</td>
								</tr>
								<tr class="amt total">
									<td class="name">{{amount_to_pay_cap}}</td>
									<td class="price">{{bill_data.amountDue |
										currency:'INR':'symbol':'.2-2'}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="section-four" *ngIf="showPaidlist">
					<div class="heading">
						<span class="back" (click)="showpaidSection()">{{back_to_bill_cap}}</span>
						<h4>{{payment_logs_cap}}</h4>
					</div>

					<div class="list-outer">
						<div class="table-th">
							<div class="th one">{{date_cap}} &amp; {{time_cap}}</div>
							<div class="th two">{{amount_cap}}</div>
							<div class="th three">{{refundable_cap}}</div>
						</div>

						<div class="listing" *ngFor="let payment of pre_payment_log; let i = index">
							<div class="wrap">
								<div class="td one">
									<span class="date">{{stringtoDate(payment.paymentOn,
										'date')}}</span> <span class="time">{{stringtoDate(payment.paymentOn,
										'time')}}</span>
								</div>
								<div class="td two">
									<span class="amt">{{payment.amount |
										currency:'INR':'symbol':'.2-2' }}</span> <span class="others"> <span class="status"> <span class="title">{{status_cap}}</span>
											<span><span [class]="payment.status | lowercase">{{payment.status
													| capitalizeFirst}}</span></span>
										</span> <span class="mode"> <span class="title">{{mode_cap}}</span>
											<span>{{payment.acceptPaymentBy | capitalizeFirst }}</span>
										</span>
									</span>
								</div>
								<div class="td three">
									<span class="amt">{{payment.refundableAmount |
										currency:'INR':'symbol':'.2-2'}}</span>
									<!-- <button class="cs-btn bt3" *ngIf="payment.status=='SUCCESS' && payment.refundableAmount > 0">Refund</button> -->
								</div>
							</div>
							<div class="refunds-table" *ngIf="payment.refundDetails.length">
								<div class="table-th">
									<h5>{{refunds_cap}}</h5>
								</div>
								<div class="table-th1">
									<div class="th one">{{status_cap}}</div>
									<div class="th two">{{mode_cap}}</div>
									<div class="th three">{{amount_cap}}</div>
								</div>
								<div class="tbody" *ngFor="let refund of payment.refundDetails">
									<div class="td one">
										<span [class]="refund.status | lowercase">{{refund.status
											| capitalizeFirst}}</span>
									</div>
									<div class="td two">{{refund.refundBy | capitalizeFirst }}</div>
									<div class="td three">{{refund.amount |
										currency:'INR':'symbol':'.2-2' }}</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</mat-dialog-content>