<!-- join Section starts -->


<form [formGroup]="virtualForm" class="login-form custom-login-form consumer-join-component" novalidate (ngSubmit)="virtualForm.valid &&
onSubmit(virtualForm.value)">
    <div class="mat-dialog-title">
       
        <div class="title"  style="font-size: 16px !important;">{{consumer_label|capitalizeFirst}} Details</div>
        <button mat-dialog-close class="modal_close cust-logpage-close" tabindex="-1">
            <i class="fa fa-window-close" aria-hidden="true" style="margin-top: 10px !important;"></i>
        </button>
    </div>
    <!-- step 1 for mobile number entering  -->
    <div  class="cust-loginpge-color">
        <div class="mat-dialog-content" style="overflow: auto !important;">

            <div class="form-group dob">
                <mat-label for="dob">Enter your Date of Birth</mat-label>
                <br/>
                <!-- <mat-form-field color="accent" appearance="fill" class="mgn-up-10 vt_dt no-padding"> 
                   <mat-label>Choose a date</mat-label>
                   <input matInput  formControlName="dob" [matDatepicker]="dob"> 
                    <mat-datepicker-toggle matSuffix [for]="dob">
                    </mat-datepicker-toggle>
                    <mat-datepicker #dob></mat-datepicker> 
              </mat-form-field> -->
            <input type="date" placeholder="dd-mm-yyyy" matInput id="dob" formControlName="dob" class="vt_dt no-padding mgn-up-5"> 
                <br>
            </div>
            <div class="form-group" style="display: grid;">
                <mat-label for="gender">{{gender_cap}}</mat-label>
                <!-- <label class="col-form-label" for="gender">{{gender_cap}} </label> -->
                <mat-radio-group formControlName="gender">
                    <mat-radio-button value="Male">Male</mat-radio-button>
                    <mat-radio-button value="Female">Female</mat-radio-button>
                    <mat-radio-button value="Others">Others</mat-radio-button>
                </mat-radio-group>
                <app-field-error-display
                    [displayError]="fed_service.isFieldValid(virtualForm,'gender')"
                    errorMsg="Please select the gender.">
                </app-field-error-display>
            </div>
            <!-- Signin Password -->
            <div class="form-group pwd" >
                <!-- <mat-form-field> -->
                <mat-label for="pincode">Pincode</mat-label>

                <input type="text"  placeholder="Enter pincode here" class="form-control" id="location" formControlName="pincode">
                <!-- </mat-form-field> -->
                <div style="display: flex; justify-content: space-between;">
                    <app-field-error-display
                        [displayError]="fed_service.isFieldValid(virtualForm,'pincode')"
                        errorMsg="Pincode is required">
                    </app-field-error-display>
                   
                </div>
            </div>
         
              <!-- Signin Password -->
              <div class="form-group" >
                <!-- <mat-form-field> -->
                <mat-label for="location">Is English your preferred language</mat-label> <br>

                <mat-radio-group aria-label="Select an option" (change)="onChange($event)" formControlName="islanguage" >
                    <mat-radio-button value="yes">Yes</mat-radio-button>
                    <mat-radio-button value="no">No</mat-radio-button>
                  </mat-radio-group>
                  
                    
                <!-- </mat-form-field> -->
                <div style="display: flex; justify-content: space-between;">
                    <app-field-error-display
                        [displayError]="fed_service.isFieldValid(virtualForm,'islanguage') "
                        errorMsg="please choose one">
                    </app-field-error-display>
                   
                </div>
            </div>
            <div class="form-group" *ngIf="lngknown==='no'">
                <!-- <mat-form-field> -->
                <mat-label for="preferredLanguage">Enter your preferred language</mat-label>

                <input type="text"   placeholder="Enter language here" class="form-control" id="preferredLanguage" formControlName="preferredLanguage">
                <!-- </mat-form-field> -->
                  
                   
                <!-- </mat-form-field> -->
                <div style="display: flex; justify-content: space-between;">
                    <app-field-error-display
                        [displayError]="fed_service.isFieldValid(virtualForm,'preferredLanguage')"
                        errorMsg="Language is required">
                    </app-field-error-display>
                   
                </div>
            </div>
        </div>
        <div class="mat-dialog-actions "  style="background: white !important;">
            <button class="cust-logpg-submt mgn-up-20 continue-button"  type="submit" mat-button
            [disabled]="validateFields()" (click)="onSubmit(virtualForm.value)">
                <span >Submit</span>
               
            </button>
            <!-- <button class="cust-logpg-submt login-button"  type="button" mat-button>
                <span >Cancel</span>
               
            </button> -->
        </div>
        <!-- <app-field-error-display [displayError]="true" *ngIf="api_error" errorMsg="{{api_error}}">
        </app-field-error-display> -->
    </div>




   



   
</form>



<!-- join section ends -->