<div class="col-md-10 col-xs-12 col-sm-12 col-lg-9 no-padding-small">
  <section class="">
    <div class="card title-gb">
      <h5 class="mgn-up-10">
        <h2 style="text-align: center;">Medical Record</h2>
      </h5>
    </div>


    <div class="card title-gb" >
      <div class="mgn-up-10">

          <!-- <p>
            <b>Patient:</b>
            <span color="blue"> {{customerDetails.jaldeeId}} &nbsp;</span>
            <span>{{customerDetails.firstName | capitalizeFirst}} {{customerDetails.lastName}}</span>
            <span *ngIf="customerDetails.dob|| customerDetails.gender ">({{customerDetails.dob}} {{customerDetails.gender | capitalizeFirst}})</span>
          </p> -->
          <span>Patient Name: {{customerDetails.firstName | capitalizeFirst}} {{customerDetails.lastName}} </span><br>
          <span>Patient Id: {{customerDetails.jaldeeId}}</span><br>
          <span *ngIf="customerDetails.dob">DOB: {{customerDetails.dob  | date:display_dateFormat}}</span><br *ngIf="customerDetails.dob">
          <span *ngIf="customerDetails.gender">Gender: {{customerDetails.gender | capitalizeFirst}}</span>

      </div>
      <hr>
      <div>
        <h5>Add or view medical records for a consultation</h5>
        <p>Patient consultation date
            <button  *ngIf="visitcount === 0">{{visitdate | date:dateFormatSp}} {{visitTime}}  &nbsp;</button>
            <button  *ngIf="visitcount !== 0" (click) = "VisitList()">{{visitdate | date:dateFormatSp}} {{visitTime}}  &nbsp; <i class="arrow down"></i></button>  &nbsp;
            <span>(Recent visit)</span>
        </p>
      </div>
      <hr>
      <div class="col-md-12">
        <div class="col-md-7"style="padding-left:0px;padding-right:0px;">
          <label *ngIf="department">Department:</label><span *ngIf="department"> {{department | capitalizeFirst}}</span><br *ngIf="department">
          <label *ngIf="serviceName">Service/Consultation:</label><span *ngIf="serviceName"> {{serviceName | capitalizeFirst}}</span><br *ngIf="serviceName">
          <!-- <label *ngIf="bookingType && bookingType == ('TOKEN' || 'APPT')">Consultation Mode: </label><span  *ngIf="bookingType && bookingType == ('TOKEN' || 'APPT')"> {{consultationMode}}</span> -->
         <!-- <span *ngIf="bookingType !== ('TOKEN' || 'APPT')"> <label>Consultation Mode: </label>&nbsp;
          <select [(ngModel)]="patientConsultationType" (ngModelChange)="modeChanged($event)">
            <option *ngFor="let mode of patientConsultationModes" [value]="mode.name">{{mode.name}}</option>
          </select>
        </span> -->
        </div>
        <div *ngIf = "mrId !== 0" class="col-md-5">
            <label>MR NO:</label><span> {{mrId}}</span><br>
            <label>MR Created On:</label><span> {{MrCreateddate}}</span>
        </div>
        <div class="clearfix"></div>
      </div>
      <!-- <div class="col-md-12">
          <span>
              <button style="float: right;">Share MR </button> &nbsp;&nbsp;
              <button style="float: right;">Share RX</button>
            </span>
      </div> -->
<hr>

<div class="nopadding">&nbsp;</div>

        <div class="content w-manager settings comn-cls">
          <div style="padding: 5px;">
            <nav mat-tab-nav-bar>
              <a mat-tab-link *ngFor="let routeLink of routeLinks; let i = index;" [routerLink]="routeLink.link" routerLinkActive="mat-tab-link-active"
                #rla="routerLinkActive"  class="routerLink.active" [active]="rla.isActive" (click)="navigate(routeLink)" [routerLinkActiveOptions]="{exact: true}">
                {{routeLink.label}}
              </a>
            </nav>
            <router-outlet></router-outlet>
            <div class="clearfix"></div>
          </div>

        </div>
    </div>
    <div class="clearfix"></div>
  </section>
</div>
<div class="clearfix"></div>

