
        <section  [ngClass]="accountProperties?accountProperties['theme']:''">
                <mat-toolbar class="mat-elevation-z8" >
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                <a class="pull-left back-btn mgn-up-5"  (click)="goBack()"><i class="fa fa-arrow-left"></i></a>
                                &nbsp;
                                <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
                                        <mat-icon *ngIf="!sidenav.opened">
                                            menu
                                        </mat-icon>
                                        <mat-icon *ngIf="sidenav.opened">
                                            close
                                        </mat-icon>
                                    </button>
                            </div>
                            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 no-padding">
                                    <app-header *ngIf="sharedFunctionobj.checkLogin()" [includedfrom]="'pdetails'" [accountId]="accountId" [customId]="customId" [showHeaderAction]="true"></app-header>
                                    <div class="view-booking" *ngIf="!sharedFunctionobj.checkLogin()" >
                                        <button class="pull-right btn btn-primary dashboard-btn" (click)="dashboardClicked()">My Bookings</button>
                                    </div>
                                </div>
                    </mat-toolbar>
                        <!-- <div class="panel-heading top-row">
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                <a class="pull-left back-btn mgn-up-5"  (click)="goBack()"><i class="fa fa-arrow-left"></i></a>
                                &nbsp;
                                <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
                                        <mat-icon *ngIf="!sidenav.opened">
                                            menu
                                        </mat-icon>
                                        <mat-icon *ngIf="sidenav.opened">
                                            close
                                        </mat-icon>
                                    </button>
                            </div>
                            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 no-padding">
                                    <app-header *ngIf="sharedFunctionobj.checkLogin()" [includedfrom]="'pdetails'" [accountId]="accountId" [customId]="customId" [showHeaderAction]="true"></app-header>
                                    <div class="view-booking" *ngIf="!sharedFunctionobj.checkLogin()" >
                                        <button class="pull-right btn btn-primary dashboard-btn" (click)="dashboardClicked()">My Bookings</button>
                                    </div>
                                </div>
                            
                           
                        </div> -->
                        <mat-sidenav-container>
                                <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
                                    <img class="avatar mat-elevation-z8" src="{{bLogo}}" />
                                    <hr/>
                                    <h6 class="business-name" *ngIf="businessjson.businessName">{{businessjson.businessName
                                            | capitalizeFirst}}
                                        </h6>
                                        <h6 class="font_user_size business-user-name" *ngIf="businessjson.businessUserName">
                                            {{businessjson.businessUserName | capitalizeFirst}}
                                        </h6>
                                        <div class="address no-padding single-loc"
                                            *ngIf="locationjson && locationjson.length == 1">
                                            <span *ngIf="!locationjson[0].isPlaceisSame"><a [href]="locationjson[0].googleMapUrl"
                                                    target="_blank" *ngIf="locationjson[0].googleMapUrl!=''"><i
                                                        class="fa fa-map-marker"></i>&nbsp;{{locationjson[0].place |
                                                    capitalizeFirst}}</a>
                                                        </span>
                                            <span *ngIf="locationjson[0].isPlaceisSame"><a [href]="locationjson[0].googleMapUrl"
                                                    target="_blank" *ngIf="locationjson[0].googleMapUrl!=''"><i
                                                        class="fa fa-map-marker"></i>
                                                    {{locationjson[0].address.substr(0, locationjson[0].address.split(',',
                                                    2).join(',').length)}}</a>
                                            </span>
                                        </div>
                                    <hr/>
                                    <mat-divider></mat-divider>
                                    
                                    <mat-divider></mat-divider>
                                </mat-sidenav>
                                <mat-sidenav-content>
                                     <div class="panel-body">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 panel no-padding">
                                        <div class="serv-head service-serv-head col-md-12 col-xs-12 col-sm-12">
                                                    <h4 class="department-title p-2 d-block m0 sp-head mgn-bt-10 dept-title-h4"
                                                        *ngIf="deptname">
                                                        {{deptname}}
                                                    </h4>
                                                    <hr class="my-4" *ngIf="deptname" />
                                                   
                                                <div class="modal-body service-detail-content service-popup-content">
                                                    <div class="servicedet_outer" *ngIf="servicedetails && servicedetails.name !==''">
                                                        <div class="outer">
                                                                <div class="busname" *ngIf="servicename"
                                                                [innerHTML]="servicename | nl2br">
                                                            </div>
                                                            <div class="outer1 line" *ngIf="servicedetails && servicedetails.description">
                                                                <div class="description" *ngIf="servicedetails && servicedetails.description"
                                                                    [innerHTML]="servicedetails.description | nl2br">
                                                                </div>
                                                            </div>
                                                            <div class="outer5 service-duration" *ngIf="servicedetails && servicedetails.serviceDuration && !is_donation_serv">
                                                                <div class="duration">
                                                                    <span>{{service_duration}} : </span>
                                                                    <span style="font-weight: bold">
                                                                        {{HHMM}}
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <div class="outer3" *ngIf="servicedetails && servicedetails.totalAmount && servicedetails.totalAmount != 0">
                                                                <div class="duration">
                                                                    <span class="data-label"> {{(sector =='healthCare') ? 'Consultation' : ' Service'}} Fee : </span>
                                                                    <span style="font-weight: bold" class="rupee-font data-value">
                                                                        <i class='fa fa-inr'></i>{{servicedetails.totalAmount | currency: '':''}}
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <div class="outer4"
                                                                *ngIf="servicedetails && servicedetails.isPrePayment && servicedetails.minPrePaymentAmount != servicedetails.totalAmount">
                                                                <div class="prepayment">
                                                                    <span class="data-label">Advance Payment : </span>
                                                                    <span style="font-weight: bold" class="rupee-font data-value">
                                                                        <i class="fa fa-inr"></i>{{servicedetails.minPrePaymentAmount | currency: '':''}}
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <div class="outer4 tax" *ngIf="servicedetails && servicedetails.taxable">
                                                                <span class="data-label">Tax Applicable : </span>
                                                                <span style="font-weight: bold" class="data-value">
                                                                    Yes
                                                                </span>
                                                            </div>
                                                            <div class="outer4" *ngIf="servicedetails && servicedetails.prePayment">
                                                                <div class="prepayment">
                                                                    <span class="data-label">{{prepayment_amount}} : </span>
                                                                    <span style="font-weight: bold" class="rupee-font data-value">
                                                                        <i class="fa fa-inr"></i>{{servicedetails.minAmount | currency: '':''}}
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <div class="outer5 donation" *ngIf="servicedetails && is_donation_serv">
                                                                <div class="duration">
                                                                    <span class="data-label">Min amount : </span>
                                                                    <span class="data-value" *ngIf="servicedetails && servicedetails.minValue" style="font-weight: bold">
                                                                        {{servicedetails.minValue}}
                                                                    </span>
                                                                    <span *ngIf="servicedetails && servicedetails.minDonationAmount" style="font-weight: bold" class="rupee-font data-value">
                                                                        <i class="fa fa-inr"></i> {{servicedetails.minDonationAmount}}
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <div class="outer5 donation" *ngIf="servicedetails && is_donation_serv">
                                                                <div class="duration">
                                                                    <span class="data-label">Max amount : </span>
                                                                    <span class="data-value" *ngIf="servicedetails && servicedetails.maxValue" style="font-weight: bold">
                                                                        {{servicedetails.maxValue}}
                                                                    </span>
                                                                    <span *ngIf="servicedetails && servicedetails.maxDonationAmount" style="font-weight: bold" class="rupee-font data-value">
                                                                        <i class="fa fa-inr"></i> {{servicedetails.maxDonationAmount}}
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <div class="mgn-bt-5" *ngIf="servicedetails && servicedetails.minPrePaymentAmount == servicedetails.totalAmount">
                                                                Note: {{(sector=='healthCare') ? 'Consultation' : ' Service'}} fee should be paid in advance while
                                                                booking.
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div><hr>
                                            <ng-container>
                                                <div class="buttonsty" *ngFor="let sp of servicesAndProviders">
                                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mgn-bt-20 divshadow">
                                                           
                                                       <span> <span class="card-text peopleAhead font-normal" *ngIf="sp.type =='waitlist' && personsAheadText">{{personsAheadText}}</span>
                                                        <span class="card-text emptySpace" *ngIf="sp.type!='donation' && !personsAheadText"></span>
                                                            <span class="card-text availability" *ngIf="timings && sp.type =='waitlist'">{{timingCaption}}
                                                            <br /><b>{{timings}}</b>
                                                        </span>
                                                        <span class="card-text availability" *ngIf="timingsapt && sp.type =='appt'">{{timingCaptionapt}}
                                                                <br /><b>{{timingsapt}}</b>
                                                            </span>
                                                            <span class="card-text availability" *ngIf="!timings"></span> </span> <span class="pull-right mgncla"><button class="btn actionbtn btn-outline-warning" type="button" (click)="bttonClick(sp)">{{getButtontype(sp)}}</button></span>
                                                </div>
                                                </div>
                                            </ng-container>
                                            <ng-container *ngIf="donationServices && donationServices.length >0">
                                                <div class="buttonsty" *ngFor="let sp of donationServices">
                                                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 divshadow"> <span class="card-text donationAmount" *ngIf="sp.type=='donation'">
                                                                <span class="rupee-font bold">Donate <i class="fa fa-inr"></i> {{sp.item.minDonationAmount}}</span>
                                                                <span class="rupee-font bold" *ngIf="sp.item.maxDonationAmount != sp.item.minDonationAmount"> or more</span>
                                                      </span> <span class="pull-right mgncla"><button class="btn actionbtn " type="button"(click)="bttonClick(sp)">{{getButtontype(sp)}}</button> </span>
                                                    </div>
                                                </div>
                                            </ng-container>
                                        </div></div>
                            
                        </div>
                                    
                                </mat-sidenav-content>
                            </mat-sidenav-container>
                        
                       
                   
        </section>
       
       
       
       