.table{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

@media only screen and (max-width: 940px) {
    /* Force table to not be like tables anymore */
    .table-outer table, .table-outer thead, .table-outer tbody, .table-outer th, .table-outer td, .table-outer tr {
        display: block;
        font-size: .875rem;
    }
    /* Hide table headers (but not display: none;, for accessibility) */
    .table-outer thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    /*.table-outer tr { border: 1px solid #ccc; }*/
    .table-outer td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        /*padding-left: 50%; */
        white-space: normal;
        text-align: left;
        display: flex;
    }
    .table-outer td:before {
        /* Now like a table header */
        /*position: absolute;*/
        /* Top/left values mimic padding */
        top: 12px;
        left: 10px;
        width: 45%;
        padding-right: 10px;
        white-space: pre-wrap;
        text-align: left;
        font-weight: 600;
    }
    /*
    Label the data
    */
    .table-outer td:before {
        content: attr(data-title);
    }
}