@media (max-width: 1300px) {
  .mat-column-createdDate {
    flex: 0 0 165px;
  }
  .mat-column-mrNo {
    flex: 0 0 130px;
  }
  .mat-column-serviceName {
    flex: 0 0 170px;
  }
  .mat-column-bookingType {
    flex: 0 0 130px;
  }
}
.mat-column-medicalrecord {
  flex: 0 0 120px;
}
.mat-column-medicalrecord i, .mat-column-rx i, .mat-column-medicalrecord span, .mat-column-rx span {
  margin: auto;
}
.mat-column-rx {
  flex: 0 0 120px;
}
.highlight {
  background: rgb(84, 171, 241);
  /* blue */
}

mat-row:hover {
  background-color: #c8e9f3 !important;
}

mat-cell:first-of-type, mat-header-cell:first-of-type, mat-footer-cell:first-of-type {
  padding-left: 10px !important;
}