.question-box {
    margin-top: 10px;
}
.quest-outer {
    padding: 10px;
}
.error-msg {
    color: red;
}
.upload-btn {
    background: white;
    border: 1px solid;
    font-size: small;
}
::ng-deep .mat-checkbox-layout {
    font-weight: normal !important;
}
.force_center {
    margin-left: auto;
    margin-right: auto;
}
.input-group-text {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0.65rem 1rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #3F4254;
    text-align: center;
    white-space: nowrap;
    background-color: #F3F6F9 !important;
    border: 1px solid #E4E6EF !important;
    border-radius: 0.42rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    cursor: pointer;
}
.w_100 {
    width: 100%;
}
.img_fit {
    width: 120px;
    height: 120px;
}
.my-5 .card {
    /* box-shadow: 0 0 10px rgb(0 0 0 / 22%) !important; */
}
.dropzone .dropzone-default {
    border: 1px dashed #EBEDF3 !important;
}
.select-box {
    padding: 10px !important;
    border: 1px solid #E4E6EF !important;
    border-radius: 0.42rem !important;
}
.normal-btn {
    padding: 5px 20px;
    border: none !important;
}
.edit {
    padding: 3px 25px;
    border-radius: 20px !important;
}
.mgn-0 {
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-bottom: 10px !important;
}
.quest {
    font-size: 1.1rem !important;
}
.mt-3 a:hover {
    text-decoration: underline !important;
}
.dzimage, .dz-image {
    border: 1px dashed #ccc;
}
.gal_action {
    position: absolute;
    top: 11px;
    right: -10px;
    background: rgba(0,0,0,.5);
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}
.single-file {
    padding: 0px !important;
    text-align: initial !important;
    border: none !important;
}
.single-file .dz-preview {
    margin: 0px !important;
}
.single-file .gal_action {
    top: -5px !important;
}
.pro-only {
    float: right;
    color: red;
    font-size: 0.8rem;
}
.qnrDisableState .card,
.qnrDisableState .dropzone-default, 
.qnrDisableState .dz-image-preview {
    background: #eeeeee9e !important;
}