.mrNumber1{
  display: flex;
    grid-gap: 5px;
    gap: 5px;
    font-size: 14px;
    font-weight: 400;
    color: #8E9295;
    
}
.mrNumber2{
  display: flex;
    gap: 5px;
    color: #4B5057;
    font-size: 12px;
}
.dateClr{
  color: #000;
  font-size: 12px;
  font-weight: 600;
}
  .prescriptionNotes {
    flex-wrap: wrap;
  }


  .spaanOr {
    display: none;
  }

  .mobileDevice {
    display: block;
    width: 100%;
    height: 13px;
    border-bottom: 2px solid #E6E8EB;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 5px;
    background: #F9F9F9 !important;
  }

  .flexClass1 {
    flex-wrap: wrap;
    gap: 10px;
    /* flex-wrap: nowrap !important; */
    align-items: flex-start !important;
  }
  .date{
    display: block !important;
    margin-left: 5rem;
  }

  .infoDetails {
    display: flex;
    justify-content: space-between;
    align-items: end;
    grid-gap: 24px;
    gap: 15px;
    flex-wrap: wrap;
  }

  .nameClr {
    font-size: 13px;
    font-weight: 500;
    color: #8E9295;
  }

  .imageSize {
    height: 30px;
    width: 30px
  }

  .mobDevice {
    display: block !important;
  }

  .webDevice {
    display: none !important;
  }

  .elementTextClr {
    color: #06152B;
    font-size: 12px;
    font-weight: 600;
  }

  .dateCreate {
    justify-content: flex-start !important;
    margin:10px;
    min-width: 100px;
  }

  .clinicalOuter1 {
    height: 7rem !important;
  }

  .showHideClass{
    display: block !important;
    background: #EBEFF2 !important;
    border-radius: 8.66431px;
  }
 
  .date{
    margin-left: 5rem !important;
  }


.showHideClass{
  display: none ;
}
.showHideClassDesktop{
  display: flex ;
  // background: #EBEFF2 !important;
    border-radius: 8.66431px;
}
.flexClass1{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
// .mat-mdc-tab-body-content {
//   height: 100%;
//   overflow: hidden !important;
// }
.mat-tab-body-content 
{ overflow: hidden!important}
.notifilabel{
  overflow: hidden !important 
}

::ng-deep .mat-mdc-tab-body-content {
  
    width: 100%;
    height: 100%;
    overflow: hidden !important;
  
}
.galul {
  margin: 0 !important;
  padding: 0 !important;
  list-style: none !important;
}

.galul li {
  float: left !important;
 
}
.galimg_outer {
  position: relative !important;
  padding: 5px 10px 10px 5px !important;
}
.gal-input input {
  width: 70px !important;
  font-size: .7rem !important;
}

.gal_action {
  position: absolute !important;
  top: -5px !important;
  right: -3px !important;
  background: rgba(0, 0, 0, .5) !important;
  width: 15px !important;
  height: 15px !important;
  text-align: center !important;
  border-radius: 50% !important;
  cursor: pointer !important;
}
.bggrey
{
background-color: #f8f8f8!important;
/* padding: 15px!important; */
border-radius: 10px!important;
}
::ng-deep .bggrey .mat-mdc-standard-chip{
  
  background-color: #f8f8f8!important;
}
.noteDes{
  color: #272525;
    font-size: 13px;
    font-weight: 500;
}
@media (min-width: 599px) {
  .disply {
    display: none !important;
  }
}
@media (max-width: 600px) {
  .web {
    display: none !important;
  }
}
.teeth-view {
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
 font-weight: 600;
}
.teeth-summary{
  width: 100%;
  justify-content: space-between;
}
.flex-one-item{
  flex-direction: column;
  padding: 10px;
}
.flex-two-head {
  flex-direction: column;
}
.surface_select  {
  background-color: #eee;
  border-radius: 10px;
  border-bottom: 2px solid #F8F9FB !important;
}
::ng-deep .surface .mat-chip.mat-standard-chip, ::ng-deep .surface .mat-chip.mat-standard-chip:hover {
  background-color: #fff !important;
  color: #000 !important;
  border-radius: 5px !important;
  border:1px solid #ddd;
}
::ng-deep .surface .mat-chip-list-wrapper {
  margin-bottom: 0px !important;;
}
hr {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}
::ng-deep .surface .mat-chip.mat-standard-chip.selected {
  color: #0000ff !important;
}
.flex-one {
  width: 20%;
}
.flex-two {
  width: 60%;
}
.flex-three {
  width: 20%;
  justify-content: flex-start;
}
@media (max-width:600px) {
  .teeth-summary {
    flex-direction: column;
  }
  .flex-one,.flex-two,.flex-three {
    width: 100%;
  }
  .teeth-selection {
    max-height: 120px;
    overflow: auto;
  }
}
.tab-pane {
  padding:10px;
  background-color: #f7f7f7;
}
@media screen and (max-width: 768px){
h6 {
    font-size: .9rem !important;
}
}
