.mob-container {
    max-width: 320px !important;
}

.mob-container input {
    height:35px !important;
    border-left: 1px solid #ccc !important;
}
.highlight{
    background: #9e9e9e6e !important;
    cursor: not-allowed !important;
    opacity: 0.2;
    pointer-events: none !important;
  }
  .incomplete-msg {
    position: absolute !important;
    font-weight: 600 !important;
    font-size: 1rem !important;
    z-index: 4 !important;
    width: 100% !important;
    text-align: center !important;
    margin-top: 60px !important;
    color: green !important;
    right: 0px !important;
  }