.mat-grid-tile {
    box-shadow: 10px 10px 15px 0px #cccccc9c;
}
.new_svg .symbol-label {
    height: 70px !important;
    width: 70px !important;
    cursor: pointer !important;
}
.new_svg svg {
    height: 3rem !important;
    width: 5rem !important;
}
.mat-grid-tile .mat-grid-tile-footer {
    height: 30px !important;
    color: #1e4079 !important;
    background: none !important;
}
.wrap_it {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-right: auto !important;
    margin-left: auto !important;
}
.appt-icon {
    content: url(assets/images/myjaldee/Appoinment-01.svg);
    position: relative;
    padding-right: 1px;
    width: 45px;
}
.chckn-icon {
    content: url(assets/images/myjaldee/Checkin-01.svg);
    position: relative;
    padding-right: 1px;
    width: 45px;
}
.token-icon {
    content: url(assets/images/myjaldee/token-01.svg);
    position: relative;
    padding-right: 1px;
    width: 45px;
}
.container-quick-actions {
    border-top-right-radius: 8px !important;
    overflow: hidden !important;
    border-bottom-right-radius: 8px !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}
@media (max-width: 767px) {
    .container-quick-actions {
        border-top-left-radius: 8px !important;
        border-bottom-left-radius: 8px !important;
        margin-top: 0px !important;
    }
}
.container-quick-actions mat-grid-tile {
    box-shadow: none !important;
}
.container-quick-actions mat-grid-tile {
    box-shadow: none !important;
}
.container-quick-actions mat-grid-tile mat-grid-tile-footer {
    padding: 0 !important;
}
.container-quick-actions .heading {
    font-family: "Roboto", sans-serif !important;
    font-weight: 400 !important;
    font-size: 18px !important;
    color: #1E4079 !important;
}
.container-quick-actions mat-grid-tile mat-grid-tile-footer div {
    font-family: "Roboto", sans-serif !important;
    font-weight: 400 !important;
    font-size: 16px !important;
    color: #1E4079 !important;
}
.container-quick-actions .symbol-label {
    background: white !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
    width: 85px !important;
    height: 85px !important;
}
.card.card-custom.card-stretch.card-stretch-half.gutter-b {
    height: 400px !important;
}
.selectedAction .symbol-label {
    background: #00008b2b !important;
}
.fade {
    opacity: 1 !important;
}
.modal-footer .btn {
    margin: 0px 5px !important;
}
.container-quick-actions a {
    color: #305084 !important;
    font-size: 0.75rem !important;
    font-weight: 700 !important;
    text-transform: uppercase !important;
    width: 85px !important;
    text-align: right !important;
    float: right !important;
    height: 20px !important;
    line-height: 20px !important;
}