<div class="card card-custom container-quick-actions card-stretch card-stretch-half gutter-b">
    <div class="heading">Quick Actions
        <!-- <a data-toggle="modal" data-target="#exampleModalCenter">Edit</a> -->
    </div>
    <mat-grid-list cols="3" rowHeight="150px" [gutterSize]="'10px'">
        <mat-grid-tile *ngFor="let action of quickActions">
            <div class="symbol symbol-40 new_svg symbol-light-info" (click)="actionClicked(action.name)">
                <span class="symbol-label">
                    <span class="{{action.class}}">
                    </span>
                </span>
            </div>
            <mat-grid-tile-footer>
                <div class="font-size-xs text-dark-50 wrap_it font-weight-bolder">{{action.displayName}}</div>
            </mat-grid-tile-footer>
        </mat-grid-tile>
        <!-- <mat-grid-tile *ngIf="selectedActions.length < 6">
            <div class="symbol symbol-40 new_svg symbol-light-success" data-toggle="modal"
                data-target="#exampleModalCenter" (click)="addShortcutClicked()">
                <span class="symbol-label">
                    <span class="svg-icon svg-icon-success new_svg"><svg xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24"
                            version="1.1">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <rect fill="#000000" x="4" y="11" width="16" height="2" rx="1"></rect>
                                <rect fill="#000000" opacity="0.3"
                                    transform="translate(12.000000, 12.000000) rotate(-270.000000) translate(-12.000000, -12.000000) "
                                    x="4" y="11" width="16" height="2" rx="1"></rect>
                            </g>
                        </svg>
                    </span>
                </span>
            </div>
            <mat-grid-tile-footer>
                <div class="font-size-xs text-dark-50 wrap_it font-weight-bolder">Add Shortcut</div>
            </mat-grid-tile-footer>
        </mat-grid-tile> -->
    </mat-grid-list>
</div>
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body container-quick-actions">
                <mat-grid-list cols="3" rowHeight="150px" [gutterSize]="'10px'">
                    <mat-grid-tile *ngFor="let action of quickActions">
                        <div class="symbol symbol-40 new_svg symbol-light-info" (click)="selectAction(action)">
                            <span class="symbol-label">
                                <span class="{{action.class}}">
                                </span>
                            </span>
                        </div>
                        <mat-grid-tile-footer>
                            <div class="font-size-xs text-dark-50 wrap_it font-weight-bolder">{{action.displayName}}
                            </div>
                        </mat-grid-tile-footer>
                    </mat-grid-tile>
                </mat-grid-list>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal"
                    #closebutton>Cancel</button>
                <button type="button" class="btn btn-primary font-weight-bold hf-btn" (click)="addActions()">Ok</button>
            </div>
        </div>
    </div>
</div>