li.right{
    float: right;
}
a {
    color: #a2a3b7 !important;
}
.flex-row-auto {
    background-color: #1e1e2d !important;
    height: 100vh;   
    color: white
}
.menu-icon {
    width: 20px;
}
.active-menu, .active-menu i, .active-menu {
    color: white !important;
}