.mr-area {
  width: 100%;
}
#myCarousel .list-inline {
  white-space:nowrap;
  overflow-x:auto;
}

#myCarousel .carousel-indicators {
  position: static;
  left: initial;
  width: initial;
  margin-left: initial;
}

#myCarousel .carousel-indicators > li {
  width: initial;
  height: initial;
  text-indent: initial;
}

#myCarousel .carousel-indicators > li.active img {
  opacity: 0.7;
}

img.ordericon.pickup {
  width: 35px;
  height: 35px;
}
img.ordericon.home {
  width: 35px;
  height: 35px;
}

.item-details-consumer .btn-lt button, .item-details-consumer .btn-rt button {
  font-size: 1.25rem;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #fff !important;
  border-color: #ddd !important;
  border: 1px solid;
}

.item-details-consumer .btn-lt, .item-details-consumer .btn-rt {
  width: 35px;
  height: 35px;
}

.item-details-consumer .btn-lt button {
  border-top-left-radius: 20px 20px;
  border-bottom-left-radius: 20px 20px;
  padding-left: 13px !important;
}

.item-details-consumer .btn-rt button {
  border-top-right-radius: 20px 20px;
  border-bottom-right-radius: 20px 20px;
  padding-right: 13px !important;
}

.item-details-consumer .count-o {
  width: 35px !important;
  height: 32px !important;
  border: 1px solid #ddd !important;
  padding-top: 5px !important;
  text-align: center !important;
  font-size: .8rem !important;
}

.item-details-consumer .previews-container > .preview-inner-container > .preview-image {
  object-fit: scale-down !important;
}
#carousel-container img:hover {
 transform: none !important;
}
.pad-25 {
  padding:25px !important;
}

.question-header {
  color: #999 !important;
  /* font-size: 0.8rem !important; */
  font-weight: 500 !important;
  font-size: 0.9rem !important;
}

@media only screen and (max-width: 600px) {
  .item-details-consumer .count-o {
      height: 29px !important;
  }
  .owl-carousel .owl-item img{
    height:100px!important;
    }
}
.item-details-consumer .disabled1 {
  opacity: 0.5 !important;
  cursor: default !important;
  pointer-events: none !important;
}
.btncheckout {
  width: 100%;
  margin-top: 1%;
  border-radius: 20px;
  background-color: #183e7a;
  border: 1px solid  #183e7a;
  color:white;
 word-wrap: break-word;
  font-weight: 600;
  font-family: "Poppins";
  display: inline-block;
  margin-bottom: 2%;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  padding: 7px 0 7px 0px;
  /* font-size: 12px; */
  line-height: 1.42857143;
  /* border-bottom-left-radius: 10px; */

}
.btncheckout:hover{


  background-color:white;

  color:#183e7a;
 

}


.owl-carousel .owl-item img{
  height:285px!important;
  width:100%!important;
}
.imageitem{
  position: relative;
  overflow: hidden;
  /* margin-bottom: 80px; *//*This is optional*/
  display: flex;
  flex-direction: column;
  align-items:center; 

}
