<h1 class="mat-dialog-title"> Update Profile Picture<button mat-dialog-close class="modal_close"
    [disabled]="canceldisabled"><i class="fa fa-window-close" aria-hidden="true"></i></button></h1>

<mat-dialog-content>
  <div>
    <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="4 / 3"
      [resizeToWidth]="128" format="png" (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()"
      (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()"></image-cropper>

    <img class="glbl-seting-img-smal" [src]="croppedImage" />
  </div>
  <div *ngIf="!imageChangedEvent" class="upload-doc" (click)="filed.click()">
    <label class="col-form-label">Select a photo</label>
    <span class="select-wrapper ">
      <input type="file" name="image_src" id="image_src" accept="/*;capture=camera" #filed
        (change)="imageSelect($event)">
    </span>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="col-md-12" style="margin-top: 15px;display: inline-flex;">
    <button type="button" mat-dialog-close class="cs-btn bt2" [disabled]="canceldisabled">Cancel</button>
    <button (click)="saveImages()" *ngIf="imageChangedEvent && imageChangedEvent.target.files" mat-button class="cs-btn bt1"
      [disabled]="savedisabled">Save</button>
  </div>
</mat-dialog-actions>