<div class="mat-expansion-panel-content " *ngIf="isLoaded && showClinicalNotesDetails!=='true'"
  style="margin-top: 10px;">
  <div class="w-dta">
    <div class="card">
      <div>
        <span class="table-heading"><b>Clinical Notes</b></span>
        <!-- <span *ngIf="tempClinicalNOtes"> <img style="height:17px;width:17px" src="/assets/images/medicalReportIcon/delete.png"  (click)="goback('medical')" /></span> -->
      </div><br>
      <div class="section_border">  
      <div class="form-group" *ngIf="!suggestions || !suggestions.symptoms || suggestions.symptoms.length == 0">
        <label>Symptoms</label>
        <div class="input-group">
          <div class="input-group-prepend"></div>
          <textarea #clinicalNotesTypeSymptomsSymptoms [(ngModel)]="clinicalNotesTypeSymptoms"
            (keyup)="autoGrowTextZone($event)" type="text" class="form-control"
            placeholder="Enter Symptoms instructions" maxlength="500"></textarea>
        </div>
      </div>
      <div>
        
          <div>
            
            <div class="fieldPadding photo-border">
              <div class='file file--upload'>
                <label for='symptomsAttach' (click)="symptomsAttach.click()">
                  Upload File
                </label>
                <input #symptomsAttach type='file' (change)="filesSelected($event,'Symptoms')"
                  accept="image/*;capture=camera" />
              </div>
            </div>
            <div class="img-section clearfix"
              *ngIf="selectedFiles['Symptoms'] && selectedFiles['Symptoms'].files && selectedFiles['Symptoms'].files.length > 0">
              <ul class="galul">
                <li *ngFor="let file of selectedFiles['Symptoms'].files;let i = index ">
                  <div class="galimg_outer">
                    <div class="gal_img pointer-cursor">
                      <img [src]="getImage(selectedFiles['Symptoms'].base64[i], file)"
                        *ngIf="selectedFiles['Symptoms'].base64[i]" width="100px" height="100px">
                      <a [href]="file.s3path" target="_blank">
                        <img [src]="getImagefromUrl(file.s3path,file)"
                          *ngIf="!selectedFiles['Symptoms'].base64[i] && file.s3path" width="100px" height="100px">
                      </a>
                    </div>
                    <div class="gal_action" (click)="deleteTempImage(i, 'Symptoms',file)">
                      <i class=" fa fa-times-circle" aria-hidden="true"></i>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        
      </div>
     
      <div class="form-group mgn-up-10" *ngIf="suggestions && suggestions.symptoms && suggestions.symptoms.length > 0">
        <!-- <mat-form-field class="example-chip-list" appearance="fill"> -->
        <label>Symptoms</label>
        <mat-chip-list #chipSymptomsList aria-label="Symptoms selection" class="mat-wrap">
          <mat-chip *ngFor="let symptom of clinicalNotesTypeSymptoms" (removed)="removeSymptoms(symptom)">
            {{symptom}}
            <button matChipRemove>
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>
          <input class="form-control" placeholder="Enter symptoms instructions" #symptomsInput
            [formControl]="symptomsCtrl" [matAutocomplete]="auto1" [matChipInputFor]="chipSymptomsList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="addSymptoms($event)">
        </mat-chip-list>
        <mat-autocomplete #auto1="matAutocomplete" (optionSelected)="selected($event)">
          <mat-option *ngFor="let symptom of filteredSymptoms | async" [value]="symptom">
            {{symptom}}
          </mat-option>
        </mat-autocomplete>
        <!-- </mat-form-field> -->
      </div>
    </div>
    <br> <br>
    <div  class="section_border">  
      <div class="form-group" *ngIf="!suggestions || !suggestions.observations || suggestions.observations.length == 0">
        <label>Observations</label>
        <div class="input-group">
          <div class="input-group-prepend"></div>
          <textarea #clinicalNotesTypeObservationsObservations [(ngModel)]="clinicalNotesTypeObservations"
            (keyup)="autoGrowTextZone($event)" type="text" class="form-control"
            placeholder="Enter Observations instructions" maxlength="500"></textarea>
        </div>
      </div>
      <div>
       
          <div>
            
            <div class="fieldPadding photo-border">
              <div class='file file--upload'>
                <label for='observationsAttach' (click)="observationsAttach.click()">
                  Upload File
                </label>
                <input #observationsAttach type='file' (change)="filesSelected($event,'Observations')"
                  accept="image/*;capture=camera" />
              </div>
            </div>
            <div class="img-section clearfix"
              *ngIf="selectedFiles['Observations'] && selectedFiles['Observations'].files && selectedFiles['Observations'].files.length > 0">
              <ul class="galul">
                <li *ngFor="let file of selectedFiles['Observations'].files;let i = index ">
                  <div class="galimg_outer">
                    <div class="gal_img pointer-cursor">
                      <img [src]="getImage(selectedFiles['Observations'].base64[i], file)"
                        *ngIf="selectedFiles['Observations'].base64[i]" width="100px" height="100px">
                      <a [href]="file.s3path" target="_blank">
                        <img [src]="getImagefromUrl(file.s3path,file)"
                          *ngIf="!selectedFiles['Observations'].base64[i] && file.s3path" width="100px" height="100px">
                      </a>
                    </div>
                    <div class="gal_action" (click)="deleteTempImage(i, 'Observations',file)">
                      <i class=" fa fa-times-circle" aria-hidden="true"></i>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
     
      <div class="form-group mgn-up-10"
        *ngIf="suggestions && suggestions.observations && suggestions.observations.length > 0">
        <!-- <mat-form-field class="example-chip-list" appearance="fill"> -->
        <label>Observations</label>
        <mat-chip-list #chipObservationsList aria-label="Observations selection" class="mat-wrap">
          <mat-chip *ngFor="let observation of clinicalNotesTypeObservations"
            (removed)="removeObservations(observation)">
            {{observation}}
            <button matChipRemove>
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>
          <input class="form-control" placeholder="Enter observations instructions" #observationsInput
            [formControl]="observationsCtrl" [matAutocomplete]="auto2" [matChipInputFor]="chipObservationsList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodesO" (matChipInputTokenEnd)="addObservations($event)">
        </mat-chip-list>
        <mat-autocomplete #auto2="matAutocomplete" (optionSelected)="selectedObservation($event)">
          <mat-option *ngFor="let observation of filteredObservations | async" [value]="observation">
            {{observation}}
          </mat-option>
        </mat-autocomplete>
        <!-- </mat-form-field> -->
      </div>

      </div>   <br>
<div class="section_border">
      <div class="form-group" *ngIf="!suggestions || !suggestions.diagnosis || suggestions.diagnosis.length == 0">
        <label>Diagnosis</label>
        <div class="input-group">
          <div class="input-group-prepend"></div>
          <textarea #clinicalNotesTypeDiagnosisDiagnosis [(ngModel)]="clinicalNotesTypeDiagnosis"
            (keyup)="autoGrowTextZone($event)" type="text" class="form-control"
            placeholder="Enter Diagnosis instructions" maxlength="500"></textarea>
        </div>
      </div>
      <div>
        
          <div>
            
            <div class="fieldPadding photo-border">
              <div class='file file--upload'>
                <label for='diagnosisAttach' (click)="diagnosisAttach.click()">
                  Upload File
                </label>
                <input #diagnosisAttach type='file' (change)="filesSelected($event,'Diagnosis')"
                  accept="image/*;capture=camera" />
              </div>
            </div>
            <div class="img-section clearfix"
              *ngIf="selectedFiles['Diagnosis'] && selectedFiles['Diagnosis'].files && selectedFiles['Diagnosis'].files.length > 0">
              <ul class="galul">
                <li *ngFor="let file of selectedFiles['Diagnosis'].files;let i = index ">
                  <div class="galimg_outer">
                    <div class="gal_img pointer-cursor">
                      <img [src]="getImage(selectedFiles['Diagnosis'].base64[i], file)"
                        *ngIf="selectedFiles['Diagnosis'].base64[i]" width="100px" height="100px">
                      <a [href]="file.s3path" target="_blank">
                        <img [src]="getImagefromUrl(file.s3path,file)"
                          *ngIf="!selectedFiles['Diagnosis'].base64[i] && file.s3path" width="100px" height="100px">
                      </a>
                    </div>
                    <div class="gal_action" (click)="deleteTempImage(i, 'Diagnosis',file)">
                      <i class=" fa fa-times-circle" aria-hidden="true"></i>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
     
      <div class="form-group mgn-up-10"
        *ngIf="suggestions && suggestions.diagnosis && suggestions.diagnosis.length > 0">
        <!-- <mat-form-field class="example-chip-list" appearance="fill"> -->
        <label>Diagnosis</label>
        <mat-chip-list #chipDiagnosisList aria-label="Diagnosis selection" class="mat-wrap">
          <mat-chip *ngFor="let diagnosis of clinicalNotesTypeDiagnosis" (removed)="removeDiagnosis(diagnosis)">
            {{diagnosis}}
            <button matChipRemove>
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>
          <input class="form-control" placeholder="Enter diagnosis instructions" #diagnosisInput
            [formControl]="diagnosisCtrl" [matAutocomplete]="auto3" [matChipInputFor]="chipDiagnosisList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodesO" (matChipInputTokenEnd)="addDiagnosis($event)">
        </mat-chip-list>
        <mat-autocomplete #auto3="matAutocomplete" (optionSelected)="selectedDiagnosis($event)">
          <mat-option *ngFor="let diagnosis of filteredDiagnosis | async" [value]="diagnosis">
            {{diagnosis}}
          </mat-option>
        </mat-autocomplete>
        <!-- </mat-form-field> -->
      </div>
    </div>
    <br>
<div class="section_border">


      <div class="form-group" *ngIf="!suggestions || !suggestions.notes || suggestions.notes.length == 0">
        <label>Notes</label>
        <div class="input-group">
          <div class="input-group-prepend"></div>
          <textarea #clinicalNotesNotesNotes [(ngModel)]="clinicalNotesNotes" (keyup)="autoGrowTextZone($event)"
            type="text" class="form-control" placeholder="Enter Notes instructions" maxlength="500"></textarea>
        </div>
      </div>
      <div>
        
          <div>
            
            <div class="fieldPadding photo-border">
              <div class='file file--upload'>
                <label for='notesAttach' (click)="notesAttach.click()">
                  Upload File
                </label>
                <input #notesAttach type='file' (change)="filesSelected($event,'Notes')"
                  accept="image/*;capture=camera" />
              </div>
            </div>
            <div class="img-section clearfix"
              *ngIf="selectedFiles['Notes'] && selectedFiles['Notes'].files && selectedFiles['Notes'].files.length > 0">
              <ul class="galul">
                <li *ngFor="let file of selectedFiles['Notes'].files;let i = index ">
                  <div class="galimg_outer">
                    <div class="gal_img pointer-cursor">
                      <img [src]="getImage(selectedFiles['Notes'].base64[i], file)"
                        *ngIf="selectedFiles['Notes'].base64[i]" width="100px" height="100px">
                      <a [href]="file.s3path" target="_blank">
                        <img [src]="getImagefromUrl(file.s3path,file)"
                          *ngIf="!selectedFiles['Notes'].base64[i] && file.s3path" width="100px" height="100px">
                      </a>
                    </div>
                    <div class="gal_action" (click)="deleteTempImage(i, 'Notes',file)">
                      <i class=" fa fa-times-circle" aria-hidden="true"></i>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
     
     
      <div class="form-group mgn-up-10" *ngIf="suggestions && suggestions.notes && suggestions.notes.length > 0">
        <!-- <mat-form-field class="example-chip-list" appearance="fill"> -->
        <label>Notes</label>
        <mat-chip-list #chipNotesList aria-label="Notes selection" class="mat-wrap">
          <mat-chip *ngFor="let notes of clinicalNotesNotes" (removed)="removeNotes(notes)">
            {{notes}}
            <button matChipRemove>
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>
          <input class="form-control" placeholder="Enter notes instructions" #notesInput [formControl]="notesCtrl"
            [matAutocomplete]="auto4" [matChipInputFor]="chipNotesList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodesO" (matChipInputTokenEnd)="addNotes($event)">
        </mat-chip-list>
        <mat-autocomplete #auto4="matAutocomplete" (optionSelected)="selectedNotes($event)">
          <mat-option *ngFor="let notes of filteredNotes | async" [value]="notes">
            {{notes}}
          </mat-option>
        </mat-autocomplete>
        <!-- </mat-form-field> -->
      </div>
    </div>
    <br>
<div class="section_border">

      <div class="form-group" *ngIf="!suggestions || !suggestions.allergies || suggestions.allergies.length == 0">
        <label>Allergies</label>
        <div class="input-group">
          <div class="input-group-prepend"></div>
          <textarea #clinicalNotesAllergiesAllergies [(ngModel)]="clinicalNotesAllergies"
            (keyup)="autoGrowTextZone($event)" type="text" class="form-control"
            placeholder="Enter Allergies instructions" maxlength="500"></textarea>
        </div>
      </div>
      <div>
        
          <div>
            
            <div class="fieldPadding photo-border">
              <div class='file file--upload'>
                <label for='allergiesAttach' (click)="allergiesAttach.click()">
                  Upload File
                </label>
                <input #allergiesAttach type='file' (change)="filesSelected($event,'Allergies')"
                  accept="image/*;capture=camera" />
              </div>
            </div>
            <div class="img-section clearfix"
              *ngIf="selectedFiles['Allergies'] && selectedFiles['Allergies'].files && selectedFiles['Allergies'].files.length > 0">
              <ul class="galul">
                <li *ngFor="let file of selectedFiles['Allergies'].files;let i = index ">
                  <div class="galimg_outer">
                    <div class="gal_img pointer-cursor">
                      <img [src]="getImage(selectedFiles['Allergies'].base64[i], file)"
                        *ngIf="selectedFiles['Allergies'].base64[i]" width="100px" height="100px">
                      <a [href]="file.s3path" target="_blank">
                        <img [src]="getImagefromUrl(file.s3path,file)"
                          *ngIf="!selectedFiles['Allergies'].base64[i] && file.s3path" width="100px" height="100px">
                      </a>
                    </div>
                    <div class="gal_action" (click)="deleteTempImage(i, 'Allergies',file)">
                      <i class=" fa fa-times-circle" aria-hidden="true"></i>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        
      </div>
    
      <div class="form-group mgn-up-10"
        *ngIf="suggestions && suggestions.allergies && suggestions.allergies.length > 0">
        <!-- <mat-form-field class="example-chip-list" appearance="fill"> -->
        <label>Allergies</label>
        <mat-chip-list #chipAllergiesList aria-label="Allergies selection" class="mat-wrap">
          <mat-chip *ngFor="let allergy of clinicalNotesAllergies" (removed)="removeAllergies(allergy)">
            {{allergy}}
            <button matChipRemove>
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>
          <input class="form-control" placeholder="Enter allergy instructions" #allergiesInput
            [formControl]="allergiesCtrl" [matAutocomplete]="auto5" [matChipInputFor]="chipAllergiesList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodesO" (matChipInputTokenEnd)="addAllergies($event)">
        </mat-chip-list>
        <mat-autocomplete #auto5="matAutocomplete" (optionSelected)="selectedAllergy($event)">
          <mat-option *ngFor="let allergy of filteredAllergies | async" [value]="allergy">
            {{allergy}}
          </mat-option>
        </mat-autocomplete>
        <!-- </mat-form-field> -->
      </div>
    </div> <br>
    <div class="section_border">
      <div class="form-group" *ngIf="!suggestions || !suggestions.complaints || suggestions.complaints.length == 0">
        <label>Complaints</label>
        <div class="input-group">
          <div class="input-group-prepend"></div>
          <textarea #clinicalNotesComplaintsComplaints [(ngModel)]="clinicalNotesComplaints"
            (keyup)="autoGrowTextZone($event)" type="text" class="form-control"
            placeholder="Enter Complaints instructions" maxlength="500"></textarea>
        </div>
      </div>
      <div>
       
          <div>
            
            <div class="fieldPadding photo-border">
              <div class='file file--upload'>
                <label for='complaintsAttach' (click)="complaintsAttach.click()">
                  Upload File
                </label>
                <input #complaintsAttach type='file' (change)="filesSelected($event,'Complaints')"
                  accept="image/*;capture=camera" />
              </div>
            </div>
            <div class="img-section clearfix"
              *ngIf="selectedFiles['Complaints'] && selectedFiles['Complaints'].files && selectedFiles['Complaints'].files.length > 0">
              <ul class="galul">
                <li *ngFor="let file of selectedFiles['Complaints'].files;let i = index ">
                  <div class="galimg_outer">
                    <div class="gal_img pointer-cursor">
                      <img [src]="getImage(selectedFiles['Complaints'].base64[i], file)"
                        *ngIf="selectedFiles['Complaints'].base64[i]" width="100px" height="100px">
                      <a [href]="file.s3path" target="_blank">
                        <img [src]="getImagefromUrl(file.s3path,file)"
                          *ngIf="!selectedFiles['Complaints'].base64[i] && file.s3path" width="100px" height="100px">
                      </a>
                    </div>
                    <div class="gal_action" (click)="deleteTempImage(i, 'Allergies',file)">
                      <i class=" fa fa-times-circle" aria-hidden="true"></i>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        
      </div>
     
      <div class="form-group mgn-up-10"
        *ngIf="suggestions && suggestions.complaints && suggestions.complaints.length > 0">
        <!-- <mat-form-field class="example-chip-list" appearance="fill"> -->
        <label>Complaints</label>
        <mat-chip-list #chipComplaintsList aria-label="Complaints selection" class="mat-wrap">
          <mat-chip *ngFor="let allergy of clinicalNotesComplaints" (removed)="removeComplaints(allergy)">
            {{allergy}}
            <button matChipRemove>
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>
          <input class="form-control" placeholder="Enter complaints instructions" #complaintsInput
            [formControl]="complaintsCtrl" [matAutocomplete]="auto6" [matChipInputFor]="chipComplaintsList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodesO" (matChipInputTokenEnd)="addComplaints($event)">
        </mat-chip-list>
        <mat-autocomplete #auto6="matAutocomplete" (optionSelected)="selectedComplaints($event)">
          <mat-option *ngFor="let complaint of filteredComplaints | async" [value]="complaint">
            {{complaint}}
          </mat-option>
        </mat-autocomplete>
        <!-- </mat-form-field> -->
      </div>
    </div> <br>
    <div class="section_border">
      <div class="form-group"
        *ngIf="!suggestions || !suggestions.vaccinationNotes || suggestions.vaccinationNotes.length == 0">
        <label>Vaccination Notes</label>
        <div class="input-group">
          <div class="input-group-prepend"></div>
          <textarea #clinicalNotesVaccinationNotesVaccinationNotes [(ngModel)]="clinicalNotesVaccinationNotes"
            (keyup)="autoGrowTextZone($event)" type="text" class="form-control"
            placeholder="Enter Vaccination Notes instructions" maxlength="500"></textarea>
        </div>
      </div>
      <div>
       
          <div>
            
            <div class="fieldPadding photo-border">
              <div class='file file--upload'>
                <label for='vaccinationNotesAttach' (click)="vaccinationNotesAttach.click()">
                  Upload File
                </label>
                <input #vaccinationNotesAttach type='file' (change)="filesSelected($event,'Vaccination Notes')"
                  accept="image/*;capture=camera" />
              </div>
            </div>
            <div class="img-section clearfix"
              *ngIf="selectedFiles['Vaccination Notes'] && selectedFiles['Vaccination Notes'].files && selectedFiles['Vaccination Notes'].files.length > 0">
              <ul class="galul">
                <li *ngFor="let file of selectedFiles['Vaccination Notes'].files;let i = index ">
                  <div class="galimg_outer">
                    <div class="gal_img pointer-cursor">
                      <img [src]="getImage(selectedFiles['Vaccination Notes'].base64[i], file)"
                        *ngIf="selectedFiles['Vaccination Notes'].base64[i]" width="100px" height="100px">
                      <a [href]="file.s3path" target="_blank">
                        <img [src]="getImagefromUrl(file.s3path,file)"
                          *ngIf="!selectedFiles['Vaccination Notes'].base64[i] && file.s3path" width="100px" height="100px">
                      </a>
                    </div>
                    <div class="gal_action" (click)="deleteTempImage(i, 'Vaccination Notes',file)">
                      <i class=" fa fa-times-circle" aria-hidden="true"></i>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
       
      </div> 
    </div>
   
    <div class="form-group mgn-up-10"
      *ngIf="suggestions && suggestions.vaccinationNotes && suggestions.vaccinationNotes.length > 0">
      <!-- <mat-form-field class="example-chip-list" appearance="fill"> -->
      <label>Vaccination Notes</label>
      <mat-chip-list #chipVaccinationNotesList aria-label="VaccinationNotes selection" class="mat-wrap">
        <mat-chip *ngFor="let notes of clinicalNotesVaccinationNotes" (removed)="removeVaccinationNotes(notes)">
          {{notes}}
          <button matChipRemove>
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip>
        <input class="form-control" placeholder="Enter vaccination notes instructions" #vaccinationNotesInput
          [formControl]="vaccinationNotesCtrl" [matAutocomplete]="auto7" [matChipInputFor]="chipVaccinationNotesList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodesO" (matChipInputTokenEnd)="addVaccinationNotes($event)">
      </mat-chip-list>
      <mat-autocomplete #auto7="matAutocomplete" (optionSelected)="selectedVaccinationNotes($event)">
        <mat-option *ngFor="let notes of filteredVaccinationNotes | async" [value]="notes">
          {{notes}}
        </mat-option>
      </mat-autocomplete>
      <!-- </mat-form-field> -->
    </div>
  </div>
    <div>
      <!-- <button type="button" class="btn btn-primary font-weight-bold cancelBtn" (click)="goback('medical')">Cancel</button> -->
      <button type="button" class="btn btn-primary font-weight-bold confirmBtn btnWidth" (click)="saveClinicalNotes(clinicalNotesTypeSymptoms,clinicalNotesTypeObservations,clinicalNotesTypeDiagnosis,clinicalNotesNotes
          ,clinicalNotesAllergies,clinicalNotesComplaints,clinicalNotesVaccinationNotes)" [disabled]="sign">
        <span *ngIf="!api_loading">{{btnName}}</span>
        <app-common-innerloading-spinner [spinnerParams]="{diameter:30}" *ngIf="api_loading">
        </app-common-innerloading-spinner>
      </button>
    </div>
  </div>
</div>
<div *ngIf="isLoaded && showClinicalNotesDetails==='true'">
  <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 no-padding shadow mgn-bt-10" *ngIf="clinicalNotes.length>0">
    <div class="p-1 pl0 pt-0 col-md-8 col-xs-12 col-sm-12 col-lg-8 prescriptionCreate">
      <div class="flexClass">
        <div class="table-heading">Clinical Notes</div>
        <div (click)="updateClinicalNotes(clinicalNotes)" #tooltip="matTooltip" matTooltip="Edit"
          [matTooltipPosition]="'below'">
          <img style="height:20px;width:20px" src="/assets/images/medicalReportIcon/edit.png" />
        </div>
      </div>
      <div *ngFor="let item of clinicalNotes">
        <div *ngIf="item && item.clinicalNotes"
          [ngStyle]="{'background': getColor(item),'border-left':getBorderColor(item)}"
          class="shadow clinicalNotesList">
          <div class="notelabel" [ngStyle]="{'color':getColorType(item)}">
            <div *ngIf="item && item.type && item.clinicalNotes">{{item.type}}</div>
            <div class="noteDes" *ngIf="item && item.clinicalNotes">{{item.clinicalNotes}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>