.div1 {
  width: 1000px;
  height: 100px;
  border: 1px solid blue;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 100%;
  padding: 10px;
  border: 1px solid #000
}

.columnx {
  float: left;
  width: 100%;
  padding: 10px;
  ;
  border: 1px solid #000
}

.row {
  padding: 20px;
  padding-bottom: 0px;
}

.btn-primary {
  background-color: #1E4079 !important;
  border-radius: 10px !important;
  font-size: 13px !important;
  padding: 7px 25px !important;
}

.bggrey {
  background-color: #f9f9f9 !important;
  padding: 15px !important;
  border-radius: 10px !important;
}

.fa-angle {
  font-size: 20px !important;
}

.collapsed .fa-angle-down {
  transform: rotate(180deg);
  transition: .3s ease-in-out;
}

.card {
  border-radius: 10px !important;
}
.table-heading {
  font-size: 15px !important;
    color: #1DA192;
    font-weight: 600;
    margin-bottom: 10px;
}
.form-control {
  display: block !important;
  width: 100% !important;
  height: 35px;
  font-size: 14px !important;
  line-height: 1.42857143 !important;
  color: black !important;
  background-image: none !important;
  background: #F7F7F7 !important;
  border-radius: 6px !important;
  border: 1px solid #fff !important;

}
textarea{
  resize: none;
}
.cancelBtn {
  background: #A8ABAF !important;
  box-shadow: 0.417685px 2.50611px 8.77138px 1.25305px rgba(30, 64, 121, 0.15) !important;
  border-radius: 3.75916px !important;
  border: 0px solid !important;
  margin-right: 10px !important;
  padding: 6px 10px;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
}

.confirmBtn {
  background: #0D2348 !important;
  box-shadow: 0.417685px 2.50611px 8.77138px 1.25305px rgba(30, 64, 121, 0.15) !important;
  border-radius: 3.75916px !important;
  border: 0px solid !important;
  padding: 6px 12px;
  color: #fff;
}
.prescriptionNotes{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.prescriptionCreate{
  width: 100% !important;
}
.shadow {
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1)!important;
  padding: 10px !important;
  /* border: 1px solid rgb(231, 228, 228) !important; */
  background: #FFFFFF;
  border-radius: 10px;
}
.clinicalNotesList{
  margin-bottom: 10px;
    border-radius: 2.47792px !important;
    /* background: rgba(0, 222, 213, 0.05); */
    /* border-left: 2px solid #00DED5 !important; */
}
.notelabel{
  font-size: 14px;
    font-weight: bold;
}
.noteDes{
  color: #272525;
    font-size: 13px;
    font-weight: 500;
}
.flexClass{
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.btnWidth{
  width: 25%
}
@media(max-width: 800px){
  .btnWidth{
    width: 100% !important;
  }
}
