<div class="mat-expansion-panel-content " *ngIf="isLoaded && showClinicalNotesDetails!=='true'">
  <div class="w-dta">
    <!-- <div class="row no-padding-small">
      <div class="bggrey copy one col-xs-12 col-sm-12 no-padding">
        <h5 class="mb-3"><b></b></h5>
        <div class="mgn-bt-10" *ngFor="let entry of clinicalNotes">
          <div class="col-a col-b cd-b pl0 my-3 col-md-6 col-lg-6 col-xs-12 col-sm-12">
            <div class="p0 w-dta active no-padding">
              <div class="div-outline custId-cursor" (click)="addOrEditClinicalNotes(entry)">
                <div>
                  <div>
                    <i [className]="'mricons pull-left fa mr-'+entry.id +'-icon'"></i>
                  </div>
                  <div class="pull-left heading3 p6">{{entry.displayName}}</div>
                  <div>
                    <button type="button" mat-button style="float: right;" class="pull-right btn btn-primary">{{
                      entry.value == '' ? 'Add' : 'Edit' }}</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <div class="card">
      <div>
        <span class="table-heading"><b>Clinical Notes</b></span>
      </div>
      <!-- {{clinicalNotes | json}} -->
      <div *ngFor="let list of clinicalNotes;let i = index;">
        <div class="form-group">
          <label>{{list.displayName }}</label>
          <div class="input-group">
            <div class="input-group-prepend"></div>
            <textarea #clinicalNotesType  [(ngModel)]="list.value" (ngModelChange)="handleClinicalNotes(clinicalNotesType.value,list.displayName)"  
            (keyup)="autoGrowTextZone($event)"  type="text" class="form-control"  
              placeholder="Enter {{list.displayName}} instructions" maxlength="500"></textarea>
          </div>
        </div>
      </div>
      <div>
        <button type="button" class="btn btn-primary font-weight-bold cancelBtn" (click)="goback()">Cancel</button>
        <button type="button" class="btn btn-primary font-weight-bold confirmBtn" 
          (click)="saveClinicalNotes()">Save</button>
      </div>
    </div>
  </div>
</div>






<div  *ngIf="isLoaded && showClinicalNotesDetails==='true'" >
  <!-- class="mat-expansion-panel-content" -->
  <!-- {{showClinicalNotesDetails | json}} -->
  <!-- <div class="w-dta">
    <h5 class="ml-1 mb-1"><b>Clinical Notes</b></h5>
    <div class="row no-padding-small">
      <div class="bggrey copy one col-xs-12 col-sm-12 no-padding">
        <h5 class="mb-3"><b></b></h5>
        <div class="mgn-bt-10" *ngFor="let entry of clinicalNotes">
          {{entry | json}}
          <div class="card col-a col-b cd-b my-3 col-md-12 col-lg-12 col-xs-12 col-sm-12">
            <div class="p0 w-dta active no-padding">
              <div class="custId-cursor">
                <div data-toggle="collapse" [attr.data-target]="'#collapse'+entry.displayName.replace(' ', '')"
                  aria-expanded="true" [attr.aria-controls]="'#collapse'+entry.displayName.replace(' ', '')">
                  <div>
                    <i [className]="'mricons pull-left fa mr-'+entry.id +'-icon'"></i>
                  </div>
                  <div class="pull-left heading3 p6">{{entry.displayName}}</div>
                  <div class="pull-right fa-angle"><i class="fa fa-angle-down" aria-hidden="true"></i></div>
                </div>
                <div class="clearfix"></div>
                <div [id]="'collapse'+entry.displayName.replace(' ', '')" class="collapse mgn-up-10 pad-top-10 brd-tp"
                  data-parent="#accordion" [class.show]="entry.value" >
                  <p *ngIf="entry && entry.value">{{entry.value}}</p>
                  <p *ngIf="!entry.value">No {{entry.displayName}} Added</p>
                </div>

                <div class="clearfix"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <!-- {{clinicalNotes | json}} -->
  <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 no-padding shadow" *ngIf="clinicalNotes.length>0">
    <div class="p-1 pl0 pt-0 col-md-8 col-xs-12 col-sm-12 col-lg-8 prescriptionCreate">
      <div class="table-heading">Clinical Notes</div>
      <!-- {{clinicalNotes | json}} -->
      <div *ngFor="let item of clinicalNotes" [ngStyle]="{'background': getColor(item),'border-left':getBorderColor(item)}" class="shadow clinicalNotesList" >
        <div class="notelabel" [ngStyle]="{'color':getColorType(item)}">{{item.type}}</div>
        <div class="noteDes">{{item.clinicalNotes}}</div>
      </div>
    </div>
   
  </div>
</div>