.div1 {
  width: 1000px;
  height: 100px;
  border: 1px solid blue;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 100%;
  padding: 10px;
  border: 1px solid #000
}

.columnx {
  float: left;
  width: 100%;
  padding: 10px;
  ;
  border: 1px solid #000
}

.row {
  padding: 20px;
  padding-bottom: 0px;
}

.btn-primary {
  background-color: #1E4079 !important;
  border-radius: 10px !important;
  font-size: 13px !important;
  padding: 7px 25px !important;
}

.bggrey {
  background-color: #f9f9f9 !important;
  padding: 15px !important;
  border-radius: 10px !important;
}

.fa-angle {
  font-size: 20px !important;
}

.collapsed .fa-angle-down {
  transform: rotate(180deg);
  transition: .3s ease-in-out;
}

.card {
  border-radius: 10px !important;
}
.table-heading {
  font-size: 15px !important;
    color: #1DA192;
    font-weight: 600;
    margin-bottom: 10px;
}
.form-control {
  display: block !important;
  width: 100% !important;
  height: 35px;
  font-size: 14px !important;
  line-height: 1.42857143 !important;
  color: black !important;
  background-image: none !important;
  background: #F7F7F7 !important;
  border-radius: 6px !important;
  border: 1px solid #fff !important;

}
textarea{
  resize: none;
}
.cancelBtn {
  background: #A8ABAF !important;
  box-shadow: 0.417685px 2.50611px 8.77138px 1.25305px rgba(30, 64, 121, 0.15) !important;
  border-radius: 3.75916px !important;
  border: 0px solid !important;
  margin-right: 10px !important;
  padding: 6px 10px;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
}

.confirmBtn {
  background: #0D2348 !important;
  box-shadow: 0.417685px 2.50611px 8.77138px 1.25305px rgba(30, 64, 121, 0.15) !important;
  border-radius: 3.75916px !important;
  border: 0px solid !important;
  padding: 6px 12px;
  color: #fff;
}
.prescriptionNotes{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.prescriptionCreate{
  width: 100% !important;
}
.shadow {
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1)!important;
  padding: 10px !important;
  /* border: 1px solid rgb(231, 228, 228) !important; */
  background: #FFFFFF;
  border-radius: 10px;
}
.clinicalNotesList{
  margin-bottom: 10px;
    border-radius: 2.47792px !important;
    /* background: rgba(0, 222, 213, 0.05); */
    /* border-left: 2px solid #00DED5 !important; */
}
.notelabel{
  font-size: 14px;
    font-weight: bold;
}
.noteDes{
  color: #272525;
    font-size: 13px;
    font-weight: 500;
}
.flexClass{
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.btnWidth{
  width: 25%
}
@media(max-width: 800px){
  .btnWidth{
    width: 100% !important;
  }
}
.example-chip-list {
  width: 100%;
}
::ng-deep .mat-wrap  .mat-chip-list-wrapper {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.galul {
  margin: 0 !important;
  padding: 0 !important;
  list-style: none !important;
}

.galul li {
  float: left !important;
}
.galimg_outer {
  position: relative !important;
  padding: 5px 10px 10px 5px !important;
}
.gal-input input {
  width: 70px !important;
  font-size: .7rem !important;
}

.gal_action {
  position: absolute !important;
  top: -5px !important;
  right: -3px !important;
  background: rgba(0, 0, 0, .5) !important;
  width: 15px !important;
  height: 15px !important;
  text-align: center !important;
  border-radius: 50% !important;
  cursor: pointer !important;
}
.section_border{
    padding: 20px;
    /* box-shadow: 0 0 10px rgb(0 0 0 / 5%) !important; */
    /* border-radius: 5px; */
    background: #fff;
    border: 1px solid #E4E4E4;
    border-radius: 20px;
}
.file {
  position: relative;
  display: flex;
  align-items: center;
}

.file>input[type='file'] {
  display: none
}

.file>label {
  font-size: 14px !important;
  font-weight: bold;
  cursor: pointer;
  outline: 0;
  user-select: none;
  border: 0.5px dashed hsl(204, 86%, 53%);
  border-radius: 5px;
  background-color: hsl(204, 86%, 96%);
  color: hsl(0, 0%, 29%);
  padding: 8px 20px !important;
  align-items: center;
  display: flex;
  justify-content: center;
}

.file>label:hover {
  border-color: hsl(0, 0%, 21%);
}

.file>label:active {
  background-color: hsl(0, 0%, 96%);
}

.file>label>i {
  padding-right: 5px;
}

.file--upload>label {
  color: hsl(204, 86%, 53%);
  border-color: hsl(204, 86%, 53%);
}

.file--upload>label:hover {
  border-color: hsl(204, 86%, 53%);
  background-color: hsl(204, 86%, 96%);
}
