<app-header *ngIf="pSource === 'details-page'" [headerTitle]="'Header'" (searchclick)="handlesearchClick()"
    [passedDomain]="domain" [passedkwdet]="kwdet" [source]="source">
</app-header>
<!-- <div class="buy-theme" *ngIf="playstore"><a href="http://play.google.com/store/apps/details?id=com.jaldeeinc.jaldee"
        target="_blank"><span>DOWNLOAD ON GOOLGE PLAY</span></a></div>
<div class="quick-question" *ngIf="appstore"><a
        href="https://apps.apple.com/us/app/jaldee-for-business/id1475235232?ls=1" target="_blank"><span>DOWNLOAD ON APP
            STORE</span></a></div> -->
<header *ngIf="pSource !== 'details-page'">
    <div class="container no-padding-small">
        <div class="row col-md-12 col-xs-12 col-sm-12 no-padding-small m0">
            <div class="tp-r">
                <div class="tc1">
                    <div class="topsignouter">
                        <div class="app-btn">
                            <a href="https://apps.apple.com/in/app/jaldee-com/id1478246665" class="app-btn1">
                                <img src="assets/images/home/app_btn1.png" alt="Download Jaldee app from App Store"></a>
                            &nbsp;
                            <a href="https://play.google.com/store/apps/details?id=com.jaldeeinc.jaldee"
                                class="app-btn2">
                                <img src="assets/images/home/app_btn2.png" alt="Download Jaldee app from Google Play">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<section class="content">
    <div class="container">
        <div class="row">
            <div class="c-outer">
                <!-- <div style="align-items: center;" *ngIf="loading">
                    <app-common-innerloading-spinner></app-common-innerloading-spinner>
                </div> -->
                <div class="c-body prov-detail-outer">
                    <div class="bk-ctrl" *ngIf="userId">
                        <span class="backtoresults" (click)="backtoDetails()"><span class="strong">Go back</span></span>
                    </div>
                    <div class="srlst details pro-details" style="width: 100%;" *ngIf="!api_loading && !loading">
                        <div class="top-sect">
                            <div class="new_style">
                                <div class="tp-l">
                                    <div class="tp1 bus-pro">
                                        <div class="pro-img">
                                            <ng-container *ngIf="galleryjson.length > 0">
                                                <ng-container>
                                                    <img [src]="galleryjson[0].thumbUrl" alt=""
                                                        (click)="openImageModalRow(image_list_popup[0])" alt="">
                                                </ng-container>
                                            </ng-container>
                                        </div>
                                        <ul class="gal" *ngIf="galleryjson.length > 1">
                                            <li>
                                                <div class="galbx">
                                                    <div class="overlay"
                                                        (click)="openImageModalRow(image_list_popup[1])">+
                                                        {{galleryjson.length - 1 }}</div>
                                                    <img [src]="galleryjson[1].thumbUrl" alt="">
                                                </div>
                                            </li>
                                        </ul>
                                        <!-- <div class="rating-stars">
                                            <img class="ratingstar" *ngFor="let enable of ratingenabledArr"
                                                src="./assets/images/star.svg" alt="" />
                                            <img class="ratingstar" *ngIf="ratingenabledHalf"
                                                src="./assets/images/star-half.svg" alt="" />
                                            <img class="ratingstar" *ngFor="let enable of ratingdisabledArr"
                                                src="./assets/images/star-disabled.svg" alt="" />
                                        </div> -->
                                    </div>
                                    <ks-modal-gallery *ngIf="image_list_popup && image_list_popup.length>0"
                                        [modalImages]="image_list_popup"
                                        [plainGalleryConfig]="customPlainGalleryRowConfig"
                                        [buttonsConfig]="customButtonsFontAwesomeConfig"
                                        (buttonBeforeHook)="onButtonBeforeHook($event)"
                                        (buttonAfterHook)="onButtonAfterHook($event)"></ks-modal-gallery>
                                    <div class="tp2" *ngIf="businessjson">
                                        <!-- <div class="ynw-verified"></div> -->
                                        <h3>{{businessjson.businessName | capitalizeFirst}} <span class="mgn-lt-10 pointer-cursor
                                            
                                            " *ngIf="jdnlength > 0" (click)="openJdn()" [matTooltip]="jdnTooltip"><img
                                                    height="35" width="35" src="./assets/images/JDN.png"></span></h3>
                                        <span class="category" *ngIf="businessjson.serviceSector?.displayName">{{businessjson.serviceSector.displayName
                                            | capitalizeFirst}} ({{businessjson.serviceSubSector.displayName |
                                            capitalizeFirst}})</span>

                                        <div class="clr">
                                            <div class="pro-desc">
                                                <span *ngIf="bNameStart!=''"
                                                    [innerHTML]="bNameStart | nl2br"></span><span
                                                    *ngIf="bNameEnd!='' && showmoreDesc"
                                                    [innerHTML]="bNameEnd | nl2br"></span>
                                                <span class="more" *ngIf="!showmoreDesc && bNameEnd!=''"
                                                    (click)="showDesc()">{{more_cap}}</span>
                                                <span class="more" *ngIf="showmoreDesc"
                                                    (click)="showDesc()">{{less_cap}}</span>
                                            </div>
                                            <div class="services" *ngIf="specializationslist.length > 0">
                                                <div class="otr-elements">
                                                    <span *ngIf="specializationslist.length > 0">
                                                        <span class="categoryspec"
                                                            *ngFor="let spec of specializationslist; let i = index"><span
                                                                *ngIf="i>0" class="spacer"></span>{{spec}}</span></span>
                                                </div>
                                            </div>
                                            <div class="emails-phones-outer"
                                                *ngIf="( emaillist.length > 0 || phonelist.length > 0)">
                                                <span class="email-phone-title" (click)="handleEmailPhonediv()">
                                                    <ng-container>{{contact_details_cap}}</ng-container> <i
                                                        [class]="(showEmailPhonediv)? 'icon-disable' : 'icon-enable'"></i>
                                                </span>
                                                <ng-container *ngIf="showEmailPhonediv">
                                                    <div class="phone-outer" *ngIf="phonelist.length > 0">
                                                        <div class="phones" *ngFor="let phone of phonelist">
                                                            <span
                                                                class="caption">{{phone.label | capitalizeFirst }}</span>
                                                            <span class="cvalue">{{phone.instance}}</span>
                                                        </div>
                                                    </div>
                                                    <div class="email-outer" *ngIf="emaillist.length > 0">
                                                        <div class="emails" *ngFor="let email of emaillist">
                                                            <span
                                                                class="caption">{{email.label | capitalizeFirst}}</span>
                                                            <span class="cvalue">{{email.instance}}</span>
                                                        </div>
                                                    </div>
                                                </ng-container>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <span *ngIf="businessjson.verifyLevel == 'BASIC'"><img class="img_sizenew"
                                            src="./assets/images/BasicOrg.png" alt="Basic"></span>
                                    <span *ngIf="businessjson.verifyLevel == 'BASIC_PLUS'"><img class="img_sizenew"
                                            src="./assets/images/BasicPlsOrg.png" alt="Basic Plus"></span>
                                    <span *ngIf="businessjson.verifyLevel == 'ADVANCED'"><img class="img_sizenew"
                                            src="./assets/images/PremiumOrg.png" alt="Advanced"></span>
                                </div>
                            </div>
                            <div class="tp-r list-style">
                                <div class="gender" *ngIf="genderType=='male' || genderType=='female'">
                                    <span class="icon-male" *ngIf="genderType=='male'"
                                        [matTooltip]="maleTooltip"></span>
                                    <span class="icon-female" *ngIf="genderType=='female'"
                                        [matTooltip]="femaleTooltip"></span>
                                </div>
                                <ul class="side-menu" *ngIf="settings_exists && business_exists">
                                    <li *ngIf="!isInFav && !userId">
                                        <a class='like-button' (click)="handle_Fav('add')">
                                            <span class='like-icon'>
                                                <div class='heart-animation-1'></div>
                                                <div class='heart-animation-2'></div>
                                            </span>
                                            {{add_to_fav_cap}}
                                        </a>
                                    </li>
                                    <li *ngIf="isInFav && !userId">
                                        <a class='like-button' (click)="doRemoveFav()">
                                            <span class='like-icon'>
                                                <div class='heart-animation-1'></div>
                                                <div class='heart-animation-2'></div>
                                            </span>
                                            {{rem_from_fav_cap}}
                                        </a>
                                    </li>
                                    <li *ngIf="s3CouponList.length>0 && isfirstCheckinOffer && frstChckinCupnCunt>0"><i
                                            class="fa fa-tag red"></i><span class="icon-first-coup pointer-cursor"
                                            (click)="openCoupons('first')">{{first_time_coupon}}</span></li>
                                    <li *ngIf="s3CouponList.length>0"><i class="fa fa-tag blue"></i><span
                                            class="icon-jal-coupon pointer-cursor"
                                            (click)="openCoupons()">{{jaldee_coupon}}</span></li>

                                    <!-- <li *ngIf="userType !== 'provider'"><span class="icon-history"
                                            (click)="redirectToHistory()">{{history_cap}}</span>
                                    </li> -->


                                    <!-- <li *ngIf="!isInFav && !userId"><span class="fav icon-favourite"
                                            (click)="handle_Fav('add')">{{add_to_fav_cap}}</span></li>
                                    <li *ngIf="isInFav && !userId"><span class="icon-favourite-filled"
                                            (click)="doRemoveFav()">{{rem_from_fav_cap}}</span></li> -->
                                    <li><span class="icon-message" (click)="communicateHandler()"
                                            *ngIf="provider_bussiness_id">{{send_msgs_cap}}</span></li>
                                </ul>
                                <div class="socialmedia" *ngIf="socialMedialist.length>0">
                                    <a rel="noopener" [href]="soc.value" target="_blank"
                                        *ngFor="let soc of socialMedialist"><i
                                            [class]="getSocialdet(soc.resource, 'iconClass')"
                                            [matTooltip]="getSocialdet(soc.resource, 'displayName')"></i></a>
                                </div>
                            </div>
                        </div>
                        <ng-container>
                            <div class="middle-sect" *ngIf="showVirtualfieldsSection">
                                <div class="tp-l">
                                    <div class="tp1">
                                        <mat-accordion>
                                            <mat-expansion-panel (closed)="handlepanelClose()"
                                                (opened)="handlepanelOpen()">
                                                <mat-expansion-panel-header expandedHeight="40px"
                                                    collapsedHeight="40px">
                                                    <mat-panel-title>
                                                        {{virtualsectionHeader}}
                                                    </mat-panel-title>
                                                </mat-expansion-panel-header>
                                                <div class="question-main-outer">
                                                    <ng-container *ngFor="let vfield of virtualfieldsCombinedjson">
                                                        <div class="question-outer" *ngIf="vfield.value">
                                                            <ng-container>
                                                                <div class="question-header">
                                                                    <strong>{{vfield.displayName}}</strong></div>
                                                                <div class="question-value1"
                                                                    *ngIf="vfield.type!= 'object'"
                                                                    [innerHTML]="sharedFunctionobj.firstToUpper(vfield.value) | nl2br">
                                                                </div>
                                                                <div class="question-valuearr"
                                                                    *ngIf="vfield.type== 'object'">
                                                                    <ul class="virtual-field-ul"
                                                                        *ngFor="let vals of vfield.value">
                                                                        <li class="vfield-row" *ngIf="vals.length">
                                                                            <span *ngFor="let field of vals"
                                                                                class="morevalspan">
                                                                                {{field}}
                                                                            </span>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </ng-container>
                                                        </div>
                                                    </ng-container>
                                                </div>
                                            </mat-expansion-panel>
                                        </mat-accordion>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                    <app-common-innerloading-spinner *ngIf="api_loading || loading"></app-common-innerloading-spinner>
                    <ng-container *ngIf="locationjson.length > 0 && !api_loading && !loading">
                        <div class="loc-accor">
                            <mat-accordion *ngFor="let loc of locationjson; let i = index">
                                <mat-expansion-panel style="margin-top: 10px !important;
                            box-shadow: none !important;" [expanded]="true">
                                    <mat-expansion-panel-header expandedHeight="80px" collapsedHeight="80px"
                                        style="background-color: white !important;">
                                        <mat-panel-title>
                                            <div class="location-accord">
                                                <h3 *ngIf="!isPlaceisSame">{{loc.place | capitalizeFirst}}<sup
                                                        class="font-open-now"
                                                        *ngIf="loc.opennow || loc.apptopennow">&nbsp;{{open_now_cap}}
                                                    </sup>
                                                    <a rel="noopener" class="directions mgn-lt-20"
                                                        [href]="loc.googleMapUrl" target="_blank"
                                                        *ngIf="loc.googleMapUrl!=''">{{get_directions_cap}}</a></h3>
                                                <div *ngIf="!isPlaceisSame" class="ft-smlr">
                                                    {{loc.address.length <= 50 ? (loc.address | capitalizeFirst) : (loc.address.substr(0, 50) | capitalizeFirst)+"..."}}
                                                </div>
                                                <h3 *ngIf="isPlaceisSame">
                                                    {{loc.address.length <= 50 ? (loc.address | capitalizeFirst) : (loc.address.substr(0, 50) | capitalizeFirst)+"..."}}<sup
                                                        class="font-open-now"
                                                        *ngIf="loc.opennow || loc.apptopennow">&nbsp;{{open_now_cap}}
                                                    </sup></h3>
                                            </div>
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <div class="location">
                                        <div class="top-sect">
                                            <div class="tp-l">
                                                <div class="tp2">
                                                    <span class="ch-title" *ngIf="loc.checkins && loc.checkins.length>0"
                                                        (click)="showExistingCheckin(loc.id, loc.place, i)">{{you_have_cap}}
                                                        <span class="count">{{loc.checkins.length}}
                                                            {{getTerminologyTerm('waitlist')}}</span>
                                                        {{at_this_loc_cap}}</span>
                                                    <div class="clr">
                                                        <div class="schedule"
                                                            *ngIf="loc.display_schedule && loc.display_schedule.length > 0">
                                                            <span class="sub-title">Business Working Hours</span>
                                                            <ul>
                                                                <li *ngFor="let schedule of loc.display_schedule">
                                                                    <span class="day">{{schedule.dstr}}&nbsp;:</span>
                                                                    <span class="time">{{schedule.time}}
                                                                        <span class="form-level-settings"
                                                                            *ngIf="schedule.recurrtype === 'Once'">(only
                                                                            for
                                                                            today)</span>
                                                                    </span>
                                                                </li>
                                                            </ul>
                                                        </div>

                                                        <!-- <div class="services" *ngIf="loc.departments">
                                                            <span class="sub-title">Departments</span>
                                                            <ul>
                                                                <li *ngFor="let dept of loc.departments"
                                                                    (click)="getServicesByDepartment(loc, dept)">
                                                                    {{dept}}</li>
                                                            </ul>
                                                        </div> -->
                                                        <!-- <div class="services"
                                                            *ngIf="!loc.departments && loc.serviceList && loc.serviceList.length > 0">
                                                            <span class="sub-title">{{services_offered}}</span>
                                                            <ul>
                                                                <li *ngFor="let serv of loc.serviceList"
                                                                    (click)="showServiceDetail(serv, businessjson.businessName, 'servicedetails')">
                                                                    {{serv.name}}</li>
                                                            </ul>
                                                        </div> -->
                                                        <!-- <div class="services"
                                                        *ngIf="!loc.departments && !loc.serviceList && loc.services && loc.services.length > 0">
                                                        <span class="sub-title">{{services_offered}}</span>
                                                        <ul>
                                                            <li *ngFor="let serv of loc.services"
                                                                (click)="showServiceDetail(serv, businessjson.businessName)">
                                                                {{serv}}</li>
                                                        </ul>
                                                    </div> -->
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tp-r">

                                                <ul class="badges">
                                                    <li *ngIf="loc.parkingType && loc.parkingType!=='' && loc.parkingType != undefined && loc.parkingType != 'none'"
                                                        [matTooltip]="'Parking Type: ' + loc.parkingType">
                                                        <span class="icon-parking"></span></li>
                                                    <li *ngIf="loc.open24hours && loc.open24hours==1">
                                                        <span class="icon-open-time"
                                                            [matTooltip]="'24 Hours Open'"></span></li>


                                                    <li *ngIf="loc?.locationVirtualFields?.traumacentre=='true'"
                                                        [matTooltip]="'Trauma Centre'"><span class="icon-trauma"></span>
                                                    </li>
                                                    <li *ngIf="loc?.locationVirtualFields?.docambulance=='true'"
                                                        [matTooltip]="'Ambulance Services'"><span
                                                            class="icon-ambulance"></span>
                                                    </li>
                                                    <li [matTooltip]="'Emergency Services'"
                                                        *ngIf="loc?.locationVirtualFields?.physiciansemergencyservices=='true' || 
                                                            loc?.locationVirtualFields?.dentistemergencyservices=='true' || 
                                                            loc?.locationVirtualFields?.altemergencyservices=='true' ||
                                                            loc?.locationVirtualFields?.hosemergencyservices=='true' || 
                                                            loc?.locationVirtualFields?.veterinaryemergencyservices=='true'">
                                                        <span class="icon-emergency"></span></li>
                                                    <li *ngIf="loc?.locationVirtualFields?.firstaid=='true'"
                                                        [matTooltip]="'First Aid'"><span class="icon-first-aid"></span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="bottom-sect pdetail" style="padding-bottom: 10px"
                                            *ngIf="loc['waitlist'] && businessjson.onlinePresence">
                                            <div class="bt-l">
                                                <div class="wt-tme" *ngIf="loc['estimatedtime_det']">
                                                    <!-- <div class="o-now" *ngIf="loc.opennow">
                                                        {{open_now_cap}}</div> -->
                                                    <div
                                                        *ngIf="settingsjson['calculationMode']!='NoCalc'|| (settingsjson['calculationMode']=='NoCalc' && settingsjson['showTokenId'])">
                                                        <div class="timing" *ngIf="loc['personAhead']">
                                                            <div style="display: flex">
                                                                <b>{{loc['personAhead']}} &nbsp;</b>
                                                                <span *ngIf="loc['personAhead'] > 1"
                                                                    class="people-ahead">
                                                                    {{people_ahead}}</span>
                                                                <span *ngIf="loc['personAhead'] == 1"
                                                                    class="people-ahead">
                                                                    {{one_person_ahead}}</span></div>

                                                        </div>
                                                        <div class="timing" *ngIf="loc['personAhead'] === 0">
                                                            <div class="">
                                                                {{loc['personAhead']}} {{people_ahead}} </div>Be the
                                                            first in
                                                            line
                                                        </div>

                                                        <div class="donat-service"
                                                            *ngIf="servicesjson.length > 0 && !showDepartments">
                                                            <span
                                                                class="sub-title-donate checkin-service-group">Check-in
                                                                Service(s)</span>
                                                            <ul>
                                                                <li *ngFor="let serv of servicesjson"
                                                                    (click)="showServiceDetail(serv, businessjson.businessName, 'servicedetails')">
                                                                    {{serv.name}}
                                                                    <span *ngIf="serv.serviceType == 'virtualService'">
                                                                        (<i class="fa fa-video-camera cal-mod-font"
                                                                            aria-hidden="true"></i>)
                                                                    </span></li>
                                                            </ul>
                                                        </div>
                                                        <!-- <div class="donat-service"
                                                            *ngIf="servicesjson.length > 0 && showDepartments">
                                                            <span
                                                                class="sub-title-donate checkin-service-group">Departments</span>
                                                            <ul>
                                                                <li *ngFor="let dept of servicesjson"
                                                                    (click)="getServicesByDepartment(dept)">
                                                                    {{dept.departmentName}}</li>
                                                            </ul>
                                                        </div> -->
                                                    </div>
                                                    <div class="wt-tme notallowed"
                                                        *ngIf="businessjson.claimStatus === 'Claimed' && loc['estimatedtime_det']['message']">
                                                        {{loc['estimatedtime_det']['message']}}
                                                    </div>
                                                    <span class="claim-business"
                                                        *ngIf="businessjson.claimStatus === 'Unclaimed'"
                                                        (click)="claimBusiness()">
                                                        {{claim_my_business_cap}} <i style="font-size: 1.1rem;"
                                                            class="fa fa-hand-o-up" aria-hidden="true"></i>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="bottom-actions-root"
                                                *ngIf="loc['estimatedtime_det'] && (loc['onlineCheckIn'] || settingsjson['futureDateWaitlist'])">
                                                <div class="checkin-est"
                                                    *ngIf="loc['estimatedtime_det']['caption'] && settingsjson['calculationMode'] && settingsjson['calculationMode']!='NoCalc'">
                                                    <span
                                                        class="est-time">{{loc['estimatedtime_det']['caption']}}</span>
                                                    <span class="time-data">{{loc['estimatedtime_det']['time']}}
                                                    </span>
                                                </div>
                                                <ng-container
                                                    *ngIf="settingsjson['calculationMode'] && settingsjson['calculationMode']=='NoCalc' && settingsjson['showTokenId']">
                                                    <ng-container
                                                        *ngIf="loc['personAhead'] || loc['personAhead'] === 0">
                                                        <span class="checkin-est" *ngIf="!loc.opennow">
                                                            <span class="est-time"> Next Available Time </span>
                                                            <span
                                                                class="time-data">{{loc['estimatedtime_det']['nextAvailDate']}}</span></span>
                                                    </ng-container>
                                                </ng-container>
                                                <span class="checkin-btn"
                                                    (click)="checkinClicked(loc.id, loc.place,loc['estimatedtime_det']['cdate'], false)"
                                                    *ngIf="loc['isAvailableToday'] && loc['availableToday'] && !loc['showToken'] && loc['onlineCheckIn']">{{getTerminologyTerm('waitlist')}}</span>
                                                <span class="checkin-btn"
                                                    (click)="checkinClicked(loc.id, loc.place,loc['estimatedtime_det']['cdate'], false)"
                                                    *ngIf="loc['isAvailableToday'] && loc['availableToday'] && loc['showToken'] && loc['onlineCheckIn']">{{get_token_btn}}</span>
                                                <span class="checkin-btn disabled" style="cursor: auto"
                                                    *ngIf="!loc['showToken'] && (!loc['onlineCheckIn'] || !loc['isAvailableToday'] || !loc['availableToday'])">{{getTerminologyTerm('waitlist')}}</span>
                                                <span class="checkin-btn disabled" style="cursor: auto"
                                                    *ngIf="loc['showToken'] && (!loc['onlineCheckIn'] || !loc['isAvailableToday'] || !loc['availableToday'])">{{get_token_btn}}</span>
                                                <span class="checkin-future pdetailbt10"
                                                    *ngIf="loc['estimatedtime_det']['cdate'] && settingsjson['futureDateWaitlist']"
                                                    (click)="checkinClicked(loc.id, loc.place, loc['estimatedtime_det']['cdate'],true)">{{do_you_want_to_cap}}
                                                    <span
                                                        *ngIf="!loc['showToken']">{{getTerminologyTerm('waitlist')}}</span>
                                                    <span *ngIf="loc['showToken']">{{get_token_btn}}</span>
                                                    {{for_cap}}
                                                    <span>{{different_date_cap}}</span></span>
                                            </div>
                                        </div>
                                        <div class="bottom-sect pdetail"
                                            *ngIf="loc['apptAllowed'] && businessjson.onlinePresence">
                                            <div class="bt-l">
                                                <div class="wt-tme">
                                                    <!-- <div class="donat-service" *ngIf="!loc.departments">
                                                    <span class="sub-title-donate">Appointment Service(s)</span>
                                                    <ul *ngIf="!loc.appointmentServiceList">
                                                        <li *ngFor="let appointmentService of loc.appt_services"
                                                            (click)="showServiceDetail(appointmentService, businessjson.businessName)">
                                                            {{appointmentService}}</li>
                                                    </ul>
                                                    <ul *ngIf="loc.appointmentServiceList">
                                                        <li *ngFor="let appointmentService of loc.appointmentServiceList"
                                                            (click)="showServiceDetail(appointmentService, businessjson.businessName,'servicedetails')">
                                                            {{appointmentService.name}}
                                                            <span
                                                                *ngIf="appointmentService.serviceType == 'virtualService'">
                                                                (<i class="fa fa-video-camera cal-mod-font"
                                                                    aria-hidden="true"></i>)
                                                            </span></li>
                                                    </ul>
                                                </div> -->
                                                    <!-- <div class="donat-service" *ngIf="loc.departments">
                                                    <span class="sub-title-donate">Departments</span>
                                                    <ul>
                                                        <li *ngFor="let dept of loc.departments"
                                                            (click)="getServicesByDepartment(loc, dept)">
                                                            {{dept}}</li>
                                                    </ul>
                                                </div> -->
                                                    <div class="donat-service"
                                                        *ngIf="apptServicesjson.length > 0 && !showDepartments">
                                                        <span class="sub-title-donate">Appointment Service(s)</span>
                                                        <ul>
                                                            <li *ngFor="let appointmentService of apptServicesjson"
                                                                (click)="showServiceDetail(appointmentService, businessjson.businessName,'servicedetails')">
                                                                {{appointmentService.name}}
                                                                <span
                                                                    *ngIf="appointmentService.serviceType == 'virtualService'">
                                                                    (<i class="fa fa-video-camera cal-mod-font"
                                                                        aria-hidden="true"></i>)
                                                                </span></li>
                                                        </ul>
                                                    </div>
                                                    <!-- <div class="donat-service"
                                                        *ngIf="apptServicesjson.length > 0 && showDepartments">
                                                        <span class="sub-title-donate">Departments</span>
                                                        <ul>
                                                            <li *ngFor="let dept of apptServicesjson"
                                                                (click)="getServicesByDepartment(dept)">
                                                                {{dept.departmentName}}</li>
                                                        </ul>
                                                    </div> -->
                                                </div>
                                            </div>
                                            <div style="flex-grow:1"></div>
                                            <div class="bottom-actions-root">
                                                <span
                                                    (click)="appointmentClicked(loc.id, loc.place,loc['estimatedtime_det']['cdate'], false)"
                                                    class="checkin-btn">Appointment</span>
                                            </div>
                                        </div>
                                        <div class="bottom-sect pdetail"
                                            *ngIf="businessjson.donationFundRaising && businessjson.onlinePresence && donationServicesjson.length >= 1">
                                            <div class="bt-l">
                                                <div class="wt-tme">
                                                    <div class="donat-service">
                                                        <span class="sub-title-donate">Donation Service(s)</span>
                                                        <ul>
                                                            <li *ngFor="let donationService of donationServicesjson"
                                                                (click)="showServiceDetail(donationService, businessjson.businessName,'servicedetails')">
                                                                {{donationService.name}}</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div style="flex-grow:1"></div>
                                            <div class="bottom-actions-root">
                                                <span
                                                    (click)="payClicked(loc.id, loc.place,loc['estimatedtime_det']['cdate'], false)"
                                                    class="checkin-btn">Donate</span>
                                            </div>
                                        </div>

                                    </div>
                                </mat-expansion-panel>
                            </mat-accordion>

                            <!-- Department wise doctors/service listing start -->
                            <div class="location col-md-12 no-padding middle-sect" *ngIf="showDepartments">
                                <mat-accordion *ngFor="let dept of deptUsers; let i = index">
                                    <mat-expansion-panel [expanded]="false"
                                        *ngIf="(dept.users && dept.users.length > 0) || (dept.users.length === 0 && servicesjson[i] && servicesjson[i].services && servicesjson[i].services.length > 0)">
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                <span style="font-size: normal">{{dept.departmentName}}
                                                    <span *ngIf="dept.users && dept.users.length==1">(1
                                                        {{getTerminologyTerm("provider")}})</span>
                                                    <span
                                                        *ngIf="dept.users && dept.users.length>1">({{dept.users.length}}
                                                        {{getTerminologyTerm("provider")}}s)</span>
                                                </span>
                                            </mat-panel-title>
                                        </mat-expansion-panel-header>
                                        <app-search-provider [id]="provider_id" [deptId]="dept.departmentId"
                                            [bprofile]="businessjson" [settings]="settingsjson"
                                            [terminologies]="terminologiesjson" [coupon]="s3CouponList"
                                            [serviceJson]="getServiceByDept(dept.departmentId)"
                                            [jaldeediscount]="jaldeediscountJson" [location]="locationjson"
                                            [selectedDept]="dept" [psource]="'business'">
                                        </app-search-provider>
                                    </mat-expansion-panel>
                                </mat-accordion>
                            </div>
                            <!-- Department wise doctors/service listing ends-->
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="clear-fix"></div>
<!-- <app-footer></app-footer> -->
<footer class="main-footer" style="margin-left: 0px">
    <div class="pull-right hidden-xs footer_info">
    </div>
    <span class="footer_info">Copyright &copy; 2020 Jaldee Inc.</span> &nbsp; <span class="footer_info">All rights
        reserved.</span>
    <span> <a class="logo">
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg pull-right"><img class="buisnessPageJaldeeLogo" src="assets/images/jaldee-logo.png"
                    alt="Jaldee"></span>
        </a></span>
</footer>