.providerdet_maindetaildiv {
    width:100%;
    border: 1px solid #868383;
    height:110px;
    padding:5px;
  }
  .providerdet_logodiv {
   float:left;
   width: 10%;
  }
  .providerdet_descriptiondiv {
    float:left;
    width: 90%;
  }
  .providerdet_logodiv img {
    width:100px;
    height:100px;
  }
  
  .provider-tab-group {
    border: 1px solid #e8e8e8;
  }
  
  .provider-tab-content {
    padding: 16px;
  }
  .services_outerdiv {
    width:100%;
  }
  .service_logodiv {
    width:10%;
    float: left;
    padding:8px;
    margin-left: 5px;
  }
  .row {
    border-bottom:1px solid #000;
  }
  .service_logodiv img {
    width: 52px;
    height: 52px;
  }
  .service_nameouterdiv {
    width: 60%;
    float: left;
  }
  .service_name {
    width:100%;
  }
  .service_desc {
    width:100%;
  }
  .service_checkinbuttondiv { 
    width: 20%;
    float: left;
    height:55px;
    padding-top:10px;
  }
  .gallery_mainimagediv {
    width:auto;
    height: 310px;
    border: 1px solid #000;
    text-align: center;
    vertical-align: middle;
  }
  .gallery_mainimagediv img {
    width:auto;
    max-height:300px;
  }  
  .gallery_thumb_outer {
    text-align: center;
    padding:10px;
  
  }
  .gallery_thumbdiv {
    width: 60px;
    float: left;
    
  }
  .gallery_thumbdiv img {
    width:auto;
    height: 52px;
    border:4px solid #000;
  
  }
  .openinghours_outerdiv {
    padding: 10px;
  }
  .openinghours_heading {
    font-weight: bold;
    text-decoration: underline;  
  }
  .providerdet_actions_div {
    width:100%;
    height:100px;
  }
  .providerdet_favbuttondiv {
    float:right;
    padding:5px;
  }
  .providerdet_backbuttondiv {
    float:right;
    padding:5px;
  }
  .line-breaker {
    white-space: pre-wrap;
  }
  .mat-expansion-panel-header {
    background-color: #f0f0f5 !important;
  }