<div class="outer-loader-div" *ngIf="main_loading">
    <mat-spinner class="outer-load-spinner"></mat-spinner>
</div>
<div class="overlay" [class.show]="showLearnMore" [class.learnmore]="showLearnMore" (click)="hideLearnmore()"></div>
<div class="lm-popup" *ngIf="showLearnMore">
    <span (click)="hideLearnmore()" class="close"></span>
</div>
<header class="consumer" *ngIf="includedfrom!='home' && includedfrom!='phome'">
    <div class="container no-padding">
        <div class="col-md-22 col-xs-12 col-sm-12 no-padding">
            <div class="tp-1">
                <div class="tp-l" *ngIf="includedfrom!='checkin' && includedfrom!='appt' &&
                includedfrom!='payment' && includedfrom!='livetrack'  && includedfrom!='pdetails' 
                && includedfrom!='confirm' && includedfrom!='donation'">
                    <a (click)="gotoDetails()" class="logo pointer-cursor">     <!-- (click)="gotoActiveHome()" -->
                    <!-- mini logo for sidebar mini 50x50 pixels -->
                    <span class="logo-mini visible-xs"><img src="./assets/images/logo-icon.png" alt="Jaldee"></span>
                    <!-- logo for regular state and mobile devices -->
                    <span class="logo-lg hidden-xs"><img src="./assets/images/jaldee-logo.png" alt="Jaldee"></span>
                    </a>
                </div>
                <div class="tp-r">
                    <div class="tc1"
                        [ngClass]="{'pad-rt-10 mgn-up-5': (!shared_functions.checkLogin() && pageSource == 'details')}">
                        <div class="topsignouter">
                            <!-- <button class="join_nw_btn mgn-rt-10" (click)="doLogin('consumer')"
                                *ngIf="!shared_functions.checkLogin() && source !== 'business'">{{sign_in_cap}}</button>
                            <button class="join_nw_btn " (click)="doSignup('consumer')"
                                *ngIf="!shared_functions.checkLogin() && source !== 'business'">{{join_cap}}</button> -->
                                <div class="view-booking" *ngIf="pageSource == 'pdetails'" (click)="redirectto('dashboard')">
                                   View Bookings
                                </div>
                            <ng-container>
                                <div class="bnps">
                                    <div class="inbx" (click)="inboxiconClick()" [matTooltipClass]="tooltipcls"
                                        [matTooltip]="inboxiconTooltip">
                                        <div class="ot-bx">
                                            <!-- <div class="noti-no" *ngIf="inboxCntFetched==true && inboxUnreadCnt>0">
                                                {{inboxUnreadCnt}}</div> -->
                                            <i data-icon="H"></i>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                            <div class="lgmem">
                                <span class="lgin cust">
                                    <!-- <span class="hidden-xs">{{userdet.userName}}</span> -->
                                    <button mat-icon-button [matMenuTriggerFor]="menu">
                                        <i class="fa fa-user-circle-o"></i>
                                    </button>
                                    <mat-menu #menu="matMenu">
                                       <button mat-menu-item (click)="redirectto('dashboard')">
                                            <i class="icon-dashboard"></i>
                                            <span>My Bookings</span>
                                        </button>
                                          <button mat-menu-item (click)="redirectto('profile')">
                                            <i class="icon-profile"></i>
                                            <span>{{user_profile}}</span>
                                        </button>
                                        <!--<button mat-menu-item (click)="redirectto('members')">
                                            <i class="icon-members"></i>
                                            <span>{{family_members}}</span>
                                        </button>
                                        <button mat-menu-item (click)="help()">
                                            <i data-icon="B"></i>
                                            <span>{{help_cap}}</span>
                                        </button> -->
                                        <button mat-menu-item (click)="doLogout()">
                                            <i class="icon-logout"></i>
                                            <span>{{logout_cap}}</span>
                                        </button>
                                    </mat-menu>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>