<section class="container no-padding-small cust-book-details">
    <div class="content p0 comn-cls checkin-details">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading top-row ">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">
                        <app-header *ngIf="shared_functions.checkLogin()"></app-header>
                    </div>
                </div>
                <div class="panel-body no-padding">
                    <div class="c-outer m0">
                        <div class="c-body booking-content col-md-12 col-xs-12 col-sm-12 no-padding">
                            <!-- graphics -->
                            <div class="graphics-div">
                                <span>
                                    <img class="myjaldee-bg" _ngcontent-ywv-c30=""
                                        src="assets/images/myjaldee/Group92.png" style="width: 400px;">
                                </span>
                            </div>
                            <!-- Title with back option -->
                            <div class="card title-gb">
                                <h5 class="mgn-up-10 index-head">Appointment Details <a
                                        class="pull-left mgn-rt-20 back-btn" (click)="gotoPrev()"><i
                                            class="fa fa-arrow-left"></i></a></h5>
                            </div>
                            <div class="lbl col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xs-12">
                                <div class="card" *ngIf="!api_loading">
                                    <app-common-innerloading-spinner> </app-common-innerloading-spinner>
                                </div>
                                <div class="card" *ngIf="appt && api_loading">

                                    <!-- Header -->
                                    <div class="mgn-bt-20 temp-style index-head">
                                        <div class="pad-10">
                                            <h3 class="custId-cursor head-color disp-flex"
                                                (click)="providerDetail(appt.providerAccount)">
                                                {{appt.providerAccount.businessName | capitalizeFirst}}
                                                &nbsp;<div *ngIf="checkIfFav(appt.providerAccount.id)"
                                                    class="icon-favourite-filled"
                                                    (click)="doDeleteFavProvider(appt.providerAccount, $event)"></div>
                                                <div *ngIf="!checkIfFav(appt.providerAccount.id)" class="icon-favourite"
                                                    (click)="addFavProvider(appt.providerAccount.id, $event)"></div>
                                            </h3>
                                            <a class="loc-cls" [href]="appt.location.googleMapUrl" target="_blank">
                                                <i class="fa fa-map-marker"></i>
                                                {{appt.location.place | capitalizeFirst}}
                                            </a>
                                            <div *ngIf="appt.provider" class="mgn-up-10 usr-name">
                                                <!-- <span>Provider : </span>
                                                <span>
                                                    {{appt.provider.businessName | capitalizeFirst}}
                                                </span> -->
                                                <span>{{provider_label | capitalizeFirst}} : </span>
                  <span>
                  {{appt.provider.firstName | capitalizeFirst}}&nbsp;{{appt.provider.lastName}}</span>
                                            </div>
                                            <div class="mgn-up-10">
                                                <i *ngIf="appt.service.serviceType === 'virtualService'"
                                                    [class]=iconClass></i>
                                                <span class="serv-name">
                                                    {{appt.service.name | capitalizeFirst}} <span
                                                        *ngIf="appt.service.deptName">({{appt.service.deptName}})
                                                    </span>
                                                    <a *ngIf="appt.apptStatus!=='Completed' && appt.apptStatus !== 'Cancelled' && type === 'today' && appt.service.serviceType === 'virtualService' && (appt.service.virtualCallingModes[0].callingMode == 'GoogleMeet' || appt.service.virtualCallingModes[0].callingMode == 'Zoom')"
                                                        class="joinMeeting"
                                                        href="{{appt.service.virtualCallingModes[0].value}}"
                                                        target="blank">Join Meeting</a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Content -->
                                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xs-12">
                                        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xs-6">
                                            <div class="each-item" *ngIf="appt.appmtFor[0].firstName">
                                                <span class="item-head">Booking for</span>
                                                <span class="item-label-val">{{appt.appmtFor[0].firstName |
                                                    capitalizeFirst}}
                                                    {{appt.appmtFor[0].lastName | capitalizeFirst}}</span>
                                            </div>
                                            <div class="each-item">
                                                <span class="item-head">Booking id</span>
                                                <span class="item-label-val">{{appt.appointmentEncId}}</span>
                                            </div>
                                            <div class="each-item" *ngIf="appt.phoneNumber">
                                                <span class="item-head">Phone No</span>
                                                <span class="item-label-val">{{appt.countryCode}}
                                                    {{appt.phoneNumber}}</span>
                                            </div>
                                            <div class="each-item" *ngIf="appt.amountPaid">
                                                <span class="item-head">Amount Paid</span>
                                                <span class="item-label-val price rupee-font"> {{appt.amountPaid|
                                                    currency:'&#8377;'}}</span>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xs-6 txt-align-center">
                                            <span class="item-head chk-stats">Check your status <i
                                                    class="fa fa-hand-o-down"></i></span>
                                            <div class="mgn-up-10">
                                                <ngx-qrcode id="print-section" [elementType]="elementType"
                                                    [value]="qr_value">
                                                </ngx-qrcode>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Status and Date, Queue -->
                                    <div class="mgn-bt-20 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xs-12 stats-bar">
                                        <div class="col-md-4 col-lg-4 col-xl-4 col-xs-3 stats-item">
                                            <span class="status-label">STATUS</span>
                                            <span>
                                                <div class="item-label-val">
                                                    {{check_in_statuses[appt.apptStatus | capitalizeFirst]}}
                                                </div>
                                            </span>
                                        </div>
                                        <div class="col-md-4 col-lg-4 col-xl-4 col-xs-4 stats-item">
                                            <span class="status-label">DATE & TIME-WINDOW</span>
                                            <span class="item-label-val">{{appt.appmtDate | date:newDateFormat}}</span>
                                            <span
                                                class="item-label-val">{{appt.schedule.apptSchedule.timeSlots[0].sTime}}
                                                -
                                                {{appt.schedule.apptSchedule.timeSlots[0].eTime}}</span>
                                        </div>
                                        <div class="col-md-2 col-lg-2 col-xl-2 col-xs-3 stats-item">
                                            <span class="status-label" *ngIf="appt.appmtTime">TIME</span>
                                            <span class="item-label-val"
                                                *ngIf="appt.appmtTime">{{getSingleTime(appt.appmtTime)}}</span>
                                        </div>
                                        <div *ngIf="appt.batchId"
                                            class="col-md-2 col-lg-2 col-xl-2 col-xs-2 stats-item">
                                            <span class="status-label">BATCH</span>
                                            <span class="item-label-val">{{appt.batchId}}</span>
                                        </div>
                                    </div>

                                    <!-- Show more -->
                                    <div class="more_view">
                                        <span class="opt-viewmore" *ngIf="!view_more" (click)="viewMore()"><a
                                                class="fl-left">View more</a></span>
                                        <span class="opt-viewmore" *ngIf="view_more" (click)="viewMore()"><a
                                                class="fl-left">View less</a></span>
                                        <span class="opt-actions" (click)="gotoActions(appt)"><a>Actions</a></span>
                                    </div>

                                    <!-- Instructions,messages,notes -->
                                    <div class="more_view" *ngIf="view_more" class="mgn-up-30">
                                        <mat-tab-group animationDuration="10ms" class="index-head">
                                            <mat-tab label="Instructions">
                                                <span *ngIf="appt.service && appt.service.postInfoEnabled">
                                                    <h6> {{appt.service.postInfoTitle}} </h6>
                                                    <span [innerHTML]="appt.service.postInfoText">
                                                    </span>
                                                </span>
                                                <span *ngIf="appt.service && !appt.service.postInfoEnabled">No
                                                    Instructions</span>
                                            </mat-tab>
                                            <mat-tab label="Messages">
                                                <app-inbox-list [messages]="communication_history"
                                                    [fromsource]="'consumer-waitlist'"
                                                    (reloadApi)="getCommunicationHistory()"></app-inbox-list>
                                            </mat-tab>
                                            <mat-tab label="{{cust_notes_cap | capitalizeFirst}}">
                                                <span
                                                    *ngIf="appt && appt.consumerNote &&  appt.consumerNote !== ''">{{appt.consumerNote}}</span>
                                                <span
                                                    *ngIf="appt && (appt.consumerNote == '' || !appt.consumerNote)">{{no_cus_notes_cap}}</span>
                                            </mat-tab>

                                            <!-- <mat-tab label="Appointment History">
                                                <span *ngIf="apptHistory.length > 0">
                                                    <ul *ngFor="let stat of apptHistory" class="histry-font mgn-up-10">
                                                        <li>{{stat.appointmentStatus}} on {{stat.date | date:dateFormatSp}}, {{getSingleTime(stat.time)}}</li>
                                                    </ul>
                                                </span>
                                                <span *ngIf="apptHistory.length == 0">No History</span>
                                            </mat-tab> -->
                                        </mat-tab-group>
                                    </div>
                                </div>
                                <!-- Questionnaire starts-->
                                <div class="card"
                                    *ngIf="api_loading && appt && appt.questionnaire.questionAnswers && appt.questionnaire.questionAnswers.length > 0">
                                    <div class="pad-10 pad-bt-0">
                                        <h3 class="no-margin">
                                            {{questionnaire_heading}}
                                        </h3>
                                    </div>
                                    <div class="c-details">
                                        <app-questionnaire [source]="'consAppt'" [uuid]="appt.uid"
                                            [accountId]="appt.providerAccount.id" [type]="'details'">
                                        </app-questionnaire>
                                    </div>
                                </div>
                                <!-- Questionnaire end-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>