.mgl-auto {
    margin-left: auto !important;
}
.serv-name {
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}
.serv-width {
    max-width: 40%;
}
.con-width {
    max-width: 60%;
}
.green {
    color: green !important;
}
.m-hgt-50 {
    min-height: 50px;
}