.mgl-auto {
    margin-left: auto !important;
}
.serv-name {
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}
.serv-width {
    max-width: 40%;
}
.con-width {
    max-width: 60%;
}
.green {
    color: green !important;
}
.m-hgt-50 {
    min-height: 50px;
}
.bg-cover {
    /* height: 200px;
    background-attachment: fixed; */
    margin-bottom: 20px;
}
.mt-80 {
    margin-top: 80px;
}
.svg-align {
    overflow: hidden;
    vertical-align: middle;
}
.ansr {
    color: #7E8299 !important;
    padding-left: 30px;
    margin-bottom: 20px;
}
.svg-icon.svg-icon-success svg g [fill] {
    -webkit-transition: fill 0.3s ease;
    transition: fill 0.3s ease;
    fill: #1BC5BD !important;
  }
  
  .consumer-dash .grid-card button:disabled {
    background-color: grey !important;
}

.mat-grid-tile .mat-grid-tile-footer {
    padding: 0 8px !important;
}
app-appt-card, app-wl-card {
    height: 100%;
    overflow: auto;
}
@media (max-width: 575px) {
    h1.hello-msg {
        text-align: left !important;
    }
}


[class^="ribbon-new"] {
    position: relative;
    /* margin-bottom: 80px; */
}

[class^="ribbon-new"]:before, [class^="ribbon-new"]:after {
    content: "";
    position: absolute;
}

.ribbon-new {
    /* width: 60%; */
    min-width: 50%;
    max-width: 82.5%;
    display: inline-block;
    height: 30px;
    background: #1E4079;
    left: -18px;
    margin-top: 4px;
}

.ribbon-new:before {
    height: 0;
    width: 0;
    border-bottom: 4px solid #214F9C;
    border-left: 4px solid transparent;
    top: -4px;
}

.ribbon-new:after {
    height: 0;
    width: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #1E4079;
    right: -15px;
}

.order-number-head {
    color: white;
    font-size: 12.5px;
    height: 30px;
    line-height: 30px;
    font-style: italic;
    padding-left: 15px !important;
}

.order-number {
    color: white;
    font-size: 12.5px;
    height: 30px;
    line-height: 30px;
    font-style: italic;
    padding-left: 5px;
    padding-right: 10px;
}

.sp_name.order-sp-name {
    color: #395789 !important;
    text-transform: capitalize !important;
    width: calc(100%) !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    font-weight: 700 !important;
    font-size: 18px !important;
}

.date-and-time {
    color: #717171 !important;
    font-weight: 700 !important;
    font-size: 14px !important;
}

.order-status {
    font-size: 14px;
    font-weight: 700;
}

.order-status.custom-red {
    color: #ea3939 !important;
}

.order-status.custom-green {
    color: #2ca92c !important;
}

.quantity {
    display: flex !important;
}

.quantity .head,
.quantity .value {
    height: 20px !important;
    font-weight: 700 !important;
    color: #717171 !important;
    font-size: 14px !important;
}

.bottom-section {
    display: flex !important;
    flex-direction: row !important;
    align-items: flex-end !important;
    justify-content: space-between !important;
    margin-top: 12px !important;
}

.store-pick-up-icon,
.home-delivery-icon {    
    position: static !important;
    width: 25px !important;
    margin-top: 0 !important;
    border: none !important;
    border-radius: 0 !important;
    padding: 0 !important;
    margin-left: 0 !important;
    background: none !important;
}

.bottom-section .amtPaid {
    float: right !important;
    color: #1E4079 !important;
    font-weight: 700 !important;
    font-size: 16px !important;
    font-family: 'Poppins', sans-serif !important;
}
