<section class="container consumer-dashhome no-padding no-padding-small">
    <div class="panel panel-default">
        <div class="panel-heading top-row">
            <app-header [headerTitle]=""></app-header>
        </div>
        <div class="panel-body no-padding">
            <div class="content consumer-dash mgn-bt-10" *ngIf="api_loading">
                <app-common-innerloading-spinner>
                </app-common-innerloading-spinner>
            </div>
            <div class="content consumer-dash" *ngIf="!api_loading">
                <div class="c_card card c-checkins">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
                        <div class="col-sm-8 col-md-8 col-lg-8 col-xs-12">
                            <h1 class="ng-tns-c16-8 txt-align">
                                <span class="ng-tns-c16-8 greeting">
                                    Hello {{usr_details.userName}} !
                                </span> <br>
                                <button class="mgn-up-20 find-sp-btn" mat-raised-button (click)="gotoDetails()">
                                    Home Page</button>
                            </h1>
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-4 bg-visible fl-right no-padding">
                            <img class="myjaldee-bg fl-right" _ngcontent-ywv-c30=""
                                src="assets/images/myjaldee/Group92.png">
                        </div>
                    </div>


                    <h2 class="ng-tns-c16-8 bg-yelow">
                        <div class="jld-option">
                            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-5 mgn-up-10 no-padding-small mgn-lft-2"
                                *ngIf="!showOrder">MY BOOKINGS</div>
                            <div class="col-sm-8 col-md-8 col-lg-8 col-xs-9 no-padding-small">
                                <div class="fl-right disply-flex">
                                    <!--  <div class="col-sm-2 col-md-2 col-lg-2 col-xs-2 no-padding item-btn-div">
                                       <button *ngIf="!showOrder" class="flat-btn full-wdth" mat-flat-button
                                            (click)="showOrders()">My Orders</button>
                                        <button *ngIf="!showOrder" class="flat-icon-btn" mat-flat-button
                                            (click)="showOrders()" [matTooltip]="'Orders'">
                                            <i class="fa ordr_ico"></i>
                                        </button>

                                        <button *ngIf="showOrder" class="flat-btn full-wdth" mat-flat-button
                                            (click)="showBookings()">My Bookings</button>
                                        <button *ngIf="showOrder" class="flat-icon-btn" mat-flat-button
                                            (click)="showBookings()" [matTooltip]="'Bookings'">
                                            <i class="fa bookin_ico"></i>
                                        </button> 
                                    </div>-->
                                    <div class="col-sm-2 col-md-2 col-lg-2 col-xs-2 no-padding item-btn-div">
                                        <button (click)="paymentsClicked()" class="flat-btn full-wdth"
                                            mat-flat-button>My
                                            Payments</button>
                                        <button class="flat-icon-btn" mat-flat-button (click)="paymentsClicked()"
                                            [matTooltip]="'My Payments'">
                                            <i class="fa myjld-payment"></i>
                                        </button>
                                    </div>
                                    <!-- <div class="col-sm-2 col-md-2 col-lg-2 col-xs-2 no-padding item-btn-div">
                                        <button class="flat-btn full-wdth" mat-flat-button
                                            (click)="getmyfavourites()">My
                                            Favourites</button>
                                        <button class="flat-icon-btn" mat-flat-button (click)="getmyfavourites()"
                                            [matTooltip]="'My Favourites'">
                                            <i class="fa myjld-fav"></i>
                                        </button>
                                    </div> -->
                                    <div class="col-sm-2 col-md-2 col-lg-2 col-xs-2 no-padding item-btn-div">
                                        <button class="flat-btn full-wdth" mat-flat-button
                                            (click)="gotoHistory()">History</button>
                                        <button class="flat-icon-btn" mat-flat-button (click)="gotoHistory()"
                                            [matTooltip]="'History'">
                                            <i class="fa myjld-histry"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </h2>
                    <div *ngIf="((today_totalbookings.length == 0 && future_totalbookings.length == 0) && !loading && !showOrder)"
                        class="col-md-12 col-xs-12 col-sm-12 mgn-up-20 nocheckins">
                        <p class="locate-customer">No Active Bookings</p>
                    </div>
                    <div class="table-outer1 booking-dash ng-tns-c16-57" *ngIf="!loading && !showOrder">

                        <!-- begin revamp bookings -->
                        <!-- TODAY BOOKINGS-->
                        <div *ngIf="(today_totalbookings.length != 0)" class="day_hed">
                            TODAY
                        </div>
                        <div *ngIf="today_totalbookings.length != 0" class="mgn-up-10 mgn-bt-10 grid-card">
                            <mat-grid-list cols="{{no_of_grids}}" rowHeight="240px" [gutterSize]="'10px'">
                                <mat-grid-tile *ngFor="let booking of todayBookings;"
                                    (click)="showBookingDetails(booking, 'today')">
                                    <!-- Appointments -->
                                    <ng-container *ngIf="booking.apptStatus">
                                        <app-appt-card [booking]="booking" type="today" [extras]="extras" (actionPerformed)="cardClicked($event)"></app-appt-card>
                                    </ng-container>
                                    <!-- Checkins -->
                                    <ng-container *ngIf="booking.waitlistStatus">
                                        <app-wl-card [booking]="booking" type="today" [extras]="extras" (actionPerformed)="cardClicked($event)"></app-wl-card>
                                    </ng-container>
                                </mat-grid-tile>
                            </mat-grid-list>
                        </div>
                        <!-- show more -->
                        <div *ngIf="!more_tdybookingsShow && today_totalbookings.length > 3"
                            (click)="showMoreTdyBookings()" class="mgn-up-10 mgn-bt-10 pad-lt-10">
                            <span><a class="show_more">Show more...</a></span>
                        </div>
                        <div class="mgn-up-10 mgn-bt-10 grid-card" *ngIf="more_tdybookingsShow">
                            <mat-grid-list cols="{{no_of_grids}}" rowHeight="240px" [gutterSize]="'10px'">
                                <mat-grid-tile *ngFor="let booking of todayBookings_more;"
                                    (click)="showBookingDetails(booking, 'today')">
                                    <!-- Appointments -->
                                    <ng-container *ngIf="booking.apptStatus">
                                        <app-appt-card [booking]="booking" type="today" [extras]="extras" (actionPerformed)="cardClicked($event)"></app-appt-card>
                                    </ng-container>
                                    <!-- Checkins -->
                                    <ng-container *ngIf="booking.waitlistStatus">
                                        <app-wl-card [booking]="booking" type="today" [extras]="extras" (actionPerformed)="cardClicked($event)"></app-wl-card>
                                    </ng-container>
                                </mat-grid-tile>
                            </mat-grid-list>
                        </div>
                        <!-- Show less -->
                        <div *ngIf="more_tdybookingsShow" (click)="showlessTdyBookings()" class="pad-lt-10">
                            <a class="show_more">Show less...</a>
                        </div>


                        <!--------------------------- FUTURE BOOKINGS----------------------------------------->
                        <hr>
                        <div *ngIf="(future_totalbookings.length != 0)" class="day_hed">
                            UPCOMING
                        </div>
                        <div *ngIf="future_totalbookings.length != 0" class="mgn-up-10 mgn-bt-10 grid-card">
                            <mat-grid-list cols="{{no_of_grids}}" rowHeight="240px" [gutterSize]="'10px'">
                                <mat-grid-tile *ngFor="let booking of futureBookings;"
                                    (click)="showBookingDetails(booking, 'future')">
                                    <!-- Appointments -->
                                    <ng-container *ngIf="booking.apptStatus">
                                        <app-appt-card [booking]="booking" type="future" [extras]="extras" (actionPerformed)="cardClicked($event)"></app-appt-card>
                                    </ng-container>
                                    <!-- Checkins -->
                                    <ng-container *ngIf="booking.waitlistStatus">      
                                        <app-wl-card [booking]="booking" type="future" [extras]="extras" (actionPerformed)="cardClicked($event)"></app-wl-card>                      
                                    </ng-container>
                                </mat-grid-tile>
                            </mat-grid-list>
                        </div>
                        <!-- show more -->
                        <div *ngIf="!more_futrbookingsShow && future_totalbookings.length > 3"
                            (click)="showMoreFutrBookings()" class="mgn-up-10 mgn-bt-10 pad-lt-10">
                            <span><a class="show_more">Show more...</a></span>
                        </div>
                        <div class="mgn-up-10 mgn-bt-10 grid-card" *ngIf="more_futrbookingsShow">
                            <mat-grid-list cols="{{no_of_grids}}" rowHeight="240px" [gutterSize]="'10px'">
                                <mat-grid-tile *ngFor="let booking of futureBookings_more;"
                                    (click)="showBookingDetails(booking, 'future')">
                                    <!-- Appointments -->
                                    <ng-container *ngIf="booking.apptStatus">
                                      <app-appt-card type="future" [booking]="booking" [extras]="extras" (actionPerformed)="cardClicked($event)"></app-appt-card>                                       
                                    </ng-container>
                                    <!-- Checkins -->
                                    <ng-container *ngIf="booking.waitlistStatus">
                                        <app-wl-card type="future" [booking]="booking" [extras]="extras" (actionPerformed)="cardClicked($event)"></app-wl-card>
                                    </ng-container>
                                </mat-grid-tile>
                            </mat-grid-list>
                        </div>
                        <!-- Show less -->
                        <div *ngIf="more_futrbookingsShow" (click)="showlessFutrBookings()" class="pad-lt-10">
                            <a class="show_more">Show less...</a>
                        </div>
                        <!-- end revamp order -->
                    </div>

                    <ks-modal-gallery [id]="0" *ngIf="image_list_popup && image_list_popup.length>0"
                        [modalImages]="image_list_popup" [plainGalleryConfig]="customPlainGalleryRowConfig"
                        [buttonsConfig]="customButtonsFontAwesomeConfig" (buttonBeforeHook)="onButtonBeforeHook()"
                        (buttonAfterHook)="onButtonAfterHook()"></ks-modal-gallery>
                </div>
            </div>
        </div>
    </div>
</section>
