<div class="lm-outer w-manager">
  <h4 class="adjust-delay-heading">DOCTOR’S PROFILE</h4>
  <section>
<p>The doctor profile is a collection of settings and information associated with a business owner. The system creates a doctor profile at the time of registration. The profile contains information such as name, mobile, email, etc. Jaldee doctor profile has the following options:</p>
</section>
<section>
<ul class="ul-normal">
  <li><strong>My Account :</strong> Here lies the personal data of the service doctor. Option to edit the data is also available.</li>
  <li><strong>Change Password :</strong> Here the doctor can change the password keeping in line with the following guidelines:
    <ul class="ul-normal">
      <li>Minimum 8 characters</li>
      <li>Maximum 32 characters</li>
      <li>Must have at least one uppercase letter and one digit.</li>
    </ul>
    </li>
  <li><strong>Change Mobile :</strong> Enter a new mobile number and click on Submit. To verify the mobile number, enter the OTP sent to the number.</li>
  <li><strong>Switch to Consumer :</strong> When a doctor profile is created in Jaldee.com, a corresponding customer profile also gets created automatically for the same doctor. From here, the doctor can easily switch to the customers dashboard.</li>
  <li><strong>Logout :</strong> One can log out of the account here.</li>
  </ul>
</section>
</div>
