<section class="container" *ngIf="!loading">
    <section id="section1 " class="bus-page">
        <div class="row card no-padding" [ngClass]="theme">
            <div class="bus-page-header">
                <div class="panel panel-default no-padding"  *ngIf="accountExists && isLoggedIn && accountId">
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        &nbsp;
                    </div>
                    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 no-padding">
                        <app-header *ngIf="accountExists && isLoggedIn && accountId" [includedfrom]="'pdetails'"
                            [accountId]="accountId" [customId]="accountEncId" [showHeaderAction]="true">
                        </app-header>
                        <!-- <div class="view-booking" *ngIf="accountExists && !isLoggedIn">
                            <button class="pull-right btn btn-primary dashboard-btn" (click)="dashboardClicked()">My
                                Bookings</button>
                        </div> -->
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="panel-body no-padding pad-bt-50">
                    <router-outlet name="template"></router-outlet>
                </div>
            </div>
        </div>
    </section>
</section>