.phoneouter {
    margin-top: 10px;
    width:50%;
    border:1px solid #000;
    padding:3px;
}

.emailouter {
    margin-top: 10px;
    width:50%;
    
    border:1px solid #000;
    padding:3px;                                
}
.hide_cls {
    display: none;
}