<section class="">
    <div class="card title-gb">
        <h5 class="mgn-up-10">
            <span class="fa fa-arrow-left pointer-cursor" (click)="goBack()"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            {{(waitlistMgrSettings && waitlistMgrSettings.showTokenId) ? 'Tokens' : 'Check-ins'}}
        </h5>
    </div>
</section>
<section class="waitlist-dashboard content p-4">
    <app-common-innerloading-spinner *ngIf="loading"> </app-common-innerloading-spinner>
    <div class="card p-0" *ngIf="!loading">
        <header class="main-header dash chkin">
            <nav class="navbar navbar-static-top jd-custom-nav" role="navigation"
                style="background: transparent !important;">
                <div class="navbar-custom-menu width100pc">
                    <ul class="nav navbar-nav width100pc mgn-bt-20">
                        <li class="dropdown notifications-menu">
                            <a (click)="checkinClicked()"
                                class="dropdown-toggle navbar-item-color bold pointer-cursor nav-cust-btn-new"
                                data-toggle="dropdown">
                                <i class="fa fa-plus"></i>
                                <span> {{(waitlistMgrSettings && waitlistMgrSettings.showTokenId) ? 'Token' :
                                    'Check-in'}}</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
            <div class="pull-left">
                <mat-select class="selecttype" [(ngModel)]="timeType">
                    <mat-option [value]="1" (click)="handleWaitlistType(1)">
                        Today
                    </mat-option>
                    <mat-option [value]="2" (click)="handleWaitlistType(2)">
                        Future
                    </mat-option>
                    <mat-option [value]="3" (click)="handleWaitlistType(3)">
                        History
                    </mat-option>
                </mat-select>
            </div>
        </div>
        <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 mgn-up-20">
            <app-records-datagrid [source]="'waitlist-dashboard'" [records]="waitlistToList" [timeType]="timeType">
            </app-records-datagrid>
        </div>
    </div>
</section>