.div1 {
  width: 1000px;
  height: 100px;
  border: 1px solid blue;
}
/* Create two equal columns that floats next to each other */
.column {
float: left;
width: 100%;
padding: 10px;
;border:1px solid #000

}
.columnx {
float: left;
width: 100%;
padding: 10px;
;border:1px solid #000

}
