<section>
  <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 no-padding-small">
           <div class="row">

                   <div class="column">
                        <b>symptoms</b>
                        <button  *ngIf= "symptoms" style="float: right;" (click)="addOrEditClinicalNotes('Symptoms', this.symptoms)">Edit</button>
                        <button *ngIf= "!symptoms" style="float: right;" (click)="addOrEditClinicalNotes('Symptoms', this.symptoms)">Add</button>
                      <div *ngIf= "symptoms" class="columnx">
                        <p>{{this.symptoms}}</p>
                      </div>
                   </div>
                   <br><br>


                   <div class="column">
                         <b>Allergies</b>
                         <button  *ngIf= "allergies"  style="float: right;" (click)="addOrEditClinicalNotes('allergies',this.allergies)">Edit</button>
                         <button *ngIf= "!allergies" style="float: right;" (click)="addOrEditClinicalNotes('allergies',this.allergies)">Add</button>
                       <div   *ngIf= "allergies" class="columnx">
                         <p>{{this.allergies}}</p>
                       </div>
                   </div>

                   <div> </div>
                   <div class="column">
                         <b>Diagnosis</b>
                         <button  *ngIf= "diagnosis"  style="float: right;" (click)="addOrEditClinicalNotes('diagnosis',this.diagnosis)">Edit</button>
                         <button *ngIf= "!diagnosis" style="float: right;"  (click)="addOrEditClinicalNotes('diagnosis',this.diagnosis)" >Add</button>
                       <div *ngIf= "diagnosis"  class="columnx">
                         <p>{{this.diagnosis}}</p>
                       </div>
                   </div>

                   <div class="column">
                         <b>Observations</b>
                         <button  *ngIf= "observations"  style="float: right;" (click)="addOrEditClinicalNotes('observations',this.observations)">Edit</button>
                         <button *ngIf= "!observations" style="float: right;" (click)="addOrEditClinicalNotes('observations',this.observations)">Add</button>
                        <div *ngIf= "observations" class="columnx">
                          <p>{{this.observations}}</p>
                         </div>
                   </div>


                   <div class="column">
                         <b>Complaints</b>
                         <button  *ngIf= "complaints"  style="float: right;" (click)="addOrEditClinicalNotes('complaints', this.complaints)">Edit</button>
                         <button *ngIf= "!complaints" style="float: right;" (click)="addOrEditClinicalNotes('complaints', this.complaints)">Add</button>
                       <div  *ngIf= "complaints"  class="columnx">
                          <p>{{this.complaints}}</p>
                        </div>
                   </div>

                   <div class="column">
                    <b>Vaccination History</b>
                    <button  *ngIf= "vaccinationHistory"  style="float: right;" (click)="addOrEditClinicalNotes('vaccinationHistory', this.complaints)">Edit</button>
                    <button *ngIf= "!vaccinationHistory" style="float: right;" (click)="addOrEditClinicalNotes('vaccinationHistory', this.complaints)">Add</button>
                  <div  *ngIf= "vaccinationHistory"  class="columnx">
                     <p>{{this.vaccinationHistory}}</p>
                   </div>
                  </div>

                  <div class="column">
                    <b>misc_notes</b>
                    <button  *ngIf= "misc_notes"  style="float: right;" (click)="addOrEditClinicalNotes('misc_notes', this.complaints)">Edit</button>
                    <button *ngIf= "!misc_notes" style="float: right;" (click)="addOrEditClinicalNotes('misc_notes', this.complaints)">Add</button>
                  <div  *ngIf= "misc_notes"  class="columnx">
                     <p>{{this.misc_notes}}</p>
                   </div>
                 </div>
           </div>
           <div class="clearfix"></div>
       </div>

</section>
