<section class="mgn-up-10 mgn-bt-10 mgn-lt-5 mgn-rt-5">
  <div class="card title-gb">
    <h5 class="mgn-up-10">
      <span class="fa fa-arrow-left pointer-cursor" (click)="goBack()"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      {{breadcrmbTitle | capitalizeFirst}}
    </h5>
  </div>
</section>
<section>
  <div class="row col-md-12 m0 no-padding-small" *ngIf="api_loading">
    <div class="card">
      <app-common-innerloading-spinner></app-common-innerloading-spinner>
    </div>
  </div>
</section>
<section *ngIf="!waitlistStatus && !appointment_status && !donations_status && !order_status && !api_loading">
  <div class="col-md-12 col-xs-12 col-sm-12 col-xs-12">
    <div class="token-appt">
      To setup 'Notifications', Appointment manager/QManager/Order manager/Donations need to be enabled from your
      settings.
    </div>
  </div>
</section>

<section class="mgn-lt-10 mgn-rt-10 card" 
*ngIf="(waitlistStatus || appointment_status || donations_status || order_status) && !api_loading">

  <mat-tab-group (selectedTabChange)="tabClick($event)"  >
    <mat-tab class="notifilabel" label="Token Notifications" *ngIf="showToken && waitlistStatus" >
      
        <div *ngIf="type=='Token'">
          <app-update-provider-notifications [type]="type" ></app-update-provider-notifications>
        </div>

    </mat-tab>
    <mat-tab class="notifilabel"  label="Check-in Notifications"  *ngIf="!showToken && waitlistStatus" >
      <div *ngIf="type=='Check-in'">
      <app-update-provider-notifications [type]="type" ></app-update-provider-notifications>

      </div>

    </mat-tab>
    <mat-tab class="notifilabel" label="Appointment Notifications" *ngIf="appointment_status" > 
      <div *ngIf="type=='Appointment'">
        <app-update-provider-notifications [type]="type" ></app-update-provider-notifications>

        </div>
      
    
    </mat-tab>
    <mat-tab class="notifilabel" label="Order Notifications" *ngIf="showToken && order_status" >
     <div *ngIf="type=='Order'">
      <app-update-provider-notifications [type]="type" ></app-update-provider-notifications>
     </div>

  </mat-tab>
  <mat-tab class="notifilabel" label="Donation Notifications" *ngIf="showToken && donations_status" >
   <div *ngIf="type=='Donation'">
    <app-update-provider-notifications [type]="type" ></app-update-provider-notifications>
   </div>

</mat-tab>
<mat-tab class="notifilabel" label="Account Notifications" *ngIf="showToken" >
  <div *ngIf="type=='Account'">
    <app-update-provider-notifications [type]="type" ></app-update-provider-notifications>
  </div>

</mat-tab>
  </mat-tab-group>
</section>

