<div class="mat-dialog-title">Forgot Password <button mat-dialog-close class="modal_close"><i class="fa fa-window-close" aria-hidden="true"></i></button></div>
<div class="example-container" *ngIf="step==1">
  <form [formGroup]="fpForm" novalidate
  (ngSubmit)="fpForm.valid &&
  onPhoneSubmit(fpForm.value)"
  (keyup)="resetApiErrors()"
  >
  <div class="mat-dialog-content">
      <div class="form-group">
      <mat-form-field>
          <label class="col-form-label" for="password">Phone Number</label>
          <input matInput #phonenumber placeholder="Phone number" [formControl]="fpForm.controls['phonenumber']">
        </mat-form-field>
        <app-field-error-display [displayError]="fed_service.isFieldValid(fpForm,'phonenumber')"
        [errorMsgs]="fed_service.getErrorMessage(fpForm,'phonenumber',
        {
          'required' : 'Phone number is required',
          'minlength' : 'Phone number should have 10 digits',
          'maxlength' : 'Phone number should have 10 digits',
          'pattern' : 'Only numbers are allowed'
        })">
        </app-field-error-display>
      </div>
  </div>
  <mat-dialog-actions>
        <button  type="submit" mat-button [disabled]="!fpForm.valid">Submit</button>
        <div class="forgotpass" (click)="cancelForgotPassword()">Back To Login</div>
  </mat-dialog-actions>
  </form>

</div>
<div class="example-container" *ngIf="step==2">
  <app-otp-form [type]="'forgot_password'" [submitdata]="submit_data"  (retonOtpSubmit)="onOtpSubmit($event)" (resetApiErrors)="resetApiErrors()"
  (resendOtp)="resendOtp($event)"></app-otp-form>
</div>


<div class="example-container" *ngIf="step==3">
  <app-sp-form (retonPasswordSubmit)="onPasswordSubmit($event)" (resetApiErrors)="resetApiErrors()"></app-sp-form>
</div>


    <div *ngIf="api_error">
      <app-field-error-display [displayError]="true"
      errorMsg="{{api_error}}"></app-field-error-display>
    </div>
    <app-form-success-display [displayMsg]="true" *ngIf="api_success"
    successMsg="{{api_success}}"></app-form-success-display>



