.forgot-password-component .example-container.cust-loginpge-color .phone-no mat-label {
    color: darkslategrey !important;
    font-weight: 700 !important;
    font-size: 0.85rem !important;
    margin-bottom: 5px !important;
    display: block !important;
}

::ng-deep .forgot-password-component .example-container.cust-loginpge-color .phone-no ngx-intl-tel-input.ng-invalid.ng-touched input {
    box-shadow: inset 0 0 2px red !important;
}

::ng-deep .forgot-password-component .example-container.cust-loginpge-color .phone-no ngx-intl-tel-input input:focus {
    box-shadow: inset 0 0 3px #3498db !important;
}

::ng-deep .forgot-password-component .example-container.cust-loginpge-color .phone-no ngx-intl-tel-input input {
    box-shadow: inset 0 0 3px #c7cace !important;
}

.forgot-password-component .example-container.cust-loginpge-color .phone-no .sts-msg.error {
    padding-left: 0 !important;
    font-weight: 700 !important;
    font-size: 0.725rem !important;
    color: red !important;
}

.forgot-password-component .example-container.cust-loginpge-color mat-dialog-actions {
    display: flex !important;
    flex-direction: row-reverse !important;
    justify-content: space-between !important;
}

.forgot-password-component .example-container.cust-loginpge-color .ok-button,
.forgot-password-component .example-container.cust-loginpge-color .back-button {
    width: 49% !important;
    color: white !important;
    margin: 0 !important;
    background-color: #1E4079 !important;
    border-radius: 4px !important;
    vertical-align: baseline !important;
}

.forgot-password-component .example-container.cust-loginpge-color .back-button {
    align-self: stretch !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    font-size: 0.875rem !important;
}

.padding15 {
    padding: 0 15px !important;
}
  