<!-- Card -->
<div class="fb">Terms & Condition</div>
<hr>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 fontmodel" *ngIf="!detail">
        Welcome to Jaldee.com! By accessing or using our website or Jaldee mobile app, you (consumer), whether registered or not, accept these Terms and Conditions and our Privacy Policy.
        Jaldee Soft Pvt Ltd owns www.Jaldee.com and operates the services provided through this website
        This Terms of Use agreement was last updated: February 04th 2021. This Terms of Use agreement is effective as of: February 04th 2021 
        Please go carefully through these terms and conditions before you decide to access Jaldee.com and avail the services offered by Jaldee
        
        Jaldee
        
        Jaldee allows consumers to search service providers and get the list of services and the estimated wait time for their services offered on this Site. Consumers interested in these services may book the Services and pay for the Service through this Site. The Services will be sold at a price that the Service Provider determines, and at their discretion. The Services are provided by service providers registered with Jaldee and not by Jaldee.
        
        Use of Site or Mobile app
        
        Jaldee.com website or Jaldee Mobile app may not be used to gain or attempt to gain any competitive advantage in Jaldee's industry market. Services provided are intended only for persons who are legally permitted to enter binding contracts. You must not violate any third party rights in using Jaldee and you must not use Jaldee in any way that damages, interferes with or disrupts Jaldee system or other users. The information, opinions, images, messages, website links, text information, music, videos, graphics, files, ideas, data and any other content provided to us by users and uploaded, published, displayed or otherwise made available on the site is not endorsed by Jaldee. Users are solely responsible for the submissions he or she posts.
    </div> 
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 fontmodel" *ngIf="detail" [innerHTML]="detail">
        
    </div> 
    
   
    

            