.calendar-main-div {
  background: white;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
}

.container-calendar {
  border-radius: 8px !important;
  overflow: hidden !important;
  padding: 20px !important;
}

h3 {
  color: #515151 !important;
  font-family: "Roboto", sans-serif !important;
  font-weight: 500 !important;
  margin-bottom: 0 !important;
  height: 34px;
  line-height: 34px;
}

.custom-left-btn {
  border-top-left-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
  border-right: 0 !important;
}

.custom-right-btn {
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
  border-left: 0 !important;
}

.custom-middle-btn {
  border-left: 0 !important;
  border-right: 0 !important;
  border-radius: 0 !important;
}

.btn-blue {
  color: white !important;
  font-weight: 400 !important;
  font-family: "Roboto", sans-serif !important;
  background-color: #1E4079 !important;
  border: 1px solid #1E4079 !important;
}

.btn-blue:hover,
.btn-blue:active,
.btn-blue:focus {
  background-color: #1B3A6C !important;
  border: 1px solid #1B3A6C !important;
}

.custom-left-btn.btn-blue {
  border-right: 0 !important;
}

.custom-right-btn.btn-blue {
  border-left: 0 !important;
}

.custom-middle-btn.btn-blue {
  border-left: 0 !important;
  border-right: 0 !important;
}

.custom-left-btn.btn-blue:hover,
.custom-left-btn.btn-blue:active,
.custom-left-btn.btn-blue:focus {
  border-right: 0 !important;
}

.custom-right-btn.btn-blue:hover,
.custom-right-btn.btn-blue:active,
.custom-right-btn.btn-blue:focus {
  border-left: 0 !important;
}

.custom-middle-btn.btn-blue:hover,
.custom-middle-btn.btn-blue:active,
.custom-middle-btn.btn-blue:focus {
  border-left: 0 !important;
  border-right: 0 !important;
}

.btn-white {
  border: 1px solid #9d9d9d !important;
  color: #515151 !important;
  font-weight: 400 !important;
  font-family: "Roboto", sans-serif !important;
  background-color: #ffffff !important;
}

.btn-white:hover,
.btn-white:focus,
.btn-white:active {
  background-color: #f9f9f9 !important;
  border: 1px solid #9d9d9d !important;
}

.custom-left-btn.btn-white {
  border-right: 0 !important;
}

.custom-right-btn.btn-white {
  border-left: 0 !important;
}

.custom-middle-btn.btn-white {
  border-left: 0 !important;
  border-right: 0 !important;
}

.custom-left-btn.btn-white:hover,
.custom-left-btn.btn-white:active,
.custom-left-btn.btn-white:focus {
  border-right: 0 !important;
}

.custom-right-btn.btn-white:hover,
.custom-right-btn.btn-white:active,
.custom-right-btn.btn-white:focus {
  border-left: 0 !important;
}

.custom-middle-btn.btn-white:hover,
.custom-middle-btn.btn-white:active,
.custom-middle-btn.btn-white:focus {
  border-left: 0 !important;
  border-right: 0 !important;
}

.btn-blue.active {
  border: 1px solid #9d9d9d !important;
  color: #515151 !important;
  font-weight: 400 !important;
  font-family: "Roboto", sans-serif !important;
  background-color: #ffffff !important;
}

.btn-blue.active:hover,
.btn-blue.active:active,
.btn-blue.active:focus {
  background-color: #f9f9f9 !important;
  border: 1px solid #9d9d9d !important;
}

.custom-left-btn.btn-blue.active {
  border-right: 0 !important;
}

.custom-right-btn.btn-blue.active {
  border-left: 0 !important;
}

.custom-middle-btn.btn-blue.active {
  border-left: 0 !important;
  border-right: 0 !important;
}

.custom-left-btn.btn-blue.active:hover,
.custom-left-btn.btn-blue.active:active,
.custom-left-btn.btn-blue.active:focus {
  border-right: 0 !important;
}

.custom-right-btn.btn-blue.active:hover,
.custom-right-btn.btn-blue.active:active,
.custom-right-btn.btn-blue.active:focus {
  border-left: 0 !important;
}

.custom-middle-btn.btn-blue.active:hover,
.custom-middle-btn.btn-blue.active:active,
.custom-middle-btn.btn-blue.active:focus {
  border-left: 0 !important;
  border-right: 0 !important;
}

::ng-deep .container-calendar mwl-calendar-month-view mwl-calendar-month-view-header .cal-cell-row.cal-header .cal-cell,
::ng-deep .container-calendar mwl-calendar-week-view mwl-calendar-week-view-header .cal-day-headers .cal-header,
::ng-deep .container-calendar mwl-calendar-week-view mwl-calendar-week-view-hour-segment .cal-hour-segment .cal-time,
::ng-deep .container-calendar mwl-calendar-day-view mwl-calendar-week-view mwl-calendar-week-view-hour-segment .cal-hour-segment .cal-time {
  font-family: "Roboto", sans-serif !important;
  font-weight: 500 !important;
  color: #515151 !important;
}
