.component-container {
    background-color: #ecf0f4 !important;
    min-height: 90vh !important;
    padding: 12.5px !important;
}
.title-row {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    justify-content: flex-start !important;
    align-items: center !important;
}
.title-row .title-head {
    width: auto !important;
    padding-right: 10px !important;
    font-size: 23px !important;
    font-weight: 500 !important;
    color: #444444 !important;
    font-family: "Roboto", sans-serif !important;
}
@media (max-width: 767px) {
    .title-row .title-head {
        width: 100% !important;
    }
}
.column {
    width: 50% !important;
    float: left;
    padding: 2px;
}
@media (max-width: 767px) {
    .column {
        width: 100% !important;
    }
}