.header-container {
    background: transparent !important;
}
.header-container h1,
.header-container h6 {
    color: #515151 !important;
    font-family: "Roboto", sans-serif !important;
    font-weight: 400 !important;
}
.title-row {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    justify-content: flex-start !important;
    align-items: center !important;
}
.title-row .title-head {
    width: auto !important;
    padding-right: 10px !important;
    font-size: 23px !important;
    font-weight: 500 !important;
    color: #444444 !important;
    font-family: "Roboto", sans-serif !important;
}
@media (max-width: 767px) {
    .title-row .title-head {
        width: 100% !important;
    }
}
.column {
    width: 50% !important;
    float: left;
    padding: 10px;
}
@media (max-width: 767px) {
    .column {
        width: 100% !important;
    }
}
.dashboard-content .section-title {
    color: #515151 !important;
    font-size: 12px !important;
    font-family: "Roboto", sans-serif !important;
    text-transform: uppercase !important;
    font-weight: 500 !important;
    margin-bottom: 8px !important;
    height: 18px !important;
}
@media (max-width: 767px) {
    .dashboard-content .pl-0 {
        padding-left: 12.5px !important;
    }
    .dashboard-content .pr-0 {
        padding-right: 12.5px !important;
    }
}
.book-stats {
    padding: 0 20px !important;
}
.blogo {
    border-radius: 10px !important;
    margin-right: 10px;
    height: 60px !important;
    width: 60px !important;
    background: #fff !important;
    position: inherit !important;
    border: 1px solid rgba(52, 73, 94, 0.44) !important;
    padding: 3px !important;
}
.navbar-nav .dropdown-menu {
    position: absolute !important;
    right: 0 !important;
    left: auto !important;
}
.dropdown-toggle::after {
    display: none !important;
}
@media (max-width: 991px) {
    .smalldisplaynone {
        display: none;
    }
}