<div class="lm-outer w-manager">
   
    <h3>Check In - healthcare</h3>
    Provider Dashboard

You can monitor the current and future check-ins and also history of check-ins here.On the left side of the dashboard select the location and the queue available. 

Today () - Here the present day’s online, walk-in, and kiosk check-ins are listed.In the brackets appended to “Today” the total number of check-ins is displayed.
Future() - Here the check-ins for future dates are listed. In the brackets appended to “Future” the total number of check-ins is displayed.
History - Here you can see all those check-ins done till the day before. Present day’s check-in will be updated under the history tab only next day. You can also complete one patient’s service from here.

Location Selection
		If your enterprise has multiple locations that has been added to your JALDEE profile, select one location to proceed with processing the queue. Please ensure the location you selected, before you create or check-in a walk-in patient.

Check-ins

Select the location, if your enterprise has more than one location.
A detailed view of patients who have already checked in online and also walk-in patients created and checked-in at your desk is displayed.
Prefix to sequence number if you see a “cloud” symbol, remember that particular patient has checked in online themself.
When you click on sequence number or on the patient name, you can view complete check-in details of the patient. Check-in history, Communication History and Private Notes history are listed here. In addition to that a provision to cancel patient check-in ,communicate with patient and add private note are available.
The three dots menu in the right side of a particular check-in has the following options.
	
Send Message : Write to your patient from here.
Cancel check-in : 
If you want to cancel a patient’s check-in for any reason, you can click ”Cancel Check-In”.
Patients are notified with push message/email, when their check-in is cancelled.
When you click”Cancel Check-In”, a pop up window appears which shows few reasons listed with tick box . You can tick any valid reason from the list and click “Save”.
If you want to inform your patient about the delay caused,tick the Send Message button and a text box appears with a default message respectively for each reason. You can edit the message and can type your own message.
Add private  note :  If you want to keep a note about a particular patient, you can write the note here. This record will be seen anytime this patient checks-in again.
Change Status to Check-in : This option appears only if  the status is marked to “Arrived”. You can change the status back to “Check-in” with this option.

Following sequence number, Name and Service selected is displayed.
Next focus is on “Actions” , where you have two actions “Arrived” and “Start”  to perform.
When the patient who checked in online, arrives at the premise to avail his/her service you can mark “Arrived”. By that time “Arrived” label is appended to the name of the patient. And also “ Bill” button comes adjacent to “Start” button with which new bill can be generated before getting service done. When the service starts click the button “Start” following which a message will be send to patient informing the service has begun.
Payment Status: Shows any payment status of the patient, whether it is not paid, partially paid or fully paid. 
Patient Note: The notes (if any) added by the customer while checking-in will be displayed here. 


Started

Under this tab, the provider can view the list of patients who have already started their service.
Sequence number, Name and Service is the same as in check-ins tab.
Mainly, two actions are performed here.
Done: When the service is finished click “Done” button, and this patient entry will proceed to “Done” tab. If you have enabled Notification button, either Push Message or Email in the “Add New Service” message will be send to patient informing the service has finished.
New bill: When you click new bill a window with Name, date and time will be displayed. When you select the service patient availed, details of price will appear there and can edit the standard rate if needed. When you have all the information click “Save”.// write more once it is completed

In addition, Add private note ,Cancel check-in and Send Message options are also given.
Add a provider note: If you want to keep a note about a particular patient, you can write the note here.
Cancel check-in: 
If you want to cancel  a patient check-in for any reason, you can click on Cancel check-in .
patients are notified with push message/email, if check-in is cancelled.
When you click”Cancel Check-In”, a pop up window appears which shows few reasons listed with tick box. You can tick any valid reason from the list and click “Save”.
If you want to inform your patient about the delay caused,tick the Send Message button and a text box appears with a default message respectively for each reason. You can edit the message and can type your own message.

Payment Status: Shows any payment status of the patient, whether it is not paid, partially paid or fully paid.
Patient Note: The notes (if any) added by the customer while Check-in will be displayed here. 

Done

Once the service is completed, that particular patient entry comes under this tab.
View bill and Accept Payments are the two important choices here.
View Bill:// write more once it is completed
Accept Payment://write more once it is completed
The other fields are the same as mentioned in above sections.
Cancelled
Here you can see the list of cancelled patient check-ins.

AUDIT LOG

Audit logs are the centralized stream of all user activity within a system. This system monitoring provides the details of both what has happened and what is happening to the system. Jaldee audit logs records all user activities like login, functions performed after logged on, configuration changes, transactions etc.

ALERTS

System alerts inform you of a special circumstance during system operation. 



ENABLE/DISABLE CHECK-IN

LICENSE DETAILS





</div>
