.consumer-action .mat-grid-tile {
    /* box-shadow: 5px 5px 5px 5px  #ecaf0842 !important */
    box-shadow: 10px 10px 15px 0 #cccccc9c;
}

@media only screen and (max-width: 475px){
    .consumer-action .action-big {
        display: none !important;
    }
}
@media (min-width: 476px) {
    .consumer-action .action-small {
        display: none !important;
    }
}

.consumer-action .width-60 {
    width: 60px;
}
.consumer-action .width-30 {
    width: 30px;
}
.consumer-action .width-70 {
    width: 70px;
}
.consumer-action .width-45 {
    width: 45px;
}
.consumer-action .pad-30 {
    padding:30px;
}
.consumer-action .mat-grid-tile img {
    cursor:  pointer !important;
    margin-top: -20px !important;
}
.consumer-action .mat-grid-tile .mat-grid-tile-header, .mat-grid-tile .mat-grid-tile-footer {
    height:32px !important;
    padding-left: 5px;
}
.consumer-action .footer-text {
    width: 100%;
    font-size: 0.7rem;
    text-align: center;
}
.consumer-action .action-small .mat-grid-tile-footer {
    /* display: none !important; */
}

/* order msg */
.consumer-action textarea {
    margin-top: 30px;
    width: 100%;
    border-color: #0a19313d !important;
    outline: 0;
    background: #f9f9f9;
    height: 153px !important;
    border: 1px solid #808080a8 !important;
    margin-bottom: 10px !important;
}
.consumer-action .img-msg {
    width: 100%;
    overflow: auto;
    padding: 30px;
    background: #ffefc9;
    height: 210px;
}
.consumer-action .snd-btn {
    width: 100%;
    background: #274a81;
    border: none;
    color: white;
    border-radius: 4px;
    padding: 10px;
}
.consumer-action .cancel-btn {
    width: 100%;
    border: none;
    color: black;
    background: #9e9e9e85;
    border-radius: 4px;
    padding: 10px;
}