 
<section class="">
    <div class="card title-gb">
        <h5 class="mgn-up-10"> 
           
            <span class="fa fa-arrow-left pointer-cursor" (click)="redirecToJaldeeOrdermanager()"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
             {{itemcaption}}
        </h5>
    </div>
</section>
<section>
    <div class="content loc-list">
        <div class="col-md-12 no-padding-small">
            <div class="row">
                <div class="card p0" *ngIf="api_loading">
                    <app-common-innerloading-spinner></app-common-innerloading-spinner>
                </div>
                <div class="card p0" *ngIf="!api_loading">
                    <div class="copy locd">
                            <div class="lbr col-sm-12 col-md-4 col-lg-5">
                                    <div class="cr1">
                                    <div class="no-dta" *ngIf="!image_list_popup || image_list_popup.length == 0">
                                            <!-- <p>{{havent_added_cap}} {{photo_cap}} </p> -->
                                            <div class="col-sm-12 col-md-12 col-lg-12">
                                                <div class="addorderitem" (click)="imagefile.click()">
                                                <p class="addorderitemp1"><a class="pointer-cursor"  ><input multiple #imagefile type="file"
                                                    accept="/*;capture=camera" style="display:none;" (change)="imageSelect($event)">Add item image
                                                    </a></p>
                                                    <p class="addorderitemp2"> <img style="width: 65%;" src="assets/images/add.svg" /></p>
                                                </div>
                                            </div>
                                           
                                                    
                                        </div> 
                                        <div class="ph-gal-bx" *ngIf="image_list_popup && image_list_popup.length > 0">
                                                <ul class="ph-gal">
                                                    <ng-container *ngFor="let file of image_list_popup;let i = index">
                                                        <li *ngIf="i<2" [class.gallery-li]="image_list_popup.length === 2">
                                                            <div class="galbx">
                                                                <span class="mbt">
                                                                    <button type="button" mat-icon-button [matMenuTriggerFor]="menu">
                                                                        <mat-icon>more_vert</mat-icon>
                                                                    </button>
                                                                    <mat-menu #menu="matMenu">
                                                                        <button type="button" mat-menu-item (click)="deleteTempImage(file, i)">
                                                                            <i class="icon-delete"></i>
                                                                            <span>{{delete_btn}}</span>
                                                                        </button>
                                                                    </mat-menu>
                                                                </span>
                                                                <div class="img-h" (click)="openImageModalRow(file)">
                                                                    <div class="overlay-y"></div><img [src]="file.modal.img" *ngIf="file.modal.img" />
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ng-container>
                                                    <li *ngIf="image_list_popup.length>2">
                                                        <div class="galbx">
                                                            <span class="mre" (click)="openImageModalRow(image_list_popup[2])"
                                                                *ngIf="(image_list_popup.length-3)>0">+{{(image_list_popup.length-3)}}</span>
                                                            <div class="img-h" *ngIf="(image_list_popup.length-3)>0"><img *ngIf="image_list_popup[2].modal.img"
                                                                    [src]="image_list_popup[2].modal.img" /></div>
                                                            <span class="mbt" *ngIf="(image_list_popup.length-3)==0">
                                                                <button type="button" mat-icon-button [matMenuTriggerFor]="menu">
                                                                    <mat-icon>more_vert</mat-icon>
                                                                </button>
                                                                <mat-menu #menu="matMenu">
                                                                    <button type="button" mat-menu-item (click)="deleteTempImage(image_list_popup[2], 2)">
                                                                        <i class="icon-delete"></i>
                                                                        <span>{{delete_btn}}</span>
                                                                    </button>
                                                                </mat-menu>
                                                            </span>
                                                            <div class="img-h" (click)="openImageModalRow(image_list_popup[2])"
                                                                *ngIf="(image_list_popup.length-3)==0">
                                                                <div class="overlay-y"></div><img *ngIf="image_list_popup[2].modal.img"
                                                                    [src]="image_list_popup[2].modal.img" />
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                                <div class="addmoreorderitem"  (click)="imagefile.click()">
                                                        <label class="pointer-cursor" ><input multiple #imagefile type="file"
                                                            accept="/*;capture=camera" style="display:none;" (change)="imageSelect($event)">Add more</label>
                                                            <p class="addmoreorderitemp1">   <img style="width: 65%;" src="assets/images/add.svg" /></p>
                                                        </div>
                                                <ks-modal-gallery [modalImages]="image_list_popup" [plainGalleryConfig]="customPlainGalleryRowConfig"
                                                    [buttonsConfig]="customButtonsFontAwesomeConfig" (buttonBeforeHook)="onButtonBeforeHook()"
                                                    (buttonAfterHook)="onButtonAfterHook()"></ks-modal-gallery>
                                            </div>  
                                            </div>
                            
                            </div>
                        <div class="lbl col-sm-12 col-md-8 col-lg-7">
                            <form *ngIf="action=='add' || action === 'edit' && amForm" [formGroup]="amForm" novalidate
                                (ngSubmit)="amForm.valid && onSubmit(amForm.value)" (keyup)="resetApiErrors()"
                                class="ynw-common-form-nm">

                                <div class="form-group">
                                    <mat-form-field>
                                        <input matInput type="text" class="form-control" id="itemName"
                                            placeholder="Item Name *" formControlName="itemName"
                                            autocomplete="off" maxlength="50">
                                    </mat-form-field>
                                    <app-field-error-display
                                        [displayError]="fed_service.isFieldValid(amForm,'itemName')" [errorMsgs]="fed_service.getErrorMessage(amForm,'itemName',
                                {
                                  'required' : 'Please enter the item name',
                                  'maxlength' : 'Item name can contain only ' + maxChars + ' characters'
                                })">
                                    </app-field-error-display>
                                </div>
                                <div class="form-group">
                                    <mat-form-field>
                                        <input matInput type="text" class="form-control" id="displayName"
                                            placeholder="Display Name *" formControlName="displayName"
                                            autocomplete="off" maxlength="50">
                                    </mat-form-field>
                                    <app-field-error-display
                                        [displayError]="fed_service.isFieldValid(amForm,'displayName')" [errorMsgs]="fed_service.getErrorMessage(amForm,'displayName',
                                {
                                  'required' : 'Please enter the display name',
                                  'maxlength' : 'Display name can contain only ' + maxChars + ' characters'
                                })">
                                    </app-field-error-display>
                                </div>
                                <div class="form-group">
                                    <mat-form-field>
                                        <input matInput type="text" class="form-control" id="itemCode"
                                            placeholder="Item Code *" formControlName="itemCode"
                                            autocomplete="off">
                                    </mat-form-field>
                                    <app-field-error-display
                                        [displayError]="fed_service.isFieldValid(amForm,'itemCode')" [errorMsgs]="fed_service.getErrorMessage(amForm,'itemCode',
                                {
                                  'required' : 'Please enter item code',
                                  'maxlength' : 'Item code can contain only ' + maxChars + ' characters'
                                })">
                                    </app-field-error-display>
                                </div>
                                <div class="form-group">
                                    <mat-form-field>
                                        <input matInput type="text" class="form-control" id="shortDec"
                                            placeholder="Short Description" formControlName="shortDec"
                                            autocomplete="off">
                                    </mat-form-field>
                                    <app-field-error-display
                                        [displayError]="fed_service.isFieldValid(amForm,'shortDec')" [errorMsgs]="fed_service.getErrorMessage(amForm,'shortDec',
                                {
                                  'required' : 'Please enter short description',
                                  'maxlength' : 'Short description can contain only ' + maxChars + ' characters'
                                })">
                                    </app-field-error-display>
                                </div>
                                 <div class="form-group">
                                    <mat-form-field>
                                        <textarea matInput class="form-control" id="displayDesc"
                                            placeholder="{{detailed_dec_cap}} " formControlName="displayDesc"
                                            (keyup)="setCharCount()" (focus)="setDescFocus()" (blur)="lostDescFocus()"
                                            maxlength="500"></textarea>
                                    </mat-form-field>
                                    <app-field-error-display
                                        [displayError]="fed_service.isFieldValid(amForm,'displayDesc')" [errorMsgs]="fed_service.getErrorMessage(amForm,'displayDesc',
                                {
                                  'required' : 'Please enter detailed description.',
                                  'maxlength' : 'Detailed description can contain only ' + maxCharslong + ' characters'
                                })">
                                    </app-field-error-display>
                                    <span class="max-char-length" *ngIf="isfocused">You have {{char_count}}
                                        characters remaining</span>
                                </div>
                                <div class="form-group">
                                    <mat-form-field>
                                        <textarea matInput class="form-control" id="note"
                                            placeholder="Note " formControlName="note"
                                            (keyup)="setnoteCharCount()" (focus)="setnoteFocus()" (blur)="lostnoteFocus()"
                                            maxlength="500"></textarea>
                                    </mat-form-field>
                                    <app-field-error-display
                                        [displayError]="fed_service.isFieldValid(amForm,'note')" [errorMsgs]="fed_service.getErrorMessage(amForm,'note',
                                {
                                  'required' : 'Please enter note.',
                                  'maxlength' : 'Note can contain only ' + maxCharslong + ' characters'
                                })">
                                    </app-field-error-display>
                                    <span class="max-char-length" *ngIf="isnotefocused">You have {{notechar_count}}
                                        characters remaining</span>
                                </div>

                                <div class="form-group">
                                    <mat-form-field>
                                        <input matInput type="text" min="0" max="100000" (keypress)="isNumeric($event)"
                                            (keyup)="isvalid($event)" class="form-control number-ip-sm"
                                            formControlName="price" id="price"
                                            placeholder="{{price_cap}} ({{rupee_symbol}}) *" autocomplete="off">
                                    </mat-form-field>
                                    <app-field-error-display [displayError]="fed_service.isFieldValid(amForm,'price')"
                                        errorMsg="" [errorMsgs]="fed_service.getErrorMessage(amForm,'price',
                                {
                                  'required' : 'Please enter the price.',
                                  'pattern' : 'Please enter valid price',
                                  'maxlength' : 'Price can have only ' + maxNumbers + ' digits'
                                })">
                                    </app-field-error-display>
                                </div>

                                <div class="form-group">
                                        <mat-checkbox   [(ngModel)]="showPromotionalPrice" [ngModelOptions]="{standalone: true}">
                                            Show promotional price
                                        </mat-checkbox>
                                </div>
                                <div class="form-group" *ngIf="showPromotionalPrice">
                                        <label class="col-form-label" for="PromotionalPricetype">Promotional Pricetype</label>
                                        <mat-radio-group formControlName="promotionalPriceType">
                                          <mat-radio-button (click)="handleTypechange('FIXED')" value="FIXED">Fixed</mat-radio-button>&nbsp;&nbsp;
                                          <mat-radio-button (click)="handleTypechange('PCT')" value="PCT">Percentage</mat-radio-button>
                                        </mat-radio-group>
                                 </div>
                                <div class="form-group" *ngIf="showPromotionalPrice">
                                    <mat-form-field>
                                            <span matPrefix *ngIf="curtype == 'FIXED'" class='rupee'> ₹ &nbsp;</span>
                                            <span matPrefix *ngIf="curtype == 'PCT'" class='rupee'> % &nbsp;</span>
                                        <input matInput type="text" min="0" max="100000" (keypress)="isNumeric($event)"
                                            (keyup)="isvalid($event)" class="form-control number-ip-sm"
                                            formControlName="promotionalPrice" id="promotionalPrice"
                                            [placeholder]="valueCaption" autocomplete="off">
                                    </mat-form-field>
                                    <app-field-error-display [displayError]="fed_service.isFieldValid(amForm,'promotionalPrice')"
                                        errorMsg="" [errorMsgs]="fed_service.getErrorMessage(amForm,'promotionalPrice',
                                {
                                  
                                  'pattern' : 'Please enter valid price',
                                  'maxlength' : 'Price can have only ' + maxNumbers + ' digits'
                                })">
                                    </app-field-error-display>
                                </div>
                                <div class="form-group" *ngIf="showPromotionalPrice">
                                        <label class="col-form-label" for="PromotionalPricelabel">Promotional Label</label>
                                        <mat-radio-group formControlName="promotionallabel">
                                          <mat-radio-button (click)="handleLabelchange('Sale')" value="Sale">Sale</mat-radio-button>&nbsp;&nbsp;
                                          <mat-radio-button (click)="handleLabelchange('Clearence')" value="Clearence">Clearence</mat-radio-button>&nbsp;&nbsp;
                                          <mat-radio-button (click)="handleLabelchange('Other')" value="Other">Other</mat-radio-button>
                                        </mat-radio-group>
                                 </div>
                                 <div class="form-group" *ngIf="showPromotionalPrice && showCustomlabel">
                                        <mat-form-field>
                                            <input matInput type="text" class="form-control" id="customlabel"
                                                placeholder="Custom Label " formControlName="customlabel"
                                                autocomplete="off">
                                        </mat-form-field>
                                       
                                    </div>
                               

                                <div class="form-group">
                                    <label class="col-form-label" for="taxable">{{taxable_cap}} </label>
                                    <mat-slide-toggle formControlName="taxable" (change)="handleTaxablechange()"
                                        [checked]="holdtaxable">
                                    </mat-slide-toggle>
                                    <app-field-error-display [displayError]="fed_service.isFieldValid(amForm,'taxable')"
                                        errorMsg="Please select taxable">
                                    </app-field-error-display>
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label" for="showOnLandingpage">Visibility in landing page</label>
                                    <mat-slide-toggle formControlName="showOnLandingpage">
                                    </mat-slide-toggle>
                                    
                                </div>
                                <div class="col-md-12 col-xs-12 col-sm-12 actiondiv mgn-up-20 mgn-bt-20 no-padding" style="display: inline-flex;">
                                    <!-- <button (click)="onCancel()" type="button"
                                        class="cs-btn bt2">{{cancel_btn_cap}}</button> -->
                                        <button type="button" *ngIf="action=='add'" (click)="onSubmit(amForm.value,'saveadd')" class="cs-btn bt1" mat-button
                                        [disabled]="!amForm.valid || disableButton">save && add another</button>
                                    &nbsp;
                                    <button type="submit" class="cs-btn bt1" mat-button
                                        [disabled]="!amForm.valid || disableButton">{{save_btn_cap}}</button>
                                  
                                </div>
                            </form>
                            <app-field-error-display class="itemerror"[displayError]="true" *ngIf="api_error" errorMsg="{{api_error}}">
                            </app-field-error-display>
                            <app-form-success-display [displayMsg]="true" *ngIf="api_success"
                                successMsg="{{api_success}}">
                            </app-form-success-display>
                            <div class="content comn-cls">
                                <div class="col-md-12 no-padding-small">
                                    <div class="w-dta">
                                        <div class="row">
                                            <div class="card"
                                                style="margin-bottom: unset !important; box-shadow: none !important;">
                                                <div class="copy">
                                                    <div class="itm-d">
                                                        <div class="itm-r item-detail" *ngIf="item && action==='view'">
                                                            <span class="editbt" (click)="editViewedItem(item)"
                                                                *ngIf="item.status=='ACTIVE'">

                                                            </span>
                                                            <h3>{{item_detail_cap}}</h3>
                                                            <div class="dtls">
                                                                <span class="label">{{item_name_cap}}</span>
                                                                <span class="ttle">
                                                                    {{item.displayName}}
                                                                </span>
                                                            </div>
                                                            <div class="dtls" *ngIf="item.itemName">
                                                                <span class="label">{{short_desc_cap}}</span>
                                                                <span class="ttle">
                                                                    {{item.itemName}}
                                                                </span>
                                                            </div>
                                                            <div class="dtls" *ngIf="item.displayDesc">
                                                                <span class="label">{{detail_desc_cap}}</span>
                                                                <span class="ttle">
                                                                    {{item.displayDesc}}
                                                                </span>
                                                            </div>
                                                            <div class="dtls">
                                                                <span class="label">{{price_cap}}</span>
                                                                <span class="ttle rupee-font">
                                                                    {{item.price}}
                                                                </span>
                                                            </div>
                                                            <div class="dtls">
                                                                <span class="label">{{taxable_cap}}</span>
                                                                <span class="ttle">
                                                                    {{(item.taxable===true)?'Yes':'No'}}
                                                                </span>
                                                            </div>
                                                            <div class="dtls">
                                                                <span class="label">{{status_cap}}</span>
                                                                <span class="ttle"
                                                                    >{{item.status}}
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> 