
    <h1 class="mat-dialog-title">  Users
      <button  mat-dialog-close  tabindex="-1"class="modal_close">
        <i class="fa fa-window-close" aria-hidden="true"></i>
      </button>
    </h1>
    <app-common-innerloading-spinner *ngIf="loading"></app-common-innerloading-spinner>
    <div *ngIf="!loading && user_list.length>0">
    <mat-dialog-content>

      <mat-selection-list #users   [(ngModel)]="selectedUsers" (ngModelChange)="onUserChange($event)" >

        <mat-list-option checkboxPosition="before" *ngFor=" let user of user_list" [value] ="user" [selected]="isSelected(user)">

          {{user.firstName}}  {{user.lastName}} 

        </mat-list-option>

      </mat-selection-list>
    </mat-dialog-content>

    <mat-dialog-actions>
        <div class="col-md-10 no-padding mgn-up-10 glbl-seting-heder">
      <button   type="button"  class="cs-btn bt2 "(click)="close();"  *ngIf="mode!='view'"> Cancel</button>
      <button  mat-button class="cs-btn bt1 style-button" type="button"   *ngIf="mode!='view'" (click)="onConfirm(users.selectedOptions)" >Confirm</button>
    </div>
    </mat-dialog-actions>
    </div>
    <div  *ngIf="!loading && user_list.length==0">
      <p class="ml-5"> No Services Found</p>
      </div>

