.filter-sidebar {
    box-shadow: -5px 0px 10px -1px #bbb !important;
    border: 0 !important;
    margin-bottom: 55px !important;
    height: -webkit-fill-available !important;
    width: 265px !important;
    overflow: hidden !important;
}

.filter-sidebar .filter-container {
    height: -webkit-fill-available !important;
    overflow: auto !important;
}

.filter-sidebar .filter-container .filter-head {
    background-color: #1E4079 !important;
    height: 52px !important;
    padding: 10px !important;
    color: white !important;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
}

.filter-sidebar .filter-container .filter-head .filter-head-title {
    color: white !important;
    font-size: 18px !important;
}

.filter-sidebar .filter-container .filter-head i {
    font-size: 30px !important;
}

.filter-sidebar .filter-container .sidebar-menu#accordion1 .card {
    box-shadow: none !important;
    padding: 10px 15px !important;
    border-radius: 0 !important;
    border-bottom: 2px solid #ddd !important;
}

.filter-sidebar .filter-container .sidebar-menu#accordion1 .card-header h2 button {
    color: #1E4079 !important;
    font-weight: 700 !important;
    font-size: 15.5px !important;
    border-radius: 0 !important;
    border: 0 !important;
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;

    padding: 10px 15px !important;
    background-color: #ddd !important;
    margin: -10px -15px 0 !important;
    width: -webkit-fill-available !important;
    text-transform: uppercase !important;
}

.filter-sidebar .filter-container .sidebar-menu#accordion1 .card-header h2 button.collapsed {
    width: 100% !important;
    padding: 0 !important;
    background-color: transparent !important;
    margin: 0 !important;
}

.filter-sidebar .filter-container .sidebar-menu#accordion1 .card-header h2 button:hover {
    color: #1E4079 !important;
    text-decoration: none !important;
}

.filter-sidebar .filter-container .sidebar-menu#accordion1 .card-header h2 button:active {
    box-shadow: none !important;
}

.filter-sidebar .filter-container .sidebar-menu#accordion1 .card-header h2 button:focus {
    text-decoration: none !important;
}

.filter-sidebar .filter-container .sidebar-menu#accordion1 .card-header h2 button:active:focus {
    box-shadow: none !important;
    outline: none !important;
    text-decoration: none !important;
}

.filter-sidebar .filter-container .sidebar-menu#accordion1 .card-header h2 button i {
    font-size: 22px !important;
    color: #1E4079 !important;
    font-weight: 700 !important;
}

.filter-sidebar .filter-container .sidebar-menu#accordion1 .card-header h2 button i {
    transition: 0.70s !important;
    transform: rotate(180deg) !important;
} 
  
.filter-sidebar .filter-container .sidebar-menu#accordion1 .card-header h2 button.collapsed i {
    transition: 0.70s !important;
    transform: rotate(0deg) !important;
}

.filter-sidebar .filter-container .sidebar-menu#accordion1 .card-body {
    margin-top: 10px !important;
}

.filter-sidebar .filter-container .sidebar-menu#accordion1 .card-body .filter-text-input {
    border-bottom: 0 !important;
}

.filter-sidebar .filter-container .sidebar-menu#accordion1 .card-body .filter-text-input li.filter-li {
    margin: 0 !important;
}

.filter-sidebar .filter-container .sidebar-menu#accordion1 .card-body .filter-text-input li.filter-li .filter-textbox {
    height: 40px !important;
    width: 100% !important;
    margin: 0 !important;
    background-color: #e3e3e3 !important;
    border: 0 !important;
    border-radius: 5px !important;

    font-size: 15px !important;
    font-weight: 700 !important;
    color: darkslategrey !important;
}

.filter-sidebar .filter-container .sidebar-menu#accordion1 .card-body .filter-text-input li.filter-li .filter-textbox::placeholder {
    font-weight: 700 !important;
    font-size: 15px !important;
    color: #777 !important;
}

.filter-sidebar .filter-container .sidebar-menu#accordion1 .card-body .filter-checkbox-input {
    padding: 15px 0 !important;
}

.filter-sidebar .filter-container .sidebar-menu#accordion1 .card-body .filter-checkbox-input li.filterli {
    margin: 0 15px !important;
}

::ng-deep .app-appointments-component .filter-sidebar .filter-container .sidebar-menu#accordion1 .card-body .filter-checkbox-input .mat-checkbox.filter-checkbox .mat-checkbox-inner-container {
    height: 20px !important;
    width: 20px !important;
}

::ng-deep .app-appointments-component .filter-sidebar .filter-container .sidebar-menu#accordion1 .card-body .filter-checkbox-input .mat-checkbox.filter-checkbox .mat-checkbox-inner-container .mat-checkbox-frame {
    border-radius: 50% !important;
    border-color: #888 !important;
}

::ng-deep .app-appointments-component .filter-sidebar .filter-container .sidebar-menu#accordion1 .card-body .filter-checkbox-input .mat-checkbox.filter-checkbox.mat-checkbox-checked .mat-checkbox-inner-container .mat-checkbox-background {
    border-radius: 50% !important;
    background-color: #1E4079 !important;
}

::ng-deep .app-appointments-component .filter-sidebar .filter-container .sidebar-menu#accordion1 .card-body .filter-checkbox-input .mat-checkbox.filter-checkbox .mat-checkbox-label {
    font-size: 15px !important;
    font-weight: 700 !important;
    color: darkslategrey !important;
}

.filter-sidebar .filter-container .filter-head .reset-filter {
    background-color: white !important;
    padding: 5px 8px !important;
    border-radius: 3px !important;
    color: #1E4079 !important;
    font-weight: 700 !important;
    font-size: 15px !important;
}

.dropdown.notifications-menu a {
    height: 105px !important;
    margin-bottom: 12px !important;
    border: 0 !important;
    background: white !important;
    border-radius: 0 !important;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12) !important;
    color: #1E4079 !important;
    width: 105px !important;
    text-align: center !important;
}

.dropdown.notifications-menu a i {
    display: block !important;
    font-size: 50px !important;
    text-align: center !important;
    margin-top: 5px !important;
    color: #1E4079 !important;
    margin-bottom: 10px !important;
}

@media (max-width: 576px) {
    .dropdown.notifications-menu a {
        padding-top: 2px !important;
        line-height: 1.4 !important;
        height: 75px !important;
        width: 75px !important;
    }
    
    .dropdown.notifications-menu a i {
        font-size: 30px !important;
        margin-top: 10px !important;
    }    
}
