header.consumer {
    /* padding: 30px 15px 20px !important; */
    padding: 15px 15px 0px !important;
    /* border-bottom: 1px solid #ccc !important;
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important; */
}