.customersList {

}
.customersList .pitch_blu {
  color: #1e4079 !important;
}
@media screen and (max-width: 1000px) {
    .customersList .part2 {
      display: none;
    }
    .customersList .visible {
        display: inherit !important;
    }
    .customersList .invisible {
        display: none;
    }
  }

.customersList .card {
  border-radius: 0 !important;
}  
.customersList .grp_label {
  border: 1px solid #80808042 !important;
}
.customersList .grp_label:hover {
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
}
.customersList .selected_customers {
  font-size: 0.7rem !important;
  color: green !important;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.customersList .font-1 {
  font-size: 1rem !important;
}
.customersList .row_data {
  font-size: 0.75rem !important;
  font-weight: 600 !important;
}
.customersList .mat-flat-button {
  background: #1e4079;
  color: white;
  line-height: 26px !important;
  border-radius: 5px;
}
.customersList .prof_btn {
  background: white !important;
  color: #235489 !important;
  border: 1px solid #1e4079 !important;
  font-weight: 600 !important;
}
.customersList .add_btn {
  line-height: 35px !important;
}
.customersList .search {
  height: calc(1.35em + 1.1rem + 2px);
  /* padding: 0.55rem 0.75rem; */
  font-size: 0.7rem !important;
  line-height: 1 !important;
  border-radius: 2rem !important;
  float: right !important;
}
.label-icon {
  width: 20px !important;
}