<section>
  <app-breadcrumb [breadcrumbs]="breadcrumbs" [moreOptions]="breadcrumb_moreoptions" *ngIf="!apiloading"
    (performAction)="performActions($event)">
  </app-breadcrumb>
</section>
<section class="dashboard content customers" *ngIf="!apiloading">
  <div class="col-md-12 no-padding-small">
    <div class="row">
      <div class="card p0 w-dta ">
        <!-- <header class="main-header dash chkin"> -->
        <!-- <nav class="navbar navbar-static-top" role="navigation"> -->
        <!-- <div class="navbar-custom-menu"> -->
        <!-- <div class="col-md-12 no-padding cust_label" *ngIf="customer_count !== 0">
          <span class="cust_count">{{customer_label | capitalizeFirst}}s {{checkedin_label}}:
            {{customer_count}}</span>
        </div> -->
        <div class="col-md-12 no-padding">
          <ul class="nav cust-dash jd-custom-nav">
            <li class="dropdown notifications-menu">
              <a class="dropdown-toggle navbar-item-color bold pointer-cursor" data-toggle="control-sidebar">
                <i class="icon-filter-one" (click)="showFilterSidebar()" [matTooltipClass]="tooltipcls"
                  [matTooltip]="filtericonTooltip">
                </i>
              </a>
            </li>
            <!-- <li class="dropdown notifications-menu cl-fltr fltr-tbl">
              <a class="dropdown-toggle navbar-item-color bold pointer-cursor" data-toggle="dropdown">
                <i *ngIf="filterapplied === true" class="pointer" (click)="clearFilter()" [matTooltipClass]="tooltipcls"
                  [matTooltipClass]="tooltipcls" [matTooltip]="'Reset filter'"><img
                    src="../../../../assets/images/icons8-clear-filters-40.png" alt="" /> &nbsp;</i>
                <i class="icon-filter-one-op" (click)="toggleFilter()" *ngIf="open_filter"
                  [matTooltipClass]="tooltipcls" [matTooltip]="'Close filter window'"></i>
                <i class="icon-filter-one" (click)="toggleFilter()" [matTooltipClass]="tooltipcls"
                  [matTooltip]="filtericonTooltip" *ngIf="!open_filter"></i>
              </a>
            </li> -->
            <li class="dropdown notifications-menu">
              <a class="dropdown-toggle navbar-item-color bold pointer-cursor" data-toggle="control-sidebar">
                <span class="statuslink " *ngIf="customerselection>0" [matTooltip]="'Send Message'">
                  <i class="fa fa-comments-o" (click)="CustomersInboxMessage()"></i> </span>
              </a>
            </li>
            <li class="dropdown notifications-menu">
              <a (click)="createCustomer()" class="dropdown-toggle navbar-item-color bold pointer-cursor"
                data-toggle="dropdown">
                <i class="fa fa-user-plus"></i> {{customer_label | capitalizeFirst}}
              </a>
            </li>
            <li class="dropdown notifications-menu">
              <a (click)="searchCustomer()" class="dropdown-toggle navbar-item-color bold pointer-cursor"
                data-toggle="dropdown">
                <i class="fa fa-user"></i> Find {{customer_label | capitalizeFirst}}
              </a>
            </li>
          </ul>
        </div>

        <aside class="filterSidebar" *ngIf="filter_sidebar">
          <section class="sidebar sidebar-bottom">
            <div class="filterClosebtn">
              <i class="icon-filter-one-op ng-star-inserted pointer-cursor " (click)="hideFilterSidebar()"
                [matTooltipClass]="tooltipcls" [matTooltip]="'Close filter window'"></i>
              <span *ngIf="filterapplied === true" class="clearFilter" (click)="clearFilter()"
                [matTooltipClass]="tooltipcls" [matTooltip]="'Reset filter'"> Clear All</span>
            </div>
            <ul class="sidebar-menu">
              <div class="filterTextinput">
                <li class="filterli">
                  <input type="text" #Ffname (blur)="doSearch()" (keyup)="focusInput($event,Fmobile)"
                    class="filterTextbox" [(ngModel)]="filter.first_name" placeholder="First Name">
                </li>
              </div>
              <div class="filterTextinput">
                <li class="filterli filterDatepicker">
                  <input type="text" [(ngModel)]="filter.date" [min]="minday" [max]="maxday" [matDatepicker]="picker"
                    #Fdate (dateChange)="doSearch()" (blur)="doSearch()" class="filterTextbox" placeholder="Date">
                  <mat-datepicker-toggle matSuffix [for]="picker">
                  </mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </li>
              </div>
              <div class="filterTextinput">
                <li class="filterli">
                  <input type="text" id="txt_mobile" [(ngModel)]="filter.mobile" #Fmobile (blur)="doSearch()"
                    (keyup)="focusInput($event, Femail)" (keypress)="isNumeric($event)" maxlength="10"
                    class="filterTextbox" placeholder="Phone Number">
                </li>
              </div>
              <div class="filterTextinput">
                <li class="filterli filterDatepicker">
                  <input type="text" id="txt_email" [(ngModel)]="filter.email" #Femail (blur)="doSearch()"
                    (keyup)="focusInput($event, Fdate)" class="filterTextbox" placeholder="Email">
                </li>
              </div>
            </ul>
          </section>
        </aside>

        <div class="col-md-12 cust-sect no-padding">
          <!-- <div id="customers-filter-cont" *ngIf="open_filter === true">
            <div id="customers-filter-toolbar" class="box-content filter-toolbar">
              <a [class.button_filter]="filters['first_name']" (click)="filterClicked('first_name')"
                class="anchorbutton remMarginRight genMarginLeft" name="first_name"
                id="btn_first_name_filter_id"><span>First Name</span></a>
              <input type="text" #Ffname (blur)="doSearch()" (keyup)="focusInput($event,Fmobile)" class="genTextHeight"
                [(ngModel)]="filter.first_name" [hidden]="!filters['first_name']">

              <a [class.button_filter]="filters['date']" (click)="filterClicked('date')"
                class="anchorbutton remMarginRight genMarginLeft" name="date"
                id="btn_date_filter_id"><span>Date</span></a>
              <input type="text" [(ngModel)]="filter.date" [min]="minday" [matDatepicker]="picker" #Fdate
                (dateChange)="doSearch()" class="genTextHeight" [hidden]="!filters['date']" (blur)="doSearch()">
              <mat-datepicker-toggle matSuffix [for]="picker" [hidden]="!filters['date']"></mat-datepicker-toggle>
              <mat-datepicker #picker [hidden]="!filters['date']"></mat-datepicker>

              <a [class.button_filter]="filters['mobile']" (click)="filterClicked('mobile')"
                class="anchorbutton remMarginRight genMarginLeft" name="mobile"
                id="btn_mobile_filter_id"><span>Mobile</span></a>
              <input type="text" id="txt_mobile" [(ngModel)]="filter.mobile" #Fmobile (blur)="doSearch()"
                (keyup)="focusInput($event, Femail)" maxlength="10" class="genTextHeight" [hidden]="!filters['mobile']">

              <a [class.button_filter]="filters['email']" (click)="filterClicked('email')"
                class="anchorbutton remMarginRight genMarginLeft" name="email"
                id="btn_email_filter_id"><span>Email</span></a>
              <input type="text" id="txt_email" [(ngModel)]="filter.email" #Femail (blur)="doSearch()"
                (keyup)="focusInput($event, Fdate)" class="genTextHeight" [hidden]="!filters['email']">
              <input type="button" value=" Go " (click)="doSearch()" id="btnGo"
                class="genMarginLeft genTextHeight btn_black qo_bt">
            </div>
          </div> -->
          <div class="col-md-12 custs no-padding pt10 pb10" *ngFor="let customer of customers let i=index "
            (click)="selectcustomers(i)">
            <div class="col-md-12 col-sm-12 col-xs-12 no-padding-small" [class.selected-customer]="customerSelected[i]">

              <span class="mbt">
                <button type="button" mat-icon-button [matMenuTriggerFor]="appMenu">
                  <mat-icon>more_vert</mat-icon>
                </button>
              </span>

              <div class="col-md-2 col-sm-7 mt5">
                {{customer.firstName}} {{customer.lastName}}
              </div>
              <div class="col-md-2 col-sm-5 mt5" *ngIf="customer.phoneNo.length === 10">
                <span><i class="fa fa-mobile"></i>{{customer.phoneNo}}</span></div>
              <div class="col-md-4 col-sm-7 mt5"><span *ngIf="customer.email"><i
                    class="fa fa-envelope"></i>{{customer.email}}</span></div>
              <div class="col-md-1 col-sm-5 mt5"><span *ngIf="customer.lastVisitedDate">Last visited on
                  {{customer.lastVisitedDate | date: dateFormat }}</span></div>

              <div class="col-md-2 col-sm-5 mt5" *ngIf="customer.jaldeeId">
                <span>Jaldee Id: {{customer.jaldeeId}}</span></div>
              <mat-menu #appMenu="matMenu">
                <button mat-menu-item (click)="editCustomer(customer)">
                  Edit
                </button>
              </mat-menu>
              <div class="clearfix"></div>
            </div>
          </div>
          <div class="col-md-12 custs  pt10 pb10" *ngIf="loadComplete && customers.length === 0">
            No {{customer_label | capitalizeFirst}}s Found
          </div>
        </div>
        <div class="search_paging" *ngIf="loadComplete">
          <app-pager [total_pages]="pagination.totalCnt" [pagesize]="pagination.perPage"
            (pagerclick)="handle_pageclick($event)" [curpage]="pagination.startpageval"></app-pager>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</section>
<div *ngIf="apiloading" style="margin-top: 100px">
  <app-common-innerloading-spinner></app-common-innerloading-spinner>
</div>