.customersList .pitch_blu {
  color: #1e4079 !important;
}
.customersList .hidden_th {
  display: none !important;
}

@media screen and (max-width: 1218px) {
    .customersList .hide_th {
      display: none !important;
    }
    .customersList .hidden_th {
      display: inline-block !important;
    }
} 
@media screen and (max-width: 385px) {
  .customersList .card-body {
    padding: 0 !important;
  }
} 

.customersList .card {
  border-radius: 0 !important;
}  
.customersList .grp_label {
  border: 1px solid #80808042 !important;
}
.customersList .grp_label:hover {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
}
.customersList .selected_customers {
  font-size: 0.7rem !important;
  color: green !important;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.customersList .font-1 {
  font-size: 1rem !important;
}
.customersList .row_data {
  font-size: 0.75rem !important;
  font-weight: 600 !important;
}
.customersList .mat-flat-button {
  background: #1e4079;
  color: white;
  line-height: 26px !important;
  border-radius: 5px;
}
.customersList .prof_btn {
  background: white !important;
  color: #235489 !important;
  border: 1px solid #1e4079 !important;
  font-weight: 600 !important;
}
.customersList .add_btn {
  line-height: 35px !important;
}
.customersList .search {
  height: calc(1.35em + 1.1rem + 2px);
  /* padding: 0.55rem 0.75rem; */
  font-size: 0.7rem !important;
  line-height: 1 !important;
  border-radius: 2rem !important;
  float: right !important;
}
.label-icon {
  width: 20px !important;
}
.customer-added {
  color: gray;
  margin-left: 25px;
  font-size: 0.7rem;
  font-weight: normal;
  font-style: italic;
}
.add_btn .fa-trash, .add_btn .flaticon2-chat-1 {
  font-size: 1.1rem;
  color: white !important;
}
.customersList .fa-filter {
  position: absolute;
  margin-top: 10px;
  right: 0;
  width: 40px;
  color: #1e4079;
  cursor: pointer;
}  
.customersList .center {
  margin-left: auto;
  margin-right: auto !important;
}
.customersList .filter .cdk-overlay-pane {
  height: 100%;
}
.customersList .filterClosebtn {
  background: #1e4079 !important;
}
.customersList .fade:not(.show) {
  opacity: 2 !important;
 }
 .max-hgt-20 {
   max-height: 20px;
 }
 .disabled-group {
  background: #eee !important;
 }
 .cancel_btn {
  background: white !important;
  color: black !important;
  font-weight: bold;
  border: 1px solid red;
 }
 .error-section {
  background: red;
  color: white;
  padding: 10px;
  text-align: center;
  font-size: .8rem;
 }
 .cust-name {
   font-size: 0.9rem;
 }
 .customer-selected {
  text-transform: capitalize;
  font-size: smaller;
 }
 .pad-bt-0 {
   padding-bottom: 0 !important;
 }
 .pad-lt-0 {
   padding-left: 0px !important;
 }
 .no-customer {
  height: 200px;
  display: flex;
 }
 .no-customer div {
  margin: auto;
 }
 .sel-group-desc {
   
  font-size: 0.7rem !important;
  color: green !important;
 }
 .group-name {
  text-overflow: ellipsis;
  width: 80%;
  overflow: hidden;
  white-space: nowrap;
}
.search-input-mgn-rt {
  width: 200px;
}
.displayblock {
  display: block !important;
}
@media (min-width: 894px) {
  .card.card-custom.card-stretch.gutter-b {
    height: 870px !important;
    overflow-y: scroll !important;
  }
  .customersList .highlights {
    background-color:#1e4079 !important;
    color: white !important;
  }
  .customersList .highlights .selected_customers {
    color: white !important;
  }
  .disp-none-large {
    display: none;
  }
}
@media (max-width: 893px) {
  .disp-none-small {
    display: none;
  }
}
.card.card-custom .card-body {
  padding: 1rem !important;
}
.action-button {
  color: #1E4079 !important;
  background-color: white !important;
  border: 1px solid #1E4079 !important;
  font-weight: 700 !important;
  padding: 5px 15px !important;
  font-size: 12px !important;
  text-transform: uppercase !important; 
  height: 30px;
}
.action-button:hover {
  color: white !important;
  background: #1E4079 !important;
  font-weight: 500 !important;
}
.icon-filter-one:before {
  color: #1E4079 !important;
}
.action-button:hover .icon-filter-one:before {
  color: white !important;
}
.icon-filter-one {
  font-size: 1rem !important;
}
.pad-tp-5 {
  padding-top: 5px !important;
}

.filter-sidebar {
  box-shadow: -5px 0px 10px -1px #bbb !important;
  border: 0 !important;
  height: -webkit-fill-available !important;
  width: 265px !important;
  overflow: hidden !important;
}

.filter-sidebar .filter-container {
  height: -webkit-fill-available !important;
  overflow: auto !important;
}

.filter-sidebar .filter-container .filter-head {
  background-color: #E3E9ED !important;
  height: 44px !important;
  padding: 0 15px !important;
  text-transform: uppercase !important;
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  position: absolute !important;
  top: 0 !important;
  right: 0 !important;
  width: 100% !important;
  z-index: 5 !important;
}

.filter-sidebar .filter-container .filter-head .filter-head-title {
  color: #374957 !important;
  font-size: 14px !important;
}

.filter-sidebar .filter-container .filter-head i {
  font-size: 11px !important;
  color: #374957 !important;
}

.filter-sidebar .filter-container .sidebar-menu#accordion1 .card {
  box-shadow: none !important;
  padding: 10px 15px !important;
  border-radius: 0 !important;
  border-bottom: 1px solid #e3e9ed !important;
  margin-bottom: 0 !important;
}

.filter-sidebar .filter-container .sidebar-menu#accordion1 .card-header h2 button {
  color: #374957 !important;
  font-weight: 700 !important;
  font-size: 14px !important;
  border-radius: 0 !important;
  border: 0 !important;
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  padding: 10px 15px !important;
  background-color: white !important;
  margin: -10px -15px 0 !important;
  width: -webkit-fill-available !important;
  width: -moz-available !important;
}

.filter-sidebar .filter-container .sidebar-menu#accordion1 .card-header h2 button.collapsed {
  width: 100% !important;
  padding: 0 !important;
  background-color: transparent !important;
  margin: 0 !important;
}

.filter-sidebar .filter-container .sidebar-menu#accordion1 .card-header h2 button:hover {
  color: #374957 !important;
  text-decoration: none !important;
}

.filter-sidebar .filter-container .sidebar-menu#accordion1 .card-header h2 button:active {
  box-shadow: none !important;
}

.filter-sidebar .filter-container .sidebar-menu#accordion1 .card-header h2 button:focus {
  text-decoration: none !important;
}

.filter-sidebar .filter-container .sidebar-menu#accordion1 .card-header h2 button:active:focus {
  box-shadow: none !important;
  outline: none !important;
  text-decoration: none !important;
}

.filter-sidebar .filter-container .sidebar-menu#accordion1 .card-header h2 button i.fa,
.filter-sidebar .filter-container .sidebar-menu#accordion1 .card-header h2 button i.fas {
  font-size: 16px !important;
  color: #374957 !important;
  font-weight: 700 !important;
}

.filter-sidebar .filter-container .sidebar-menu#accordion1 .card-header h2 button i.fa.fa-angle-down {
  font-size: 16px !important;
  color: #374957 !important;
  font-weight: 700 !important;
  padding: 0 !important;
}

.filter-sidebar .filter-container .sidebar-menu#accordion1 .card-header h2 button i.fa.fa-angle-down {
  transition: 0.70s !important;
  transform: rotate(180deg) !important;
} 

.filter-sidebar .filter-container .sidebar-menu#accordion1 .card-header h2 button.collapsed i.fa.fa-angle-down {
  transition: 0.70s !important;
  transform: rotate(0deg) !important;
}

.filter-sidebar .filter-container .sidebar-menu#accordion1 .card-body .filter-text-input {
  border-bottom: 0 !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.filter-sidebar .filter-container .sidebar-menu#accordion1 .card-body .filter-text-input li.filter-li {
  margin: 0 !important;
}

.filter-sidebar .filter-container .sidebar-menu#accordion1 .card-body .filter-text-input li.filter-li .filter-textbox {
  height: 34px !important;
  width: 100% !important;
  margin: 0 !important;
  background-color: white !important;
  border: 1px solid #e3e9ed !important;
  border-radius: 3px !important;
  font-size: 14px !important;
  color: #5f7d95 !important;
}

.filter-sidebar .filter-container .sidebar-menu#accordion1 .card-body .filter-text-input li.filter-li .filter-textbox::placeholder {
  font-size: 14px !important;
  color: #888 !important;
}

.filter-sidebar .filter-container .sidebar-menu#accordion1 .card-body .filter-checkbox-input {
  padding: 5px 0 10px !important;
  border-bottom: none !important;
}

.filter-sidebar .filter-container .sidebar-menu#accordion1 .card-body .filter-checkbox-input li.filterli {
  margin: 0 !important;
}

.filter-sidebar .filter-container .sidebar-menu#accordion1 .card-body .filter-checkbox-input .mat-checkbox.filter-checkbox {
  margin-bottom: 10px !important;
}

::ng-deep .filter-sidebar .filter-container .sidebar-menu#accordion1 .card-body .filter-checkbox-input .mat-checkbox.filter-checkbox .mat-checkbox-layout {
  margin: 0 !important;
  white-space: normal !important;
}

::ng-deep .filter-sidebar .filter-container .sidebar-menu#accordion1 .card-body .filter-checkbox-input .mat-checkbox.filter-checkbox .mat-checkbox-inner-container {
  height: 18px !important;
  width: 18px !important;
  box-shadow: inset 0 0 0 1px #cfd9e0 !important;
  border-radius: 3px !important;
  background-color: #fff !important;
  margin-right: 10px !important;
  margin: 0 auto !important;
}

::ng-deep .filter-sidebar .filter-container .sidebar-menu#accordion1 .card-body .filter-checkbox-input .mat-checkbox.filter-checkbox .mat-checkbox-inner-container .mat-checkbox-frame {
  border: 0 !important;
}

::ng-deep .filter-sidebar .filter-container .sidebar-menu#accordion1 .card-body .filter-checkbox-input .mat-checkbox.filter-checkbox.mat-checkbox-checked .mat-checkbox-inner-container .mat-checkbox-background {
  background-color: #0f73ee !important;
}

::ng-deep .filter-sidebar .filter-container .sidebar-menu#accordion1 .card-body .filter-checkbox-input .mat-checkbox.filter-checkbox .mat-checkbox-label {
  font-size: 14px !important;
  color: #5f7d95 !important;
  height: 18px !important;
  line-height: 18px !important;
  width: 200px !important;
  display: flex !important;
  align-items: center !important;
  flex-direction: row !important;
  justify-content: flex-start !important;
  margin-left: 5px !important;
}

.filter-sidebar .filter-container .filter-head .reset-filter {
  color: #374957 !important;
  font-weight: 700 !important;
  font-size: 14px !important;
  margin-left: 0 !important;
  text-transform: capitalize !important;
}

.filter-sidebar .filter-container .sidebar-menu#accordion1 .collapse {
  overflow: hidden !important;
}

.filter-sidebar .filter-container .sidebar-menu#accordion1 .collapse.in .card-body {
  padding: 0 !important;
}

.filter-sidebar .filter-container .sidebar-menu#accordion1 .card-header {
  padding: 10px 15px !important;
  margin: -10px -15px !important;
}

.filter-sidebar .filter-container .sidebar-menu#accordion1 .card-header .btn.btn-link.collapsed {
  margin-bottom: 0 !important;
}

.filter-sidebar .filter-container .sidebar-menu#accordion1 .card-header .btn.btn-link {
  margin-bottom: -10px !important;
}

.filter-sidebar .filter-container .sidebar-menu#accordion1 .card-body .filter-text-input:nth-child(1) {
  padding-top: 15px !important;
}

.filter-sidebar .filter-container .sidebar-menu#accordion1 .card-body .filter-checkbox-input:nth-child(1) {
  padding-top: 15px !important;
}

.collapse.in:not(.show) {
  display: block !important;
}

.filter-sidebar .filter-container .sidebar-menu#accordion1 .card-body .filter-text-input mat-form-field {
  width: 100% !important;
  font-size: 14px !important;
}

.filter-sidebar .filter-footer {
  position: absolute !important;
  top: 44px !important;
  right: 0 !important;
  width: 100% !important;
  height: 50px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: space-evenly !important;
  background-color: white !important;
  border-bottom: 1px solid #e3e9ed !important;
  box-shadow: 0px 2px 20px -10px #bbb !important;
}

.filter-sidebar .filter-footer .btn {
  width: 45% !important;
}

.filter-sidebar .filter-footer .btn.reset-btn {
  background: #f3f6f9 !important;
  height: 40px !important;
  color: #374957 !important;
  font-weight: 700 !important;
  font-size: 14px !important;
  line-height: 1 !important;
  border: 0 !important;
}

.filter-sidebar .filter-footer .btn.reset-btn:hover {
  background: #e1e5e8 !important;
}

.filter-sidebar .filter-footer .btn.reset-btn i.fa.fa-undo {
  color: #374957 !important;
  font-weight: 700 !important;
  font-size: 14px !important;
}

.filter-sidebar .filter-footer .btn.apply-btn {
  background: #476073 !important;
  height: 40px !important;
  color: white !important;
  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 1 !important;
  border: 0 !important;
}

.filter-sidebar .filter-footer .btn.apply-btn:hover {
  background: #3b4e5d !important;
}

.filter-sidebar .filter-footer .btn.apply-btn i.fa.fa-check {
  /* font-weight: 500 !important; */
  color: white !important;
  font-size: 14px !important;
}
.mgn-lt-28 {
  margin-left: 28px;
}
.card.title-gb {
  border-radius: 0 !important;
}
.countryCodewidth{
width:60px;
}
.phonewidth{
  width:150px;
}
.change::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: rgba(202, 195, 202, 0.61);
}
.change:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color:  rgba(202, 195, 202, 0.61);
  opacity: 1;
}
.change::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color:  rgba(202, 195, 202, 0.61);
  opacity: 1;
}
.change:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgba(202, 195, 202, 0.61);
}