.container{
    margin: 1%;
}
.template-border {
    border: 1px solid #ddd;
    /* min-height: 300px;
    min-width: 300px; */
    text-align: center;
    vertical-align: middle;
}
.main-head {
    width: 100%;
    height: 100%; 
}
.heading {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 25px;
}

.mybuttonoverlap{
    position: absolute;
    z-index: 2;
    /* top: 44px; */
    display: none;
    /* left: 59px;	 */
}
.mydivouter:hover .mybuttonoverlap{ 
    display:block;
}
  /* .template-button1 {
    opacity: 0;
   transition: opacity 0.3s ease-in;
   display: block;
   position: absolute;
   width: 160px;
   height: 40px;
   margin: auto;
   top: 100px;
   left: 0;
   right: 0;
   bottom: 0;
   cursor: pointer;
 } */

 .template-item:hover .template-button:hover,.template-button1:hover  {
    opacity: 1; /* change opacity on wrapper div hover */
  }
 .custom-template img {
     width: 100%;
     height: 100%;
 }