<p>
  learnmore-miscellaneous works!
  MISCELLANEOUS


NON WORKING DAY

Non Working Day let’s you set up different Public holidays and other non working days. Unless a holiday has been specified in this section it will be assumed that service is provided during the working hours specified in the Service Time Window. Here is how to update non-working days in JALDEE.

Click “ADD NON WORKING DAY” underneath Miscellaneous.
Select corresponding date of holiday using the calendar.
Enter the reason of holiday. 
Next input the duration of non working hours. Keep in mind the start time cannot be a different time from the service time window timing.
Upon having all the information click “Save” to add a holiday.
To add more holidays click “(+)”.

*Note: It is not possible to define holidays by selecting service time windows.
	


</p>
