<app-healthcare-miscellaneous-learnmore [target]="target" *ngIf="curtype=='healthCare'"></app-healthcare-miscellaneous-learnmore>

<app-personalcare-miscellaneous-learnmore [target]="target" *ngIf="curtype=='personalCare'"></app-personalcare-miscellaneous-learnmore>

<app-professional-miscellaneous-learnmore [target]="target" *ngIf="curtype=='professionalConsulting'"></app-professional-miscellaneous-learnmore>

<app-finance-miscellaneous [target]="target" *ngIf="curtype=='finance'"></app-finance-miscellaneous>

<app-foodjoint-miscellaneous [target]="target" *ngIf="curtype=='foodJoints'"></app-foodjoint-miscellaneous>

<app-vastu-miscellaneous [target]="target" *ngIf="curtype=='vastuAstrology'"></app-vastu-miscellaneous>

<app-veterinary-miscellaneous [target]="target" *ngIf="curtype=='veterinaryPetcare'"></app-veterinary-miscellaneous>

<app-religious-miscellaneous [target]="target" *ngIf="curtype=='religiousPriests'"></app-religious-miscellaneous>