<div class="policy card p-0">
  <div class="bg-danger text-light pt-2 p-3 pb-2">
    <h3 class="title">Consumer Agreement</h3>
  </div>
  <div class="m-2 text-center">
    <img src="../../../../assets/images/cdl/logo.png" width="200px">
  </div>
  <div class="p-2 pb-1">
    <span class="font-weight-bold"><u>Loan Details</u></span>
  </div>
  <div class="pl-2">
    <div>
      <span class="font-weight-bold">Applicant Name : </span><span> Krishna</span>
    </div>
    <div>
      <span class="font-weight-bold">Mobile : </span><span> 848949991156</span>
    </div>
    <div>
      <span class="font-weight-bold">Loan Amount : </span><span> 50000</span>
    </div>
    <div>
      <span class="font-weight-bold">Down Payment : </span><span> 20000</span>
    </div>
    <div>
      <span class="font-weight-bold">Loan Required : </span><span> 30000</span>
    </div>
    <div>
      <span class="font-weight-bold">Scheme : </span><span> Diwali Scheme</span>
    </div>
  </div>
  <div class="p-2">
    <span>
      Your privacy is important to us and we have prepared this Privacy Policy to explain to you how we collect, use,
      and share information we obtain through your use of the Internet sites, applications and services ('services")
      that are operated by, controlled by or are affiliate with Mobile Nations, including without limitation SB
      Nation, The Verge, Polygon, Curbed, Eater, Racked, and Vox.com (collectively, "we," "us" or "our"). This Privacy
      Policy does not govern our use of any information you provide to us when you call us, write to us, or
      communicate with us in any manner other than through the Services. Because the Internet is global, information
      about you that we collect or that you submit may be transferred to, processed in, and held in countries
      (including the United States) other than the one in which you reside. By using the Services, you explicitly
      consent to such use of your information and agree to the terms of this Privacy Policy.
    </span>
  </div>
  <div class="text-center">
    <div class="d-flex justify-content-center">
      <div class="mr-2">
        <a class="btn btn-primary" (click)="accept()">
          Accept
        </a>
      </div>
      <div>
        <a class="btn btn-danger">
          Reject
        </a>
      </div>
    </div>
  </div>
  <br>
</div>
