.policy {
  width: 70%;
  padding: 15px;
  margin: 15%;
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 22px
}

span {
  font-size: 16px;
  line-height: 30px;
  text-align: left;
}


.bg-danger {
  background-color: #ED1A22 !important;
}

.text-light {
  color: #fff !important;
}


.btn-primary {
  background-color: #1e4079 !important;
  border-color: #1e4070 !important;
  color: #fff !important;
  font-weight: 100 !important;
  border-radius: 2px !important;
}


.btn-danger {
  background-color: #ef2c4c !important;
  border-color: #ef2c4c !important;
  color: #fff !important;
  font-weight: 100 !important;
  border-radius: 2px !important;
}
