<section>
  <app-breadcrumb [breadcrumbs]="breadcrumbs" [moreOptions]="breadcrumb_moreoptions" *ngIf="!apiloading"
    (performAction)="performActions($event)">
  </app-breadcrumb>
</section>
<section class="dashboard content customers p-donations" *ngIf="!apiloading">
  <div class="col-md-12 no-padding-small">
    <div class="row">
      <div class="card p0 w-dta ">
        <div class="col-md-12 no-padding">
          <ul class="nav cust-dash jd-custom-nav">
            <li class="dropdown notifications-menu">
              <a class="dropdown-toggle navbar-item-color bold pointer-cursor" data-toggle="control-sidebar">
                <i class="icon-filter-one" (click)="showFilterSidebar()" [matTooltipClass]="tooltipcls"
                  [matTooltip]="filtericonTooltip">
                </i>
              </a>
            </li>
          </ul>
        </div>

        <aside class="filterSidebar" *ngIf="filter_sidebar">
          <section class="sidebar sidebar-bottom">
            <div class="filterClosebtn">
              <i class="icon-filter-one-op ng-star-inserted pointer-cursor " (click)="hideFilterSidebar()"
                [matTooltipClass]="tooltipcls" [matTooltip]="'Close filter window'"></i>
              <span *ngIf="filterapplied === true" class="clearFilter" (click)="clearFilter()"
                [matTooltipClass]="tooltipcls" [matTooltip]="'Reset filter'"> Clear All</span>
            </div>
            <ul class="sidebar-menu">
              <div class="filterTextinput">
                <li class="filterli">
                  <input type="text" #Ffname (blur)="doSearch()" (keyup)="focusInput($event,Fmobile)"
                    class="filterTextbox" [(ngModel)]="filter.first_name" placeholder="First Name">
                </li>
              </div>
              <div class="filterTextinput">
                <li class="filterli filterDatepicker">
                  <input type="text" [(ngModel)]="filter.date" [min]="minday" [matDatepicker]="picker" #Fdate
                    (dateChange)="doSearch()" (blur)="doSearch()" class="filterTextbox" placeholder="Date">
                  <mat-datepicker-toggle matSuffix [for]="picker">
                  </mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </li>
              </div>
              <div class="filterTextinput">
                <li class="filterli">
                  <input type="text" id="txt_mobile" [(ngModel)]="filter.mobile" #Fmobile (blur)="doSearch()"
                    (keyup)="focusInput($event, Femail)" maxlength="10" class="filterTextbox"
                    placeholder="Phone Number">
                </li>
              </div>
              <div class="filterTextinput">
                <li class="filterli filterDatepicker">
                  <input type="text" id="txt_email" [(ngModel)]="filter.email" #Femail (blur)="doSearch()"
                    (keyup)="focusInput($event, Fdate)" class="filterTextbox" placeholder="Email">
                </li>
              </div>
            </ul>
          </section>
        </aside>
        <div class="bill-section">
          <div class="c-outer bill-section-content m0">
            <div class="c-body bill-wrapper">
              <div class="history one section-four no-padding">
                <div class="col-md-12 cust-sect no-padding">
                  <div class="list-outer">
                    <div class="table-th">
                      <div class="th one">Date</div>
                      <div class="th two">Service</div>
                      <div class="th one">Donor</div>
                      <div class="th three">{{amount_cap}}</div>
                    </div>

                    <div class="listing" *ngFor="let donation of donations; let i = index">
                      <div class="wrap">
                        <div class="td one">
                          <span class="date">{{stringtoDate(donation.date,
        'date')}}</span>
                        </div>
                        
                        <div class="td two">
                          <span>{{donation.service.name  |
                              capitalizeFirst}}</span>
                        </div>
                        <div class="td one">
                          <span *ngIf="donation.donor.firstName">{{donation.donor.firstName}}</span>
                        </div>
                        <div class="td three"> <span class="amt"></span> {{donation.donationAmount |
        currency:'&#8377; ' }}
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12 custs  pt10 pb10" *ngIf="loadComplete && donations.length === 0">
                    No Donations Found
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="search_paging" *ngIf="loadComplete">
          <app-pager [total_pages]="pagination.totalCnt" [pagesize]="pagination.perPage"
            (pagerclick)="handle_pageclick($event)" [curpage]="pagination.startpageval"></app-pager>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</section>
<div *ngIf="apiloading" style="margin-top: 100px">
  <app-common-innerloading-spinner></app-common-innerloading-spinner>
</div>