.socialmedia .social-box {
    float: left;
    box-shadow: 5px 5px 5px 0px #cccccc60 !important;
    width: 40%;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
}
.fb {
    color: #627aac;
    font-size: 5rem;
}
.tw {
    color: #5eb0fb;
    font-size: 5rem;
}
.ytb {
    color: #ef452f;
    font-size: 5rem;
}
.lkd {
    color: #02a2c2;
    font-size: 5rem;
}
.pntr {
    color: #ef452f;
    font-size: 5rem;
}
.inst, .site {
    font-size: 5rem;
}
.socialmedia .youTube {
    height: 60px;
    width: 75px;
  }
  .socialmedia .instagram {
    height: 75px;
    width: 75px;
  }
  .socialmedia .bizyGlobe {
    height: 75px;
    width: 75px;
  }
@media(max-width: 550px) {
    .socialmedia .social-box {
        width: 85%;
    }
    .bglobe {
        width: 50px;
        height: 50px;

    }
    .youtube {
        width: 50px;
        height: 45px;
    }
    .insta {
        width: 50px;
        height: 50px;
    }
    .inst, .site, .fb, .tw, .ytb, .lkd, .pntr {
        font-size: 4rem;
    }
}
.input-sec input{
    width: 100%; 
    font-size: .9rem; 
}
::placeholder {
    font-style: italic;
}
.mat-icon-button {
    width: 0px !important;
}
.grid_tile {
    /* background: rgb(0 0 0 / 7%); */
    background: white;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
}
.ico_bdr {
    border: 2px solid #222d3226;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 90px !important;
    height: 90px !important;
    border-radius: 100% !important;
}
.mat-grid-tile .mat-grid-tile-header, .mat-grid-tile .mat-grid-tile-footer {
    background: none  !important;
}
.bdr_top {
    border-top: 2px solid #222d3226;
}
.wdth_50 {
    width: 50% !important;
}
.txt_center {
    text-align: center !important;
}
.mat-grid-tile .mat-grid-tile-footer {
    height: 60px !important;
}
.socicon-facebook::before {
    font-size: 4.5rem !important;
    margin-left: 10px !important;
    color: #3f51b5 !important;
    line-height: unset !important;
}
.socicon-twitter::before {
    color: #0b7bb4 !important;
    font-size: 4rem !important;
    margin-left: 14px !important;
    line-height: unset !important;
}
.socicon-youtube::before {
    color: #e50b0b !important;
    font-size: 4rem !important;
    margin-left: 11px !important;
    line-height: unset !important;
}
.socicon-linkedin::before {
    font-size: 3.2rem !important;
    color: #266c95 !important;
    margin-left: 20px !important;
    line-height: unset !important;
}
.socicon-pinterest::before {
    color: #cc0c0c !important;
    font-size: 4rem !important;
    margin-left: 12px !important;
    line-height: unset !important;
}
.socicon-instagram::before {
    line-height: unset !important;
    font-size: 3.8rem;
    margin-left: 12px;
    color: #b721d1;
}
.flaticon2-world::before {
    color: grey;
    font-size: 4rem;
    margin-left: 11px;
    line-height: unset !important;
}