<section>
  <app-provider-subheader [activeTab]="'settings'"></app-provider-subheader> <!-- Subheader section -->    
  <app-breadcrumb [breadcrumbs]="breadcrumbs"></app-breadcrumb>
</section>

<section>
    <div class="content comn-cls">
        <div class="container">
            <div class="no-dta" *ngIf="coupon_list.length ==0 && query_executed == true">
                    <p>{{emptyMsg}}</p>
                    <span class="cs-btn bt3" (click)="addCoupons()">Add Coupons</span>
            </div>
            <div class="w-dta" *ngIf="coupon_list.length>0">
                    <div class="row">
                        <div class="card">
                            <div class="copy">
                                <div class="table-outer q-tbl">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Value</th>
                                                <th><span class="addbt" (click)="addCoupons()"></span></th>                            
                                            </tr>
                                        </thead>
                                        <tbody>
                                                <tr *ngFor="let coupon of coupon_list">
                                                        <td data-title="Name" class="pointer-cursor" class="td1">{{coupon.name}}</td>
                                                        <td data-title="Value" class="pointer-cursor" clas="td2">{{(coupon.calculationType=='Percentage')? coupon.amount+'%': formatPrice(coupon.amount)}}</td>        
                                                        <td data-title="Action" class="tdact">
                                                            <span class="mbt">
                                                                <button type="button" mat-icon-button [matMenuTriggerFor]="menu">
                                                                    <mat-icon>more_vert</mat-icon>
                                                                </button>
                                                                <mat-menu #menu="matMenu">
                                                                    <button type="button" (click)="editCoupons(coupon)" mat-menu-item>
                                                                        <i class="icon-edit"></i> 
                                                                        Edit
                                                                    </button>
                                                                    <button type="button" (click)="doRemoveCoupons(coupon)" mat-menu-item>
                                                                        <i class="icon-delete"></i> 
                                                                        Delete
                                                                    </button>
                                                                </mat-menu>
                                                            </span>
                                                        </td>   
                                                    </tr>
                                        </tbody>
                                    </table>
                                    <span class="addbt d-block d-md-none" (click)="addCoupons()"></span>
                                </div>
                            </div>
                        </div>    
                    </div>
                </div>
            </div>
        </div>  
</section>
