<!-- <section>
    <app-breadcrumb [breadcrumbs]="breadcrumbs"></app-breadcrumb>
</section> -->

<!-- <section>
    <div class="content comn-cls">
        <div class="col-md-12">
            <div class="row">
                <div class="lbl col-sm-12 col-md-8 col-lg-8 col-xl-8 no-padding">
                    <div class="card">
                        <div *ngFor="let label of providerLabels" class="add-label">
                            <div class="field-name"> {{label.displayName}} </div>
                            <span class="field" *ngFor="let value of label.valueSet">
                                <span class="cs-btn bt7" (click)="changeLabelvalue(label.label, value.value)"
                                    [class.selected_btn]="value.selected">
                                    {{value.shortValue}}
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->

<h1 class="mat-dialog-title">{{caption}} <button mat-dialog-close class="modal_close" tabindex="-1"><i
            class="fa fa-window-close" aria-hidden="true"></i></button></h1>
<mat-dialog-content class="ynw-common-form apply-label">
    <div class="form-group col-md-12" *ngIf="source === 'newlabel'">
        <mat-form-field>
            <input matInput type="text" class="form-control" id="displayName" placeholder="Label"
                [(ngModel)]="labelname" autocomplete="off">
        </mat-form-field>
    </div>
    <div class="form-group col-md-12">
        <mat-form-field>
            <input matInput type="text" class="form-control" id="value" [(ngModel)]="value" placeholder="Enter  Value*"
                autocomplete="off" (blur)="valueBlur()">
        </mat-form-field>
    </div>
    <mat-checkbox [checked]="online_checkin" [(ngModel)]="defaultShortValue" (change)="settingDeafultValue($event)">Set
        as short value
    </mat-checkbox>
    <div class="form-group col-md-12" *ngIf="!defaultShortValue">
        <mat-form-field>
            <input matInput type="text" class="form-control" id="value" [(ngModel)]="short_value"
                placeholder="Enter short Value*" autocomplete="off">
        </mat-form-field>
    </div>

</mat-dialog-content>
<mat-dialog-actions>
    <button type="button" mat-dialog-close class="cs-btn bt2">Cancel</button>
    <button (click)="createLabel()" type="button" mat-button class="cs-btn bt1">Create</button>
</mat-dialog-actions>
<app-field-error-display [displayError]="true" *ngIf="api_error" errorMsg="{{api_error}}"></app-field-error-display>

<app-form-success-display [displayMsg]="true" *ngIf="api_success" successMsg="{{api_success}}">
</app-form-success-display>