<app-header [headerTitle] = "'Waitlist Detail'"></app-header>

<app-search [showopennow]="0" [searchfields]="searchfields"></app-search>
<br/>
<button routerLink="/consumer">Back</button>

<h1>Basic Information</h1>

<p>Business Name : {{waitlist_detail.provider.businessName}}</p>
<p>Service Duration : {{waitlist_detail.service.serviceDuration}}</p>
<p>Checked-In On : {{waitlist_detail.createdDate | date:'dd-MM-yyyy'}}</p>
<p>Approx. Service Time : {{waitlist_detail.appxWaitingTime}}</p>
<p>Service : {{waitlist_detail.service.name}} </p>

<h1 *ngIf="waitlist_detail.messages.length !=0">Notifications</h1>

<p *ngFor="let msg of waitlist_detail.messages">
    {{msg.date}} {{msg.time}}: {{msg.message}}
</p>

