<div>
<h4 class="mat-dialog-title">Payment
    <button mat-dialog-close class="modal_close" tabindex="-1" style="color: black">
      <i class="fa fa-window-close" aria-hidden="true"></i>
    </button>
  </h4>
<mat-dialog-content>
  <div >
     <div style="padding-bottom: 10px">Prepayment Amount: <b class="rupee-font">&#8377; {{prepayAmount}}</b></div> 
      <div style="padding-bottom: 10px">Payment Options
     <div><p class="settings_info" style="display: inline;">Choose your payment options from here</p></div>
      </div>
   
    <div class="col-md-12 cc-dc-nb" style="display: flex">
      <button class="cs-btn bt1" (click)="payuPayment()">CC/DC/Net Banking/UPI</button>
      <button class="cs-btn bt1" (click)="paytmPayment()">Paytm</button>
    </div>
  </div>
</mat-dialog-content></div>
<div [innerHTML]="payment_popup" #div [style.display]="'none'"></div>