.content.see-pages .outer-card .card .form-group .form-control {
    width: 50% !important;
}

@media only screen and (max-width: 767px) {
    .content.see-pages .outer-card .card .form-group .form-control {
        width: 50% !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .content.see-pages .outer-card .card .form-group .form-control {
        width: 50% !important;
    }
}
.email-border {
    border: 1px solid #cccc;
   }
.width100 {
    width: 100%;
  }
  .height40 {
    height: 32px;
    font-size: 12px !important;
  }
.input-field {
    padding: 5px;
  }
  .email-field {
    padding: 5px;
  }
.code-field {
    width: 40px !important;
  }
  .codenumber {
    display: flex;
    margin-left: auto;
    width: 100%;
  }
  .codenumber #countryCode,
  .codenumber #whatsappCountryCode {
    border-right: none;
  }