.payment_profile .card{
    box-shadow: 0 0 5px 5px grey!important;
    border: 5px solid black;
}
.payment_profile .card-selected {
  border: 2px solid #283593;
}

  .payment_profile{
    font-size:12px!important;
  }
  .payment_profile > .mat-radio-button.mat-radio-checked { 
    border-color: blue !important;
    box-shadow: 0 0 5px 5px blue!important;
    padding: 20px;
  }
 
  /* .payment_profile .card {
    box-shadow: 0 0 5px 5px black!important;
    padding:5px!important;
    max-width:50%!important;

  } */
  /* input[type="radio"]:checked {
    border :2px solid blue !important;
    font-weight:400px;
  } */
/* 
  .paymentmode{
    font-size:16px!important;
    padding:0px !important;
  }
  .paymentmode > .mat-radio-button.mat-radio-checked { 
    border-color: blue !important;
    box-shadow: 0 0 3px 3px blue!important 
  }
*/
  ::ng-deep .mat-radio-button .mat-radio-container {
    display: none!important;
  }
  ::ng-deep .mat-radio-container .mat-radio-outer-circle,
  ::ng-deep .mat-radio-container .mat-radio-inner-circle{
    
    display: none!important;
  }
  ::ng-deep .mat-radio-container .mat-radio-label{
    display: inline;
  } 