.payment_profile .card{
    box-shadow: 0 0 5px 5px grey!important;
    border: 5px solid black;
}
.payment_profile .card-selected {
  border: 2px solid #283593;
  padding: 20px;
}

  .payment_profile{
    font-size:12px!important;
  }
  .payment_profile > .mat-radio-button.mat-radio-checked { 
    border-color: blue !important;
    box-shadow: 0 0 5px 5px blue!important;
    padding: 20px;
  }
 .shadow{
  box-shadow: 0 5px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  padding: 20px 0!important;
 }

 .gateway-img {
    width: 80px;
    height: 35px;
 }
 .modes-img {
  width: 35px;
  height: 35px;
  border:1px solid #ddd;
  border-radius: 5px;
  margin: 2px;
  padding: 5px;;
 }


 .bgGrey
 {
   background-color: #F8F8F8!important;
   padding:10px 20px!important;
   margin: 10px 0px!important;
 }
 .grouping-heading
 {
   font-size: 16px!important;
   /* box-shadow:0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1) !important; */
 }

 .label
 {
   font-size: 12px!important;
 }
 .ynw-common-form-nm .mat-input-element
 {
   padding: 10px !important;
 }

 .form-control{
  margin-bottom: 0px!important;
  height: 35px!important;
  padding: 6px 12px!important;
  font-size: 14px !important;
  color: #555!important;
  background-image: none !important;
  border-radius: 5.73504px !important;
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%) !important;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s!important;
}


.card-header{
  border-radius: calc(0.5rem - 1px) calc(0.5rem - 1px) 0 0 !important;
  border-bottom: 1.75px solid #d0d0d0 !important;
  font-size: 15px !important;
  color: #395789 !important;
  font-weight: 700 !important;
  display: flex !important;
  justify-content: space-between !important;
  width: 100% !important;
}

/* input[type=number] {
  height: 28px!important;
} */

.collapsed .fa-angle-down {
  transform: rotate(180deg);
  transition: .3s ease-in-out;
  }

.card{
  padding: 10px!important;
}
 
.arrow
{
  font-size: 15px!important;
  color: #1E4079;
}

.radio-btn
{
  width: auto!important;
}

.serv-phone-code
  {
    width: 200px!important;
    padding-top: 10px!important;
  }


::ng-deep .service-radio .mat-radio-button .mat-radio-container {
  width: 0;
}
::ng-deep .service-radio .mat-radio-container .mat-radio-outer-circle,
::ng-deep .service-radio .mat-radio-container .mat-radio-inner-circle {
  border: none;
  width: 0;
}

::ng-deep .service-radio .mat-radio-button.mat-accent.mat-radio-checked {
    border: 1px solid #1E4079 !important;    
}


@media(max-width: 768px)
{
  .form-control
  {
      width: 100%;
  }
  .radio-btn
  {
    width: 100%!important;
  }
  .serv-county-code
  {
    width: 25px!important;
  }
  .serv-phone-code
  {
    width: 100px!important;
    padding-top: 10px!important;
  }
}
