.d-flex .card {
    padding: 0px !important;
}
.font-size-sm {
    font-size: 0.7rem !important;
}
.font-size-lg {
    font-size: .95rem !important;
}
.font-size-outer {
    font-size: 1.1rem !important;
}
.user-name {
    border-radius: 50%;
    width: 100%;
    color: #FFFFFF;
    background-color: #1e4079;
    max-width: 100px;
    padding: 15px 10px;
    width: 50px;
    text-align: center;
    max-height: 50px;
}
.card-width {
    width: 350px;
}
@media(max-width: 600px) {
    .card-width {
        width: 100%;
    }
}
.msg-body {
    height: 303px;
    overflow-y: auto !important;
}
.over-scroll {
    overflow-y: auto !important;
}
.selected-user {
    background: #eee;
}
.card-body {
    padding: 10px !important;
}
.pad-5 {
    padding: 5px
}
.msg-width {
    max-width: 80%;
}
.thumbnails img {
    width: 100px;
    height: 100px;
    margin-bottom: 5px;
}
.thumbnails a {
    margin: 5px;
}
.img-section img {
    width: 80px;
    height: 80px;
    cursor: auto;
}
.gal_action {
    position: absolute;
    top: -5px;
    right: -3px;
    background: rgba(0,0,0,.5);
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}
.galimg_outer {
    position: relative;
    padding: 5px;
}
.galul {
    margin: 0;
    padding: 0;
    list-style: none;
    padding: 20px;
}
.galul li {
    float: left;
}
textarea {
    resize: none !important;
}
.flex-row {
    width: 100%;
}
.loading {
    margin-top: -50px
}
.fa-paper-plane {
    color: #1e4079;
    font-size: 1.8rem;
}
.fa-times {
    color: black !important;
}
.grey {
    color: lightgrey !important;
}
.btn.btn-primary.disabled {
    background: #ccc !important;
    border-color: #ccc !important;
}
.null-img {
    margin: auto;
}
.null-text {
    text-align: center;
    font-size: 1.2rem;
    margin-top: 30px;
    font-weight: bold;
    color: #1e4079;
}
.label.label-sm {
    height: 20px !important;
    width: 20px !important;
}
.minhgt-80 {
    min-height: 80vh;
}
.panel {
    margin-bottom: 0px !important;
}
.no-msg-section {
    margin: auto;
    text-align: center;
}
.reply-section {
    display: flex;
    margin-bottom: 10px;
    padding: 20px 20px 10px;
    border: 1px solid #d5d5d5;
    background: #d1d3e05e;
}
.replymsg {
    font-size: .9rem;
    white-space: pre-wrap;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    color: #7E8299 !important;
}
.reply-msg {
    padding: 5px 0 5px 5px;
    cursor: pointer;
    border-left: 3px solid darkblue;
    margin-bottom: 5px;
}
.username {
    color: darkblue;
}
.reply-section .close {
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding: 10px;
}
.reply-section .main-sec {
    width: 100%;
}
.pad-20 {
    padding: 20px;
}
.reply-text {
    margin-top: -8px;
    font-size: .7rem;
    text-align: right;
    margin-right: -5px;
    margin-bottom: 2px;
    color: darkgray;
    opacity: .6;
}
.reply-text a:hover {
    text-decoration: underline !important;
}
.blinkelem {
    -webkit-animation: NAME-YOUR-ANIMATION 2s infinite;  /* Safari 4+ */
    -moz-animation: NAME-YOUR-ANIMATION 2s infinite;  /* Fx 5+ */
    -o-animation: NAME-YOUR-ANIMATION 2s infinite;  /* Opera 12+ */
    animation: NAME-YOUR-ANIMATION 2s infinite;  /* IE 10+, Fx 29+ */
}
@-webkit-keyframes NAME-YOUR-ANIMATION {
    0%, 49% {
        background-color: #a5aac4fc;
    }
}