.notification-box {
    float: left;
    margin: 20px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px !important;
}
.notification-box1 {
    float: left;
    margin: 20px;
    padding: 20px;
    /* box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important; */
}
.wtsapaud-icon, .zoom-icon, .meet-icon {
    width: 80px;
}
.phon-icon {
    height: 40px;
    width: 80px;
    top: 8px !important;
}
.wtsapaud-icon {
    height: 50px;
}
.meet-icon {
    height: 40px;
    top: 10px !important;
}
.zoom-icon {
    height: 50px;
    top: 5px !important;
}
.toggle-label {
    display: flex;
    font-weight: normal;
    color: #999999 !important;
    font-size: .9rem;
}
.act-btn {
    padding: 3px 25px;
    border: 2px solid;
    border-radius: 20px;
    color: #334b99;
    cursor: pointer;
    font-weight: bold;
}
.tele-box {
    float: left;
    margin: 10px;
    width: 80px;
    height: 60px;
    border: 1px solid gray;
    /* box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important; */
}
.tele-connect {
    font-size: .7rem;
}
@media (max-width: 600px) {
    .small-device-style {
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .small-device-style .sms-notify {
        margin-left: 10px;
    }
    .small-device-style .send-notify,
    .small-device-style .sms-notify {
        float: left;
     }
}
@media (min-width: 600px) {
    .small-device-style .send-notify,
    .small-device-style .sms-notify {
       float: right;
    }
}
.w-60 {
    width: 60px !important;
}
.split-ln-brd {
    border: 1px;
    border-style: dotted;
    background-color: rgb(135, 206, 250);
    border-radius: 10px;
}
.pad-15 {
    padding:15px
}
.vid-modes{
    color: darkblue;
}
.tele{
    color: darkblue;
}
.fa-video-camera{
    background-color: skyblue;
    padding: 8px!important;
    border-radius: 50%!important;
}
.t-button{
    color: green !important;
}