.fa-times {
    color: black !important;
    cursor: pointer;
}
.action-box {
    width: 150px;
    height: 100px;
    margin: 15px;
    text-align: center;
    float: left;
    display: table;
    box-shadow: 10px 10px 15px 0px #cccccc9c;
}
.status-box {
  box-shadow: 5px 5px 5px 0px #cccccc60 !important;
  border-radius: 10px;
  background: #ffffff;
  color: #1e4079;
  width: 30%;
  padding: 20px;
  float: left;
  margin: 10px;
  cursor: pointer;   
  border: 1px solid #cccccc60;
}
.status-box .status {
  font-weight: bold;
  font-size: 1.2rem;
}