<h1 class="mat-dialog-title pad-20 no-margin">
  {{(data.source == 'status') ? 'Status change' : 'Assign'}}
  <button mat-dialog-close class="modal_close black" tabindex="-1" (click)="dialogClose()"><i class="fa fa-window-close"
      aria-hidden="true"></i></button>
</h1>
<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xs-12 status-main" *ngIf="data.source == 'assign'">
  <div class="action-box pointer-cursor" *ngIf="data.showAssignMyself" (click)="assignMyself()">
    <div class="action-box-sub">
      <span class="doctor-change-icon"></span>
      <div class="icon-text">Assign Myself</div>
    </div>
  </div>
  <div class="action-box pointer-cursor" *ngIf="data.showAssign" (click)="changeWaitlistservice()">
    <div class="action-box-sub">
      <span class="doctor-change-icon"></span>
      <div *ngIf="data.waitlist_data.provider" class="icon-text">Change {{provider_label | capitalizeFirst}}</div>
      <div *ngIf="!data.waitlist_data.provider" class="icon-text">Assign {{provider_label | capitalizeFirst}}</div>
    </div>
  </div>
  <div class="action-box pointer-cursor" *ngIf="data.showUnassign" (click)="removeProvider()">
    <div class="action-box-sub">
      <span class="doctor-change-icon"></span>
      <div class="icon-text">Unassign {{provider_label | capitalizeFirst}}</div>
    </div>
  </div>
  <div class="action-box pointer-cursor" *ngIf="data.showAssignTeam" (click)="assignteam()">
    <div class="action-box-sub">
      <span class="doctor-change-icon"></span>
      <div class="icon-text">Assign Team</div>
    </div>
  </div>
</div>
<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xs-12 status-main" *ngIf="data.source == 'status'">
  <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11 stst-bx mgn-up-20">
    <div class="bold">External Status</div>
    <p class="settings_info"> External status is public and visible for your {{customer_label}}s</p>
    <div class="status-box"
      *ngIf="showStart || (showTeleserviceStart && (data.waitlist_data.apptStatus != 'Started' || data.waitlist_data.waitlistStatus !== 'started'))"
      (click)="changeWaitlistStatus('STARTED')">
      <div class="status"> Move to In progress</div>
    </div>
    <div class="status-box" *ngIf="showCancel" (click)="changeWaitlistStatus('CANCEL')">
      <div class="status">Cancel</div>
    </div>
    <div class="status-box" *ngIf="showComplete && !showTeleserviceStart" (click)="changeWaitlistStatus('DONE')">
      <div class="status">Complete</div>
    </div>
    <div class="status-box" *ngIf="showComplete && showTeleserviceStart" (click)="endmeeting()">
      <div class="status">Complete</div>
    </div>
    <div class="status-box" *ngIf="showUndo" (click)="changeWaitlistStatus('CHECK_IN')">
      <div class="status">{{(data.bookingType == 'checkin') ? 'Checked In' : 'Confirmed'}}</div>
    </div>
    <div class="status-box" *ngIf="showArrived" (click)="changeWaitlistStatus('REPORT')">
      <div class="status">Mark as arrived</div>
    </div>
  </div>
  <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11 stst-bx mgn-up-30" *ngIf="statusList && statusList.length > 0">
    <div class="bold">Internal Status</div>
    <p class="settings_info">Internal status is only visible for users of this account. Not visible for your
      {{customer_label}}s</p>
    <ng-container *ngFor="let stat of statusList, let i= index">
      <div class="status-box" [ngClass]="stat.isPermitted?'orange':'greycolor'"
        (click)="changeWaitlistInternalStatus(stat.statusId)">
        <div class="status"> {{stat.status|capitalizeFirst}}</div>
      </div>
    </ng-container>
  </div>
</div>