<section *ngIf="data.requestType==='createtaskSelectMember'" style="padding: 20px;">
    <!-- <form [formGroup]="assignMemberForm"> -->
        <!--header start-->
        <div class="header">
            <div class="headerText" >{{data.header | capitalizeFirst}}</div>
            <div style=" cursor: pointer;" mat-dialog-close class="modal_close" tabindex="-1">
                <mat-icon>clear</mat-icon>
            </div>
        </div>
        <!--header end-->
        <mat-dialog-content style="max-height: 75vh!important" >
            <div >
                
        <div>
            <!----radio btn start-->
            <div>
                <mat-radio-group
              
                [(ngModel)]="assignMemberDetails">
               <div>
                <mat-radio-button class="example-radio-button" *ngFor="let assignMember of memberList" [value]="assignMember"  (change)="handleMemberSelect(assignMember,'Selected')">
                  <div class="allMember">
                        <div>
                          <img class="img" [src]="getUserImg(assignMember)" />
                        </div>
                        <!-- <div>
                            {{assignMember.profilePicture | json}}
                        </div> -->
                        <div class="members">
                        {{assignMember.firstName}}{{assignMember.lastName}}
                       </div>
                       <div class="members">
                        +{{assignMember.countryCode}}{{assignMember.mobileNo}}
                       </div>
                       <div class="members">
                        {{assignMember.locationName}}
                       </div>
                  </div>
                  </mat-radio-button>
               </div>
              </mat-radio-group>
            </div>
            <!----radio btn end-->
        </div>
            </div>
        </mat-dialog-content>
        <div *ngIf="errorMsg" class="errorMsg">
            <div>{{assignMemberErrorMsg}}</div>
        </div>
        <div mat-dialog-actions style="display: flex;justify-content: center;align-items: center;">
             <!---cancel save btn start-->
             <div style="text-align: center;">
                <ng-container >
                    <div class=" mgn-bt-20 mgn-up-10">
                            <button type="button" class="btn btn-primary font-weight-bold cancelBtn" 
                            mat-dialog-close >Cancel</button>
                        <button type="button" class="btn btn-primary font-weight-bold confirmBtn" (click)="saveAssignMember(assignMemberDetails)"
                            >Save</button>
                    </div>
                </ng-container>
            </div>
    
            <!---cancel save btn end-->
          </div>
    <!-- </form> -->
    

</section>

<section *ngIf="data.requestType==='createtaskSelectManager'" style="padding: 20px;">
    <!-- <form [formGroup]="assignMemberForm"> -->
        <!--header start-->
        <div class="header">
            <div class="headerText" >{{data.header | capitalizeFirst}}</div>
            <div mat-dialog-close class="modal_close" tabindex="-1" style=" cursor: pointer;">
                <mat-icon>clear</mat-icon>
            </div>
        </div>
        <!--header end-->
        <mat-dialog-content style="max-height: 75vh!important" >
            <div >
                
        <div>
            <!----radio btn start-->
            <div>
                <mat-radio-group
              
                [(ngModel)]="assignMemberDetails">
               <div>
                <mat-radio-button class="example-radio-button" *ngFor="let assignMember of memberList" [value]="assignMember"  (change)="handleMemberSelect(assignMember,'Selected')">
                  <div class="allMember">
                        <div>
                          <img class="img" [src]="getUserImg(assignMember)" />
                        </div>
                        <!-- <div>
                            {{assignMember.profilePicture | json}}
                        </div> -->
                        <div class="members">
                        {{assignMember.firstName}}{{assignMember.lastName}}
                       </div>
                       <div class="members">
                        +{{assignMember.countryCode}}{{assignMember.mobileNo}}
                       </div>
                       <div class="members">
                        {{assignMember.locationName}}
                       </div>
                  </div>
                  </mat-radio-button>
               </div>
              </mat-radio-group>
            </div>
            <!----radio btn end-->
        </div>
            </div>
        </mat-dialog-content>
        <div *ngIf="errorMsg" class="errorMsg">
            <div>{{assignMemberErrorMsg}}</div>
        </div>
        <div mat-dialog-actions style="display: flex;justify-content: center;align-items: center;">
             <!---cancel save btn start-->
             <div style="text-align: center;">
                <ng-container >
                    <div class=" mgn-bt-20 mgn-up-10">
                            <button type="button" class="btn btn-primary font-weight-bold cancelBtn" 
                            mat-dialog-close >Cancel</button>
                        <button type="button" class="btn btn-primary font-weight-bold confirmBtn" (click)="saveAssignMember(assignMemberDetails)"
                            >Save</button>
                    </div>
                </ng-container>
            </div>
    
            <!---cancel save btn end-->
          </div>
    <!-- </form> -->
    

</section>

<section *ngIf="data.requestType==='createUpdateNotes'" style="padding: 20px;">
    <div class="header" style="justify-content: end !important;">
        <!-- <div class="headerText" >{{data.header | capitalizeFirst}}</div> -->
        <div style=" cursor: pointer;" mat-dialog-close class="modal_close" tabindex="-1">
            <mat-icon>clear</mat-icon>
        </div>
    </div>
    <mat-dialog-content >
        <!----task description start-->
        <div>
            <div class="taskTitle">
                <div>Notes Description</div>
                <div class="astericColor">*</div>
              </div>
              <!--textarea start-->
             <div  class="fieldPadding">
                    <textarea rows="10" class="form-control" [(ngModel)]="notesTextarea"
                    #taskDescription (ngModelChange)="handleNotesDescription(taskDescription.value)"(keyup)="autoGrowTextZone($event)"
                    maxlength="1000" placeholder="Enter note description"></textarea>
                    <!-- <div *ngIf="boolenTaskError">{{taskErrorText}}</div> -->
             </div>                           
              <!--textarea end-->
           </div>
           <div *ngIf="errorMsg" class="errorMsg">
            <div>{{assignMemberErrorMsg}}</div>
            </div>
           <!---cancel save btn start-->
           <div mat-dialog-actions style="display: flex;justify-content: center;align-items: center;">
            <!---cancel save btn start-->
            <div style="text-align: center;">
               <ng-container >
                   <div class=" mgn-bt-20 mgn-up-10">
                           <button type="button" class="btn btn-primary font-weight-bold cancelBtn" 
                           mat-dialog-close >Cancel</button>
                       <button type="button" class="btn btn-primary font-weight-bold confirmBtn" (click)="saveCreateNote(notesTextarea)"
                           >Save</button>
                   </div>
               </ng-container>
           </div>
   
           <!---cancel save btn end-->
         </div>

        <!---cancel save btn end-->
    </mat-dialog-content>
</section>
<section *ngIf="data.requestType==='noteDetails'" style="padding: 20px;">
    <div class="header">
        <div class="headerText" >{{data.header | capitalizeFirst}}</div>
        <div style=" cursor: pointer;" mat-dialog-close class="modal_close" tabindex="-1">
            <mat-icon>clear</mat-icon>
        </div>
    </div>
    <mat-dialog-content >
         <!----task description start-->
         <div class="note">
              <div>{{noteDescription}}</div>
           </div>
           <!---cancel save btn start-->
           <div mat-dialog-actions style="display: flex;justify-content: center;align-items: center;">
            <!---cancel save btn start-->
            <div style="text-align: center;">
               <ng-container >
                   <div class=" mgn-bt-20 mgn-up-10">
                           <button type="button" class="btn btn-primary font-weight-bold confirmBtn" 
                           mat-dialog-close >Cancel</button>
                   </div>
               </ng-container>
           </div>
   
           <!---cancel save btn end-->
         </div>

    </mat-dialog-content>
</section>
<section *ngIf="data.requestType==='taskComplete'" style="padding: 20px;">
    <div class="header" style="justify-content: end !important;">
        <!-- <div class="headerText" >{{data.header | capitalizeFirst}}</div> -->
        <div style=" cursor: pointer;" mat-dialog-close class="modal_close" tabindex="-1">
            <mat-icon>clear</mat-icon>
        </div>
    </div>
    <mat-dialog-content style="padding: 0px !important;">
        <div>
            <!-- <div class="taskTitle">
                <div>Notes Description</div>
                <div class="astericColor">*</div>
            </div> -->
            <div style="text-align: center;">
                <img style="width: 50%;" src="/assets/images/crmImages/taskcompleted.jpg" />
            </div>
            <div style="text-align: center;">
                <div class="almostDone">You're almost done!</div>
                <div class="taskDes">Confirm task completion!</div>
                <!-- <div class="taskDes">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate ea vitae ab pariatur repellat? Ut quae rerum laborum dicta voluptatibus vitae debitis accusamus obcaecati at quas! Repellendus voluptatibus fugiat necessitatibus.</div> -->
            </div>
            <div style="text-align: center;">
                <div style="display: flex;justify-content: center;gap:5px;color: #1D3E77;">
                    <div>Are you sure to make </div>
                    <div>{{taskDes}}</div>
                    <div> as completed?</div>
                </div>

            </div>
           <!---cancel save btn start-->
           <div mat-dialog-actions style="display: flex;justify-content: center;align-items: center;padding: 0px !important;">
            <!---cancel save btn start-->
            <div style="text-align: center;">
               <ng-container >
                   <div >
                           <button type="button" class="btn btn-primary font-weight-bold cancelBtn" 
                           mat-dialog-close >No</button>
                       <button type="button" class="btn btn-primary font-weight-bold confirmBtn"(click)="completeTask()"
                           >Yes</button>
                   </div>
               </ng-container>
           </div>
   
           <!---cancel save btn end-->
         </div>

        <!---cancel save btn end-->

        </div>

    </mat-dialog-content>
</section>
<section *ngIf="data.requestType==='statusChange'" style="padding: 20px;">
    <div class="header" >
        <div class="headerText" style="color: #22242C !important;font-size: 18px;">Change Status</div>
        <div style=" cursor: pointer;" mat-dialog-close class="modal_close" tabindex="-1">
            <mat-icon>clear</mat-icon>
        </div>
    </div>
    <!---task des start-->
    <div>
        <div class="taskDes">{{taskDescription}}</div>
    </div>
    <!---task des end-->
    <!--task name start-->
    <div class="titleTask">
        <div>{{taskTitle}}</div>
    </div>
    <!---task name end-->
    <!---spinner start-->
    <div style="margin-top: 10px;display: flex;gap:10px">
        <div>
            <circle-progress class="circle__progress" [outerStrokeWidth]="10"  [radius]="40" [percent]="taskProgress" [animation]="true"
                              [animationDuration]="300" [startFromZero]="true" [showInnerStroke]="true"
                              [titleFontSize]="'10'" [titleFontWeight]="'900'"  [unitsFontSize]="'10'"
                              [unitsFontWeight]="'700'" [subtitle]="status" [subtitleFontSize]="'7'"
                              [lazy]="false" ></circle-progress>
        </div>
        <div>
            <div style="display: flex;align-items: center;gap: 5px;">
                <div class="assignee">Asignee:</div>
                <div class="assignee">{{assigneeName}}</div>
            </div>
            <div style="display: flex;align-items: center;gap: 5px;">
                <div class="manager">Manager:</div>
                <div class="manager">{{managerName}}</div>
            </div>
            <div style="display: flex;align-items: center;gap: 5px;">
                <div class="prioprity">Priority:</div>
                <div class="prioprity">{{priorityName}}</div>
            </div>
            <!-- <div style="display: flex;align-items: center;gap: 5px;">
                <div class="lastUpdate">Last updated on</div>
                <div class="lastUpdate">{{lastUpdate}}</div>
            </div> -->
        </div>
    </div>
    <!---spinner end-->
    <!----current status start-->
    <div style="display: flex;justify-content: flex-start;">
        <!-- <div>
            <mat-icon>clear</mat-icon>
        </div> -->
        <div class="currentStatus">
            Current status:{{currentStatus}}
        </div>

    </div>
    <!---coming statua end-->
    <!-----external status s\tart-->
    <div class="extStatus">
        <div class="extStatus1">External status</div>
        <div class="extStatus2">External Status External status is public and visible for your patients</div>
        <!--status start-->
       <div class="statusList" >
        <div *ngFor="let status of taskStatusList[0];let index=i" class="singleStatus" (click)="selectStatus(status)">
            <div class="statusName">{{status.name}}</div>
        </div>
       </div>
        <!---status end-->
         <!---cancel save btn start-->
         <div mat-dialog-actions style="display: flex;justify-content: center;align-items: center;padding: 0px !important;">
            <!---cancel save btn start-->
            <div style="text-align: center;">
               <ng-container >
                   <div >
                           <button type="button" class="btn btn-primary font-weight-bold cancelBtn" 
                           mat-dialog-close >No</button>
                       <button type="button" class="btn btn-primary font-weight-bold confirmBtn"(click)="completeTaskStatus()"
                           >Yes</button>
                   </div>
               </ng-container>
           </div>
   
           <!---cancel save btn end-->
         </div>
    </div>

    <!----external status end-->

</section>
