.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headerText{
    font-weight: 700;
    font-size: 14px;
    color: #000000;
}
.taskTitle{
  display: flex;
  align-items: center;
  grid-gap: 5px;
  gap: 5px;
  font-weight: 500;
  font-size: 13px;
  color: #000000;
}
.astericColor{
color: #f24949 !important;
}
.fieldPadding{
padding: 5px;
}
/* for search customer or provider */
.fieldPadding{
padding: 5px;
}
.customerInfo{
display:flex;
align-items: center;
position: relative;
/* flex-direction: row-reverse; */
}
.fileInfo{
  align-items: center;
  position: relative;
  margin-top: 15px;
}
.confirmBtnCustomerInfo{
  background: #E5E5E5 !important;
    box-shadow: none !important;
    font-weight: 500;
    color: #1D3E77;
  border-radius: 3.75916px !important;
  border: 0px solid  !important;
  padding: 6px 12px;
  display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 5px;
    /* position: absolute; */
}
.customImg{
  width:20px;
}
.astericColor{
  color: #f24949 !important;
}
.divBox{
  background-color: rgba(255, 255, 255, 0.959);
}
.example-chip-list {
  width: 100%;
}
.matContainer{
  width: 550px;
}

.inputField{
  display: block;
  width: 100%;
  height: 100%;
  padding: 6px 12px!important;
  font-size: 14px !important;
  line-height: 1.42857143!important;
  color: #555!important;
  background-image: none !important;
  /* background: #F1F1F1 !important; */
  border-radius: 5.73504px !important;
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%) !important;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s!important;
}
.positionNameInput{
  position: relative;

}
@media(max-width: 576px){
  .matContainer{
    width: 280px !important;
  }
  .cancelSaveBtn{
    margin-right: 65px !important;
    margin-left: -15px !important;
  }

  }

.leadTitle{
  display: flex;
  align-items: center;
  grid-gap: 5px;
  gap: 5px;
  font-weight: 400;
  font-size: 12px;
  color: rgb(109, 108, 108);
  padding: 5px;
}
.bggrey
{
background-color: #f8f8f8!important;
/* padding: 15px!important; */
border-radius: 10px!important;
}
.searchBtnFind{
background: #0D2348 !important;
box-shadow: 0.417685px 2.50611px 8.77138px 1.25305px rgb(30 64 121 / 15%) !important;
border-radius: 3.75916px !important;
border: 0px solid !important;
padding: 5px 7px;
color: #fff;
margin-left: -90px;
height: 31px;
width: 31px;
float: right;
margin-right: 21px;
margin-top: -12px;
}
.matIcon{
  background-color:  #fff !important;
  color:#a9a9a945 !important;
}
.matChipSize{
  background-color: #fff !important;
  border-radius: 5px !important;
  border: 0.5px solid #a9a9a945;
  margin-top: 10px;
  margin-bottom: 0px !important;
  padding: 5px;
}

.matChipFilterSze{
  background-color: #fff !important;
  border: 0.5px solid #a9a9a945;
}
.formSize{
    height: 85px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: 5px;
}

.bgColor{
  background-color: #fff !important;
}
/* .form-control.inputSize{
  width: 90%;
  height: 35px;
  border-radius: 3.75916px !important;
  border: 0px solid !important;
  padding: 6px 12px!important;
  font-size: 14px !important;
  line-height: 1.42857143!important;
  color: #555!important;
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%) !important;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s!important;
} */

.cancelBtn{
  background: #A8ABAF !important;
box-shadow: 0.417685px 2.50611px 8.77138px 1.25305px rgba(30, 64, 121, 0.15) !important;
border-radius: 3.75916px !important;
border: 0px solid  !important;
margin-right: 10px !important;
}
.confirmBtn{
   background: #0D2348 !important;
   box-shadow: 0.417685px 2.50611px 8.77138px 1.25305px rgba(30, 64, 121, 0.15) !important;
   border-radius: 3.75916px !important;
   border: 0px solid  !important;
   
}
.errorMsg{
  color: #f24949;
  font-size: 12px;
  font-weight: 500;
}
.form-control{
background-color: #f6f6f6!important;
display: block;
width: 250px;
height: 100px;
padding: 6px 12px!important;
font-size: 14px !important;
line-height: 1.42857143!important;
color: #555!important;
background-image: none !important;
background: #F1F1F1 !important;
border-radius: 5.73504px !important;
box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%) !important;
transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s!important;
}
::ng-deep .form-control:focus {
border: 2px solid #96d3e2 !important;
}
textarea {
resize: none !important;
padding-left: 10px;
}
.textarea{
background: #f5f5f5;
border-radius: 10px;
}
::ng-deep .mat-form-field textarea{
margin-top: 0px !important;
border-radius: 5px !important;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s!important;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.08)!important;
}
.note{
padding: 6px 12px!important;
  font-size: 14px !important;
  line-height: 1.42857143!important;
  color: #555!important;
  background-image: none !important;
  background: #F1F1F1 !important;
  border-radius: 5.73504px !important;
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%) !important;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s!important;
  margin-bottom: 5px;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  border-bottom: 0.5px solid #b5b5c340;
}
/* .headerText{
  font-weight: 700;
  font-size: 13px;
  color: #000000;
} */
.imgIcon{
  height: 20px;
  width: 20px;
  margin-right: 5px;
}
/* .matInput{
width:600px !important;
display: flex;
margin-right: 36px !important;
} */
.maxHieght{
  height: 100px !important;
  overflow: auto !important;
}
@media(min-width: 768px){
.matSiZe{
  width: 600px !important;
  padding-left: 4px !important;
  
}
.form-control.inputSize{
  height: 35px;
  border-radius: 3.75916px !important;
  border: 0.4px solid lightgray !important;
  padding: 6px 12px!important;
  font-size: 14px !important;
  line-height: 1.42857143!important;
  color: #555!important;
  background: #F1F1F1;
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%) !important;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s!important;
  width: 530px;
  margin-right: 31px;
}
.selectSize{
  width:523px;
  height: 100px;
    border-radius: 3.75916px !important;
    border: 0.4px solid #fff !important;
    padding: 6px 12px!important;
    font-size: 14px !important;
    line-height: 1.42857143!important;
    color: #555!important;
    background: #F1F1F1;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%) !important;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s!important;
    /* width: 100% !important; */
    margin-right: -1px;
    overflow-y: auto !important;

}
.confirmBtnFind{
  /* background: #0D2348 !important; */
    box-shadow: 0.417685px 2.50611px 8.77138px 1.25305px rgb(30 64 121 / 15%) !important;
    /* border-radius: 3.75916px !important; */
    /* border: 0px solid !important; */
    padding: 6px 6px;
    margin-left: -40px;
    float: right;
    margin-right: 19px;
    background-color: #1E4079;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    width: 35px !important;
    height: 35px !important;
    color: white;
    align-items: center;
    text-align: center;
}
/* ::ng-deep .mat-form-field-infix {
  flex: auto;
  height: 150px !important;
  overflow: auto;
} */
.textField {
  width:555px;
  margin-right: 36px;
  height: 0px !important;
  /* border: 1px solid gray !important; */
  overflow-x:hidden !important;
  overflow-y: auto !important;
  
}
.matForm{
  min-height: 100px !important;
  overflow: auto !important;
}
}
.matForm{
  width:550px;
  height: 100px;
  overflow: auto !important;
}
@media(max-width:300px){
  .matSiZe{
    width: 280px !important;
    padding-left: 4px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;

  }
  .form-control.inputSize{
    height: 35px;
    border-radius: 3.75916px !important;
    border: 0.4px solid lightgray !important;
    padding: 6px 12px!important;
    font-size: 14px !important;
    line-height: 1.42857143!important;
    color: #555!important;
    background: #F1F1F1;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%) !important;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s!important;
    width: 180px !important;
    margin-right: 31px;
  }
  .confirmBtnFind{
    /* background: #0D2348 !important; */
      box-shadow: 0.417685px 2.50611px 8.77138px 1.25305px rgb(30 64 121 / 15%) !important;
      /* border-radius: 3.75916px !important; */
      /* border: 0px solid !important; */
      padding: 6px 6px;
      margin-left: -40px;
      float: right;
      margin-right: 1px;
      background-color: #1E4079;
      border-bottom-right-radius: 5px;
      border-top-right-radius: 5px;
      width: 35px !important;
      height: 35px !important;
      color: white;
      align-items: center;
      text-align: center;
  }
  .selectSize{
    width:180px !important;
    height: 100px;
    border-radius: 3.75916px !important;
    border: 0.4px solid #fff !important;
    padding: 6px 12px!important;
    font-size: 14px !important;
    line-height: 1.42857143!important;
    color: #555!important;
    background: #F1F1F1;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%) !important;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s!important;
    /* width: 100% !important; */
    margin-right: -1px;
    overflow-y: auto !important;
  
  }
  .textField{
    width:270px;
    margin-right: 36px;
    height: 0px!important;
    /* border: 1px solid gray !important; */
    overflow-x:hidden !important;
    overflow-y: auto !important;
  }
  .searchBtnFind{
    background: #0D2348 !important;
box-shadow: 0.417685px 2.50611px 8.77138px 1.25305px rgb(30 64 121 / 15%) !important;
border-radius: 3.75916px !important;
border: 0px solid !important;
padding: 5px 7px;
color: #fff;
margin-left: -90px;
height: 31px;
width: 31px;
float: right;
margin-right: 21px;
margin-top: -13px;
  }
}


.imageClass{
  width: 1rem;
  height: 1rem;
  padding: 20px;
  border-radius: 50%;
  text-align: center;
  background: #D9D8D8;
}

@media(max-width: 576px){
  .matSiZe{
    width: 350px !important;
    padding-left: 4px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;

  }
  /* ::ng-deep .mat-form-field-infix {
    height: 100px !important;
    overflow: auto;
    flex: auto !important;
  } */
  .confirmBtnFind{
    /* background: #0D2348 !important; */
      box-shadow: 0.417685px 2.50611px 8.77138px 1.25305px rgb(30 64 121 / 15%) !important;
      /* border-radius: 3.75916px !important; */
      /* border: 0px solid !important; */
      padding: 6px 6px;
      margin-left: -40px;
      float: right;
      margin-right: 19px;
      background-color: #1E4079;
      border-bottom-right-radius: 5px;
      border-top-right-radius: 5px;
      width: 35px !important;
      height: 35px !important;
      color: white;
      align-items: center;
      text-align: center;
  }
  .form-control.inputSize{
    height: 35px;
    border-radius: 3.75916px !important;
    border: 0.4px solid lightgray !important;
    padding: 6px 12px!important;
    font-size: 14px !important;
    line-height: 1.42857143!important;
    color: #555!important;
    background: #F1F1F1;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%) !important;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s!important;
    width: 280px;
    margin-right: 31px;
  }
  .selectSize{
    width:275px;
    height: 100px;
    border-radius: 3.75916px !important;
    border: 0.4px solid #fff !important;
    padding: 6px 12px!important;
    font-size: 14px !important;
    line-height: 1.42857143!important;
    color: #555!important;
    background: #F1F1F1;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%) !important;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s!important;
    /* width: 100% !important; */
    margin-right: -1px;
    overflow-y: auto !important;
  
  }
  .textField{
    width:300px;
    margin-right: 36px;
    height: 0px!important;
    /* border: 1px solid gray !important; */
    overflow-x:hidden !important;
    overflow-y: auto !important;
  }
  .searchBtnFind{
    background: #0D2348 !important;
box-shadow: 0.417685px 2.50611px 8.77138px 1.25305px rgb(30 64 121 / 15%) !important;
border-radius: 3.75916px !important;
border: 0px solid !important;
padding: 5px 7px;
color: #fff;
margin-left: -90px;
height: 31px;
width: 31px;
float: right;
margin-right: 21px;
margin-top: -13px;
  }

  }

.example-radio-button{
    display: flex !important;
    padding: 10px;
    background: #f6f6f6;
    border: 0.303983px solid #DCDCDC;
    box-sizing: border-box;
    border-radius: 2.65807px;
    margin-bottom: 10px;
}
.allMember{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    flex-direction: row;
}
.img{
    height: 30px;
    /* width: 30px; */
}
.cancelBtn{
    background: #A8ABAF !important;
  box-shadow: 0.417685px 2.50611px 8.77138px 1.25305px rgba(30, 64, 121, 0.15) !important;
  border-radius: 3.75916px !important;
  border: 0px solid  !important;
  margin-right: 10px !important;
  }
  /* .confirmBtn{
    background: #0D2348 !important;
  box-shadow: 0.417685px 2.50611px 8.77138px 1.25305px rgba(30, 64, 121, 0.15) !important;
  border-radius: 3.75916px !important;
  border: 0px solid  !important;
  } */
  .errorMsg{
    color: #f24949;
    font-size: 12px;
    font-weight: 500;
  }
  /* ::ng-deep .mat-radio-outer-circle{ */
      /* height: 15px !important;
      width: 15px !important; */
  /* } */
  .members{
    font-size: 12px;
    color: #434343;
    font-weight: 700;
  }
  ::ng-deep .mat-dialog-container{
    width: max-content !important;
  }
  ::ng-deep .confirmationmainclass{
    justify-content: space-around !important;
  }
  .taskTitle{
    display: flex;
    align-items: center;
    grid-gap: 5px;
    gap: 5px;
    font-weight: 500;
    font-size: 13px;
    color: #000000;
}
.astericColor{
  color: #f24949 !important;
}
.cancelSaveBtn{
  margin-right: 70px;
  margin-bottom: -18px;
  margin-left: -15px;
}
.cancelShareBtn{
  margin-right: 52px;
  margin-bottom: -18px;
  margin-top: 10px;

}
.customerInfo{
  display:flex;
  /* justify-content: space-between; */
  align-items: center;
  gap:5px;
  position: relative;
  width: 100% !important;
  /* flex-direction: row-reverse; */
  }
  .confirmBtnCustomerInfo{
    background: #E5E5E5 !important;
      box-shadow: none !important;
      font-weight: 500;
      color: #1D3E77;
    border-radius: 3.75916px !important;
    border: 0px solid  !important;
    padding: 6px 12px;
    display: flex;
      justify-content: space-between;
      align-items: flex-end;
      gap: 5px;
      /* position: absolute; */
  }
  .customImg{
    width:20px;
  }
  .astericColor{
    color: #f24949 !important;
  }
  .divBox{
    background-color: rgba(255, 255, 255, 0.959);
  }

  .bggrey
{
background-color: #f8f8f8!important;
padding: 15px!important;
border-radius: 10px!important;
}



.cancelBtn{
    background: #A8ABAF !important;
  box-shadow: 0.417685px 2.50611px 8.77138px 1.25305px rgba(30, 64, 121, 0.15) !important;
  border-radius: 3.75916px !important;
  border: 0px solid  !important;
  margin-right: 10px !important;
  }
  .confirmBtn{
     background: #0D2348 !important;
     box-shadow: 0.417685px 2.50611px 8.77138px 1.25305px rgba(30, 64, 121, 0.15) !important;
     border-radius: 3.75916px !important;
     border: 0px solid  !important;
     
  }
  .errorMsg{
    color: #f24949;
    font-size: 12px;
    font-weight: 500;
  }
.form-control{
  background-color: #f6f6f6!important;
  display: block;
  width: 250px;
  height: 100px;
  padding: 6px 12px!important;
  font-size: 14px !important;
  line-height: 1.42857143!important;
  color: #555!important;
  background-image: none !important;
  background: #F1F1F1 !important;
  border-radius: 5.73504px !important;
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%) !important;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s!important;
}

textarea {
  resize: none !important;
}
.textarea{
  background: #f5f5f5;
    border-radius: 10px;
}
.messageArea{
  width: 90% !important;
  /* height: auto !important; */
  overflow-y: auto !important;
  border: 1px solid lightgray !important;
  border-radius: 5.73504px !important
  
}
/* .messageArea:focus-visible{
  width: 90% !important;
  height: auto !important;
  overflow-y: auto !important;
  border: 1px solid lightgray !important;
  border-radius: 5.73504px !important
  
} */
.matCheckBox mat-checkbox{
  margin-top: 5px;
  margin-right: 10px;
  margin-bottom: 0px;
}
::ng-deep .mat-form-field textarea{
  margin-top: 0px !important;
  border-radius: 5px !important;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s!important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.08)!important;
}
.note{
  padding: 6px 12px!important;
    font-size: 14px !important;
    line-height: 1.42857143!important;
    color: #555!important;
    background-image: none !important;
    background: #F1F1F1 !important;
    border-radius: 5.73504px !important;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%) !important;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s!important;
    margin-bottom: 5px;
}
.almostDone{
  font-weight: bold;
    font-size: 15px;
    color: #22242C;
}
.plMake{
  font-size: 13px;
    font-weight: 500;
    color: #68696C;
}
.taskDes{
  font-size: 13px;
    font-weight: 500;
    color: #CACACA;
    margin-top: 10px;
    margin-bottom: 10px;
}
::ng-deep .commonpopupmainclass.confirmationmainclass .mat-dialog-actions{
  box-shadow: none !important;
  /* padding: 0px !important; */
}
/* ::ng-deep .mat-dialog-content{ */
  /* max-height: fit-content */
/* } */
/* textarea .form-control{
  width: 320px !important;
} */
.titleTask{
  font-size: 15px;
    font-weight: bold;
    color: #22242C;
    margin-top: 10px;
}
.assignee{
  color: #121212;
    font-weight: 700;
    font-size: 16px;
    padding: 3px;
}
.manager{
  color: #000000;
    mix-blend-mode: normal;
    opacity: 0.5;
    font-size: 13px;
    padding: 3px;
}
.prioprity{
  color: #FF0000;
  font-size: 13px;
mix-blend-mode: normal;
opacity: 0.5;
padding: 3px;
}
.lastUpdate{
  color: #000000;
  font-size: 13px;
mix-blend-mode: normal;
opacity: 0.5;
padding: 3px;
}
.currentStatus{
  font-size: 13px;
  color: #06D2FF;
  letter-spacing: 1px;
}
.extStatus{
  border: 1.05788px solid #F1F1F1;
  padding: 20px;
  margin-top: 10px;
  box-shadow: 4.50201px 4.50201px 9.00403px rgba(66, 66, 66, 0.25);
}
.extStatus1{
  color: #696969;
  font-size: 13px;
  font-weight: 600;
}
.extStatus2{
  color: #696969;
  font-size: 13px;
  font-weight: 600;
}
.statusList{
  display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}
.singleStatus{
  padding: 20px;
    background: #FFFFFF;
    box-shadow: 1.05788px 0.391416px 5.28941px rgb(96 95 95 / 25%);
    border-radius: 5.46305px;
    width: 8rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    gap: 5px;
}
.statusName{
  color:  #FE9F69;;
}
/* .singleStatus:focus{
  outline: none;
} */
/* .singleStatus:active{ */
  /* border: 2px solid #FF0000 !important; */
/* } */
.singleStatus:hover{
  background: #F5F5F5 !important;
}
.noteDetails{
  width: 21rem;
}
@media(max-width: 768px){
  .noteDetails{
    width: 21rem;
  }
  .uploadFile{
    width: 100% !important;
  }
  .singleStatus{
    justify-content: flex-start;
    width: 9.5rem;
  }
}
.filesDes{
  margin-bottom: 10px;
  padding: 6px 12px!important;
    font-size: 14px !important;
    line-height: 1.42857143!important;
    background: #F1F1F1 !important;
    border-radius: 5.73504px !important;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s!important;
    display: flex;
  /* justify-content: space-between; */
  grid-gap: 10px;
  gap: 10px;
  align-items: center;
}
/* .uploadFile{ */
  /* width: 31rem; */
/* } */
.imageIcon{
  width: 25px;
}
.filesNameSize{
  font-weight: 600;
    font-size: 12px;
}
.actionBtn{
  display: flex;justify-content: center;align-items: center;box-shadow: none !important;
}
.masterDes{
  display: flex;flex-wrap: wrap;align-items: flex-start;padding: 3px;gap: 5px;
}
.taskMaster{
  font-size: 12px;
    color: #434343;
    font-weight: 700;
    opacity: 60%;
    /* margin-top: 5px;
    margin-bottom: 5px; */
}
.example-radio-button{
  /* box-shadow: 0.417685px 2.50611px 8.77138px 1.25305px rgb(30 64 121 / 15%) !important; */
    border-radius: 5.75916px !important;
}
.taskMasterFieldName{
  font-weight: bold;
    color: black;
    font-size: 11px;
}
.allBtn{
  display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}
.taskMasterCreate{
  text-align: end;
    margin-right: 25px;
    margin-bottom: 10px;
}
.form-controls{
  background-color: #f6f6f6!important;
  display: block;
  width: 100%;
  height: 35px;
  padding: 6px 12px!important;
  font-size: 14px !important;
  line-height: 1.42857143!important;
  color: #555!important;
  background-image: none !important;
  background: #F1F1F1 !important;
  border-radius: 5.73504px !important;
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%) !important;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s!important;
}

.singleTempalte{
  padding: 8px;
  background: #FFFFFF;
  box-shadow: 1.05788px 0.391416px 5.28941px rgb(96 95 95 / 25%);
  border-radius: 5.46305px;
  width: 14rem;
    cursor: pointer;
    height: 6rem;
}
.templateList{
  display: flex;
  /* justify-content: space-between;
  align-items: center; */
  flex-wrap: wrap;
  grid-gap: 10px;
  gap: 10px;
  margin-top: 10px;
}
@media(max-width: 768px){
  /* .templateList{
    justify-content: space-evenly; 
   align-items: center;
  } */
  .singleTempalte{
    width: 9rem;
    height: 6rem;
  }
  .templateName{
    font-size: 12px !important;
      font-weight: 500;
      color: #1e4079;
  }
}
.templateName{
  font-size: 14px;
    font-weight: 500;
    color: #1e4079;
}
::ng-deep .commonpopupmainclassTemplate{
  width: 750px !important;
}
.pointerClass{
  cursor: pointer;
}
.imageIconType{
  width: 20px;
}
tr{
  font-size: 14px !important;
}
tr:hover {box-shadow: 0 3px 15px rgb(0 0 0 / 20%);}
thead{
  background-color: #d8e2f1!important;
    color: #555!important;
}
tr:nth-child(even) {background-color: #f2f2f2;}
/* tr:nth-child(odd) {background-color: green;} */
.headerLeadNote{
  display: flex;
  justify-content: space-between;
}