
.post-info {
    display: flex;
    min-height: 600px;
  }
  .details{
    width: 100%;
    line-height: 25px;
    position: absolute;
  }
  .book-head {
    padding: 20px 10px;
    margin: auto;
    width: 50%;
    display: flex;
  }
  .book-details {
    border-bottom: 1px solid #ddd;
    font-weight: 600;
    font-size: 1.1rem;
    text-align: center;
    margin-bottom: 15px;
    padding-bottom: 10px;
  }
  .book-details-sub {
    border-bottom: 1px solid #ddd;
    width: 100%;
  }
  .book-status {
    text-align: center;
    font-weight: 600;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  .ok-btn {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .ok-btn span {
    border: 1px solid;
    padding: 10px 50px;
    border-radius: 20px;
    background: #334b99!important;
    color: #fff!important;
    font-weight: bold;
  }

  .info-img img{
    width: 230px;
  }
  @media (max-width: 991px) { 
    .info-img img{
      width: 200px !important;
    }
    .post-info {
      display: block !important;
    }
  }
  @media (max-width: 500px) {
    .info-img img{
      width: 50px !important;
    }
  }
  .powered-by {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 110px;
    height: 105px;
    overflow: hidden;
  }
  .poweredby-text {
    position: relative;
    top: 21px;
    left: -20px;
    width: 190px;
    padding: 9px 0 6px 0;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    background-color: #2c4289!important;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
  }
  .one {
    color: #dbdbdb;
    font-size: 8px;
    text-transform: uppercase
  }
  .two {
    margin-left: -7px;
    color: #ffffff;
  }
  @media only screen and (max-width: 640px) {
    th, td, tr {
      font-size: .75rem !important;
    }
    .book-head {
      width: 100%;
    }
  }
  .status-table {
    width: 100%;
    color: #00cc96;
  }
  .content {
    padding: 15px 0px !important;
  }
  .details-search {
    margin-top: 25px;
    font-size: 1.5rem;
  }
  @media (min-width: 991px) {  
  .mgn-up-100 {
  margin-top: 100px;
  }
}
.status-btn {
padding: 0px 10px;
font-size: .6rem;
}
.cancelled {
  color: red;
}
.status-check {
padding: 10px;
text-decoration: underline;
}
