.bill-more-mat-menu {
    right: 0;
    top: 0;
    float: right;
}
.bill-more-mat-menu mat-icon{
    vertical-align: top!important;
}
/* :host /deep/ .mat-autocomplete-panel {
    max-height: 150px !important;
    background-color: #0000FF;
  } */
 ::ng-deep .mat-autocomplete-panel {
    max-height: 242px !important;
  }