.bill-more-mat-menu {
    right: 0;
    top: 0;
    float: right;
}
.bill-more-mat-menu mat-icon{
    vertical-align: top!important;
}
/* :host /deep/ .mat-autocomplete-panel {
    max-height: 150px !important;
    background-color: #0000FF;
  } */
 ::ng-deep .mat-autocomplete-panel {
    max-height: 242px !important;
  }

.bill-ip input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance : none;
    appearance : none;
    margin : 0; 
}

@media only screen and (max-width: 400px) {
    .bill-section .bill-section-content .bill-wrapper .section-three .bill-breakup .list .list-content .c-row.one .name {
        text-align: left !important;
    }
    .bill-section .bill-section-content .bill-wrapper .section-three .bill-breakup .list .list-content .c-row.one .quantity {
        flex-basis: 80% !important;
        padding-right: 10px !important;
    }
}