.bill-more-mat-menu {
    right: 0;
    top: 0;
    float: right;
}
.bill-more-mat-menu mat-icon{
    vertical-align: top!important;
}
/* :host /deep/ .mat-autocomplete-panel {
    max-height: 150px !important;
    background-color: #0000FF;
  } */
 ::ng-deep .mat-autocomplete-panel {
    max-height: 242px !important;
  }

.bill-ip input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance : none;
    appearance : none;
    margin : 0; 
}

@media only screen and (max-width: 400px) {
    .bill-section .bill-section-content .bill-wrapper .section-three .bill-breakup .list .list-content .c-row.one .name {
        text-align: left !important;
    }
    .bill-section .bill-section-content .bill-wrapper .section-three .bill-breakup .list .list-content .c-row.one .quantity {
        flex-basis: 80% !important;
        padding-right: 10px !important;
    }
}
.amountSaved {
    text-align: left;
    color: limegreen;
    font-weight: 700;
}
.hint {
    line-height: 1.75;
    font-size: .775rem;
}
/* .bg-primary {
    background-color: #617ba3 !important;
} */
.d-flex .justify-content-between .btn {
    line-height: 0.8rem !important;
}
.add_item {
    float: right;
}
.flat_item {
    line-height: 0.9 !important;
    border-radius: 0 !important;
}
.btn .btn-success {
    color: #ffffff;
    background-color: #4caf50 !important;
    border-color: #4caf50 !important;
}
.ip_feild {
    border: 1px solid #80808096;
    border-radius: 5px;
    width: 100px;
}
.btn_prim {
    background: #1e4079 !important;
}
.hr_content {
    float: right;
    display: flex;
    font-size: 0.9rem;
}
.flx_1 {
    flex: 1;
}
.disp_grid {
    display: grid;
}
.extra-bill {
    font-family: system-ui;
    font-weight: 600;
    font-size: smaller;
}
.fl_rt {
    float: right;
}
.clr_grn {
    color: #28a745;
}
.clr_red {
    color: #dc3545;
}
.fade {
    opacity: 5 !important;
}
.lh-p6 {
    line-height: 0.6;
}
.fnt-p8 {
    font-size: 0.8rem !important;
}
.fnt-p7 {
    font-size: 0.7rem  !important;
}
.radii {
    border-radius: 5px;
}
.lh-1 {
    line-height: 1 !important;
}
.dashed_bdr {
    border: 1px dashed grey;
}
.text-muted-dark {
    color:grey  !important;
}
.example-full-width .mat-form-field-infix {
    margin-bottom: 0px !important;
}
.lh-p8 {
    line-height: 0.8rem !important;
}
.item_centre {
    text-align: center;
    padding: 5px;
    font-weight: 100;
    color: #000000ab;
}
.lh-p4 {
    line-height: 0.4 !important
}
.amount_Saved {
 color: limegreen;
}
.btn-temp-primary-light  {
    color: #3699FF;
    background-color: #E1F0FF;
    border-color: transparent;
    font-weight: 600 !important; 
}
.btn-temp-primary {
    color: #FFFFFF;
/* background-color: #3699FF;
border-color: #3699FF; */
background-color: #1dafe894;
    border-color: #76ccef;
font-weight: 600 !important;
}
.hand_symb {
    cursor: pointer;
}
.fl_right {
    float:right
}
.small_btn {
    height: 30px;
    line-height: 12px;
    padding: 1px 20px;
}
.new_ht_calc {
    height: calc(1rem + 1.3rem + 2px) !important;
}
.bill_sum {
    line-height: 2;
    color: #1e4079d1;
}
.adjust_respo {
    display: flex;
}
@media only screen and (max-width: 550px) {
    .full_wdth {
        width: 100%;
    }
    .adjust_respo {
        display: grid !important;
    }
}
.table>tbody>tr>td {
    line-height: 1 !important;
}
.bg_text_prim {
    color: #1e4079 !important;
}
.bdr_bt {
    border-bottom: 1px solid #ebedf3 !important;
}
.bg_white {
    background: white !important;
}
.top_n10 {
    margin-top: -10px;
    height: 30px !important;
}
.btn_adjust {
    width: 40px;
    text-align: center;
    font-size: small;
}
.clr_ornge {
    color: orange;
}