.bill-more-mat-menu {
    right: 0;
    top: 0;
    float: right;
}
.bill-more-mat-menu mat-icon{
    vertical-align: top!important;
}
/* :host /deep/ .mat-autocomplete-panel {
    max-height: 150px !important;
    background-color: #0000FF;
  } */
 ::ng-deep .mat-autocomplete-panel {
    max-height: 242px !important;
  }

.bill-ip input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance : none;
    appearance : none;
    margin : 0; 
}

@media only screen and (max-width: 400px) {
    .bill-section .bill-section-content .bill-wrapper .section-three .bill-breakup .list .list-content .c-row.one .name {
        text-align: left !important;
    }
    .bill-section .bill-section-content .bill-wrapper .section-three .bill-breakup .list .list-content .c-row.one .quantity {
        flex-basis: 80% !important;
        padding-right: 10px !important;
    }
}
.amountSaved {
    text-align: left;
    color: limegreen;
    font-weight: 700;
}
.hint {
    line-height: 1.75;
    font-size: .775rem;
}
/* .bg-primary {
    background-color: #617ba3 !important;
} */
.d-flex .justify-content-between .btn {
    line-height: 0.8rem !important;
}
.add_item {
    float: right;
}
.flat_item {
    line-height: 0.9 !important;
    border-radius: 0 !important;
}
.btn .btn-success {
    color: #ffffff;
    background-color: #4caf50 !important;
    border-color: #4caf50 !important;
}
.ip_feild {
    border: 1px solid #80808096;
    border-radius: 5px;
    width: 100px;
}
.btn_prim {
    background: #1e4079 !important;
}
.hr_content {
    float: right;
    display: flex;
}
.flx_1 {
    flex: 1;
}
.disp_grid {
    display: grid;
}
.extra-bill {
    font-family: system-ui;
    font-weight: 600;
    font-size: smaller;
}
.fl_rt {
    float: right;
}
.clr_grn {
    color: #28a745;
}
.clr_red {
    color: #dc3545;
}
.fade {
    opacity: 5 !important;
}
.lh-p6 {
    line-height: 0.6;
}