<section class="clearfix">
  <div class="pull-left pad-10 mgn-lt-5 mgn-rt-5">
    <div class="dash-head"> <i style="color:#555 !important" class="fa fa-arrow-left pointer-cursor" aria-hidden="true"
        (click)="goBack()"></i>
      <span></span>&nbsp;&nbsp;&nbsp; {{headerName}}
    </div>
  </div>
  <div class="pull-right">
    <!-- [class.index-zero]="filter_sidebar" -->
    <nav class="navbar navbar-static-top no-margin" role="navigation">
      <div class="navbar-custom-menu width100pc">
        <ul class="nav navbar-nav width100pc">
          <li class="dropdown messages-menu loc-lst queue-menu pull-right">
            <i class="icon-location dropdown-toggle " data-toggle="dropdown"></i>
            <a href="#" class="dropdown-toggle navbar-item-color bold nav-lc-sh-icon" data-toggle="dropdown"
              *ngIf="selected_location" style="padding-top: 12px !important;">
              <!-- <span *ngIf="!small_device_display"> -->
              {{selected_location.place | capitalizeFirst}}
              <!-- </span> -->
            </a>
            <ul class="dropdown-menu">
              <li>
                <ul *ngIf="selected_location" class="menu">
                  <li *ngFor="let location of locations;let i = index"
                    [ngClass]="{'active': (location.place === selected_location.place)}">
                    <a class="pointer-cursor" (click)="onChangeLocationSelect(i)">
                      <h4 *ngIf="location.place.length>='27'">
                        {{ location.place.substring(0,24) | capitalizeFirst }}...</h4>
                      <h4 *ngIf="location.place.length<'27'">{{ location.place | capitalizeFirst }}</h4>
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</section>
<section>
  <div class="content comn-cls dashboard audit" *ngIf="!api_loading">
    <div class="col-md-12 no-padding-small">
      <div class="row">
        <div class="card p0 w-dta">
          <app-common-innerloading-spinner *ngIf="api_loading"></app-common-innerloading-spinner>
          <div class="table-responsive dash-list">
            <table class="table" style="background-color: white;">
              <thead>
                <tr class="tble-filtr-tr heght">
                  <th class="head_color">Lead Id</th>
                  <th class="head_color">Customer Name</th>
                  <th class="head_color">Employee</th>
                  <th>Lead Creted Date</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngIf="leads.length === 0">
                  <tr><td class="nodatafound" colspan="5">{{no_leads_cap}}</td></tr>
                </ng-container>
                <ng-container *ngIf="leads.length>0">
                  <tr *ngFor="let lead of leads; let i=index" (click)="openLead(lead.uid)">
                    <td data-title="Lead Details" class="td1">{{lead.leadId}}</td>
                    <td data-title="Lead Details" class="td2"><span *ngIf="lead.customer">{{lead.customer.name}}</span>
                    </td>
                    <td data-title="Lead Details" class="td2"><span *ngIf="lead.assignee">{{lead.assignee.name}}</span>
                    </td>
                    <td data-title="Lead Details" class="td2" *ngIf="lead.createdDate">
                      {{lead.createdDate}}
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
            <div class="search_paging">
              <app-pager [total_pages]="pagination.totalCnt" [pagesize]="pagination.perPage"
                (pagerclick)="handle_pageclick($event)" [curpage]="pagination.startpageval">
              </app-pager>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>