<section>
  <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 no-padding-small">
           <div class="row">
                   <div class="column">
                         <b>symptoms</b> <button  style="float: right;" (click)="editClinicalNotes('Symptoms','clinicalNotes.symptoms')">Add</button>
                      <!-- <div  class="columnx">
                            <p>1a : the art or act of identifying a disease from its signs and symptoms. b : the decision reached by diagnosis the doctor's diagnosis. 2a : investigation or analysis of the cause or nature of a condition, situation, or problem diagnosis of engine trouble.</p>
                      </div>
                     <p> 2 attachments</p>                            -->
                   </div>&nbsp;
                   <div class="column">
                         <b>Allergies</b> <button  style="float: right;" (click)="editClinicalNotes('Symptoms','clinicalNotes.symptoms')">Edit</button>
                      <div  class="columnx">
                            <p>1a : the art or act of identifying a disease from its signs and symptoms. b : the decision reached by diagnosis the doctor's diagnosis. 2a : investigation or analysis of the cause or nature of a condition, situation, or problem diagnosis of engine trouble.</p>
                      </div>
                     <p> 2 attachments</p>
                   </div><br>

                   <div class="column">
                         <b>Diagnosis</b> <button  style="float: right;" (click)="editClinicalNotes('Symptoms','clinicalNotes.symptoms')">Edit</button>
                      <div  class="columnx">
                            <p>1a : the art or act of identifying a disease from its signs and symptoms. b : the decision reached by diagnosis the doctor's diagnosis. 2a : investigation or analysis of the cause or nature of a condition, situation, or problem diagnosis of engine trouble.</p>
                      </div>
                     <p> 2 attachments</p>
                   </div><br>

                   <div class="column">
                         <b>Observations</b> <button  style="float: right;" (click)="editClinicalNotes('Symptoms','clinicalNotes.symptoms')">Edit</button>
                      <div  class="columnx">
                            <p>1a : the art or act of identifying a disease from its signs and symptoms. b : the decision reached by diagnosis the doctor's diagnosis. 2a : investigation or analysis of the cause or nature of a condition, situation, or problem diagnosis of engine trouble.</p>
                      </div>
                     <p> 2 attachments</p>
                   </div>&nbsp;
           </div>
       </div>

</section>











