.mat-scrool {
    max-height: 500px;
    overflow: 100%;
  }
  .bus-item-O {
    width: 40%;
    float: left !important;
    margin-bottom: 10px !important;
    padding: 0 5px 0 5px !important;
    /* margin-top: 10px !important; */
  }
  .scro {
    max-height: 500px;
    overflow-y: scroll;
  }
