.view-btn {
    padding: 5px 20px;
    border: 2px solid #1e4079;
    color: #1e4079;
    font-weight: bold;
    cursor: pointer;
}
.enquiry-section {
    padding: 10px;
}
.enq-box {
    display: flex;
    margin-bottom: 10px;
    padding: 10px;
    border-left: 5px solid #ccc;
    box-shadow: 0 0 0 0 rgb(0 0 0 / 20%), 0 2px 5px 0 rgb(0 0 0 / 19%);
    cursor: pointer;
}
.enq-box div {
    margin-top: auto;
    margin-bottom: auto;
}
.cont2, .cont3 {
    width: 40%;
}
.cont4 {
    width: 25%;
}
.user-name {
    border-radius: 50%;
    color: #FFFFFF;
    background-color: #1e4079;
    max-width: 100px;
    padding: 12px 10px;
    width: 50px;
    height: 45px;
    text-align: center;
    max-height: 45px;
}
.fa-arrow-right {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 2rem;
    color: #1e4079;
    display: none;
    right: 20px;
    position: absolute;
    padding: 5px 20px;
}
.enq-box:hover .fa-arrow-right{
    display: inline-block !important;
    background: white;
}
.enq-box:hover .fa-arrow-right{
    display: inline-block !important;
    background: white;
}
.enq-box:hover {
    border-left: 5px solid darkblue;
}