<!-- <h1>Welcome to Jaldee Blog</h1>

<h2> Coming soon... </h2> -->

<div class="main-area center-text" >
		
    <div class="display-table">
        <div class="display-table-cell">
            
            <h1 class="title font-white"><b>Welcome to Jaldee Blog</b></h1>
            <p class="desc font-white">Coming soon...</p>
            
            <!-- <a class="notify-btn" href="#"><b>NOTIFY US</b></a> -->
            
            <ul class="social-btn font-white">
                <li><a href="https://www.facebook.com/Jaldee-1176319332515659/">facebook</a></li>
                <li><a href="https://twitter.com/jaldee6">twitter</a></li>
                <li><a href="https://www.youtube.com/watch?v=qF4gLhQW2CE">youtube</a></li>
                <li><a href="https://www.instagram.com/jaldeesoft/">instagram</a></li>
            </ul>
            
        </div>
    </div>
</div>