.color-highlight {
	color: #da4453 !important
}

.bg-highlight {
	background-color: #da4453 !important;
	color: #fff !important
}

.border-highlight {
	border-color: #da4453 !important
}

.gradient-highlight {
	background-image: linear-gradient(to bottom, #ED5565, #DA4453) !important
}

.footer-bar-2 .active-nav,
.footer-bar-5 strong,
.footer-bar-4 strong,
.splide__pagination__page.is-active {
	background-color: #da4453 !important
}

.footer-bar-1 .active-nav i,
.footer-bar-1 .active-nav span,
.footer-bar-3 .active-nav i {
	color: #da4453 !important
}

.form-floating-over>.form-control:focus~label {
	color: #da4453
}

.form-floating-over>.form-control:not(:placeholder-shown)~label {
	color: #da4453
}

.form-floating-over>.form-select~label {
	color: #da4453
}

.color-highlight {
	color: #da4453
}

.bg-highlight {
	background-color: #da4453;
	color: #fff !important
}

.interest-check input:checked~label {
	color: #fff !important;
	background-color: #da4453 !important
}
#footer-bar a {
    color: #1f1f1f;
    padding-top: 12px;
    position: relative;
    flex: 1 1 auto;
}
#footer-bar a i {
    font-size: 18px;
    position: relative;
    z-index: 2;
	padding-bottom: 10px;
}

.footer-bar-1 .active-nav i, .footer-bar-1 .active-nav span, .footer-bar-3 .active-nav i {
    color: #da4453!important;
}
#footer-bar a span {
    position: relative;
    z-index: 2;
    display: block;
    font-size: 11px;
    font-weight: 500;
    margin-top: -6px;
    opacity: .7;
    font-family: Roboto,sans-serif!important;
}
/* .background-changer .body-default,#page {
    background-image: linear-gradient(0deg,#f2f2f7,#f2f2f7);
} */
#page {
    position: relative;
}
.page-content {
    overflow-x: hidden;
    transition: all 350ms ease;
    z-index: 90;
	/* padding-bottom: calc(80px + (env(safe-area-inset-bottom))*1.1); */
}
.page-content p {
    line-height: 1.75;
	font-size: 17px;
	text-align: justify;
	
}
.hyphenate {
	word-wrap: break-word;
	overflow-wrap: break-word;
  
  -webkit-hyphens: auto;
	 -moz-hyphens: auto;
		  hyphens: auto;
  }
#footer-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 98;
    background-color: rgba(249,249,249,.98);
    box-shadow: 0 -5px 10px 0 rgb(0 0 0 / 6%);
    min-height: 60px;
    height: calc(62px + (constant(safe-area-inset-bottom))*1.1);
    height: calc(62px + (env(safe-area-inset-bottom))*1.1);
    display: flex;
    text-align: center;
}
/* .ftco-animate {
    opacity: 0;
    visibility: hidden;
} */
.ftco-services-2 .services {
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 0;
    margin-bottom: 30px;
}

.heading-section h2 {
    line-height: 1.2;
	font-size: 24px;
    font-weight: 700;
	margin-top:10px;
}
body {
    background-color: #fff !important;
}
.panel {
    border: none !important;
}
.ftco-services-2 .services .icon {
    line-height: 1.3;
    position: relative;
    margin-bottom: 20px;
    width: 80px;
    height: 80px;
    z-index: 1;
    margin-bottom: 20px;
    background: #ffeeed;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

.cvr-ht {
    height: 312px;
    background-repeat: no-repeat;
    background-size: 100% 312px;
  }
  
   .cvr-dp-mgn {
    margin-top: -80px;
  }
  
  .cvr-dp-bdr {
    border: 5px solid #ffffff !important;
  }

  .cvr-dp-mgn img {
    height: 175px;
    width: 175px;
  }

  @media(max-width: 575px) {
    .cvr-ht {
      height: 200px;
      background-repeat: no-repeat;
      background-size: 100% 200px;
    }
    .cvr-dp-mgn img {
        height: 100px;
        width: 100px;
      }
      .cvr-dp-mgn {
        margin-top: -60px;
      }
  }
  
  .logo-cont {
      margin-top: -200px;
      margin-left: 50px;
  }
  .card {
		overflow: hidden;
		margin-bottom: 15px;
		border-radius: 15px !important;
		border: none;
		box-shadow: 0 4px 24px 0rgba(0,0,0,.08);
  }
  iframe{
	  width: 100%;
  }
  .fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}
.blog-entry {
    margin-bottom: 30px;
}
.left-align {
	text-align: left !important;
}
h5{
    font-weight: 600 !important;
    font-size: 14px !important;
    margin-bottom: 0 !important;
}
.i-actions {
    background-color: red;
    border-radius: 50%;
    color: #fff;
    padding: 5px;
}