<form [formGroup]="publishForm" novalidate (ngSubmit)="onSubmit()" 
class="form">
        <h1 class="mat-dialog-title">Publish Coupon
          <button #queue mat-dialog-close class="modal_close" tabindex="-1" (click)="close()">
            <i class="fa fa-window-close" aria-hidden="true"></i>
          </button>
        </h1>
        <mat-dialog-content>
            <div class="mb-5">
                    <i class="fa fa-lightbulb-o" aria-hidden="true"></i>  <a> Publish From and Publish to Dates should be within the range of Coupon Validity date.</a>
            </div> 
                <div class="row" formGroupName="couponRules">
                        <div class="col-xl-6 col-lg-6 col-md-6">
                          <!--begin::Input-->
                          <div class="form-group">
                            <div class="input-group date">
                              <label>Publish From</label>
                              <input class="form-control1" type="date" (dateChange)="compareDate($event.value,0)" placeholder="Publish From" formControlName="publishedFrom"
                              />
                            </div>
                          </div>
                          <!--end::Input-->
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6">
                          <!--begin::Input-->
                          <div class="form-group">
                            <div class="input-group date">
                              <label>Publish To</label>
                              <input class="form-control1" type="date" (dateChange)="compareDate($event.value,1)" placeholder="Publish To" formControlName="publishedTo"
                              />
                            </div>
                          </div>
                          <!--end::Input-->
                        </div>
                      </div>
        </mat-dialog-content>
      
        <mat-dialog-actions>
            <div class="col-md-10 no-padding mgn-up-10 glbl-seting-heder">
          <button   type="button"  class="cs-btn bt2 " (click)="close()"> Cancel</button>
          <button  type="submit" mat-button class="cs-btn bt1 style-button" [disabled]="!publishForm.valid ">Publish</button>
        </div>
        </mat-dialog-actions>
      </form>
      <app-field-error-display [displayError]="true" *ngIf="api_error" errorMsg="{{api_error}}"></app-field-error-display>
      
      <app-form-success-display [displayMsg]="true" *ngIf="api_success" successMsg="{{api_success}}">
      