header.site-header {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.account-links {
  padding: 15px 5px 0px 5px !important;
}
h6 {
	font-size: 1rem !important;
}
a {
  color: #000;
}

p {
	font-size: 1rem !important;
}


/* header */

/* .header {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
} */

header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  /* background-color: #fff; */
}

header li a {
  display: block;
  padding: 10px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}

header li a:hover, header .menu-btn:hover {
  background-color: #f4f4f4;
}

header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 18px 20px;
  text-decoration: none;
}

/* menu */

header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

header .menu-icon {
  cursor: pointer;
  display: inline-block;
  /* float: right; */
  margin-top: 20px;
  padding: 20px 10px;
  position: relative;
  user-select: none;
}

@media(max-width:355px) {
  header .menu-icon {
    margin-top: 0px;
  }
}

header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

header .menu-icon .navicon:before, header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

header .menu-icon .navicon:before {
  top: 5px;
}

header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

header .menu-btn {
  display: none;
}

header .menu-btn:checked~.menu {
  max-height: 240px;
}

header .menu-btn:checked~.menu-icon .navicon {
  background: transparent;
}

header .menu-btn:checked~.menu-icon .navicon:before {
  transform: rotate(-45deg);
}

header .menu-btn:checked~.menu-icon .navicon:after {
  transform: rotate(45deg);
}

header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before, header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  header li {
    float: left;
  }
  header li a {
    padding: 30px 20px;
  }
  header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  header .menu-icon {
    display: none;
  }
}

.page-banner-image {
  background: #1e4079;
}

.display-1, p.display-1 {
  font-family: 'Jost', sans-serif !important;
  font-size: 4rem !important;
  line-height: 1.1 !important;
  color: #fff !important;
}

@media (max-width: 375px) {
  .display-1, p.display-1 {
    font-size: 3rem !important;
  }
}

.btn-started {
  background-color: #fff !important;
  border: 1px solid #fff!important;
  box-shadow: 0px 3px 0px #fff !important;
  /* box-shadow: 0px 3px 0px #fff !important; */
  cursor: pointer !important;
  color: #000 !important;
  font-size: 1.125rem !important;
  font-family: 'Fira Sans', sans-serif !important;
  font-weight: 500 !important;
  /* height: 45px !important; */
  /* line-height: 2 !important; */
  padding: .75rem .75rem !important;
  text-align: center !important;
  border-radius: 10px !important;
  transition: 0.2s all !important;
}

.btn-contact {
  background-color: #F2B51C !important;
  border: 1px solid #F2B51C!important;
  box-shadow: 0px 3px 0px #F2B51C !important;
  /* box-shadow: 0px 3px 0px #fff !important; */
  cursor: pointer !important;
  color: #fff !important;
  font-size: 1.125rem !important;
  font-family: 'Fira Sans', sans-serif !important;
  font-weight: 500 !important;
  /* height: 45px !important; */
  /* line-height: 2 !important; */
  padding: .75rem .75rem !important;
  text-align: center !important;
  border-radius: 10px !important;
  transition: 0.2s all !important;
  color: #ffffff !important;
  /* box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2); */
}

@media(max-width:375px) {
  .btn-contact {
    font-size: 1rem !important;
  }
  .btn-started {
    font-size: 1rem !important;
  }
}

@media(max-width:330px) {
  .btn-contact {
    padding: .5rem .25rem !important;
  }
  .btn-started {
    padding: .5rem .25rem !important;
  }
}

.pricing {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
  background: #F2B51C !important;
}
.pricing .plan {
  word-break: break-word !important;
  background-color: #ffffff !important;
  margin-bottom: 15px !important;
}
.pricing .plan-header {
  padding-top: 2rem !important;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  min-height: 250px;
}

.display-2, h3.mbr-section-title {
  font-family: 'Jost', sans-serif;
  font-size: 3rem !important;
  line-height: 1.1 !important;
}
.display-5 {
  font-family: 'Jost', sans-serif;
  font-size: 2rem !important;
  line-height: 1.5 !important;
}
h6.display-5 {
  font-family: 'Jost', sans-serif;
  font-size: 2rem !important;
  line-height: 1.5 !important;
}
.pricing .price {
  color: #6592e6 !important;
}
.display-7 {
  font-family: 'Jost', sans-serif;
  font-size: 0.9rem !important;
  line-height: 1.5 !important;
}
.pricing .list-group-item {
  background-color: transparent !important;
  padding: .5rem 3.25rem !important;
}
.pricing .plan .list-group-item {
  position: relative !important;
  justify-content: center !important;
  border: 0 !important;
}
.align-center {
  text-align: center !important;
}
.pricing .price-term {
  color: #e43f3f !important;
}
.plan-list {
  height: 535px !important;
  overflow: auto;
}
.pad-bt-25 {
  padding-bottom: 25px !important;
}
#prov_home_n a.btn:hover {
  background-color: #F2B51C !important;
  color: #fff !important;
}

body {
  background: #2e3237
}

#about {
  text-align: center;
  color: #fafafa;
  font: normal small Arial, Helvetica;
}

#about a {
  color: #777;
}

/* --------------- */
  /* total computed width = 200 x 4 + 210 */
/* plan width = 158 + 20 + 20 + 1 + 1 = 200px */  
.pricing-table {
  /*margin: 100px auto 50px auto;*/
  text-align: center;
margin:auto !important;
padding-top: 10px;
width:100%;
  /*width: 1010px; */
}
.plancontainer {
  width: 99%;
  margin:auto;
}
.pricing-table .plan {
  font: 12px 'Lucida Sans', 'trebuchet MS', Arial, Helvetica;
  text-shadow: 0 1px rgba(255,255,255,.8);        
  background: #fff;      
  border: 1px solid #ddd;
  color: #333;
  padding: 20px 0 20px 0;  
width:100%;
/* margin:1% auto; */
  float: left;
  position: relative;
}

.pricing-table #most-popular {
  z-index: 2;
  top: -13px;
  border-width: 3px;
  padding: 30px 20px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 20px 0 10px -10px rgba(0, 0, 0, .15), -20px 0 10px -10px rgba(0, 0, 0, .15);
  -webkit-box-shadow: 20px 0 10px -10px rgba(0, 0, 0, .15), -20px 0 10px -10px rgba(0, 0, 0, .15);
  box-shadow: 20px 0 10px -10px rgba(0, 0, 0, .15), -20px 0 10px -10px rgba(0, 0, 0, .15);    
}

.pricing-table .plan:nth-child(1) {
  -moz-border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;        
}

.pricing-table .plan:nth-child(4) {
  -moz-border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;        
}

/* --------------- */	

.pricing-table h3 {
  font-size: 20px;
  font-weight: normal;
  padding: 20px;
  background-color: #eee;
  background-image: -moz-linear-gradient(#fff,#eee);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));    
  background-image: -webkit-linear-gradient(#fff, #eee);
  background-image: -o-linear-gradient(#fff, #eee);
  background-image: -ms-linear-gradient(#fff, #eee);
  background-image: linear-gradient(#fff, #eee);
}

.pricing-table #most-popular h3 {
  background-color: #ddd;
  background-image: -moz-linear-gradient(#eee,#ddd);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ddd));    
  background-image: -webkit-linear-gradient(#eee, #ddd);
  background-image: -o-linear-gradient(#eee, #ddd);
  background-image: -ms-linear-gradient(#eee, #ddd);
  background-image: linear-gradient(#eee, #ddd);
  margin-top: -30px;
  padding-top: 30px;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0; 		
}

.pricing-table .plan:nth-child(1) h3 {
  -moz-border-radius: 5px 0 0 0;
  -webkit-border-radius: 5px 0 0 0;
  border-radius: 5px 0 0 0;       
}

.pricing-table .plan:nth-child(4) h3 {
  -moz-border-radius: 0 5px 0 0;
  -webkit-border-radius: 0 5px 0 0;
  border-radius: 0 5px 0 0;       
}	

.pricing-table h3 span {
  display: block;
  font: bold 25px/100px Georgia, Serif;
  color: #777;
  background: #fff;
  border: 5px solid #fff;
  height: 120px;
  width: 120px;
  margin: 10px auto -65px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  -moz-box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
  -webkit-box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
  box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
}

/* --------------- */

.pricing-table ul {
  margin: 10px 0 0 0;
  padding: 0;
  list-style: none;
}

.pricing-table li {
  /* border-top: 1px solid #ddd; */
  padding: 10px 0;
  cursor: pointer;
}
.pricing-table li.noborder {
  border-top: 0px !important;
}
.pricing-table li.head  {
  font-weight: 700;
  font-size: 1rem;
}
.pricing-table li.nolink {
  cursor: auto !important;
}
/* --------------- */
  
.pricing-table .signup {
  position: relative;
  padding: 8px 20px; 
  color: #fff;
  font: bold 14px Arial, Helvetica;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;       
  background-color:  #1e4079 ;
  background-image: -moz-linear-gradient( #1e4079 , #656b61);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1e4079 ), to(#656b61));    
  background-image: -webkit-linear-gradient(#1e4079 ,#656b61);
  background-image: -o-linear-gradient( #1e4079 , #656b61);
  background-image: -ms-linear-gradient( #1e4079 , #656b61);
  background-image: linear-gradient( #1e4079 , #656b61);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;     
  text-shadow: 0 1px 0 rgba(0,0,0,.3);        
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 2px 0 rgba(0, 0, 0, .7);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 2px 0 rgba(0, 0, 0, .7);
  box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 2px 0 rgba(0, 0, 0, .7);
}

.pricing-table .signup:hover {
  background-color: #656b61;
  background-image: -moz-linear-gradient(#656b61, #1e4079);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#656b61), to(#1e4079));      
  background-image: -webkit-linear-gradient(#656b61, #1e4079);
  background-image: -o-linear-gradient(#656b61, #1e4079);
  background-image: -ms-linear-gradient(#656b61, #1e4079);
  background-image: linear-gradient(#656b61, #1e4079); 
}

.pricing-table .signup:active, .pricing-table .signup:focus {
  background: #656b61;       
  top: 2px;
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, .7) inset;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .7) inset;
  box-shadow: 0 0 3px rgba(0, 0, 0, .7) inset; 
}

/* --------------- */

.clear:before, .clear:after {
  content:"";
  display:table
}

.clear:after {
  clear:both
}

.clear	{
  zoom:1
}
.pad-up-50 {
  padding-top: 50px !important;
}
.mat-tab-label {
  background-color: #fff !important;
  color: #000 !important;
  opacity: 1 !important;
  font-size: 1.5rem;
  border-top-left-radius: 30px 20px;
  border-top-right-radius: 30px 20px;
  margin-right: 10px;
}
.mat-tab-label-active {
  background-color:  #1e4079 !important;
  color: #fff !important;
}
.pricing-table .info {
  margin: 50px 0 0 0;
  min-height: 40px;
  
}
.pricing-table .info p {
  font-size: 0.75rem !important;
  color: red;
  margin: 0 !important;
}
.healthTab .features {
  margin: 40px 0 0 0; 
  min-height: 350px;
}
.nonhealthTab .features {
  margin: 40px 0 0 0; 
  min-height: 320px;
}
.listing {
  min-height: 210px;
}
.recommend {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px;
  background: red;
  color: white;
  width: 100%;
  font-size: 1rem;
}
.addon-hgt {
  min-height: 260px;
}