<h1 class="mat-dialog-title" style="font-size: 1.2rem !important;" *ngIf="action === ''">
    Select an action to perform
    <button mat-dialog-close class="modal_close" tabindex="-1"><i class="fa fa-window-close"
            aria-hidden="true"></i></button>
</h1>
<div class="action-section col-md-12 no-padding"*ngIf="action === '' && !loading">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngIf="!mulipleSelection">
        <p *ngIf="orderDetails.orderFor.firstName || orderDetails.orderFor.lastName">
            Order For : {{orderDetails.orderFor.firstName}} {{orderDetails.orderFor.lastName}}</p>
        <p *ngIf="!orderDetails.orderFor.firstName && !orderDetails.orderFor.lastName">
            {{customer_label | capitalizeFirst}} id : {{orderDetails.orderFor.jaldeeId}}</p>
        <p>Order Id: {{orderDetails.orderNumber}}</p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding scro">
        <!-- <ng-container *ngIf="catalogfilterStats.length > 0 && (this.orderDetails.orderStatus !== 'Cancelled')">
            <ng-container *ngFor="let status of catalogfilterStats">
                <div class="action-box pointer-cursor" (click)="changeOrderStatus(status)"
                    *ngIf="orderDetails.orderStatus !== status">
                    <div class="action-box-sub">
                        <span [class]="getOrderActionClass(status)"></span>
                        <div class="icon-text">{{status}}</div>
                    </div>
                </div>
            </ng-container>
        </ng-container> -->
        <div class="action-box pointer-cursor" *ngIf="catalogfilterStats.length > 0 && (this.orderDetails.orderStatus !== 'Cancelled')" (click)="showStatus()">
            <div class="action-box-sub">
                <span class="changestatus-icon"></span>
                <div class="icon-text">Change status to</div>
            </div>
        </div>

        <div class="action-box pointer-cursor" (click)="gotoDetails()"
            *ngIf="!mulipleSelection && data.source !== 'details'">
            <div class="action-box-sub">
                <span class="viewdetails-icon"></span>
                <div class="icon-text">View Details</div>
            </div>
        </div>
        <div class="action-box pointer-cursor" *ngIf="!mulipleSelection" (click)="gotoCustomerDetails()">
            <div class="action-box-sub">
                <span class="customerdetails-icon"></span>
                <div class="icon-text">{{customer_label | capitalizeFirst}} details</div>
            </div>
        </div>
        <div class="action-box pointer-cursor" *ngIf="showBill" (click)="gotoBill()">
            <div class="action-box-sub">
                <span class="bill-icon"></span>
                <div class="icon-text">Billing</div>
            </div>
        </div>
        <div class="action-box pointer-cursor"  (click)="showLabels()">
            <div class="action-box-sub">
                <span class="label-icon"></span>
                <div class="icon-text">Labels</div>
            </div>
        </div>
          <!-- <div class="action-box pointer-cursor"  *ngIf= "(this.orderDetails.orderStatus === 'Order Received') || (this.orderDetails.orderStatus === 'Order Acknowledged') || (this.orderDetails.orderStatus === 'Order Confirmed') " (click)="orderEdit()">
            <div class="action-box-sub">
                <span class="bill-icon"></span>
                <div class="icon-text">Edit Order</div>
            </div>
        </div> -->
        <div class="action-box pointer-cursor" (click)="addConsumerInboxMessage()">
            <div class="action-box-sub">
                <span class="message-icon"></span>
                <div class="icon-text">Send Message</div>
            </div>
        </div>
        <!-- <div class="action-box pointer-cursor" *ngIf="showSendDetails" (click)="smsCheckin()">
            <div class="action-box-sub">
                <span class="mail-icon"></span>
                <div class="icon-text">Share Booking Info</div>
            </div>
        </div> -->
        <!-- <div class="action-box pointer-cursor" *ngIf="!mulipleSelection" (click)="addProviderNote()">
            <div class="action-box-sub">
                <span class="notes-icon"></span>
                <div class="icon-text">Private Notes</div>
            </div>
        </div> -->
    </div>
</div>
<h1 class="mat-dialog-title" style="font-size: 1.2rem !important;" *ngIf="action === 'label'">
    Labels
    <button mat-dialog-close class="modal_close" tabindex="-1"><i class="fa fa-window-close"
            aria-hidden="true"></i></button>
</h1>
<div *ngIf="action === 'label'">
    <div class="col-md-12 col-xs-12 col-sm-12 mgn-bt-30 no-padding queue-outer" *ngIf="loading">
        <app-common-innerloading-spinner></app-common-innerloading-spinner>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mgn-up-10 mgn-bt-20 scro"
        *ngIf="providerLabels.length > 0 && !loading">
        <div class="mgn-bt-5" *ngFor="let label of providerLabels;let i = index">
            <mat-checkbox [checked]="label.selected" (change)="addLabeltoOrder(label.label, $event)">
                {{label.displayName | capitalizeFirst}}</mat-checkbox>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mgn-up-10 mgn-bt-30 scro"
        *ngIf="providerLabels.length === 0 && !loading">
        No labels created till now
    </div>
    <div class="clearfix"></div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mgn-up-10 mgn-bt-20 footerlinks">
        <!-- <span class="cs-btn bt3 pointer-cursor mgn-rt-25" (click)="addLabelvalue('newlabel')">Create new</span>
        <span class="cs-btn bt3 pointer-cursor" (click)="gotoLabel()">Manage labels</span> -->
        <a class="mgn-rt-25" (click)="addLabelvalue('newlabel')">Create new</a>
        <a class="" (click)="gotoLabel()">Manage labels</a>
    </div>
</div>

<h1 class="mat-dialog-title" style="font-size: 1.2rem !important;" *ngIf="action === 'status'">
    Change status to
    <button mat-dialog-close class="modal_close" tabindex="-1"><i class="fa fa-window-close"
            aria-hidden="true"></i></button>
</h1>
<div *ngIf="action === 'status'">
    <div class="col-md-12 col-xs-12 col-sm-12 mgn-bt-30 no-padding queue-outer" *ngIf="loading">
        <app-common-innerloading-spinner></app-common-innerloading-spinner>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mgn-up-10 mgn-bt-20 scro"
        *ngIf="catalogfilterStats.length > 0 && !loading">
        <div class="mgn-bt-5" *ngFor="let status of catalogfilterStats;let i = index">
            <mat-radio-button *ngIf="orderDetails.orderStatus !== status" (change)="changeOrderStatus(status)">
                {{status}}</mat-radio-button>
        </div>
    </div>
   
    <div class="clearfix"></div>
   
</div>

