.walletimg{
    width: 75px;
    height: 75px;
    border: 1px solid darkgrey;
    margin-top: 5px;
}
@media only screen and (max-width: 575px) {
    .walletimg{
        width: 50px;
        height: 50px;
    }
  }
.walletbase{
    box-shadow: 0 0 10px rgb(0 0 0 / 5%) !important;
/* margin-left: 10px; */
border-radius: 10px;
background-color: aliceblue;
}
.walletfont{
    font-size: smaller;
    color: darkgrey;
}
.walletexpiry{
    color: darkred;
    font-size: smaller;
}
.walletearn{
    color: green;
    font-size: x-large;
    margin-top: 10px;
    border-left: 1px solid gainsboro;
}
@media only screen and (max-width: 575px) {
    .walletearn{
        font-size: small;
    }
  }
.walletsubfont{
    font-size: small;
    color: skyblue;
}
@media only screen and (max-width: 575px) {
    .smalldevicewallet{
       margin-left: 20px;
    }
  }
  @media only screen and (max-width: 575px) {
    .walletbase{
    margin-left: 0px;
    }
  }
  .cashbackimg{
    width: 75px;
    height: 75px;
  }
  @media only screen and (max-width: 575px) {
    .cashbackimg{
        width: 50px;
        height: 50px;
      }
  }
  .cashbackbase{
margin-left: 10px;
background-color: #f8f8f8 !important;
}
@media only screen and (max-width: 575px) {
    .cashbackbase{
    margin-left: 0px;
    }
  }
.cashbackfont{
    font-size: large;
    color: rgb(4 62 121);
}
@media only screen and (max-width: 575px) {
    .cashbackfont{
        font-size: small;
    }
  }
  .transactionborder{
    border-right: 1px solid gainsboro;
    width: 45%;
  }
  .transbase{
    box-shadow: 0 0 10px rgb(0 0 0 / 5%) !important;
    /* margin-left: 10px; */
    border-radius: 10px;
  }
  .leftclass{
    margin-left: 10px;
    float: left;
  }

  .layout-spacing {
    padding-bottom: 25px;
}
.widget-account-invoice-three {
  padding: 0;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  background: #fdfdfd;
  border: none;
  border: 1px solid #e0e6ed;
  box-shadow: 0 0 40px 0 rgb(94 92 154 / 6%);
}
.widget {
  position: relative;
  padding: 20px;
  border-radius: 6px;
  border: none;
  background: #fff;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: 1px solid #e0e6ed;
  box-shadow: 0 0 40px 0 rgb(94 92 154 / 6%);
}
.widget {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  border-radius: 6px;
  border: 1px solid #e0e6ed;
  box-shadow: 0 0 40px 0 rgb(94 92 154 / 6%);
}
.widget-account-invoice-three .widget-heading {
  padding: 24px 30px 63px 30px;
  border-radius: 15px;
  background-color: #6b0f1a;
  background-image: linear-gradient(
315deg
, #6b0f1a 0%, #4361ee 74%);
  min-height: 213px;
  height: 100%;
}
.widget .widget-heading {
  margin-bottom: 15px;
}
.widget-account-invoice-three .widget-amount {
  text-align: center;
  margin-top: -48px;
}
.widget-account-invoice-three .widget-amount .w-a-info.funds-received {
  margin-right: 15px;
}
.widget-account-invoice-three .widget-amount .w-a-info {
  display: inline-block;
  padding: 12px 23px;
  background: #fff;
  text-align: left;
  border-radius: 6px;
  width: 40%;
  -webkit-box-shadow: 0px 8px 20px rgb(0 0 0 / 6%);
  box-shadow: 0px 8px 20px rgb(0 0 0 / 6%);
}
.widget-account-invoice-three .widget-amount span {
  font-weight: 600;
  color: #151516;
}
.widget-account-invoice-three .widget-amount .w-a-info.funds-received svg {
  vertical-align: top;
  color: #009688;
}
.widget-account-invoice-three .widget-amount .w-a-info.funds-spent svg {
  vertical-align: bottom;
  color: #e7515a;
}
.widget-account-invoice-three .widget-amount .w-a-info svg {
  width: 18px;
  height: 18px;
  float: right;
}
.widget-account-invoice-three .widget-amount p {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 0;
  text-align: center;
  background: #ebedf2;
  border-radius: 6px;
  margin-top: 10px;
  padding: 3px 0;
  color: #515365;
}
.widget-account-invoice-three .widget-content {
  padding: 20px;
  margin-top: 0;
}
.widget-account-invoice-three .widget-content .bills-stats {
  margin-bottom: 24px;
}
.widget-account-invoice-three .invoice-list .inv-detail {
  margin-bottom: 24px;
}
.widget-account-invoice-three .widget-heading .wallet-balance {
  display: flex;
  justify-content: space-between;
  margin-top: 37px;
}
.widget-account-invoice-three .widget-heading .wallet-balance p {
  margin-bottom: 0;
  align-self: center;
  font-size: 19px;
  color: #fff;
}
.widget-account-invoice-three .widget-heading h5 {
  font-size: 28px;
  color: #fff;
  margin-top: 0;
  font-weight: 500;
}
.widget-account-invoice-three .widget-heading h5 .w-currency {
  color: #bfc9d4;
  display: inline-block;
}

.widget-account-invoice-three .invoice-list [class*="info-detail-"]:not(.info-sub) {
  display: flex;
  justify-content: space-between;
}
.widget-account-invoice-three .invoice-list [class*="info-detail-"]:not(.info-sub) p span.w-currency {
  font-size: 16px;
  color: #888ea8;
  font-weight: 500;
}
.widget-account-invoice-three .invoice-list [class*="info-detail-"]:not(.info-sub) p span.bill-amount {
  font-size: 14px;
  color: #030305;
  font-weight: 700;
}
.widget-account-invoice-three  .inv-action {
  text-align: center;
  display: flex;
  justify-content: space-around;
}
.widget-account-invoice-three  .inv-action a.view-details {
  color: #805dca!important;
  background: rgb(92 26 195 / 17%);
  border: none!important;
}
.widget-account-invoice-three  .inv-action a {
  transform: none;
  border: none;
  font-size: 13px;
  padding: 6px 11px;
  font-weight: 600;
  letter-spacing: 1px;
}
@media (max-width: 575px){
.widget-account-invoice-three .widget-heading h5 {
    font-size: 25px;
} 
 }
@media (max-width: 575px){
.widget-account-invoice-three .widget-amount .w-a-info {
    padding: 12px 12px;
} 
 }
@media (max-width: 575px){
.widget-account-invoice-three .widget-amount .w-a-info {
    padding: 12px 12px;
} 
 }
 @media (max-width: 575px){
.widget-account-invoice-three .widget-heading {
    padding: 24px 22px 63px 22px;
}
}

.widget1 {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  border-radius: 6px;
  border: 1px solid #e0e6ed;
  box-shadow: 0 0 40px 0 rgb(94 92 154 / 6%);
}
.widget1 {
  position: relative;
  padding: 20px;
  border-radius: 6px;
  border: none;
  background: #fff;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: 1px solid #e0e6ed;
  box-shadow: 0 0 40px 0 rgb(94 92 154 / 6%);
}


.transactions-list:not(:last-child) {
  margin-bottom: 22.2px;
}
.transactions-list {
  border-radius: 3px;
}
.transactions-list .t-item {
  display: flex;
  justify-content: space-between;
}
.transactions-list .t-item .t-company-name {
  display: flex;
}
.transactions-list .t-item .t-icon {
  margin-right: 12px;
}
.transactions-list .t-item .t-icon .icon {
  position: relative;
  background-color: #fff9ed;
  border-radius: 12px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 42px;
  width: 42px;
}
.transactions-list .t-item .t-icon .icon svg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 19px;
  height: 19px;
  color: #e2a03f;
  stroke-width: 2;
}
.transactions-list .t-item .t-rate {
  align-self: center;
}
.transactions-list .t-item .t-rate.rate-dec p {
  color: #e7515a;
}
 .transactions-list .t-item .t-rate p {
  margin-bottom: 0;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 500;
}
.transactions-list .t-item .t-rate.rate-dec p {
  color: #e7515a;
}
.transactions-list .t-item .t-rate p {
  margin-bottom: 0;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 500;
}