
<section class="container no-padding no-padding-small" >
        <div class="content p0 see-pages cons-members">
          <div class="panel panel-default">
            <div class="panel-heading top-row">        
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">
                <app-header *ngIf="shared_functions.checkLogin()"></app-header>
              </div>
            </div>
            <div class="panel-body no-padding">
              <div class="card title-gb">
                <h5 class="mgn-up-10">Jaldee cash<a class="pull-left mgn-rt-20 back-btn" (click)="goBack()"><i class="fa fa-arrow-left"></i></a></h5>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mgn-up-10 no-padding ">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
                                <div class="pull-left">                               
                                    <img src="assets/images/wallet.jpeg" class="cashbackimg">
                                </div>
                                <div class="pull-left">                               
                                    <span>Jaldee cash balance</span><br><span><i class="fa fa-inr" aria-hidden="true"></i> 5000.00</span> 
                                </div>
                </div>
               
              </div>

              <div class="w-dta" *ngIf="!small_device_display">
                <div class="row">
                    <div class="copy width100">
              <div class="table-outer q-itm">
                <table class="table">
                  <!--begin::Cart Header-->
                  <thead>
                    <tr>
                      <th>Booking/Order ID</th>
                      <th>Cash reward</th>
                      <th>Amount earned</th>
                      <th>Amount spent</th>
                      <th>Date</th>
                      <th>Expiry date</th>
                      <th></th>
                    </tr>
                  </thead>
                  <!--end::Cart Header-->

                  <tbody>
                    <!--begin::Cart Content-->
                    <tr >
                        <td data-title="Booking/Order ID" >
                           ht234jjkkj
                           </td>
                      <td data-title="Cash reward" >
                       New refferal
                      </td>
                      <td  data-title="Amount earned" >
                          <i class="fa fa-inr" aria-hidden="true"></i> 1000
                      </td>
                      <td data-title="Amount spent" >
                          <i class="fa fa-inr" aria-hidden="true"></i> 50
                      </td>
                      <td data-title="Date" >
                        10-01-2021
                      </td>
                      <td data-title="Expiry date" class="red" >
                        10-11-2021
                      </td>
                      <td data-title="" class="walletfont" >
                        T&C
                      </td>
                    </tr>

                  </tbody>
                </table>
              </div>
</div></div></div>



              <!-- <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 mgn-up-10 no-padding cashbackbase">
                <div class="col-xs-10 col-sm-12 col-md-10 col-lg-12 ">
                                <div class="col-xs-3 col-sm-2 col-md-2 col-lg-2 mgn-up-15">                               
                                    <img src="assets/images/wallet.jpeg" class="cashbackimg">
                                </div>
                                <div class="col-xs-8 col-sm-5 col-md-6 col-lg-6 mgn-up-15 cashbackfont">                               
                                    <span>Jaldee cash balance</span><br><span><i class="fa fa-inr" aria-hidden="true"></i> 5000.00</span> 
                                </div>
                </div>
               
              </div> -->
             
              <!-- <div >
                
                <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 transbase">
                                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 mgn-up-15">                               
                                    <img src="assets/images/wallet.jpeg" class="cashbackimg">
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-7 col-lg-7 mgn-up-15 cashbackfont"> 
                                  Total Transactions  
                                  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 walletsubfont transactionborder"><i class="fa fa-inr walletfont" aria-hidden="true"></i>&nbsp;6000<br><span class="walletfont">Awarded</span></div> 
                                  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 walletsubfont"><i class="fa fa-inr walletfont" aria-hidden="true"></i>&nbsp;5000<br><span class="walletfont">Spent</span></div>                           
                              </div>
                </div>
               
              </div> -->
              <div *ngIf="small_device_display">
              <div >
                
                <div class="col-xs-12  transbase">
                                <div class="pull-left mgn-up-15">                               
                                    <img src="assets/images/wallet.jpeg" class="cashbackimg">
                                </div>
                                <div class="pull-left mgn-up-15 cashbackfont"> 
                                  <div>Total Transactions</div>  
                                  <div class="pull-left walletsubfont transactionborder"><i class="fa fa-inr walletfont" aria-hidden="true"></i>&nbsp;6000<br><span class="walletfont">Awarded</span></div> 
                                  <div class="walletsubfont leftclass"><i class="fa fa-inr walletfont" aria-hidden="true"></i>&nbsp;5000<br><span class="walletfont">Spent</span></div>                           
                              </div>
                </div>
               
              </div>
           
              <div class="col-xs-12 no-padding mgn-up-10 mgn-bt-10 walletbase">
              <div class="col-xs-12 no-padding">
              <div class="col-xs-9 ">
                            <div class="col-xs-2">
                                    <img  src="assets/images/wallet.jpeg" class="walletimg">
                            </div>
                            <div class="col-xs-8 smalldevicewallet">
                                <span>Reward Name</span><br>
                                    <span class="walletfont">Booking#</span><span class="walletsubfont" >fg542154</span><br>
                                    <span class="walletfont">Date:</span><span class="walletsubfont" >16/11/2021</span>
                                </div>
              </div>
              <div class="col-xs-3 walletearn">
                   <span>Earned</span><br>
                   <span><i class="fa fa-inr" aria-hidden="true"></i> 100</span> 
              </div>
            </div>
            <span class="col-xs-12 no-padding">
                <span class="col-xs-9  walletexpiry">Expires on march 30th</span><span class="col-xs-3  walletfont">T&C</span>
            </span>
            </div>

            <div class="col-xs-12 no-padding mgn-up-10 mgn-bt-10 walletbase">
                <div class="col-xs-12  no-padding">
                <div class="col-xs-9 ">
                              <div class="col-xs-2 ">
                                      <img  src="assets/images/wallet.jpeg" class="walletimg">
                              </div>
                              <div class="col-xs-8 smalldevicewallet">
                                  <span>Provider Name</span><br>
                                      <span class="walletfont">Booking#</span><span class="walletsubfont" >fg542154</span><br>
                                      <span class="walletfont">Date:</span><span class="walletsubfont" >16/11/2021</span>
                                  </div>
                </div>
                <div class="col-xs-3 walletearn">
                     <span>Earned</span><br>
                     <span><i class="fa fa-inr" aria-hidden="true"></i> 100</span> 
                </div>
              </div>
              <span class="col-xs-12 no-padding">
                  <span class="col-xs-9 walletexpiry">Expires on march 30th</span><span class="col-xs-3 walletfont">T&C</span>
              </span>
              </div>
            </div>
              
            </div>
          </div>
        </div>
      </section>
