
<section class="container no-padding no-padding-small" >
        <div class="content p0 see-pages cons-members">
          <div class="panel panel-default">
            <div class="panel-heading top-row">        
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">
                <app-header *ngIf="shared_functions.checkLogin()"></app-header>
              </div>
            </div>
            <div class="panel-body no-padding">
              <div class="card title-gb">
                <h5 class="mgn-up-10">Jaldee cash<a class="pull-left mgn-rt-20 back-btn" (click)="goBack()"><i class="fa fa-arrow-left"></i></a></h5>
              </div>
              <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 no-padding mgn-up-10 mgn-bt-10 walletbase">
              <div class="col-xs-12 col-sm-12 col-md-10 col-lg-12 no-padding">
              <div class="col-xs-9 col-sm-8 col-md-9 col-lg-8">
                            <div class="col-xs-2 col-sm-3 col-md-3 col-lg-3">
                                    <img  src="assets/images/wallet.jpeg" class="walletimg">
                            </div>
                            <div class="col-xs-8 col-sm-5 col-md-5 col-lg-6 smalldevicewallet">
                                <span>Provider Name</span><br>
                                    <span class="walletfont">Booking#</span><span class="walletsubfont" >fg542154</span><br>
                                    <span class="walletfont">Date:</span><span class="walletsubfont" >16/11/2021</span>
                                </div>
              </div>
              <div class="col-xs-3 col-sm-4 col-md-2 col-lg-2 walletearn">
                   <span>Earned</span><br>
                   <span><i class="fa fa-inr" aria-hidden="true"></i> 100</span> 
              </div>
            </div>
            <span class="col-xs-12 col-sm-12 col-md-10 col-lg-12 no-padding">
                <span class="col-xs-9 col-sm-8 col-md-9 col-lg-8 walletexpiry">Expires on march 30th</span><span class="col-xs-3 col-sm-4 col-md-2 col-lg-2 walletfont">T&C</span>
            </span>
            </div>

            <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 no-padding mgn-up-10 mgn-bt-10 walletbase">
                <div class="col-xs-12 col-sm-12 col-md-10 col-lg-12 no-padding">
                <div class="col-xs-9 col-sm-8 col-md-9 col-lg-8">
                              <div class="col-xs-2 col-sm-3 col-md-3 col-lg-3">
                                      <img  src="assets/images/wallet.jpeg" class="walletimg">
                              </div>
                              <div class="col-xs-8 col-sm-5 col-md-5 col-lg-6 smalldevicewallet">
                                  <span>Provider Name</span><br>
                                      <span class="walletfont">Booking#</span><span class="walletsubfont" >fg542154</span><br>
                                      <span class="walletfont">Date:</span><span class="walletsubfont" >16/11/2021</span>
                                  </div>
                </div>
                <div class="col-xs-3 col-sm-4 col-md-2 col-lg-2 walletearn">
                     <span>Earned</span><br>
                     <span><i class="fa fa-inr" aria-hidden="true"></i> 100</span> 
                </div>
              </div>
              <span class="col-xs-12 col-sm-12 col-md-10 col-lg-12 no-padding">
                  <span class="col-xs-9 col-sm-8 col-md-9 col-lg-8 walletexpiry">Expires on march 30th</span><span class="col-xs-3 col-sm-4 col-md-2 col-lg-2 walletfont">T&C</span>
              </span>
              </div>
              
            </div>
          </div>
        </div>
      </section>
