<section>
   <app-breadcrumb [breadcrumbs]="breadcrumbs"></app-breadcrumb>
</section>
<section>
   <div class="content see-pages">
       <div class="container">
           <div class="outer-card">
           <div class="card members-card">
            <div class="no-dta" *ngIf="member_list.length ==0 && query_executed == true">
                <p>{{emptyMsg}}</p>
                <span class="cs-btn bt3" (click)="addMember()">{{add_fam_memb_cap}}</span>
                </div>
              <div class="table-outer d-tbl" *ngIf="member_list.length !=0">
                  <table class="table">
                      <thead>
                          <tr>
                              <th>{{first_name_cap}}</th>
                              <th>{{last_name_cap}}</th>
                              <th>{{mobile_no_cap}}</th>
                              <th>{{gender_cap}}</th>         
                              <th>{{date_of_birth}}</th>     
                              <th><span class="addbt" (click)="addMember()"></span></th>      
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let member of member_list">
                              <td data-title="First Name" class="fname">{{member.userProfile.firstName | capitalizeFirst}}</td>
                              <td data-title="Last Name" class="lname">{{member.userProfile.lastName | capitalizeFirst}}</td>
                              <td data-title="Mobile Number" class="actions">{{member.userProfile.primaryMobileNo}}</td>
                              <td data-title="Gender" class="payment">{{member.userProfile.gender}}</td>
                              <td data-title="Date of Birth" class="message">{{member.userProfile.dob | date: dateFormat }}</td>
                              <td class="mre"><span class="mbt">
                                  <button type="button" mat-icon-button [matMenuTriggerFor]="menu">
                                      <mat-icon>more_vert</mat-icon>
                                  </button>
                                  <mat-menu #menu="matMenu">
                                      <button type="button" (click)="editMember(member)" mat-menu-item>
                                          <i class="icon-edit"></i>
                                          {{edit_btn_cap}}
                                      </button>
                                      <button type="button" (click)="doRemoveMember(member)" mat-menu-item>
                                          <i class="icon-delete"></i>
                                          {{delete_btn_cap}}
                                      </button>
                                  </mat-menu>
                              </span>
                              <span class="mbt-mobile-show">
                                  <button class="editcls" type="button" (click)="editMember(member)">{{edit_btn_cap}}</button>
                                  <button class="deletecls" type="button" (click)="doRemoveMember(member)">{{delete_btn_cap}}</button>
                              </span>
                            </td>
                          </tr>
                      </tbody>
                  </table>
                  <span class="addbt d-block d-md-none" (click)="addMember()"></span>
              </div>




            <!-- <table class="table" *ngIf="member_list.length !=0">
              <thead>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Primary Mobile Number</th>
                <th></th>
                <th></th>
              </thead>
              <tbody>
                <tr *ngFor="let member of member_list">
                  <td>{{member.userProfile.firstName}}</td>
                  <td>{{member.userProfile.lastName}}</td>
                  <td>{{member.userProfile.primaryMobileNo}}</td>
                  <td><button (click)="doRemoveMember(member)">Delete</button></td>
                  <td><button (click)="editMember(member)">Edit</button></td>
                </tr>
              </tbody>
            </table> -->

           </div>
           <div class="right-menu">
               <div class="right-menu-header">{{related_links_cap}}</div>
               <ul class="related-link">
                   <li (click)="shared_functions.redirectto('profile')" class="icon-profile">{{user_profile_cap}}</li>
                   <li (click)="shared_functions.redirectto('change-password')" class="icon-password">{{change_password_cap}}</li>
                   <li (click)="shared_functions.redirectto('change-mobile')" class="icon-mobile">{{change_mob_no_cap}}</li>
                   <!-- <li (click)="shared_functions.redirectto('change-email')" class="icon-inbox">{{add_change_email_cap}}</li> -->
               </ul>
           </div>
           </div>
       </div>
   </div>
</section>



<!-- 
<app-header [headerTitle] = "'Members'"></app-header> -->



<!-- <table class="table" *ngIf="member_list.length !=0">
  <thead>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Primary Mobile Number</th>
    <th></th>
    <th></th>
  </thead>
  <tbody>
    <tr *ngFor="let member of member_list">
      <td>{{member.userProfile.firstName}}</td>
      <td>{{member.userProfile.lastName}}</td>
      <td>{{member.userProfile.primaryMobileNo}}</td>
      <td><button (click)="doRemoveMember(member)">Delete</button></td>
      
    </tr>
  </tbody>
</table> -->

<!-- <button (click)="addMember()">Add</button> -->
