<section>
    <app-breadcrumb [breadcrumbs]="breadcrumbs" (performAction)="performActions($event)"></app-breadcrumb>
</section>
<section class="content">
    <!-- Info boxes -->
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua"><i class="ion ion-ios-gear-outline"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text pointer-cursor" (click)="gotoCheckins()">Check-Ins</span>
                        <!-- <span class="info-box-number">90<small>%</small></span> -->
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-red"><i class="fa fa-google-plus"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Home Services</span>
                        <!-- <span class="info-box-number">41,410</span> -->
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->

            <!-- fix for small devices only -->
            <div class="clearfix visible-sm-block"></div>
        </div>
        <!-- /.row -->
    </div>
</section>