h5 {    
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}
@media (min-width: 992px)
{
.content {
padding: 25px 0;
}
}
.form-group label {
font-size: 1rem;
font-weight: 400;
color: #3f4254;
}
.input-group > .input-group-prepend > .input-group-text1
{
border-top-right-radius: 0;
border-bottom-right-radius: 0;
}
.input-group-text1 {
display: flex;
align-items: center;
padding: 0.65rem 1rem;
margin-bottom: 0;
font-size: 1rem;
font-weight: 400;
line-height: 1.5;
color: #3f4254;
text-align: center;
white-space: nowrap;
background-color: #f3f6f9;
border: 1px solid #E4E6EF;
border-radius: 0.42rem;
}
button {
text-transform: none;
}