.text-primary {
    color: #1e4079 !important;
}

.btn.btn-primary {
    color: #fff !important;
    background-color: #1e4079 !important;
    border-color: #1e4079 !important;
    border-radius: 20px !important;
}