<!-- <section>
    <app-breadcrumb [breadcrumbs]="breadcrumbs" (performAction)="performActions($event)" [moreOptions]="breadcrumb_moreoptions" ></app-breadcrumb>
</section> -->
<section class="">
    <div class="card title-gb">
        <h5 class="mgn-up-10"> 
            <!-- <button type="button" class="btn default profile-back" (click)="redirecToSettings()">
                <span class="fa fa-chevron-left">&nbsp;Back</span>
            </button>&nbsp;&nbsp;&nbsp; -->
            <span class="fa fa-arrow-left pointer-cursor" (click)="redirecToSettings()"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Miscellaneous
            <button type="button" style="float: right;" class="btn default profile-back" (click)= "redirecToHelp()">
                Help
             </button> 
        </h5>
    </div>
</section>
<section>
    <div class="content w-manager settings comn-cls">
        <div class="col-md-12 no-padding-small">
            <!-- <div class="row">
                <div class="card p0">
                    <span (click)="gotoNonworkingDays()" class="b-link">
                        <h2>Non-working Days
                        </h2>
                        <span class="form-level-settings">Unavailability of your services on particular days (holidays)
                            <a class="learnmore-pointer" id="customer-help"
                                (click)="learnmore_clicked('nonworking', $event)">Learn
                                More</a></span>
                    </span>
                </div>
            </div> -->
            <!-- <div class="row">
                <div class="card p0">
                    <span class="b-link" (click)="gotoNotifications()">
                        <h2>Notifications</h2>
                        <span class="form-level-settings"> {{cust_domain_name}} and {{provider_domain_name}} notification settings<a
                                class="learnmore-pointer" id="customer-help"
                                (click)="learnmore_clicked('notifications', $event)">Learn
                                More</a></span>
                    </span>
                </div>
            </div> -->

            <!-- <div class="row" *ngIf="accountType=='BRANCH' && isMultilevel">
                <div class="card p0">
                    <span class="b-link" (click)="gotobranchsps()">
                        <h2>Users</h2>
                        <span class="form-level-settings">Create or manage users<a class="learnmore-pointer"
                                id="customer-help" (click)="learnmore_clicked('branchsps', $event)">Learn
                                More</a></span>
                    </span>
                </div>
            </div> -->
     
            <!-- <div class="row">
                <div class="card p0">
                    <span class="b-link" (click)="gotoLabels()">
                        <h2>Custom fields / Labels</h2>
                        <span class="form-level-settings">Add or manage your labels here.<a
                                class="learnmore-pointer" id="customer-help"
                                (click)="learnmore_clicked('labels', $event)">Learn
                                More</a></span>
                    </span>
                </div>
            </div> -->
            <div class="row">
                <div class="card p0">
                    <span class="b-link" (click)="gotosaleschannel()">
                        <h2>Sales Channel</h2>
                        <span class="form-level-settings">Sales channel options <a
                                class="learnmore-pointer" id="customer-help"
                                (click)="learnmore_clicked('saleschannel', $event)">Learn
                                More</a></span>
                    </span>
                </div>
            </div>
            <div class="row" *ngIf="accountType!='BRANCH_SP' && isCorp && isMultilevel">
                <div class="card p0">
                    <span class="b-link" (click)="gotocorporate()">
                        <h2>Corporate Settings</h2>
                        <span class="form-level-settings">Create or join corporate account<a
                                class="learnmore-pointer" id="customer-help"
                                (click)="learnmore_clicked('corporate', $event)">Learn
                                More</a></span>
                    </span>
                </div>
            </div>
            <!-- <div class="row">
                <div class="card p0">
                    <span class="b-link" (click)="gotothemes()">
                        <h2>Themes</h2>
                        <span class="form-level-settings">Themes for your home page <a class="learnmore-pointer"
                                id="customer-help" (click)="learnmore_clicked('themes', $event)">Learn
                                More</a></span>
                    </span>
                </div>
            </div> -->
            <div class="row">
                <div class="card p0">
                    <span class="b-link" (click)="gotoJdn()">
                        <h2>JDN</h2>
                        <span class="form-level-settings">Adjust JDN settings here.<a
                                class="learnmore-pointer" id="customer-help"
                                (click)="learnmore_clicked('jdn', $event)">Learn
                                More</a></span>
                    </span>
                </div>
            </div>
            <!-- <div class="row" *ngIf="accountType=='BRANCH' && isMultilevel">
                <div class="card p0">
                    <span class="b-link" (click)="gotocustomview()">
                        <h2>Custom Views</h2>
                        <span class="form-level-settings">Create or manage custom views<a class="learnmore-pointer">Learn
                                More</a></span>
                    </span>
                </div>
            </div> -->
        </div>
        <div class="clearfix"></div>
    </div>
</section>