<div>
    <div class="container">
        <div class="text-center">
            <!-- pager -->
            {{pager.currentPage}} {{pager.totalPages}}
            <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                <li [class.disabled]="pager.currentPage === 1" (click)="onpagerclick(1)">
                    <span >First</span>
                </li>
                <li [class.disabled]="pager.currentPage === 1" (click)="onpagerclick(pager.currentPage - 1)">
                    <span>Previous</span>
                </li>
                <li *ngFor="let page of pager.pages" [class.active]="pager.currentPage === page" (click)="onpagerclick(page)">
                    <span >{{page}}</span>
                </li>
                <li [class.disabled]="pager.currentPage === pager.totalPages" (click)="onpagerclick(pager.currentPage + 1)">
                    <span >Next</span>
                </li>
                <li [class.disabled]="pager.currentPage === pager.totalPages" (click)="onpagerclick(pager.totalPages)">
                    <span >Last</span>
                </li>
            </ul>
        </div>
    </div>
</div>
