.operations-row {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    justify-content: flex-start !important;
    align-items: flex-start !important;
}

.operations-row .operations-column {
    width: 100% !important;
}

.operations-row .column .card {
    border-radius: 5px !important;
    border: 1.75px solid #d0d0d0 !important;
    box-shadow: 0 0 10px 0 rgb(183 192 206 / 20%) !important;
    padding: 0px !important;
}

.operations-row .column .card .header {
    display: flex !important;
    width: 100% !important;
    color: #555 !important;
    padding: 10px 15px !important;
    line-height: 40px !important;
}

.operations-row .column .card .header h2 {
    margin: 0 !important;
    color: #5b626b !important;
    font-size: 17px !important;
    line-height: 40px !important;
    padding-right: 10px !important;
    font-weight: 500 !important;
    font-family: "Roboto", sans-serif !important;
}

.operations-row .column .card .header>button {
    position: absolute !important;
    top: 10px !important;
    right: 10px !important;
    list-style: none !important;
}

.tableBody {
    font-size: 14px !important;
    color: #555 !important;
    font-family: "Roboto", sans-serif !important;
    width: 100% !important;
}

@media (max-width: 767px) {
    .table-responsive {
        border: none !important;
    }
}

table.table {
    --bs-table-bg: transparent !important;
    --bs-table-accent-bg: transparent !important;
    --bs-table-striped-color: #212529 !important;
    --bs-table-striped-bg: rgba(0, 0, 0, 0.05) !important;
    --bs-table-active-color: #212529 !important;
    --bs-table-active-bg: rgba(0, 0, 0, 0.1) !important;
    --bs-table-hover-color: #212529 !important;
    --bs-table-hover-bg: rgba(0, 0, 0, 0.075) !important;
    width: 100% !important;
    margin-bottom: 1rem !important;
    color: #212529 !important;
    vertical-align: top !important;
    border-color: #dee2e6 !important;
    caption-side: bottom !important;
}

tr {
    border-color: inherit !important;
    border-style: solid !important;
    border-width: 0 !important;
}

.table> :not(:last-child)> :last-child>* {
    border-bottom-color: currentColor;
}

.table> :not(caption)>*>* {
    padding: 0.5rem 0.5rem;
    background-color: var(--bs-table-bg);
    border-bottom-width: 1px;
    box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}

tbody {
    vertical-align: inherit !important;
    border-color: inherit !important;
    border-style: solid !important;
    border-width: 0 !important;
}

td {
    padding: 10px !important;
    border-top: 1px solid #eee !important;
    border-bottom: 1px solid #eee !important;
    vertical-align: middle !important;
    border-color: inherit;
    border-style: solid;
    border-width: 0;
}

@media (max-width: 640px) {
    td {
        font-size: 14px !important;
    }
}

.showLinks a {
    color: #1e4079;
}

.table-img img {
    border-radius: 10px !important;
    height: 33px !important;
    width: 33px !important;
    background: #fff !important;
    position: inherit !important;
    border: 1px solid rgba(52, 73, 94, 0.44) !important;
    padding: 2px !important;
}

.bord-class .table-responsive {
    overflow: auto !important;
    margin: 0 !important;
}

.card-header {
    /* border-radius: calc(0.5rem - 1px) calc(0.5rem - 1px) 0 0 !important; */
    border-radius: 5px!important;
    /* border-bottom: 1.75px solid #d0d0d0 !important; */
    border-bottom: 0.75px solid #d0d0d0 !important;
    font-size: 13px !important;
    text-transform: uppercase !important;
    color: #000 !important;
    font-weight: 700 !important;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    width: 100% !important;
    padding: 12px !important;
}

.card-header i {
    color: #395789 !important;
    font-family: 'FontAwesome' !important;
    font-size: 13px !important;
    font-weight: 700 !important;
    text-align: right;
}

.user-name {
    border-radius: 10px !important;
    height: 35px !important;
    width: 35px !important;
    border: 1px solid rgba(52, 73, 94, 0.44) !important;
    padding: 2px !important;
}

.user-short {
    color: #FFFFFF;
    background-color: #1e4079;
    font-size: 0.75rem;
    border-radius: 10px !important;
    height: 100%;
    padding: 7px 0;
    text-align: center;
}

.operations-row .table tr:hover {
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 25%);
    border-radius: 5px;
    background: transparent !important;
}

.table-responsive .inner-card {
    margin: 10px 15px !important;
    width: -webkit-fill-available;
    padding: 5px 8px !important;
    border: 1px solid #395789 !important;
    border-radius: 0.3rem !important;
    font-family: "Roboto", sans-serif !important;
}

.table-responsive .inner-card .inner-card-heading {
    text-transform: uppercase !important;
    color: #395789 !important;
    font-size: 12.5px !important;
    font-weight: 700 !important;
}

.table-responsive .inner-card .inner-card-text {
    margin-top: 0.2rem !important;
    color: #395789 !important;
    font-size: 10.5px !important;
}

.no-record {
    padding: 20px;
}

th {
    padding: 0 10px !important;
    height: 50px !important;
    vertical-align: middle !important;
    background-color: #f5f5f5 !important;
    color: #666 !important;
    font-weight: 500 !important;
    border: none !important;
    text-align: inherit !important;
}

.smallview {
    padding: 25px 10px !important;
}

.card-header i.fa.fa-angle-down {
    transition: 0.70s !important;
    transform: rotate(180deg) !important;
}

.card-header.collapsed i.fa.fa-angle-down {
    transition: 0.70s !important;
    transform: rotate(0deg) !important;
}

.no-record div {
    width: 200px;
    margin: auto;
}

.table-responsive {
    max-height: 270px !important;
}

.no_data_cap {
    color: #1e4079 !important;
    font-size: 20px !important;
    font-weight: bold !important;
}

.cardBorder {
    border-top: 3px solid #1E4079 !important;
}


.status-connected {
    background-color: #cce6c8 !important;
    color: #052407 !important;
    font-weight: bold !important;
    padding: 5px !important;
    border-radius: 8px !important;
}

.status-missed {
    background-color: #FFCDD2 !important;
    color: #C63737 !important;
    font-weight: bold !important;
    padding: 5px !important;
    border-radius: 8px !important;
}

.status-voicemail {
    background-color: #d9e3ff !important;
    color: #10359c !important;
    font-weight: bold !important;
    padding: 5px !important;
    border-radius: 8px !important;
}

.status-inCall {
    background-color: #cce6c8 !important;
    color: #198f20 !important;
    font-weight: bold !important;
    padding: 5px !important;
    border-radius: 8px !important;
}


.status-callCompleted {
    background-color: #cce6c8 !important;
    color: rgb(55, 97, 55) !important;
    font-weight: bold !important;
    padding: 5px !important;
    border-radius: 8px !important;
}


.status-missed {
    background-color: #FFCDD2 !important;
    color: #C63737 !important;
    font-weight: bold !important;
    padding: 5px !important;
    border-radius: 8px !important;
}

.status-voicemail {
    background-color: #d9e3ff !important;
    color: #10359c !important;
    font-weight: bold !important;
    padding: 5px !important;
    border-radius: 8px !important;
}

.status-ongoing {
    background-color: #ebd6ff !important;
    color: #52267b !important;
    font-weight: bold !important;
    padding: 5px 10px !important;
    border-radius: 15px !important;
}
