.dialogbtn {
  margin-left:30px;
  padding:10px;
}
input.picker[type="date"] {
  position: relative !important;
}
.wizard-nav {
  justify-content:left!important;
}
input.picker[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute !important;
  top: 0 !important;
  right: 0 !important;
  width: 100%!important;
  height: 100%!important;
  padding: 0!important;
  color: transparent!important;
  background: transparent!important;
}
.tab-selected h3,
.tab-selected i {
  color: #3699FF !important;
}
.tab-selected .step-icon, .tab-selected .wizard-bar,.tab-selected .wizard-icon{
  background: #3699FF !important;
}

.days .mat-checkbox {
  width: 60px !important;
}