<!-- <section>
    <app-breadcrumb [breadcrumbs]="breadcrumbs" [moreOptions]="breadcrumb_moreoptions" (performAction)="performActions($event)"></app-breadcrumb>
</section> -->
<!-- <section class="">
    <div class="title-gb no-padding">
        <div class="mgn-up-15 mgn-lt-15 mgn-rt-15 dash-head">
         Activity Log
          <i class="fa fa-question-circle-o fa-lg fl-right" (click)="redirecToHelp()"></i>
        </div>
    </div>
  </section> -->
<section>
    <app-common-innerloading-spinner *ngIf="api_loading"></app-common-innerloading-spinner>
    <div class="content comn-cls dashboard audit" *ngIf="!api_loading">
        <div class="col-md-12 no-padding-small">
            <div class="row">
                <div class="card p0 w-dta">


                        <p-table #dt  [columns]="selectedColumns" [value]="auditlog_details"  dataKey="id"
                        styleClass="p-datatable-customers" [rowHover]="true" [rows]="10" [showCurrentPageReport]="true"
                        [rowsPerPageOptions]="[10,25,50]" [loading]="api_loading" [paginator]="true"
                        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [filterDelay]="0"
                        [globalFilterFields]="['name']">
                        <ng-template pTemplate="caption">
                            <div class="table-header">
                                 Activity Log
                                <!-- <span class="p-input-icon-left pull-right">
                                    <i class="pi pi-search"></i>
                                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                                        placeholder="Global Search" />
                                </span> -->
                            </div>
                            <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header"
                            selectedItemsLabel="{0} columns selected" [style]="{minWidth: '200px'}" placeholder="Choose Columns"></p-multiSelect>
                        </ng-template>
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                    <th *ngFor="let col of columns">
                                            {{col.header}}
                                        <p-columnFilter *ngIf="col.header == 'date'" type="text" field="date" display="menu" class="p-ml-auto">
                                        </p-columnFilter> 
                                        </th>
                                <!-- <th pSortableColumn="{{date_time_cap}}">
                                        {{date_time_cap}} -->
                                    <!-- <div class="p-d-flex p-jc-between p-ai-center">
                                            {{date_time_cap}}
                                        <p-sortIcon field="{{date_time_cap}}"></p-sortIcon>
                                        <p-columnFilter type="text" field="date" display="menu" class="p-ml-auto">
                                        </p-columnFilter> 
                                    </div>-->
                                <!-- </th>
                                <th pSortableColumn="{{subject_cap}}">
                                        {{subject_cap}} -->
                                        <!-- <div class="p-d-flex p-jc-between p-ai-center">
                                                {{subject_cap}}
                                        </div> -->
                                    <!-- </th>
                                    <th pSortableColumn="{{text_cap}}">
                                            {{text_cap}} -->
                                            <!-- <div class="p-d-flex p-jc-between p-ai-center">
                                                    {{text_cap}}
                                            </div> -->
                                        <!-- </th>
                                        <th pSortableColumn="{{user_name_cap}}">
                                                {{user_name_cap}} -->
                                                <!-- <div class="p-d-flex p-jc-between p-ai-center">
                                                        {{user_name_cap}}
                                                </div> -->
                                            <!-- </th> -->
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-audit let-columns="columns">
                            <tr class="p-selectable-row">
                                    <td *ngFor="let col of columns">
                                          <span  *ngIf="col.header != 'date'">{{audit[col.field]}}</span> 
                                          <span  *ngIf="col.header == 'date'">{{audit[col.field] | date:newDateFormat}}</span>  
                                        </td>
                                
                                <!-- <td>
                                    <span class="p-column-title"></span>
                                    {{audit.date | date:newDateFormat}}
                                </td>
                                <td>
                                        <span class="p-column-title"></span>
                                        {{audit.subject}}
                                    </td>
                                    <td>
                                            <span class="p-column-title"></span>
                                            {{audit.text}}
                                        </td>
                                        <td>
                                                <span class="p-column-title"></span>
                                                {{audit.userName}}
                                            </td> -->

                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="8">No customers found.</td>
                            </tr>
                        </ng-template>
                    </p-table>
                    <!-- <div class="table-responsive dash-list">
                        <table class="table">
                            <thead>
                                <tr class="tble-filtr-tr">
                                    <th>{{date_time_cap}}</th>
                                    <th>{{subject_cap}}</th>
                                    <th class="desc">{{text_cap}}</th>
                                    <th>{{user_name_cap}}</th>
                                    <th class="filter-fx-col">
                                        <table class="fltr-tbl">
                                            <tr>
                                                <td>
                                                    <span>
                                                            <i class="icon-filter-one" (click)="showFilterSidebar()" [matTooltipClass]="tooltipcls"
                                                            [matTooltip]="filtericonTooltip"></i>
                                                    </span>
                                                </td>
                                            </tr>
                                        </table>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr> <aside class="filterSidebar" *ngIf="filter_sidebar">
                                                <section class="sidebar sidebar-bottom" style="overflow:auto;height:568px">
                                                        <div class="filterClosebtn">
                                                                <i class="icon-filter-one-op ng-star-inserted pointer-cursor " (click)="hideFilterSidebar()" [matTooltipClass]="tooltipcls" [matTooltip]="'Close filter window'"></i>
                                                                <span *ngIf="filterapplied === true" class="clearFilter" (click)="clearFilter()" [matTooltipClass]="tooltipcls"
                                                                [matTooltipClass]="tooltipcls" [matTooltip]="'Reset filter'"> Clear All</span>
                                                        </div>
                                                        <ul class="sidebar-menu">
                                                            <li>
                                                                <div>
                                                                    <label class="filterHeaders">Filter By Date</label>
                                                                        <li class="filterli filterDatepicker">
                                                                            <input class="filterTextbox" type="text" [(ngModel)]="logSeldate" [min]="minday"  [max]="tday"
                                                                            [matDatepicker]="picker" #Fdate (dateChange)="do_search(false)" (blur)="do_search(false)" placeholder="Date" readonly>
                                                                            <mat-datepicker-toggle matSuffix [for]="picker">
                                                                            </mat-datepicker-toggle>
                                                                            <mat-datepicker #picker></mat-datepicker>
                                                                        </li>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                </section>
                                        </aside>

                                   
                                </tr>
                            </tbody>
                            <tbody>
                                <ng-container *ngIf="auditStatus==1">
                                    <tr>
                                        <td class="spinner" colspan="5">
                                            <app-common-innerloading-spinner spinnerParams="loadingParams">
                                            </app-common-innerloading-spinner>
                                        </td>
                                    </tr>
                                </ng-container>
                                <ng-container *ngIf="auditStatus==2">
                                    <tr>
                                        <td class="nodatafound" colspan="5">{{no_logs_cap}}</td>
                                    </tr>
                                </ng-container>
                                <ng-container *ngIf="auditStatus==3">
                                    <tr *ngFor="let log of auditlog_details; let i=index">
                                        <td data-title="Date" class="td1">{{log.date | date:newDateFormat}},
                                            {{log.time}}</td>
                                        <td data-title="Subject" class="td3">{{log.subject}}</td>
                                        <td data-title="Text" class="td2 desc">{{log.text}}</td>
                                        <td data-title="User Name" class="td4">{{log.userName}}</td>
                                        <td class="filter-fx-col"></td>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                        <div class="search_paging" *ngIf="auditlog_details.length>0">
                            <app-pager [total_pages]="gettotalCnt()" [pagesize]="getperPage()"
                                (pagerclick)="handle_pageclick($event)" [curpage]="startpageval"></app-pager>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</section>