<section>
    <!-- Header section -->
    <div *ngIf="api_loading" class="content w-manager settings comn-cls lic-page">
        <div class="col-md-12 no-paddig-small">
            <div class="row">
                <div class="card">
                    <app-common-innerloading-spinner *ngIf="api_loading"></app-common-innerloading-spinner>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="onlyHeader && !api_loading" class="content w-manager settings comn-cls lic-page">
        <div class="col-md-12 no-paddig-small">
            <div class="row">
                <div class="card">
                    <h6 class="glbl-seting-h6" [ngClass]="{'glbl-seting-hiden': is_hidden}">Header Settings</h6>
                    <h6 class="glbl-setting-h6" [ngClass]="{'glbl-setting-h6-small': is_preview}">Preview</h6>
                    <div [ngClass]="{'glbl-preview': is_preview}">
                        <div
                            [ngClass]="{'glbl-heder-color-prvw': is_preview, 'glbl-heder-color': !is_preview, 'glbl-seting-hiden': is_hidden}">
                            <div class="glbl-seting-h-div">
                                <div class="lbr col-sm-12 col-md-4 col-lg-4">
                                    <div class="glbl-file-input-div">
                                        <div *ngIf="!is_image">
                                            <img (click)="fileInput.click()" class="glbl-seting-img-width"
                                                src="assets/images/img_uplod.png" alt="Jaldee">
                                            <div class="glbl-seting-disply-cmn">
                                                <div (click)="fileInput.click()">
                                                    <img class="glbl-seting-img-smal" src="assets/images/round_img.png"
                                                        alt="Jaldee">
                                                </div>
                                                <div (click)="showPreview()">
                                                    <i class="fa fa-eye fa-2x glbl-preview-eye-small"
                                                        aria-hidden="true"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <p *ngIf="!is_image" class="glbl-seting-font-wight">Choose Image</p>
                                    </div>
                                    <div *ngIf="is_image" class="glbl-txt-align">
                                        <div class="glbl-overlay-div">
                                            <a style="position: relative;">
                                                <span class="overlay-icon" (click)="fileInput.click()">
                                                    change
                                                </span>
                                                <img (click)="fileInput.click()" *ngIf="qboardLogo!=''"
                                                    [src]="qboardLogo" class="glbl-seting-img">
                                                <img (click)="fileInput.click()" *ngIf="qboardLogo=='' && success_error"
                                                    [src]="item_pic.base64" class="glbl-seting-img">

                                            </a>
                                            <i (click)="showPreview()" class="fa fa-eye fa-2x glbl-preview-eye-small"
                                                aria-hidden="true"></i>
                                        </div>
                                    </div>
                                    <input type="file" class="glbl-seting-btn" (change)="imageSelect(fileInput,$event)"
                                    accept="/*;capture=camera" #fileInput>
                                </div>
                                <div class="lbl col-sm-12 col-md-8 col-lg-8 ynw-common-form-nm">
                                    <div class="glbl-tbl-div">
                                        <table class="glbl-seting-tbl">
                                            <tr>
                                                <td>Width</td>
                                                <td><input type="text" [(ngModel)]="width" [ngModelOptions]="{standalone: true}">&nbsp;&nbsp;px</td>
                                            </tr>
                                            <tr>
                                                <td>Height</td>
                                                <td><input type="text" [(ngModel)]="height" [ngModelOptions]="{standalone: true}">&nbsp;&nbsp;px</td>
                                            </tr>
                                            <tr>
                                                <td>Position</td>
                                                <td>
                                                        <mat-form-field class="example-full-width">
                                                            <!-- <input type="text" #jcoupon matInput [(ngModel)]="jCoupon"> -->
                                                            <mat-select
                                                                [(ngModel)]="position"
                                                                [ngModelOptions]="{standalone: true}">                                                                
                                                                <mat-option
                                                                    *ngFor="let positionObj of position_values; let i = index"
                                                                    [value]="positionObj.value">
                                                                    {{ positionObj.displayName }}
                                                                </mat-option>
                                                            </mat-select>                                                        
                                                    </mat-form-field>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="glbl-preview-eye" (click)="showPreview()"><i class="fa fa-eye fa-3x"
                                        aria-hidden="true"></i>
                                    <p>Preview</p>
                                </div>
                            </div>
                            <div class="glbl-seting-disp-div">
                                <div class="lbr col-sm-12 col-md-8 col-lg-8">
                                    <!-- <div class="glbl-seting-heder-div" [innerHTML]="headerSettings.title1"></div> -->
                                </div>
                                <div class="lbr col-sm-12 col-md-8 col-lg-8" style="padding: 1%;">
                                    <div class="no-paddig-small glbl-seting-editor">
                                        <ckeditor [editor]="Editor" (ready)="onReady($event)"
                                            [(ngModel)]="headerSettings.title1">
                                        </ckeditor>
                                    </div>
                                </div>
                            </div>
                        </div> 
                        <!-- Preview Section -->
                        <div *ngIf="is_preview" class="lbr col-sm-12 col-md-4 col-lg-4 glbl-seting-editor">
                            <div style="text-align: end; cursor: pointer;" (click)="previewCancel()">
                                <span class="material-icons">
                                    cancel
                                </span>
                            </div>
                            <div>
                                <div>
                                    <div [innerHTML]="headerContent"></div>
                                    <div *ngIf="is_image" [ngStyle]="{ 'text-align' : position }"> <img
                                            [ngStyle]="{ 'height' : height+'px', 'width' : width+'px'}"
                                            [src]="item_pic.base64" style="width: 50%;height: auto;"></div>
                                </div>
                                <div style="font-size: smaller;" [innerHTML]="footerSettings.title1"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer section -->
    <div *ngIf="onlyHeader && !api_loading"
        [ngClass]="{'glbl-seting-hiden': is_hidden, 'content w-manager settings comn-cls lic-page': !is_hidden}">
        <div class="col-md-12 no-paddig-small">
            <div class="row">
                <div class="card">
                    <h6 class="glbl-seting-h6">Footer Settings</h6>
                    <div class="glbl-seting-f-div">
                        <div class="lbr col-sm-12 col-md-8 col-lg-8">
                            <!-- <div class="glbl-seting-heder-div" [innerHTML]="footerSettings.title1"></div> -->
                        </div>
                        <div class="lbr col-sm-12 col-md-8 col-lg-8" style="padding: 1%;">
                            <div class="no-paddig-small glbl-seting-editor">
                                <ckeditor [editor]="Editor" (ready)="onReady($event)"
                                    [(ngModel)]="footerSettings.title1">
                                </ckeditor>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-xs-12 col-sm-12 actiondiv labelsave mgn-up-20 ng-star-inserted">
                        <button type="button" class="cs-btn bt2" (click)="onCancel()">Cancel</button> &nbsp;&nbsp;
                        <button type="submit" (click)="onUpload()" class="cs-btn bt1">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!--<section>
     <div *ngIf="onlyHeader" class="content w-manager settings comn-cls lic-page">
        <div class="col-md-12 no-paddig-small">
            <div class="row">
                <div class="card">
                    <h6 class="glbl-seting-h6" [ngClass]="{'glbl-seting-hiden': is_hidden}">Header Settings</h6>
                    <h6 class="glbl-setting-h6" [ngClass]="{'glbl-setting-h6-small': is_preview}">Preview</h6>
                    <div [ngClass]="{'glbl-preview': is_preview}">
                        <div
                            [ngClass]="{'glbl-heder-color-prvw': is_preview, 'glbl-heder-color': !is_preview, 'glbl-seting-hiden': is_hidden}">
                            <div class="glbl-seting-h-div">
                                <div class="lbr col-sm-12 col-md-4 col-lg-4">
                                    <div class="glbl-file-input-div">
                                        <div *ngIf="!is_image">
                                            <img (click)="fileInput.click()" class="glbl-seting-img-width"
                                                src="assets/images/img_uplod.png" alt="Jaldee">
                                            <div class="glbl-seting-disply-cmn">
                                                <div (click)="fileInput.click()">
                                                    <img class="glbl-seting-img-smal" src="assets/images/round_img.png"
                                                        alt="Jaldee">
                                                </div>
                                                <div (click)="showPreview()">
                                                    <i class="fa fa-eye fa-2x glbl-preview-eye-small"
                                                        aria-hidden="true"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <p *ngIf="!is_image" class="glbl-seting-font-wight">Choose Image</p>
                                    </div>
                                    <div *ngIf="is_image" class="glbl-txt-align">
                                        <div class="glbl-overlay-div">
                                            <a style="position: relative;">
                                                <span class="overlay-icon" (click)="fileInput.click()">
                                                    change
                                                </span>
                                                <img (click)="fileInput.click()" *ngIf="success_error" [src]="item_pic.base64"
                                                    class="glbl-seting-img">
                                            </a>
                                            <i (click)="showPreview()" class="fa fa-eye fa-2x glbl-preview-eye-small"
                                                aria-hidden="true"></i>
                                        </div>
                                    </div>
                                        <input type="file" class="glbl-seting-btn"
                                        (change)="imageSelect(fileInput,$event)" accept=".png, .jpg, .jpeg"
                                        #fileInput>
                                </div>
                                <div class="lbl col-sm-12 col-md-8 col-lg-8 ynw-common-form-nm">
                                    <div class="glbl-tbl-div">
                                        <table class="glbl-seting-tbl">
                                            <tr>
                                                <td>Width</td>
                                                <td><input type="text" [(ngModel)]="width">&nbsp;&nbsp;px
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Height</td>
                                                <td><input type="text" [(ngModel)]="height">&nbsp;&nbsp;px</td>
                                            </tr>
                                            <tr>
                                                <td>Position</td>
                                                <td>
                                                    <mat-form-field>
                                                        <select matNativeControl id="mySelectId"
                                                            (change)="selectChangeHandler($event)">
                                                            <option value="none" sselected>None</option>
                                                            <option value="right">Right</option>
                                                            <option value="left">Left</option>
                                                        </select>
                                                    </mat-form-field>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="glbl-preview-eye" (click)="showPreview()"><i class="fa fa-eye fa-3x"
                                        aria-hidden="true"></i>
                                    <p>Preview</p>
                                </div>
                            </div>
                            <div class="glbl-seting-disp-div">
                                <div class="lbr col-sm-12 col-md-8 col-lg-8">
                                    <div class="glbl-seting-heder-div" [innerHTML]="headerContent"></div>
                                </div>
                                <div class="lbr col-sm-12 col-md-8 col-lg-8" style="padding: 1%;">
                                    <div class="no-paddig-small glbl-seting-editor">
                                        <ckeditor [editor]="Editor" (ready)="onReady($event)"
                                            [(ngModel)]="headerContent">
                                        </ckeditor>
                                    </div>
                                </div>
                            </div>
                        </div> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <div *ngIf="is_preview" class="lbr col-sm-12 col-md-4 col-lg-4 glbl-seting-editor">
                            <div style="text-align: end; cursor: pointer;" (click)="previewCancel()">
                                <span class="material-icons">
                                    cancel
                                </span>
                            </div>
                            <div>
                                <div>
                                    <div [innerHTML]="headerContent"></div>
                                    <div *ngIf="is_image" [ngStyle]="{ 'text-align' : position }"> <img
                                            [ngStyle]="{ 'height' : height+'px', 'width' : width+'px'}" [src]="item_pic.base64"
                                            style="width: 50%;height: auto;"></div>
                                </div>
                                <div style="font-size: smaller;" [innerHTML]="footerContent"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>&nbsp;&nbsp;&nbsp;
    </div>
    <div *ngIf="onlyHeader"
        [ngClass]="{'glbl-seting-hiden': is_hidden, 'content w-manager settings comn-cls lic-page': !is_hidden}">
        <div class="col-md-12 no-paddig-small">
            <div class="row">
                <div class="card">
                    <h6 class="glbl-seting-h6">Footer Settings</h6>
                    <div class="glbl-seting-f-div">
                        <div class="lbr col-sm-12 col-md-8 col-lg-8">
                            <div class="glbl-seting-heder-div" [innerHTML]="footerContent"></div>
                        </div>
                        <div class="lbr col-sm-12 col-md-8 col-lg-8" style="padding: 1%;">
                            <div class="no-paddig-small glbl-seting-editor">
                                <ckeditor [editor]="Editor" (ready)="onReady($event)" [(ngModel)]="footerContent">
                                </ckeditor>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-xs-12 col-sm-12 actiondiv labelsave mgn-up-20 ng-star-inserted">
                        <button type="button" class="cs-btn bt2" (click)="onCancel()">Cancel</button> &nbsp;&nbsp;
                        <button type="submit" (click)="onUpload()" class="cs-btn bt1">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->