<div class="lm-outer w-manager">
  <h4 class="adjust-delay-heading">PAYMENTS</h4>
  <section>
    <p class="adjust-delay-para">In this section, a provider can select the payment mode with which he/she wishes to accept/settle payments.</p>
  </section>
  <section>
    <ul class="ul-normal">
      <li>To enable online payments using any payment system, a provider has to switch on the “Customers Self pay” mode. Initially, this is set to off mode.</li>
      <li>If a provider has not entered an email address before, click on the link <strong>“Go To Email Settings”</strong> (Payment Settings) to add the email id. This can be set directly from My Account.</li>
      <h4 id="payment-settings">Payment Settings</h4>
      <li>Two modes of payments can be enabled. These are:</li>
      <ul ol class="ol-normal">
        <li><strong>Jaldee Bank :</strong> Jaldee account means a customer can pay online for the services directly to the <strong>Jaldee Bank</strong> and in turn, the <strong>Jaldee team</strong> will reimburse the amount (charging a commission for each transaction) to the service provider. Jaldee bank is available for online payment. Upto <strong>Silver license package,</strong> only Jaldee bank is available for online payments. However, the providers with higher license packages (from Gold onwards) may or may not opt for the Jaldee bank for online payment.</li>
        <li><strong>My Own Bank Account :</strong> In this section, a provider is required to submit the account details of <strong>Paytm/CC/DC/Net Banking</strong>. In case the provider has not added an email address, click on the link <strong>“Go To Email Settings”</strong> (Payment Settings) to add the email address. Furthermore, a provider needs to click on any mode of payment (with which he/she wants to settle the bill). The mode of payment can be either <strong>“Paytm"</strong> or <strong>“CC/DC/Net Banking”</strong> or both.
          <ul class="ul-normal">
            <li><strong>Paytm :</strong> This is an effortless mode of online payment commonly used these days. If the provider has a Paytm account, he/she needs to provide the following details:
              <ul class="ul-normal">
                <li><strong>Mobile Number</strong></li>
                <li><strong>Merchant Id</strong></li>
                <li><strong>Merchant Key</strong></li>
              </ul>
            </li>
            <li><strong>CC/DC/Net Banking :</strong> To settle the bill using this mode of payment, a provider has to provide the following information:
              <ul class="ul-normal">
                <li><strong>Account Holder Name</strong></li>
                <li><strong>Bank Account Number</strong></li>
                <li><strong>Pan Card Number</strong></li>
                <li><strong>Bank Name</strong></li>
                <li><strong>IFSC Code</strong></li>
                <li><strong>Name on Pan Card</strong></li>
                <li><strong>Branch Name</strong></li>
                <li><strong>Business Filing Status</strong></li>
                <li><strong>Account Type</strong></li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
      <li>To verify the <strong>Paytm/CC/DC/Net</strong> Banking and to start accepting digital payments, please call the Jaldee team on  0487-2325650 or mail us to support@jaldee.com.</li>
    </ul>
  </section>
</div>