.example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
.example-margin {
    margin: 0 10px;
  }
  .jd_stw {margin-bottom: 15px;}
  .jd_stw .whrs {
    font-weight: 500;
    margin-bottom: 10px;
    font-size:90%;
  } 
  .jd_stw .whrs .item{
    padding: 5px;
    border-right: 1px solid #cccccc;
    clear: both;
  }
  .jd_stw .whrs .item:last-child{
    border:none;
  }
  .schselectall{clear:both; margin-bottom: 10px;}