<div class="text-center">
  <div class="row">
    <div class="col-md-5 form-group otp">
      <span class="font-weight-bold title">Otp Verification</span>
      <label for="phone" class="mgn-bt-20">We Will send you a one time password on
        this Mobile Number</label>
      <ng-otp-input class="bkgclr" (onInputChange)="onOtpChange($event)" [config]="config"></ng-otp-input>
      <button class="cust-logpg-submt mgn-up-20 mat-button continue-button" type="button" (click)="verifyOTP()">
        <span class="continue">Verify Phone Number</span>
      </button>
    </div>
    <div class="col-md-5">
      <img width="60" height="60" src="../../../../assets/images/cdl/otp-verify.png">
    </div>
  </div>

</div>
