.btn-grn{
    background: #00cc96 !important;
  }
.txt-trans-none{
    text-transform: none !important;
}
.centeralign  .fa{
  width:20px !important;
}
.pad-15 {
  padding: 15px !important;
}
.txt-color{
  color: rgb(60 141 188) !important;
}