   table{
    width: 100%;
   }
   td {
    word-wrap: break-word;
    margin:auto;
    text-align:justify;
    word-break: break-word;
    white-space: pre-line;
    overflow-wrap: break-word;
    -ms-word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
  .green {
    color:green;
  }
  .gray {
    color:gray;
  }
  .customersList .pitch_blu {
    color: #1e4079 !important;
  }
  .customersList .hidden_th {
    display: none !important;
  }
  
  @media screen and (max-width: 1218px) {
      .customersList .hide_th {
        display: none !important;
      }
      .customersList .hidden_th {
        display: inline-block !important;
      }
  } 
  @media screen and (max-width: 385px) {
    .customersList .card-body {
      padding: 0 !important;
    }
  } 
  
.customersList .card {
  border-radius: 0 !important;
}  
.customersList .row_data {
  font-size: 0.75rem !important;
  font-weight: 600 !important;
}
.user-img img {
  width: 50px;
  height: 50px;
  border-radius: 0.42rem;
}
.fa {
  font-family: 'FontAwesome' !important;
}
@media (max-width: 992px) {
  .display-min-none {
    display: none;
  }
}
.table.table-vertical-center td {
  vertical-align: baseline !important;
}
.view-details {
  margin-top: 10px;
}
.row_data:hover {
  box-shadow: 0 4px 4px 0 rgb(0 0 0 / 25%);
  border-radius: 0.4rem;
}
.fa-map-marker {
  font-size: 1rem !important;
}
.username {
  font-size: 0.9rem;
}
.mgn-lt-45 {
  margin-left: 45px
}
@media (max-width: 576px) {
.waitlist-box {
  margin: 10px 0px;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 25%);
  border: 1px solid #eee;
}
.img-min-width{
  min-width: 50px;
}
.assign-btn{
    border-radius: 3px;
    padding: 3px 7px 5px 3px;
    margin-bottom: 1px;
    box-shadow: none;
    border: 1px solid #ddd;
    color: black;
    font-weight: 500;
    display: inline-block;
    border: 1px solid #1E4079 ;
    font-size: 10px !important;
}
}
.action-button {
  color: #1E4079 !important;
  background-color: white !important;
  border: 1px solid #1E4079 !important;
  font-weight: 700 !important;
  padding: 5px 20px !important;
  font-size: 12px !important;
  text-transform: uppercase !important; 
  height: 30px;
}
.action-button:hover {
  color: white !important;
  background: #1E4079 !important;
  font-weight: 500 !important;
}
.icon-filter-one:before {
  color: #1E4079 !important;
}
.action-button:hover .icon-filter-one:before {
  color: white !important;
}
.icon-filter-one {
  font-size: 1rem !important;
}
td, .d-lg-none .mgn-up-5 {
  word-break: break-all !important;
}
.user-filter mat-checkbox {
  display: block;
}
.disabled-group {
  background: #dbdbdb !important;
 }
::ng-deep .user-filter .mat-checkbox-layout .mat-checkbox-label {
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  white-space: nowrap !important;
}
