<section>
    <app-breadcrumb (performAction)="performActions($event)" [breadcrumbs]="breadcrumbs"
        [moreOptions]="breadcrumb_moreoptions"></app-breadcrumb>
</section>
<section>
    <div class="content loc-list">
        <div class="col-md-12 no-padding-small">
            <div class="row">
                <div class="col-md-12 no-padding">
                    <div class="card" *ngIf="api_loading">
                        <app-common-innerloading-spinner></app-common-innerloading-spinner>
                    </div>
                </div>
                <div class="col-md-12 no-padding" *ngIf="!api_loading">
                    <div class="content comn-cls" *ngIf="label_list.length==0">
                        <div class="col-md-12 no-padding">
                            <div class="row">
                                <div class="card">
                                    <div class="no-dta" *ngIf="label_list.length==0">
                                        <p>No Labels Found</p>
                                        <span class="cs-btn bt3" (click)="addLabel()">Add Labels</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card no-padding" *ngIf="label_list.length!==0">
                        <div class="copy">
                            <div class="col-md-12 no-padding">
                                <ul class="nav jd-custom-nav chkn-dash">
                                    <li class="dropdown notifications-menu pull-right">
                                        <a [matTooltipClass]="tooltipcls" [matTooltip]="add_button" (click)="addLabel()"
                                            class="dropdown-toggle navbar-item-color bold pointer-cursor">
                                            <span>
                                                <i class="fa fa-plus"></i> Label
                                                <!-- <mat-icon style="color: #3c8dbc"> </mat-icon> -->
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-12 pt10 mt5 custlabl" *ngFor="let label of label_list">
                                <div>
                                    <div class="copy">
                                        <span class="mbt">
                                            <button type="button" mat-icon-button [matMenuTriggerFor]="appMenu">
                                                <mat-icon>more_vert</mat-icon>
                                            </button>
                                        </span>
                                        <h3 (click)="goLabelDetail(label)" class="pointer-cursor">
                                            {{label.displayName | capitalizeFirst}}</h3> 
                                            <!-- <span class="layout_name">
                                                    ({{label.label | capitalizeFirst}})</span> -->
                                        <!-- <div class="c-ot m0">
                                            <div class="item" *ngIf="label.description">
                                                <span class="ttle">Description</span>
                                                <span>{{label.description | capitalizeFirst}}</span>
                                            </div>
                                            <div class="item">
                                                <span class="ttle">Value</span>
                                                <span *ngFor="let labelvalue of label.valueSet">
                                                    {{labelvalue.value}} ({{labelvalue.shortValue}}) </span>
                                            </div>
                                        </div> -->
                                        <mat-menu #appMenu="matMenu">
                                            <button mat-menu-item (click)="editLabel(label)">
                                                <i class="icon-edit"></i>
                                                Edit
                                            </button>
                                            <button mat-menu-item (click)="deleteLabel(label)">
                                                <i class="icon-delete"></i>
                                                Delete
                                            </button>
                                        </mat-menu>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>