.custom-login-form .mat-dialog-title {
    text-align: left !important;
    color: #ffffff !important;
    height: 50px !important;
    padding: 0px 20px !important;
    font-weight: 700 !important;
    background-color: #073B4C !important;
}

.custom-login-form .mat-dialog-title .title {
    height: 50px !important;
    line-height: 50px !important;
}

.login-form.custom-login-form .cust-loginpge-color .mobile-no mat-label {
    color: darkslategrey !important;
    font-weight: 700 !important;
    font-size: 0.85rem !important;
    margin-bottom: 5px !important;
    display: block !important;
}

::ng-deep .consumer-join-component.login-form.custom-login-form .cust-loginpge-color .mobile-no ngx-intl-tel-input.ng-invalid.ng-touched input {
    /* box-shadow: inset 0 0 3px #c0392b !important; */
    box-shadow: inset 0 0 2px red !important;
}

::ng-deep .consumer-join-component.login-form.custom-login-form .cust-loginpge-color .mobile-no ngx-intl-tel-input input:focus {
    box-shadow: inset 0 0 3px #3498db !important;
}

::ng-deep .consumer-join-component.login-form.custom-login-form .cust-loginpge-color .mobile-no ngx-intl-tel-input input {
    box-shadow: inset 0 0 3px #c7cace !important;
}

.login-form.custom-login-form .cust-loginpge-color .mobile-no .sts-msg.error {
    padding-left: 0 !important;
    font-weight: 700 !important;
    font-size: 0.725rem !important;
    color: red !important;
}

.login-form.custom-login-form .cust-loginpge-color .pwd mat-label {
    color: darkslategrey !important;
    font-weight: 700 !important;
    font-size: 0.85rem !important;
    margin-bottom: 5px !important;
    display: block !important;
}

.login-form.custom-login-form .cust-loginpge-color .pwd input {
    border: 1px solid #c7cace !important;
    border-radius: 4px !important;
    background-color: white !important;
    box-shadow: inset 0 0 3px #c7cace !important;
    height: 44px !important;
}

.login-form.custom-login-form .cust-loginpge-color .pwd input:focus {
    border-color: #3498db !important;
    box-shadow: inset 0 0 3px #3498db !important;
}

.login-form.custom-login-form .cust-loginpge-color .pwd .cust-logpg-fgtpwd {
    color: #073B4C !important;
    font-size: 0.825rem !important;
    font-weight: 700 !important;
    margin-top: 5px !important;
}

::ng-deep .consumer-join-component.login-form.custom-login-form .cust-loginpge-color .pwd .sts-msg.error {
    padding-left: 0 !important;
    font-weight: 700 !important;
    font-size: 0.725rem !important;
    color: red !important;
}

.login-form.custom-login-form .cust-loginpge-color .login-button,
.login-form.custom-login-form .cust-loginpge-color .continue-button {
    margin: 0 !important;
    background-color: #1E4079 !important;
    border-radius: 4px !important;
}

.login-form.custom-login-form .cust-loginpge-color .login-button span,
.login-form.custom-login-form .cust-loginpge-color .continue-button span {
    vertical-align: baseline !important;
}

.login-form.custom-login-form .cust-loginpge-color .fname mat-label,
.login-form.custom-login-form .cust-loginpge-color .lname mat-label,
.login-form.custom-login-form .cust-loginpge-color .email mat-label {
    color: darkslategrey !important;
    font-weight: 700 !important;
    font-size: 0.85rem !important;
    margin-bottom: 5px !important;
    display: block !important;
}

.login-form.custom-login-form .cust-loginpge-color .fname input,
.login-form.custom-login-form .cust-loginpge-color .lname input,
.login-form.custom-login-form .cust-loginpge-color .email input {
    border: 1px solid #c7cace !important;
    border-radius: 4px !important;
    box-shadow: inset 0 0 3px #c7cace !important;
    height: 44px !important;
}

.login-form.custom-login-form .cust-loginpge-color .fname input:focus,
.login-form.custom-login-form .cust-loginpge-color .lname input:focus,
.login-form.custom-login-form .cust-loginpge-color .email input:focus {
    border-color: #3498db !important;
    box-shadow: inset 0 0 3px #3498db !important;
}

.login-form.custom-login-form .cust-loginpge-color .fname input.ng-invalid.ng-touched,
.login-form.custom-login-form .cust-loginpge-color .lname input.ng-invalid.ng-touched,
.login-form.custom-login-form .cust-loginpge-color .email input.ng-invalid.ng-touched {
    /* box-shadow: inset 0 0 3px #c0392b !important; */
    border-color: #c0392b !important;
    box-shadow: inset 0 0 2px red !important;
}

::ng-deep .consumer-join-component.login-form.custom-login-form .cust-loginpge-color .fname .sts-msg.error,
::ng-deep .consumer-join-component.login-form.custom-login-form .cust-loginpge-color .lname .sts-msg.error {
    padding-left: 0 !important;
    font-weight: 700 !important;
    font-size: 0.725rem !important;
    color: red !important;
}

.login-form.custom-login-form .cust-loginpge-color .go-back span,
.login-form.custom-login-form .cust-loginpge-color .signup-button span {
    vertical-align: baseline !important;
}

.login-form.custom-login-form .cust-loginpge-color .go-back,
.login-form.custom-login-form .cust-loginpge-color .signup-button {
    width: 49% !important;
    color: white !important;
    margin: 0 !important;
    background-color: #1E4079 !important;
    border-radius: 4px !important;
}

.login-form.custom-login-form .cust-loginpge-color .go-back {
    align-self: stretch !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    font-size: 0.875rem !important;
}

.login-form.custom-login-form .example-container.cust-loginpge-color .pwd_cancel_scr {
    padding: 15px !important;
}

.login-form.custom-login-form .example-container.cust-loginpge-color .pwd_cancel_scr p {
    margin: 0 !important;
    text-align: center;
    color: darkslategrey;
    font-weight: 700;
}

.login-form.custom-login-form .example-container.cust-loginpge-color .cancel-button {
    width: 49% !important;
    color: white !important;
    margin: 0 !important;
    background-color: #1E4079 !important;
    border-radius: 4px !important;
    vertical-align: baseline !important;
}

.login-form.custom-login-form .example-container.cust-loginpge-color .ok-button {
    width: 49% !important;
    color: white !important;
    margin: 0 !important;
    background-color: #1E4079 !important;
    border-radius: 4px !important;
    vertical-align: baseline !important;
}


/* New */

input,
button {
    border: none;
    outline: none;
    background: none;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

$contW: 700px;
$imgW: 260px;
$formW: $contW - $imgW;
$switchAT: 1.2s;
$inputW: 260px;
$btnH: 36px;
$diffRatio: ($contW - $imgW) / $contW;
@mixin signUpActive {
    .cont.s--signup & {
        @content;
    }
}

.tip {
    font-size: 20px;
    margin: 40px auto 50px;
    text-align: center;
}

.cont {
    overflow: hidden;
    position: relative;
    width: $contW;
    height: 550px;
    // margin: 0 auto 100px;
    background: #fff;
}

.form {
    position: relative;
    width: $formW;
    height: 100%;
    transition: transform $switchAT ease-in-out;
    padding: 50px 30px 0;
}

.sub-cont {
    overflow: hidden;
    position: absolute;
    left: $formW;
    top: 0;
    width: $contW;
    height: 100%;
    padding-left: $imgW;
    background: #fff;
    transition: transform $switchAT ease-in-out;
    @include signUpActive {
        transform: translate3d($formW * -1, 0, 0);
    }
}

button {
    display: block;
    margin: 0 auto;
    width: $inputW;
    height: $btnH;
    border-radius: 30px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}

.img {
    overflow: hidden;
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: $imgW;
    height: 100%;
    padding-top: 360px;
    &:before {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        width: $contW;
        height: 100%;
        background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/sections-3.jpg');
        background-size: cover;
        transition: transform $switchAT ease-in-out;
    }
    &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
    }
    @include signUpActive {
        &:before {
            transform: translate3d($formW, 0, 0);
        }
    }
    &__text {
        z-index: 2;
        position: absolute;
        left: 0;
        top: 50px;
        width: 100%;
        padding: 0 20px;
        text-align: center;
        color: #fff;
        transition: transform $switchAT ease-in-out;
        h2 {
            margin-bottom: 10px;
            font-weight: normal;
        }
        p {
            font-size: 14px;
            line-height: 1.5;
        }
        &.m--up {
            @include signUpActive {
                transform: translateX($imgW*2);
            }
        }
        &.m--in {
            transform: translateX($imgW * -2);
            @include signUpActive {
                transform: translateX(0);
            }
        }
    }
    &__btn {
        overflow: hidden;
        z-index: 2;
        position: relative;
        width: 100px;
        height: $btnH;
        margin: 0 auto;
        background: transparent;
        color: #fff;
        text-transform: uppercase;
        font-size: 15px;
        cursor: pointer;
        &:after {
            content: '';
            z-index: 2;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            border: 2px solid #fff;
            border-radius: 30px;
        }
        span {
            position: absolute;
            left: 0;
            top: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            transition: transform $switchAT;
            &.m--in {
                transform: translateY($btnH*-2);
                @include signUpActive {
                    transform: translateY(0);
                }
            }
            &.m--up {
                @include signUpActive {
                    transform: translateY($btnH*2);
                }
            }
        }
    }
}

h2 {
    width: 100%;
    font-size: 26px;
    text-align: center;
}

label {
    display: block !important;
    width: $inputW !important;
    margin: 25px auto 0 !important;
    text-align: center !important;
    span {
        font-size: 12px !important;
        color: #cfcfcf !important;
        text-transform: uppercase !important;
    }
}

input {
    display: block !important;
    width: 100% !important;
    margin-top: 5px !important;
    padding-bottom: 5px !important;
    font-size: 16px !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4) !important;
    text-align: center !important;
}

.forgot-pass {
    margin-top: 15px !important;
    text-align: center !important;
    font-size: 12px !important;
    color: #cfcfcf !important;
}

.submit {
    margin-top: 40px;
    margin-bottom: 20px;
    background: #d4af7a;
    text-transform: uppercase;
}

.fb-btn {
    border: 2px solid #d3dae9;
    color: darken(#d3dae9, 20%);
    span {
        font-weight: bold;
        color: darken(#768cb6, 20%);
    }
}

// .sign-in {
//     transition-timing-function: ease-out;
//     @include signUpActive {
//         transition-timing-function: ease-in-out;
//         transition-duration: $switchAT;
//         transform: translate3d($formW, 0, 0);
//     }
// }

// .sign-up {
//     transform: translate3d($contW * -1, 0, 0);
//     @include signUpActive {
//         transform: translate3d(0, 0, 0);
//     }
// }

.icon-link {
    position: absolute;
    left: 5px;
    bottom: 5px;
    width: 32px;
    img {
        width: 100%;
        vertical-align: top;
    }
    &--twitter {
        left: auto;
        right: 5px;
    }
}

::ng-deep .sts-msg.error {
    padding: 10px 15px;
    color: #f44336 !important;
    font-size: .75rem;
    font-weight: 500;
    text-align: center;
    background: none !important;
}
.dis_flx {
    display: flex !important;
}
.wdth_100 {
    width: 100px !important;
}
.mr-0 {
    margin-right: 0 !important;
}
.ml-35 {
    margin-left: 35px !important;
}