.heading-text
{
  font-size: 18px;
  font-weight: bold;
}

.fa-times
{
  font-size: 15px!important;
}


::ng-deep .schedule-form label
{
  margin-bottom: 0!important;
}


.btn-primary {
  background-color: #1e4079 !important;
  border-color: #1e4070 !important;
  color: #fff !important;
  font-weight: 300 !important;
  border-radius: 3px !important;
}
