<section class="container no-padding">
    <app-breadcrumb [breadcrumbs]="breadcrumbs"></app-breadcrumb>
</section>
<section>
    <div class="container">
        <div class="row bill-section">
            <div class="c-outer bill-section-content">
                <div class="c-body bill-wrapper">
                    <div class="card history one section-four no-padding">

                        <!-- <div class="list-outer">
                            <div class="table-th">
                                <div class="th one">{{date_cap}} &amp; {{time_cap}}</div>
                                <div class="th two">{{amount_cap}}</div>
                                <div class="th three">{{refundable_cap}}</div>
                            </div>

                            <div class="listing" *ngFor="let payment of payments; let i = index">
                                <div class="wrap">
                                    <div class="td one">
                                        <span class="date">{{stringtoDate(payment.paymentOn,
											'date')}}</span> <span class="time">{{stringtoDate(payment.paymentOn,
											'time')}}</span>
                                    </div>
                                    <div class="td two">
                                        <span class="amt">{{payment.amount |
											currency:'&#8377; ' }}</span> <span class="others"> <span class="status"> <span
                                                    class="title">{{status_cap}}</span>
                                                <span><span [class]="payment.status | lowercase">{{payment.status
														| capitalizeFirst}}</span></span>
                                            </span> <span class="mode"> <span class="title">{{mode_cap}}</span>
                                                <span>{{payment.acceptPaymentBy | capitalizeFirst }}</span>
                                            </span>
                                            <span class="mode" *ngIf="payment.paymentMode"> <span class="title">Payment
                                                    Mode</span>
                                                <span>{{payment.paymentMode}}</span>
                                            </span>
                                            <span class="mode" *ngIf="payment.paymentGateway"> <span
                                                    class="title">Payment Gateway</span>
                                                <span>{{payment.paymentGateway}}</span>
                                            </span>
                                        </span>
                                    </div>
                                    <div class="td three">
                                        <span class="amt">{{payment.refundableAmount |
											currency:'&#8377; '}}</span> -->
                        <!-- <button class="cs-btn bt3" *ngIf="payment.status=='SUCCESS' && payment.refundableAmount > 0">Refund</button> -->
                        <!-- </div>
                                </div>
                                <div class="refunds-table" *ngIf="payment.refundDetails.length">
                                    <div class="table-th">
                                        <h5>{{refunds_cap}}</h5>
                                    </div>
                                    <div class="table-th1">
                                        <div class="th one">{{status_cap}}</div>
                                        <div class="th two">{{mode_cap}}</div>
                                        <div class="th three">{{amount_cap}}</div>
                                    </div>
                                    <div class="tbody" *ngFor="let refund of payment.refundDetails">
                                        <div class="td one">
                                            <span [class]="refund.status | lowercase">{{refund.status
												| capitalizeFirst}}</span>
                                        </div>
                                        <div class="td two">{{refund.refundBy | capitalizeFirst }}</div>
                                        <div class="td three">{{refund.amount |
											currency:'&#8377; ' }}</div>
                                    </div>
                                </div>
                            </div>
                        </div> -->


                        <div class="list-outer consumer-pay">
                            <div class="listing" *ngFor="let payment of payments; let i = index">
                                <div class="wrap pointer-cursor" (click)="gotoPayment(payment.id)">
                                    <div class="td one" style="flex-basis: 10% !important">
                                        <span *ngIf="payment.txnType==='Appointment'" style="font-size: 1.2rem;"
                                            [matTooltip]="'Appointment'">A</span>
                                        <span *ngIf="payment.txnType==='Waitlist'" style="font-size: 1.2rem;"
                                            [matTooltip]="'Appointment'">C</span>
                                        <span *ngIf="payment.txnType==='Donation'" style="font-size: 1.2rem;"
                                            [matTooltip]="'Donation'">D</span>
                                    </div>
                                    <div class="td one proname" style="flex-basis: 70% !important">
                                        <div class="accname">
                                            {{payment.accountName}} </div>
                                        <div class="mode"> {{payment.acceptPaymentBy}} </div>
                                    </div>
                                    <div class="td three" style="flex-basis: 20% !important;padding: 10px !important;">
                                        <div class="th three amount">{{payment.amount |
                                            currency:'&#8377; ' }}</div>
                                        <div class="th one">{{payment.status
                                            | capitalizeFirst}}</div>
                                    </div>
                                </div>
                                <div class="wrap">
                                    <div class="two col-xs-12 col-md-3"><span class="date">{{stringtoDate(payment.paymentOn,
                                        'date')}} </span><span class="time">{{stringtoDate(payment.paymentOn,
											'time')}}</span></div>
                                </div>
                            </div>

                        </div>
                        <!-- <div class="search_paging" *ngIf="pagination.totalCnt >= pagination.perPage">
                                <app-pager [total_pages]="pagination.totalCnt" [pagesize]="pagination.perPage"
                                    (pagerclick)="handle_pageclick($event)" *ngIf="pagination.totalCnt != 0"
                                    [curpage]="pagination.startpageval"></app-pager>
                            </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>