<section>
  <app-breadcrumb [breadcrumbs]="breadcrumbs"></app-breadcrumb>
</section>
<section>
  <div class="content w-manager settings comn-cls lic-page">
    <div class="col-md-12 no-padding-small">
      <div class="w-dta">
        <div class="row">
          <div class="copy addons one  col-xs-12 col-sm-12 card no-padding ">
            <div class=" row no-padding">
              <app-common-innerloading-spinner *ngIf="loading"></app-common-innerloading-spinner>
              <div class="ynw-common-form-nm" *ngIf="!loading">
                <div class="form-group col-md-6 mgn-lt-20">
                  <mat-form-field>
                    <input [(ngModel)]="customViewName" matInput type="text" class="form-control"
                      placeholder="Custom view name *" autocomplete="off">
                  </mat-form-field>
                </div>
                <div class="form-group col-md-12">

                  <label class="col-form-label mgn-bt-10" style="margin-left: 20px">Custom View For
                  </label>
                  <div class="form-group col-md-6 col-xs-12 col-sm-6">
                    <mat-form-field>
                      <mat-select placeholder="Custom View For" [(ngModel)]="customViewFor">
                        
                        <mat-option [value]="'Waitlist'">
                          Check-in/Token
                        </mat-option>
                        <mat-option [value]="'Appointment'">
                          Appointment
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                  <div *ngIf="waitlistMngr.filterByDept" class="form-group col-md-12">

                  <label class="col-form-label mgn-bt-10" style="margin-left: 20px">Choose
                    Department</label>
                  <div class="form-group col-md-6 col-xs-12 col-sm-6">
                    <mat-form-field>
                      <mat-select placeholder="Departments" [(ngModel)]="selectedDepartments" [multiple]="true">
                        <ngx-mat-select-search [formControl]="deptMultiFilterCtrl"
                          placeholderLabel="Search departments"></ngx-mat-select-search>
                        <mat-option *ngFor=" let dept of departments" [value]="dept"
                          (click)="deptSelection(dept.departmentId)">
                          {{dept.departmentName}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="form-group col-md-6 col-xs-12 col-sm-6" *ngIf="selectedDepartments.length > 0">
                    <p>
                      Selected Departments:
                    </p>
                    <ul *ngFor="let department of selectedDepartments">
                      <li>
                        {{department.departmentName}}
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="form-group col-md-12" *ngIf="isDepartments">
                  <label class="col-form-label mgn-bt-10" style="margin-left: 20px">Choose
                    {{provider_label || capitalizeFirst}}</label>
                  <div class="form-group col-md-6 col-xs-12 col-sm-6">
                    <mat-form-field>
                      <mat-select placeholder="{{provider_label}}s" [(ngModel)]="selectedUsers" [multiple]="true">
                        <ngx-mat-select-search [formControl]="userMultiFilterCtrl" placeholderLabel="Search {{provider_label}}s">
                        </ngx-mat-select-search>
                        <mat-option *ngFor=" let doctor of users_list" [value]="doctor"
                          (click)="userSelection(doctor.id)">
                          {{doctor.firstName}} {{doctor.lastName}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="form-group col-md-6 col-xs-12 col-sm-6" *ngIf="selectedUsers.length > 0">
                    <p>
                      Selected Doctors:
                    </p>
                    <ul *ngFor="let users of selectedUsers">
                      <li>
                        {{users.firstName}}
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="form-group col-md-12">
                  <label class="col-form-label mgn-bt-10" style="margin-left: 20px">Choose
                    Services</label>
                  <div class="form-group col-md-6 col-xs-12 col-sm-6">
                    <mat-form-field>
                      <mat-select placeholder="Services" [(ngModel)]="selectedServices" [multiple]="true">
                        <ngx-mat-select-search [formControl]="serviceMultiFilterCtrl"
                          placeholderLabel="Search services"></ngx-mat-select-search>
                        <mat-option *ngFor=" let service of service_list" [value]="service"
                          (click)="serviceSelection(service.id)">
                          {{service.name}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="form-group col-md-6 col-xs-12 col-sm-6" *ngIf="selectedServices.length > 0">
                    <p>
                      Selected Services:
                    </p>
                    <ul *ngFor="let service of selectedServices">
                      <li>
                        {{service.name}}
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="form-group col-md-12" *ngIf ="customViewFor == 'Waitlist'">
                  <label class="col-form-label mgn-bt-10" style="margin-left: 20px">Choose
                    Queues</label>
                  <div class="form-group col-md-6 col-xs-12 col-sm-6">
                    <mat-form-field>
                      <mat-select placeholder="Queues" [(ngModel)]="selectedQs" [multiple]="true">
                        <ngx-mat-select-search [formControl]="qMultiFilterCtrl" placeholderLabel="Search queues">
                        </ngx-mat-select-search>
                        <mat-option *ngFor=" let queue of qstoDisplay" [value]="queue" (click)="qSelection(queue.id)">
                          {{queue.name}}
                          {{queue.displayschedule[0].dstr}}[{{queue.displayschedule[0].time}}]
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="form-group col-md-6 col-xs-12 col-sm-6" *ngIf="selectedQs.length > 0">
                    <p>
                      Selected Queues:
                    </p>
                    <ul *ngFor="let queue of selectedQs">
                      <li>
                        {{queue.name}}<br>
                        {{queue.displayschedule[0].dstr}}[{{queue.displayschedule[0].time}}]
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="form-group col-md-12" *ngIf ="customViewFor == 'Appointment'">
                  <label class="col-form-label mgn-bt-10" style="margin-left: 20px">Choose
                    Appointment Schedules</label>
                  <div class="form-group col-md-6 col-xs-12 col-sm-6">
                    <mat-form-field>
                      <mat-select placeholder="Schedules" [(ngModel)]="selectedScheduls" [multiple]="true">
                        <ngx-mat-select-search [formControl]="scheduleMultiFilterCtrl" placeholderLabel="Search schedules">
                        </ngx-mat-select-search>
                        <mat-option *ngFor=" let schedule of todaysQs" [value]="schedule" (click)="scheduleSelection(schedule.id)">
                          {{schedule.name}}
                          {{schedule.displayschedule[0].dstr}}[{{schedule.displayschedule[0].time}}]
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="form-group col-md-6 col-xs-12 col-sm-6" *ngIf="selectedScheduls.length > 0">
                    <p>
                      Selected Queues:
                    </p>
                    <ul *ngFor="let queue of selectedScheduls">
                      <li>
                        {{queue.name}}<br>
                        {{queue.displayschedule[0].dstr}}[{{queue.displayschedule[0].time}}]
                      </li>
                    </ul>
                  </div>
                </div>




                <div class="col-md-6 col-12 control mgn-bt-20 mgn-lt-20 mgn-up-20" style="display: inline-flex;">
                  <button type="button" class="cs-btn bt2" (click)="onCancel()">Cancel</button> &nbsp;&nbsp;&nbsp;
                  <button mat-button type="submit" class="cs-btn bt1" (click)="createCustomView()">Save</button>
                </div>
              </div>

              <!-- <div class="col-md-6">
                              <div class="pay-section left">
                                  <div class="lc22">
                                    <div class="lc2-1 lcd custom-help">
                                        <mat-chip-list class="primary" aria-label="Color selection" *ngFor=" let depName of departments">
                                            <mat-chip  [selected]="selectedDepts.indexOf(depName.departmentId) !== -1" (click) = "depSelected(depName.departmentId)">
                                              {{depName.departmentName}}
                                            </mat-chip>
                                        </mat-chip-list>
                                    </div>
                                   </div>                          
                              </div>
                              <div class="pay-section left">
                                  <div class="lc22">
                                    <div class="lc2-1 lcd custom-help">
                                        <mat-chip-list  aria-label="Color selection" *ngFor=" let doctors of users_list">
                                            <mat-chip  class="primary" [selected]="selectedDocts.indexOf(doctors.id) !==-1"  (click) = "doctorSelected(doctors.id)">
                                              {{doctors.firstName | capitalizeFirst}} {{doctors.lastName | capitalizeFirst}}
                                            </mat-chip>
                                          </mat-chip-list>
                                    </div>
                                   </div>                          
                              </div>
                              <div class="pay-section left">
                                <div class="lc22">
                                  <div class="lc2-1 lcd custom-help">
                                    <mat-chip-list class="primary" aria-label="Color selection" *ngFor=" let serNames of service_list">
                                      <mat-chip (click) = "servSelected(serNames.id)"  [selected]="selectedServices.indexOf(serNames.id) !== -1">
                                        {{serNames.name}}
                                      </mat-chip>
                                    </mat-chip-list>
                                  </div>
                                 </div>                          
                            </div>
                            <div class="pay-section left">
                              <div class="lc22">
                                <div class="lc2-1 lcd custom-help">
                                  <mat-chip-list class="primary" aria-label="Color selection" *ngFor=" let queues of qstoDisplay">
                                    <mat-chip (click) = "selectedQs(queues.id)" [selected]="selectedQueues.indexOf(queues.id) !== -1">
                                      {{queues.name}}<br>
                                      {{queues.displayschedule[0].dstr}}[{{queues.displayschedule[0].time}}]
                                    </mat-chip>
                                  </mat-chip-list>
                                </div>
                               </div>                          
                          </div>                                 
                         </div>                              -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>