<!-- <section class="">
    <div class="card title-gb">
        <h5 class="mgn-up-10">
            <span class="fa fa-arrow-left pointer-cursor" (click)="goBack()"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Donation
        </h5>
    </div>
</section>
<section>
    <app-common-innerloading-spinner *ngIf="loading"></app-common-innerloading-spinner>
    <div class="card col-md-12 col-xs-12 col-sm-12 col-lg-12 no-padding min-hght" *ngIf="!loading">
        <div class="donationdetails col-md-8 col-xs-12 col-sm-12 col-lg-9 no-margin-small">
            <div class="col-md-8 col-xs-12 col-sm-6 col-lg-8 no-padding personal">
                <div class="bold font11" *ngIf="donationDetails.donor.firstName || donationDetails.donor.lastName">
                    {{donationDetails.donor.firstName}} {{donationDetails.donor.lastName}}</div>
                <div *ngIf="donationDetails.donorPhoneNumber"> <i class="fa fa-phone"
                        aria-hidden="true"></i>{{donationDetails.countryCode}} {{donationDetails.donorPhoneNumber}}
                </div>
                <div *ngIf="donationDetails.donorEmail"> <i class="fa fa-envelope" aria-hidden="true"></i>
                    {{donationDetails.donorEmail}}
                </div>
                <div>
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    {{donationDetails.location.place}}
                </div>
                <span class="customer-action-btn pointer-cursor pull-left mgn-rt-10 mgn-up-20"
                    (click)="addInboxMessage()">
                    <i class="fa fa-comments-o"></i> Send message</span>
                <span *ngIf="donationDetails.note" class="customer-action-btn pointer-cursor pull-left mgn-up-20"
                    (click)="showConsumerNote()">
                    <i class="icon-note mgn-rt-5"></i>Notes</span>
            </div>
        </div>
        <div class="col-md-8 col-xs-12 col-sm-12 col-lg-9 no-padding mgn-20 no-margin-small">
            <div class="recentactivity mgn-up-10">
                <table class="width-100">
                    <thead>
                        <tr>
                            <th class="pad-10">Date</th>
                            <th class="pad-10">Cause</th>
                            <th class="pad-10">Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="pad-10">{{donationDetails.date | date: newDateFormat}}</td>
                            <td class="pad-10">{{donationDetails.service.name}}</td>
                            <td class="pad-10 rupee-font">{{donationDetails.donationAmount | currency:'&#8377;' }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-8 col-xs-12 col-sm-12 col-lg-9 no-padding mgn-20 no-margin-small">
            <div class="card"
                *ngIf="donationDetails && donationDetails.questionnaire && donationDetails.questionnaire.questionAnswers && donationDetails.questionnaire.questionAnswers.length > 0">
                <div class="">
                    <h5 class="">
                        {{customer_label | capitalizeFirst}} info
                    </h5>
                </div>
                <div class="c-details">
                    <app-questionnaire [source]="'proDonation'" [donationDetails]="donationDetails" [type]="'details'">
                    </app-questionnaire>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</section> -->

<section class="">
    <div class="card title-gb">
        <h5 class="mgn-up-10">
            <span class="fa fa-arrow-left pointer-cursor" (click)="goBack()"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Donation
        </h5>
    </div>
</section>
<section class="content p-4">
    <div *ngIf="loading" class="card">
        <app-common-innerloading-spinner> </app-common-innerloading-spinner>
    </div>
    <div class="row pad10" *ngIf="!loading">
        <div class="col-lg-8">
            <div class="card card-custom mgn-bt-20 wave-success p-0 booking-details">
                <app-customer-booking-details [waitlist_data]="donationDetails" [bookingType]="'donation'">
                </app-customer-booking-details>
            </div>
        </div>
        <div class="col-lg-4 no-padding-big mgn-bt-10">
            <app-provider-inbox-list [customer]="customer" [provider]="0" [source]="'details'" [height]="250">
            </app-provider-inbox-list>
        </div>
    </div>
    <div class="appointments-and-doctors-row" *ngIf="!loading">
        <div class="column">
            <app-booking-documents [bookingType]="'donation'"></app-booking-documents>
        </div>
        <div class="column"
            *ngIf="donationDetails && donationDetails.questionnaire && donationDetails.questionnaire.questionAnswers && donationDetails.questionnaire.questionAnswers.length > 0">
            <div class="card">
                <div class="card-header">
                    <div>{{customer_label | capitalizeFirst}} info</div>
                </div>
                <div class="qnr-hgt">
                    <app-questionnaire [source]="'proDonation'" [donationDetails]="donationDetails" [type]="'details'">
                    </app-questionnaire>
                </div>
            </div>
        </div>
    </div>
</section>