@media only screen and (min-width: 576px) {
    .no-padding-big {
      padding: 0 !important;
    }
}
.column {
    width: 33.3% !important;
    float: left;
    padding: 10px;
}
@media (max-width: 767px) {
    .column {
        width: 100% !important;
    }
}
.card-header {
    padding: 8px 10px !important;
    border-radius: 0 !important;
    border-bottom: 1.75px solid #d0d0d0 !important;
    font-size: 13px !important;
    text-transform: uppercase !important;
    color: #395789 !important;
    font-weight: 700 !important;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    min-height: auto !important;
}
.card .card-header i {
    color: #395789 !important;
    font-family: 'FontAwesome' !important;
    font-size: 13px !important;
    font-weight: 700 !important;
}
.qnr-hgt {
    overflow: auto !important;
    height: 317px !important;
}
.appointments-and-doctors-row .card {
    border-radius: 10px !important;
    border: 1.75px solid #d0d0d0 !important;
    box-shadow: 0 0 10px 0 rgb(183 192 206 / 20%) !important;
    padding: 0px !important;
}
.card.booking-details {
    box-shadow: 5px 3px 10px rgb(0 0 0 / 20%) !important;
}
.fa-angle-down {
    padding-left: 20px;
}
.collapse.in {
    display: block;
}