<section class="">
    <div class="card title-gb">
        <h5 class="mgn-up-10">
            <span (click)="redirecToAddon()" class="fa fa-arrow-left pointer-cursor"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Add-ons
        </h5>
    </div>
</section>
<section class="revamp_addonDetail">
    <div class="content w-manager settings comn-cls lic-page">
        <div class="col-md-12 no-padding-small">
            <div class="w-dta">
                <div class="row">
                    <div class="copy addons one  col-xs-12 col-sm-12 card no-padding">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pad-30">
                            <div class="disp_name_st">{{disp_name}}</div>
                            <mat-grid-list cols="{{no_of_grids}}" rowHeight="160px" [gutterSize]="'10px'">
                                <mat-grid-tile  *ngFor="let adon of final_list">
                                    <div class="disp-grid" style="height: 100%;">
                                        <div class="mgn-up-40 ad_name">{{adon.addonName.split('-')[1]}}
                                        </div>
                                        <div class="ad_price rupee-font">&#8377; {{adon.price}}
                                        </div>
                                    </div>
                                    <mat-grid-tile-footer>
                                            <button  mat-flat-button class="add_btn mgn-center" (click)="addAdon(adon.addonId)">Add</button>
                                    </mat-grid-tile-footer>
                                    
                                </mat-grid-tile>
                            </mat-grid-list>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>