ul, li {
    list-style-type: none;
    padding-left: 5px;
  }
 .attachment a:link, .attachment a:active, .attachment a:visited
 {
   color: #008566;
   text-decoration: none;
 }

 .fa-image
 {
   font-size: 17px!important;
 }
 
 
 .attachment a:hover
   {
   color: #008566;
   text-decoration: underline;
   }

   .imgIcon {
    height: 20px!important;
    width: 20px!important;
   }