ul li {
    list-style-type: circle;
  }
  /* a:link {color:#FFFAFA;}     
a:visited {color:#FFFAFA;}  
a:hover {color:#FFFAFA;}  
 a:active {color:#FFFAFA;}   */
 .attachment a:link, .attachment a:active, .attachment a:visited
 {
   color: #008566;
   text-decoration: none;
 }
 
 
 .attachment a:hover
   {
   color: #008566;
   text-decoration: underline;
   }