.justify {
    text-align: justify !important;
}

.mgn-bt-25 {
    margin-bottom: 25px !important;
}

.split-ln-brd {
    border: 1px;
    border-style: dotted;
}

.pad-15 {
    padding:15px
}
.mgn-25 {
    margin:25px
}
.pad-lt-10 {
    padding-left: 10px;
}