.wrap_it {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-right: auto !important;
    margin-left: auto !important;
}
.header-container {
    background: transparent !important;
}
.header-container h1,
.header-container h6 {
    color: #515151 !important;
    font-family: "Roboto", sans-serif !important;
}
.dashboard-content .section-title {
    color: #515151 !important;
    font-size: 12px !important;
    font-family: "Roboto", sans-serif !important;
    text-transform: uppercase !important;
    font-weight: 500 !important;
    margin-bottom: 8px !important;
    height: 18px !important;
}
.book-stats {
    padding: 0 20px !important;
}
@media (max-width: 767px) {
    .dashboard-content .pl-0 {
        padding-left: 12.5px !important;
    }
    .dashboard-content .pr-0 {
        padding-right: 12.5px !important;
    }
}
.column {
    width: 50% !important;
    float: left;
    padding: 10px;
}
@media (max-width: 767px) {
    .column {
        width: 100% !important;
    }
}
.subheader .container-fluid {
    padding: 15px 25px !important;
}
.card.title-gb img {
    border-radius: 10px !important;
    height: 45px !important;
    width: 45px !important;
    background: #fff !important;
    position: inherit !important;
    border: 1px solid rgba(52, 73, 94, 0.44) !important;
    padding: 3px !important;
    margin: 0 5px 0 10px;
}