
  /* Date Pagination Styles of Consumer Checkin and Consumer Appointment Component */


  .date-carousel {
    box-sizing: border-box;
    display: flex;
    height: auto;
    width:100%!important;
    align-items: center!important;
    margin: auto;
  }
  
  .date-carousel-next,
  .date-carousel-prev,
  .date-carousel-input {
    box-sizing: border-box;
    position:relative;
    border: none;
  }
  
  .date-carousel-next,
  .date-carousel-prev {
    background-color: transparent;
    cursor: pointer;
    font-size: larger;
    font-weight: bold;
  }
  
  .date-carousel-input {
    background-color: transparent;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    border-width:0px!important;
    border: none!important;
  }

.shadow
{
    box-shadow: 3px 5px 4px #e2dede;
    cursor: pointer;
    width:10%!important;
    border-radius: 10px!important;
}
.shadow-not-allowed
{
    box-shadow: 3px 5px 4px #e2dede;
    cursor: not-allowed;
    border-radius: 10px!important;
    background-color:#e4e4e4!important;
}
.not-allowed
{
  cursor: not-allowed;
}

.default-value
{
  background-color:#1e4079!important;
  color: white!important;
}

@media only screen and (max-width: 600px) {
  .desktop-only
{
  display: none!important;
} 
.shadow
{
    box-shadow: 3px 5px 4px #e2dede;
    cursor: pointer;
    width:20%!important;
    border-radius: 10px!important;
    font-size: 11px!important;
}
}
::ng-deep mat-datepicker-toggle button.mat-icon-button {
  background: #eee !important;
  border-radius: 50%;
}
@media (max-width:767px){
  .matCard{
    box-shadow: 1.32102px 1.32102px 5.28407px rgba(0, 0, 0, 0.25) !important;
    border: none !important;
    border-radius: 7.1468px;
    top: -5px;
    height: 100%;
  }
}
@media (min-width:768px) and (max-width:1400px){
  .calenderDiv{
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 100%;
  }
  .matCard{
    box-shadow: 1.32102px 1.32102px 5.28407px rgba(0, 0, 0, 0.25) !important;
    border: none !important;
    border-radius: 7.1468px;
    top: -5px;
    height: 100%;
    width: 50%;
   
  }

}
.matCard:hover{
  background: #ffff;
  box-shadow: 1.32102px 1.32102px 5.28407px rgba(0, 0, 0, 0.25) !important;
  border: none !important;
  border-radius: 7.1468px;
  top: -5px;
  height: 100%;
}