<div class="pb-0 px-auto my-3 font-weight-bold text-left">
  <div class="col-md-12 col-xs-12 col-sm-12">
  <h6 class="custom text-dark"><b>Choose Date</b></h6>
  </div>
</div>
<div class="date-carousel container-fluid col-lg-12 col-md-12 mb-5 mt-3 p-0 text-center">
  <div class="my-auto mr-1">
    <button (click)="previous_date_handling_btn ? prev_date(1):false;date_handling_btn()" class="date-carousel-prev my-auto" [class.not-allowed]="!previous_date_handling_btn">&lt;</button>
  </div>
  <div class="shadow text-center p-2 m-2 desktop-only" [class.shadow-not-allowed]="!previous_date_handling_btn" (click)="previous_date_handling_btn && navigateToDays(-3);chekingDates()">
    <div><b>{{prev_date_value_2.slice(0,3)}}</b><br><b>{{prev_date_value_2.slice(3,6)}}</b>&nbsp;<b>{{prev_date_value_2.slice(6)}}</b></div>
  </div>
  <div class="shadow text-center p-2 m-2 desktop-only" [class.shadow-not-allowed]="!previous_date_handling_btn" (click)="previous_date_handling_btn && navigateToDays(-2);chekingDates()">
    <div><b>{{prev_date_value_1.slice(0,3)}}</b><br><b>{{prev_date_value_1.slice(3,6)}}</b>&nbsp;<b>{{prev_date_value_1.slice(6)}}</b></div>
  </div>
  <div class="shadow text-center p-2 m-2" [class.shadow-not-allowed]="!previous_date_handling_btn" (click)="previous_date_handling_btn && navigateToDays(-1);chekingDates()">
    <div><b>{{prev_date_value.slice(0,3)}}</b><br><b>{{prev_date_value.slice(3,6)}}</b>&nbsp;<b>{{prev_date_value.slice(6)}}</b></div>
  </div>
  <div class="shadow text-center default-value p-2 m-2 my-auto">
    <div><b>{{default_value.slice(0,3)}}</b><br><b>{{default_value.slice(3,6)}}</b>&nbsp;<b>{{default_value.slice(6)}}</b></div>
  </div> 
  <div class="shadow text-center p-2 m-2" (click)="navigateToDays(1)">
    <div><b>{{next_date_value.slice(0,3)}}</b><br><b>{{next_date_value.slice(3,6)}}</b>&nbsp;<b>{{next_date_value.slice(6)}}</b></div>
  </div>
  <div class="shadow text-center desktop-only p-2 m-2" (click)="navigateToDays(2)">
    <div><b>{{next_date_value_1.slice(0,3)}}</b><br><b>{{next_date_value_1.slice(3,6)}}</b>&nbsp;<b>{{next_date_value_1.slice(6)}}</b></div>
  </div>
  <div class="shadow text-center desktop-only p-2 m-2" (click)="navigateToDays(3)">
    <div><b>{{next_date_value_2.slice(0,3)}}</b><br><b>{{next_date_value_2.slice(3,6)}}</b>&nbsp;<b>{{next_date_value_2.slice(6)}}</b></div>
  </div>
  <div class="my-auto ml-1">
    <input type="button" (click)="next_date(1);date_handling_btn()" class="date-carousel-next my-auto" value="&gt;">
  </div>
  <div class="d-flex align-items-center my-auto">
      <mat-datepicker-toggle matSuffix [for]="picker">
      </mat-datepicker-toggle>
      <mat-datepicker #picker [dateClass]="dateClass.bind(this)">
      </mat-datepicker>
      <input class="" style="visibility: hidden; width:1px"
          type="text" [matDatepicker]="picker" [min]="minDate"
          [max]="maxDate" [value]="selected_date"
          (dateChange)="date_value_changed();" [(ngModel)]="selected_date">
  </div>
</div>