
.post-info {
  display: flex;
  min-height: 650px;
}
.details{
  width: 100%;
  line-height: 25px;
  position: absolute;
}
.book-head {
  color: #008000;
  font-weight: bold;
  font-size: 25px;
  padding: 20px 10px 50px;
  text-align: center;
}
.book-details {
  border-bottom: 1px solid #ddd;
  font-weight: 600;
  font-size: 1.1rem;
  text-align: center;
  margin-bottom: 15px;
}
.book-details-sub {
  border-bottom: 1px solid #ddd;
  width: 100%;
}
.book-status {
  text-align: center;
  font-weight: 600;
  margin-bottom: 5px;
  margin-top: 5px;
}
.notes {
  border: 1px solid;
  padding: 10px;
  width: 70%;
  margin: auto;
  align-items: center;
  margin-top: 10px;
  max-height: 250px;
  overflow: auto;
}
.ok-btn {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.ok-btn span {
  border: 1px solid;
  padding: 10px 50px;
  border-radius: 20px;
  background: #334b99!important;
  color: #fff!important;
  font-weight: bold;
}
.update-email input{
  padding: 0px 12px 0px 24px;
  border-radius: 20px 0 0 20px;
  width: 100%;
  border-right-style: none;
}
.email-btn {
  box-shadow: none;
  text-align: center;
  min-width: 60px;
  padding: 5px 12px 5px 8px;
  color: white;
  background-color: #334b99!important;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
}
.update-email {
  margin: auto;
  width: 60%;
  display: flex;
  margin-bottom: 20px;
}
.info-img img{
  width: 230px;
}
@media (max-width: 991px) { 
  .info-img img{
    width: 200px !important;
  }
  .post-info {
    display: block !important;
  }
}
@media (max-width: 500px) {
  .info-img img{
    width: 50px !important;
  }
  .update-email {
    width: 100%;
    padding: 0 10px;
  }
  .notes {
    width: auto !important;
    margin-right: 10px;
    margin-left: 10px;
  }
}
.powered-by {
  position: absolute;
  top: -5px;
  right: -5px;
  width: 110px;
  height: 105px;
  overflow: hidden;
}
.poweredby-text {
  position: relative;
  top: 21px;
  left: -20px;
  width: 190px;
  padding: 9px 0 6px 0;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  background-color: #2c4289!important;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}
.one {
  color: #dbdbdb;
  font-size: 8px;
  text-transform: uppercase
}
.two {
  margin-left: -7px;
  color: #ffffff;
}
@media only screen and (max-width: 640px) {
  th, td, tr {
    font-size: .75rem !important;
  }
}
.preinfo-title {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 1rem;
}
.status-table {
  width: 100%;
  color: #00cc96;
}
/* .content {
  padding: 15px 0px !important;
} */
.name-line-ht {
  line-height: 1 !important;
}
.book-details-sub tbody {
  vertical-align: baseline !important;
}