<section class="full-height">
    <div class="container">
        <div class="row">
            <div class="panel panel-default no-padding">
                <!-- <div class="panel-heading top-row no-padding">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">
                        <div class="row col-md-12 col-xs-12 col-sm-12 no-padding-small m0">                          
                            <div class="lgo pull-left">
                                <a routerLink="/"><img src="assets/images/jaldee-logo.png" alt="Jaldee Logo"></a>
                            </div>
                        </div>
                    </div>
                </div> -->
                <div class="panel-body no-padding">
                    <div class="videocontainer no-padding" >
                        <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12" [ngClass]="{'hide': !twilioService.preview}">
                            <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 no-padding">
                                <div #previewContainer id="previewContainer" class="previewContainer col-md-7 col-lg-7 col-sm-12 col-xs-12">
                    
                                </div>
                                <div class="prevSub" class="col-md-5 col-lg-5 col-sm-12 col-xs-12">
                                    <div class="mgn-up-50 mgn-bt-20 centeralign col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <h1>Ready To Join ?</h1>
                                    </div>
                                    <div class="centeralign join-vid-btn col-xs-12 col-sm-12 col-md-12 col-lg-12" (click)="joinRoom()">
                                        <button>Join now</button>
                                    </div>
                                </div>
                            </div>        
                        </div>
                        <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 video-container no-padding" [ngClass]="{'hide': twilioService.preview}">
                            <div class="remote" id="remote-video" #remoteVideo
                                [ngClass]="{'remote': twilioService.participantsCount > 0, 'remove-hide': twilioService.participantsCount == 0}">
                            </div>
                            <div id="local-video" #localVideo
                                [ngClass]="{'local': twilioService.participantsCount > 0, 'local-zeroPs': twilioService.participantsCount == 0}">
                            </div>
                            <div class="icons">
                                <i title="Mute" *ngIf="twilioService.microphone" class="fa fa-microphone round mute"
                                    style="opacity: 1;cursor: pointer;" (click)="mute()"></i>
                                <i *ngIf="!twilioService.microphone" title="Unmute" class="fa fa-microphone-slash round  mute"
                                    style="opacity: 1;cursor: pointer;" (click)="unmute()"></i>
                                <i title="Video" *ngIf="twilioService.video" class="fa fa-video-camera round video"
                                    style="opacity: 1;cursor: pointer;" (click)="stopVideo()">
                                </i>
                                <i *ngIf="!twilioService.video" title="No Video" class="round novideo" style="opacity: 1;cursor: pointer;"
                                    (click)="startVideo()">
                                    <i class="fa fa-stack"><i class="fa fa-video-camera fa-stack-1x"></i>
                                        <i class="fa fa-close red fa-stack-1x"></i>
                                    </i>
                                </i>
                                <i *ngIf="!(twilioService.camDeviceCount > 1)" title="Switch Camera" class="round novideo" style="opacity: 1;cursor: pointer;"
                                (click)="switchCamera()">
                                    <i class="fa fa-stack"><i class="fa fa-camera fa-stack-1x"></i>
                                        <i class="fa fa-refresh fa-stack-1x"></i>
                                    </i>
                                </i>                         
                                <i title="Disconnect" class="fa fa-phone red round stop" style="opacity: 1;cursor: pointer;"
                                    (click)="disconnect()"></i>
                            </div>
                        </div>
                        <!-- <div id="remote-video" #remoteVideo class="w-100 text-center" ></div>
                        <div id="local-video" class="position-fixed text-right w-100" #localVideo></div> -->
                        <select id="video-devices" hidden></select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</section>
<app-consumer-footer></app-consumer-footer>



