<div>
    Manikandan
    <div id="remote-video" #remoteVideo class="w-100 text-center" ></div>
    <div id="local-video" class="position-fixed text-right w-100" #localVideo></div>
    <button title="Mute" *ngIf="twilioService.microphone"  class="pr-2" style="opacity: 1;cursor: pointer;"
        (click)="mute()">Mute</button>
    <button *ngIf="!twilioService.microphone" title="Unmute" class="pr-2" style="opacity: 1;cursor: pointer;"
        (click)="unmute()">Unmute</button>
    <button title="Disconnect" class="pr-2" style="opacity: 1;cursor: pointer;" (click)="disconnect()">Disconnect</button>
</div>