<!-- <h1 mat-dialog-title></h1>
<div mat-dialog-content>
  <p> {{confirm_req_pay_cap}}?</p>
</div>
<div mat-dialog-actions>
  <button mat-button tabindex="2" (click)="onClick(1)">{{ok_btn}}</button>
  <button mat-button mat-dialog-close class="cs-btn bt2">{{cancel_btn}}</button>
</div>
<app-field-error-display [displayError]="true" *ngIf="api_error"
errorMsg="{{api_error}}"></app-field-error-display>

<app-form-success-display [displayMsg]="true" *ngIf="api_success"
successMsg="{{api_success}}"></app-form-success-display> -->

<h1 mat-dialog-title></h1>
<div mat-dialog-content>
  <p> {{confirm_req_pay_cap}}? </p>
</div>
<div mat-dialog-actions  class="paddingtop">
    <button tabindex="-1" (click)="onClick(0)" class="cs-btn bt2">{{cancel_btn}}</button>
  <button tabindex="2" (click)="onClick(1)" class="cs-btn bt1 reddelete">{{ok_btn}}</button>
</div>
<app-field-error-display [displayError]="true" *ngIf="api_error"
errorMsg="{{api_error}}"></app-field-error-display>

<app-form-success-display [displayMsg]="true" *ngIf="api_success"
successMsg="{{api_success}}"></app-form-success-display>