
<!-- <div class="iph-dialog">
  <p class="text-center takeTourTitle" mat-dialog-title></p>
  <br><br>
<div class="text-center" mat-dialog-content>
  User has been created successfully. The login credentials of the new user has been sent to them via sms/email<br>
    
    
</div>
<br>
<div mat-dialog-actions  style="float: right;">
  <button tabindex="2" class="cs-btn bt1 reddelete" (click)="onClick()">OK</button>
</div>
<br>
<div style="padding:10px"></div>


</div> -->



<div style="text-align: center;">
  <div mat-dialog-content class="msg">
    <span>
      User has been created successfully. The login credentials of the new user has been sent to them via sms/email
    </span>
   
  </div><br>
  <!-- Start Meeting -->
  <div mat-dialog-actions class="modal-dialog-bt" >
   
    <button tabindex="2" mat-dialog-close class="cs-btn bt1" (click)="onClick()">OK</button>
  </div>
  <br>
  <br>
</div>



