<!-- <div class="welcome-page" [@routerTransition]> -->
<!-- <div class="welcome-page">    
    <div class="row">
        <div class="col-md-10 push-md-1">
            <h1>404 - Page Not Found</h1>
            <p class="lead">This page does not exist</p>
            <p class="lead">
                <a class="btn rounded-btn" [routerLink]="['/']">Restart</a>
            </p>
        </div>
    </div>
</div> -->
<!--begin::Body-->
	<!--begin::Main-->
<div class="d-flex flex-column flex-root" style="height: 100vh;">
	<!--begin::Error-->
<div class="error error-3 d-flex flex-row-fluid bgi-size-cover bgi-position-center" style="background-image: url(../../../../assets/images/myjaldee/errorbg.jpg);">
<!--begin::Content-->
<div class="px-10 px-md-30 py-10 py-md-0 d-flex flex-column justify-content-md-center" style="font-family: serif;">
	<h1 class="error-title text-stroke text-transparent" style="font-size: 8rem !important;">404</h1>
	
	<p class="font-size-h1 font-weight-boldest text-dark-75" style="line-height: 1.4;
    font-family: serif;">
		Sorry we can't seem to find the page you're looking for.
	</p>
	<p class="font-size-h4 line-height-md" style="font-size: 1.2rem !important;">
		There may be a misspelling in the URL entered,<br>or the page you are looking for may no longer exist.
	</p>
	<button style="width: 6rem !important; color: black !important; border-color: black !important;" type="button" [routerLink]="['/']" class="cs-btn bt3 mgn-bt-10" tabindex="-1">
		Restart</button>
</div>
<!--end::Content-->
</div>
<!--end::Error-->
</div>
<!--end::Main-->


	
<!--end::Body-->