
  <div class="copy">
          <ul class="inbox-table" *ngIf="messages.length>0 && !loading">
                  <li class="tth">
                      <!-- <div class="outer">
                         <div class="th th0"></div>
                          <div class="th th3">Provider / Consumer</div>
                          <div class="th th2">Service</div>
                          <div class="th th4">Message</div>
                          <div class="th th1">Date/Time</div>
                      </div> -->
                  </li>

                  <li class="ttd" [class.active]="selectedMsg==i"
                  [class.outer-received]="user_id != message.owner.id"
                  [class.outer-sent]="user_id == message.owner.id"
                  *ngFor="let message of messages; let i = index">
                      <div class="outer" (click)="showMsg(i)">
                          <div class="td td0">
                              <span class="icon-inbox-in" *ngIf="user_id != message.owner.id"></span>
                              <span class="icon-inbox-out" *ngIf="user_id == message.owner.id"></span>
                          </div>

                          <div class="td td3">
                            <div class="label">{{provider_consumer_cap}}</div>
                            <div class="result" *ngIf="user_id != message.owner.id">{{message.owner.userName | capitalizeFirst}}</div>
                            <div class="result" *ngIf="user_id != message.receiver.id">{{message.receiver.userName | capitalizeFirst}}</div>
                          </div>
                          <!-- <div class="td td3">
                            <div class="label">To</div>
                            <div class="result">{{(user_id != message.receiver.id) ? (message.receiver.userName  | capitalizeFirst) : 'Me'}}</div>
                          </div> -->
                          <div class="td td2">
                            <div class="label">{{service_cap}}</div>
                            <div class="result">{{(message.service !== null)? message.service : ' - '}}</div>
                          </div>
                          <div class="td td4">
                                <div class="label">{{message_cap}}</div>
                                <div class="result">{{ (message.msg.length>30)? (shared_functions.firstToUpper(message.msg) | slice:0:30)+'.....':shared_functions.firstToUpper(message.msg) }}
                                </div>
                            </div>
                          <div class="td td1">
                              <div class="label">{{date_time_cap}}</div>
                              <!-- <div class="result">{{message.timeStamp | date: dateFormat}}</div> -->
                              <div class="result">{{formatDateDisplay(message.timeStamp)}}</div>
                          </div>
                      </div>
                      <div class="details" [class.show]="selectedMsg==i">
                          <div class="result">
                              <div class="result" [innerHTML]="message.msg | nl2br | capitalizeFirst">
                              <!-- {{shared_functions.firstToUpper(message.msg)}} -->
                          </div>
                          <div class="action">
                              <span class="icon-reply" (click)="replyMessage(message)" *ngIf="user_id != message.owner.id && !hide_reply_button">
                                  {{reply_cap}}
                              </span>
                              <span class="icon-close" (click)="closeMsg()">
                                  {{close_cap}}
                              </span>
                          </div>
                      </div>
                      <div class="actions">
                          <span class="icon-delete"> {{delete_msg_cap}}</span>
                      </div>
                      </div>
                  </li>
              </ul>
              <div class="no-msg" *ngIf="this.messages.length == 0">{{no_msg_exists_cap}}</div>
  </div>
