.red-text{
    color:red;
}
.addbt {
 
  margin-right: 100px;
  margin-bottom: -20px;
  margin-left: 220px;
    cursor: pointer;
    color: #00aef2;
}
  @media screen and (max-width : 1920px){
    .div-only-mobile{
    visibility:hidden;
    
    }
  }
  @media screen and (max-width : 906px){
   .div-only-mobile{
    visibility:visible;
    display: flex;
    text-align: right !important;
    }
  }