.adjust_ht {
    max-height: 50%;
}
.bg_peacok {
    background: #1e4079;
}
.clr_white {
    color: white !important;
}
.clr_peacock {
    color: #1e4079 !important;
}
.mtn_40 {
    margin-top: -45px !important;
}
.btn_action {
    background: white !important;
    color: #1e4079 !important;
    border-radius: 20px !important; 
}
.btn_action2 {
    background: #1e4079 !important;
    color: white !important;
    border-radius: 20px !important; 
}
.card-spacer2 {
    padding: 1rem 2.25rem !important;
}
.bg-light-yelow {
    background: #f9e2a794 !important;
}
.ht_40 {
    min-height: 40px !important;
}
.bdr_book {
    border: 1px solid grey;
    border-radius: 5px;
}
.card_head {
    padding: 1rem 1.25rem !important;
    margin-bottom: 0;
    border-bottom: 1px solid #7e82a2 !important;
    min-height: 40px !important;
}
.ext-link {
    font-size: 20px !important;
    margin-top: 10px;
}
.fl_right {
    float: right;
}
.scroll_horiz {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
.bdr_green {
    border: 1px solid green !important;
}
.bdr_gray {
    border: 1px solid #808080b8 !important;
}
.scroll_horiz::-webkit-scrollbar {
    width: 5px !important;
}
.fill_screen {
    height: 100vh !important;
}
.mat-grid-tile {
    /* background: #1e40792e; */
    box-shadow: 10px 10px 15px 0px #cccccc9c;
}
.new_svg .symbol-label {
    height: 70px !important;
    width: 70px !important;
    cursor: pointer !important;
}
.new_svg svg {
    height: 3rem !important;
    width: 5rem !important;
}
.mat-grid-tile .mat-grid-tile-footer {
    height: 30px !important;
    color: #1e4079 !important;
    background: none !important;
}
.wrap_it {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-right: auto !important;
    margin-left: auto !important;
}

.container-booking-feeds {
    margin-left: 6.25px !important;
    width: auto !important;
    height: 335px !important;
    overflow: auto !important;
    border-radius: 8px !important;
}

.container-booking-feeds .card-body {
    overflow: auto !important;
    padding-right: 10px !important;
}

.container-booking-feeds .heading {
    font-family: "Roboto", sans-serif !important;
    text-transform: capitalize !important;
    color: #6a6a6a !important;
    font-weight: 400 !important;
    font-size: 18px !important;
}

.container-booking-feeds .date {
    font-family: "Roboto", sans-serif !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    color: #8c8c8c !important;
    text-transform: none !important;
}
