.container-booking-feeds {
    width: auto !important;
    height: 400px !important;
    overflow: auto !important;
    border-radius: 8px !important;
}
.container-booking-feeds .card-body {
    overflow: auto !important;
    padding-right: 10px !important;
}
.container-booking-feeds .date {
    font-family: "Roboto", sans-serif !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    color: #8c8c8c !important;
    text-transform: none !important;
}