<section class="container no-padding cons-donate no-padding-small">
  <div class="content p0 loc-list p-checkin ynw-common-form-nm">
    <div class="panel panel-default">
      <div class="panel-heading top-row">

        <!-- <a class="pull-left back-btn mgn-up-5"><i class="fa fa-arrow-left"></i></a> -->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">
          <app-header *ngIf="sharedFunctionobj.checkLogin()"></app-header>
        </div>
        <!-- </div> -->
      </div>
      <div class="panel-body no-padding">
        <div class="c-outer m0">
          <div class="c-body">
            <div class="card title-gb m0">
              <h5 class="mgn-up-10">
                <a class="back-btn" (click)="goBack()">
                  <i class="fa fa-arrow-left"></i>
                </a>
                <span class=" mgn-lt-10 amount">Continue shopping</span>
              </h5>
            </div>

            <div class="container">

              <div class="row">
                <div class="col-md-6">
                    <owl-carousel
                    [options]="{items: 1, dots: true, navigation: false}"
                    [items]="itemImages"
                    [carouselClasses]="['owl-theme', 'row', 'sliding']">
                    <div class="item" *ngFor="let image of itemImages;let i = index">
                        <div class="thumbnail-image">
                           <img [src]="image.url"/>
                         </div>
                      </div>
                    </owl-carousel>

                  <!--/main slider carousel-->
              </div>

                </div>
                <div class="col-md-6">
                  <div class="col-md-12">
                    <p style="font-size: large;"> Home Delivery Accepted</p>

                  </div>
                  <div class="col-md-12">
                    <h4>{{currentItem.displayName}}</h4>
                    <!-- <p>{{currentItem.shortDesc}}</p> -->
                    <p class="title-style mgn-bt-5 mgn-up-5" >
                        <span class="rupee-font" style="font-size: xx-large">Rs.{{currentItem.price}}</span> &nbsp;
                        <span class="rupee-font" style=" font-size: x-large; text-decoration: line-through;">Rs.1500</span>
                      </p>
                  </div>
                  <!-- <div class="col-md-12">

                  </div> -->
                   <div class="col-md-12  mr-area">
                      <p>Instrucations</p>
                      <textarea name="paragraph_text" maxlength="500" cols="10" rows="2"></textarea>
                   </div>

                    <div  class="col-md-12">
                      <p>Quantity:</p>
                      <button class="m2" (click)="decrement()">-</button>
                      <span>{{getItemQty()}}</span>
                      <button class="m2" (click)="increment()">+</button> &nbsp;
                      <button class="pay" ><h6 style="padding-top: 10px;">ADD TO CART</h6></button>

                    </div>

                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>

</section>
