.text-primary {
    color: #1E4079 !important;
}

.btn-primary {
    background-color: #1E4079 !important;
    border-radius: 10px !important;
}

.heading {
    font-size: 17px !important;
    color: #FF9900;;
}

.fa-times {
    color: red !important;
}
.digitalsignature-pad{
    /* position:absolute;z-index:99999 */
}
.closeIcon{
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    text-align: center;
    background: #FFFFFF;
}
.closeIcon:hover{
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    text-align: center;
    background: #FFFFFF;
    border: 0.13368px solid #FFFFFF;
    box-shadow: 0px 0.534719px 11.8652px rgb(0 0 0 / 17%);
}
::ng-deep .digitalsignature-pad canvas{
    background: #FCFCFC !important;
    border: 1.20589px dashed #C9C9C9 !important;
    border-radius: 13.2647px !important;
    width: 100% !important;
    margin-top: 5px !important;
    box-shadow: 0 0 5px 1px #999 !important;
    /* background-image: url(../../../../../../../assets/images/medicalReportIcon/address.png) !important; */
    z-index: 9999999;
}
.confirmBtn {
    background: #0D2348 !important;
    box-shadow: 0.417685px 2.50611px 8.77138px 1.25305px rgba(30, 64, 121, 0.15) !important;
    border-radius: 3.75916px !important;
    border: 0px solid !important;
    padding: 6px 12px;
    color: #fff;
    font-weight: 500 !important;
      font-size: 12px;
  }
  .cancelBtn {
    background: #A8ABAF !important;
    box-shadow: 0.417685px 2.50611px 8.77138px 1.25305px rgba(30, 64, 121, 0.15) !important;
    border-radius: 3.75916px !important;
    border: 0px solid !important;
    margin-right: 10px !important;
    padding: 6px 10px;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
  }
  .secHeight{
    /* height: 550px; */
    padding:20px
  }
  @media(max-width: 800px){
    .secHeight{
        /* height: 350px; */
    }
  }