<!-- <section>
    <app-breadcrumb (performAction)="performActions($event)" [breadcrumbs]="breadcrumbs"
        [moreOptions]="breadcrumb_moreoptions"></app-breadcrumb>
</section> -->
<section class="">
        <div class="card title-gb">
            <h5 class="mgn-up-10"> 
             <!-- <button type="button" class="btn default profile-back" (click)="redirecToDonation()">
                <span class="fa fa-chevron-left">&nbsp;Back</span> </button>&nbsp;&nbsp;&nbsp; -->
                <span class="fa fa-arrow-left pointer-cursor" (click)="redirecToDonation()"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                Causes
                <i class="fa fa-question-circle-o fa-lg fl-right" (click)="redirecToHelp()"></i>
            </h5>     
        </div>
    </section>
<section>     
    <div class="content loc-list">
        <div class="col-md-12 no-padding-small">
            <div class="col-md-12 no-padding" class="row">
              <ul class="nav jd-custom-nav chkn-dash">
                 <li class="dropdown notifications-menu pull-right">
                    <a [matTooltipClass]="tooltipcls" [matTooltip]="add_button" (click)="addcause()"
                       class="dropdown-toggle navbar-item-color bold pointer-cursor">
                         <span><i class="fa fa-plus"></i>Add Cause</span>
                    </a>
                 </li>
              </ul>
            </div>
            <div class="row" *ngFor="let service of service_list | orderBy: order">
                <div class="card" *ngIf="api_loading">
                    <app-common-innerloading-spinner></app-common-innerloading-spinner>
                </div>
                <div class="card" [class.disabled]="service.status=='INACTIVE'" *ngIf="!api_loading">
                    <div class="copy">
                        <span class="mbt">
                            <button type="button" mat-icon-button [matMenuTriggerFor]="appMenu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                        </span>
                        <span class="lcn-sts-label inactv" *ngIf="!service.status || service.status=='INACTIVE'"></span>
                        <h3 (click)="goServiceDetail(service)" class="pointer-cursor"> {{service.name |
                                capitalizeFirst}}</h3>
                        <!-- <div class="c-ot m0">
                            <div class="item" *ngIf="isServiceBillable">
                                <span class="ttle">{{est_duration_cap}}</span>
                                <span class="icon-time">{{getAppxTime(service.serviceDuration)}} </span>
                            </div>
                            <div class="item" *ngIf="isServiceBillable && service.totalAmount!=0">
                                <span class="ttle">{{price_cap}}</span>
                                <span>{{service.totalAmount | currency:'INR':'symbol':'.2-2'}}</span>
                            </div>
                        </div> -->
                        <mat-menu #appMenu="matMenu">
                            <button mat-menu-item (click)="editService(service)" *ngIf="service.status=='ACTIVE'">
                                <i class="icon-edit"></i>
                                Edit
                            </button>
                            <button mat-menu-item (click)="changeServiceStatus(service)">
                                <i *ngIf="service.status=='INACTIVE' || !service.status" class="icon-enable"></i>
                                <i *ngIf="service.status=='ACTIVE'" class="icon-disable"></i>
                                {{(service.status=='ACTIVE') ? 'Disable' :'Enable'}}
                            </button>
                        </mat-menu>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" *ngIf="!api_loading && service_list.length === 0">
            No causes added.
        </div>
        <div class="clearfix"></div>
    </div>
</section>
<app-field-error-display [displayError]="true" *ngIf="api_error" errorMsg="{{api_error}}"></app-field-error-display>
<app-form-success-display [displayMsg]="true" *ngIf="api_success" successMsg="{{api_success}}">
</app-form-success-display>