::ng-deep .booking-details .p-card .p-card-content {
    padding: 0 !important;
}

.booking-date,
.booking-time {
    font-size: 17px;
    font-weight: 600;
    color: #5A5F66;
}

.fa-icons {
    border-radius: 50% !important;
}

.booking-service-name {
    font-size: 18px;
    font-weight: 700 !important;
}

.booking-status {
    font-weight: 700 !important;
    text-transform: uppercase;
}

.Confirmed {
    color: #16A085 !important;
}

.Cancelled {
    color: #AC2925 !important;
}

.Completed {
    color: green !important;
}
