/* .date-as-calendar {
    font-variant: normal;
    font-style: normal;
    font-weight: normal;
    font-family: "Helvetica", "Arial", sans-serif;
    vertical-align: top;
 
    color: black;
    background: white;
    background: linear-gradient(to bottom right, #FFF 0%, #EEE 100%);

    border: 1px solid #888;
    border-radius: 3px;
    overflow: hidden;

    box-shadow: 2px 2px 2px -2px black;
}

.date-as-calendar .weekday,
.date-as-calendar .day,
.date-as-calendar .month,
.date-as-calendar .year {
    text-align: center;
    line-height: 1.0;
}

.date-as-calendar .month {
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    background: #B11;
    background: linear-gradient(to bottom right, #D66 0%, #A00 100%);
    color: white;
}

.position-pixels.date-as-calendar {
    display: inline-block;
    position: relative;
    width: 65px;
    height: 65px;
}

.position-pixels.date-as-calendar .weekday,
.position-pixels.date-as-calendar .day,
.position-pixels.date-as-calendar .month,
.position-pixels.date-as-calendar .year {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 1em;
}

.position-pixels.date-as-calendar .month {
    top: 0px;
    font-size: 12px;
}

.position-pixels.date-as-calendar .weekday {
    top: 16px;
    font-size: 14px;
}

.position-pixels.date-as-calendar .day {
    top: 26px;
    margin-top: 5px;
    font-size: 24px;
}

.position-pixels.date-as-calendar .year {
    top: 50px;
    font-size: 14px;
} */


.date-as-calendar {
    border: 1px solid black !important;
    border-radius: 5px!important;
    text-align: center;
}

.date-as-calendar {
    display: inline-block;
    position: relative;
    width: 65px;
    height: 65px;
}