<div class="card pointer-cursor">
  <span (click)="goBack()"><i class="fa fa-angle-left"></i>&nbsp;&nbsp;Back</span>
</div>
<app-common-innerloading-spinner *ngIf="apiloading"></app-common-innerloading-spinner>
<div class="card m-2">
  <div class="d-lg-flex justify-content-between">
    <div class="d-flex">
      <div class="ml-4">
        <div *ngIf="teethId">
          <span class="dealer-name mt-4">Tooth {{teethId}}</span>
        </div>
        <div *ngIf="teethIndex && teethId">
          <span class="dealer-name mt-4">Tooth {{teethIndex}}</span>
        </div>
        <div *ngIf="teethIndex">
          <span class="dealer-name mt-4">Tooth {{teethIndex}}</span>
        </div>
        <div class="font-medium">
          <span>{{dentalType | capitalizeFirst}} Tooth</span>
        </div>
      </div>
    </div>
  </div>
  <br />
  <div class="d-flex">
    <div class="form-title">Surface</div>
  </div><br>
  <div class="scroller ">

   
    <mat-chip-list class="surfaces">
      <mat-chip class="pointer-cursor" (click)="surfaceClick('mesial')" [ngClass]="{'td_select': isMesial===true}">
        <span>  <img class="teeth" src="./assets/images/dental/teeth.svg" height="20px" width="20px"> &nbsp;&nbsp;</span>Mesial
      </mat-chip> &nbsp;
      <mat-chip class="pointer-cursor" (click)="surfaceClick('distal')" [ngClass]="{'td_select': isDistal===true}">
        <span>  <img class="teeth" src="./assets/images/dental/teeth.svg" height="20px" width="20px"> &nbsp;&nbsp;</span>Distal
      </mat-chip> &nbsp;
      <mat-chip class="pointer-cursor" (click)="surfaceClick('buccal')" [ngClass]="{'td_select': isBuccal===true}">
        <span>  <img class="teeth" src="./assets/images/dental/teeth.svg" height="20px" width="20px"> &nbsp;&nbsp;</span>Buccal
      </mat-chip> &nbsp;
      <mat-chip class="pointer-cursor" (click)="surfaceClick('lingual')" [ngClass]="{'td_select': isLingual===true}">
        <span>  <img class="teeth" src="./assets/images/dental/teeth.svg" height="20px" width="20px"> &nbsp;&nbsp;</span>Lingual
      </mat-chip> &nbsp;
      <mat-chip class="pointer-cursor" (click)="surfaceClick('incisal')" [ngClass]="{'td_select': isIncisal===true}">
        <span>  <img class="teeth" src="./assets/images/dental/teeth.svg" height="20px" width="20px"> &nbsp;&nbsp;</span>Incisal
      </mat-chip> &nbsp;
      <mat-chip class="pointer-cursor" (click)="surfaceClick('occlusal')" [ngClass]="{'td_select': isMissing===true}">
        <span>  <img class="teeth" src="./assets/images/dental/teeth.svg" height="20px" width="20px"> &nbsp;&nbsp;</span>Occlusal
      </mat-chip> &nbsp;
     
    </mat-chip-list>
   
  </div>
  <form [formGroup]="createTeeth" enctype="multipart/form-data" [ngClass]="{'surface_select_one':surfaceClicked===true}" >
    <div class="row tab-content mt-3 tab-pane active" *ngIf="isMesial">
      <div class="col-md-7">
        <br>
        <div class="form-title">Questionnaire about Mesial</div>
        <br>
        <div class="bggrey my-2">
          <div class="d-flex">
            <div class="form-title">Symptoms</div>
          </div>
          <div class="fieldPadding">
          
              <textarea type="text" class="form-control" autocomplete="off"
              formControlName="symptoms_mesial" (keyup)="resetErrors()"></textarea>
          </div>
        </div>
        <div class="bggrey my-2">
          <div class="d-flex">
            <div class="form-title">Observations</div>
          </div>
          <div class="fieldPadding">
            <textarea type="text" class="form-control" autocomplete="off"
            formControlName="observations_mesial" (keyup)="resetErrors()"></textarea>
           
          </div>
        </div>
        <div class="bggrey my-2">
          <div class="d-flex">
            <div class="form-title">Diagnosis</div>
          </div>
          <div class="fieldPadding">
            <textarea type="text" class="form-control" autocomplete="off"
            formControlName="diagnosis_mesial" (keyup)="resetErrors()"></textarea>
         
          </div>
        </div>
        <div class="bggrey my-2">
          <div class="d-flex">
            <div class="form-title">Notes</div>
          </div>
          <div class="fieldPadding">
            <textarea type="text" class="form-control" autocomplete="off"
            formControlName="notes_mesial" (keyup)="resetErrors()"></textarea>
            
          </div>
        </div>
        <div class="bggrey my-2">
          <div class="d-flex">
            <div class="form-title">Procedure</div>
          </div>
          <div class="fieldPadding">
            <textarea type="text" class="form-control" autocomplete="off"
            formControlName="procedure_mesial" (keyup)="resetErrors()"></textarea>
           
          </div>
        </div>
      </div>
    </div>
    <div class="row tab-content mt-3 tab-pane active" *ngIf="isDistal">
      <div class="col-md-7">
        <br>
        <div class="form-title">Questionnaire about Distal</div>
        <br>
        <div class="bggrey my-2">
          <div class="d-flex">
            <div class="form-title">Symptoms</div>
          </div>
          <div class="fieldPadding">
            <textarea type="text" class="form-control" autocomplete="off"
            formControlName="symptoms_distal" (keyup)="resetErrors()"></textarea>
           
          </div>
        </div>
        <div class="bggrey my-2">
          <div class="d-flex">
            <div class="form-title">Observations</div>
          </div>
          <div class="fieldPadding">
            <textarea type="text" class="form-control" autocomplete="off"
            formControlName="observations_distal" (keyup)="resetErrors()"></textarea>
          
          </div>
        </div>
        <div class="bggrey my-2">
          <div class="d-flex">
            <div class="form-title">Diagnosis</div>
          </div>
          <div class="fieldPadding">
            <textarea type="text" class="form-control" autocomplete="off"
            formControlName="diagnosis_distal" (keyup)="resetErrors()"></textarea>
          
          </div>
        </div>
        <div class="bggrey my-2">
          <div class="d-flex">
            <div class="form-title">Notes</div>
          </div>
          <div class="fieldPadding">
            <textarea type="text" class="form-control" autocomplete="off"
            formControlName="notes_distal" (keyup)="resetErrors()"></textarea>
          
          </div>
        </div>
        <div class="bggrey my-2">
          <div class="d-flex">
            <div class="form-title">Procedure</div>
          </div>
          <div class="fieldPadding">
            <textarea type="text" class="form-control" autocomplete="off"
            formControlName="procedure_distal" (keyup)="resetErrors()"></textarea>
           
          </div>
        </div>
      </div>
    </div>
    <div class="row tab-content mt-3 tab-pane active" *ngIf="isBuccal">
      <div class="col-md-7">
        <br>
        <div class="form-title">Questionnaire about Buccal</div>
        <br>
        <div class="bggrey my-2">
          <div class="d-flex">
            <div class="form-title">Symptoms</div>
          </div>
          <div class="fieldPadding">
            <textarea type="text" class="form-control" autocomplete="off"
            formControlName="symptoms_buccal" (keyup)="resetErrors()"></textarea>
          
          </div>
        </div>
        <div class="bggrey my-2">
          <div class="d-flex">
            <div class="form-title">Observations</div>
          </div>
          <div class="fieldPadding">
            <textarea type="text" class="form-control" autocomplete="off"
            formControlName="observations_buccal" (keyup)="resetErrors()"></textarea>
          
          </div>
        </div>
        <div class="bggrey my-2">
          <div class="d-flex">
            <div class="form-title">Diagnosis</div>
          </div>
          <div class="fieldPadding">
            <textarea type="text" class="form-control" autocomplete="off"
            formControlName="diagnosis_buccal" (keyup)="resetErrors()"></textarea>
       
          </div>
        </div>
        <div class="bggrey my-2">
          <div class="d-flex">
            <div class="form-title">Notes</div>
          </div>
          <div class="fieldPadding">
            <textarea type="text" class="form-control" autocomplete="off"
            formControlName="notes_buccal" (keyup)="resetErrors()"></textarea>
          
          </div>
        </div>
        <div class="bggrey my-2">
          <div class="d-flex">
            <div class="form-title">Procedure</div>
          </div>
          <div class="fieldPadding">
            <textarea type="text" class="form-control" autocomplete="off"
            formControlName="procedure_buccal" (keyup)="resetErrors()"></textarea>
         
          </div>
        </div>
        <div>
        </div>
      </div>
    </div>
    <div class="row tab-content mt-3 tab-pane active" *ngIf="isLingual">
      <div class="col-md-7">
        <br>
        <div class="form-title">Questionnaire about Lingual</div>
        <br>
        <div class="bggrey my-2">
          <div class="d-flex">
            <div class="form-title">Symptoms</div>
          </div>
          <div class="fieldPadding">
            <textarea type="text" class="form-control" autocomplete="off"
            formControlName="symptoms_lingual" (keyup)="resetErrors()"></textarea>
           
          </div>
        </div>
        <div class="bggrey my-2">
          <div class="d-flex">
            <div class="form-title">Observations</div>
          </div>
          <div class="fieldPadding">
            <textarea type="text" class="form-control" autocomplete="off"
            formControlName="observations_lingual" (keyup)="resetErrors()"></textarea>
           
          </div>
        </div>
        <div class="bggrey my-2">
          <div class="d-flex">
            <div class="form-title">Diagnosis</div>
          </div>
          <div class="fieldPadding">
            <textarea type="text" class="form-control" autocomplete="off"
            formControlName="diagnosis_lingual" (keyup)="resetErrors()"></textarea>
           
          </div>
        </div>
        <div class="bggrey my-2">
          <div class="d-flex">
            <div class="form-title">Notes</div>
          </div>
          <div class="fieldPadding">
            <textarea type="text" class="form-control" autocomplete="off"
            formControlName="notes_lingual" (keyup)="resetErrors()"></textarea>
           
          </div>
        </div>
        <div class="bggrey my-2">
          <div class="d-flex">
            <div class="form-title">Procedure</div>
          </div>
          <div class="fieldPadding">
            <textarea type="text" class="form-control" autocomplete="off"
            formControlName="procedure_lingual" (keyup)="resetErrors()"></textarea>
          
          </div>
        </div>
        <div>
        </div>
      </div>
    </div>
    <div class="row tab-content mt-3 tab-pane active" *ngIf="isIncisal">
      <div class="col-md-7">
        <br>
        <div class="form-title">Questionnaire about Incisal</div>
        <br>
        <div class="bggrey my-2">
          <div class="d-flex">
            <div class="form-title">Symptoms</div>
          </div>
          <div class="fieldPadding">
            <textarea type="text" class="form-control" autocomplete="off"
            formControlName="symptoms_incisal" (keyup)="resetErrors()"></textarea>
         
          </div>
        </div>
        <div class="bggrey my-2">
          <div class="d-flex">
            <div class="form-title">Observations</div>
          </div>
          <div class="fieldPadding">
            <textarea type="text" class="form-control" autocomplete="off"
            formControlName="observations_incisal" (keyup)="resetErrors()"></textarea>
         
          </div>
        </div>
        <div class="bggrey my-2">
          <div class="d-flex">
            <div class="form-title">Diagnosis</div>
          </div>
          <div class="fieldPadding">
            <textarea type="text" class="form-control" autocomplete="off"
            formControlName="diagnosis_incisal" (keyup)="resetErrors()"></textarea>
         
          </div>
        </div>
        <div class="bggrey my-2">
          <div class="d-flex">
            <div class="form-title">Notes</div>
          </div>
          <div class="fieldPadding">
            <textarea type="text" class="form-control" autocomplete="off"
            formControlName="notes_incisal" (keyup)="resetErrors()"></textarea>
         
          </div>
        </div>
        <div class="bggrey my-2">
          <div class="d-flex">
            <div class="form-title">Procedure</div>
          </div>
          <div class="fieldPadding">
            <textarea type="text" class="form-control" autocomplete="off"
            formControlName="procedure_incisal" (keyup)="resetErrors()"></textarea>
           
          </div>
        </div>
        <div>
        </div>
      </div>
    </div>
    <div class="row tab-content mt-3 tab-pane active" *ngIf="isMissing">
      <div class="col-md-7">
        <br>
        <div class="form-title">Questionnaire about Occlusal</div>
        <br>
        <div class="bggrey my-2">
          <div class="d-flex">
            <div class="form-title">Symptoms</div>
          </div>
          <div class="fieldPadding">
            <textarea type="text" class="form-control" autocomplete="off"
            formControlName="symptoms_missing" (keyup)="resetErrors()"></textarea>
          
          </div>
        </div>
        <div class="bggrey my-2">
          <div class="d-flex">
            <div class="form-title">Observations</div>
          </div>
          <div class="fieldPadding">
            <textarea type="text" class="form-control" autocomplete="off"
            formControlName="observations_missing" (keyup)="resetErrors()"></textarea>
          
          </div>
        </div>
        <div class="bggrey my-2">
          <div class="d-flex">
            <div class="form-title">Diagnosis</div>
          </div>
          <div class="fieldPadding">
            <textarea type="text" class="form-control" autocomplete="off"
            formControlName="diagnosis_missing" (keyup)="resetErrors()"></textarea>
          
          </div>
        </div>
        <div class="bggrey my-2">
          <div class="d-flex">
            <div class="form-title">Notes</div>
          </div>
          <div class="fieldPadding">
            <textarea type="text" class="form-control" autocomplete="off"
            formControlName="notes_missing" (keyup)="resetErrors()"></textarea>
        
          </div>
        </div>
        <div class="bggrey my-2">
          <div class="d-flex">
            <div class="form-title">Procedure</div>
          </div>
          <div class="fieldPadding">
            <textarea type="text" class="form-control" autocomplete="off"
            formControlName="procedure_missing" (keyup)="resetErrors()"></textarea>
           
          </div>
        </div>
        <div>
        </div>
      </div>
    </div>
    <div class="row tab-content mt-3 tab-pane active">
      <div class="col-md-7">
        <div class="bggrey my-2">
          <mat-checkbox class="mgright25 example-margin d-flex" formControlName="chiefComplaint"
            (change)="changeChiefComplaint($event)">
            <div class="form-title">Chief Complaint</div>
          </mat-checkbox>
        </div>
        <div *ngIf="showChiefIssue">
          <div class="bggrey my-2">
            <div class="d-flex">
              <div class="form-title">Chief Issues</div>
            </div>
            <div class="fieldPadding">
              <input (keyup)="resetErrors()" type="text" formControlName="chiefIssue" placeholder=""
                class="form-control" autocomplete="off" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7">
        <div class="bggrey my-2">
          <div class="d-flex">
            <div class="form-title">Upload Files</div>
          </div>
          <div class="fieldPadding photo-border">
            <div class='file file--upload'>
              <label for='photoAttach' (click)="photoAttach.click()">
                Add image
              </label>
              <input #photoAttach type='file' (change)="filesSelected($event,'photo')"
                accept="image/*;capture=camera" />
            </div>
          </div>
          <div class="img-section clearfix"
            *ngIf="selectedFiles['photo'] && selectedFiles['photo'].files && selectedFiles['photo'].files.length > 0">
            <ul class="galul">
              <li *ngFor="let file of selectedFiles['photo'].files;let i = index ">
                <div class="galimg_outer">
                  <div class="gal_img pointer-cursor">
                    <img [src]="getImage(selectedFiles['photo'].base64[i], file)"
                      *ngIf="selectedFiles['photo'].base64[i]" width="100px" height="100px">
                    <a [href]="file.s3path" target="_blank">
                      <img [src]="getImagefromUrl(file.s3path,file)"
                        *ngIf="!selectedFiles['photo'].base64[i] && file.s3path" width="100px" height="100px">
                    </a>
                  </div>
                  <div class="gal_action" (click)="deleteTempImage(i, 'photo',file)">
                    <i class=" fa fa-times-circle" aria-hidden="true"></i>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <br />
  </form>
  <div class="mt-2">
    <button class="btn btn-cancel mr-2 " (click)="goBack()">
      Cancel
    </button>
    <button class="btn btn-draftt mr-2" (click)="saveTeeth()">
      Save
    </button>
  </div>
</div>
