.bg-cover {
    height: 200px;
    background-attachment: fixed;
    margin-bottom: 20px;
}
.mt-80 {
    margin-top: 80px;
}
.svg-align {
    overflow: hidden;
    vertical-align: middle;
}
.ansr {
    color: #7E8299 !important;
    padding-left: 30px;
    margin-bottom: 20px;
}
.svg-icon.svg-icon-success svg g [fill] {
    -webkit-transition: fill 0.3s ease;
    transition: fill 0.3s ease;
    fill: #1BC5BD !important;
  }