<mat-dialog-content>
    <form novalidate (keyup)="doResetApiErrors()" class="ynw-common-form">
        <div class="form-group">
            <ng-container>
                <div class="message-one" *ngIf="type !== 'forgot_password'">
 
 <b>Congratulations!</b>
  <p> <b>You have become a Jaldee <b *ngIf="checkConsumerOrProvider == 'true'">partner</b><b *ngIf="checkConsumerOrProvider == 'false'">user</b>. </b></p>
  <p class="form-level-settings">  Please set your password to continue sign up process</p>

                </div>
            </ng-container>
            <mat-form-field>
                <input matInput [formControl]="spForm.controls['new_password']" placeholder="Enter Password"
                    validateEqual="confirm_password" reverse="true" type="password" autocomplete="off" id="newpassfield"
                    tabindex="1">
            </mat-form-field>
            <app-field-error-display [displayError]="fed_service.isFieldValid(spForm,'new_password')" [errorMsgs]="fed_service.getErrorMessage(spForm,'new_password',
      {'required' : 'Password is required',
      'pattern' : 'Use minimum 8 characters with atleast one uppercase, lowercase and number'})">
            </app-field-error-display>
            <span class="form-level-settings">{{password_valid_cap}}</span>
        </div>
        <div class="form-group">
            <mat-form-field>
                <input matInput placeholder="Re-enter Password" [formControl]="spForm.controls['confirm_password']"
                    validateEqual="new_password" type="password" autocomplete="off" tabindex="2" (keyup)="keyPressed($event)"
                    (blur)="keyPressed($event)">
            </mat-form-field>
            <!-- <app-field-error-display [displayError]="isValidConfirm_pw" errorMsg="Does not match, retype your password">
            </app-field-error-display> -->
            <app-field-error-display [displayError]="fed_service.isFieldValid(spForm,'confirm_password')" errorMsg="Does not match, retype your password">
            </app-field-error-display>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button type="button" mat-button class="pass_butt cancel-btn-color" (click)="cancelDialog()" tabindex="-1">Cancel</button>
    <button type="button" mat-button class="pass_butt" [disabled]="!spForm.valid" tabindex="3" (click)="doOnPasswordSubmit(spForm.value)">Ok</button>
</mat-dialog-actions>