mat-dialog-content.cust-loginpge-color {
    overflow: auto !important;
}

.cust-loginpge-color .ynw-common-form .message-one {
    color: darkslategrey !important;
}

.cust-loginpge-color .ynw-common-form .message-one .form-level-settings {
    color: darkslategrey !important;
}

.cust-loginpge-color .ynw-common-form .paswrd mat-label {
    color: darkslategrey !important;
    font-weight: 700 !important;
    font-size: 0.85rem !important;
    margin-bottom: 5px !important;
    display: block !important;
}

.cust-loginpge-color .ynw-common-form .paswrd input {
    border: 1px solid #c7cace !important;
    border-radius: 4px !important;
    background-color: white !important;
    box-shadow: inset 0 0 3px #c7cace !important;
    height: 44px !important;
    width: 100% !important;
}

.cust-loginpge-color .ynw-common-form .paswrd input:focus {
    border-color: #3498db !important;
    box-shadow: inset 0 0 3px #3498db !important;
}

.cust-loginpge-color .ynw-common-form .paswrd input.ng-invalid.ng-touched {
    /* box-shadow: inset 0 0 3px #c0392b !important; */
    border-color: #c0392b !important;
    box-shadow: inset 0 0 2px red !important;
}

::ng-deep .cust-loginpge-color .ynw-common-form .paswrd .sts-msg.error {
    padding-left: 0 !important;
    font-weight: 700 !important;
    font-size: 0.725rem !important;
    color: red !important;
}

.cust-loginpge-color .ynw-common-form .reenter-paswrd mat-label {
    color: darkslategrey !important;
    font-weight: 700 !important;
    font-size: 0.85rem !important;
    margin-bottom: 5px !important;
    display: block !important;
}

.cust-loginpge-color .ynw-common-form .reenter-paswrd input {
    border: 1px solid #c7cace !important;
    border-radius: 4px !important;
    background-color: white !important;
    box-shadow: inset 0 0 3px #c7cace !important;
    height: 44px !important;
    width: 100% !important;
}

.cust-loginpge-color .ynw-common-form .reenter-paswrd input:focus {
    border-color: #3498db !important;
    box-shadow: inset 0 0 3px #3498db !important;
}

.cust-loginpge-color .ynw-common-form .reenter-paswrd input.ng-invalid.ng-touched {
    /* box-shadow: inset 0 0 3px #c0392b !important; */
    border-color: #c0392b !important;
    box-shadow: inset 0 0 2px red !important;
}

::ng-deep .cust-loginpge-color .ynw-common-form .reenter-paswrd .sts-msg.error {
    padding-left: 0 !important;
    font-weight: 700 !important;
    font-size: 0.725rem !important;
    color: red !important;
}

mat-dialog-actions.cust-loginpge-color .cancel-button,
mat-dialog-actions.cust-loginpge-color .ok-button {
    width: 49% !important;
    color: white !important;
    margin: 0 !important;
    background-color: #ccc !important;
    border-radius: 4px !important;
    vertical-align: baseline !important;
    opacity: 1 !important;
}

mat-dialog-actions.cust-loginpge-color .ok-button:disabled {
    opacity: 0.3 !important;
}
