<section class="card">
  <div class="title-gb no-padding">
    <div class="dash-head">
      <div class="arrowLeftIcon"> <i class="fa fa-arrow-left iconClr" aria-hidden="true" (click)="goback()"></i></div>
      <div>{{headerName}}</div>
    </div>
  </div>
</section>

<section class="card col-md-12">
  <app-common-innerloading-spinner *ngIf="api_loading"></app-common-innerloading-spinner>
  <div class="content comn-cls dashboard audit" *ngIf="!api_loading">
    <div class="col-md-12 no-padding-small">
      <div class="row">
        <div class="card p0 w-dta">
          <div class="table-responsive dash-list">
            <table class="table" style="background-color: white;">
              <thead>
                <tr class="tble-filtr-tr heght">
                  <th class="head_color">Customer</th>
                  <th class="head_color">Employee</th>
                  <th class="head_color">Enquiry Date</th>
                  <th class="head_color">Status</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngIf="followups.length === 0">
                  <tr>
                    <td class="nodatafound" colspan="5">{{no_tasks_cap}}</td>
                  </tr>
                </ng-container>
                <ng-container *ngIf="followups.length > 0">
                  <tr *ngFor="let task of followups; let i=index" class="pointer-cursor"
                    (click)="followupClicked(task)">
                    <td class="td2"><span *ngIf="task.customer">{{task.customer.name}}</span></td>
                    <td class="td3"><span *ngIf="task.assignee">{{task.assignee.name}}</span></td>
                    <td *ngIf="task.createdDate">{{task.createdDate}}</td>
                    <td class="td4" *ngIf="task.status" [ngStyle]="{'color': getColor(task.status.name)}">
                      <div *ngIf="task.status.name==='New'" style="width: min-content !important;
                          padding: 10px !important;
                          color: #00D1FF !important;
                          background: #D6F5FF !important;
                          border-radius: 7px!important;text-align:center;width: 7rem !important;">
                        {{task.status.name}}
                      </div>
                      <div *ngIf="task.status.name==='Pending'" style="width: min-content !important;
                          padding: 10px !important;
                          color: #FF9549 !important;
                          background: #FEECD7 !important;
                          border-radius: 7px!important;text-align:center;width: 7rem !important;">
                        {{task.status.name}}
                      </div>
                      <div *ngIf="task.status.name==='Completed'" style="width: min-content !important;
                          padding: 10px !important;text-align:center;width: 7rem !important;
                          background: #D7FEE9 !important;
    border: 1px solid #D7FFE9 !important;
    color: #38C984 !important;
                          border-radius: 7px!important">
                        {{task.status.name}}
                      </div>
                      <div
                        *ngIf="task.status.name !=='New' && task.status.name !=='Pending' &&task.status.name !== 'Completed'"
                        style="width: min-content !important;
                          padding: 10px !important;color: #38C984 !important;background: #D7FEE9;text-align:center;width: 7rem !important;border: 1px solid #D7FFE9;border-radius: 7px!important">
                        {{task.status.name}}
                      </div>
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
            <div class="search_paging" *ngIf="pagination.totalCnt >= 10">
              <app-pager [total_pages]="pagination.totalCnt" [pagesize]="pagination.perPage"
                (pagerclick)="handle_pageclick($event)" [curpage]="pagination.startpageval">
              </app-pager>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>