<section>
    <app-provider-subheader [activeTab]="'settings'"></app-provider-subheader>
    <app-breadcrumb [breadcrumbs]="breadcrumbs"></app-breadcrumb>
</section>

<section>
    <div class="content loc-list">
        <div class="container">
            <div class="row">
                <div class="card p0">
                    <div class="copy locd">
                        <div class="lbl col-sm-12 col-md-8 col-lg-8">
                            <div class="cl1">
                                <div class="ot-it" *ngIf="jCoupon">
                                    <h4>{{jCoupon.couponName | capitalizeFirst}}</h4>
                                    <div class="it-des">
                                        {{jCoupon.couponDescription | capitalizeFirst}}
                                    </div>
                                    <div class="c-ot">
                                        <div class="item">
                                            <span class="ttle">Valid Through</span>
                                            <span>{{formatDateDisplay(jCoupon.couponRules.startDate)}} -
                                                {{formatDateDisplay(jCoupon.couponRules.endDate)}}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="c-ot rules-cap">
                                        <h6>{{rules_cap}}</h6>
                                    </div>
                                    <div class="c-ot" *ngIf="jCoupon.couponRules.discountValue || jCoupon.couponRules.maxDiscountValue">
                                        <div class="item col-md-6 col-xs-12 col-lg-6 col-sm-12" *ngIf="jCoupon.couponRules.discountValue">
                                            <span class="ttle">{{disc_value}}</span>
                                            <span> {{jCoupon.couponRules.discountValue}}</span>
                                        </div>
                                        <div class="item col-md-6 col-xs-12 col-lg-6 col-sm-12" *ngIf="jCoupon.couponRules.maxDiscountValue">
                                            <span class="ttle">{{max_disc_value}}</span>
                                            <span> {{jCoupon.couponRules.maxDiscountValue}}</span>
                                        </div>
                                    </div>
                                    <div class="c-ot" *ngIf="jCoupon.couponRules.selfPaymentRequired || jCoupon.couponRules.onlineCheckinRequired">
                                        <div class="item col-md-6 col-xs-12 col-lg-6 col-sm-12" *ngIf="jCoupon.couponRules.selfPaymentRequired">
                                            <span class="ttle">{{self_payment}}</span>
                                            <span> {{jCoupon.couponRules.selfPaymentRequired}}</span>
                                        </div>
                                        <div class="item col-md-6 col-xs-12 col-lg-6 col-sm-12" *ngIf="jCoupon.couponRules.onlineCheckinRequired">
                                            <span class="ttle">{{online_check}}</span>
                                            <span> {{jCoupon.couponRules.onlineCheckinRequired}}</span>
                                        </div>
                                    </div>
                                    <div class="c-ot" *ngIf="jCoupon.couponRules.providerFirstCheckInUseOnly || jCoupon.couponRules.usageMaxLimitPerProvider">
                                        <div class="item col-md-6 col-xs-12 col-lg-6 col-sm-12" *ngIf="jCoupon.couponRules.providerFirstCheckInUseOnly">
                                            <span class="ttle">{{prov_check_usage}}</span>
                                            <span> {{jCoupon.couponRules.providerFirstCheckInUseOnly}}</span>
                                        </div>
                                        <div class="item col-md-6 col-xs-12 col-lg-6 col-sm-12" *ngIf="jCoupon.couponRules.usageMaxLimitPerProvider">
                                            <span class="ttle">{{usage_limit}}</span>
                                            <span> {{jCoupon.couponRules.usageMaxLimitPerProvider}}</span>
                                        </div>
                                    </div>
                                    <div class="c-ot" *ngIf="jCoupon.couponRules.defaultEnable || jCoupon.couponRules.alwaysEnabled">
                                        <div class="item col-md-6 col-xs-12 col-lg-6 col-sm-12" *ngIf="jCoupon.couponRules.defaultEnable">
                                            <span class="ttle">{{default_enable}}</span>
                                            <span> {{jCoupon.couponRules.defaultEnable}}</span>
                                        </div>
                                        <div class="item col-md-6 col-xs-12 col-lg-6 col-sm-12" *ngIf="jCoupon.couponRules.alwaysEnabled">
                                            <span class="ttle">{{always_enable}}</span>
                                            <span> {{jCoupon.couponRules.alwaysEnabled}}</span>
                                        </div>
                                    </div>
                                    <div class="c-ot" *ngIf="jCoupon.couponRules.combineWithOtherjCoupon || jCoupon.couponRules.maxReimbursePercentage">
                                        <div class="item col-md-6 col-xs-12 col-lg-6 col-sm-12" *ngIf="jCoupon.couponRules.combineWithOtherjCoupon">
                                            <span class="ttle">{{combine_j_coupon}}</span>
                                            <span> {{jCoupon.couponRules.combineWithOtherjCoupon}}</span>
                                        </div>
                                        <div class="item col-md-6 col-xs-12 col-lg-6 col-sm-12" *ngIf="jCoupon.couponRules.maxReimbursePercentage">
                                            <span class="ttle">{{reimburse_perc}}</span>
                                            <span> {{jCoupon.couponRules.maxReimbursePercentage}}</span>
                                        </div>
                                    </div>
                                    <div class="c-ot" *ngIf="jCoupon.couponRules.maxConsumerUseLimit || jCoupon.couponRules.maxProviderUseLimit">
                                        <div class="item col-md-6 col-xs-12 col-lg-6 col-sm-12" *ngIf="jCoupon.couponRules.maxConsumerUseLimit">
                                            <span class="ttle">{{consu_use_limit}}</span>
                                            <span> {{jCoupon.couponRules.maxConsumerUseLimit}}</span>
                                        </div>
                                        <div class="item col-md-6 col-xs-12 col-lg-6 col-sm-12" *ngIf="jCoupon.couponRules.maxProviderUseLimit">
                                            <span class="ttle">{{pro_use_limit}}</span>
                                            <span> {{jCoupon.couponRules.maxProviderUseLimit}}</span>
                                        </div>
                                    </div>
                                    <div class="c-ot" *ngIf="jCoupon.couponRules.consumerTermsAndcondition && jCoupon.couponRules.consumerTermsAndcondition.trim()!=''">
                                        <div class="item col-md-12 col-xs-12 col-lg-12 col-sm-12">
                                            <span class="ttle">{{term_condition}}</span>
                                            <span> {{jCoupon.couponRules.consumerTermsAndcondition}}</span>
                                        </div>
                                    </div>
                                    <div class="c-ot" *ngIf="jCoupon.couponRules.providerDescription && jCoupon.couponRules.providerDescription.trim()!=''">
                                        <div class="item col-md-12 col-xs-12 col-lg-12 col-sm-12">
                                            <span class="ttle">{{provider_desc}}</span>
                                            <span> {{jCoupon.couponRules.providerDescription}}</span>
                                        </div>
                                    </div>
                                    <div class="btm-ctrl">
                                        <div class="ctrl enable-disable">
                                            <span class="ttle">Coupon Status</span>
                                            <span *ngIf="jCoupon.couponRules.alwaysEnabled!=true">
                                                <mat-slide-toggle [checked]="jCoupon.couponstate=='ENABLED'" (change)="changeCouponStatus(jCoupon)"></mat-slide-toggle>
                                            </span>
                                            <span class='enabled' *ngIf="jCoupon.couponState=='ENABLED'">{{enable_cap}}</span>
                                            <span class='disabled' *ngIf="jCoupon.couponState=='DISABLED' || !jCoupon.couponState">{{disbale_cap}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="lbr col-sm-12 col-md-4 col-lg-4">
                            <div class="cr1" *ngIf="jCouponStat">
                                <h5>{{chart_cap}}</h5>
                                <div class="chart">
                                    <p> Coupon Amount : {{jCouponStat.providerUsage.usageAmt}}</p>
                                    <p> Usage Count : {{jCouponStat.providerUsage.usageCount}}</p>
                                    <p> Reimbursed by Jaldee : {{jCouponStat.providerUsage.reimbursed}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Card ends here-->
            </div>
        </div>
    </div>
</section>