<section class="">
  <div class="card title-gb">
    <h5 class="mgn-up-10">
      <span class="fa fa-arrow-left pointer-cursor" (click)="goBack()"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </h5>
  </div>
</section>
<section class="content p-4">
  <div *ngIf="api_loading" class="card">
    <app-common-innerloading-spinner> </app-common-innerloading-spinner>
  </div>
  <div class="row pad10" *ngIf="!api_loading">
    <div class="col-lg-8">
      <app-service-actions [waitlist_data]="waitlist_data" [showToken]="showToken">
      </app-service-actions>
      <div class="card card-custom mgn-bt-20 wave-success p-0 booking-details">
        <app-customer-booking-details [waitlist_data]="waitlist_data" (getHeight)="getHeight($event)">
        </app-customer-booking-details>
      </div>
    </div>
    <div class="col-lg-4 no-padding-big mgn-bt-10">
      <app-provider-inbox-list [customer]="customer" [provider]="provider" [source]="'details'" [height]="height"
        [status]="wlStatus">
      </app-provider-inbox-list>
    </div>
  </div>
  <div class="col-xs-12 col-md-12 no-padding appointments-and-doctors-row mgn-bt-20" *ngIf="!api_loading">
    <div class="column"
      *ngIf="(domain === 'healthCare' || domain === 'veterinaryPetcare') && subdomain !=='laboratory' && subdomain !=='pharmacy'">
      <app-booking-medical-records-rx [customerId]="customerId" [waitlist_data]="waitlist_data" [source]="'details'"
        [type]="'mr'">
      </app-booking-medical-records-rx>
    </div>
    <div class="column"
      *ngIf="(domain === 'healthCare' || domain === 'veterinaryPetcare') && subdomain !=='laboratory' && subdomain !=='pharmacy'">
      <app-booking-medical-records-rx [customerId]="customerId" [waitlist_data]="waitlist_data" [source]="'details'"
        [type]="'rx'"></app-booking-medical-records-rx>
    </div>
    <div class="column">
      <app-booking-bill [waitlist_data]="waitlist_data" [bookingType]="bookingType" [pos]="pos">
      </app-booking-bill>
    </div>
    <div class="column">
      <app-booking-private-notes [uuid]="uuid"
        [waitlistStatus]="(waitlist_data.waitlistStatus) ? waitlist_data.waitlistStatus : waitlist_data.apptStatus"
        [bookingType]="bookingType" [view]="'small'">
      </app-booking-private-notes>
    </div>
    <div class="column">
      <app-booking-documents [source]="bookingType" [waitlist_data]="waitlist_data" [widget]="true">
      </app-booking-documents>
    </div>
    <div class="column" *ngIf="waitlist_data.releasedQnr && waitlist_data.releasedQnr.length > 0">
      <div class="card">
        <div class="card-header" *ngIf="!small_device_display">
          <div>{{customer_label | capitalizeFirst}} info</div>
          <i class="fa fa-external-link pointer-cursor" aria-hidden="true" (click)="gotoQnr()"></i>
        </div>
        <div class="card-header collapsed" style="padding: 20px 10px !important;" *ngIf="small_device_display"
          data-toggle="collapse" data-target="#info" aria-expanded="false">
          <div>{{customer_label | capitalizeFirst}} info</div>
          <div class="mgn-lt-auto">
            <i (click)="gotoQnr()" class="fa fa-external-link pointer-cursor" aria-hidden="true"></i>
            <i class="fa fa-angle-down"></i>
          </div>
        </div>
        <div class="qnr-hgt" id="info" [class.collapse]="small_device_display">
          <app-questionnaire-list-popup [source]="bookingType" [uid]="uuid" [type]="'details'"
            [waitlist_data]="waitlist_data">
          </app-questionnaire-list-popup>
        </div>
      </div>
    </div>
  </div>
</section>