<section class="">
  <div class="card title-gb">
    <h5 class="mgn-up-10">
      <span class="fa fa-arrow-left pointer-cursor" (click)="goBack()"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </h5>
  </div>
</section>
<section class="content p-4">
  <div class="row pad10">
    <div class="col-lg-8">
      <div *ngIf="api_loading" class="card">
        <app-common-innerloading-spinner> </app-common-innerloading-spinner>
      </div>
      <app-service-actions *ngIf="!api_loading" [waitlist_data]="waitlist_data" [showToken]="showToken">
      </app-service-actions>
      <div class="card card-custom mgn-bt-20 wave-success p-0 booking-details">
        <app-customer-booking-details *ngIf="!api_loading" [waitlist_data]="waitlist_data"
          (getHeight)="getHeight($event)">
        </app-customer-booking-details>
      </div>
    </div>
    <div class="col-lg-4 no-padding-big mgn-bt-10"
      *ngIf="(waitlist_data && waitlist_data.waitlistStatus && waitlist_data.waitlistStatus!=='blocked') || (waitlist_data && waitlist_data.apptStatus && waitlist_data.apptStatus!=='blocked')">
      <app-provider-inbox-list [customer]="customer" [provider]="provider" [source]="'details'" [height]="height">
      </app-provider-inbox-list>
    </div>
  </div>
  <div class="appointments-and-doctors-row" *ngIf="!api_loading">
    <div class="column"
      *ngIf="(domain === 'healthCare' || domain === 'veterinaryPetcare') && subdomain !=='laboratory' && subdomain !=='pharmacy'">
      <app-booking-medical-records [customerId]="customerId" [waitlist_data]="waitlist_data">
      </app-booking-medical-records>
    </div>
    <div class="column"
      *ngIf="(domain === 'healthCare' || domain === 'veterinaryPetcare') && subdomain !=='laboratory' && subdomain !=='pharmacy'">
      <app-booking-prescriptions></app-booking-prescriptions>
    </div>
    <div class="column">
      <app-booking-bill [waitlist_data]="waitlist_data" [bookingType]="bookingType" [pos]="pos">
      </app-booking-bill>
    </div>
    <div class="column">
      <app-booking-private-notes [uuid]="uuid" [waitlist_data]="waitlist_data" [bookingType]="bookingType">
      </app-booking-private-notes>
    </div>
    <div class="column">
      <app-booking-documents></app-booking-documents>
    </div>
    <div class="column"
      *ngIf="waitlist_data.questionnaire && waitlist_data.questionnaire.questionAnswers && waitlist_data.questionnaire.questionAnswers.length > 0">
      <div class="card">
        <div class="card-header">
          <div>{{customer_label | capitalizeFirst}} info</div>
        </div>
        <div class="qnr-hgt">
          <app-questionnaire [source]="source" [uuid]="uuid" [type]="'details'"></app-questionnaire>
        </div>
      </div>
    </div>
  </div>
</section>