.fa-dot-circle-o {
    font-weight: 100;
    font-size: 0.8rem;
    color: #11ba11;
}
.text-success {
    color: green !important;
}
.lh-1 {
    line-height: 0.8 !important;
}
.disp-grid {
    display: grid  !important;
}
.btn-start {
    background: green;
    color: white;
}
.font-p8 {
    font-size: 0.8rem !important;
}
.round-10 {
    border-radius: 10px;
}
.fade {
    opacity: 4 !important;
}
.bdr_adjust {
    min-height: 30px;
    border-bottom: 1px solid #80808030 !important;
}
.bder_grey {
    border-bottom: 1px solid #80808052 !important;
}
.min-ht-60 {
    min-height: 60px !important;
}
.font-1rem {
    font-size: 1rem !important;
}
.stretch_card {
    height: 100%;
}

.data-card {
    box-shadow: none !important;
    border-radius: 0 !important;
    padding: 0 !important;
}

.border-class:nth-child(1),
.border-class:nth-child(2),
.border-class:nth-child(3) {
    border-top: 1px solid #d0d0d0 !important;
    border-right: 1px solid #d0d0d0 !important;
    border-bottom: 1px solid #d0d0d0 !important;
}

.border-class:nth-child(1)/* ,
.border-class:nth-child(4) */ {
    border-left: 1px solid #d0d0d0 !important;
}

/* .border-class:nth-child(4) {
    border-right: 1px solid #d0d0d0 !important;
    border-bottom: 1px solid #d0d0d0 !important;
} */

@media (max-width: 767px) {
    .border-class:nth-child(1),
    .border-class:nth-child(2),
    .border-class:nth-child(3)/* ,
    .border-class:nth-child(4) */ {
        border: 1px solid #d0d0d0 !important;
    }
}

.card.data-card .card-header {
    padding: 8px 10px !important;
    border-radius: 0 !important;
    border-bottom: 1.75px solid #d0d0d0 !important;
    font-size: 13px !important;
    text-transform: uppercase !important;
    color: #395789 !important;
    font-weight: 700 !important;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    min-height: auto !important;
}

.card.data-card .card-header i {
    color: #395789 !important;
    font-family: 'FontAwesome' !important;
    font-size: 13px !important;
    font-weight: 700 !important;
}

.cards-div > .border-class:nth-child(1) {
    border-top-left-radius: 0.6rem !important;
    border-bottom-left-radius: 0.6rem !important;
    overflow: hidden !important;
}

.cards-div > .border-class:last-child {
    border-top-right-radius: 0.6rem !important;
    border-bottom-right-radius: 0.6rem !important;
    overflow: hidden !important;
}

@media (max-width: 767px) {
    .cards-div > .border-class {
        border-radius: 0.6rem !important;
        overflow: hidden !important;
    }
}

