/* .qnr-action-btns {
    width: 100px
} */
.mat-dialog-title .modal_close {
    color: black !important;
}
.qnr-list {
    padding: 10px;
}
.wrd-brk {
    word-break: break-word;
}
.qnr-action-btns a {
    padding: 5px 20px;
    border: 1px solid #ccc;
    color: black;
    border-radius: 5px;
    border-color: #1e4079 !important;
    margin: 5px;
}
.qnr-action-btns a:hover {
    background: #1e4079 !important;
    color: white;
    box-shadow: 0 4px 4px 0 #1e4079;
}


.qnr-details {
    max-height: 90vh;
    overflow: auto;
    padding: 20px;
}
.qnrlist .row_data {
    font-size: 0.75rem !important;
    font-weight: 600 !important;
}
.bookingQnr,
.bookingQnr div {
    height: 100%;
}
.bookingQnr .card,
.bookingQnr .content {
    padding: 0 !important;
}
h5 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}
.table td {
    padding: 0.75rem;
}

@media (max-width: 500px) {
    .qnr-action-btns a {
        padding: 5px !important;
    }
    .table td {
        padding: 0.75rem 0.25rem 0.75rem 0.25rem;
    }
}
@media (min-width: 992px)
{
.content {
    padding: 25px 0;
}
}
@media (min-width: 992px)
{
.col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
}
}
@media (min-width: 768px)
{
.col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
}
}
@media (min-width: 576px)
{
.col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
}
}
.col-lg-12, .col-sm-12, .col-md-12
{
    position: relative;
    width: 100%;
    padding-right: 12.5px;
    padding-left: 12.5px;
}
.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #3f4254;
    background-color: transparent;
}
.table-borderless td {
    border: 0;
}
@media (max-width: 991.98px)
{
.content {
    padding: 15px 0;
}
}
i {
    font-size: 1.25rem;
    color: #b5b5c3;
}
.mat-expansion-panel-header {
    padding: 0 10px !important;
}
@media(max-width:400px) {
    .mat-expansion-panel-header-title, .mat-expansion-panel-header-description {
        font-size: 0.85rem !important;
    }
    .qnr-action-btns a{
        font-size: 0.75rem !important;
    }
 
}