<h1 class="mat-dialog-title" style="font-size: 1.2rem !important;">
   Patient Visit List
    <button mat-dialog-close class="modal_close" tabindex="-1"><i class="fa fa-window-close"
            aria-hidden="true"></i></button>
  </h1>

  <section class="report">
    <div class="content w-manager settings comn-cls lic-page">
      <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 no-padding-small">
        <div class="box" >
         <mat-table [dataSource]="lastVisit_dataSource">
          <ng-container matColumnDef="consultationDate">
            <mat-header-cell *matHeaderCellDef>Consultation Date</mat-header-cell>
            <mat-cell *matCellDef="let visit">
              {{visit.createdDate}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="serviceName">
            <mat-header-cell *matHeaderCellDef>Service Name</mat-header-cell>
            <mat-cell *matCellDef="let visit">
              {{visit.service.name}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="userName">
            <mat-header-cell *matHeaderCellDef>User Name</mat-header-cell>
            <mat-cell *matCellDef="let visit">
               {{visit.user}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="mr_createdDate">
            <mat-header-cell *matHeaderCellDef>MR</mat-header-cell>
            <mat-cell *matCellDef="let visit"> <button (click)="medicalRecord"> ViewMR</button> </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="lastVisit_displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row;columns:lastVisit_displayedColumns"></mat-row>

        </mat-table>
    </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </section>
