<app-healthcare-paymentsettings [target]="target" *ngIf="curtype=='healthCare'"></app-healthcare-paymentsettings>

<app-personalcare-paymentsettings [target]="target" *ngIf="curtype=='personalCare'"></app-personalcare-paymentsettings>

<app-professional-paymentsettings [target]="target" *ngIf="curtype=='professionalConsulting'"></app-professional-paymentsettings>

<app-finance-paymentsettings [target]="target" *ngIf="curtype=='finance'"></app-finance-paymentsettings>

<app-foodjoint-paymentsettings [target]="target" *ngIf="curtype=='foodJoints'"></app-foodjoint-paymentsettings>

<app-vastu-paymentsettings [target]="target" *ngIf="curtype=='vastuAstrology'"></app-vastu-paymentsettings>

<app-veterinary-paymentsettings [target]="target" *ngIf="curtype=='veterinaryPetcare'"></app-veterinary-paymentsettings>

<app-religious-paymentsettings [target]="target" *ngIf="curtype=='religiousPriests'"></app-religious-paymentsettings>
