.success-sec {
    text-align: center;
    padding: 50px;
    background: white;
    box-shadow: 5px 3px 10px rgb(0 0 0 / 20%) !important;
    margin-top: 15%;
}
.success-head {
    color: #00cc96;
    font-size: 1.7rem;
    font-weight: bold;
    margin: 20px 0 5px;
}
.expired-head {
    color: red;
    font-size: 1.7rem;
    font-weight: bold;
    margin: 20px 0 5px;
}
.success-desc {
    color: grey;
}
@media (min-width: 992px) {
    .success-width {
        width: 50%;
    }
}
.qnr-link .panel {
    margin-top: 20px !important;
}
.qnr-link .customer-details .value {
    font-size: 1.1rem !important;
    font-weight: 500 !important;
}
.qnr-link .customer-details-head h5 {
    font-weight: 700 !important;
    font-size: 1.5rem !important;
    margin-bottom: 5px !important;
    text-overflow: ellipsis !important;
    overflow: hidden !important;
    display: inline-block !important;
    width: calc(100% - 85px) !important;
    white-space: nowrap !important;
}
.details-pad {
    padding: 0 10px 20px !important;
    color: #797979 !important;
}
.details-pad .card {
    box-shadow: 5px 3px 10px rgb(0 0 0 / 20%) !important;
}

.customer-details i.icon {
    font-family: 'FontAwesome' !important;
    font-weight: 500 !important;
    font-size: 13px !important;
    color: #28a1ac !important;
    width: 20px !important;
    display: inline-flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin-right: 5px !important;
}
.customer-details i.icon.fa.fa-map-marker {
    font-size: 15px !important;
}
.customer-details i.icon.fa.fa-mobile {
    font-size: 20px !important;
}
.fa-check-circle {
    font-size: 5rem;
}