.act-img {
    width: 100% !important;
    height: 76px!important;    
    border-radius: 12px !important;
    border: 1px solid #F2F2F2 !important;
    filter: drop-shadow(0px 3.90116px 3.90116px rgba(0, 0, 0, 0.04)) !important;
}
.card {
    /* width: 170px!important; */
    height: 150px!important;
    padding: 5px!important;
    background: #FFFFFF;
    border: 1.24533px solid #F5F5F5!important;
    box-shadow: 0px 4.35834px 10.0314px rgba(137, 137, 137, 0.18) !important;
    border-radius: 12px !important;   
} 
.hed {
    font-weight: bold !important;
    font-size: 12px!important;
    color: #2F2B2B!important;
    /* width: 88px!important; */
    height: 30px!important;
    padding-left: 3px!important;
    padding-top: 5px!important;
    margin: 0px !important;
}
.detai {
    font-weight: 300;
    font-size: 9px!important;
    color: #9C9C9C !important;
    height: 30px!important;
    /* width: 150px!important; */
    margin: 0px !important;
    padding-left: 3px!important;
    padding-top: 5px!important;
    word-break: break-all !important;
}
.main {
    padding: 0px 0px 0px 11px!important;
    /* display: inline-flex; */
    gap: 15px!important;
    /* margin-left: 0px!important; */
}
.pad-3 {
    padding: 3px !important;
}
h5{
    font-weight: 600;
    font-size: 14px;
}