<section class="">
    <div class="card title-gb">
        <h5 class="mgn-up-10">
            <span class="fa fa-arrow-left pointer-cursor"
                (click)="redirecToJaldeecatalog()"></span>&nbsp;&nbsp;&nbsp;&nbsp;
            select items
            <i class="fa fa-question-circle-o fa-lg fl-right" (click)="redirecToHelp()"></i>
        </h5>
    </div>
</section>
<section class="add_item_">
    <div *ngIf="api_loading">
        <app-common-innerloading-spinner></app-common-innerloading-spinner>
    </div>
    <!-- <div *ngIf="!api_loading && action === 'add'">

        <ng-container *ngIf="catalogItem && catalogItem.length > 0">
            <div class="card">
            <mat-grid-list cols="{{no_of_grids}}" rowHeight="150px" [gutterSize]="'20px'">
                <mat-grid-tile *ngFor="let item of catalogItem;let i=index;">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xs-12 fit_inside no-padding"  (click)="selectItem(item,i)" [class.itemselected]="item.selected">
                        <div class="col-sm-5 col-md-5 col-lg-5 col-xl-5 col-xs-5 fit_inside  no-padding">
                            <img [src]="getItemImg(item)" > 
                        </div>
                        <div class="col-sm-7 col-md-7 col-lg-7 col-xl-7 col-xs-7 fit_inside no-padding">
                            <div class="item-name-outer">
                                <div class="item-name">{{item.displayName}}</div>
                                <div class="item-price price rupee-font">&#8377;{{item.price}}</div>
                            </div>
                            <div class="price_outer">
                                <input class="ip-field" id="minquty_{{item.itemId}}" type="number" value = "{{item.minQuantity}}" placeholder="Min Qty">
                                <input class="ip-field" id="maxquty_{{item.itemId}}" type="number" value = "{{item.maxQuantity}}" placeholder="Max Qty">
                            </div>
                        </div>
                    </div>
                </mat-grid-tile>
            </mat-grid-list>
        </div>


        </ng-container>
    </div> -->

    <div *ngIf="!api_loading && action === 'add'">

        <ng-container *ngIf="catalogItem && catalogItem.length > 0 && itemsforadd && itemsforadd.length ==  0">
            <div class="card">
            <mat-grid-list cols="{{no_of_grids}}" rowHeight="150px" [gutterSize]="'20px'">
                <mat-grid-tile *ngFor="let item of catalogItem;let i=index;">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xs-12 fit_inside no-padding"  (click)="selectItem(item,i)" [class.itemselected]="item.selected">
                        <div class="col-sm-5 col-md-5 col-lg-5 col-xl-5 col-xs-5 fit_inside  no-padding">
                            <img [src]="getItemImg(item)" > 
                        </div>
                        <div class="col-sm-7 col-md-7 col-lg-7 col-xl-7 col-xs-7 fit_inside no-padding">
                            <div class="item-name-outer">
                                <div class="item-name">{{item.displayName}}</div>
                                <div class="item-price price rupee-font">&#8377;{{item.price}}</div>
                            </div>
                            <div class="price_outer">
                                <input class="ip-field" id="minquty_{{item.itemId}}" type="number" min="1" value = "{{item.minQuantity}}" placeholder="Min Qty">
                                <input class="ip-field" id="maxquty_{{item.itemId}}" type="number" value = "{{item.maxQuantity}}" placeholder="Max Qty">
                            </div>
                        </div>
                    </div>
                </mat-grid-tile>
            </mat-grid-list>
        </div>


        </ng-container>
        <ng-container *ngIf=" itemsforadd && itemsforadd.length > 0">
                <div class="card">
                <mat-grid-list cols="{{no_of_grids}}" rowHeight="150px" [gutterSize]="'20px'">
                    <mat-grid-tile *ngFor="let item of itemsforadd;let i=index;">
                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xs-12 fit_inside no-padding"  (click)="selectaddItem(item,i)" [class.itemselected]="item.selected">
                            <div class="col-sm-5 col-md-5 col-lg-5 col-xl-5 col-xs-5 fit_inside  no-padding">
                                <img [src]="getItemImg(item)" > 
                            </div>
                            <div class="col-sm-7 col-md-7 col-lg-7 col-xl-7 col-xs-7 fit_inside no-padding">
                                <div class="item-name-outer">
                                    <div class="item-name">{{item.displayName}}</div>
                                    <div class="item-price price rupee-font">&#8377;{{item.price}}</div>
                                </div>
                                <div class="price_outer">
                                    <input class="ip-field" id="minquty_{{item.itemId}}" type="number" min="1" value = "{{item.minQuantity}}" placeholder="Min Qty">
                                    <input class="ip-field" id="maxquty_{{item.itemId}}" type="number" value = "{{item.maxQuantity}}" placeholder="Max Qty">
                                </div>
                            </div>
                        </div>
                    </mat-grid-tile>
                </mat-grid-list>
            </div>
    
    
            </ng-container>
    </div>

    <div *ngIf="!api_loading && action === 'add'">
        <div *ngIf="catalogItem && catalogItem.length > 0 && itemsforadd && itemsforadd.length ==  0">
        <div>{{selectedCount}} items are selected</div>
        <div> <button type="button" (click)="selectedItems()" [disabled]="selectedCount === 0" class="cs-btn bt1"
                mat-button>ok</button>
        </div>
    </div>

    <div *ngIf="itemsforadd && itemsforadd.length > 0">
            <div>{{selecteditemCount}} items are selected</div>
            <div> <button type="button" (click)="selectedaddItems()" [disabled]="selecteditemCount === 0" class="cs-btn bt1"
                    mat-button>ok</button>
            </div>
        </div>
    </div>
    <div *ngIf="!api_loading && action === 'edit'">

        <ng-container *ngIf="seletedCatalogItems && seletedCatalogItems.length > 0">
            <div class="card">
            <mat-grid-list cols="{{no_of_grids}}" rowHeight="150px" [gutterSize]="'20px'">
                <mat-grid-tile *ngFor="let item of seletedCatalogItems;let i=index;">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xs-12 fit_inside no-padding"  >
                        <div class="col-sm-5 col-md-5 col-lg-5 col-xl-5 col-xs-5 fit_inside  no-padding">
                            <img [src]="getItemImg(item.item)" > 
                        </div>
                        <div class="col-sm-7 col-md-7 col-lg-7 col-xl-7 col-xs-7 fit_inside no-padding">
                                
                            <div class="item-name-outer">
                                    <button class="pull-right" mat-icon-button [matMenuTriggerFor]="appMenu"  >
                                            <mat-icon>more_vert</mat-icon>
                                        </button>
                                        <mat-menu #appMenu="matMenu" >
                                            <button mat-menu-item  (click)="editCatalogItem(item)">
                                                <i class="icon-edit"></i>Edit</button> 
                                                <button mat-menu-item (click)="deleteCatalogItem(item)" >
                                                        <i class="icon-delete"></i>Delete</button>                                                
                                        </mat-menu>
                                <div class="item-name">{{item.item.displayName}}</div>
                                <div class="item-price price rupee-font">&#8377;{{item.item.price}}</div>
                            </div>
                            <div class="price_outer">
                                <small>Min quantity : {{item.minQuantity}}</small>
                                <small>Max quantity : {{item.maxQuantity}}</small>
                                <!-- <input class="ip-field" id="minquty_{{item.item.itemId}}" type="number" min="1" value = "{{item.minQuantity}}" placeholder="Min Qty">
                                <input class="ip-field" id="maxquty_{{item.item.itemId}}" type="number" value = "{{item.maxQuantity}}" placeholder="Max Qty"> -->
                            </div>
                        </div>
                    </div>
                </mat-grid-tile>
            </mat-grid-list>
        </div>


        </ng-container>
    </div>
</section>