<div class="lm-outer w-manager">
  <h4 class="adjust-delay-heading">NON WORKING DAY</h4>
            
      <p class = "adjust-delay-para">Non-Working Day allows the doctor to set up different Public holidays and other non-working days. Unless a holiday has been mentioned in this section, it will be assumed that the service is being provided during the working hours specified under the Working Hours. Here is how a doctor can update non-working days in <strong>Jaldee.</strong></p>
               
          <ol class="ol-normal adjust-delay-num">
                <li>Click <strong>“Add Non-Working Day”</strong> under Miscellaneous.</li>
                <li>Select the corresponding date of the holiday (use calendar).</li>
                <li>Enter the reason for the holiday.</li>
                <li>Next, enter the duration of non-working hours. Keep in mind that the start time cannot be a different time from the timing of the working hours.</li>
                <li>Before adding a non-working day, ensure to have no pending waitlists for the day’s working hours.</li>
                <li>Upon having all the information, click <strong>“Save”</strong> to add the holiday.</li>
                <li>Subsequently, to add more holidays, click <strong>“(+)”.</strong> </li>
                <li>The date, time, and reason for each non-working day are listed here.</li>
                <li>A provider can edit or delete a particular non-working day. To do so, click on the three dots menu given in the right corner.</li>
          </ol>
</div>
