

      <section >
        <div class="card title-gb">
          <h5 class="mgn-up-10">
              <button type="button" class="btn default profile-back" (click)="goBack()">
                  <span class="fa fa-chevron-left">&nbsp;Back</span></button>&nbsp;&nbsp;&nbsp;
                  Create prescription
          </h5>
        </div>
        <!-- </section>
        <section> -->
            <!-- <div class="content loc-list">
                <div class="col-md-12 no-padding-small">-->
                    <div class="card title-gb">
                        <div class="mgn-up-10">

                            <p>
                              <b>Patient:</b>
                              <span color="blue"> {{patientDetails.id}} &nbsp;</span>
                              <span>{{patientDetails.firstName | capitalizeFirst}} {{patientDetails.lastName}}</span>
                              <span *ngIf="patientDetails.dob|| patientDetails.gender ">({{patientDetails.dob}} {{patientDetails.gender | capitalizeFirst}})</span>
                            </p>
                            <!-- <p>Patient Name:{{patientFirstName | capitalizeFirst}} {{patientLastName}} </p>-->
                            <!-- <p>Patient Id: {{PatiendId}}</p>
                            <p *ngIf="PatientDob">DOB: {{PatientDob}} </p>
                            <p *ngIf="gender">Gender:{{gender | capitalizeFirst}}</p> -->

                        </div>
  <div class="no-dta"  *ngIf="selectedMessage.files && selectedMessage.files.length == 0">
    <h5> By clicking upload prescription you will have choice of uploading a file or taking picture</h5>
   <div>
         <button  mat-button style= "margin-left: 25%; margin-top: 1%;" class="cs-btn bt1 " >
                 <a class="pointer-cursor" style= "color: whitesmoke"
                 (click)="imagefile.click()"><input #imagefile type="file"
                     accept="/*;capture=camera" style="display:none;" multiple
                     (change)="filesSelected($event)">Upload
                 Prescription</a>

         </button>


     </div>
  </div>
  <div class="no-dta"  *ngIf="selectedMessage.files && selectedMessage.files.length > 0" >
         <h5> Files uploaded</h5>
     <table class="table table-bordered" (change)="somethingChanged()">
                 <thead>
                 <tr >
                   <th>
                       File name
                   </th>
                   <th>
                       status
                   </th>
                   <th>
                       Image size
                   </th>
                   <th>

                   </th>

                 </tr>
               </thead>
                 <tbody>
                   <tr *ngFor="let file of selectedMessage.files; let i = index;" >

                     <td >
                       {{file.name}}
                     </td>
                     <td >
                       {{upload_status}}
                     </td>
                     <td >
                     {{imageSize(file.size)}} KB
                     </td>
                      <td >
                       <span (click)="deleteTempImage(i)"> <i class="fa fa-trash" aria-hidden="true"></i></span>
                      </td>

                   </tr>
                 </tbody>
               </table>
<span>If you have multiple prescriptions images, <a class="lnk action pointer-cursor"
 (click)="imagefile.click()"><input #imagefile type="file"
     accept="/*;capture=camera" style="display:none;" multiple
     (change)="filesSelected($event)"><u>Upload
 another</u></a></span>
               <div *ngIf="selectedMessage.files && selectedMessage.files.length > 0 && showSave">
                     <button type="submit" mat-button  style= "margin-left: 40%; margin-top: 4%;" class="cs-btn bt1" (click)="saveImages()" >

                         Save</button>

                 </div>
                 <div *ngIf="selectedMessage.files && selectedMessage.files.length > 0 && !showSave">
                     <button type="submit" mat-button  style= "margin-left: 40%; margin-top: 4%;" class="cs-btn bt1" (click)="shareRximage()" >

                         Share Rx</button>

                 </div>
     </div>
     <!-- </div>
    </div>-->
  </div>


     </section>



