.heading {
    font-size: 15px !important;
    color: #1DA192;
}

.fa-times {
    color: red !important;
}

.btn-primary {
    background-color: #1E4079 !important;
    border-radius: 10px !important;
}
.flexClassHeading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.closeIcon{
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    text-align: center;
    background: #FFFFFF;
}
.closeIcon:hover{
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    text-align: center;
    background: #FFFFFF;
    border: 0.13368px solid #FFFFFF;
    box-shadow: 0px 0.534719px 11.8652px rgb(0 0 0 / 17%);
}
.confirmBtn {
    background: #0D2348 !important;
    box-shadow: 0.417685px 2.50611px 8.77138px 1.25305px rgba(30, 64, 121, 0.15) !important;
    border-radius: 3.75916px !important;
    border: 0px solid !important;
    padding: 6px 12px;
    color: #fff;
    font-weight: 500 !important;
      font-size: 12px;
  }
  .removeIcon{
    height: 25px;
    width: 25px;
    object-fit: cover;
    cursor: pointer;
  }
  .table{
    margin-bottom: 0px !important;
    margin-top: 10px !important;
    background: #FFFFFF !important;
    box-shadow: 0 0 10px rgba(0,0,0,.05) !important;
  }
  .headerTable{
    font-size: 13px;
    color: #000;
  }
  .tableRow{
    font-size: 13px;
    color: #06152B;
  }
  @media(max-width: 800px){
    .mobViewTable{
        display: grid !important;
    }
    .removeCls{
        display: flex;
        width: 50% !important;
        align-items: center;
        cursor: pointer;
    }
    table tbody tr {
      background: transparent !important;
    border: none !important;
    }
    .table-outer table tbody tr td{
      font-size: .875rem;
    vertical-align: top;
    min-height: 45px;
    background: #fff !important;
    margin-bottom: 5px !important;
    }
  }
   
  .galul {
    margin: 0 !important;
    padding: 0 !important;
    list-style: none !important;
  }
  
  .galul li {
    float: left !important;
  }
  
  .galimg_outer {
    position: relative !important;
    padding: 5px 10px 10px 5px !important;
  }
  
  .gal-input input {
    width: 70px !important;
    font-size: .7rem !important;
  }
  
  .gal_action {
    position: absolute !important;
    top: -5px !important;
    right: -3px !important;
    background: rgba(0, 0, 0, .5) !important;
    width: 15px !important;
    height: 15px !important;
    text-align: center !important;
    border-radius: 50% !important;
    cursor: pointer !important;
  }
  
  .imageClass {
    width: 4rem;
    height: 4rem;
    padding: 20px;
    border-radius: 50%;
    text-align: center;
    background: #D9D8D8;
  }
  .file {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .file>input[type='file'] {
    display: none
  }
  
  .file>label {
    font-size: 14px !important;
    font-weight: bold;
    cursor: pointer;
    outline: 0;
    user-select: none;
    border: 0.5px dashed hsl(204, 86%, 53%);
    border-radius: 5px;
    background-color: hsl(204, 86%, 96%);
    color: hsl(0, 0%, 29%);
    padding: 8px 20px !important;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  
  .file>label:hover {
    border-color: hsl(0, 0%, 21%);
  }
  
  .file>label:active {
    background-color: hsl(0, 0%, 96%);
  }
  
  .file>label>i {
    padding-right: 5px;
  }
  
  .file--upload>label {
    color: hsl(204, 86%, 53%);
    border-color: hsl(204, 86%, 53%);
  }
  
  .file--upload>label:hover {
    border-color: hsl(204, 86%, 53%);
    background-color: hsl(204, 86%, 96%);
  }