.overlay {
    background: none !important;
    opacity: 5 !important;
    visibility: visible !important;
}
.add_qty {
    bottom: 0;
    position: absolute;
    background: white;
    padding: 10px;
    right: 0 !important;
    border: 1px solid #80808029;
}
.ln-ht-2{
    line-height: 2 !important;
}
.ln-ht-1 {
    line-height: 1 !important;
}
.radio {
    font-size: 0.8rem !important;
}
.radio_outline {
    border: 1px solid !important;
}
.disp-flex {
    display: flex;
}
.disp-grid {
    display: grid;
}
.font-addrss {
    font-size: 0.7rem;
    font-family: monospace;
}
.gutter-b {
    height: 100px !important;
}
.fade {
    opacity: 4 !important;
}
.modal-footer {
    padding: 5px 10px 5px 5px !important;
}
.modal-body {
    padding-bottom: 0 !important;
}