.address {
    border-radius: 10px;
}
.mobPrefix {
    display: flex;
    align-items: center;
    padding: 0.55rem 1rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #3F4254;
    text-align: center;
    white-space: nowrap;
    background-color: #F3F6F9;
    border: 1px solid #E4E6EF;
    border-radius: 0.42rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}