.mat-form-field {
	width: 400px;
}
.imgbackground {
    display: block;
}
.thumbnail {
    position: relative;
    display: inline-block;
	width: 100%;
}
.thumbnail:hover .uploadlabel {
    opacity: 1; /* change opacity on wrapper div hover */
  }
  .uploadlabel{
	  opacity: 0;
	  transition: opacity 0.3s ease-in;
	  display: block;
	  position: absolute;
	  width: 160px;
	  height: 50px;
	  text-align: center;
	  margin: auto;
	  top: 80%;
	  left: 80%;
	  right: 0;
	  bottom: 0;
	  cursor: pointer;
	  /* background-color: aqua; */
  }
.caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
    text-align: center;
    font-weight: bold;
	width: 50%;
}
.logo-sec {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.edit-profile {
    background-color:white;
	display: flex;flex-direction: row;padding: 1%
}
body {
    background-color: white;
    overflow-x: hidden;
}
h2 {
	text-align: center;
	text-transform: uppercase;
	font-family: "Roboto", sans-serif;
	font-weight: bold;
	position: relative;
	margin: 30px 0 60px;
}
h2::after {
	content: "";
	width: 100px;
	position: absolute;
	margin: 0 auto;
	height: 3px;
	background: #8fbc54;
	left: 0;
	right: 0;
	bottom: -10px;
}
.col-center {
	margin: 0 auto;
	float: none !important;
}

.gallery-item {
    display: inline-block;
    position: relative;
  }
  
  .gallery-img {
      width: 100%;
	  height: 250px;
  }
  .gallery-item:hover .gallery-button {
    opacity: 1; /* change opacity on wrapper div hover */
  }
  
  .gallery-button {
	opacity: 0;
   
   transition: opacity 0.3s ease-in;
   display: block;
   position: absolute;
   width: 160px;
   height: 50px;
   text-align: center;
   margin: auto;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   cursor: pointer;
 }


 input[type='file'] {
	opacity:0;
	display: none;
  }
  .doctor-section {
	  /* background-color: black; */
	  margin-top:20px ;
  }
 .our-services {
	  padding: 5%;
  }
  .cardsection {
	  background-color: white;
	  width: 300px;
	  border-radius: 10px;
	  display: flex;
	  flex-direction: row;
	  align-items: center;
  }
  .image-sec {
	border-radius: 10px;
	  align-items: center;
	  display: flex;
	  flex-flow: row wrap;
  }
  .cardimage {
	  width: 150px;
	  height:80%;
	  padding: 10px;
	  border-radius: 30px;  
  }
  .col-12 .cardimage
  {
	display: block;
	margin-left: auto;
	margin-right: auto;
	/* width: 50%; */
  }
  .allcards {
	margin:20px
  }
  .imagesectionincards {
    width:130px;
    height: 130px;
    margin-top: -10%;
    margin-left: -25%;
    box-shadow: #00000029 -3pt 22pt 6pt;
    border: 5px solid white;
  }
  .border {
    background: orange;
    padding: 4px 4px;
    position: relative;
    /* border: 2px solid orange; */
  }
  .cardbackground {
	  padding-top:5%;
	  background-color: white;
	  border-radius: 10px;
	  padding-bottom:5%;
	  margin-left: 2%; 	 	
  }
  .serviceflex {
	  display: flex;
	  flex-direction: row;
  }
  .matter {
	  display: flex;
	  flex-direction: column;
  }
  .servicecontent {
	  padding: 2%;
  }
  .imagesectionservice{
	width: 150px;
	height: 150px;
	position: relative;
    left: -30px;
  }
  .cardsinservice {
	  width: 400px;
	  border: 10px solid lightgray;
  }
  .recentcards{
	  /* background-color: black; */
	  background-color: white;
	  /* color: white;s */
	  border-radius: 0px;
  }
  .langsection {
	  font-size: 10px;
  }
  .fourcards {
	display: inline-block;
	padding: 2%;

  }

.allcardsinservice {
	display: flex;
	flex-direction: row;
	flex-flow: row wrap;
	justify-content: space-around;
}
.doctorcardsection {
	display: flex;
	flex-direction: row;
	flex-flow: row wrap;
}
.doctorcardimage .gallery-item {
	display: block;
}
.doctorcardimage .gallery-item  img{
	width: 100%;
	height: 100%;
}
/* .doctorcardsectioncard {
	width: 600px;
	padding-top: 15%;
} */
.mainmatter {
	padding-top: 3%;
}
.servicecard {
	width: 450px;
	/* height: 200px; */
	border: 1pt solid #E8E8E8;
	border-radius: 10px;
	box-shadow: 2pt 4pt 6pt 0pt #00000029;
	/* margin-bottom: 10px; */
	margin: 1%;
	

}
.imageservicecard {
	margin-top: -5%;
}
.imgstylingservice {
	border: 1pt solid #E8E8E8;
	width: 150px;
	height: 150px;
	margin-left: -70%;
	
	box-shadow: -3pt 22pt 6pt 0pt #00000029;
}
.brdr {
	border: 1px solid #ddd;
}
.contentservice {
	width: 300px;
}


.gapsection {
	padding: 2%;
}
@media only screen and (max-width: 600px) {
	.imgstylingservice {
		margin-left: 0%;
	}
	.servicecard {
		height: 300px;
	}
  }
  .feedsContainer .owl-loading {
	  opacity:1 !important;
  }
  
  .text-huge {font-size: 2rem; line-height: 1;}
  .text-tiny {font-size: .875rem;line-height: 1;}
  .text-small {font-size: .0.95rem;line-height: 1;}
  .text-big{font-size: 1rem;line-height: 1;}