.overlay {
    background: none !important;
    opacity: 5 !important;
    visibility: visible !important;
}
.add_qty {
    bottom: 0;
    position: absolute;
    background: white;
    padding: 10px;
    right: 0 !important;
    border: 1px solid #80808029;
}
.ln-ht-2{
    line-height: 2 !important;
}
.radio {
    font-size: 0.8rem !important;
}
.radio_outline {
    border: 1px solid !important;
}
.disp-flex {
    display: flex;
}
.content {
    padding-top: 0px !important
  }
.col-lg-6 .btn {
  font-size: 0.8rem;
  line-height: 1;
  border-radius: 0 !important;
}  
.col-lg-6 .btn.btn-success {
  
  background-color: #4caf50 !important;
  border-color: #4caf50 !important;
}
  
 
  
  .card-sec-head {
    background-color: #f6f5f5;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .bus.card h5 {
    font-size: 1rem;
    line-height: 20px;
    padding: 5px !important;
  }
  
  .bus.card .card-img-top {
    width: 80px;
    height: 80px;
    align-items: center;
  }
  
  .bus.card .card-text {
    height: 25px;
    text-align: center;
  }
  
  .bus.card .card-btn {
    font-size: 10px;
    text-align: center;
    font-weight: bold;
    padding: 3px !important;
  }
  
  .bus.card .card-btn-cont {
    text-align: center;
    color: #000000 !important;
    background-color: lightskyblue !important;
  }
  
 
  
  
  .bus.card {
    height: 220px !important;
    width: 20% !important;
    float: left !important;
    align-items: center !important;
    margin: auto !important;
    padding: 0px !important;
    margin-bottom: 10px !important;
  }
  
  .bus h1, .bus h2, .bus h3, .bus h4, .bus h5, .bus h6, .loc-card h1, .loc-card h2, .loc-card h3, .loc-card h4, .loc-card h5, .loc-card h6 {
    font-weight: 600 !important;
  }
  
 
  
  .bus-item-long .card.card-item-n {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) !important;
    transition: 0.3s;
    border-radius: 5px;
    width: 92% !important;
    margin: auto;
    display: block !important;
    padding: 0px !important;
    border: 1px solid #106e76 !important;
  }
  
  .bus-item-long img {
    width: 100%;
  }
  
  .bus-item .card.card-item-n {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) !important;
    transition: 0.3s;
    border-radius: 5px;
    width: 120px !important;
    height: 150px;
    margin: auto;
    padding: 0px !important;
    border: 1px solid #106e76 !important;
  }
  
  .bus-item .card.card-item-n {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
  }
  
  .bus-item .card-item-content {
    margin-top: 0px !important;
    text-align: center;
  }
  
  .card.card-item-n:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  
  .bus-item-long .card-item-content-img {
    max-width: 100px !important;
    height: auto;
    width: 25%;
  }
  
  .bus-item-long .card.card-item-n img {
    border-radius: 5px 5px 0 0;
    width: 75% !important;
    height: auto;
    border: 1 px solid #ddd;
    color: #106e76 !important;
  }
  
  .bus-item .card.card-item-n .card-item-title {
    border-radius: 5px 5px 0 0;
    width: 100% !important;
    height: auto;
    border: 1 px solid #ddd;
    color: #106e76 !important;
  }
  
  .bus-item .card.card-item-n img, .bus-item .card.card-item-n .card-item-title a {
    color: #106e76 !important;
  }
  
  .bus-item .card.card-item-n img, .bus-item .card.card-item-n .card-item-title {
    border-radius: 5px 5px 0 0;
    height: 82px;
    font-size: 0.8rem !important;
    /* border-bottom: 1px solid #106e76 !important; */
    text-align: center;
    /* background-color: #106e76; */
    display: table;
    /* text-transform: uppercase; */
    padding: 5px !important;
    word-break: break-all;
  }
  
  .bus-item .card.card-item-n img {
    margin: auto;
    border-radius: 50% !important;
    height: 70px !important;
    width: 70px !important;
    border: 1px solid #106e76 !important;
  }
  
  .bus-item .card.card-item-n .card-item-title a {
    /* height: 100%; */
    display: table-cell !important;
    vertical-align: middle !important;
  }
  
  .bus-item-long .card-item-content {
    width: 75% !important;
  }
  
  .bus-item .card-item-content {
    height: 200px !important;
  }
  
  .bus-item .card-item-content .title-style {
    font-size: 0.85rem !important;
    color: #000;
    font-weight: 600 !important;
  }
  
  .bus-item .card-item-content-info {
    height: 85px !important;
    overflow: auto;
  }
  
  .bus-item .card-item-content-action {
    height: 25px !important;
  }
  
  
  
  
  
  
  
  
  @media (min-width: 320px) and (max-width: 500px) {
    .bus-item .card.card-item-n {
      width: 95% !important;
      margin: auto !important;
      margin-bottom: 10px !important;
      /* float: left; */
      max-width: 150px;
    }
    .bus-item-long {
      width: 95%;
    }
  }
  
  .bus-item-long {
    float: left;
    /* width: 100%; */
    width: 33.3% !important;
    margin: auto !important;
    margin-bottom: 10px !important;
    margin-top: 5px !important;
  }
  
  .bus-item {
    width: 12.66% !important;
    float: left;
    margin: auto !important;
    margin-bottom: 10px !important;
    margin-top: 5px !important;
  }
  
  @media (min-width: 600px) and (max-width: 992px) {
    .bus.card {
      width: 33.3% !important;
    }
    .bus-item {
      width: 33.3% !important;
    }
    .bus-item-long {
      width: 50% !important;
    }
  }
  
  @media (max-width: 600px) {
    .bus.card {
      width: 50% !important;
    }
    .bus-item {
      width: 50% !important;
    }
  }
  @media (min-width: 450px) and (max-width: 600px) {
    .bus-item {
      width: 33% !important;
    }
  }
  @media (min-width: 620px) and (max-width: 991px) {
    .bus-item {
      width: 25% !important;
    }
  }
  @media (min-width: 992px) and (max-width: 1200px) {
    .bus-item {
      width: 20% !important;
    }
    .bus-item-long {
      width: 50% !important;
    }
  }
  
  @media (max-width: 374px) {
    .bus-item {
      width: 50% !important;
    }
    .bus-item .card.card-item-n {
      width: 95% !important;
      margin: auto !important;
    }
  }
  
  @media screen and (max-width: 768px) {
    .bus-item .card.card-item-n h6 {
      font-size: 1rem!important;
    }
    .bus-item-long {
      width: 100% !important;
    }
  }
  
  
  
  .bus-item p.charge {
    font-size: 0.60rem !important;
  }
  
  /* .card-item-content-info p.price{
    margin-top: 5px !important;
  }  */
  
  .bus-item p.price, .bus-item p.description {
    /* margin-bottom: -5px !important; */
    font-size: 0.60rem !important;
  }
  
  
  
  .card-item-n .more-info {
    font-size: 0.75rem !important;
    font-weight: 500 !important;
  }
  .bus-item .card-item-content .title-style.mgn-bt-m-5 {
    margin-bottom: -5px !important;
  }
  
  .bus-item p.price.mgn-bt-20 {
    margin-bottom: 20px !important;
  }
  .itemselected{
      /* background-color: #f9e2a7 !important;
      border: solid 1px deepskyblue; */
      border-radius: 10px;
      background-color: #FFFFFF !important;
    background: #FFFFFF -webkit-gradient(linear, left top, left bottom, from(#cac8c8), to(#1e4079)) no-repeat;
  }
 /* New item grid style */
 .add_item_  mat-grid-tile {
    background: #3c8dbc0f !important;
    border-radius: 10px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
    cursor: pointer;
 }
 .add_item_ .fit_inside {
  height: 100% ;
  overflow: auto !important;
 }
 .add_item_ .img_sample {
   /* background-image: url('https://images.wholesalesalwar.com/images/500/2020y/January/15495/Wine-Georgette-Festival-Wear-Embroidery-Work-Churidar-Suit-7120.jpg'); */
   background-repeat: round !important;
 }
 .add_item_ img{
  object-fit: cover!important;
  height: 95%!important;
  /* overflow: auto; */
  width: 95%!important;
  padding-top: 5px !important;
  padding-left: 5px !important;
 }
 .add_item_ .price_outer {
  position: absolute;
  bottom: 0;
 }
.add_item_ .ip-field {
    max-width: 80px !important;
    overflow: auto;
    height: 30px;
    border: 1px solid gainsboro;
    border-radius: 5px;
    margin-bottom: 5px;
}
.add_item_ .ip-field:hover {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
}
.add_item_ input::placeholder {
  color: grey;
  font-size: 0.7rem;
}
.add_item_ .item-name-outer {
  text-align: center;
  margin-top: 10px;
  line-height: 2;
}
.add_item_ .item-name {
  font-size: 1rem;
  color: #3c8dbc;
  font-weight: 600;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-family: system-ui;
}
.add_item_ .item-price {
  font-size: smaller;
}
.additem-cart-footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f5c84d !important;
  color: black;
  font-weight:bold;
  text-align: center;
  padding: 15px;
}  
.card-shadow{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15) !important;
}
.modal-opacity {
  opacity: 1 !important;
}
.wdth-full {
  width: 100% !important;
}
.height-full {
  height: 100% !important;
}
.bg_pic {
  height: 80px;
  background-repeat: round;
  margin-top: -20px;
}
.item_disp_font {
  font-weight: 600 !important;
  font-size: 0.9rem !important;
}  
.min_qty_outer {
  display: flex;
  padding: 10px;
  font-size: 0.8rem !important;
}
.min_qty {
  flex: 1;
  text-align: left;
}
.btn.btn-icon.btn-xs {
  height: 18px !important;
  width: 18px !important;
}
.cardofItem {
  cursor: pointer;
}
.bg-grey {
  background: #ecf0f5;
}
.item_info .input-grp-txt1 {
  border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    display: flex;
    align-items: center;
    padding: 0.65rem 1rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #3F4254;
    text-align: center;
    white-space: nowrap;
    background-color: #F3F6F9;
    border: 1px solid #E4E6EF;
    border-radius: 0.42rem;
}
.item_info .input-group-prepend {
  margin-right: -3px !important;
}
.item_info .input-group i {
  line-height: 0;
  font-size: 0.7rem;
  font-weight: 600;
  color: #00000091;
  font-style: normal !important;
}
.error-section {
  background: red;
  color: white;
  padding: 10px;
  text-align: center;
  font-size: .8rem;
 }
.more_btn {
    position: absolute;
    z-index: 1000;
    right: 0;
    margin-right: 10px;
}
.bg_item_img {
  height: 150px;
  background-repeat: round;
}

.ynw-common-form-nm .mat-form-field-appearance-fill .mat-form-field-flex {
  /* background-color: rgba(0, 0, 0, 0.04); */
  background: white !important;
}
.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: white !important;
  background: white  !important;
}


