.overlay {
  background: none !important;
  opacity: 5 !important;
  visibility: visible !important;
}
.overlay {
left: 0;
width: 100%;
height: 100%;
margin-left: 0;
}

.overlay {
position: relative;
background: rgba(0,0,0,.3);
bottom: 0;
z-index: 950;
opacity: 0;
visibility: hidden;
transition: all .3s;
}
.add_qty {
  bottom: 0;
  position: absolute;
  background: white;
  padding: 10px;
  right: 0 !important;
  border: 1px solid #80808029;
}
.ln-ht-2{
  line-height: 2 !important;
}
.radio {
  font-size: 0.8rem !important;
}
.radio_outline {
  border: 1px solid !important;
}
.disp-flex {
  display: flex;
}
.content {
  padding-top: 0px !important
}
.col-lg-6 .btn {
font-size: 0.8rem;
line-height: 1;
border-radius: 0 !important;
}  
.col-lg-6 .btn.btn-success {

background-color: #4caf50 !important;
border-color: #4caf50 !important;
padding: 0.65rem 1rem;
}
.col-lg-6{
position: relative;
width: 100%;
padding-right: 12.5px;
padding-left: 12.5px;
}
.card-sec-head {
  background-color: #f6f5f5;
  padding-top: 10px;
  padding-bottom: 10px;
}

.bus.card h5 {
  font-size: 1rem;
  line-height: 20px;
  padding: 5px !important;
}

.bus.card .card-img-top {
  width: 80px;
  height: 80px;
  align-items: center;
}

.bus.card .card-text {
  height: 25px;
  text-align: center;
}

.bus.card .card-btn {
  font-size: 10px;
  text-align: center;
  font-weight: bold;
  padding: 3px !important;
}

.bus.card .card-btn-cont {
  text-align: center;
  color: #000000 !important;
  background-color: lightskyblue !important;
}




.bus.card {
  height: 220px !important;
  width: 20% !important;
  float: left !important;
  align-items: center !important;
  margin: auto !important;
  padding: 0px !important;
  margin-bottom: 10px !important;
}

.bus h1, .bus h2, .bus h3, .bus h4, .bus h5, .bus h6, .loc-card h1, .loc-card h2, .loc-card h3, .loc-card h4, .loc-card h5, .loc-card h6 {
  font-weight: 600 !important;
}
h3 {
  line-height: 1.2;
  margin-bottom: 0.5rem;
}
h4 {
  line-height: 1.2;
  
}


.bus-item-long .card.card-item-n {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) !important;
  transition: 0.3s;
  border-radius: 5px;
  width: 92% !important;
  margin: auto;
  display: block !important;
  padding: 0px !important;
  border: 1px solid #106e76 !important;
}

.bus-item-long img {
  width: 100%;
}

.bus-item .card.card-item-n {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) !important;
  transition: 0.3s;
  border-radius: 5px;
  width: 120px !important;
  height: 150px;
  margin: auto;
  padding: 0px !important;
  border: 1px solid #106e76 !important;
}

.bus-item .card.card-item-n {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.bus-item .card-item-content {
  margin-top: 0px !important;
  text-align: center;
}

.card.card-item-n:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.bus-item-long .card-item-content-img {
  max-width: 100px !important;
  height: auto;
  width: 25%;
}

.bus-item-long .card.card-item-n img {
  border-radius: 5px 5px 0 0;
  width: 75% !important;
  height: auto;
  border: 1 px solid #ddd;
  color: #106e76 !important;
}

.bus-item .card.card-item-n .card-item-title {
  border-radius: 5px 5px 0 0;
  width: 100% !important;
  height: auto;
  border: 1 px solid #ddd;
  color: #106e76 !important;
}

.bus-item .card.card-item-n img, .bus-item .card.card-item-n .card-item-title a {
  color: #106e76 !important;
}

.bus-item .card.card-item-n img, .bus-item .card.card-item-n .card-item-title {
  border-radius: 5px 5px 0 0;
  height: 82px;
  font-size: 0.8rem !important;
  /* border-bottom: 1px solid #106e76 !important; */
  text-align: center;
  /* background-color: #106e76; */
  display: table;
  /* text-transform: uppercase; */
  padding: 5px !important;
  word-break: break-all;
}

.bus-item .card.card-item-n img {
  margin: auto;
  border-radius: 50% !important;
  height: 70px !important;
  width: 70px !important;
  border: 1px solid #106e76 !important;
}

.bus-item .card.card-item-n .card-item-title a {
  /* height: 100%; */
  display: table-cell !important;
  vertical-align: middle !important;
}

.bus-item-long .card-item-content {
  width: 75% !important;
}

.bus-item .card-item-content {
  height: 200px !important;
}

.bus-item .card-item-content .title-style {
  font-size: 0.85rem !important;
  color: #000;
  font-weight: 600 !important;
}

.bus-item .card-item-content-info {
  height: 85px !important;
  overflow: auto;
}

.bus-item .card-item-content-action {
  height: 25px !important;
}








@media (min-width: 320px) and (max-width: 500px) {
  .bus-item .card.card-item-n {
    width: 95% !important;
    margin: auto !important;
    margin-bottom: 10px !important;
    /* float: left; */
    max-width: 150px;
  }
  .bus-item-long {
    width: 95%;
  }
}

.bus-item-long {
  float: left;
  /* width: 100%; */
  width: 33.3% !important;
  margin: auto !important;
  margin-bottom: 10px !important;
  margin-top: 5px !important;
}

.bus-item {
  width: 12.66% !important;
  float: left;
  margin: auto !important;
  margin-bottom: 10px !important;
  margin-top: 5px !important;
}

@media (min-width: 600px) and (max-width: 992px) {
  .bus.card {
    width: 33.3% !important;
  }
  .bus-item {
    width: 33.3% !important;
  }
  .bus-item-long {
    width: 50% !important;
  }
}

@media (max-width: 600px) {
  .bus.card {
    width: 50% !important;
  }
  .bus-item {
    width: 50% !important;
  }
}
@media (min-width: 450px) and (max-width: 600px) {
  .bus-item {
    width: 33% !important;
  }
}
@media (min-width: 620px) and (max-width: 991px) {
  .bus-item {
    width: 25% !important;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .bus-item {
    width: 20% !important;
  }
  .bus-item-long {
    width: 50% !important;
  }
}

@media (max-width: 374px) {
  .bus-item {
    width: 50% !important;
  }
  .bus-item .card.card-item-n {
    width: 95% !important;
    margin: auto !important;
  }
}

@media screen and (max-width: 768px) {
  .bus-item .card.card-item-n h6 {
    font-size: 1rem!important;
  }
  .bus-item-long {
    width: 100% !important;
  }
}



.bus-item p.charge {
  font-size: 0.60rem !important;
}

/* .card-item-content-info p.price{
  margin-top: 5px !important;
}  */

.bus-item p.price, .bus-item p.description {
  /* margin-bottom: -5px !important; */
  font-size: 0.60rem !important;
}



.card-item-n .more-info {
  font-size: 0.75rem !important;
  font-weight: 500 !important;
}
.bus-item .card-item-content .title-style.mgn-bt-m-5 {
  margin-bottom: -5px !important;
}

.bus-item p.price.mgn-bt-20 {
  margin-bottom: 20px !important;
}
.itemselected{
    /* background-color: #f9e2a7 !important;
    border: solid 1px deepskyblue; */
    border-radius: 10px;
    background-color: #FFFFFF !important;
  background: #FFFFFF -webkit-gradient(linear, left top, left bottom, from(#cac8c8), to(#1e4079)) no-repeat;
}
/* New item grid style */
.add_item_  mat-grid-tile {
  background: #3c8dbc0f !important;
  border-radius: 10px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
  cursor: pointer;
}
.add_item_ .fit_inside {
height: 100% ;
overflow: auto !important;
}
.add_item_ .img_sample {
 /* background-image: url('https://images.wholesalesalwar.com/images/500/2020y/January/15495/Wine-Georgette-Festival-Wear-Embroidery-Work-Churidar-Suit-7120.jpg'); */
 background-repeat: round !important;
}
.add_item_ img{
object-fit: cover!important;
height: 95%!important;
/* overflow: auto; */
width: 95%!important;
padding-top: 5px !important;
padding-left: 5px !important;
}
.add_item_ .price_outer {
position: absolute;
bottom: 0;
}
.add_item_ .ip-field {
  max-width: 80px !important;
  overflow: auto;
  height: 30px;
  border: 1px solid gainsboro;
  border-radius: 5px;
  margin-bottom: 5px;
}
.add_item_ .ip-field:hover {
box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
}
.add_item_ input::placeholder {
color: grey;
font-size: 0.7rem;
}
.add_item_ .item-name-outer {
text-align: center;
margin-top: 10px;
line-height: 2;
}
.add_item_ .item-name {
font-size: 1rem;
color: #3c8dbc;
font-weight: 600;
text-overflow: ellipsis;
overflow: hidden;
white-space: nowrap;
font-family: system-ui;
}
.add_item_ .item-price {
font-size: smaller;
}
.additem-cart-footer{
position: fixed;
left: 0;
bottom: 0;
width: 100%;
background-color: #f5c84d !important;
color: black;
font-weight:bold;
text-align: center;
padding: 15px;
}  
.card-shadow{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15) !important;
}
.modal-opacity {
opacity: 1 !important;
}
.wdth-full {
width: 100% !important;
}
.height-full {
height: 100% !important;
}
.bg_pic {
height: 80px;
background-repeat: round;
margin-top: -20px;
}
.item_disp_font {
font-weight: 600 !important;
font-size: 0.9rem !important;
}  
.min_qty_outer {
display: flex;
padding: 10px;
font-size: 0.8rem !important;
}
.min_qty {
flex: 1;
text-align: left;
}
.btn.btn-icon.btn-xs {
height: 18px !important;
width: 18px !important;
}
.cardofItem {
cursor: pointer;
}
.bg-grey {
background: #ecf0f5;
}
.item_info .input-grp-txt1 {
border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  display: flex;
  align-items: center;
  padding: 0.65rem 1rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #3F4254;
  text-align: center;
  white-space: nowrap;
  background-color: #F3F6F9;
  border: 1px solid #E4E6EF;
  border-radius: 0.42rem;
}
.item_info .input-group-prepend {
margin-right: -3px !important;
}
.item_info .input-group i {
line-height: 0;
font-size: 0.7rem;
font-weight: 600;
color: #00000091;
font-style: normal !important;
}
.error-section {
background: red;
color: white;
padding: 10px;
text-align: center;
font-size: .8rem;
}
.more_btn {
  position: absolute;
  z-index: 1000;
  right: 0;
  margin-right: 10px;
  margin-top: -6px;
}
.bg_item_img {
height: 150px;
background-repeat: round;
}
.rounded {
border-radius: 0.42rem!important;
}


.bg-light {
background-color: #f3f6f9!important;
}

.ynw-common-form-nm .mat-form-field-appearance-fill .mat-form-field-flex {
/* background-color: rgba(0, 0, 0, 0.04); */
background: white !important;
}
.mat-form-field-appearance-fill .mat-form-field-flex {
background-color: white !important;
background: white  !important;
}
.hide_qty {
visibility: hidden !important;
}
.mat-form-field-appearance-fill .mat-form-field-flex {
padding: 0rem !important;
background-color: none !important;
}
.tab-selected h3,
.tab-selected i {
color: #3699FF !important;
}
.tab-selected .step-icon {
background: #3699FF !important;
}
.padding-lg-10 {
padding: 1rem !important;

}
input.picker[type="date"] {
position: relative !important;
}

input.picker[type="date"]::-webkit-calendar-picker-indicator {
position: absolute !important;
top: 0 !important;
right: 0 !important;
width: 100%!important;
height: 100%!important;
padding: 0!important;
color: transparent!important;
background: transparent!important;
}
.mbt{
position: absolute!important;
 right: 0!important; 
 top: 0!important;
}
.galbx{
position: relative!important;
width: 50%!important;
}
.cataimglist{
list-style: none!important;
width: 80%!important;
}
.cataimg{
width: 85%;
height: 85%;
} 
.catalogImage{
border: 2px solid gray;
padding: 10px;
}
.disable_card{
pointer-events: none!important;
opacity: .4 !important;

}
/* .cataimg:hover{
opacity: .5;
} */

.text-dark {
color: #181c32!important;
}
.mb-10 {
margin-bottom: 2.5rem!important;
}
.font-weight-bolder {
font-weight: 600!important;
}
h4 {
font-size: 1.35rem;
}
@media (min-width: 992px)
{
.container {
padding: 0 25px;
}
}

@media (min-width: 1200px)
{
.container {
  max-width: 1140px;
}
}
@media (min-width: 1400px)
{
.container {
  max-width: 1340px;
}
}
.container {
width: 100%;
margin-right: auto;
margin-left: auto;
}
.wizard-nav {
justify-content: center;
display: flex;
}
.border-bottom {
border-bottom: 1px solid #EBEDF3!important;
}

element.style {
display: -webkit-inline-box;
}
.row {
display: flex;
flex-wrap: wrap;
margin-right: -12.5px;
margin-left: -12.5px;
}
.px-8 {
padding-left: 2rem!important;
padding-right: 2rem!important;
}
.my-10 {
margin-bottom: 2.5rem!important;
margin-top: 2.5rem!important;
}
.form-group {
margin-bottom: 1.75rem;
}
.form-group {
font-size: .875rem;
font-weight: 500;
}

.form-group label {
font-size: 1rem;
font-weight: 400;
color: #3f4254;
}
.form-group input {
background: #fff;
}
label {
display: inline-block;
margin-bottom: 0.5rem;
}
.form-control1 {

width: 100%!important;
height: calc(1.5em + 1.3rem + 2px)!important;
padding: 0.65rem 1rem!important;
font-size: 1rem!important;
font-weight: 400!important;
line-height: 1.5!important;
color: #3f4254!important;
background-color: #fff!important;
background-clip: padding-box!important;
border: 1px solid #E4E6EF!important;
border-radius: 0.42rem!important;
box-shadow: none!important;
transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out!important;
}
.form-control1 {
/* background-color: #f3f6f9!important; */
opacity: 1!important;
}
input {
overflow: visible;
margin: 0;
font-family: inherit;
}
input { 
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.mat-input-element {
font: inherit;
background-color: #f3f6f9!important;
outline: none;
margin: 0;
max-width: 100%;
vertical-align: bottom;
text-align: inherit;
}


.cdk-text-field-autofill-monitored {
-webkit-animation: cdk-text-field-autofill-end 0s 1ms;
animation: cdk-text-field-autofill-end 0s 1ms;
}
.py-5 {
padding-bottom: 1.25rem!important;
padding-top: 1.25rem!important;
}
.border-top {
border-top: 1px solid #EBEDF3!important;
}
.mat-form-field-type-mat-select:not(.mat-form-field-disabled) .mat-form-field-flex {
cursor: pointer;
}
.mat-form-field-appearance-fill .mat-form-field-flex {
background-color: rgba(0,0,0,.04);
border-radius: 4px 4px 0 0;
padding: 0.75em 0.75em 0 0.75em;
}

.mat-form-field-flex {
display: inline-flex;
align-items: baseline;
box-sizing: border-box;
width: 100%;
}  
.svg-icon.svg-icon-xl svg {
height: 2rem!important;
width: 2rem!important;
}
.svg-icon svg g [fill] {
transition: fill .3s ease;
fill: #b5b5c3;
}


svg:not(:root) {
overflow: hidden;
}

svg {
overflow: hidden;
vertical-align: middle;
}
@media (max-width: 767.98px){
.wizard.wizard-1 .wizard-nav .wizard-steps .wizard-step .wizard-arrow {
  color: #7e8299;
  font-size: 1.25rem;
}
}

@media (min-width: 1200px){
.col-xl-6 {
  flex: 0 0 50%;
  max-width: 50%;
}
}

.mat-form-field-appearance-fill .mat-form-field-infix {
padding: 0.25em 0 0.75em;
}
.mat-form-field-infix {
/* padding: 0.5em 0; */
border-top: 0.84375em solid transparent;
}



.pb-5 {
padding-bottom: 1.25rem!important;
}
.btn.btn-light-primary {
color: #1e4079;
background-color: #f9e2a7;
border-color: transparent;
}
.pl-9, .px-9 {
padding-left: 2.25rem;
padding-right: 2.25rem!important;

}
.text-uppercase {
text-transform: uppercase!important;
}
@media (min-width: 992px){
.px-lg-10 {
  padding-left: 2.5rem!important;
  padding-right: 2.5rem!important;
  }
}
@media (min-width: 992px){
.my-lg-10 {    
  margin-bottom: 2.5rem!important;
  margin-top: 2.5rem!important;
}
}

.mat-form-field-infix {
display: block;
position: relative;
flex: auto;
min-width: 0;
width: 500px;
}
.col-xl-6 {

position: relative;
  width: 100%;
  padding-right: 12.5px;
  padding-left: 12.5px;
}

@media (min-width: 1200px) {
.col-xl-12 {
  flex: 0 0 100%;
  max-width: 100%;
}
}
.col-xl-12, .col-xxl-12 {
position: relative;
width: 100%;
padding-right: 12.5px;
padding-left: 12.5px;
}
.card {
position: relative;
display: flex;
flex-direction: column;
min-width: 0;
word-wrap: break-word;
background-color: #fff;
background-clip: border-box;
border: 1px solid #EBEDF3;
border-radius: 0.42rem;
}
h5 {
margin-bottom: 0.5rem;
font-weight: 500;
line-height: 1.2;
}
.mt-4 {
margin-top: 1rem !important;
}
a:not([href]) {
color: inherit;
text-decoration: none;
}

p {
margin-top: 0;
margin-bottom: 1rem;
}

a, button {
outline: 0!important;
}

a {
transition: color .15s ease,background-color .15s ease,border-color .15s ease,box-shadow .15s ease;
}

a {
color: #1e4079;
text-decoration: none;
background-color: transparent;
}
.btn {
font-size: 1rem;
line-height: 1.5;
border-radius: 0.42rem;
}
.btn.btn-success {
  color: #fff;
  background-color: #1bc5bd;
  border-color: #1bc5bd;
}
.btn.btn-light-primary {
  color: #1e4079;
  background-color: #f9e2a7;
  border-color: transparent;
}
.btn.btn-primary:focus:not(.btn-text)
{
color: #fff;
background-color: #187de4;
border-color: #187de4;
}
.btn.btn-primary {
color: #fff;
background-color: #1e4079;
border-color: #1e4079;
}
.font-weight-bold {
font-weight: 500!important;
}
.rounded-0 {
border-radius: 0!important;
}
.card.card-custom > .card-body {
padding: 2rem 2.25rem;
}
.p-0 {
padding: 0!important;
}
.card-body {
flex: 1 1 auto;
min-height: 1px;
padding: 2.25rem;
}
button
{
font-family: inherit;
}

@media (min-width: 768px)
{
.col-md-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}
}


@media (min-width: 992px)
{
.col-lg-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}
}
@media (max-width: 1200px)
{
h4 {
  font-size: calc(1.26rem + .12vw);
}
}
i {
font-size: 1.25rem;

}
.mat-icon-button {
padding: 0;
min-width: 0;
width: 40px;
height: 40px;
flex-shrink: 0;
line-height: 0; 
border-radius: 0;
}
input.mat-input-element {
margin-top: -0.0625em;
}

@media (min-width: 1400px)
{
.col-xxl-3 {
  flex: 0 0 25%;
  max-width: 25%;
}
}
textarea.mat-input-element {
padding: 0 0;
margin: 0 0;
}
.col-md-4, .col-lg-4, .col-xxl-3{
position: relative;  
width: 100%;
padding-right: 12.5px;
padding-left: 12.5px;
}
.col-md-4, .col-lg-4 {
min-height: 1px;
}
.mt-5 {
margin-top: 1.25rem!important;
}
a.text-hover-primary, .text-hover-primary {
transition: color .15s ease,background-color .15s ease,border-color .15s ease,box-shadow .15s ease;
}
a:not([href]) {
color: inherit;
text-decoration: none;
}
.font-size-h5 {
font-size: 1.25rem!important;
}
.text-dark-75 {
color: #3f4254!important;
}
.font-size-h6 {
font-size: 1.175rem!important;
}
.text-muted {
color: #b5b5c3!important;
}
.mb-3 {
margin-bottom: 0.75rem!important;
}
.col-xl-4 {
position: relative;
width: 100%;
padding-right: 12.5px;
padding-left: 12.5px; 
}
@media (min-width: 1200px)
{
.col-xl-4[_ngcontent-fuj-c329] {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}
}
@media (min-width: 768px)
{
.col-md-12 {
  flex: 0 0 100%;
  max-width: 100%;
}
}
@media (min-width: 992px)
{
.col-md-12 {
  width: 100%;
  float: left;
}
}

element.style {
margin-top: 15px;
display: inline-flex;
}
.col-md-12
{
position: relative;
width: 100%;
padding-right: 12.5px;
padding-left: 12.5px;
}
/* .row .table {
padding:  0 0;
} */
.leadTitle {
  display: flex;
  align-items: center;
  grid-gap: 5px;
  gap: 5px;
  font-weight: 400;
  font-size: 12px;
  color: rgb(109, 108, 108);
}
.astericColor{
  color: #f24949 !important;
}
.fieldPadding {
  /* padding: 5px; */
  margin-top: 5px;
}
.form-control {
  display: block;
  width: 100%;
  height: 35px;
  padding: 6px 12px!important;
  font-size: 14px!important;
  line-height: 1.42857143!important;
  color: black!important;
  background-image: none!important;
  border-radius: 5.73504px!important;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.08)!important;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s!important;
}