<div class="form-group" [formGroup]="form">
  <label class="col-form-label" *ngIf="showlabel" for="{{question.label}}" [attr.for]="question.key">
    {{question.label}}
  </label>
  <ng-container [ngSwitch]="question.controlType">

    <ng-container *ngSwitchCase="'textbox'">

    <mat-form-field class="example-full-width" *ngIf="question.type != 'checkbox'" >
        <input matInput [formControlName]="question.key"
        [id]="question.key" [type]="question.type"
        [min]="question.min" [max]="question.max"
        placeholder="{{question.label}}">
    </mat-form-field>

    <mat-slide-toggle 
    [id]="question.key"
    *ngIf="question.type === 'checkbox'"
    labelPosition="before"
    [checked]="(question.value == 'true') ? 'true' : 'false'" 
    (change)="setCheckBoxValue()" >
    {{question.label}}
    </mat-slide-toggle>
    </ng-container>

    <mat-form-field  *ngSwitchCase="'textarea'">
        <textarea matInput [id]="question.key"  placeholder="{{question.label}}"
         [formControlName]="question.key"></textarea>
    </mat-form-field>

    <div *ngSwitchCase="'datagrid'" [formArrayName]="question.key">
      <div *ngFor="let control of form['controls'][question.key]['controls']; let i = index;">
        <div *ngFor="let col of question.columns[0]">
          <app-question  class="width-100"  [showlabel]="'true'" [question]="col" [form]="form['controls'][question.key]['controls'][i]" [messages] = "messages"></app-question>
        </div>
      </div>
    </div>

    <mat-form-field  *ngSwitchCase="'dropdown'" >
      <mat-select panelClass="select-class" placeholder="{{question.label}}" [id]="question.key"  [formControlName]="question.key" >
        <mat-option *ngFor="let opt of question.options;first as isFirst"  [value]="opt.name" >
            {{opt.displayName}}
        </mat-option>
      </mat-select>
    </mat-form-field>


    <div class="form-check" *ngSwitchCase="'radio'" [id]="question.key">
      <mat-radio-group [formControlName]="question.key" >
          <mat-radio-button [value]="option.name" 
          *ngFor="let option of question.options;">
          {{option.displayName}}
          </mat-radio-button>
      </mat-radio-group>
    </div>

    <div class="form-check" *ngSwitchCase="'enumlist'" [id]="question.key" [formArrayName]="question.key">
      <div  [formGroup]="form['controls'][question.key]['controls'][0]">

        <div  *ngFor="let option of question.options;let i = index; ">
            <mat-checkbox [value]="option.name"  [formControlName]="option.name">
              {{option.displayName}}
            </mat-checkbox>
        </div>

      </div>
    </div>

  </ng-container>

  <app-field-error-display *ngIf="question.controlType !='datagrid'" [displayError]="fed_service.isFieldValid(form,question.key)"
  [errorMsgs]="fed_service.getErrorMessage(form,question.key,this.errors)">
  </app-field-error-display>

</div>
