.d-flex .card {
    padding: 0px !important;
}
.font-size-sm {
    font-size: 0.7rem !important;
}
.font-size-lg {
    font-size: .95rem !important;
}
.font-size-outer {
    font-size: 1.1rem !important;
}
.user-name {
    border-radius: 50%;
    width: 100%;
    color: #FFFFFF;
    background-color: #1e4079;
    max-width: 100px;
    padding: 15px 10px;
    width: 50px;
    height: 50px;
    text-align: center;
    max-height: 50px;
}
.card-width {
    width: 350px;
}
@media(max-width: 600px) {
    .card-width {
        width: 100%;
    }
}
.msg-body {
    height: 303px;
    overflow-y: auto !important;
}
.over-scroll {
    overflow-y: auto !important;
}
.selected-user {
    background: #eee;
}
.card-body {
    padding: 10px !important;
}
.pad-5 {
    padding: 5px
}
.msg-width {
    max-width: 80%;
    min-width: 70px;
}
.thumbnails img {
    width: 100px;
    height: 100px;
    margin-bottom: 5px;
}
.thumbnails a {
    margin: 5px;
}
.img-section img {
    width: 80px;
    height: 80px;
    cursor: auto;
}
.gal_action {
    position: absolute;
    top: -5px;
    right: -3px;
    background: rgba(0,0,0,.5);
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}
.galimg_outer {
    position: relative;
    padding: 5px;
}
.galul {
    margin: 0;
    padding: 0;
    list-style: none;
    padding: 0 20px;
}
.galul li {
    float: left;
}
.mat-flat-button {
    background: #1e4079;
    color: white;
    border-radius: 5px;
}
.top-buttons {
    padding: 10px;
    box-shadow: 0 0px 5px 0 rgb(0 0 0 / 16%), 0 0px 0px 0 rgb(0 0 0 / 12%);
}
.top-buttons button {
    color: #1e4079;
    background-color: transparent;
    border-color: transparent;
    padding: 5px 10px;
    width: 48%;
    border-radius: 5px;
}
.selected-btn {
    font-weight: bold;
    background-color: #fdcb70 !important;
}
.user-section {
    display: flex;
    overflow-x: auto;
}
.user-section .user-name {
    background: #ddd !important;
}
.user-goback {
    margin: 10px;
}
.user-goback span,
.user-goback i {
    color: black;
    font-weight: bold;
}
textarea {
    resize: none !important;
}
.flex-row {
    width: 100%;
}
.display-none {
    display: none;
}
.loading {
    margin-top: -50px
}
.fa-paper-plane {
    color: #1e4079;
    font-size: 1.8rem;
}
.grey {
    color: lightgrey !important;
}
.btn.btn-primary.disabled {
    background: #ccc !important;
    border-color: #ccc !important;
}
.null-img {
    margin: auto;
}
.null-text {
    text-align: center;
    font-size: 1.2rem;
    margin-top: 30px;
    font-weight: bold;
    color: #1e4079;
}
.label.label-sm {
    height: 20px !important;
    width: 20px !important;
}
.rounded:hover .reply-btn {
    display: inline-block !important;
}
.reply-btn {
    border: none !important;
    position: absolute !important;
    margin-left: -15px !important;
    margin-top: -10px !important;
}
@media(min-width: 600px) {
    .reply-btn {
        display: none;
    }
}
.bg-light-primary .reply-btn {
    background: #f9e2a7 !important;
}
.bg-light-success .reply-btn {
    background: #C9F7F5 !important
}
.minhgt-60 {
    min-height: 60vh;
}
.no-msg-section {
    margin: auto;
    text-align: center;
}
.fa-times {
    float: right;
    color: black !important;
    margin: auto;
}
.reply-section {
    display: flex;
    margin-bottom: 10px;
    padding: 20px 20px 10px;
    border: 1px solid #d5d5d5;
    background: #d1d3e05e;
}
.replymsg {
    font-size: .9rem;
    white-space: pre-wrap;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    color: #7E8299 !important;
}
.reply-msg {
    padding: 5px;
    cursor: pointer;
    border-left: 3px solid darkblue;
    margin-bottom: 5px;
}
.username {
    color: darkblue;
}
.reply-section .close {
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding: 10px;
}
.reply-section .main-sec {
    width: 100%;
}
.pad-20 {
    padding: 20px;
}
.reply-text {
    margin-top: -8px;
    font-size: .7rem;
    text-align: right;
    margin-right: -5px;
    margin-bottom: 2px;
    color: darkgray;
    opacity: .6;
}
.reply-text a:hover {
    text-decoration: underline !important;
}
.blinkelem {
    -webkit-animation: NAME-YOUR-ANIMATION 2s infinite;  /* Safari 4+ */
    -moz-animation: NAME-YOUR-ANIMATION 2s infinite;  /* Fx 5+ */
    -o-animation: NAME-YOUR-ANIMATION 2s infinite;  /* Opera 12+ */
    animation: NAME-YOUR-ANIMATION 2s infinite;  /* IE 10+, Fx 29+ */
} 
@-webkit-keyframes NAME-YOUR-ANIMATION {
    0%, 49% {
      background-color: #1e407963;
    }
}
.bg-transparent {
    padding: 8px 10px !important;
    border-radius: 0 !important;
    border-bottom: 1.75px solid #d0d0d0 !important;
    font-size: 13px !important;
    text-transform: uppercase !important;
    color: #395789 !important;
    font-weight: 700 !important;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    min-height: auto !important;
}
.bg-transparent i {
    color: #395789 !important;
    font-family: 'FontAwesome' !important;
    font-size: 13px !important;
    font-weight: 700 !important;
}
.details-inbox .card.p0 {
    border: 1.75px solid #d0d0d0 !important;
    min-height: 545px;
    box-shadow: none !important;
    padding: 0 !important;
}
.details-opacity {
    opacity: 0.5;
}