<section class="" *ngIf="!customer">
    <div class="title-gb no-padding">
        <div class="mgn-up-15 mgn-lt-15 mgn-rt-15 dash-head">
            Inbox
            <i class="fa fa-question-circle-o fa-lg fl-right" (click)="redirecToHelp()"></i>
        </div>
    </div>
</section>
<section>
    <!-- <div class="content comn-cls"> -->
    <div class="col-md-12 no-padding-small">
        <div class="card p0">
            <app-common-innerloading-spinner *ngIf="loading"></app-common-innerloading-spinner>
            <div class="d-flex flex-column flex-column-fluid" id="kt_content" *ngIf="!loading">
                <div class="d-flex flex-column-fluid">
                    <div class="d-flex flex-row minhgt-60" *ngIf="messages.length==0">
                        <div class="no-msg-section">
                            <div class="nomsg-img mgn-bt-20"></div>
                            Start messaging to {{customer_label}}s
                            <button mat-flat-button class="font-size-xs normal-btn mgn-lt-10" (click)="gotoCustomers()">
                                Go to patients </button>
                        </div>
                    </div>
                    <div class="d-flex flex-row" *ngIf="messages.length>0">
                        <div class="flex-row-auto card-width w-xl-400px" id="kt_chat_aside" *ngIf="!showChat">
                            <div class="card card-custom">
                                <div class="pad-10">
                                    <button mat-flat-button class="mgn-rt-10 normal-btn width-100"
                                        (click)="gotoEnquiry()">Enquiry</button>
                                </div>
                                <div class="top-buttons"
                                    *ngIf="userDet && userDet.accountType === 'BRANCH' && users.length > 0 && userWithMsgCount > 1">
                                    <button mat-flat-button class="mgn-rt-10" (click)="changemsgDisplayType('all')"
                                        [class.selected-btn]="msgDisplay=='all'">All</button>
                                    <button mat-flat-button [class.selected-btn]="msgDisplay=='user'"
                                        (click)="changemsgDisplayType('user')">{{provider_label |
                                        capitalizeFirst}}s</button>
                                </div>
                                <div class="user-goback" *ngIf="selectedUser.userType === 'PROVIDER'">
                                    <i (click)="goBack()" class="fa fa-arrow-left pointer-cursor mgn-rt-10"></i>
                                    <span>
                                        {{(selectedUser.businessName) ? selectedUser.businessName :
                                        selectedUser.firstName + ' ' + selectedUser.lastName}}
                                    </span>
                                </div>
                                <div class="card-body">
                                    <div class="scroll scroll-pull over-scroll" [ngStyle]="{'height.px': userHeight}">
                                        <ng-container *ngIf="msgDisplay=='all' || selectedUser.userType === 'PROVIDER'">
                                            <div *ngFor="let user of groupedMsgs | keyvalue: valueOrder"
                                                (click)="customerSelection(user)"
                                                class="d-flex align-items-center justify-content-between pointer-cursor pad-5"
                                                [class.selected-user]="selectedCustomer==user.key">
                                                <div class="d-flex align-items-center">
                                                    <div class="symbol symbol-circle symbol-50 mr-3">
                                                        <div class="user-name">
                                                            {{getUserShort(user.key)}}
                                                        </div>
                                                    </div>
                                                    <div class="d-flex flex-column">
                                                        <a
                                                            class="text-dark-75 text-hover-primary font-weight-bold font-size-lg">
                                                            {{getUserName(user.key, 'customer')}}</a>
                                                        <span class="text-muted font-weight-bold font-size-sm">
                                                            {{formatDateDisplay(user.value[user.value.length-1].timeStamp)}}</span>
                                                    </div>
                                                </div>
                                                <div class="d-flex flex-column align-items-end">
                                                    <span *ngIf="userWithMsgCount > 1"
                                                        class="text-muted font-weight-bold font-size-sm">{{getUserName(user.key,
                                                        'provider')}}</span>
                                                    <span class="label label-sm label-success"
                                                        *ngIf="getUnreadCount(user.value) > 0">{{getUnreadCount(user.value)}}</span>
                                                </div>
                                            </div>
                                        </ng-container>
                                        <ng-container
                                            *ngIf="msgDisplay=='user' && selectedUser.userType !== 'PROVIDER'">
                                            <ng-container *ngFor="let user of users">
                                                <div *ngIf="groupedMsgsbyUser[(user.businessName) ? user.businessName : user.firstName+' '+user.lastName]"
                                                    (click)="userSelection(user)"
                                                    class="d-flex align-items-center justify-content-between pointer-cursor pad-5"
                                                    [class.selected-user]="selectedUser==user">
                                                    <div class="d-flex align-items-center">
                                                        <div class="symbol symbol-circle symbol-50 mr-3">
                                                            <img [src]="getUserImg(user)" alt=""
                                                                class="user-name no-padding">
                                                        </div>
                                                        <div class="d-flex flex-column">
                                                            <a
                                                                class="text-dark-75 text-hover-primary font-weight-bold font-size-lg">
                                                                {{(user.businessName) ? user.businessName :
                                                                user.firstName + ' ' +
                                                                user.lastName}}</a>
                                                        </div>
                                                    </div>
                                                    <div class="d-flex flex-column align-items-end">
                                                        <span class="label label-sm label-success"
                                                            *ngIf="getUserUnreadCount(user) > 0">{{getUserUnreadCount(user)}}</span>
                                                    </div>
                                                </div>
                                            </ng-container>
                                        </ng-container>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="flex-row-fluid ml-lg-8 null-img" id="kt_chat_content"
                            *ngIf="selectedCustomer == '' && !small_device_display">
                            <ng-container
                                *ngIf="msgDisplay=='user' && selectedUser.userType !== 'PROVIDER'; else elseBlock">
                                <div class="inbox-nullimg-user" [ngStyle]="{'height.vh': 40}"></div>
                                <div class="null-text">Select a chat to start messaging</div>
                            </ng-container>
                            <ng-template #elseBlock>
                                <div class="inbox-nullimg" [ngStyle]="{'height.vh': 40}"></div>
                                <div class="null-text">Select a chat to start messaging</div>
                            </ng-template>
                        </div>
                        <div class="flex-row-fluid" id="kt_chat_content" [class.ml-lg-8]="!customer"
                            *ngIf="(selectedCustomer != '' && !small_device_display) || (small_device_display && showChat)">
                            <div class="card card-custom">
                                <div class="card-header align-items-center px-4 py-3" *ngIf="!customer">
                                    <div class="text-center flex-grow-1">
                                        <div class="text-left flex-grow-1">
                                            <i (click)="showChatSection()"
                                                class="fa fa-arrow-left pointer-cursor d-md-none"></i>
                                        </div>
                                        <div class="text-dark-75 font-weight-bold font-size-h5">
                                            {{getUserName(selectedCustomer, 'customer')}}</div>
                                    </div>
                                </div>
                                <div class="bg-transparent" *ngIf="customer">
                                    <div>Messages</div>
                                    <i class="fa fa-external-link pointer-cursor" (click)="viewInbox()"
                                        aria-hidden="true"></i>
                                </div>
                                <div class="card-body no-padding-small">
                                    <div class="scroll scroll-pull over-scroll" #scrollMe
                                        [ngStyle]="{'height.px': msgHeight}">
                                        <div class="messages" *ngFor="let msg of selectedUserMessages">
                                            <div *ngIf="msg.messagestatus==='in'"
                                                class="d-flex flex-column mb-5 align-items-start">
                                                <div class="d-flex align-items-center">
                                                    <div>
                                                        <span
                                                            class="text-muted font-size-sm">{{formatDateDisplay(msg.timeStamp)}}</span>
                                                        <span
                                                            class="greenc font-size-sm mgn-lt-5">{{getMsgType(msg)}}</span>
                                                    </div>
                                                </div>
                                                <div
                                                    class="rounded pad-10 bg-light-success font-weight-bold font-size-lg msg-width">
                                                    <div class="reply-text">
                                                        <a (click)="replytoMsg(msg)">Reply</a>
                                                    </div>
                                                    <div class="reply-msg text-left"
                                                        *ngIf="msg.replyMsgId && getReplyMsgbyId(msg.replyMsgId)"
                                                        (click)="gotoReplyMsgSection(msg.replyMsgId)">
                                                        <div class="username">
                                                            {{(getReplyMsgbyId(msg.replyMsgId).messagestatus ===
                                                            'out') ? 'You' :
                                                            getReplyMsgbyId(msg.replyMsgId).accountName}}</div>
                                                        <div class="text-dark-50 replymsg"
                                                            [innerHTML]="getReplyMsgbyId(msg.replyMsgId).msg | nl2br">
                                                        </div>
                                                    </div>
                                                    <div [innerHTML]="msg.msg | nl2br" #inmsgId
                                                        class="selmsg text-left text-dark-50"></div>
                                                    <div class="thumbnails mt10 mb10"
                                                        *ngIf="msg.attachements && msg.attachements.length > 0">
                                                        <ng-container
                                                            *ngFor="let attachment of msg.attachements;let i=index">
                                                            <a (click)="openImage(msg.attachements, i)"
                                                                *ngIf="attachment.s3path.indexOf('.pdf') === -1"><img
                                                                    [src]="getThumbUrl(attachment)" /></a>
                                                            <a [href]="attachment.s3path"
                                                                *ngIf="attachment.s3path.indexOf('.pdf') !== -1"><img
                                                                    [src]="getThumbUrl(attachment)" /></a>
                                                        </ng-container>
                                                    </div>
                                                </div>
                                            </div>
                                            <div *ngIf="msg.messagestatus==='out'"
                                                class="d-flex flex-column mb-5 align-items-end">
                                                <div class="d-flex align-items-center">
                                                    <div>
                                                        <span
                                                            class="greenc font-size-sm mgn-rt-5">{{getMsgType(msg)}}</span>
                                                        <span
                                                            class="text-muted font-size-sm">{{formatDateDisplay(msg.timeStamp)}}</span>
                                                    </div>
                                                </div>
                                                <div
                                                    class="rounded pad-10 bg-light-primary font-weight-bold font-size-lg msg-width">
                                                    <div class="reply-text">
                                                        <a (click)="replytoMsg(msg)">Reply</a>
                                                    </div>
                                                    <div class="reply-msg text-left"
                                                        *ngIf="msg.replyMsgId && getReplyMsgbyId(msg.replyMsgId)"
                                                        (click)="gotoReplyMsgSection(msg.replyMsgId)">
                                                        <div class="username">
                                                            {{(getReplyMsgbyId(msg.replyMsgId).messagestatus ===
                                                            'out') ? 'You' :
                                                            getReplyMsgbyId(msg.replyMsgId).accountName}}</div>
                                                        <div class="text-dark-50 replymsg"
                                                            [innerHTML]="getReplyMsgbyId(msg.replyMsgId).msg | nl2br">
                                                        </div>
                                                    </div>
                                                    <div [innerHTML]="msg.msg | nl2br" #outmsgId
                                                        class="selmsg text-dark-50">
                                                    </div>
                                                    <div class="thumbnails mt10 mb10"
                                                        *ngIf="msg.attachements && msg.attachements.length > 0">
                                                        <ng-container
                                                            *ngFor="let attachment of msg.attachements;let i=index">
                                                            <a (click)="openImage(msg.attachements, i)"
                                                                *ngIf="attachment.s3path.indexOf('.pdf') === -1"><img
                                                                    [src]="getThumbUrl(attachment)" /></a>
                                                            <a [href]="attachment.s3path"
                                                                *ngIf="attachment.s3path.indexOf('.pdf') !== -1"><img
                                                                    [src]="getThumbUrl(attachment)" /></a>
                                                        </ng-container>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="loading" *ngIf="!scrollDone">
                                            <app-common-innerloading-spinner></app-common-innerloading-spinner>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer align-items-center no-padding">
                                    <div class="reply-section" *ngIf="replyMsg" #reply>
                                        <div class="main-sec">
                                            <div class="username">{{(replyMsg.messagestatus === 'out') ? 'You' :
                                                replyMsg.accountName}}</div>
                                            <div class="replymsg">{{replyMsg.msg}}</div>
                                        </div>
                                        <div class="close">
                                            <svg (click)="closeReply()" xmlns="http://www.w3.org/2000/svg"
                                                viewBox="0 0 24 24" width="24" height="24">
                                                <path fill="currentColor"
                                                    d="M19.1 17.2l-5.3-5.3 5.3-5.3-1.8-1.8-5.3 5.4-5.3-5.3-1.8 1.7 5.3 5.3-5.3 5.3L6.7 19l5.3-5.3 5.3 5.3 1.8-1.8z">
                                                </path>
                                            </svg>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between pad-20">
                                        <textarea cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="4"
                                            class="form-control border-0 p-0" placeholder="Type a message *"
                                            [(ngModel)]="message"></textarea>
                                        <div class="">
                                            <input #logofile type="file" accept="/*;capture=camera"
                                                style="display:none;" multiple (change)="filesSelected($event)">
                                            <a class="btn btn-clean btn-icon btn-md" (click)="logofile.click()"><i
                                                    class="material-icons">attach_file</i></a>
                                        </div>
                                        <div>
                                            <button type="button" (click)="sendMessageCompleted && sendMessage()"
                                                *ngIf="!small_device_display" [class.disabled]="message==''"
                                                class="btn btn-primary btn-md text-uppercase font-weight-bold chat-send py-2 px-6 disp-flex">Send
                                            </button>
                                            <i *ngIf="small_device_display"
                                                (click)="sendMessageCompleted && sendMessage()"
                                                class="fa fa-paper-plane pointer-cursor" aria-hidden="true"
                                                [class.grey]="message==''"></i>
                                        </div>
                                    </div>
                                    <div class="img-section"
                                        *ngIf="selectedMessage.files && selectedMessage.files.length > 0">
                                        <ul class="galul col-lg-12 col-md-12 col-xl-12 col-xs-12 col-sm-12 no-padding">
                                            <li *ngFor="let file of selectedMessage.files;let i = index ">
                                                <div class="galimg_outer">
                                                    <div class="gal_img">
                                                        <img [src]="getImage(selectedMessage.base64[i], file)"
                                                            *ngIf="selectedMessage.base64[i]">
                                                    </div>
                                                    <div class="gal_action" (click)="deleteTempImage(i)">
                                                        <i class="fa fa-times-circle" aria-hidden="true"></i>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- </div> -->
</section>
<div class="clearfix"></div>
<ks-modal-gallery [id]="0" *ngIf="image_list_popup && image_list_popup.length>0" [modalImages]="image_list_popup"
    [plainGalleryConfig]="customPlainGalleryRowConfig" [buttonsConfig]="customButtonsFontAwesomeConfig"
    (buttonBeforeHook)="onButtonBeforeHook()" (buttonAfterHook)="onButtonAfterHook()"></ks-modal-gallery>