.d-flex .card {
    padding: 0px !important;
}
.font-size-sm {
    font-size: 0.7rem !important;
}
.font-size-lg {
    font-size: .95rem !important;
}
.font-size-outer {
    font-size: 1.1rem !important;
}
.user-name {
    border-radius: 50%;
    width: 100%;
    color: #FFFFFF;
    background-color: #1e4079;
    max-width: 100px;
    padding: 15px 10px;
    width: 50px;
    height: 50px;
    text-align: center;
    max-height: 50px;
}
.card-width {
    width: 350px;
}
@media(max-width: 600px) {
    .card-width {
        width: 100%;
    }
}
.msg-body {
    height: 303px;
    overflow-y: auto !important;
}
.over-scroll {
    overflow-y: auto !important;
}
.selected-user {
    background: #eee;
}
.card-body {
    padding: 10px !important;
}
.pad-5 {
    padding: 5px
}
.msg-width {
    max-width: 80%;
    min-width: 70px;
}
.thumbnails img {
    width: 100px;
    height: 100px;
    margin-bottom: 5px;
}
.thumbnails a {
    margin: 5px;
}
.img-section img {
    width: 80px;
    height: 80px;
    cursor: auto;
}
.gal_action {
    position: absolute;
    top: -5px;
    right: -3px;
    background: rgba(0,0,0,.5);
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}
.galimg_outer {
    position: relative;
    padding: 5px;
}
.galul {
    margin: 0;
    padding: 0;
    list-style: none;
    padding: 20px;
}
.galul li {
    float: left;
}
.mat-flat-button {
    background: #1e4079;
    color: white;
    border-radius: 5px;
}
.top-buttons {
    padding: 10px;
    box-shadow: 0 0px 5px 0 rgb(0 0 0 / 16%), 0 0px 0px 0 rgb(0 0 0 / 12%);
}
.top-buttons button {
    color: #1e4079;
    background-color: transparent;
    border-color: transparent;
    padding: 5px 10px;
    width: 48%;
    border-radius: 5px;
}
.selected-btn {
    font-weight: bold;
    background-color: #fdcb70 !important;
}
.user-section {
    display: flex;
    overflow-x: auto;
}
.user-section .user-name {
    background: #ddd !important;
}
.user-goback {
    margin: 10px;
}
.user-goback span,
.user-goback i {
    color: black;
    font-weight: bold;
}
textarea {
    resize: none !important;
}
.flex-row {
    width: 100%;
}
.display-none {
    display: none;
}
.loading {
    margin-top: -50px
}
.fa-paper-plane {
    color: #1e4079;
    font-size: 1.8rem;
}
.grey {
    color: lightgrey !important;
}
.btn.btn-primary.disabled {
    background: #ccc !important;
    border-color: #ccc !important;
}
.null-img {
    margin: auto;
}
.null-text {
    text-align: center;
    font-size: 1.2rem;
    margin-top: 30px;
    font-weight: bold;
    color: #1e4079;
}
.label.label-sm {
    height: 20px !important;
    width: 20px !important;
}
.rounded:hover .reply-btn {
    display: inline-block !important;
}
.reply-btn {
    border: none !important;
    position: absolute !important;
    margin-left: -15px !important;
    margin-top: -10px !important;
}
@media(min-width: 600px) {
    .reply-btn {
        display: none;
    }
}
.bg-light-primary .reply-btn {
    background: #f9e2a7 !important;
}
.bg-light-success .reply-btn {
    background: #C9F7F5 !important
}
.minhgt-60 {
    min-height: 60vh;
}
.no-msg-section {
    margin: auto;
    text-align: center;
}
.fa-times {
    float: right;
    color: black !important;
    margin: auto;
}
.reply-section {
    display: flex;
    margin-bottom: 10px;
    padding: 20px 20px 10px;
    border: 1px solid #d5d5d5;
    background: #d1d3e05e;
}
.replymsg {
    font-size: .9rem;
    white-space: pre-wrap;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    color: #7E8299 !important;
}
.reply-msg {
    padding: 5px;
    cursor: pointer;
    border-left: 3px solid darkblue;
    margin-bottom: 5px;
}
.username {
    color: darkblue;
}
.reply-section .close {
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding: 10px;
}
.reply-section .main-sec {
    width: 100%;
}
.pad-20 {
    padding: 20px;
}
.reply-text {
    margin-top: -8px;
    font-size: .7rem;
    text-align: right;
    margin-right: -5px;
    margin-bottom: 2px;
    color: darkgray;
    opacity: .6;
}
.reply-text a:hover {
    text-decoration: underline !important;
}
.blinkelem {
    -webkit-animation: NAME-YOUR-ANIMATION 2s infinite;  /* Safari 4+ */
    -moz-animation: NAME-YOUR-ANIMATION 2s infinite;  /* Fx 5+ */
    -o-animation: NAME-YOUR-ANIMATION 2s infinite;  /* Opera 12+ */
    animation: NAME-YOUR-ANIMATION 2s infinite;  /* IE 10+, Fx 29+ */
} 
@-webkit-keyframes NAME-YOUR-ANIMATION {
    0%, 49% {
      background-color: #1e407963;
    }
}
@media (min-width: 768px)
{
.col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
}
}
.col-md-12 {
    position: relative;
    width: 100%;
    padding-right: 12.5px;
    padding-left: 12.5px;
}
@media (min-width: 992px)
{
.content {
    padding: 25px 0;
}
}
.scroll.scroll-pull {
    padding-right: 12px;
    margin-right: -12px;
}
.scroll {
    position: relative;
    overflow: hidden;
}
@media (min-width: 992px)
{
.ml-lg-8 {
    margin-left: 2rem!important;
}
}
.null-img {
    margin: auto;
}
.flex-row-fluid {
    flex: 1 auto;
    -ms-flex: 1 0 0px;
    min-width: 0;
}
.mr-3 {
    margin-right: 0.75rem!important;
}
.text-dark-75 {
    color: #3f4254!important;
}
.text-muted {
    color: #b5b5c3!important;
}
.label.label-success {
    color: #fff;
    background-color: #1bc5bd!important;
}
.label.label-sm {
        font-size: .75rem;
}
.label {
    padding: 0;
    margin: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #ebedf3;
    color: #3f4254;
    font-weight: 400;
    height: 20px;
    width: 20px;
    font-size: .8rem;
}
.card.card-custom > .card-header {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    min-height: 70px;
    padding-top: 0;
    padding-bottom: 0;
    background-color: transparent;
}
.card-header:first-child {
    border-radius: calc(0.42rem - 1px) calc(0.42rem - 1px) 0 0;
}
.px-4 {
    padding-left: 1rem!important;
    padding-right: 1rem!important;
}
.py-3 {
    padding-top: 0.75rem!important;
    padding-bottom: 0.75rem!important;
}
.card-header {
    padding: 2rem 2.25rem;
    margin-bottom: 0;
    background-color: #fff;
    border-bottom: 1px solid #EBEDF3;
}
.font-size-h5 {
    font-size: 1.25rem!important;
}
.font-weight-bold {
    font-weight: 500!important;
}
.text-center {
    text-align: center!important;
}
.mb-5 {
    margin-bottom:
     1.25rem!important;
}
.bg-light-success {
    background-color: #c9f7f5!important;
}
.font-weight-bold {
    font-weight: 500!important;
}
.rounded {
    border-radius: 0.42rem!important;
}
element.style {
    min-height: 23px;
    max-height: 92px;
    height: 19px;
}
.border-0 {
    border: 0!important;
}
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.btn.btn-clean i {
    color: #b5b5c3;
}
.btn.btn-icon i {
    padding: 0;
    margin: 0;
}
.btn i {
    font-size: 1.3rem;
    padding-right: 0.35rem;
    vertical-align: middle;
    line-height: 1;
    display: inline-flex;
}
.bg-light-primary {
    background-color: #f9e2a7!important;
}
a:not([href]) {
    color: inherit;
    text-decoration: none;
}
.px-6 {
    padding-left: 1.5rem!important;
    padding-right: 1.5rem!important;
}
.btn {
    border-radius: 0.42rem;
    font-size: 1rem;
}
.card-footer {
     border-top: 1px solid #EBEDF3;
}    
@media (min-width: 1200px)
{
.w-xl-400px {
    width: 400px!important;
}
}
.flex-row-auto {
    flex: 0 0 auto;
}
.flex-grow-1 {
    flex-grow: 1!important;
}
a.text-hover-primary:hover, .text-hover-primary:hover {
    transition: color .15s ease,background-color .15s ease,border-color .15s ease,box-shadow .15s ease;
    color: #1e4079!important;
}
.btn.btn-clean:hover:not(.btn-text):not(:disabled):not(.disabled) i {
    color: #1e4079;
}
button {
    font-family: inherit;
}
.btn.btn-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    height: calc(1.5em + 1.3rem + 2px);
    width: calc(1.5em + 1.3rem + 2px);
}
.btn.btn-primary {
    color: #fff;
    background-color: #1e4079;
    border-color: #1e4079;
}
i {
    font-size: 1.25rem;
    color: #b5b5c3;
}
@media (max-width: 991.98px)
{
.content {
    padding: 15px 0;
}
}