.fa-arrow-left {
  color: #1E4070 !important;
  font-size: 16px !important;
  font-weight: bold !important;
}

.heading {
  font-size: 18px !important;
  font-weight: 700 !important;
}

.status-LoanRequest {
  background-color: #bce1ff !important;
  color: #237EC6 !important;
  font-weight: bold !important;
  padding: 5px !important;
  border-radius: 8px !important;
}

.status-ApprovalPending {
  background-color: #FEEDAF !important;
  color: #935F49 !important;
  font-weight: bold !important;
  padding: 5px !important;
  border-radius: 8px !important;
}

.status-OperationsVerified {
  background-color: #ded3ff !important;
  color: #0f006d !important;
  font-weight: bold !important;
  padding: 5px !important;
  border-radius: 8px !important;
}


.status-ApprovalRequired {
  background-color: #FEEDAF !important;
  color: #935F49 !important;
  font-weight: bold !important;
  padding: 5px !important;
  border-radius: 8px !important;
}

.status-Approved {
  background-color: #C8E6C9 !important;
  color: #256029 !important;
  font-weight: bold !important;
  padding: 5px !important;
  border-radius: 8px !important;
}

.status-Rejected {
  background-color: #FFCDD2 !important;
  color: #C63737 !important;
  font-weight: bold !important;
  padding: 5px !important;
  border-radius: 8px !important;
}

/* .status-Draft {
  background-color: #fbbdc3 !important;
  color: rgb(186, 121, 0) !important;
  font-weight: bold !important;
  padding: 5px !important;
  border-radius: 8px !important;
} */

.btn-primary {
  background-color: #1e4079 !important;
  border-color: #1e4070 !important;
  color: #fff !important;
  font-weight: 100 !important;
  border-radius: 10px !important;
}

.p-button {
  background-color: #1E4079 !important;
}

.text-white {
  color: #fff !important;
}

th {
  font-size: 14px !important;
}

.shadow {
  -webkit-box-shadow: 0 0 5px 2px #fff !important;
  -moz-box-shadow: 0 0 5px 2px #fff !important;
  box-shadow: 0 0 5px 2px #fff !important;
}

.text-right.p-dropdown.p-component {
  width: 400px !important;
}

.back-btn {
  color: #1E4070 !important;
  font-size: 16px !important;
  font-weight: 700 !important;
}


.text-primary {
  color: #1E4079 !important;
}

@media (max-width: 767px) {

  .table-column-data {
    font-weight: bold !important;
  }

  .mobile-card {
    box-shadow: 0px 2px 20px -10px #bbb !important;
  }

  .text-right.p-dropdown.p-component {
    width: 400px !important;
  }

  .heading {
    font-size: 16px !important;
  }
}