<h1 class="mat-dialog-title" *ngIf="step!=1 && step!=2  && step!=3">&nbsp;<button (click)="onCancelPass()"
    class="modal_close" tabindex="-1"><i class="fa fa-window-close" aria-hidden="true"></i></button></h1>
<h1 class="mat-dialog-title" *ngIf="step==1 || step==2 || step==3"><span *ngIf="step==1">{{heading}}</span><button mat-dialog-close
    class="modal_close" tabindex="-1"><i class="fa fa-window-close" aria-hidden="true"></i></button></h1>
<form [formGroup]="signupForm" class="signup-form" novalidate (ngSubmit)="signupForm.valid &&
onSubmit()" (keyup)="resetApiErrors()">

  <div class="mat-dialog-content" *ngIf="step==1">
    <div class="form-group" *ngIf="!data.moreOptions.isCreateProv">
      <div class="form-group mob-prefx mobile-field">
        
        <div style="display: flex;">
            <div class="input-group-prepend mob-prefix">
                <span class="input-group-text" id="">{{mob_prefix_cap}}</span>
                </div>
        <mat-form-field> 
            <div>     
                <input type="text" style="display: inline;" matInput class="form-control" id="phonenumber" formControlName="phonenumber"
                autocomplete="off" placeholder="{{mobile_no_cap}} *" maxlength=10>
            </div>
        </mat-form-field>
    </div>


        <app-field-error-display [displayError]="fed_service.isFieldValid(signupForm,'phonenumber')" [errorMsgs]="fed_service.getErrorMessage(signupForm,'phonenumber',
  {
    'required' : 'Mobile number is required',
    'minlength' : 'Enter a 10 digit mobile number',
    'maxlength' : 'Enter a 10 digit mobile number',
    'pattern' : 'Only numbers are allowed'
  })">
        </app-field-error-display>
      </div>
      <div class="form-group">
        <mat-form-field>
          <input type="text" matInput class="form-control" id="first_name" placeholder="{{first_name_cap}}"
            formControlName="first_name" autocomplete="off" (blur)="onFieldBlur('first_name')">
        </mat-form-field>
        <app-field-error-display [displayError]="fed_service.isFieldValid(signupForm,'first_name')" [errorMsgs]="fed_service.getErrorMessage(signupForm,'first_name',
{
  'required' : 'First name is required',
  'pattern' : 'Only alphabets are allowed'
})">
        </app-field-error-display>
      </div>
      <div class="form-group">
        <mat-form-field>
          <input type="text" matInput class="form-control" id="last_name" placeholder="{{last_name_cap}}"
            formControlName="last_name" autocomplete="off" (blur)="onFieldBlur('last_name')">
        </mat-form-field>
        <app-field-error-display [displayError]="fed_service.isFieldValid(signupForm,'last_name')" [errorMsgs]="fed_service.getErrorMessage(signupForm,'last_name',
  {
    'required' : 'Last name is required',
    'pattern' : 'Only alphabets are allowed'
  })">
        </app-field-error-display>
      </div>
    </div>
    <div class="form-group" *ngIf="signupForm.get('is_provider').value == 'true'">
      <mat-form-field *ngIf="data.claimData == undefined">
        <mat-select placeholder="{{select_domain_cap}}" formControlName="selectedDomainIndex" #seldom
          (selectionChange)="setDomain(seldom.value)">
          <mat-option *ngFor="let domain of business_domains; let i = index" [value]="i">
            {{domain.displayName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field *ngIf="data.claimData !== undefined">
        <input type="text" matInput class="form-control" placeholder="{{domain_cap}}" formControlName="selectedDomainIndex" autocomplete="off" >
             </mat-form-field>
      <app-field-error-display [displayError]="fed_service.isFieldValid(signupForm,'selectedDomainIndex')"
        errorMsg="Select one Service Domain">
      </app-field-error-display>
    </div>

     <div class="form-group"
    *ngIf="signupForm.get('is_provider').value == 'true' && domainIsthere">
    <div class="form-group col-md-12 col-xs-12 col-sm-12 sgn-subdom no-padding">
      <label class="subdom_cap">{{select_subdomain_cap}}</label>
      <mat-radio-group formControlName="selectedSubDomains">
          <mat-radio-button *ngFor="let subdomain of subDomainList; let i = index" [value]="i">
            <div class="col-md-12 col-xs-12 col-sm-12 no-padding">
              <div class="pull-left subdom_tit">
                  {{subdomain.itemName}}
                  <p class="form-level-settings" *ngIf="subdomainSettings[subdomain.value] && subdomainSettings[subdomain.value].help">{{subdomainSettings[subdomain.value].help}}</p>
              </div>
              <div class="pull-right subdom_img {{subdomainSettings[subdomain.value].iconClass}}" *ngIf="subdomainSettings[subdomain.value]" >            
              </div>
            </div>
          </mat-radio-button>   
      </mat-radio-group>
      </div>
    <mat-form-field *ngIf="data.claimData !== undefined">
      <input type="text" matInput class="form-control" placeholder="{{subdomain_cap}}" formControlName="selectedSubDomains" autocomplete="off" >
            </mat-form-field>
           <p *ngIf="data.claimData !== undefined" style="padding-top: 10px;" class="form-level-settings">Contact jaldee support if you would like to change your domain/specialization.</p>
    <app-field-error-display [displayError]="fed_service.isFieldValid(signupForm,'selectedSubDomains')"
      errorMsg="Select one sub sector">
    </app-field-error-display>
  </div>
  <!-- <div>
      <a (click)="corporate_branch()" class="more_less linkc">Are you a Corporate/Branch</a><br/><br/>
      <div style="display : flex">
      <mat-checkbox (change)="corporate()" *ngIf="CorporateBranch == 'co_branch'"> Corporate</mat-checkbox> &nbsp; &nbsp;
      <div class="form-group" *ngIf="action">
          <input type="text" class="form-control box"  formControlName="corporateaction" minlength="0" maxlength="10">
             </div>
            </div>
      <br/>
      <div style="display : flex">
      <mat-checkbox (change)="bank()" *ngIf="CorporateBranch == 'co_branch'"> Branch</mat-checkbox>  &nbsp; &nbsp;
      <div class="form-group" *ngIf="bank_action">
          <input type="text" class="form-control box"  formControlName="bankaction" minlength="0" maxlength="10">
             </div>
    </div>
  </div> -->
  <!-- <div class="form-group" *ngIf="signupForm.get('is_provider').value == 'true' && domainIsthere">
    <mat-form-field>
      <mat-select placeholder="Choose your {{lic_package_cap}}" formControlName="package_id" #licpkg
        (selectionChange)="clickedPackage(licpkg)">
        <mat-option *ngFor="let package of packages; let i = index" [value]="package.pkgId">
          {{package.displayName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <app-field-error-display [displayError]="fed_service.isFieldValid(signupForm,'package_id')"
      errorMsg="Select one license package">
    </app-field-error-display>
    <span class="package-desc"><a rel="noopener" routerLink="/license-help" target="_blank">Help me to choose the right license
        package</a></span>
    <div class="package-desc" *ngIf="license_description!=''">
      {{license_description}}
    </div>
  </div> -->
  <div class="package-desc" *ngIf="signupForm.get('is_provider').value == 'true'">{{signupp_cap}}<span
      (click)="more()" *ngIf="moreLess == 0" class="more_less">more...</span><span
      *ngIf="moreLess == 1">{{more_signup}}</span><span (click)="less()" *ngIf="moreLess == 1"
      class="more_less">less.</span>
  </div>
  <div class="form-group agree">
    <mat-checkbox class="terms-margin" formControlName="terms_condition" [value]=true></mat-checkbox> <span
      class="terms-link">{{i_agree_cap}}
      <a class="learnmore-pointer" (click)="termsClicked()">{{terms_cond_cap}}</a></span>
  </div>
  <div class="signupterms" *ngIf="showTermcondition" style="overflow: auto; max-height: 200px;font-size: .70rem">
    <h6>Terms & Conditions</h6>
    <div class="p-subouter">
      <p>The following terms and conditions will constitute the legally binding contractual
        agreement between you, who will be referred to hereafter as "registered service
        provider" and Jaldee Soft Pvt Ltd. 2nd floor, Vellara building, Museum Cross Lane,
        Chembukavu, Thrissur, Kerala, hereafter referred to as "Jaldee". HOWEVER, it is mutually
        agreed that the Terms and Conditions may be amended at the sole discretion of Jaldee and
        such amended terms and conditions shall be in force from the date of notification of
        such amended terms and conditions on the website/platform.
      </p>
    </div>
    <div class="p-subouter">
      <p>Terms and conditions as herein provided or as amended from time, shall be applicable from
        the time when the registration is made by a Registered Service Provider, till the time
        the Registration is valid. These terms and conditions shall continue to govern the
        matters between the parties covered herein arising during its currency, even after the
        expiry of the agreement.
      </p>
    </div>
    <div class="p-subouter">
      <p>In case of corporate service providers, Jaldee will also be directly dealing with the
        corporate/parent entity for applicable service providers.</p>
    </div>
    <div class="p-subouter">
      <strong>Definitions :</strong>
      <ul>
        <li>License shall mean the package or type of service opted for by the registered
          service provider to be obtained from Jaldee. The payments and facilities for each
          type of license are indicated in Annexure 1 of these terms and conditions and they
          shall be read as part and parcel of these terms and conditions.</li>
        <li>Platform means the website/ application or any other means through which Jaldee
          provides its services to registered service provider or registered consumer. The
          service of Jaldee is to provide a platform wherein registered service providers and
          registered consumers can interact and more effectively carry out their business.
          Jaldee in no manner guarantees any minimum quantum of business to any registered
          service provider or any minimum standard/quality of service to any registered
          consumer.</li>
        <li>Registered consumer means a person who has registered as a consumer accepting the
          terms and conditions applicable to such registration on the website/ application or
          any other platform provided by Jaldee.</li>
        <li>Registered service provider means a person who has registered as a service provider
          accepting these terms and conditions on the website/ application or any other
          platform provided by Jaldee.</li>
      </ul>
    </div>
    <div class="p-subouter">
      <strong>Registration :</strong>
      <ul>
        <li>On selecting to be registered as a service provider, by providing the mobile number,
          first and last name, domain and sub domain of service and accepting these terms and
          conditions, a one-time password will be sent to the provided mobile number.</li>
        <li>The action of requesting a one-time password by providing the above said information
          and opting to accept these terms and conditions would constitute voluntary
          acceptance of these terms and conditions as amended from time to time by Jaldee.
        </li>
        <li>The said mobile number would be treated as the registered mobile number of the
          registered service provider.</li>
        <li>On verifying the mobile number, the registered service provider will be permitted to
          set up a password and a detailed profile including name, email address, physical
          address, GPS location, hours of work, search tags etc. The information that can be
          included in the profile would depend on the type of license opted for by the
          registered service provider.</li>
        <li>The registered service provider shall provide true, accurate and complete
          information in the profile or on any other forms they fill on the platform. If it is
          found that any wrong/ misleading information is provided by the registered service
          provider, such registered service provider would become liable for termination and
          blacklisting as per the procedures contemplated under these terms and conditions and
          shall be liable for other legal action both under civil and criminal law.</li>
        <li>The registered service provider may choose to be granted any level of license. The
          continuance of the type of license opted would depend up on payment of the license
          fee. On expiry of term of paid license, the registered service provider would be
          reverted back automatically to the free basic license available as on the date of
          expiry of the earlier license. Any additional facility that was being used by the
          registered service provider by opting for a higher level of license would be
          truncated or cancelled as the case may be on such reversion to basic license.
          Payments made against License Packages are not refundable.</li>
        <li>By registering as a Registered Service Provider, the person so registering is making
          an express representation to Jaldee and also all Registered Consumers that he is
          eligible in accordance with law that may be in force to provide the domain or sub
          domain of service, or sub category of service, claimed to be provided by the said
          Registered Service Provider. Jaldee shall not be in any manner responsible for any
          untruthfulness, inaccuracy or incompleteness of such information. The Registered
          Service Provider is duty bound to disclose and update any information relevant or
          having any bearing on his capacity or eligibility to provide the service on the
          platform.</li>
        <li>By registering as a Registered Service Provider or as a Registered Consumer, the
          person so registering is expressly representing that the person is a legal entity or
          natural person eligible to enter into legally binding contracts. Jaldee shall not be
          held responsible for any misrepresentation or suppression in this regard.</li>
        <li>On registration, the Registered Service Provider or Registered Consumer shall be
          permitted to set up a password. The said Registered Service Provider/Consumer shall
          be solely and entirely responsible for the safeguard and confidentiality of the
          password and it is mutually agreed that Jaldee would be free to assume that any
          usage of the platform with the said password shall be usage by the Registered
          Service Provider/Consumer or by a person authorized by them. The Registered Service
          Provider/ Consumer shall notify Jaldee immediately on noting any unauthorized/
          suspicious use of the platform.</li>
        <li>Registered Service Provider shall not transfer his rights or obligations including
          the registration/account to any one without the express written permission of Jaldee
          and any agreement or arrangement to that effect shall be void. However, it is
          mutually agreed that Jaldee would be free to assign the rights and liabilities under
          these terms and conditions to any other person at its sole discretion.</li>
      </ul>
    </div>
    <div class="p-subouter">
      <strong>Verification :</strong>
      <ul>
        <li>The registered service provider may opt for any level of verification as provided
          for under Annexure 2 to these terms and conditions.</li>
        <li>The lowest level of verification would only involve verification of
          attested/certified copies of documents sent over to Jaldee by the registered service
          provider. This will be totally free. Higher levels of verification would be made on
          payment of verification fee and within such time as stipulated in Annexure 2.</li>
        <li>Till verification of the registered service provider as contemplated by opted level
          of verification is complete, the fact that the registered service provider is
          unverified would be displayed to the registered consumers. The level of verification
          and the manner in which verification is carried out would be displayed to the
          registered consumers once the verification is complete.</li>
        <li>If the basic verification required for minimum level of verification is not complete
          within 15 (fifteen) days from the date of registration, Jaldee may in its discretion
          cancel the basic registration of the registered service provider.</li>
        <li>The verification would need renewal as per time period provided for each level of
          verification in Annexure 2 on payment of fee as prescribed in Annexure 2. If the
          renewal is not done within the time frame, the registration would be reverted to
          basic verification, or the basic registration itself may be cancelled as may be
          necessary.</li>
      </ul>
    </div>
    <div class="p-subouter">
      <strong>Legal Relationship</strong>
      <ul>
        <li>Jaldee only provides a platform for connecting the Registered Service Provider and
          Registered Consumer. Jaldee in no manner guarantees any minimum quantum of business
          to any registered service provider or any minimum standard/quality of service to any
          registered consumer. Nothing in these terms and conditions shall be deemed to create
          any partnership, Joint Venture, agency, employer employee relationship, trust or
          fiduciary relationship between Jaldee or any Registered Service Provider or
          Registered Consumer.</li>
        <li>The contract between Registered Service Provider and Registered Consumer shall be
          independent and Jaldee will have no role to play in the same except to the extent of
          dispute resolution system provided under these terms and conditions.</li>
        <li>The liability for tax of any kind including Goods and Service Tax for the service
          provided by the Registered Service Provider shall be solely and entirely the
          responsibility of the Registered Service Provider. Jaldee shall be held responsible
          for the Tax Liability only on the service provided by Jaldee on the platform and it
          shall not be in any manner held responsible for any failure of the Registered
          Service Provider to comply with any provisions of the Taxation Laws and the
          Registered Service Provider shall keep Jaldee indemnified in respect of any such
          claim or proceedings.</li>
      </ul>
    </div>
    <div class="p-subouter">
      <strong>Search System</strong>
      <ul>
        <li>If the registered service provider has opted for his profile being made available
          for public search, the details of the registered service provider would be made
          available for the registered consumers conducting a search for any service related
          to the domain or sub domain of service provided by the registered service provider.
        </li>
        <li>The order of listing on search would be determined based on level of verification
          and proximity from the location of the consumer, of the registered service provider.
        </li>
        <li>The registered service provider hereby expressly authorises Jaldee to display and
          disclose to the registered consumers the information provided by the registered
          service provider to Jaldee, the level of verification, and rating given by
          registered consumers to the registered service provider.</li>
      </ul>
    </div>
    <div class="p-subouter">
      <strong>Queue System</strong>
      <ul>
        <li>The platform would enable a registered consumer to request/book the next available
          queue position on an available date with the registered service provider.</li>
        <li>The registered service provider may cancel any queue position. The registered
          service provider may delay the time window for the queue position. The registered
          consumers concerned would then be notified of the cancellation or delay on the
          platform.</li>
        <li>Registered consumer may cancel the queue position and, on such cancellation, the
          registered service provider concerned would be informed of the cancellation on the
          platform.</li>
        <li>In case of any dispute being raised by the registered consumer/registered service
          provider concerned, the same would be considered in accordance with the dispute
          resolution system.</li>
        <li>The queue system would be allotting slots of time based on either the pre-set time
          windows provided by the service provider or based on the time window calculated by
          Jaldee relying on the machine learning algorithm. If the waiting time relying on
          machine learning algorithm is used it may result in inaccuracy as the same is
          calculated in accordance with the history of time consumed in each consumer's case
          by the service provider. Jaldee would not be held responsible for any kind of damage
          that may occur due to adherence to automatically generated time windows based on
          machine learning algorithm.</li>
      </ul>
    </div>
    <div class="p-subouter">
      <strong>Jaldee pay system (applicable if you use Jaldee pay)</strong>
      <ul>
        <li>Jaldee pay is an additional facility enabling a service provider to accept payment
          through the jaldee app.</li>
        <li>The service provider may at his option based on his level of registration provide
          the bank account no. and such other details necessary while registering the jaldee
          account. If such details are provided the jaldee pay system would enable the jaldee
          provider to accept payment directly into his account using the gateway provided in
          the application for the same.</li>
        <li>In case the service provider does not opt for giving the a/c credentials, a separate
          account would be maintained by jaldee for the purpose of crediting money in favor of
          the service provider through the jaldee app. In such circumstances the following
          terms and conditions would be applicable for the payment made through jaldee app.
          <br />
          <ul>
            <li>A percentage of payments made by consumer would be retained as payment
              commission by jaldee depending on the level of registration of the Service
              Provider.</li>
            <li>The balance amount after such commission would be held in the credit of the
              service provider by jaldee as a trustee.</li>
            <li>The amount standing to the credit of the service provider would be paid
              every week through the method chosen by the service provider at the time of
              registration. The service provider may opt for physical delivery of a cheque
              or for any online transfer of the amount as the case may be.</li>
            <li>The jaldee will not be paying any interest on the amount standing to the
              credit of the service provider. If the payment due to the service provider
              is delayed for a period of more than 3 months, the payment would be made by
              jaldee along with interest at the rate of 4% per annum from the date of
              completion of 3 months from the date of credit.</li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="p-subouter">
      <strong>Dispute resolution system</strong>
      <ul>
        <li>Jaldee will provide on its platform a method for both registered service providers
          and the registered consumers to raise a complaint or dispute against the other in
          respect of any queue position booked through Jaldee within 48 hours from the time of
          completion of the service.</li>
        <li>Jaldee will consider the said complaint through its dispute resolution council with
          reasonable opportunity to both parties. The decision of the council shall be final.
        </li>
        <li>The Dispute resolution system provided by Jaldee does not in any manner cover a
          claim or complaint in respect of the quality of the service provided by the
          Registered Service Provider and it shall only cover the honouring of queue position
          by the Registered Service Provider. Any claim a Registered Consumer may have against
          a Registered Service Provider in respect of any deficiency in service offered will
          have to be taken up with the appropriate legal authority based on the contract
          between the Registered Consumer and Registered Service Provider.</li>
      </ul>
    </div>
    <div class="p-subouter">
      <strong>Removal and black listing</strong>
      <ul>
        <li>If on verification, or complaint or by any other means Jaldee comes to realise that
          the registered service provider has provided false, inaccurate, incomplete,
          misleading, or fraudulent information on the platform, Jaldee may in its discretion
          remove the registration of the registered service provider and /or blacklist the
          registered service provider, thus preventing such registered service provider from
          again registering on the platform.</li>
        <li>The registered service provider shall honour any queue position fixed through the
          platform. In case of any disability to honour such queue position the registered
          service provider shall cancel/ delay the queue position sufficiently in advance so
          as to avoid any inconvenience to the concerned registered consumer. Any default in
          such best communication policy shall be treated as misuse of the platform.
          Consistent /repeated misuse of the platform which may give rise to complaints from
          the registered consumers would result in removal /blacklisting of the registered
          service provider at the discretion of Jaldee.</li>
        <li>Jaldee is also providing a facility to interact through chat between registered
          service provider and registered consumer. The users shall ensure decency in language
          on such platform. Any violation of the same may result in removal/blacklisting of
          the person concerned.</li>
        <li>The platform is intended only to be used for registered service providers and
          registered consumers to interact in respect of their business, book and confirm
          queue position and to enable payment for service. Use of the platform for any other
          purpose by a registered service provider or a registered consumer shall be treated
          as an abuse of the platform which may, at the discretion of Jaldee, result in
          removal or blacklisting of the registered service provider or registered consumer.
        </li>
        <li>If any Registered Service Provider fails to comply with these terms and conditions
          or violates the same, Jaldee may in its discretion remove or blacklist the said
          Registered Service Provider.</li>
        <li>The details of removed/blacklisted registered service provider would be disclosed/
          displayed to registered consumers by Jaldee and the registered service providers by
          accepting these terms and conditions expressly authorised Jaldee to do so.</li>
        <li>The actions mentioned above which may result in removal /blacklisting would also
          make the registered service provider/ registered consumer for being subjected to
          legal action both under civil and criminal law. The removal /blacklisting as the
          case may be would be without prejudice to such legal action Jaldee may take.</li>
        <li>If Jaldee is convinced that there exists a prima face case for removal
          /blacklisting, Jaldee may choose to suspend the registration of the registered
          service provider pending final decision on the question of removal/blacklisting.
        </li>
        <li>If a registered service provider who has a paid level of license is either removed
          or blacklisted, the entire fee for the licence paid to Jaldee would stand forfeited
          and the registered service provider shall not be entitled to any kind of
          reimbursement of the license fee paid or part thereof.</li>
      </ul>
    </div>
    <div class="p-subouter">
      <strong>Communications</strong>
      <ul>
        <li>The registered Service Provider hereby agree that any communication sent to the
          email address provided by them at the time of registration or as updated from time
          to time shall be sufficient communication to them regarding the matter communicated.
          This shall include, but not limited to, any information regarding change of these
          terms and conditions or any notices in respect of any proceedings under Dispute
          Resolution System, or Removal and Blacklisting Procedure.</li>
      </ul>
    </div>
    <div class="p-subouter">
      <strong>Rating</strong>
      <ul>
        <li>A registered consumer who is availing any service from a registered service provider
          would be requested to rate the service on a scale of 1-5. The said registered
          consumer would be also permitted to give feedback regarding the service at his
          option.</li>
        <li>Jaldee would display the average rating of all the registered consumers in respect
          of the concerned registered service provider as part of the profile of the
          registered service provider. The registered service provider hereby expressly
          authorises Jaldee to display such information.</li>
        <li>However, the optional feedback given by the registered consumer would only be
          communicated to registered service provider on his request.</li>
        <li>The rating and the feedback are being given by the registered consumers
          independently. The registered service provider shall not hold Jaldee to be
          responsible for the same in any manner.</li>
      </ul>
    </div>
    <div class="p-subouter">
      <strong>Indemnity</strong>
      <ul>
        <li>Jaldee shall not be responsible for the service provided to the registered consumer
          by the registered service provider. The registered service provider shall endure to
          give best service to the registered consumer and the registered service provider
          shall always indemnify Jaldee against any claim of a registered consumer in respect
          of the service rendered by the said registered service provider.</li>
        <li>Jaldee is not responsible either for the behaviour of the registered consumer or his
          failure to honour any part of his agreement with the registered service provider.
          The registered service provider shall not hold Jaldee responsible for any action of
          the registered consumer or any loss caused by the registered consumer to the
          registered service provider. The registered service provider clearly understands
          that Jaldee does not in any manner verify the credentials of a registered consumer.
        </li>
      </ul>
    </div>
    <div class="p-subouter">
      <strong>Privacy</strong>
      <ul>
        <li>Jaldee collects personal information which is willingly provided by the registered
          service provider only. It includes and is not limited to, name, email address,
          address, phone numbers and other contact details, GPS location, profile description,
          password, bank account details and professional credentials /licenses for the
          purpose of connecting the registered service providers with registered consumers.
          Jaldee does not rent or sell any of the information to 3rd parties. Jaldee would
          disclose the information collected only to users of the platform for the purpose of
          enabling interaction between services providers and consumers. Jaldee will not share
          any of the information with any 3rd parties without the express consent of the
          person providing such information. Any information provided by Registered Service
          Provider/ Consumer shall be secured with industry standard protocols and technology
          by Jaldee. However, nothing in this agreement shall prevent Jaldee from disclosing
          any information given to it to any Governmental Agency or Authority who may demand
          such information as authorized by any law in force. </li>
        <li>Jaldee would collect IP Address of any person who logs in to its website or on the
          platform and would also collect information from the browser used as cookies, and
          store such information. These information are used only for system administration
          purposes and they are not in any manner linked to personally identifiable
          information unless in case of detection of fraud or cyber-crime.</li>
        <li>Any personal information collected by Jaldee is secured through industry standard
          protocols and technology and is stored on the servers/ systems accessible only to
          authorized personnel of Jaldee with whom non-disclosure agreements are in place
          mandating confidentiality in respect of client information.</li>
      </ul>
    </div>
    <div class="p-subouter">
      <strong>Intellectual Property</strong>
      <ul>
        <li>The Registered Service Provider/ Consumer hereby represents that any information
          they provide on the platform shall not violate any intellectual property rights of
          any third party and undertakes that they would keep Jaldee indemnified as against
          any claim arising from such violation of Intellectual property rights of third
          parties by the Registered Service Provider/ Consumer.</li>
        <li>The contents made available by Jaldee on the platform are its original work and the
          intellectual property rights in respect of the same shall remain with Jaldee. The
          contents include and are not limited to the logo, icons, graphics, feature logos,
          token system and its algorithm, check-in feature, search algorithm, ad words, User
          Interface, Jaldee Kiosk System, Jaldee Coupon System and its algorithm, etc. The
          Registered Service Provider/ Consumer undertakes not to use any such content without
          the express written permission of Jaldee.</li>
      </ul>
    </div>
    <div class="p-subouter">
      <strong>Change of terms and conditions</strong>
      <ul>
        <li>Jaldee reserves to itself all rights to unilaterally amend the terms and conditions
          herein contained as and when need arises. Any revision of such terms would be ex
          post facto be intimated to both registered service providers and registered
          consumers by communication over the platform. By continuing to use the platform
          after such intimation the users are consenting and concurring to the amended terms
          and conditions.</li>
      </ul>
    </div>
    <div class="p-subouter">
      <strong>Arbitration</strong>
      <ul>
        <li>Any dispute arising under this agreement shall be resolved through arbitration under
          the Arbitration and Conciliation Act, 1996 through a sole arbitrator to be appointed
          by Jaldee.</li>
      </ul>
    </div>
    <div class="p-subouter">
      <strong>Jurisdiction</strong>
      <ul>
        <li>Any disputes that arise in respect of any claim under this agreement shall be
          subject to the jurisdiction of the courts at Ernakulam only.</li>
      </ul>
    </div>
    <div class="p-subouter">
      <strong>Force Majeure</strong>
      <ul>
        <li>While all efforts will be taken by Jaldee to keep any down time that may occur for
          the platform to the minimum, Jaldee shall not be responsible in any manner for any
          failure or delay in performance of any obligations arising from these Terms and
          Conditions due to labour disturbances, accidents, natural disasters, strikes, wars,
          riots etc., or acts of government, or any disruption of communication system like
          the internet.</li>
      </ul>
    </div>
    <div class="p-subouter">
      <strong>Jaldee coupons</strong>
      <ul>
        <li>Jaldee coupons referrers to any system of providing discounts promulgated by jaldee
          from time to time. Such schemes would essentially involve a discount being offered
          to a registered consumer by a registered service provider. Such discount offered
          based on the jaldee coupons shall be subsidised by jaldee based on the respective
          jaldee coupon scheme as may be promulgated from time to time.</li>
        <li>A Registered Service Provider agrees that he shall honour any such jaldee coupon
          schemes promulgated by jaldee from time to time.</li>
      </ul>
    </div>
  </div>
</div>
  <div class="mat-dialog-actions" *ngIf="step==1">
    <button type="submit" mat-button
      [disabled]="signupForm.get('terms_condition').value == '' || signupForm.get('terms_condition').value == false || !signupForm.valid">Send
      OTP</button>
    <div *ngIf="is_provider=='false'" style="padding-top:10px;">If you are a Service Provider / Business Owner
      <div><a style="cursor:pointer" class="normal-link" (click)="goBusinessClicked()">Go to Jaldee Business</a></div>
    </div>
  </div>
</form>
<div class="example-container otpouter" *ngIf="step==2">
  <app-otp-form [type]="'signup'" [submitdata]="user_details" (retonOtpSubmit)="onOtpSubmit($event)"
    (resetApiErrors)="resetApiErrors()" [actionstarted]="actionstarted" (resendOtp)="resendOtp($event)" [resendemailotpsuccess]="resendemailotpsuccess">
  </app-otp-form>
</div>
<div class="mat-dialog-content" *ngIf="step==3">
  <section class="col-md-12 col-xs-12 col-sm-12 no-padding">
      <div class="form-group col-md-12 col-xs-12 col-sm-12 no-padding">
          <label class="col-form-label bold">How did you hear us?</label>
      </div>
      <div class="form-group col-md-12 col-xs-12 col-sm-12 hearus no-padding">
          <mat-radio-group [(ngModel)]="hearus">
              <mat-radio-button value="SalesReps">Sales Reps</mat-radio-button>
              <div class="clearfix"></div>
              <app-saleschannel *ngIf="hearus==='SalesReps'" (retfromSC)="onReferalSubmit($event)" (resetApiErrors)="resetApiErrors()">
              </app-saleschannel>
              <mat-radio-button value="Jaldee">Jaldee</mat-radio-button>
              <mat-radio-button value="Facebook">Facebook</mat-radio-button>
              <mat-radio-button value="Friend">Friend</mat-radio-button>
              <mat-radio-button value="GoogleSearch">Google</mat-radio-button>
              <mat-radio-button value="Twitter">Twitter</mat-radio-button>
              <mat-radio-button value="Other">Other</mat-radio-button>
          </mat-radio-group>
      </div>
      <mat-dialog-actions>
          <button tabindex="-1" (click)="skipHearus()" class="cs-btn bt2">Skip</button>
          <button tabindex="2" [disabled]="!hearus || (hearus=='SalesReps' && !scfound)" [ngClass]="{'disabled': !hearus || (hearus=='SalesReps' && !scfound)}" (click)="submitHearus(hearus)" class="cs-btn bt1">{{ok_btn_cap}}</button>
      </mat-dialog-actions>
  </section>
  
</div>
<div class="example-container" *ngIf="step==4">
  <app-sp-form (retonPasswordSubmit)="onPasswordSubmit($event)" (resetApiErrors)="resetApiErrors()"
    (onCancelBtn)="onCancelPass()" [checkConsumerOrProvider]="is_provider"></app-sp-form>
</div>
<div class="example-container" *ngIf="step==5">
  <mat-dialog-content class="pwd_cancel_scr">
    <p class="col-form-label col-md-12 no-padding" for="otp">{{close_message}}</p>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button tabindex="-1" (click)="continuetoPwd()" class="cs-btn bt2">{{cancel_btn_cap}}</button>
    <button tabindex="2" (click)="closePwdScreen()" class="cs-btn bt1 reddelete">{{ok_btn_cap}}</button>
  </mat-dialog-actions>
</div>
<div *ngIf="api_error">
  <app-field-error-display [displayError]="true" errorMsg="{{api_error}}"></app-field-error-display>
</div>
<div *ngIf="api_success">
  <app-form-success-display [displayMsg]="true" successMsg="{{api_success}}"></app-form-success-display>
</div>