<section>
    <app-breadcrumb [breadcrumbs]="breadcrumbs" [moreOptions]="breadcrumb_moreoptions"></app-breadcrumb>
</section>
<section>
    <div class="content loc-list p-checkin ynw-common-form-nm">
        <div class="col-md-12 no-padding">
            <div class="row">
                <div class="card p0" *ngIf="!showCheckin">
                    <div class="copy locd">
                        <div class="lbl col-sm-12 col-md-8 col-lg-8">
                            <form [formGroup]="searchForm" novalidate (keyup)="resetApiErrors($event)">
                                <div class="form-group col-md-12 mgn-up-10 sc-frm">
                                    <div class="col-md-9 col-xs-10 col-sm-10 no-padding">
                                        <div class="col-md-10 col-sm-10 col-xs-10">
                                            <mat-form-field>
                                                <input matInput placeholder="Enter Phone Number/Id/email" type="text"
                                                    class="form-control" formControlName="search_input"
                                                    (keypress)="findCustomer(searchForm.value, $event)">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-2 col-xs-2 col-sm-2">
                                            <i class="fa fa-search pointer-cursor" (click)="searchForm.valid &&
                                        searchCustomer(searchForm.value,selectedMode)"></i>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="col-md-12 no-padding" *ngIf="create_new">
                                <hr class="wide-separator-line" />
                            </div>
                            <div class="create_new mgn-bt-20" *ngIf="create_new">
                                <span>Sorry, We were not able to find the record in our {{customer_label}}s list.</span>
                                <button class="create_new_button cs-btn bt3" (click)="createNew()">{{create_cap}}
                                    {{customer_label}}</button>
                            </div>
                        </div>
                        <div class="lbr col-sm-12 col-md-4 col-lg-4">
                        </div>
                    </div>
                </div>
            </div>
            <div class="card p0" *ngIf="showCheckin">
                <div class="copy locd">
                    <div class="lbl col-sm-12 col-md-7 col-lg-7">
                        <div class="mainouter checkin-page ">
                            <ng-container *ngIf="!api_loading1">
                                <div class="servicefor-outer btborder">
                                    <ul class="availer-ul">
                                        <ng-container *ngFor="let waitfor of waitlist_for; let i = index">
                                            <li>
                                                {{waitfor.firstName | capitalizeFirst}}
                                                {{waitfor.lastName | capitalizeFirst}}
                                                <!-- <span class="cs-btn bt8 changemember"
                                                    (click)="handleServiceForWhom()"
                                                    *ngIf="i==0 && queuejson.length > 0">{{add_change_member}}</span> -->
                                            </li>
                                        </ng-container>
                                    </ul>
                                    <div class="date-outer" *ngIf="partySizeRequired">
                                        <div class="form-group party-size">
                                            <label class="col-form-label">{{enter_party_size_cap}}</label>
                                            <input class="partysize-input" type="text" matInput #partysize
                                                [(ngModel)]="enterd_partySize" (focus)="clearerrorParty()"
                                                (blur)="checkPartySize(partysize.value)" maxlength="5" />
                                            <div class="error" *ngIf="partyapi_error">{{partyapi_error}}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="service-outer" *ngIf="filterDepart">
                                    <ng-container>
                                        <mat-form-field *ngIf="deptLength == 1">
                                            <input matInput *ngFor="let dept of departments" [readonly]="true"
                                                placeholder="Department"
                                                value="{{dept.departmentName | capitalizeFirst}}">
                                        </mat-form-field>
                                        <mat-form-field *ngIf="deptLength > 1">
                                            <mat-select placeholder="{{select_deptment_cap}}" [ngModel]="selected_dept"
                                                #deptsel (selectionChange)="handleDeptSelction(deptsel.value)">
                                                <mat-option *ngFor="let dept of departments"
                                                    [value]="dept.departmentId">
                                                    {{dept.departmentName | capitalizeFirst}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </ng-container>
                                </div>
                                <div class="service-outer" *ngIf="users.length > 0">
                                    <ng-container>
                                        <mat-form-field *ngIf="users.length == 1">
                                            <input matInput *ngFor="let user of users" [readonly]="true"
                                                placeholder="Doctors"
                                                value="{{user.firstName | capitalizeFirst}} {{user.lastName}}">
                                        </mat-form-field>
                                        <mat-form-field *ngIf="users.length > 1">
                                            <mat-select placeholder="Select Doctor" [ngModel]="selected_user" #usersel
                                                (selectionChange)="handleUserSelection(usersel.value)">
                                                <mat-option *ngFor="let user of users" [value]="user">
                                                    {{user.firstName}} {{user.lastName}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        <!-- <ng-container *ngIf="servicesjson.length == 0">
                                            <span class='no-queue-available'>{{no_services_avail_cap}}</span>
                                        </ng-container> -->
                                    </ng-container>
                                </div>
                                <div class="service-outer" *ngIf="servicesjson.length > 0">
                                    <ng-container>
                                        <mat-form-field *ngIf="servicesjson.length == 1">
                                            <input matInput *ngFor="let serv of servicesjson" [readonly]="true"
                                                placeholder="Service" value="{{serv.name | capitalizeFirst}}">
                                        </mat-form-field>
                                        <mat-form-field *ngIf="servicesjson.length > 1">
                                            <mat-select placeholder="{{select_service_cap}}" [ngModel]="sel_ser"
                                                #servsel (selectionChange)="handleServiceSel(servsel.value)">
                                                <mat-option *ngFor="let serv of servicesjson" [value]="serv.id">
                                                    {{serv.name | capitalizeFirst}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        <ng-container *ngIf="servicesjson.length == 0">
                                            <span class='no-queue-available'>{{no_services_avail_cap}}</span>
                                        </ng-container>
                                    </ng-container>
                                    <div class="callingmode mgn-lt-10"
                                        *ngIf="sel_ser_det && sel_ser_det.serviceType==='virtualService'">
                                        <div class="mgn-bt-10 mgn-up-5">
                                            <div class=""
                                                *ngFor="let mode of sel_ser_det.virtualCallingModes;let i = index">
                                                <mat-checkbox (change)="handleModeSel(i, $event)"
                                                    [value]="mode.callingMode"
                                                    [checked]="!showInputSection[i] && callingModes[i] || showInputSection[i]">
                                                    {{callingModesDisplayName[mode.callingMode]}}
                                                </mat-checkbox>
                                                <div class="input-section mgn-bt-15" *ngIf="showInputSection[i]">
                                                    <input style="border-bottom: 1px solid;padding: 0px;"
                                                        class="form-control emailPrepay" placeholder=""
                                                        [(ngModel)]="callingModes[i]" autocomplete="off">
                                                    <div class="input-group-append mgn-up-5">
                                                        <button class="btn bt3 btn-default" (click)="addCallingmode(i)"
                                                            type="button">Add</button></div>
                                                </div>
                                                <div class="mgn-bt-10" *ngIf="!showInputSection[i] && callingModes[i]">
                                                    {{callingModes[i]}}
                                                    <span class="editbt mgn-lt-20" (click)="editCallingmodes(i)"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="date-outer">
                                    <div class="date-head">Appointment {{date_cap}}</div>
                                    <div class="date-body">
                                        <span class="selected-date"> <span class="icon-minus"
                                                [class.disable]="disableMinus()"
                                                (click)="calculateDate(-1)"></span>{{sel_day}}
                                            {{sel_checkindate | date: dateFormat}}
                                            <span class="icon-add" (click)="calculateDate(1)"></span></span>
                                        <div class="form-group dt">
                                            <div class="pickerouter">
                                                <mat-datepicker-toggle matSuffix [for]="picker">
                                                </mat-datepicker-toggle>
                                                <mat-datepicker #picker></mat-datepicker>
                                                <input class="form-control" type="text" matInput
                                                    [matDatepicker]="picker" [min]="minDate" [max]="maxDate"
                                                    [value]="ddate" (dateChange)="handleFutureDateChange($event)">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 no-padding ">
                                    <div class="col-md-12 mgn-bt-10 btborder" *ngIf="queuejson.length > 0">
                                        <mat-chip-list class="pcheckin-owl">
                                            <owl-carousel [options]="carouselOne" [carouselClasses]="['owl-theme']"
                                                [items]="queuejson">
                                                <mat-chip class="item" *ngFor="let queue of queuejson, let i= index"
                                                    [selected]="queue.id === queuejson[this.sel_queue_indx].id"
                                                    (click)="handleQueueSelection(queue, i);">
                                                    <span>{{queue.apptSchedule.timeSlots[0]['sTime'] + ' - ' + queue.apptSchedule.timeSlots[0]['eTime']}}
                                                    </span></mat-chip>
                                            </owl-carousel>
                                            <div class="owl-theme">
                                                <div class="owl-controls">
                                                    <div class="checkin-nav owl-nav"></div>
                                                </div>
                                            </div>
                                        </mat-chip-list>
                                    </div>
                                    <div class="col-md-12" *ngIf="queuejson.length > 0 && servicesjson.length > 0">
                                        <div class="waitlist-button-outer">
                                            <div class="showDetOuter" *ngIf="queuejson.length > 0">
                                                <div class="showDetService">
                                                    <span *ngIf="calc_mode=='NoCalc'"><span
                                                            *ngIf="!isFuturedate"><strong>Today
                                                            </strong></span>
                                                        <span *ngIf="isFuturedate"><strong>{{sel_day}}
                                                                {{sel_checkindate | date: dateFormat}}</strong>
                                                        </span></span>
                                                </div>
                                                <div class="queue-waitingdiv">
                                                    <div class="queue-head"
                                                        *ngIf="sel_queue_servicetime=='' && settingsjson['calculationMode'] && settingsjson['calculationMode']!='NoCalc'">
                                                        <strong>{{today_cap}} {{estimateCaption}}: </strong>
                                                        <span class="queue-avail-date">{{sel_queue_waitingmins}}</span>
                                                    </div>
                                                    <div class="queue-head"
                                                        *ngIf="settingsjson['calculationMode']!='NoCalc' || (settingsjson['calculationMode']=='NoCalc' && settingsjson['showTokenId'])">
                                                        <strong>{{persons_ahead_cap}}</strong>&nbsp;<span
                                                            class="queue-avail-date">{{sel_queue_personaahead}}</span>
                                                    </div>
                                                </div>
                                                <div class="queue-waitingdiv"
                                                    *ngIf="sel_queue_servicetime!='' && settingsjson['calculationMode'] && settingsjson['calculationMode']!='NoCalc'">
                                                    <div class="queue-head">
                                                        <ng-container *ngIf="isFuturedate"><span
                                                                class="checkin-footer-date"><strong>{{nextavailableCaption}}
                                                                    <span class="queue-avail-date">{{sel_day}}
                                                                        {{sel_checkindate | date: dateFormat}},
                                                                        {{sel_queue_servicetime}}</span></strong></span>
                                                        </ng-container>
                                                        <ng-container *ngIf="!isFuturedate">
                                                            <strong>{{today_cap}} </strong>
                                                            <strong>{{checkinsCaption}}:
                                                            </strong> <span
                                                                class="queue-avail-date">{{sel_queue_servicetime}}</span>
                                                        </ng-container>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <ng-container *ngIf="queuejson.length > 0">
                                        <!-- <div class="col-md-12 form-group queue-outer mgn-up-20"
                                            *ngIf="board_count > 0 && freeSlots.length>0">
                                            <div class="ttle mgn-bt-10">Select Appointment Time</div>
                                            <mat-chip-list class="check-in-chip">
                                                <mat-chip *ngFor="let slot of freeSlots"
                                                    [selected]="slot === apptTime" (click)="timeSelected(slot);">
                                                    {{slot}}</mat-chip>
                                            </mat-chip-list>
                                        </div> -->
                                        <div class="col-md-12 form-group queue-outer mgn-bt-20"
                                            *ngIf="freeSlots.length>0 && showEditView">
                                            <div class="ttle mgn-bt-10">Select Appointment Time</div>
                                            <mat-chip-list class="appt-in-chip">
                                                <mat-chip *ngFor="let slot of freeSlots"
                                                    [selected]="slot.time === apptTime"
                                                    (click)="timeSelected(slot.time);">{{slot.time}}</mat-chip>
                                            </mat-chip-list>

                                        </div>
                                        <div class="col-md-12 form-group queue-outer mgn-bt-20" *ngIf="!showEditView">
                                            <div class="ttle mgn-bt-10">Appointment Time</div>
                                            <span class="label-bold">{{apptTime}} </span>
                                            <span style="margin-left: 30px" class="editbt"
                                                (click)="editClicked()"></span>
                                        </div>


                                        <div class="clearfix"></div>
                                        <app-common-innerloading-spinner *ngIf="api_loading">
                                        </app-common-innerloading-spinner>
                                    </ng-container>
                                    <ng-container *ngIf="queuejson.length == 0 && queueQryExecuted">
                                        <span class='no-queue-available'
                                            *ngIf="checkinLabel==='Check-In'">Appointment{{not_accepted_for_this_date}}</span>
                                        <span class='no-queue-available'
                                            *ngIf="checkinLabel!=='Check-In'">{{checkinLabel}}{{not_accepted_for_this_date}}</span>
                                    </ng-container>
                                </div>
                            </ng-container>
                            <app-common-innerloading-spinner *ngIf="api_loading1"></app-common-innerloading-spinner>
                        </div>
                        <div class="col-md-12 mgn-up-20" *ngIf="consumerNote">
                            <a class="notes pointer-cursor" (click)="toggleNotes()">Notes</a>
                        </div>
                        <ng-container *ngIf="consumerNote && notes" class="notes">
                            <div class="row col-md-12" style="display: flex;">
                                <div class="col-md-7">
                                    <span class="ln-hgt-40">{{consumerNote}}</span>
                                </div>
                            </div>
                        </ng-container>
                        <div class="col-md-12 mgn-up-20"
                            *ngIf="selectedMessage.files && selectedMessage.files.length > 0">
                            <a class="attachment pointer-cursor" (click)="toggleAttachment()">Attachments</a>
                        </div>
                        <ng-container class="attachment"
                            *ngIf="selectedMessage.files && selectedMessage.files.length > 0 && attachments">

                            <div class="row col-md-12" style="display: flex;"
                                *ngFor="let item of selectedMessage.files; let i = index">
                                <div class="col-md-7">
                                    <span class="ln-hgt-40">{{item.name}}</span>
                                </div>
                                <div class="col-md-5">
                                    <span class="mbt comm-menu-imgs">
                                        <button type="button" mat-icon-button [matMenuTriggerFor]="menu">
                                            <mat-icon>more_vert</mat-icon>
                                        </button>
                                        <mat-menu #menu="matMenu">
                                            <button type="button" (click)="deleteTempImage(i)" mat-menu-item>
                                                <i class="icon-delete"></i>
                                                <span>delete</span>
                                            </button>
                                        </mat-menu>
                                    </span>
                                </div>
                            </div>

                        </ng-container>
                        <div class="col-md-12 btborder1 mgn-bt-20">&nbsp;</div>

                        <ng-container *ngIf="this.checkinLabel && queuejson.length > 0">
                            <div class="waitlist-action mgn-bt-20 mgn-up-10"> <button mat-button class="cs-btn bt1"
                                    [class.confirmbtn]="step == 1" (click)="handleCheckinClicked()"
                                    [disabled]="api_loading">{{showCheckinButtonCaption()}}</button>
                                <div class="disable-msg">{{checkindisablemsg}}</div>
                            </div>
                        </ng-container>
                    </div>
                    <div class="lbr col-sm-12 col-md-5 col-lg-5 mainouter">
                        <div class="col-md-12  mgn-up-20 " *ngIf="showAction">
                            <aside class="checkin-aside">
                                <div class="servicefor-outer">
                                    <ng-container *ngIf="action==='members'">
                                        <div class="member-outer">
                                            <div class="member-head">
                                                {{select_the_cap}} <ng-container *ngIf="!multipleMembers_allowed">
                                                    {{member_cap}}
                                                </ng-container>
                                                <ng-container *ngIf="multipleMembers_allowed">{{members_cap}}
                                                </ng-container>
                                                {{for_whom_the_cap}}
                                                <span
                                                    *ngIf="settingsjson['calculationMode'] === 'NoCalc' && settingsjson['showTokenId']">
                                                    token
                                                </span>
                                                <span
                                                    *ngIf="settingsjson['calculationMode'] !== 'NoCalc' || (settingsjson['calculationMode'] === 'NoCalc' && !settingsjson['showTokenId'])">{{checkinLabel}}
                                                </span>
                                                {{is_beingmade_cap}}
                                            </div>
                                            <div class="member-list">
                                                <div class="cs-btn bt3 member-add" (click)="addMember()"
                                                    *ngIf="!showCreateMember">
                                                    {{add_member_cap}}</div>
                                                <ul class="member-ul">
                                                    <ng-container *ngIf="multipleMembers_allowed">
                                                        <li *ngFor="let memb of familymembers">
                                                            <mat-checkbox
                                                                (change)="handleMemberSelect(memb.userProfile.id, memb.userProfile.firstName, memb.userProfile.lastName, $event)"
                                                                [value]="memb.userProfile.id"
                                                                [checked]="isChecked(memb.userProfile.id)">
                                                                {{memb.userProfile.firstName + ' ' + memb.userProfile.lastName | capitalizeFirst}}
                                                            </mat-checkbox>
                                                        </li>
                                                    </ng-container>
                                                    <ng-container *ngIf="!multipleMembers_allowed">
                                                        <mat-radio-group>
                                                            <li *ngFor="let memb of familymembers">
                                                                <mat-radio-button
                                                                    (change)="handleOneMemberSelect(memb.userProfile.id, memb.userProfile.firstName, memb.userProfile.lastName, $event)"
                                                                    [value]="memb.userProfile.id"
                                                                    [checked]="isChecked(memb.userProfile.id)">
                                                                    {{memb.userProfile.firstName + ' ' + memb.userProfile.lastName | capitalizeFirst}}
                                                                </mat-radio-button>
                                                            </li>
                                                        </mat-radio-group>
                                                    </ng-container>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-md-12 mgn-bt-20" *ngIf="!showCreateMember">
                                            <button mat-button class="cs-btn bt1 backtocheckin"
                                                (click)="handleGoBack(1)">OK
                                            </button>
                                        </div>
                                    </ng-container>
                                    <ng-container *ngIf="showCreateMember">
                                        <div class="addmember-outer">
                                            <div class="addMemberHeader">{{add_member_cap}}</div>
                                            <app-checkin-consumer-add-member [calledFrom]="'checkin'"
                                                (returnDetails)="handleReturnDetails($event)">
                                            </app-checkin-consumer-add-member>
                                            <div class="actiondiv">
                                                <button type="button" class="cs-btn bt2 backbtn"
                                                    (click)="handleGoBack(3)">{{cancel_btn}}</button>&nbsp;
                                                <button class="cs-btn bt1 savemember"
                                                    (click)="handleSaveMember()">OK</button>
                                            </div>
                                        </div>
                                    </ng-container>
                                    <!-- <ng-container *ngIf="step==3 && showCreateMember"> 
                                        </ng-container> -->
                                    <!-- <ng-container *ngIf="!showCreateMember"> <button mat-button
                                            class="cs-btn bt1 backtocheckin" (click)="handleGoBack(1)">OK -->
                                    <!-- <span
                                                    *ngIf="settingsjson['calculationMode'] === 'NoCalc' && settingsjson['showTokenId']">
                                                    {{get_token_cap}}
                                                </span> <span
                                                    *ngIf="settingsjson['calculationMode'] !== 'NoCalc' || (settingsjson['calculationMode'] === 'NoCalc' && !settingsjson['showTokenId'])">{{checkinLabel}}
                                                </span> -->
                                    <!-- </button> -->
                                    <!-- </ng-container> -->
                                </div>
                                <ng-container *ngIf="action=='note'">
                                    <div class="col-md-12 mgn-bt-20">
                                        <mat-form-field>
                                            <textarea matInput class="form-control" #consumernote
                                                (change)="handleConsumerNote(consumernote.value)" maxlength="1000"
                                                placeholder="{{note_placeholder}}"></textarea>
                                        </mat-form-field>
                                        <div class="col-md-12 no-padding mgn-up-10">
                                            <button mat-button class="cs-btn bt1 backbtn mgn-rt-10"
                                                (click)="handleGoBack(1)">
                                                Cancel
                                            </button>
                                            <button mat-button class="cs-btn bt1 backtocheckin"
                                                (click)="handleGoBack(1)">OK
                                            </button>
                                        </div>
                                    </div>
                                    <!-- <ng-container *ngIf="selectedMessage">
                                        <div class="row col-md-12" style="display: flex;"
                                            *ngFor="let item of selectedMessage.files; let i = index">
                                            <div class="col-md-7">
                                                <span class="ln-hgt-40">{{item.name}}</span>
                                            </div>
                                            <div class="col-md-5">
                                                <span class="mbt comm-menu-imgs">
                                                    <button type="button" mat-icon-button
                                                        [matMenuTriggerFor]="menu">
                                                        <mat-icon>more_vert</mat-icon>
                                                    </button>
                                                    <mat-menu #menu="matMenu">
                                                        <button type="button"
                                                            (click)="deleteTempImage(i)" mat-menu-item>
                                                            <i class="icon-delete"></i>
                                                            <span>delete</span>
                                                        </button>
                                                    </mat-menu>
                                                </span>
                                            </div>
                                        </div>
                                    </ng-container> -->
                                </ng-container>

                                <!-- <ng-container *ngIf="action=='attachment'">
                                    <button type="button" class="cs-btn btn-attach bt_attach"
                                        (click)="imagefile.click()" [matTooltip]="'Attach files'">
                                        <input #imagefile type="file" accept="image/*,application/pdf"
                                            style="display:none;" multiple (change)="filesSelected($event)">
                                        <span><i class="fa fa-upload"></i></span>
                                    </button>
                                    <button mat-button class="cs-btn bt1 backbtn mgn-rt-10" (click)="handleGoBack(1)">
                                        Cancel
                                    </button>
                                    <button mat-button class="cs-btn bt1 backtocheckin" (click)="handleGoBack(1)">OK
                                    </button>
                                </ng-container> -->

                            </aside>
                        </div>
                        <div class="col-md-12  mgn-up-20 " *ngIf="!showAction">
                            <button class="cs-btn bt3 width-100" (click)="handleSideScreen('members')">Add / Change
                                Member</button>
                            <button class="cs-btn bt3 width-100 mgn-up-20" (click)="handleSideScreen('note')">Add
                                Note</button>
                            <button class="cs-btn bt3 width-100 mgn-up-20" (click)="imagefile.click()">
                                <!-- <button type="button" class="cs-btn btn-attach bt_attach"
                                        (click)="imagefile.click()" [matTooltip]="'Attach files'"> -->
                                <input #imagefile type="file" accept="image/*,application/pdf" style="display:none;"
                                    multiple (change)="filesSelected($event)">
                                <span> Attach
                                    File</span>
                                <!-- </button> -->

                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</section>