.img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
}
.wrap .img {
    height: 200px; 
    width: 100%;
}
.login-wrap {
    padding: 30px;
}
.login-wrap h3 {
    font-weight: 300; 
    margin-bottom: 20px;
}
.field-icon {
    position: absolute;
    top: 50%;
    right: 15px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: rgba(0, 0, 0, 0.3); 
}
.mgn-lt-auto {
    margin-left: auto;
}
.login-img {
    content: url(../../../../assets/images/loginimg.png);
}
.wrap {
    height: 100vh;
}