<div class="container">
    <div class="card" style="background-color: #f2f2f2">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-2" style="font-weight:600 ; font-size:large">FAQ</div>
                <div class="col-md-10 rightalign"><a
                        style="display: flex; justify-content:flex-end; align-items: center" (click)="goBack()">
                        <i class="material-icons">keyboard_arrow_left</i><span style="font-size: small"
                            class="pointlist"><b> Go Back</b></span></a></div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="modal-body col-md-12 no-padding">
            <div class="row">
                <section style="margin-left: 30px">
                <span class="helpcontent">
                    Q1 ) WHO IS A JALDEE CONSUMER?<br>
                    A1) Jaldee’s potential consumers are people who avail day to day services through Jaldee by avoiding
                    wastage of time in long queues.
                </span>
<br><br>
                <span class="helpcontent">
                    Q2 ) WHAT SHOULD I DO BEFORE I BOOK AN APPOINTMENT FOR ANY PROVIDER THROUGH JALDEE?<br>
                    A2) You have to activate your consumer account through the SIGNUP process. Once you complete the
                    signup process, you can search for any providers listed in JALDEE and can proceed with check-in or
                    get token or order.
                </span><br><br>
                <span class="helpcontent">Q3 ) HOW CAN I FIND A SPECIFIC PROVIDER?<br>
                    A3 ) If you wish to find a specific provider, you must enter the name of the provider or any
                    keywords related to particular provider in the third search bar.
                    Ensure the location and domain selected is appropriate.</span><br><br>
                <span class="helpcontent">
                    Q4 ) HOW LONG SHOULD I WAIT FOR MY APPOINTMENT, TAKEN FOR A DOCTOR THROUGH JALDEE?<br>
                    A4 ) Jaldee features the Waiting Time which enables the customers to know their actual time of
                    appointment. Jaldee will keep you notified when you check-in, when your turn is closer, major delays
                    happened in provider side and also your dashboard will display your estimated waiting time. Thus you
                    save the time, being in a long queue.
                </span><br><br>
                <span class="helpcontent">
                    Q5 ) WHAT ARE THE PAYMENT METHODS AVAILABLE?<br>
                    A5 ) Online(PayU/Paytm) and by cash.
                </span><br><br>
                <span class="helpcontent">
                    Q6 ) HOW DO I CANCEL MY CHECK-IN?<br>
                    A6 ) In your dashboard the service you checked- in will be listed. “Cancel Check-in” button helps to
                    cancel your check-in. Confirmation message will be given to you and also notification will be
                    received once the check-in is cancelled. Also can cancel the check-in from the detailed view of the
                    provider.
                </span><br><br>
                <span class="helpcontent">
                    Q7 ) SHOULD I PAY AT THE TIME OF CHECK-IN?<br>
                    A7 ) Not for all services, but for certain services you have to pay in advance at the time of
                    check-in.
                </span><br><br>
                <span class="helpcontent">
                    Q8 ) HOW DO I CHECK-IN FOR ANY SERVICE ?<br>
                    A8 ) From the provider list identify your provider and click “Check-in” and proceed with selecting
                    service, date and the working hours. Also check-in for future dates, if available.
                </span><br><br>
                <span class="helpcontent">
                    Q9 ) SOME DOCTORS IN MY AREA IS NOT LISTED IN JALDEE. WHAT DO I DO ABOUT IT?<br>
                    A9 ) Please refer your doctor to visit JALDEE.com, and get listed.
                </span><br><br>
                <span class="helpcontent">
                    Q10 ) HOW CAN I FIND A MEDICAL PRACTITIONER WITH SPECIALIZATIONS?<br>
                    A10 ) Refine Search()option in the left side of the search results in dashboard, will help you find
                    the medical practitioner with specializations.
                </span><br><br>
                <span class="helpcontent">
                    Q11 ) WHAT SHOULD I DO IF I HAVE A QUESTION ABOUT MY BILL?<br>
                    A11 ) Please contact your service provider directly. Jaldee is not liable or responsible for any
                    questions on the bill generated.
                </span><br><br>
                <span class="helpcontent">
                    Q12 ) CAN I CHECK-IN FOR ONE OF MY FAMILY MEMBER THROUGH MY ACCOUNT IN JALDEE?<br>
                    A12 ) Yes, Jaldee has the feature Add Family Member, which enables you to add your family member to
                    your account and can check-in for the added family member. Notifications will be sent to the account
                    holders inbox and also bill will be generated in his/her dashboard.
                </span><br><br>
                <span class="helpcontent">
                    Q13) WHAT CAN I EXPECT AS A NEW CONSUMER?<br>
                    A13 ) Our platform will ask you to get registered with Jaldee.com. And then you can check-in for any
                    services offered by Jaldee registered providers you wish to avail.
                </span><br><br>
                <span class="helpcontent">
                    Q14 ) HOW CAN I SEE DETAILED VIEW OF A PROVIDER?<br>
                    A14 ) Click the provider name in search results to see the detailed view of provider where you can
                    find more information about the provider.
                </span><br><br>
                <span class="helpcontent">
                    Q15 ) CAN I COMMUNICATE WITH DOCTORS IN PERSON?<br>
                    A15 ) Yes, our portal helps you to communicate with your doctor from the detailed view of doctor’s
                    or clinic’s profile using “Enquiry” option. Also in check-in window you can write a message to the
                    provider and from history tab also you can communicate with the provider you have checked-in for
                    before.
                </span><br><br>
                <span class="helpcontent">
                    Q16 ) HOW CAN I FIND THE NEAREST RESTAURANTS IN MY LOCALITY?<br>
                    A16 ) Use Sort by Distance option in the search results listing in dashboard to find nearest
                    restaurants.
                </span><br><br>
                <span class="helpcontent">
                    Q17 ) WHO ARE JALDEE VERIFIED PROVIDERS?<br>
                    A17 ) Jaldee verified providers are listed on the top of search results and provider profile carries
                    a golden, copper and charcoal crown badges along with the profile name in search results. Service
                    providers has gone through different levels of verification stages.
                </span><br><br>
                <span class="helpcontent">
                    Q18) What if I am not happy with the service or service provider?<br>
                    A18) If you do have any complaints, suggestions or feedback regarding the service or service
                    provider please report to our support team on 0487-2-325650 or mail us on support@jaldee.com. We
                    advise you do this within 24 hours of receiving the service.
                </span><br><br>
                <span class="helpcontent">
                    Q19 ) ARE DISCOUNTS OFFERED TO JALDEE CONSUMERS?<br>
                    A19 ) Some providers and Jaldee itself offers coupons and discounts for a period of time which will
                    be available in each provider listing.
                </span><br><br>
                <span class="helpcontent">
                    Q20 ) HOW DO I REDEEM COUPONS AND DISCOUNTS?<br>
                    A20 ) From check-in window you can redeem available coupons and discounts.
                </span><br><br>
                <span class="helpcontent">
                    Q21 ) IS IT NECESSARY TO PROVIDE EMAIL ID?<br>
                    A21 ) It is not, consumers can update email id to the profile to receive notifications from Jaldee
                    regarding coupons & discounts and also for online payments.
                </span><br><br>
                <span class="helpcontent">
                    Q22 ) HOW DO I UPDATE PHONE NUMBER ON MY ACCOUNT?<br>
                    A22 ) Drop down appended to the consumer name in the dashboard has the option “Change Mobile”. From
                    here change the mobile number and verify it with otp.
                </span><br><br>
                <span class="helpcontent">
                    Q23 ) HOW CAN I ADD A PROVIDER TO MY FAVOURITES LIST?<br>
                    A23 ) If you have checked in for the provider you wish to add to “MY FAVOURITES”, from the dashboard
                    you click the 💗 symbol along with the name of provider to add to MY FAVOURITES. If you have not
                    checked in for your favourite provider before, form the search results click the detailed view of
                    provider and from there click the 💗 symbol to add the provider to “MY FAVOURITES” list.
                </span><br><br>
                <span class="helpcontent">
                    Q24 ) HOW CAN I RATE A PROVIDER?<br>
                    A24 ) Consumers can rate the services of a provider by giving stars. You can do so using Rate Your
                    Visit option under “Active Check-ins” tab or History once completed availing services.
                </span><br><br>
                <span class="helpcontent">
                    Q23 ) WHAT IS HISTORY?<br>
                    A23 ) History is the list of check-ins you have done with Jaldee providers so far. Provider name,
                    Service name, Location, Date of check-in, Status of check-in is displayed here. Also you can
                    communicate with provider using “Send Message” option and can rate provider’s service using “Rate
                    your visit” option, if your status is “Done”. And also “Bill” can be viewed.
                </span><br><br>
                <span class="helpcontent">
                    Q24 ) WHAT MESSAGES ARE RECEIVED IN INBOX?<br>
                    A24 ) You will receive messages in your inbox in following instances :
                    When major delays happens at provider side.
                    When a check-in is cancelled.
                    When provider writes a message to you and vice versa.
                </span><br><br>
                <span class="helpcontent">
                    Q25 ) HOW CAN I CREATE MY PROVIDER PROFILE FROM CONSUMER DASHBOARD?<br>
                    A25 ) Click “Create a Provider account” from the drop down menu appended to the consumer name in
                    dashboard. Continue by selecting domain, subdomain and set new password for both provider and
                    consumer account. Then you can proceed with setting up the provider account. With the option “Switch
                    to Provider” you can switch to provider dashboard..
                </span><br><br>
                <span class="helpcontent">
                    Q26 ) WHAT SHOULD I DO TO CHANGE MY PROFILE SETTINGS?<br>
                    A26 ) From the drop down menu appended to the consumer name in dashboard you have the option My
                    account where your basic information is displayed and can edit those information.
                </span><br><br>
                <span class="helpcontent">
                    Q27 ) WHAT INFORMATION COMES UNDER ACTIVE CHECK-INS TAB?<br>
                    A27 ) Your current check-ins for any providers with estimated waiting time or token number or
                    persons ahead, cancelled check-ins, future check-ins, alert when prepayment is pending.
                </span><br><br>
                <span class="helpcontent">
                    Q28 ) CAN I CHECK-IN FROM MY FAVOURITES TAB?<br>
                    A28 ) Yes, you can check-in for any service offered by providers in “My Favourites” list from My
                    Favourites tab, here when you click the provider name “Check-in” button appears with which you can
                    proceed checking-in for desired service.
                </span><br><br>
                <span class="helpcontent">
                    Q29) WHAT IS REFINE SEARCH?<br>
                    A29) A normal search yields hundreds of provider profiles, rather than skim over many pages of
                    search results, use Refine Search refinement tip to get more focused results.
                </span><br><br>
                <span class="helpcontent">
                    Q30) HOW TO REDEEM COUPONS, IF I AM A WALK IN CUSTOMER?<br>
                    A30) For a walk-in customer check-in/get token is done at provider’s desk and provider while
                    checking in, will apply coupons applicable to you on your request.
                </span><br><br>
            </section>

            </div>
        </div>
    </div>
</div>