.noti-add-btn {
    /* border: 2px solid; */
    padding: 7px;
    border-radius: 10px;
    cursor: pointer;
    /* color: white; */
    font-weight: bold;
    border: 1px solid #1e297c; 
    background-color:white ;
    color: #1e297c;
    text-align: center;
    width: 90%;
    margin-left: 10px;
    /* margin-right: 10px !important; */

}
.entirecard {
    margin-top: 20px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19) !important;;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19) !important;
    margin-bottom: 10px;
}
.bt3 {
    height: 40px !important;
}
.minimum-height {
    min-height: 100px !important;
}
.greenborder {
    margin-right: 12px;
    border-radius: 5px;
    /* border: 4px solid #ad; */
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2), 2px 2px 2px 2px rgba(0, 0, 0, 0.19) !important;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19) !important;
    padding: 20px 5px 20px 5px;
    width: 410px !important;
    margin-bottom: 10px;
    /* min-height: 110px !important; */
    
}
.greenborder .notification{
    color: #ffd399 !important;
    font-size: 18px !important;

}
.redborder {
    margin-right: 12px;
    border-radius: 5px;
    /* border: 4px solid #ad; */
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2), 2px 2px 2px 2px rgba(0, 0, 0, 0.19) !important;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19) !important;
    padding: 20px 5px 20px 5px;
    width: 410px !important;
    margin-bottom: 10px;
    
}   
.redborder .notification {
    color: #ffe877 !important;
    font-size: 18px !important;

}
::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: #32ba2c; /*replace with your color*/
}
::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: #adf6aa;  /*replace with your color*/
}

@media(max-width:600px) {
    .greenborder {
        width:300px !important;
    }
    .redborder {
        width: 300px !important;
    }

}