<h1 class="mat-dialog-title"> Service Photo Gallery <button mat-dialog-close class="modal_close"><i class="fa fa-window-close" aria-hidden="true"></i></button></h1>

<mat-dialog-content>

  <div *ngIf="item_pic.files">
    <ul class="galul">
    <li *ngFor="let file of item_pic.files;let i = index ">
      <div class="galimg_outer">
      <div class="gal_img">
        <img [src]="item_pic.base64[i]" *ngIf="item_pic.base64[i]">
      </div>
      <div class="gal_caption"><input type="text" [(ngModel)]="item_pic.caption[i]" placeholder="Caption"></div>
      <div class="gal_action">
          <button type="button" mat-icon-button [matMenuTriggerFor]="menu" >
              <mat-icon>more_vert</mat-icon>
          </button>
            <mat-menu #menu="matMenu">
              <button type="button" mat-menu-item (click)="deleteTempImage(i)">
                  <!-- <mat-icon>delete</mat-icon> -->
                  <i class="icon-delete"></i>
                  <span >Delete</span>
                </button>
            </mat-menu>
      </div>
    </div>
    </li>
    </ul>
  </div>

  <div class="upload-doc" (click)="filed.click()">
    <label class="col-form-label">Click here to select the image files</label>
    <span class="select-wrapper ">
      <input type="file"  multiple name="image_src" id="image_src"  accept=".png, .jpg, .jpeg, .bmp, .gif, .tif"  #filed (change)="imageSelect(filed,$event)">
    </span>
  </div>

</mat-dialog-content>
<mat-dialog-actions>
  <button (click)="saveImages()" *ngIf="item_pic.files.length >0" mat-button class="cs-btn bt1" [disabled]="savedisabled">{{img_save_caption}}</button>
  <button  type="button" mat-dialog-close class="cs-btn bt2" [disabled]="savedisabled">Cancel</button>
</mat-dialog-actions>
<app-field-error-display [displayError]="(error_list.length > 0) ? true : false"  errorMsg="Please upload images with size < 1mb">
</app-field-error-display>
<app-form-success-display  [displayMsg]="true" *ngIf="api_success"
successMsg="{{api_success}}">
</app-form-success-display>
