<!-- BEGIN: Datatable -->
<div class="intro-y datatable-wrapper box p-5 mt-5">
    <table class="table table-report table-report--bordered display datatable w-full">
        
        <tbody>
            <tr>
                <td class="border-b">
                    <div class="font-medium whitespace-no-wrap">Nike Tanjun</div>
                    <div class="text-gray-600 text-xs whitespace-no-wrap">Nike Tanjun</div>
                </td>
                
                <td class="text-center border-b">108</td>
                <td class="text-center border-b">
                    <div class="flex items-center sm:justify-center text-theme-9">Active</div>
                </td>
                <td class="border-b w-5 actions">
                    <div class="flex sm:justify-center items-center">
                        <button class="button1">
                            Start
                        </button>
                        <button class="button2">
                            Actions
                        </button>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="border-b">
                    <div class="font-medium whitespace-no-wrap">Dell XPS 13</div>
                    <div class="text-gray-600 text-xs whitespace-no-wrap">Dell XPS 13</div>
                </td>
                
                <td class="text-center border-b">113</td>
                <td class="text-center border-b">
                    <div class="flex items-center sm:justify-center text-theme-6">Inactive</div>
                </td>
                <td class="border-b w-5 actions">
                    <div class="flex sm:justify-center items-center">
                        <button class="button1">
                            Start
                        </button>
                        <button class="button2">
                            Actions
                        </button>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="border-b">
                    <div class="font-medium whitespace-no-wrap">Samsung Galaxy S20 Ultra</div>
                    <div class="text-gray-600 text-xs whitespace-no-wrap">Samsung Galaxy S20 Ultra</div>
                </td>
                
                <td class="text-center border-b">70</td>
                <td class="text-center border-b">
                    <div class="flex items-center sm:justify-center text-theme-9">Active</div>
                </td>
                <td class="border-b w-5 actions">
                    <div class="flex sm:justify-center items-center">
                        <button class="button1">
                            Start
                        </button>
                        <button class="button2">
                            Actions
                        </button>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="border-b">
                    <div class="font-medium whitespace-no-wrap">Sony Master Series A9G</div>
                    <div class="text-gray-600 text-xs whitespace-no-wrap">Sony Master Series A9G</div>
                </td>
                
                <td class="text-center border-b">118</td>
                <td class="text-center border-b">
                    <div class="flex items-center sm:justify-center text-theme-9">Active</div>
                </td>
                <td class="border-b w-5 actions">
                    <div class="flex sm:justify-center items-center">
                        <button class="button1">
                            Start
                        </button>
                        <button class="button2">
                            Actions
                        </button>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="border-b">
                    <div class="font-medium whitespace-no-wrap">Nikon Z6</div>
                    <div class="text-gray-600 text-xs whitespace-no-wrap">Nikon Z6</div>
                </td>
                
                <td class="text-center border-b">50</td>
                <td class="text-center border-b">
                    <div class="flex items-center sm:justify-center text-theme-6">Inactive</div>
                </td>
                <td class="border-b w-5 actions">
                    <div class="flex sm:justify-center items-center">
                        <button class="button1">
                            Start
                        </button>
                        <button class="button2">
                            Actions
                        </button>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="border-b">
                    <div class="font-medium whitespace-no-wrap">Samsung Galaxy S20 Ultra</div>
                    <div class="text-gray-600 text-xs whitespace-no-wrap">Samsung Galaxy S20 Ultra</div>
                </td>
               
                <td class="text-center border-b">50</td>
                <td class="text-center border-b">
                    <div class="flex items-center sm:justify-center text-theme-9">Active</div>
                </td>
                <td class="border-b w-5 actions">
                    <div class="flex sm:justify-center items-center">
                        <button class="button1">
                            Start
                        </button>
                        <button class="button2">
                            Actions
                        </button>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="border-b">
                    <div class="font-medium whitespace-no-wrap">Sony A7 III</div>
                    <div class="text-gray-600 text-xs whitespace-no-wrap">Sony A7 III</div>
                </td>
                
                <td class="text-center border-b">55</td>
                <td class="text-center border-b">
                    <div class="flex items-center sm:justify-center text-theme-6">Inactive</div>
                </td>
                <td class="border-b w-5 actions">
                    <div class="flex sm:justify-center items-center">
                        <button class="button1">
                            Start
                        </button>
                        <button class="button2">
                            Actions
                        </button>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="border-b">
                    <div class="font-medium whitespace-no-wrap">Sony Master Series A9G</div>
                    <div class="text-gray-600 text-xs whitespace-no-wrap">Sony Master Series A9G</div>
                </td>
                
                <td class="text-center border-b">50</td>
                <td class="text-center border-b">
                    <div class="flex items-center sm:justify-center text-theme-9">Active</div>
                </td>
                <td class="border-b w-5 actions">
                    <div class="flex sm:justify-center items-center">
                        <button class="button1">
                            Start
                        </button>
                        <button class="button2">
                            Actions
                        </button>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="border-b">
                    <div class="font-medium whitespace-no-wrap">Nike Tanjun</div>
                    <div class="text-gray-600 text-xs whitespace-no-wrap">Nike Tanjun</div>
                </td>
                
                <td class="text-center border-b">50</td>
                <td class="text-center border-b">
                    <div class="flex items-center sm:justify-center text-theme-9">Active</div>
                </td>
                <td class="border-b w-5 actions">
                    <div class="flex sm:justify-center items-center">
                        <button class="button1">
                            Start
                        </button>
                        <button class="button2">
                            Actions
                        </button>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="border-b">
                    <div class="font-medium whitespace-no-wrap">Samsung Galaxy S20 Ultra</div>
                    <div class="text-gray-600 text-xs whitespace-no-wrap">Samsung Galaxy S20 Ultra</div>
                </td>
               
                <td class="text-center border-b">68</td>
                <td class="text-center border-b">
                    <div class="flex items-center sm:justify-center text-theme-9">Active</div>
                </td>
                <td class="border-b w-5 actions">
                    <div class="flex sm:justify-center items-center">
                        <button class="button1">
                            Start
                        </button>
                        <button class="button2">
                            Actions
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<!-- END: Datatable -->