.pad{
    overflow : none !important;
   
    }

    ul, li {
        list-style-type: none;
        padding-left: 5px;
      }
     .attachment a:link, .attachment a:active, .attachment a:visited
     {
       color: #008566;
       text-decoration: none;
     }
     
     
     .attachment a:hover
       {
       color: #008566;
       text-decoration: underline;
       }
    
       .imgIcon {
        height: 35px;
        width: 35px;
       }
       .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        margin: 0px !important;
    }
    .headerText{
      font-weight: 700;
      font-size: 14px;
      color: #000000;
  }
  .image{
    height: 100%;
    width: 100%;
    object-fit: cover;
    padding: 5px;
  }
  @media(max-width: 800px){
    .image{
      height: 100%;
      width: 100%;
      object-fit: cover;
      padding: 5px;
    }
  }
  .custDialogCon{
    /* overflow-x: scroll;
    overflow-y: auto;
    margin: -15px;
    margin-top: -30px; */
    text-align: center;
    margin-bottom: 4rem;
  }
  .imgType{
    height: 35px;
    width: 35px;
    object-fit: cover;
  }
  .closeIcon{
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    text-align: center;
    background: #FFFFFF;
}
.closeIcon:hover{
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    text-align: center;
    background: #FFFFFF;
    border: 0.13368px solid #FFFFFF;
    box-shadow: 0px 0.534719px 11.8652px rgb(0 0 0 / 17%);
}