<section *ngIf="dialogTYpe==='priviewFile'">
  <div class="header mat-dialog-title">
    <div style="display:flex;gap:5px">
      <div>
        <img class="imgType" [src]="getImageType(data.data.fileType)" />
      </div>
      <div class="headerText">File Preview</div>
    </div>
    <div style=" cursor: pointer;" mat-dialog-close  tabindex="-1" class="closeIcon"
        #tooltip="matTooltip" matTooltip="Close" [matTooltipPosition]="'below'">
            <mat-icon>clear</mat-icon>
        </div>
</div>
<app-common-innerloading-spinner *ngIf="api_loading"></app-common-innerloading-spinner>
<mat-dialog-content class="custDialogCon">
  <div>
   <img class="image" [src]="data.data.s3path" />
  </div>
</mat-dialog-content>
</section>

<section *ngIf="dialogTYpe==='priviewFilePrescription' && data.data.type !=='.pdf' ">
  <!-- {{data.data | json}} -->
  <div class="header mat-dialog-title">
    <div style="display:flex;gap:5px">
      <div>
        <img class="imgType" [src]="getFileType(data.data.type)" />
      </div>
      <div class="headerText">Uploaded Prescription Preview</div>
    </div>
    <div style=" cursor: pointer;" mat-dialog-close class="closeIcon" tabindex="-1">
        <mat-icon>clear</mat-icon>
    </div>
</div>
<mat-dialog-content class="custDialogCon">
  <div>
   <img class="image" [src]="data.data.url" />
  </div>
</mat-dialog-content>
<div class="btnCls">
  <button  mat-dialog-close type="button"class="btn btn-primary font-weight-bold cancelBtn">Close</button>
  <button  mat-dialog-close type="button"class="btn btn-primary font-weight-bold confirmBtn" (click)="download(data.data.url)">
    <i class="fa fa-download" aria-hidden="true"></i><span class="ml">Download</span></button>
</div>
</section>
<section *ngIf="dialogTYpe==='priviewFilePrescription' && data.data.type ==='.pdf' ">
  <div >
    <div>
      <div class="flexClass">
        <div class="fikleText">
          <div>
            <img class="imgType" [src]="getFileType(data.data.type)" />
          </div>
          <div class="headerText">Uploaded Prescription Preview</div>
        </div>
        <div style=" cursor: pointer;" mat-dialog-close tabindex="-1" class="closeIcon" #tooltip="matTooltip"
          matTooltip="Close" [matTooltipPosition]="'below'">
          <mat-icon>clear</mat-icon>
        </div>
      </div>
      <mat-dialog-content>
        <div>
          <pdf-viewer [src]="pdfUrl" [original-size]="false" style="width: 100%; height: 480px"></pdf-viewer>
        </div>
      </mat-dialog-content>
        <div class="btnCls">
          <button  mat-dialog-close type="button"class="btn btn-primary font-weight-bold cancelBtn">Close</button>
          <button  mat-dialog-close type="button"class="btn btn-primary font-weight-bold confirmBtn" (click)="download(pdfUrl)">
            <i class="fa fa-download" aria-hidden="true"></i><span class="ml">Download</span></button>
        </div>
    </div>
</div>
</section>

