.table {
  width: 100%;
  border: 1px solid #000;
}

.lefttd {
  width: 20%;
  border: 1px solid #000;
  vertical-align: top;
}

.righttd {
  width: 80%;
  border: 1px solid #000;
  vertical-align: top;
}

.search_result_outer {
  width: 100%;
}

.search_result_row {
  width: 100%;
  padding: 1px;
  margin: 6px 3px 6px 3px;
  background-color: #CCC;
  height: 90px;
}

.search_prov_logo img {
  width: 80px;
  height: 80px;
}

.search_prov_logo {
  width: 20%;
  float: left;
  padding-top: 6px;
}

.search_prov_lhs_outer {
  width: 40%;
  float: left;
  padding-top: 20px;
}

.search_prov_rhs_outer {
  width: 40%;
  float: left;
  padding-top: 20px;
}

.search_prov_name {
  text-align: left;
}

.search_prov_sector {
  text-align: left;
}

.search_prov_phone {
  text-align: left;
}

.search_prov_place {
  text-align: left;
}

.search_prov_namelink {
  color: rgb(6, 6, 63);
  text-decoration: none;
  font-weight: bold;
}

.count_div {
  width: 100%;
  height: 30px;
  padding: 5px;
  display: block;
}

.search_count_display {
  width: 50%;
  float: left;
  text-align: left;
  clear: both;
}

.search_sort_display {
  width: 40%;
  float: right;
  text-align: right;
  padding-right: 20px;
}

.sorder {
  cursor: pointer;
}

.refinepanel {
  width: 20%;
  height: 500px;
  border-right: 1px solid #000;
  float: left;
}

.refine_outer {
  font-weight: bold;
}

.refine_subheader {
  height: 20px;
  background-color: #000;
  color: #FFF;
  padding: 3px;
}

.refine_fieldlist {
  background-color: #FFF;
  border: 1px solid #000;
  color: #000;
  margin-bottom: 10px;
}

.refine_tick {
  float: left;
}

.refine_field_subouter {
  width: 100%;
}

.example-radio-group {
  display: inline-flex;
  flex-direction: column;
}

.example-radio-button {
  margin: 5px;
}

.ratingstar {
  width: 15px;
  height: auto;
}

.first-time-jc, .other-jcs {
  text-align: right;
  color: #00aef2;
  display: table;
  margin-bottom: 10px;
  margin-left: auto;
  cursor: pointer;
}

.ct-r .fltr .search_sort_display .mat-form-field {
  width: 220px !important;
}

.content .c-outer .c-body .srlst .pro-img1 img {
  background-color: #f8f8f8 !important;
  /* object-fit: scale-down; */
}

.c-outer .c-body .srlst .pro-img1 img {
  width: 150px !important;
  height: 150px !important;
  margin: auto;
}

@media(max-width:575px) {
  .c-outer .c-body .srlst .pro-img1 img {
    width: 80px !important;
    height: 80px !important;
    margin: auto;
  }
  .ratingstar {
    width: 12px !important;
  }
  .content.search-details-list .left-pane {
    width: 80% !important;
  }
}

@media(max-width:375px) {
  .c-outer .c-body .srlst .pro-img1 img {
    width: 70px !important;
    height: 70px !important;
    margin: auto;
  }
  @media only screen and (min-width:575px) and (max-width: 768px) {
    .row {
      margin-left: 0;
      margin-right: 0;
    }
  }
  .content.search-details-list .left-pane {
    width: 90% !important;
  }
}

.bus-page p {
  font-weight: 500 !important;
  /* font-family: poppins !important; */
}

.bus-page .rating-stars {
  text-align: left;
  padding-top: 10px;
}

.bus-page .gal {
  font-weight: 500 !important;
}

.bus-page .gal .galbx img {
  height: 100%!important;
  width: 50px;
}

.bus-page .gal .galbx {
  cursor: pointer !important;
}

.bus-page .rating-stars img {
  width: 12px;
  margin-right: 5px;
}

.bus-page .gal .galbx {
  position: relative;
  width: 50px;
  height: 100%;
  margin: auto;
}

.info-bar {
  background-color: #f5f5f5 !important;
}

.bus-page .gal .galbx .overlay {
  position: absolute;
  width: 50px;
  height: 100%;
  z-index: 10;
  background: rgba(0, 0, 0, .5);
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: #fff;
  font-weight: 600;
  font-size: 1.125rem;
  visibility: visible;
  opacity: 1;
}

ul.details li {
  list-style: none !important;
  display: inline;
  margin: 5px;
  font-weight: 500 !important;
}

ul.bus-actions li, .search-action {
  list-style: none !important;
  display: inline-block;
  margin: 5px;
  font-weight: 500 !important;
  font-size: 1.2rem;
  border: 1px solid #999;
  border-radius: 100%;
  padding: 7px;
  background: #faf9f9 !important
}

ul.bus-actions li a.lnk {
  font-weight: 500 !important;
  font-size: 0.80rem !important;
}

ul.bus-actions li a .img, .search-action .img {
  width: 25px;
  height: 25px;
}

ul.bus-actions-horiz li {
  display: inline-block;
  margin: 0 !important;
  margin-right: 5px !important;
}

.socialmedia li a i.fa {
  font-size: 20px !important;
}

.sec-border {
  border: 1px solid #ddd;
}

.pad-lt-0 {
  padding-left: 0 !important;
}

.pad-rt-0 {
  padding-right: 0 !important;
}

.pad-bt-0 {
  padding-bottom: 0 !important;
}

.pad-bt-5 {
  padding-bottom: 5px !important;
}

.pad-up-5 {
  padding-top: 5px !important;
}

.bus-title-content h6 a {
  font-size: 0.8rem !important;
}

.loc-btn {
  border: 1px solid #5f75bc;
  border-radius: 5px;
  padding: .45rem .75rem;
  color: #3a3030;
  font-weight: 600;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  display: inline;
  font-size: 0.75rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.question-header {
  color: #bbb;
  font-size: 0.8rem;
  font-weight: 500;
}

.question-main-outer {
  word-break: break-word;
}

.question-valuearr li {
  list-style: none;
}

.question-valuearr ul {
  padding-left: 0 !important;
}

.question-value1, .question-valuearr li {
  font-weight: 600 !important;
  color: #3a3030;
  font-size: 0.8rem;
  /* line-height: 25px; */
}

/* 
.link {
  font-size: 1rem !important;
} */

.bus-title-content h3 {
  margin-bottom: 3px !important;
}

.bus-title-content h6 {
  margin-bottom: 3px !important;
}

h3 {
  font-size: 18px!important;
}

@media screen and (max-width: 768px) {
  h3 {
    font-size: 14px!important;
  }
}

@media screen and (max-width: 575px) {
  h3 {
    font-size: 14px!important;
  }
}

ul.bus-actions li a.lnk {
  font-weight: 500 !important;
  font-size: 0.80rem !important;
}

ul.bus-actions li span {
  margin-left: 5px !important;
  margin-top: -5px !important;
}

ul.bus-actions-horiz li {
  display: inline-block;
  margin: 0 !important;
  margin-right: 5px !important;
}

.smalldevicebx {
  background: #faf9f9 !important;
  height: 55px !important;
  font-weight: 600;
  padding-top: 5px;
  font-size: 0.8rem !important;
}

.smalldevicebx .enquiry {
  width: 30px;
  height: 30px;
}

.smalldevicebx .img1 {
  width: 25px;
  height: 30px;
}

.smalldevicebx .img2 {
  width: 30px;
  height: 25px;
  margin-bottom: 5px;
}

.like-btn {
  background-color: #faf9f9;
  border: 1px solid #5f75bc;
  border-radius: 40px;
  padding: 5px 0 5px 0;
  /* color: #3a3030; */
  font-weight: 600;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  display: flex;
  font-size: 0.9rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (max-width: 767px) {
  .like-btn {
    display: inline-block !important;
  }
}

.search-details-list .searc .mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: none !important;
}

.hide-refine {
  font-size: 1.25rem !important;
  font-weight: bold;
}

.prov-name {
  font-size: 15px !important;
}

.search-services ul {
  padding-left: 0 !important;
  margin-left: 0 !important;
}

.search-services ul li {
  list-style: none;
  display: inline;
  margin-right: 10px !important;
}

@media only screen and (max-width: 767px) {
  .content .c-outer .c-body .srlst .bottom-sect .bt-l .wt-tme {
    justify-content: left;
    padding-left: 10px;
    padding-top: 10px;
  }
}

.link {
  cursor: pointer;
}

.pad-up-10 {
  padding-top: 10px !important;
}

.img-circle {
  border: 1px solid #ddd;
}

.claimme {
  font-size: 1rem !important;
  font-weight: 600;
  padding:5px 10px !important;
}