.table {
  width:100%;
  border:1px solid #000;
}
.lefttd{
  width:20%;
  border: 1px solid #000;
  vertical-align: top;
}
.righttd{
  width:80%;
  border: 1px solid #000;
  vertical-align: top;
}


.search_result_outer {
  width: 100%;
}
.search_result_row {
  width:100%;
  padding:1px;
  margin: 6px 3px 6px 3px;
  background-color: #CCC;
  height:90px;
}
.search_prov_logo img {
  width: 80px;
  height:80px;
}
.search_prov_logo {
  width:20%;
  float:left;
  padding-top: 6px;
}
.search_prov_lhs_outer {
  width:40%;
  float:left;
  padding-top:20px;
}
.search_prov_rhs_outer {
  width:40%;
  float:left;
  padding-top:20px;
}
.search_prov_name {
  text-align: left;
}
.search_prov_sector {
  text-align: left;
}
.search_prov_phone {
  text-align: left;

}
.search_prov_place {
  text-align: left;

}
.search_prov_namelink {
  color: rgb(6, 6, 63);
  text-decoration: none;
  font-weight:bold;
}
.count_div {
  width:100%;
  height:30px;
  padding:5px;
  display: block;
}
.search_count_display {
  width:50%;
  float: left;
  text-align: left;
  clear: both;
}
.search_sort_display {
  width:40%;
  float: right;
  text-align: right;
  padding-right:20px;
}
.sorder {
  cursor: pointer;
}
.refinepanel {
  width:20%;
  height:500px;
  border-right: 1px solid #000;
  float:left;
}
.refine_outer {
  font-weight: bold;
}
.refine_subheader {
  height: 20px;
  background-color: #000;
  color: #FFF;
  padding:3px;  
}
.refine_fieldlist {
  background-color: #FFF;
  border:1px solid #000;
  color:#000;
  margin-bottom:10px;
}
.refine_tick {
  float:left;
}
.refine_field_subouter {
  width:100%;
}
.example-radio-group {
  display: inline-flex;
  flex-direction: column;
}
.example-radio-button {
  margin: 5px;
}

.ratingstar {
  width:15px;
  height:auto;
}

.first-time-jc, .other-jcs {
  position: relative;
  text-align: right;
  color: #00aef2;
  display: table;
  margin-bottom: 10px;
  margin-left: auto;
  cursor: pointer;
}
