.table {
  width: 100%;
  border: 1px solid #000;
}

.lefttd {
  width: 20%;
  border: 1px solid #000;
  vertical-align: top;
}

.righttd {
  width: 80%;
  border: 1px solid #000;
  vertical-align: top;
}

.search_result_outer {
  width: 100%;
}

.search_result_row {
  width: 100%;
  padding: 1px;
  margin: 6px 3px 6px 3px;
  background-color: #CCC;
  height: 90px;
}

.search_prov_logo img {
  width: 80px;
  height: 80px;
}

.search_prov_logo {
  width: 20%;
  float: left;
  padding-top: 6px;
}

.search_prov_lhs_outer {
  width: 40%;
  float: left;
  padding-top: 20px;
}

.search_prov_rhs_outer {
  width: 40%;
  float: left;
  padding-top: 20px;
}

.search_prov_name {
  text-align: left;
}

.search_prov_sector {
  text-align: left;
}

.search_prov_phone {
  text-align: left;
}

.search_prov_place {
  text-align: left;
}

.search_prov_namelink {
  color: rgb(6, 6, 63);
  text-decoration: none;
  font-weight: bold;
}

.count_div {
  width: 100%;
  height: 30px;
  padding: 5px;
  display: block;
}

.search_count_display {
  width: 50%;
  float: left;
  text-align: left;
  clear: both;
}

.search_sort_display {
  width: 40%;
  float: right;
  text-align: right;
  padding-right: 20px;
}

.sorder {
  cursor: pointer;
}

.refinepanel {
  width: 20%;
  height: 500px;
  border-right: 1px solid #000;
  float: left;
}

.refine_outer {
  font-weight: bold;
}

.refine_subheader {
  height: 20px;
  background-color: #000;
  color: #FFF;
  padding: 3px;
}

.refine_fieldlist {
  background-color: #FFF;
  border: 1px solid #000;
  color: #000;
  margin-bottom: 10px;
}

.refine_tick {
  float: left;
}

.refine_field_subouter {
  width: 100%;
}

.example-radio-group {
  display: inline-flex;
  flex-direction: column;
}

.example-radio-button {
  margin: 5px;
}

.ratingstar {
  width: 15px;
  height: auto;
}

.first-time-jc, .other-jcs {
  text-align: right;
  color: #00aef2;
  display: table;
  margin-bottom: 10px;
  margin-left: auto;
  cursor: pointer;
}

.ct-r .fltr .search_sort_display .mat-form-field {
  width: 220px !important;
}

.content .c-outer .c-body .srlst .pro-img1 img {
  background-color: #f8f8f8 !important;
  /* object-fit: scale-down; */
}

.c-outer .c-body .srlst .pro-img1 img {
  width: 130px !important;
  height: 130px !important;
  padding: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: auto;
}

@media(max-width:575px) {
  .c-outer .c-body .srlst .pro-img1 img {
    width: 80px !important;
    height: 80px !important;
    margin: auto;
  }
  .ratingstar {
    width: 12px !important;
  }
  .content.search-details-list .left-pane {
    width: 80% !important;
  }
}

@media(max-width:375px) {
  .c-outer .c-body .srlst .pro-img1 img {
    width: 70px !important;
    height: 70px !important;
    margin: auto;
  }
  @media only screen and (min-width:575px) and (max-width: 768px) {
    .row {
      margin-left: 0;
      margin-right: 0;
    }
  }
  .content.search-details-list .left-pane {
    width: 90% !important;
  }
}

.bus-page p {
  font-weight: 500 !important;
  /* font-family: poppins !important; */
}

.bus-page .rating-stars {
  text-align: left;
  padding-top: 10px;
}

.rating-stars-padding {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

@media (max-width: 375px){
  .rating-stars-padding {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}

.bus-page .gal {
  font-weight: 500 !important;
}

.bus-page .gal .galbx img {
  height: 100%!important;
  width: 50px;
}

.bus-page .gal .galbx {
  cursor: pointer !important;
}

.bus-page .rating-stars img {
  width: 12px;
  margin-right: 5px;
}

.bus-page .gal .galbx {
  position: relative;
  width: 50px;
  height: 100%;
  margin: auto;
}

.info-bar {
  background-color: #f5f5f5 !important;
}

.bus-page .gal .galbx .overlay {
  position: absolute;
  width: 50px;
  height: 100%;
  z-index: 10;
  background: rgba(0, 0, 0, .5);
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: #fff;
  font-weight: 600;
  font-size: 1.125rem;
  visibility: visible;
  opacity: 1;
}

ul.details li {
  list-style: none !important;
  display: inline;
  margin: 5px;
  font-weight: 500 !important;
}

ul.bus-actions li, .search-action {
  list-style: none !important;
  display: inline-block;
  margin: 5px;
  font-weight: 500 !important;
  font-size: 1.2rem;
  border: 1px solid #999;
  border-radius: 100%;
  padding: 7px;
  background: #faf9f9 !important
}

ul.bus-actions li a.lnk {
  font-weight: 500 !important;
  font-size: 0.80rem !important;
}

ul.bus-actions li a .img, .search-action .img {
  width: 25px;
  height: 25px;
}

ul.bus-actions-horiz li {
  display: inline-block;
  margin: 0 !important;
  margin-right: 5px !important;
}

.socialmedia li a i.fa {
  font-size: 20px !important;
}

.sec-border {
  border: 1px solid #ddd;
}

.pad-lt-0 {
  padding-left: 0 !important;
}

.pad-rt-0 {
  padding-right: 0 !important;
}

.pad-bt-0 {
  padding-bottom: 0 !important;
}

.pad-bt-5 {
  padding-bottom: 5px !important;
}

.pad-up-5 {
  padding-top: 5px !important;
}

.bus-title-content h6 a {
  font-size: 0.8rem !important;
}

.loc-btn {
  border: 1px solid #5f75bc;
  border-radius: 5px;
  padding: .45rem .75rem;
  color: #3a3030;
  font-weight: 600;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  display: inline;
  font-size: 0.75rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.question-header {
  color: #bbb;
  font-size: 0.8rem;
  font-weight: 500;
}

.question-main-outer {
  word-break: break-word;
}

.question-valuearr li {
  list-style: none;
}

.question-valuearr ul {
  padding-left: 0 !important;
}

.question-value1, .question-valuearr li {
  font-weight: 600 !important;
  color: #3a3030;
  font-size: 0.8rem;
  /* line-height: 25px; */
}

/* 
.link {
  font-size: 1rem !important;
} */

/* .bus-title-content h3 {
  margin-bottom: 3px !important;
} */

.bus-title-content h6 {
  /* margin-bottom: 3px !important; */
  margin-bottom: 5px !important;
}

h3 {
  font-size: 18px!important;
}

@media screen and (max-width: 768px) {
  h3 {
    font-size: 14px!important;
  }
}

@media screen and (max-width: 575px) {
  h3 {
    font-size: 14px!important;
  }
}

ul.bus-actions li a.lnk {
  font-weight: 500 !important;
  font-size: 0.80rem !important;
}

ul.bus-actions li span {
  margin-left: 5px !important;
  margin-top: -5px !important;
}

ul.bus-actions-horiz li {
  display: inline-block;
  margin: 0 !important;
  margin-right: 5px !important;
}

.smalldevicebx {
  background: #faf9f9 !important;
  height: 55px !important;
  font-weight: 600;
  padding-top: 5px;
  font-size: 0.8rem !important;
}

.smalldevicebx .enquiry {
  width: 30px;
  height: 30px;
}

.smalldevicebx .img1 {
  width: 25px;
  height: 30px;
}

.smalldevicebx .img2 {
  width: 30px;
  height: 25px;
  margin-bottom: 5px;
}

.like-btn {
  background-color: #faf9f9;
  border: 1px solid #5f75bc;
  border-radius: 40px;
  padding: 5px 0 5px 0;
  /* color: #3a3030; */
  font-weight: 600;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  display: flex;
  font-size: 0.9rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (max-width: 767px) {
  .like-btn {
    display: inline-block !important;
  }
}

.search-details-list .searc .mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: none !important;
}

.hide-refine {
  font-size: 1.25rem !important;
  font-weight: bold;
}

.prov-name {
  font-size: 15px !important;
}

.search-services ul {
  padding-left: 0 !important;
  margin-left: 0 !important;
}

.search-services ul li {
  list-style: none;
  display: inline;
  margin-right: 10px !important;
}

@media only screen and (max-width: 767px) {
  .content .c-outer .c-body .srlst .bottom-sect .bt-l .wt-tme {
    justify-content: left;
    /* padding-left: 10px;
    padding-top: 10px; */
    padding: 5px !important;
  }
}

.link {
  cursor: pointer;
}

.pad-up-10 {
  padding-top: 10px !important;
}

.img-circle {
  border: 1px solid #ddd;
}

.claimme {
  font-size: 1rem !important;
  font-weight: 600;
  padding:5px 10px !important;
}

.claim-business {
  color: #073B4C !important;
  background-color: #F1B51C !important;
  font-weight: 700 !important;
  padding: 6px 8px !important;
  border-radius: 6px !important;
  margin: 8px 10px !important;
  width: calc(100% - 20px) !important;
  font-size: 1rem !important;
}


.claim-business-empty {
  height: 50px !important;
}

@media (max-width: 550px) {
  .claim-business {
    padding: 5px !important;
    margin: 5px !important;
    width: calc(100% - 10px) !important;
    font-size: 0.7rem !important;
  }

  .claim-business-empty {
    height: 33px !important;
  }
}

.service-provide-name {
  font-size: 1.4rem !important;
  line-height: normal !important;
  /* height: 68px !important; */
  margin-bottom: 0px !important;
}

@media (max-width: 575px) {
  .service-provide-name {
    font-size: 1.1rem !important;
    /* height: 46px !important; */
  }
}

@media (max-width: 375px) {
  .service-provide-name{
    font-size: 1rem !important;
    /* height: 42px !important; */
  }
}

.bus-title-content {
  padding: 0px 10px 0px 15px !important;
}

@media (max-width: 550px) {
  .bus-title-content {
    padding: 0px 5px 0px 10px !important;
  }
}

.bus-title-content .address h6 {
  line-height: normal !important;
  /* margin-bottom: 15px !important; */
  margin-bottom: 0px !important;
}

.bus-title-content .address h6 a {
  font-size: 1rem !important;
  color: #1E4079 !important;
}

.bus-title-content .address h6 a .fa-map-marker {
  color: #1E4079 !important;
}

@media (max-width: 575px) {
  .bus-title-content .address h6 {
    /* margin-bottom: 10px !important; */
    margin-bottom: 0px !important;
  }

  .bus-title-content .address h6 a {
    font-size: 0.925rem !important;
  }
}

@media (max-width: 375px) {
  .bus-title-content .address h6 {
    /* margin-bottom: 6px !important; */
    margin-bottom: 0px !important;
  }
  .bus-title-content .address h6 a {
    font-size: 0.775rem !important;
  }
}

.bus-title-content .branch {
  font-size: 1rem !important;
  margin-bottom: 0px !important;
  color: darkslategray !important;
}

@media (max-width: 575px) {
  .bus-title-content .branch {
    font-size: 0.925rem !important;
  }
}

@media (max-width: 375px) {
  .bus-title-content .branch {
    font-size: 0.775rem !important;
  }
}

.bus-title-content .question-value1 .specialization {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important; 
  width: 95% !important;

  color: darkblue !important;
  font-weight: 700 !important;
  font-size: 1rem !important;
}

.bus-title-content .question-value1 .specialization span {
  color: darkslategray !important;
  font-weight: 700 !important;
  font-size: 1rem !important;
}

@media (max-width: 575px) {
  .bus-title-content .question-value1 .specialization {
    font-size: 0.925rem !important;
  }
  
  .bus-title-content .question-value1 .specialization span {
    font-size: 0.925rem !important;
  }
}

@media (max-width: 375px) {
  .bus-title-content .question-value1 .specialization {
    font-size: 0.775rem !important;
  }
  
  .bus-title-content .question-value1 .specialization span {
    font-size: 0.775rem !important;
  }
}

.bus-title-content .user-count {
  display: inline-block !important;
  margin: 5px 10px 5px 0 !important;
}

.bus-title-content .user-count div {
  background-color: #1E4079 !important;
  padding: 6px !important;
  border-radius: 8px !important;
  color: white !important;
  /* font-weight: 700 !important; */
  font-size: 1rem !important;
}

@media (max-width: 575px) {
  .bus-title-content .user-count {
    margin: 3px 6px 3px 0 !important;
  }

  .bus-title-content .user-count div {
    font-size: 0.925rem !important;
    padding: 4px !important;
  }
}

@media (max-width: 375px) {  
  .bus-title-content .user-count {
    margin: 2px 4px 2px 0 !important;
  }

  .bus-title-content .user-count div {
    font-size: 0.775rem !important;
    padding: 3px !important;
  }
}

.bus-title-content .services-departments {
  display: inline-block !important;
  
}

.bus-title-content .services-departments div {
  display: inline-block !important;
}

.bus-title-content .services-departments .search-services {
  display: inline-block;
  margin: 5px 10px 5px 0 !important;
  background-color: #1E4079 !important;
  padding: 6px !important;
  border-radius: 8px !important;
  color: white !important;
  /* font-weight: 700 !important; */
  font-size: 1rem !important;
}

@media (max-width: 575px) {
  .bus-title-content .services-departments .search-services {
    font-size: 0.925rem !important;
    padding: 4px !important;
    margin: 3px 6px 3px 0 !important;
  }
}

@media (max-width: 375px) {  
  .bus-title-content .services-departments .search-services {
    font-size: 0.775rem !important;
    padding: 3px !important;
    margin: 2px 4px 2px 0 !important;
  }
}

.jdn-image {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  width: 50px !important;
  height: 50px !important;
}

.jdn-image img {
  width: 45px !important;
  height: 45px !important;
}

.verification-level img {
  width: 50px !important;
  height: 50px !important;
}

@media (max-width: 575px) {
  .jdn-image {
    width: 29px !important;
    height: 29px !important;
  }

  .jdn-image img {
    width: 25px !important;
    height: 25px !important;
  }

  .verification-level img {
    width: 30px !important;
    height: 30px !important;
  }
}

@media (max-width: 375px) {
  .jdn-image {
    width: 25px !important;
    height: 25px !important;
  }

  .jdn-image img {
    width: 20px !important;
    height: 20px !important;
  }

  .verification-level img {
    width: 25px !important;
    height: 25px !important;
  }
}

.content .c-outer .c-body .srlst {
  border: none !important;
  border-top: none !important;
  margin-bottom: 15px !important;
  border-radius: 15px !important;
  margin-top: 15px !important;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;
}

.checkin-btn {
  /* flex: none !important; */
  background: none !important;
  height: auto !important;
  /* max-width: none !important; */
  background-color: #1E4079 !important;
  padding: 10px 20px !important;
  border-radius: 5px !important;
}

.checkin-est {
  /* flex: none !important; */
  background: none !important;
  height: auto !important;
  /* max-width: none !important; */
  /* padding: 0 25px !important; */
}

.checkin-est .est-time {
  color: darkslategray !important;
  font-weight: 700 !important;
  font-style: italic !important;
  font-size: 13px;
}

.checkin-est .time-data {
  color: #1E4079 !important;
  font-weight: 700 !important;
  font-size: 16px !important;
}

.checkin-est .persons-ahead,
.people-ahead {
  color: #1E4079 !important;
  font-weight: 700 !important;
  font-size: 13px !important;
}

.wt-tme.notallowed {
  opacity: 1 !important;
  color: darkslategray !important;
  font-weight: 700 !important;
}

@media (min-width: 576px) and (max-width: 767px) {
  .content .c-outer .c-body .srlst .bottom-sect.donation {
    flex-direction: row !important;
  }
}

@media (max-width: 767px) {
  .content .c-outer .c-body .srlst .bottom-sect {
    align-items: flex-end !important;
  }
}

@media (max-width: 767px) {
  .content .c-outer .c-body .srlst .bottom-sect .bt-l .wt-tme {
    justify-content: flex-end !important;
  }
}

.content .c-outer .c-body .srlst .bottom-sect.donation .question-header {
  color: darkslategray !important;
  font-weight: 700 !important;
  font-style: italic !important;
  font-size: 0.875rem !important;
}

.content .c-outer .c-body .srlst .bottom-sect.donation .question-value1,
.search-services .question-value1 {
  color: #1E4079 !important;
  font-weight: 700 !important;
  font-size: 0.825rem !important;
}

.rating-star {
  display: inline-flex !important;
  flex-direction: column !important;
}

.rating-star img {
  height: 35px !important;
  width: 35px !important;
}

.rating-star span {
  text-align: center !important;
  font-weight: 700 !important;
  color: darkslategrey !important;
}

@media (max-width: 575px) {
  .rating-star img {
    width: 20px !important;
    height: 20px !important;
  }
  
  .rating-star span {
    font-size: 10px !important;
  }
}

@media (max-width: 375px) {
  .rating-star img {
    width: 15px !important;
    height: 15px !important;
  }
  
  .rating-star span {
    font-size: 9px !important;
  }
}

.bottom-box {
  display: flex !important;
  justify-content: space-between !important;
  background: #f9f9f9 !important;
  /* height: 55px !important; */
  font-weight: 700 !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  font-size: 0.8rem !important;
}

.enquiry-button {
  display: inline-flex !important;
  align-items: center !important;
  color: #073B4C !important;
  font-weight: 700 !important;
}

.enquiry-button i {
  font-size: 35px !important;
}

.enquiry-button span {
  font-size: 1rem !important;
  margin-left: 8px !important;
}

.jaldee-coupon {
  display: inline-flex !important;
  align-items: center !important;
  color: #073B4C !important;
  font-weight: 700 !important;
  margin-left: 20px !important;
}

.jaldee-coupon i {
  font-size: 35px !important;
}

.jaldee-coupon span {
  font-size: 1rem !important;
  margin-left: 8px !important;
}

.first-time-coupon {
  display: inline-flex !important;
  align-items: center !important;
  color: #073B4C !important;
  font-weight: 700 !important;
  margin-left: 20px !important;
}

.first-time-coupon i {
  font-size: 35px !important;
}

.first-time-coupon span {
  font-size: 1rem !important;
  margin-left: 8px !important;
}

@media (max-width: 575px) {
  .enquiry-button i {
    font-size: 20px !important;
  }
  
  .enquiry-button span {
    font-size: 0.825rem !important;
    margin-left: 5px !important;
  }
  
  .jaldee-coupon {
    margin-left: 10px !important;
  }
  
  .jaldee-coupon i {
    font-size: 20px !important;
  }
  
  .jaldee-coupon span {
    font-size: 0.825rem !important;
    margin-left: 5px !important;
  }
  
  .first-time-coupon {
    margin-left: 10px !important;
  }
  
  .first-time-coupon i {
    font-size: 20px !important;
  }
  
  .first-time-coupon span {
    font-size: 0.825rem !important;
    margin-left: 5px !important;
  }
}

@media (max-width: 375px) {
  .enquiry-button {
    flex-direction: column !important;
  }
  
  .enquiry-button i {
    font-size: 15px !important;
  }
  
  .enquiry-button span {
    font-size: 0.775rem !important;
    margin-left: 0px !important;
  }
  
  .jaldee-coupon {
    flex-direction: column !important;
    margin-left: 5px !important;
  }
  
  .jaldee-coupon i {
    font-size: 15px !important;
  }
  
  .jaldee-coupon span {
    font-size: 0.775rem !important;
    margin-left: 0px !important;
  }
  
  .first-time-coupon {
    flex-direction: column !important;
    margin-left: 5px !important;
  }
  
  .first-time-coupon i {
    font-size: 15px !important;
  }
  
  .first-time-coupon span {
    font-size: 0.775rem !important;
    margin-left: 0px !important;
  }
}

.no-image {
  height: 146px;
}

@media (max-width: 575px) {
  .no-image {
    height: 94px;
  }
}

@media (max-width: 375px) {
  .no-image {
    height: 84px;
  }
}

.no-logo {
  width: 0;
  overflow: hidden;
}

.content.search-details-list .refine-srch {
  padding: 0 !important;
  background-color: #1E4079 !important;
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
}

.content.search-details-list .refine-srch .ttle {
  color: white !important;
  margin: 0 10px !important;
  font-size: 16px !important;
}

.content.search-details-list .refine-srch .hide-refine {
  font-size: 14px !important;
  color: white !important;
}

.content.search-details-list .rs-box {
  border-radius: 10px !important;
  overflow: hidden !important;
  perspective: 1px !important;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;
}

.refine-head {
  color: darkslategrey !important;
  font-weight: 700 !important;
}

::ng-deep .search-detail-component.content.search-details-list .rs-box .mat-checkbox-label {
  color: #073B4C !important;
}

::ng-deep .search-detail-component.content.search-details-list .rs-box .mat-checkbox-frame {
  border-color: darkslategray !important;
}

::ng-deep .search-detail-component.content.search-details-list .rs-box .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: #073B4C !important;
}

.refinemore {
  display: inline-block !important;
  background-color: #1E4079 !important;
  padding: 5px 8px !important;
  float: right !important;
  border-radius: 5px !important;
  font-weight: 700 !important;
  color: white !important;
}

::ng-deep .search-detail-component.content.search-details-list .rs-box .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: #09546d !important;
}

::ng-deep .search-detail-component.content.search-details-list .rs-box .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background: #073B4C !important;
}

::ng-deep .search-detail-component.content.search-details-list .rs-box .mat-slide-toggle-content {
  color: #073B4C !important;
}

::ng-deep .search-detail-component.content.search-details-list .rs-box .ratingSearch label {
  color: #073B4C !important;
}

.search-detail-component.content.search-details-list .c-outer .c-body .ct2 {
  /* background-color: #ffffff !important; */
  /* background-color: #dedede !important; */
  background: none !important;
  border: 2px solid #dedede !important;
  /* border-color: white !important; */
  /* box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important; */
  border-radius: 10px !important;
  /* border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important; */
  /* border-radius: 0 !important; */
}

.search-detail-component.content.search-details-list .c-outer .c-body .ct2 .ct-l .rslts {
  color: darkslategrey !important;
  font-weight: 700 !important;
}

.search-detail-component.content.search-details-list .c-outer .c-body .ct2 .ct-r .fltr {
  color: darkslategrey;
}

.search-detail-component.content.search-details-list .search-form {
  border-radius: 10px !important;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important; */
  padding: 0 !important;
}

.search-detail-component.content.search-details-list .search-form div {
  background-color: #1E4079 !important;
  padding: 15px !important;
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
  /* border-radius: 0 !important; */
  color: white !important;
  font-size: 1.4rem !important;
}

@media (max-width: 575px) {
  .search-detail-component.content.search-details-list .search-form div {
    font-size: 1.2rem !important;
  }
}

@media (max-width: 375px) {
  .search-detail-component.content.search-details-list .search-form div {
    font-size: 1.1rem !important;
  }
}

@media only screen and (max-width: 575px) and (min-width: 320px) {
  .bottom-actions-root {
    justify-content: space-evenly !important;
  }
}

.content .c-outer {
  margin-top: 10px !important;
}

.zero-search-results {
  padding: 50px 0 !important;
}

.zero-search-results > div {
  width: 500px !important;
  height: 500px !important;
  margin: auto !important;
  background-color: beige !important;
}

.zero-search-results .no-results-img {
  width: 220px !important;
  margin: auto !important;
  display: block !important;
  padding: 15px 0 !important;
}

.zero-search-results .no-results-msg {
  text-align: center;
  font-weight: 700;
  color: darkslategrey;
  padding-bottom: 10px;
  font-size: 16px;
}

.zero-search-results .no-results-stay-tuned {
  font-size: 13.5px;
  font-weight: 700;
  color: darkslategrey;
  text-align: center;
  padding-bottom: 50px;
}

.zero-search-results .no-results-second-section > div {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  background-color: darkcyan;
  padding: 15px 10px 20px;
}

.zero-search-results .no-results-second-section .no-results-trophy-img {
  width: 125px;
  margin-top: -55px;
}

.zero-search-results .no-results-second-section .no-results-refer-message {
  text-align: center;
  font-size: 15px;
  color: white;
}

.zero-search-results .no-results-second-section .no-results-refer-message div {
  padding-bottom: 8px;
}

.zero-search-results .no-results-second-section button {
  font-size: 15px;
  margin: auto;
  display: block;
  color: darkslategrey;
  font-weight: 600;
}

@media (max-width: 500px) {
  .zero-search-results > div {
    width: 100% !important;
  }
}

@media (max-width: 450px) {
  .zero-search-results .no-results-second-section > div {
    flex-direction: column !important;
  }

  .zero-search-results .no-results-second-section .no-results-trophy-img {
    margin: -55px auto 10px !important;
  }

  .zero-search-results > div {
    height: 620px !important;
  }
}

@media (max-width: 375px) {
  .zero-search-results > div {
    height: 650px !important;
  }
}

/* (min-width: 576px) and */