<div class="card">
  <div class="d-flex justify-content-between">
    <div class="d-flex">
      <div>
        <img width="60" height="60" src="./assets/images/cdl/profile.png">
      </div>
      <div class="pt-1">
        <span class="font-weight-bold welcome-text">Welcome,
          <span *ngIf="user && user.firstName">{{user.firstName}}</span>
        </span><br>
        <span class="sub-title" *ngIf="user && user.roles && user.roles[0] && user.roles[0].roleName"><i
            class="fa fa-stop-circle" aria-hidden="true"></i>&nbsp;{{user.roles[0].roleName}}</span>
      </div>
    </div>
    <div>
      <div>
        <img class="company-logo" src="./assets/images/cdl/company_logo.png">
      </div>
    </div>
  </div>
</div>
<br>
<div class="overflow-x-none">
  <div class="container-fluid no-padding-small">
    <div class="row">
      <div class="col-lg-6 col-md-7 col-sm-12 col-xs-12">
        <div class="card no-padding-small">
          <div class="row">
            <div class="col-xs-3 no-padding-small no-padding" *ngIf="capabilities && capabilities.canCreateLoan">
              <div class="dashboard-card text-center pointer-cursor" (click)="CreateLoan()">
                <div>
                  <div>
                    <img width="60" height="60" src="./assets/images/cdl/partner/create_loan.png">
                  </div>
                  <div class="text-center">
                    <span class="head-card-sub-title">Create Loan</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xs-3 no-padding-small no-padding">
              <div class="dashboard-card text-center pointer-cursor" (click)="createLead()">
                <div>
                  <div>
                    <img width="60" height="60" src="./assets/images/cdl/partner/create_lead.png">
                  </div>
                  <div class="text-center">
                    <span class="head-card-sub-title">Create Lead</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xs-3 no-padding-small no-padding" *ngIf="capabilities && capabilities.canCreatePartner">
              <div class="dashboard-card text-center pointer-cursor" (click)="createDealer()">
                <div>
                  <div>
                    <img width="60" height="60" src="./assets/images/cdl/partner/create_dealer.png">
                  </div>
                  <div class="text-center">
                    <span class="head-card-sub-title">Create Dealer</span>
                  </div>
                </div>
              </div>
            </div>



            <div class="col-xs-3 no-padding-small no-padding" *ngIf="capabilities && capabilities.canViewLoan">
              <div class="dashboard-card text-center pointer-cursor" (click)="allLoans()">
                <div>
                  <div>
                    <img width="60" height="60" src="./assets/images/cdl/partner/loans.png">
                  </div>
                  <div class="text-center">
                    <span class="head-card-sub-title">Loans</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xs-3 no-padding-small no-padding" *ngIf="capabilities && capabilities.canViewPartner">
              <div class="dashboard-card text-center pointer-cursor" (click)="allDealers()">
                <div>
                  <div>
                    <img width="60" height="60" src="./assets/images/cdl/partner/all_dealers.png">
                  </div>
                  <div class="text-center">
                    <span class="head-card-sub-title">Dealers</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xs-3 no-padding-small no-padding" *ngIf="capabilities && capabilities.canApprovePartner">
              <div class="dashboard-card text-center pointer-cursor" (click)="requestedDealers()">
                <div>
                  <div>
                    <img width="60" height="60" src="./assets/images/cdl/partner/req_dealers.png">
                  </div>
                  <div class="text-center">
                    <span class="head-card-sub-title">Req Dealers</span>
                  </div>
                </div>
              </div>
            </div>


            <div class="col-xs-3 no-padding-small no-padding" *ngIf="capabilities && capabilities.canViewSchemes">
              <div class="dashboard-card text-center pointer-cursor" (click)="allSchemes()">
                <div>
                  <div>
                    <img width="60" height="60" src="./assets/images/cdl/partner/schemes.png">
                  </div>
                  <div class="text-center">
                    <span class="head-card-sub-title">Schemes</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xs-3 no-padding-small no-padding" (click)="allLeads()"
              *ngIf="capabilities && capabilities.canViewLoan">
              <div class="dashboard-card text-center pointer-cursor">
                <div>
                  <div>
                    <img width="60" height="60" src="./assets/images/cdl/partner/leads.png">
                  </div>
                  <div class="text-center">
                    <span class="head-card-sub-title">Leads</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xs-3 no-padding-small no-padding" (click)="viewAllCustomers()">
              <div class="dashboard-card text-center pointer-cursor">
                <div>
                  <div>
                    <img width="60" height="60" src="./assets/images/cdl/partner/customers.png">
                  </div>
                  <div class="text-center">
                    <span class="head-card-sub-title">Customers</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xs-3 no-padding-small no-padding">
              <div class="dashboard-card text-center pointer-cursor" (click)="openEmiCalci()">
                <div>
                  <div>
                    <img width="60" height="60" src="./assets/images/cdl/partner/emi_calci.png">
                  </div>
                  <div class="text-center">
                    <span class="head-card-sub-title">EMI Calci</span>
                  </div>
                </div>
              </div>
            </div>

            <!-- <div class="col-xs-3 no-padding-small no-padding">
              <div class="dashboard-card text-center pointer-cursor" (click)="reports()">
                <div>
                  <div>
                    <img width="60" height="60" src="./assets/images/cdl/partner/reports.png">
                  </div>
                  <div class="text-center">
                    <span class="head-card-sub-title">Reports</span>
                  </div>
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </div>
      <div class="clearfix mobile-only"></div>
      <div class="col-lg-6 col-md-5 desktop-only">
        <div class="partner-carousal">
          <p-carousel [value]="carousalImages" [showNavigators]="false" styleClass="custom-carousel" [numVisible]="1"
            [numScroll]="1" [circular]="true" [autoplayInterval]="3000" [showIndicators]="false">
            <ng-template let-image pTemplate="item">
              <div class="carousal-item">
                <div class="carousal-item-content">
                  <div>
                    <h4 class="p-mb-1">
                      <img class="carousal-image" src="{{image.url}}" width="100%">
                    </h4>
                  </div>
                </div>
              </div>
            </ng-template>
          </p-carousel>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid" *ngIf="dashboardStats">
    <div>
      <div class="row">
        <div class="col-mg-3 col-md-3 col-sm-12 col-xs-12 no-padding-small mt-2"
          *ngFor="let item of dashboardStats;let i=index;">
          <div class="card stats-card">
            <div class="text-center">
              <div class="d-flex">
                <div class="d-flex align-items-center" *ngIf="statsImages && statsImages[i] && statsImages[i].url">
                  <img class="stats-image" [src]="statsImages[i].url">
                </div>&nbsp;&nbsp;
                <div class="text-left my-auto">
                  <span class="stats-head-card-title">{{item.name}}</span><br>
                  <div *ngIf="item">
                    <div class="mr-2">
                      <span class="font-weight-bold">{{item.count}}</span><br>
                    </div>
                    <div class="text-primary">
                      <span class="font-small">Amount : </span>
                      <span class="font-weight-bold font-small">{{item.amountString}}</span><br>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>



  <div class="container-fluid">
    <div class="row no-padding-small">
      <div class="mt-2 col-lg-6 col-md-12 no-padding-small" *ngIf="capabilities && capabilities.canViewLoan">
        <div class="card">
          <p-chart type="line" height="310" [data]="lineChartData" [options]="lineChartOptions"></p-chart>
        </div>
      </div>

      <div class="mt-2 col-lg-3 col-md-6 no-padding-small" *ngIf="capabilities && capabilities.canViewLoan">
        <div class="card" *ngIf="leadsCount>0 || approvedLoansCount>0 || pendingLoansCount>0 || rejectedLoansCount>0">
          <p-chart type="pie" height="300" [data]="pieChartData" [options]="pieChartOptions"></p-chart>
        </div>
        <div class="card min-height"
          *ngIf="leadsCount==0 && approvedLoansCount==0 && pendingLoansCount==0 && rejectedLoansCount==0">
          <h4 class="font-weight-bold text-primary">Loans Pie Chart</h4>
          <div class="text-center">
            <img class="img-fluid pb-0" width="70%" src="./assets/images/cdl/no_data.gif">
          </div>
        </div>
      </div>

      <div class="mt-2 col-lg-3 col-md-6 no-padding-small">
        <div class="card min-height">
          <div class="mb-2">
            <span class="font-weight-bold text-primary">Alerts</span>
          </div>
          <div *ngIf="loans && loans.length>0">
            <div class="mt-2" *ngFor="let loan of loans;let i=index ">
              <div class="d-flex" *ngIf="loan && loan.alertMessage && i<=4">
                <div>
                  <i class="fa fa-bell alerts-icon" aria-hidden="true"></i>
                </div>&nbsp;&nbsp;
                <div>
                  <span class="alerts-title">{{loan.alertMessage}}</span>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="loans && loans.length==0" class="mt-2 text-center">
            <img class="img-fluid pb-0" width="80%" src="./assets/images/cdl/no_alerts.gif">
            <h4 class="font-weight-bold text-primary mt-3">No Alerts Found</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row container-fluid no-padding-small" *ngIf="capabilities && capabilities.canViewLoan">
    <div class="mt-2 col-lg-8 col-md-12">
      <div class="card loans-card">
        <div>
          <span class="card-title">Loans</span>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 no-padding-small">
            <div class="dashboard-card text-center">
              <div class="d-flex">
                <div>
                  <img width="50" height="50" src="./assets/images/cdl/partner/all_loans.png">
                </div>&nbsp;&nbsp;
                <div class="text-left my-auto">
                  <span class="head-card-title">All Loans</span><br>
                  <span class="font-weight-bold">{{allLoansCount}}</span>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 no-padding-small">
            <div class="dashboard-card text-center">
              <div class="d-flex">
                <div>
                  <img width="50" height="50" src="./assets/images/cdl/partner/approved_loans.png">
                </div>&nbsp;&nbsp;
                <div class="text-left my-auto">
                  <span class="head-card-title">Scheme Confirmed</span><br>
                  <span class="font-weight-bold">{{approvedLoansCount}}</span>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 no-padding-small">
            <div class="dashboard-card text-center">
              <div class="d-flex">
                <div>
                  <img width="50" height="50" src="./assets/images/cdl/partner/pending_loans.png">
                </div>&nbsp;&nbsp;
                <div class="text-left my-auto">
                  <span class="head-card-title">Pending</span><br>
                  <span class="font-weight-bold">{{pendingLoansCount}}</span>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 no-padding-small">
            <div class="dashboard-card text-center">
              <div class="d-flex">
                <div>
                  <img width="50" height="50" src="./assets/images/cdl/partner/rejected_loans.png">
                </div>&nbsp;&nbsp;
                <div class="text-left my-auto">
                  <span class="head-card-title">Rejected</span><br>
                  <span class="font-weight-bold">{{rejectedLoansCount}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <p-table [responsive]="true" responsiveLayout="scroll" #loansTable [value]="loans" dataKey="id"
          [paginator]="true" [rows]="4" [showCurrentPageReport]="true"
          styleClass="p-datatable-customers p-datatable-gridlines"
          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
          [globalFilterFields]="['referenceNo','customer.firstName','partner.partnerName','status']">
          <ng-template pTemplate="caption">
            <div class="container-fluid no-padding-small">
              <div class="row"
                *ngIf="user && user.roles && user.roles[0] && user.roles[0].roleId && (user.roles[0].roleId==1 || user.roles[0].roleId==2)">
                <div class="col-md-4 no-padding-small">

                </div>
                <div class="col-md-4"></div>
                <div class="col-md-4 text-right no-padding-small">
                  <p-dropdown styleClass="text-left" [style]="{'width':'100%'}" [options]="branches"
                    (onChange)="branchChange($event)" [(ngModel)]="branchSelected" optionLabel="branchName">
                  </p-dropdown>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-md-4 no-padding-small">
                  <span>
                    <input pInputText type="text" [style]="{'width':'100%'}" class="search-field"
                      (input)="loansTable.filterGlobal($event.target.value, 'contains')" placeholder="Search keyword"
                      style="width:100%" />
                  </span>
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-4 text-right no-padding-small">
                  <p-dropdown styleClass="text-left" [style]="{'width':'100%'}" [options]="loanStatus"
                    (onChange)="statusChange($event)" [(ngModel)]="statusDisplayName" optionLabel="displayName"
                    dataKey="name">
                  </p-dropdown>
                </div>
              </div>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th>
                <div class="p-d-flex p-jc-between p-ai-center">
                  Loan Id
                  <p-columnFilter type="text" field="referenceNo" display="menu"></p-columnFilter>
                </div>
              </th>
              <th>
                <div class="p-d-flex p-jc-between p-ai-center">
                  Customer Name
                  <p-columnFilter type="text" field="customer.firstName" display="menu"></p-columnFilter>
                </div>
              </th>
              <th>
                <div class="p-d-flex p-jc-between p-ai-center">
                  Dealer
                  <p-columnFilter type="text" field="partner.partnerName" display="menu"></p-columnFilter>
                </div>
              </th>
              <th>
                <div class="p-d-flex p-jc-between p-ai-center">
                  Status
                </div>
              </th>
              <th>
                <div class="p-d-flex p-jc-between p-ai-center">
                  More Actions
                </div>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-loan>
            <tr class="mobile-card">
              <td>
                <span class="table-column-data">{{loan.referenceNo}}</span>
              </td>
              <td>
                <span class="table-column-data">{{loan.customer.firstName}}
                  {{loan.customer.lastName}}</span>
              </td>
              <td>
                <span *ngIf="loan && loan.partner && loan.partner.partnerName"
                  class="table-column-data">{{loan.partner.partnerName}}</span>
              </td>
              <td>
                <span *ngIf="loan.applicationStatus !='Rejected'"
                  [class]="'customer-badge status-' + loan.spInternalStatus" class="table-column-data">
                  {{loan.spInternalStatusDisplyName}}</span>
                <span *ngIf="loan.applicationStatus =='Rejected'"
                  [class]="'customer-badge status-' + loan.applicationStatus" class="table-column-data">
                  {{loan.applicationStatus}}</span>
              </td>
              <td>
                <div class="text-center">
                  <button pButton pRipple type="button" class="p-button-primary  btn-primary"
                    (click)="loanDetails(loan.uid,loan.spInternalStatus)">View</button>
                </div>
              </td>
            </tr>
            <br class="d-lg-none d-md-none">
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="7">No Loans found.</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>

    <div class="mt-2 col-lg-4 col-md-12">
      <div class="card loans-card">
        <div class="mt-2">
          <div *ngIf="users">
            <div class="d-flex justify-content-between">
              <div class="d-flex align-items-center">
                <span class="card-title">Users</span>
              </div>
              <!-- <div class="col-md-4 text-right no-padding-small">
                <p-dropdown styleClass="text-left" [style]="{'width':'100%'}" [options]="userAvailableStatus"
                  (onChange)="userAvailableStatusChange($event)" [(ngModel)]="statusDisplayName"
                  optionLabel="displayName" dataKey="name">
                </p-dropdown>
              </div> -->
            </div>
            <div class="loan-data">

              <p-table [responsive]="true" responsiveLayout="scroll" [value]="users" [paginator]="true" [rows]="5"
                [resizableColumns]="true" [autoLayout]="true">
                <ng-template pTemplate="header">
                  <tr>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Role</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-user>
                  <tr>
                    <td>
                      <div class="d-flex align-items-center">
                        <div class="profile-pic">
                          <span *ngIf="user.firstName" class="text-uppercase">{{user.firstName[0]}}</span>
                        </div>
                        <div class="approvedColor text-capitalize mx-3 my-1">
                          <span *ngIf="user.firstName">{{user.firstName}}</span><span
                            *ngIf="user.lastName">&nbsp;{{user.lastName}}</span><br>
                          <span *ngIf="user.id">Id : {{user.id}}</span>
                        </div>
                      </div>
                    </td>
                    <td>
                      <span *ngIf="user && user.userAvailable"
                        [class]="'status-' + user.userAvailable"><b>{{user.userAvailable}}</b></span>
                    </td>
                    <td>
                      <span *ngIf="user && user.userRoles && user.userRoles[0] && user.userRoles[0].roleName">
                        {{user.userRoles[0].roleName}}
                      </span>
                    </td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                  <tr>
                    <td colspan="7">No Users Found.</td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
            <div class="mt-3">
              <button pButton pRipple type="button" class="font-weight-bold pointer-cursor btn-primary"
                (click)="viewAllUsers()">View All</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row container-fluid no-padding-small" *ngIf="capabilities && capabilities.canViewPartner">
    <div class="mt-2 col-lg-8 col-md-12">
      <div class="card loans-card">
        <div>
          <span class="card-title">Dealers</span>
        </div>

        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-6 no-padding-small">
            <div class="dashboard-card text-center">
              <div class="d-flex">
                <div>
                  <img width="50" height="50" src="./assets/images/cdl/partner/all_loans.png">
                </div>&nbsp;&nbsp;
                <div class="text-left my-auto">
                  <span class="head-card-title">All Dealers</span><br>
                  <span class="font-weight-bold">{{allDealersCount}}</span>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3 col-sm-6 col-xs-6 no-padding-small">
            <div class="dashboard-card text-center">
              <div class="d-flex">
                <div>
                  <img width="50" height="50" src="./assets/images/cdl/partner/approved_loans.png">
                </div>&nbsp;&nbsp;
                <div class="text-left my-auto">
                  <span class="head-card-title">Approved</span><br>
                  <span class="font-weight-bold">{{approvedDealersCount}}</span>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3 col-sm-6 col-xs-6 no-padding-small">
            <div class="dashboard-card text-center">
              <div class="d-flex">
                <div>
                  <img width="50" height="50" src="./assets/images/cdl/partner/pending_loans.png">
                </div>&nbsp;&nbsp;
                <div class="text-left my-auto">
                  <span class="head-card-title">Requested</span><br>
                  <span class="font-weight-bold">{{requestedDealersCount}}</span>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3 col-sm-6 col-xs-6 no-padding-small">
            <div class="dashboard-card text-center">
              <div class="d-flex">
                <div>
                  <img width="50" height="50" src="./assets/images/cdl/partner/rejected_loans.png">
                </div>&nbsp;&nbsp;
                <div class="text-left my-auto">
                  <span class="head-card-title">Rejected</span><br>
                  <span class="font-weight-bold">{{rejectedDealersCount}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <p-table [responsive]="true" responsiveLayout="scroll" #dealerTable [value]="dealers" dataKey="id"
          [paginator]="true" [rows]="4" [showCurrentPageReport]="true"
          styleClass="p-datatable-customers p-datatable-gridlines"
          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
          [globalFilterFields]="['referenceNo','partnerName','status']">
          <ng-template pTemplate="caption">
            <div class="container-fluid no-padding-small">
              <div class="row">
                <div class="col-md-4 no-padding-small">
                  <span>
                    <input pInputText type="text" [style]="{'width':'100%'}" class="search-field"
                      (input)="dealerTable.filterGlobal($event.target.value, 'contains')" placeholder="Search keyword"
                      style="width:100%" />
                  </span>
                </div>
              </div>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th>
                <div class="p-d-flex p-jc-between p-ai-center">
                  Dealer Id
                  <p-columnFilter type="text" field="referenceNo" display="menu"></p-columnFilter>
                </div>
              </th>
              <th>
                <div class="p-d-flex p-jc-between p-ai-center">
                  Dealer Name
                  <p-columnFilter type="text" field="partnerName" display="menu"></p-columnFilter>
                </div>
              </th>
              <th>
                <div class="p-d-flex p-jc-between p-ai-center">
                  Status
                  <p-columnFilter type="text" field="spInternalStatus" display="menu"></p-columnFilter>
                </div>
              </th>
              <th>
                <div class="p-d-flex p-jc-between p-ai-center">
                  More Actions
                </div>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-partner>
            <tr class="mobile-card">
              <td>
                <span class="table-column-data">{{partner.referenceNo}}</span>
              </td>
              <td>
                <span class="table-column-data">{{partner.partnerName}}</span>
              </td>
              <td>
                <span [class]="'customer-badge status-' + partner.spInternalStatus" class="table-column-data">
                  {{partner.spInternalStatus}}</span>
              </td>
              <td>
                <div class="text-center">
                  <button pButton pRipple type="button" class="p-button-primary btn-primary"
                    *ngIf="partner.spInternalStatus=='Draft'" (click)="updateDealer(partner.uid,'update')"><i
                      class="pi pi-upload text-white"></i>&nbsp;Update</button>&nbsp;&nbsp;
                  <button pButton pRipple type="button" class="p-button-primary btn-primary"
                    *ngIf="partner.spInternalStatus!='Draft'"
                    (click)="updateDealer(partner.uid,'update',partner.spInternalStatus)">View</button>
                </div>
              </td>
            </tr>
            <br class="d-lg-none d-md-none">
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="7">No Dealers found.</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
    <div class="mt-2 col-lg-4 col-md-12">
      <div class="card loans-card">
        <div class="mt-2">
          <div *ngIf="customers">
            <div class="loan-data">
              <div>
                <span class="card-title">Customers</span>
              </div>
              <p-table [responsive]="true" responsiveLayout="scroll" [value]="customers" [paginator]="true" [rows]="5"
                [resizableColumns]="true" [autoLayout]="true">
                <ng-template pTemplate="header">
                  <tr>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Phone</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-customer>
                  <tr>
                    <td>
                      <div class="d-flex align-items-center">
                        <div class="profile-pic">
                          <span *ngIf="customer.firstName" class="text-uppercase">{{customer.firstName[0]}}</span>
                        </div>
                        <div class="approvedColor text-capitalize mx-3 my-1">
                          <span *ngIf="customer.firstName">{{customer.firstName}}</span><span
                            *ngIf="customer.lastName">&nbsp;{{customer.lastName}}</span><br>
                          <span *ngIf="customer.id">Id : {{customer.id}}</span>
                        </div>
                      </div>
                    </td>
                    <td>
                      <span [class]="'status-' + customer.status" class="text-capitalize font-weight-bold"
                        *ngIf="customer && customer.status">
                        {{customer.status}}
                      </span>
                    </td>
                    <td>
                      <span *ngIf="customer && customer.phoneNo">
                        {{customer.phoneNo}}
                      </span>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
            <div class="mt-3">
              <button pButton pRipple type="button" class="font-weight-bold pointer-cursor btn-primary"
                (click)="viewAllCustomers()">View All</button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
