<app-common-innerloading-spinner *ngIf="loading"></app-common-innerloading-spinner>
<form [formGroup]="amForm" class="ynw-common-form" novalidate *ngIf="!loading" style="padding:25px">
  <div class="createTxtIcon">
    <div class="share">
      <div class="createTxt">Share Prescription</div>
      <div class="shareTxt">Share Your Medical Prescription to others</div>
    </div>
    <div style=" cursor: pointer;" mat-dialog-close class="modal_close" tabindex="-1" class="closeIcon"
      #tooltip="matTooltip" matTooltip="Close" [matTooltipPosition]="'below'">
      <mat-icon>clear</mat-icon>
    </div>
  </div>
  <mat-dialog-content class="dialogContent">
    <div style="margin-right: 5px;">
      <div>
        <div class="leadTitle">
          <div class="labelSize">Share with whom</div>
          <div class="astericColor">*</div>
        </div>
        <div class="fieldPadding">
          <mat-select name="item" [(ngModel)]="sharewith" placeholder="Share with whom"
            [ngModelOptions]="{standalone: true}" (selectionChange)="onUserSelect($event)"
            class="form-control widthWebKit">
            <mat-option [value]="item.id" *ngFor="let item of msgreceivers">
              <div *ngIf="item && item.name">{{item.name}}</div>
            </mat-option>
          </mat-select>
        </div>
      </div>
    </div>
    <div style="margin-right: 5px;">
      <div class="leadTitle">
        <div class="labelSize">Message</div>
        <div class="astericColor">*</div>
      </div>
      <div class="fieldPadding">
        <textarea (ngModelChange)="messageBoxhandle(message.value)" rowa="10" class="form-control widthWebKit"
          formControlName="message" #message (keyup)="autoGrowTextZone($event)" maxlength="120"
          placeholder="Enter message description">
            </textarea>
      </div>
    </div>
    <div class="formTop" *ngIf="showthirdparty" style="margin-right: 5px;">
      <div class="leadTitle">
        <div class="labelSize">Email</div>
        <div class="astericColor">*</div>
      </div>
      <div>
        <div class="fieldPadding">
          <input type="text" class="form-control widthWebKit" id="thirdpartyemail" (keyup)="resetApiErrors()"
            placeholder="Email" [(ngModel)]="thirdpartyemail" [ngModelOptions]="{standalone: true}" autocomplete="off">
        </div>
      </div>
    </div>
    <div class="form-group" *ngIf="!showthirdparty" style="margin-top: 10px;margin-bottom: 0px !important;">
      <span class="docText" *ngIf="!(mrPrescriptionDetails &&  mrPrescriptionDetails[0].keyName)
            &&(this.phon==='' && this.email_id==='' && this.IsTelegramDisable===false)
            ">Share prescription Via</span>
      <span class="docText" *ngIf="(mrPrescriptionDetails && mrPrescriptionDetails[0].keyName)">Your presciption will
        share Via</span>
      <div class="coupon-outer">
        <mat-checkbox [ngClass]="{hideClass: (!phon || phon === 'null') || is_noSMS || countryCode !='+91'}"
          [disabled]="(!phon || phon === 'null') || is_noSMS || countryCode !='+91'" class="example-margin"
          [(ngModel)]="sms" [ngModelOptions]="{standalone: true}">
          <span class="labelCheckName">SMS</span>
        </mat-checkbox>
        <mat-checkbox [ngClass]="{hideClass: !email_id}" [disabled]=" !email_id" class=" example-margin"
          [(ngModel)]="email" [ngModelOptions]="{standalone: true}"><span class="labelCheckName">Email</span>
        </mat-checkbox>
        <mat-checkbox [ngClass]="{hideClass: !phon ||  phon === 'null'}" [disabled]="!phon ||  phon === 'null'"
          class=" example-margin" [(ngModel)]="pushnotify" [ngModelOptions]="{standalone: true}">
          <span class="labelCheckName">App notification</span>
        </mat-checkbox>
        <mat-checkbox class=" example-margin" [ngClass]="{hideClass: !IsTelegramDisable}" *ngIf="!IsTelegramDisable"
          [(ngModel)]="telegram" [ngModelOptions]="{standalone: true}">
          <span class="labelCheckName"> Telegram</span>
        </mat-checkbox>
        <mat-checkbox class=" example-margin" [ngClass]="{hideClass: (!phon || phon === 'null') || countryCode !='+91'}"
          [disabled]="(!phon || phon === 'null')  || countryCode !='+91'" [(ngModel)]="whatsApp"
          [ngModelOptions]="{standalone: true}">
          <span class="labelCheckName"> Whatsapp</span>
        </mat-checkbox>
      </div>
      <!-- <div style="color: red;" class="errorCls" *ngIf="!sms && !email && !pushnotify && !telegram">
                Make sure the options you choose are valid/ enabled
                </div> -->
      <!-- <div class="sms_credit_warn mgn-up-10" *ngIf="is_smsLow">{{smsWarnMsg}} <a (click)="gotoSmsAddon()">{{is_noSMS? 'Purchase now': 'Upgrade now'}}</a>{{is_noSMS? '' : ' to avoid undelivered SMS'}}</div> -->
    </div>
    <!-- *ngIf="!showthirdparty" -->
    <div class="mgn-bt-0" *ngIf="digitalSignType">
      <div style="margin-top: 10px;">
        <div class="difitalSigText" *ngIf="!digitalSign && selectedMessage && selectedMessage.files
                && selectedMessage.files.length === 0">Add digital signature</div>
        <!-- <div class="difitalSigText" *ngIf="digitalSign && selectedMessage.files && selectedMessage.files.length > 0">View digital signature</div> -->
        <div>
          <div>
            <app-common-innerloading-spinner *ngIf="signUploading"></app-common-innerloading-spinner>
            <div *ngIf="!digitalSign && selectedMessage && selectedMessage.files && selectedMessage.files.length === 0">
              <div class=" prescriptionNotes">
                <div>
                  <div class="fileUpload">
                    <!-- <a class="mt-1 btn btn-primary" (click)="uploadSignature()">Upload Image</a> -->
                    <div>
                      <img style="height:30px;width:30px" src="/assets/images/medicalReportIcon/download.png" />
                    </div>
                    <div>
                      <div class="fileTextClr"> Select a file</div>
                      <div class="fileTextClrType">JPG, PNG file size no more than 5MB</div>
                    </div>
                    <div>
                      <button class="shareBtn">
                        <a class="pointer-cursor" style="color: #FF9900;" (click)="imagefile.click()"><input #imagefile
                            type="file" accept="/*;capture=camera" style="display:none;"
                            (change)="filesSelected($event)">Upload Sign</a>
                      </button>
                    </div>
                  </div>
                  <div class="fileUplaodMob">
                    <div>
                      <button class="shareBtn">
                        <div class="pointer-cursor" style="color: #FF9900;" (click)="imagefile.click()"><input
                            #imagefile type="file" accept="/*;capture=camera" style="display:none;"
                            (change)="filesSelected($event)">Upload your Digital Signature File</div>
                      </button>
                    </div>
                  </div>
                </div>

                <span class="spaanOr"
                  *ngIf="!digitalSign && selectedMessage && selectedMessage.files && selectedMessage.files.length == 0">OR</span>
                <div class="mobileDevice"
                  *ngIf="!digitalSign &&selectedMessage &&  selectedMessage.files && selectedMessage.files.length == 0">
                  <span class="mobileOr">OR</span>
                </div>
                <div>
                  <div>
                    <button class="manualSignBtn" (click)="manualSignature()">Create Digital Signature Manually</button>
                  </div>
                </div>
              </div>
            </div>

            <div *ngIf="digitalSign && selectedMessage && selectedMessage.files && selectedMessage.files.length > 0">
              <ng-container class="attachment">
                <div style="color: #FF9900;">Uploaded Digital Signature</div>
                <div class="flexClassSig" *ngFor="let item of selectedMessage.files; let i = index">
                  <div *ngIf="item.originalName || item.name">
                    <div *ngIf="item.originalName">
                      <span class="pointlist resClass" (click)="showimgPopup(item)" style="color: #706969;">
                        <img src="/assets/images/medicalReportIcon/uplaodFile.png" />
                        {{item.originalName}}</span>
                    </div>
                    <div *ngIf="item.name">
                      <span class=" pointlist resClass" (click)="showimgPopup(item)" style="color: #706969;">
                        <img src="/assets/images/medicalReportIcon/uplaodFile.png" />{{item.name}}</span>
                    </div>
                  </div>
                  <div (click)="deleteTempImagefrmdb(item,i)" class="pointer-cursor" #tooltip="matTooltip"
                    matTooltip="Remove" [matTooltipPosition]="'below'">
                    <img src="/assets/images/medicalReportIcon/delete.png" />
                  </div>
                </div>
              </ng-container>
            </div>

          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="sms_credit_warn mgn-up-10" *ngIf="is_smsLow && !showthirdparty ">{{smsWarnMsg}} <a
        (click)="gotoSmsAddon()">{{is_noSMS? 'Purchase now': 'Upgrade now'}}</a>
      {{is_noSMS? '' : ' to avoid undelivered SMS'}}</div>
    <div *ngIf="showthirdparty">
      <span class="sharePresText" *ngIf="!mrPrescriptionDetails[0].keyName">We will create a PDF of your prescription
        and will share Via
        email.</span>
      <span class="sharePresText" *ngIf="mrPrescriptionDetails[0].keyName">Your prescription will be shared Via
        email.</span>
    </div>

    <div class="btnClass">
      <button type="button" mat-dialog-close type="button" class="btn btn-primary font-weight-bold cancelBtn"
        [disabled]="disableButton">Cancel</button>
      <button (click)="shareBtn(amForm)" type="submit" [disabled]="!amForm.valid || disable " type="button"
        class="btn btn-primary font-weight-bold confirmBtn">Share<i class="fa fa-spinner fa-spin"
          *ngIf="sharebtnloading"></i></button>
    </div>
  </mat-dialog-content>
</form>
<!-- {{data| json}} -->
<div id="sharePdf" style="height:100%;">
  <div class="shareview">
    <div style=" width:100%; height: 100%; margin-bottom:10px ;margin-top:10px " class="contentShare">
      <div>
        <a style="background: #0D2348 !important;float:right;
                                        box-shadow: 0.417685px 2.50611px 8.77138px 1.25305px rgb(30 64 121 / 15%) !important;
                                        border-radius: 3.75916px px !important;border: 0px solid !important;padding: 6px 12px;
                                        color: #fff;font-weight: 500 !important;font-size: 12px;"
          [href]="data.file.url">Download</a>
        <pdf-viewer [src]="data.file.url" style="width: 100%; height: 1200px;"></pdf-viewer>
      </div>
    </div>
  </div>
</div>

<div id="sharerxview" *ngIf="data && data.file && data.file.url">
  <div class="shareview " style="width: 190mm; height: 260mm">
    <div *ngIf="data && data.file && data.file.url" style="text-align: center;">
      <img style="height:500px;width:700px;object-fit: cover;" [src]="signurlFile(data.file.url)" />
    </div>
  </div>
</div>


<div id="sharerxview" *ngIf="data && data.file && !data.file.url">
  <div class="shareview" style="width: 190mm; height: 260mm">
    <!-- <div *ngIf="data && data.file && data.file.url" style="text-align: center;">
            <img [src]="signurlFile(data.file.url)" />
        </div> -->
    <div style="height:35mm; border-bottom: 1px solid #ddd;">
      <div style="width: 35mm;height: 35mm; float: left;"><img alt="" [src]="showimg()" style="width: 100px;
      height: 100px" /></div>
      <div style="width:155mm; float: left;">
        <h2 style="margin: 0; padding: 4px 0 4px 0;">{{bname}} </h2>
        <div *ngIf="userbname" style="margin: 0; padding: 0px 0 4px 0;">{{userbname}}
        </div>
        <div *ngIf="!userbname && doctorName" style="margin: 0; padding: 0px 0 4px 0;">{{doctorName}}
        </div>
        <div style="margin: 0; padding: 0px 0 4px 0;">{{address}}</div>
      </div>
    </div>
    <div style=" width:100%; height: 195mm; margin-bottom:10px ;margin-top:10px " class="content">
      <table class="sign-table" style="width: 100%; margin: auto;margin-bottom: 20px" *ngIf="customerDetail">
        <tr>
          <td style="padding-right: 10px; width: 60%">
            <label>{{customer_label | capitalizeFirst}} &nbsp;</label>
            <span *ngIf="customerDetail.firstName">: {{customerDetail.firstName | capitalizeFirst}}
              {{customerDetail.lastName}}</span>
            <span *ngIf="!customerDetail.firstName && customerDetail.jaldeeId">Id:
              {{customerDetail.jaldeeId}}</span>
          </td>
          <td><label>Gender:&nbsp;</label>
            <span *ngIf="customerDetail.gender">{{customerDetail.gender | capitalizeFirst}}</span>
            <span *ngIf="!customerDetail.gender">......</span>
          </td>
          <td *ngIf="customerDetail.dob"><label>Dob:&nbsp;</label>
            <span *ngIf="customerDetail.dob">{{customerDetail.dob | date:newDateFormat}}</span>
            <span *ngIf="!customerDetail.dob">..........</span>
          </td>
          <td *ngIf="customerDetail.age && !customerDetail.dob"><label>Age:&nbsp;</label>
            <span> <span *ngIf="customerDetail.age.year">{{customerDetail.age.year}} years</span>
              <span *ngIf="customerDetail.age.month">{{customerDetail.age.month}} months</span>
              <span *ngIf="!customerDetail.age.year && !customerDetail.age.month">.........</span></span>
          </td>
          <td *ngIf="!customerDetail.age && !customerDetail.dob"><label>Dob:&nbsp;</label>
            <span *ngIf="!customerDetail.dob">..........</span>
          </td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td style="padding-top: 10px"><label>Date:&nbsp;</label>
            <span>{{curDate | date:newDateFormat}}</span>
          </td>
        </tr>
      </table>
      <!-- <div *ngIf="data && data.file && data.file.url" style="text-align: center;">
                <img [src]="signurlFile(data.file.url)" />
            </div> -->
      <div style="width: 100%" *ngIf="drugList">
        <table style="border: 1px solid #ddd; padding: 10px; border-collapse: collapse; width: 100%;margin: auto; ">
          <thead *ngIf="drugList.length>0">
            <tr>
              <th style="border: 1px solid #ddd; padding: 10px; border-collapse: collapse; width: 55mm; "
                class="medicine">Medicine</th>
              <th style="border: 1px solid #ddd; padding: 10px; border-collapse: collapse;  width: 23mm"
                class="duration">Duration(days)</th>
              <th style="border: 1px solid #ddd; padding: 10px; border-collapse: collapse;  width: 23mm" class="dosage">
                Dosage</th>
              <th style="border: 1px solid #ddd; padding: 10px; border-collapse: collapse;  width: 24mm"
                class="frequency">Frequency</th>
              <th style="border: 1px solid #ddd; padding: 10px; border-collapse: collapse; width: 55mm">
                Instructions</th>
            </tr>
          </thead>
          <tbody>
            <tr>
            <tr *ngFor="let drug of drugList; let i = index;">
              <td
                style="border: 1px solid #ddd; padding: 10px; border-collapse: collapse;overflow-wrap: break-word;white-space: break-spaces;">
                {{drug.medicine_name}}</td>
              <td
                style="border: 1px solid #ddd; padding: 10px; border-collapse: collapse;text-align: center;overflow-wrap: break-word;white-space: break-spaces;"
                class="centeralign">{{drug.duration}}</td>
              <td
                style="border: 1px solid #ddd; padding: 10px; border-collapse: collapse;text-align: center;overflow-wrap: break-word;white-space: break-spaces;"
                class="centeralign">{{drug.dosage}}</td>
              <td
                style="border: 1px solid #ddd; padding: 10px; border-collapse: collapse;text-align: center;overflow-wrap: break-word;white-space: break-spaces;"
                class="centeralign">{{drug.frequency}}</td>
              <td
                style="border: 1px solid #ddd; padding: 10px; border-collapse: collapse;overflow-wrap: break-word;white-space: break-spaces;">
                {{drug.instructions}}</td>
            </tr>
          </tbody>
        </table><br>
        <label *ngIf="note" style="text-decoration: underline;color: #1E4079">Instructions to the
          {{customer_label}}</label><br>
        <span style="font-style: italic;color: #3c8dbc">{{note}}</span>
      </div>

    </div>
    <div class="footer" style="height: 30mm;width: 100%;border-top: 1px solid #ddd;margin: auto">
      <table class="sign-table" style="width: 100%; margin: auto;margin-top: 20px">
        <tr>
          <td style="text-align: right; padding-right: 10px; width: 20%">Signature</td>
          <td><img alt="" style="width: 100px; height: 75px;" [src]="showdigitalsign()" /></td>
        </tr>
      </table>
    </div>
  </div>
</div>
