.inl-blk {
    display: inline-block !important;
}

.pad-20 {
    padding:20px !important;
}
.pad-10 {
    padding:10px !important;
}
.teleservicePopup .mat-form-field {
    width: 100%;
}
.bg-grey {
    background: #ddd !important;
}
textarea {
    width: 100%;
    padding:10px !important;
    font-size:0.8rem !important;
}
.mt-icon img{
    width: 25px;
    height:30px;
    padding-bottom: 10px;
}
.meet-icon, .wtsapvid-icon {
    width: 20px !important;
}
.zoom-icon {
    width: 30px !important;
}
.wtsapaud-icon {
    width: 35px !important;
}
.wtsapvid-icon {
    width: 35px !important;
}
.phon-icon {
    width: 25px !important;
}
.strtvideo .zoom-icon {
    width: 20px !important;
}
.strtvideo .meet-icon {
    width: 15px !important;
}
.strtaudio .phon-icon {
    width: 15px !important;
}
.strtaudio .wtsapaud-icon {
    width: 18px !important;
}
.strtaudio .wtsapvid-icon {
    width: 18px !important;
}


.ln-hgt-30 {
    line-height: 30px;
}
.box-bg-grey {
    background: rgb(202 195 195 / 16%);
}
.mgn-bt-auto {
    margin-bottom: auto;
}
.fnt-lrge {
    font-size: 1.4rem;
}
.fnt-fon {
    font-size: x-large;
    color: rgb(0 0 0);
}
.end-meet-red {
    border: 2px solid rgb(218 82 82);
    padding: 15px;
}
.go-bck-dashbrd {
    border: 2px solid rgb(0 128 0);
    padding: 15px;
}
.serv-name-border {
    border: 2px solid rgb(60 141 188);
}
.serv-name-color {
    color: rgb(60 141 188);
}
.txt-trans-none{
    text-transform: none !important;
}
.teleservicePopup .meetingdetails .tele_srv_txtarea {
    height: 180px !important;
}  
@media only screen and (max-width: 769px) {
    .mgn-bt-auto {
        margin-bottom: 0px !important;
    }
  }
.disp-flex {
    display: flex;
}  
.txt-grn {
    color: green;
}
.fnt-600 {
    font-weight: 600;
}
.video-wdth {
    width: 25px !important;
}
@media only screen and (max-width: 400px) {
    .video-wdth {
        width: 20px !important;
    }
}




.action-buttons-container {
    display: flex !important;
    flex-direction: row !important;
    align-items: flex-start !important;
    justify-content: space-between !important;
    flex-wrap: wrap !important;
}

.action-button {
    color: #1E4079 !important;
    background-color: white !important;
    border: 1px solid #1E4079 !important;
    font-weight: 700 !important;
    padding: 5px !important;
    font-size: 12px !important;
    text-transform: uppercase !important;
    min-width: 31% !important;
    max-width: 100% !important;
    margin-left: 2.5px !important;
    margin-right: 2.5px !important;
    flex: 1 1 auto !important;
    white-space: normal !important;
}

.action-button:hover {
    color: white !important;
    background: #1E4079 !important;
    font-weight: 500 !important;
}

.action-button i.fa {
    font-family: 'FontAwesome' !important;
    font-weight: 500 !important;
    font-size: 13px !important;
    color: inherit !important;
    vertical-align: baseline !important;
}
@media (min-width: 992px) {
    .content {
        padding: 25px 10px !important;
    }
}
.start-icon {
    width: 20px !important;
    margin-bottom: -5px !important;
}
.line-hgt i {
    color: black !important;
    width: 20px;
}
.line-hgt {
    line-height: 1.5;
}
.sub-texts{
    color: #848484;
}

@media (max-width: 575px) {
    .card-body {
        position: relative !important;
    }

    .card-toolbar {
        position: static !important;
    }

    .action-buttons-container .action-button {
        position: absolute !important;
        right: 0 !important;
        top: 0 !important;
        max-width: 80px !important;
        min-width: auto !important;
        margin-right: 0 !important;
        margin-bottom: 0 !important;
        margin-left: 15px !important;
    }
}

.head-card .user-names {
    margin-top: 5px !important;
    height: 30px !important;
    line-height: 30px !important;
    margin-bottom: 0 !important;
    color: #1E4079 !important;
    font-weight: 700 !important;
    font-size: 1.3rem !important;
    text-transform: capitalize !important;
    text-overflow: ellipsis !important;
    width: calc(100% - 20px) !important;
    white-space: nowrap !important;
    overflow: hidden !important;
}

@media (max-width: 575px) {
    .head-card .user-names {
        width: calc(100% - 85px) !important;
        margin-top: 0 !important;
    }
}

.head-card .icon {
    color: #0bc7c7 !important;
    font-size: 16px !important;
    width: 20px !important;
    display: inline-flex !important;
    justify-content: center !important;
    font-family: 'FontAwesome' !important;
    margin-right: 5px !important;
    font-weight: 500 !important;
}

.head-card .icon.fa.fa-map-marker {
    font-size: 18px !important;
}

.head-card .icon.fa.fa-mobile {
    font-size: 22px !important;
}

.head-card .sub-texts {
    color: #909090 !important;
    font-size: 0.95rem !important;
    font-weight: 500 !important;
    text-transform: capitalize !important;
}

.head-card .e-mail .sub-texts {
    text-transform: none !important;
}

.body-card .service-name {
    color: #1E4079 !important;
    font-weight: 700 !important;
    text-transform: capitalize !important;
}

.body-card .service-status {
    color: #0ba50b !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    font-weight: 700 !important;
    text-transform: capitalize !important;
    margin-left: 20px;
}

.body-card .custom-red {
    color: red !important;
    font-weight: 700 !important;
}

.body-card .call-inst {
    color: #1E4079 !important;
    font-weight: 700 !important;
    font-size: 1rem;
}

/* .body-card .call-inst:hover {
    text-decoration: underline !important;
    text-underline-position: under !important;
} */

.body-card .direct-call-inst {
    color: #888888 !important;
    font-weight: 700 !important;
}

.body-card .functionality-btn {
    color: #1E4079 !important;
    border-color: #1E4079 !important;
    background: white !important;
    font-weight: 700 !important;
    display: inline-flex !important;
    border-radius: 5px !important;
    margin-right: 10px !important;
}

.body-card .functionality-btn i {
    color: inherit !important;
    font-family: 'FontAwesome' !important;
    font-weight: inherit !important;
}

.body-card .functionality-btn:hover {
    color: white !important;
    border-color: #1E4079 !important;
    background: #1E4079 !important;
    font-weight: 500 !important;
    display: inline-flex !important;
    border-radius: 5px !important;
    margin-right: 10px !important;
}

.body-card .start-button button {
    border-radius: 5px !important;
    background-color: white !important;
    border: 2px solid #1ea91e !important;
    color: #1ea91e !important;
    display: inline-flex !important;
    justify-content: center !important;
    align-items: center !important;
    font-weight: 700 !important;
    padding: 30px;
    font-size: 1.2rem;
}

.body-card .start-button button:hover {
    border-radius: 5px !important;
    background-color: #1ea91e !important;
    border: 1px solid #1ea91e !important;
    color: white !important;
    display: inline-flex !important;
    justify-content: center !important;
    align-items: center !important;
    font-weight: 500 !important;
}

.body-card .start-button i.wtsapaud-icon {
    width: 30px !important;
    margin-top: -15px !important;
    margin-right: -5px !important;
    margin-bottom: -2px !important;
}

.body-card .start-button i.phon-icon {
    width: 20px !important;
    margin-top: -5px !important;
    margin-bottom: -2px !important;
}

.body-card .start-button i.meet-icon {
    width: 20px !important;
    margin-top: -5px !important;
    margin-bottom: -4px !important;
}

.body-card .start-button i.zoom-icon {
    width: 40px !important;
    margin-top: -10px !important;
    margin-right: -5px !important;
}

.body-card .start-button i.jvideo-icon {
    width: 25px !important;
    margin-top: -5px !important;
}

.body-card .relaunch-end-buttons .end-button {
    border-radius: 5px !important;
    background-color: white !important;
    border: 1px solid #d20a0a !important;
    color: #d20a0a !important;
    display: inline-flex !important;
    justify-content: center !important;
    align-items: center !important;
    font-weight: 700 !important;
    margin-right: 10px !important;
}

.body-card .relaunch-end-buttons .end-button:hover {
    border-radius: 5px !important;
    background-color: #d20a0a !important;
    border: 1px solid #d20a0a !important;
    color: white !important;
    display: inline-flex !important;
    justify-content: center !important;
    align-items: center !important;
    font-weight: 500 !important;
    margin-right: 10px !important;
}

.body-card .relaunch-end-buttons .relaunch-button {
    border-radius: 5px !important;
    background-color: white !important;
    border: 1px solid #1E4079 !important;
    color: #1E4079 !important;
    display: inline-flex !important;
    justify-content: center !important;
    align-items: center !important;
    font-weight: 700 !important;
}

.body-card .relaunch-end-buttons .relaunch-button:hover {
    border-radius: 5px !important;
    background-color: #1E4079 !important;
    border: 1px solid #1E4079 !important;
    color: white !important;
    display: inline-flex !important;
    justify-content: center !important;
    align-items: center !important;
    font-weight: 500 !important;
}


.body-card .inprogress-end-buttons .end-button {
    border-radius: 5px !important;
    background-color: white !important;
    border: 1px solid #d20a0a !important;
    color: #d20a0a !important;
    display: inline-flex !important;
    justify-content: center !important;
    align-items: center !important;
    font-weight: 700 !important;
}

.body-card .inprogress-end-buttons .end-button:hover {
    border-radius: 5px !important;
    background-color: #d20a0a !important;
    border: 1px solid #d20a0a !important;
    color: white !important;
    display: inline-flex !important;
    justify-content: center !important;
    align-items: center !important;
    font-weight: 500 !important;
}

.body-card .inprogress-end-buttons .inprogress-button {
    border-radius: 5px !important;
    background-color: white !important;
    border: 1px solid #1E4079 !important;
    color: #1E4079 !important;
    display: inline-flex !important;
    justify-content: center !important;
    align-items: center !important;
    font-weight: 700 !important;
    margin-right: 10px !important;
}

.body-card .inprogress-end-buttons .inprogress-button:hover {
    border-radius: 5px !important;
    background-color: #1E4079 !important;
    border: 1px solid #1E4079 !important;
    color: white !important;
    display: inline-flex !important;
    justify-content: center !important;
    align-items: center !important;
    font-weight: 500 !important;
    margin-right: 10px !important;
}
.text-left {
    text-align: left !important;
}