.inl-blk {
    display: inline-block !important;
}

.pad-20 {
    padding:20px !important;
}
.pad-10 {
    padding:10px !important;
}
.teleservicePopup .mat-form-field {
    width: 100%;
}
.bg-grey {
    background: #ddd !important;
}
textarea {
    width: 100%;
    padding:10px !important;
    font-size:0.8rem !important;
}
.mt-icon img{
    width: 25px;
    height:30px;
    padding-bottom: 10px;
}
.meet-icon, .wtsapvid-icon {
    width: 20px !important;
}
.zoom-icon {
    width: 30px !important;
}
.wtsapaud-icon {
    width: 35px !important;
}
.wtsapvid-icon {
    width: 35px !important;
}
.phon-icon {
    width: 25px !important;
}
.strtvideo .zoom-icon {
    width: 20px !important;
}
.strtvideo .meet-icon {
    width: 15px !important;
}
.strtaudio .phon-icon {
    width: 15px !important;
}
.strtaudio .wtsapaud-icon {
    width: 18px !important;
}
.strtaudio .wtsapvid-icon {
    width: 18px !important;
}


.ln-hgt-30 {
    line-height: 30px;
}
.box-bg-grey {
    background: rgb(202 195 195 / 16%);
}
.mgn-bt-auto {
    margin-bottom: auto;
}
.fnt-lrge {
    font-size: 1.4rem;
}
.fnt-fon {
    font-size: x-large;
    color: rgb(0 0 0);
}
.end-meet-red {
    border: 2px solid rgb(218 82 82);
    padding: 15px;
}
.go-bck-dashbrd {
    border: 2px solid rgb(0 128 0);
    padding: 15px;
}
.serv-name-border {
    border: 2px solid rgb(60 141 188);
}
.serv-name-color {
    color: rgb(60 141 188);
}
.txt-trans-none{
    text-transform: none !important;
}
.teleservicePopup .meetingdetails .tele_srv_txtarea {
    height: 180px !important;
}  
@media only screen and (max-width: 769px) {
    .mgn-bt-auto {
        margin-bottom: 0px !important;
    }
  }
.disp-flex {
    display: flex;
}  
.txt-grn {
    color: green;
}
.fnt-600 {
    font-weight: 600;
}
.video-wdth {
    width: 25px !important;
}
@media only screen and (max-width: 400px) {
    .video-wdth {
        width: 20px !important;
    }
}




.action-buttons-container {
    display: flex !important;
    flex-direction: row !important;
    align-items: flex-start !important;
    justify-content: space-between !important;
    flex-wrap: wrap !important;
}

.action-button {
    color: #1E4079 !important;
    background-color: white !important;
    border: 1px solid #1E4079 !important;
    font-weight: 700 !important;
    padding: 5px !important;
    font-size: 12px !important;
    text-transform: uppercase !important;
    min-width: 31% !important;
    max-width: 100% !important;
    margin-left: 2.5px !important;
    margin-right: 2.5px !important;
    flex: 1 1 auto !important;
    white-space: normal !important;
}

.action-button:hover {
    color: white !important;
    background: #1E4079 !important;
    font-weight: 500 !important;
}

.action-button i.fa {
    font-family: 'FontAwesome' !important;
    font-weight: 500 !important;
    font-size: 13px !important;
    color: inherit !important;
    vertical-align: baseline !important;
}
@media (min-width: 992px) {
    .content {
        padding: 25px 10px !important;
    }
}
.start-icon {
    width: 20px !important;
    margin-bottom: -5px !important;
}
.line-hgt i {
    color: black !important;
    width: 20px;
}
.line-hgt {
    line-height: 1.5;
}
.sub-texts{
    color: #848484;
}

@media (max-width: 575px) {
    .card-body {
        position: relative !important;
    }

    .card-toolbar {
        position: static !important;
    }

    .action-buttons-container .action-button {
        position: absolute !important;
        right: 0 !important;
        top: 0 !important;
        max-width: 80px !important;
        min-width: auto !important;
        margin-right: 0 !important;
        margin-bottom: 0 !important;
        margin-left: 15px !important;
    }
}
