<section class="">
    <div class="card title-gb">
        <h5 class="mgn-up-10">
            <span class="fa fa-arrow-left pointer-cursor"
                (click)="redirecToPreviousPage()"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </h5>
    </div>
</section>
<section class="teleservicePopup">
    <app-common-innerloading-spinner *ngIf="api_loading"></app-common-innerloading-spinner>
    <div class="content loc-list" *ngIf="!api_loading">
        <div class="col-md-12">
            <div class="row">
                <div class="card col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="card-body p-0">
                        <div class="col-sm-9 col-xs-12 col-lg-9 col-md-9 p-0">
                            <div class="d-flex align-items-end">
                                <div class="d-flex align-items-center">
                                    <div class="d-flex flex-column">
                                        <div class="stats-item line-hgt"
                                            *ngIf="waiting_type == 'checkin' && (data.waitlistingFor[0].firstName || data.waitlistingFor[0].lastName)">
                                            <h5 class="text-dark font-weight-bold text-hover-primary font-size-md mb-0"
                                                *ngFor="let user of data.waitlistingFor">
                                                {{user.firstName | capitalizeFirst}} {{user.lastName | capitalizeFirst}}
                                            </h5>
                                            <div class="stats-item" *ngIf="data.waitlistingFor[0].id">
                                                <span class="text-muted">{{customer_label | capitalizeFirst}} Id:
                                                    {{data.waitlistingFor[0].memberJaldeeId}}</span>
                                            </div>
                                            <div class="stats-item" *ngIf="data.waitlistPhoneNumber">
                                                <i class="fas fa-mobile-alt"></i>
                                                <span class="mgn-lt-5 text-muted">{{data.countryCode}}
                                                    {{data.waitlistPhoneNumber}}</span>
                                            </div>
                                            <div class="stats-item" *ngIf="data.waitlistingFor[0].email">
                                                <i class="far fa-envelope"></i>
                                                <span
                                                    class="mgn-lt-5 text-muted">{{data.waitlistingFor[0].email}}</span>
                                            </div>
                                            <div class="stats-item" *ngIf="data.waitlistingFor[0].gender">
                                                <i *ngIf="data.waitlistingFor[0].gender == 'Male' || data.waitlistingFor[0].gender == 'male'"
                                                    class="fas fa-mars"></i>
                                                <i *ngIf="data.waitlistingFor[0].gender == 'Female' || data.waitlistingFor[0].gender == 'female'"
                                                    class="fas fa-mars-stroke"></i>
                                                <span class="mgn-lt-5 text-muted">{{data.waitlistingFor[0].gender |
                                                    capitalizeFirst}}</span>
                                            </div>
                                            <div class="stats-item"
                                                *ngIf="data.waitlistingFor[0].preferredLanguage && data.waitlistingFor[0].preferredLanguage.length > 0">
                                                <i class="fa lang-icon"></i>
                                                <span
                                                    class="mgn-lt-5 text-muted">{{data.waitlistingFor[0].preferredLanguage}}</span>
                                            </div>
                                            <div class="stats-item" *ngIf="data.waitlistingFor[0].bookingLocation">
                                                <i class="fa locat-icon"></i>
                                                <span
                                                    class="mgn-lt-5 text-muted">{{data.waitlistingFor[0].bookingLocation.localArea}},
                                                    {{data.waitlistingFor[0].bookingLocation.district}}</span>
                                            </div>
                                            <div class="stats-item" *ngIf="data.waitlistingFor[0].age">
                                                <i class="fa fa-user"></i>
                                                <span
                                                    class="mgn-lt-5 text-muted">{{getAge(data.waitlistingFor[0].age)}}</span>
                                            </div>
                                        </div>
                                        <div class="mgn-up-10 stats-item"
                                            *ngIf="waiting_type != 'checkin' && (data.appmtFor[0].firstName || data.appmtFor[0].lastName)">
                                            <h5 class="text-dark font-weight-bold text-hover-primary font-size-md mb-0"
                                                *ngFor="let user of data.appmtFor">
                                                {{user.firstName | capitalizeFirst}} {{user.lastName | capitalizeFirst}}
                                            </h5>
                                            <div class="stats-item" *ngIf="data.appmtFor[0].id">
                                                <span class="text-muted">{{customer_label | capitalizeFirst}} Id:
                                                    {{data.appmtFor[0].memberJaldeeId}}</span>
                                            </div>
                                            <div class="stats-item" *ngIf="data.phoneNumber">
                                                <i class="fas fa-mobile-alt"></i>
                                                <span class="mgn-lt-5 text-muted">{{data.countryCode}}
                                                    {{data.phoneNumber}}</span>
                                            </div>
                                            <div class="stats-item" *ngIf="data.appmtFor[0].email">
                                                <i class="far fa-envelope"></i>
                                                <span class="mgn-lt-5 text-muted">{{data.appmtFor[0].email}}</span>
                                            </div>
                                            <div class="stats-item" *ngIf="data.appmtFor[0].gender">
                                                <i *ngIf="data.appmtFor[0].gender == 'Male' || data.appmtFor[0].gender == 'male'"
                                                    class="fas fa-mars"></i>
                                                <i *ngIf="data.appmtFor[0].gender == 'Female' || data.appmtFor[0].gender == 'female'"
                                                    class="fas fa-mars-stroke"></i>
                                                <span class="mgn-lt-5 text-muted">{{data.appmtFor[0].gender |
                                                    capitalizeFirst}}</span>
                                            </div>
                                            <div class="stats-item"
                                                *ngIf="data.appmtFor[0].preferredLanguage && data.appmtFor[0].preferredLanguage.length >0">
                                                <i class="fa lang-icon"></i>
                                                <span
                                                    class="mgn-lt-5 text-muted">{{data.appmtFor[0].preferredLanguage}}</span>
                                            </div>
                                            <div class="stats-item" *ngIf="data.appmtFor[0].bookingLocation">
                                                <i class="fa locat-icon"></i>
                                                <span class="mgn-lt-5 text-muted">{{data.appmtFor[0].localArea}},
                                                    {{data.appmtFor[0].district}}</span>
                                            </div>
                                            <div class="stats-item" *ngIf="data.appmtFor[0].age">
                                                <i class="fa fa-user"></i>
                                                <span
                                                    class="mgn-lt-5 text-muted">{{getAge(data.appmtFor[0].age)}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-toolbar col-md-3 col-sm-3 col-xs-12 col-lg-3 p-0 disp-grid">
                            <div class="action-buttons-container">
                                <a (click)="shareBookingActions()" class="btn mb-2 action-button">
                                    Actions
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card p0">
                    <div class="copy locd">
                        <div class="lbl col-sm-12 col-md-6 col-lg-6 col-xs-12 no-padding">
                            <!-- First Page -->
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 no-padding " *ngIf="step === 1">
                                <!-- Service Name -->
                                <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 centeralign pad-10">
                                    <div>
                                        <h2 class="serv-name-color fnt-lrge">
                                            <i *ngIf="callingModes === 'Zoom'" class="fa zoom-icon "></i>
                                            <i *ngIf="callingModes === 'GoogleMeet'"
                                                class="fa meet-icon video-wdth"></i>
                                            <i class="fa jvideo-icon jvideo-icon-sm jvideo-icon-mgm5"
                                                *ngIf="callingModes === 'VideoCall'"></i>
                                            <i *ngIf="callingModes === 'WhatsApp' && serv_type === 'audioService'"
                                                class="fa wtsapaud-icon"></i>
                                            <i *ngIf="callingModes === 'WhatsApp' && serv_type === 'videoService'"
                                                class="fa wtsapvid-icon"></i>
                                            <i *ngIf="callingModes === 'Phone'" class="fa phon-icon video-wdth"></i>
                                            &nbsp;{{serv_name}}
                                        </h2><br>
                                        <h6 class="txt-grn" *ngIf="servStarted">{{(servDetails?.virtualServiceType ==
                                            'videoService')? 'Video' : 'Audio'}} consultation in progress...</h6>
                                    </div>
                                </div>
                                <!-- Warning If telemode is WhatsApp/Phone -->
                                <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 centeralign pad-10"
                                    *ngIf="((callingModes === 'WhatsApp') || (callingModes === 'Phone')) && is_web">
                                    <div>
                                        <div class="custmer-font-wght">
                                            <span class="text-red">*{{(callingModes == 'Phone')? 'Phone' :
                                                'WhatsApp'}}</span>
                                            <span class="text-red"> {{notSupported}}</span><br>
                                            <span><a (click)="meetingDetails()">
                                                    Send {{(servDetails?.virtualServiceType == 'videoService')? 'video'
                                                    : 'audio'}} call {{ph_or_tab_cap}}
                                                    {{(callingModes == 'Phone')? 'Phone' : 'WhatsApp'}}
                                                    {{installed_cap}}
                                                </a></span>
                                        </div>
                                    </div>
                                    <div class="mgn-up-10">
                                        +{{data.virtualService['WhatsApp']}}
                                    </div>
                                    <!-- <div class="mgn-up-10">
                                        <i class="fa fa-file-text-o fnt-file"
                                            aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <img class="nxt-icon" src="assets/images/next.png" alt="nexticon">
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <img *ngIf="callingModes === 'WhatsApp'" class="wtsap-img"
                                            src="assets/images/whtsapLogo.png" alt="WhatsAppicon">
                                        <img *ngIf="callingModes === 'Phone'" class="wtsap-img"
                                            src="assets/images/phone.png" alt="phoneicon">
                                    </div> -->
                                </div>
                                <!--Content box with Reminder,meeting details,Customer details(btns) -->
                                <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12   centeralign pad-10">
                                    <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 centeralign pad-10">
                                        <!-- <img class="usr_img" src="assets/images/user_icn.png" alt="user_icon"> -->
                                        <!-- <div class="col-md-12 col-m-12 col-xs-12 col-lg-12">
                                            <b><span class="mgn-lt-5">{{consumer_fname | capitalizeFirst}}</span><span
                                                    *ngIf="waiting_type === 'checkin'">
                                                    {{consumer_lname | capitalizeFirst}}
                                                </span></b>
                                        </div> -->
                                        <div
                                            class="col-md-12 col-xs-12 col-sm-12 col-lg-12 centeralign mgn-up-20 no-padding">
                                            <button (click)="reminder()"
                                                class="btn-primary-n tele-btn txt-trans-none mgn-rt-5">
                                                <i *ngIf="!servStarted" class="fa fa-bell fa-blk"
                                                    aria-hidden="true"></i>
                                                <i *ngIf="servStarted" class="fa fa-envelope-o fa-blk fnt-600"
                                                    aria-hidden="true"></i>
                                                <a class="tspace">Send {{servStarted ? 'Message' : 'Reminder'}}</a>
                                            </button>
                                            <button (click)="meetingDetails()"
                                                class="btn-primary-n tele-btn txt-trans-none">
                                                <i class="fa fa-share-alt fa-blk" aria-hidden="true"></i>
                                                <a class="tspace">Share {{(servDetails?.virtualServiceType ==
                                                    'videoService')? 'video' : 'audio'}} call instructions</a>
                                            </button>
                                            <!-- <button *ngIf = "serv_type === 'audioService'" (click)="meetingDetails()"
                                                class="btn-primary-n tele-btn txt-trans-none">
                                                <i class="fa fa-share-alt fa-blk" aria-hidden="true"></i>
                                                <a class="tspace">Share audio call instructions</a>
                                            </button> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Meeting for whatsapp/phone if opened in web -->
                            <div class="col-md-12 col-m-12 col-xs-12 col-lg-12 centeralign mgn-bt-30 pad-10"
                                *ngIf="((callingModes === 'WhatsApp') || (callingModes === 'Phone')) && (is_web && step === 1)">
                                <button *ngIf="is_web && waiting_type == 'checkin' && data.waitlistStatus != 'started'"
                                    (click)="changeWaitlistStatus(data, 'STARTED')"
                                    class="btn-primary-n tele-btn txt-trans-none mgn-rt-5">
                                    <i class="start-icon" aria-hidden="true"></i>
                                    <a class="tspace">Move to In progress</a>
                                </button>
                                <button *ngIf="is_web && waiting_type != 'checkin' && data.apptStatus != 'Started'"
                                    (click)="changeWaitlistStatus(data, 'Started')"
                                    class="btn-primary-n tele-btn txt-trans-none mgn-rt-5">
                                    <i class="start-icon" aria-hidden="true"></i>
                                    <a class="tspace">Move to In progress</a>
                                </button>
                                <button type="button" (click)="endmeeting()"
                                    class="cs-btn bt1 btn-red txt-trans-none">End
                                    Meeting</button>
                            </div>
                            <!-- Start consultation for gmeet/zoom/wtsap/phone-->
                            <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 centeralign mgn-bt-30 pad-10"
                                *ngIf="(step === 1 && !servStarted)">
                                <div
                                    [ngClass]="{'dv-launch-video-serv' : ((servDetails?.virtualServiceType === 'videoService') || (servDetails?.virtualServiceType === 'VideoCall')), 'dv-launch-aud-serv' : (servDetails?.virtualServiceType === 'audioService')}">
                                    <div *ngIf="(callingModes !== 'WhatsApp') && (callingModes !== 'Phone') && (callingModes !== 'VideoCall')"
                                        class="strtvideo">
                                        <button type="button" class="cs-btn bt1 btn-grn txt-trans-none"
                                            (click)="asktoLaunch()">
                                            <i *ngIf="callingModes === 'Zoom'" class="fa zoom-icon"></i>
                                            <i *ngIf="callingModes === 'GoogleMeet'" class="fa meet-icon"></i>
                                            <b>
                                                Start
                                                {{(servDetails?.virtualServiceType == 'videoService')? 'Video' :
                                                'Audio'}}
                                                Consultation
                                            </b>
                                        </button>

                                    </div>
                                    <!-- If teleservice is wtsap/phone modes -->
                                    <div *ngIf="((callingModes === 'WhatsApp') || (callingModes === 'Phone')) && !is_web"
                                        class="strtaudio">
                                        <button type="button" class="cs-btn bt1 btn-grn txt-trans-none"
                                            (click)="asktoLaunch()">
                                            <i *ngIf="callingModes === 'WhatsApp'" class="fa wtsapaud-icon"></i>
                                            <i *ngIf="callingModes === 'Phone'" class="fa phon-icon"></i>
                                            <b> &nbsp;Start
                                                {{(servDetails?.virtualServiceType == 'videoService')? 'Video' :
                                                'Audio'}}
                                                Consultation
                                            </b>
                                        </button>
                                    </div>
                                    <div *ngIf="callingModes === 'VideoCall'" class="strtvideo">
                                        <button type="button" class="cs-btn bt1 btn-grn txt-trans-none"
                                            (click)="asktoLaunch()">
                                            <i *ngIf="callingModes === 'VideoCall'"
                                                class="fa jvideo-icon jvideo-icon-s jvideo-icon-mgm5"></i>
                                            <b> &nbsp;Start Video Consultation</b>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <!-- End Meeting and relaunch for zoom/gmeet & whtsap/phone(if opened in mob or tab) -->
                            <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12   centeralign pad-10">
                                <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 centeralign pad-10">
                                    <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 centeralign mgn-bt-20  no-padding"
                                        *ngIf="servStarted && ((callingModes === 'Zoom' || callingModes === 'GoogleMeet' || callingModes === 'VideoCall') || ((callingModes === 'Phone'|| callingModes === 'WhatsApp') && !is_web))">
                                        <button type="button" (click)="endmeeting()"
                                            class="cs-btn bt1 btn-red txt-trans-none mgn-bt-10">Done with
                                            {{(servDetails?.virtualServiceType == 'videoService')? 'video' : 'audio'}}
                                            consultation</button> &nbsp;&nbsp;&nbsp;
                                        <a *ngIf="(callingModes !== 'Phone' && callingModes !== 'VideoCall')"
                                            target="_blank" [href]="starting_url">
                                            <button class="cs-btn bt1 btn-blue mgn-bt-10 txt-trans-none">Relaunch
                                                {{callingModes}}
                                            </button>
                                        </a>
                                        <a *ngIf="(callingModes === 'VideoCall')" target="_self"
                                            (click)="relauchMeeting(starting_url)">
                                            <button class="cs-btn bt1 btn-blue mgn-bt-10 txt-trans-none">Relaunch
                                                {{callingModes}}
                                            </button>
                                        </a>
                                        <a *ngIf="(callingModes === 'Phone')" target="_blank"
                                            [href]="'tel:' + starting_url">
                                            <button class="cs-btn bt1 btn-blue mgn-bt-10 txt-trans-none">Relaunch
                                                {{callingModes}}
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>