<section class="">
    <div class="card title-gb">
        <h5 class="mgn-up-10">
            <span class="fa fa-arrow-left pointer-cursor" (click)="goBack()"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Questionnaire Details
        </h5>
    </div>
</section>
<section>
    <div class="content loc-list">
        <div class="card">
            <app-common-innerloading-spinner *ngIf="loading"></app-common-innerloading-spinner>
            <div class="copy" *ngIf="!loading">
                <div class="c-ot">
                    <div class="item">
                        <span class="ttle">questionnaireId</span>
                        <span>{{questionnaire.questionnaireId}}</span>
                    </div>
                    <div class="item">
                        <span class="ttle">transactionType</span>
                        <span> {{questionnaire.transactionType}}</span>
                    </div>
                    <div class="item">
                        <span class="ttle">channel</span>
                        <span>{{questionnaire.channel}}</span>
                    </div>

                </div>
                <div class="c-ot" *ngFor="let question of questionnaire.questions">
                    <div class="item">
                        <span class="ttle">labelName</span>
                        <span>{{question.labelName}}</span>
                    </div>
                    <div class="item">
                        <span class="ttle">label</span>
                        <span>{{question.label}}</span>
                    </div>
                    <div class="item">
                        <span class="ttle">fieldDataType</span>
                        <span>{{question.fieldDataType}}</span>
                    </div>
                    <div class="item">
                        <span class="ttle">fieldScope</span>
                        <span>{{question.fieldScope}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>