<section class="">
    <div class="card title-gb">
        <h5 class="mgn-up-10">
            <span class="fa fa-arrow-left pointer-cursor" (click)="goBack()"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Questionnaire Details
        </h5>
    </div>
</section>
<section>
    <div class="content loc-list">
        <div class="card">
            <app-common-innerloading-spinner *ngIf="loading"></app-common-innerloading-spinner>
            <div class="copy" *ngIf="!loading">
                <div class="c-ot">
                    <div class="item">
                        <span class="ttle">questionnaireId</span>
                        <span>{{questionnaire.questionnaireId}}</span>
                    </div>
                    <div class="item">
                        <span class="ttle">transactionType</span>
                        <span> {{questionnaire.transactionType}}</span>
                    </div>
                    <div class="item">
                        <span class="ttle">channel</span>
                        <span>{{questionnaire.channel}}</span>
                    </div>

                </div>
                <div>
                    <h4> Questions</h4>
                </div>
                <div class="c-ot" *ngFor="let question of questionnaire.questions">
                    <div class="item">
                        <span class="ttle">labelName</span>
                        <span>{{question.labelName}}</span>
                    </div>
                    <div class="item">
                        <span class="ttle">fieldDataType</span>
                        <span>{{question.fieldDataType}}</span>
                    </div>
                    <div data-toggle="modal" data-target="#exampleModalCenter" (click)="selectQuesstion(question)">
                        <span class="tooltiptext">Details</span>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div>
                            {{selectedQestion.labelName}}
                        </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>