.qnrdetails {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12)!important;
    padding: 10px;
}
.item {
    margin-bottom: 10px;
}
.grey {
    color: #999999;
}
.question {
    width: 45%;
    float: left;
    padding: 10px;
    line-height: 2;
    margin: 10px;
    border-radius: 8px!important;
    border: .1px solid #ddd!important;
    box-shadow: 0 2px 5px -1px rgb(50 50 93/25%),0 1px 3px -1px rgb(0 0 0/30%)!important;
}
@media (max-width: 400px) {
    .question {
        width: 95%;
    }
}
@media (min-width: 1200px) {
    .question {
        width: 30%;
    }
}
.question-item {
    font-weight: bold;
}
.details-link {
    float: right;
    width: 100px!important;
    padding: 5px 8px!important;
    background-color: #f2f5fa!important;
    border-radius: 10px!important;
    box-shadow: 0 2px 5px -1px rgb(50 50 93/25%),0 1px 3px -1px rgb(0 0 0/30%)!important;
    cursor: pointer;
    margin-top: 5px;
}