<!-- <p>wallet works!!</p>
<router-outlet>
    
</router-outlet> -->
<section class="container no-padding no-padding-small" >
    <div class="content p0 see-pages cons-members">
      <div class="panel panel-default">
        <div class="panel-heading top-row">        
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">
            <app-header *ngIf="shared_functions.checkLogin()"></app-header>
          </div>
        </div>
        <div class="panel-body no-padding">
          <div class="card title-gb">
            <h5 class="mgn-up-10">My wallet <a class="pull-left mgn-rt-20 back-btn" (click)="goBack()"><i class="fa fa-arrow-left"></i></a></h5>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">
            <div class="col-xs-9 col-sm-8 col-md-6 col-lg-5 ">
                            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ">                               
                                <img  src="assets/images/wallet.jpeg" class="walletimg">
                            </div>
                            <div class="col-xs-8 col-sm-6 col-md-6 col-lg-6 mgn-up-15 walletbase">                               
                                <span>Jaldee cash balance</span><br><span><i class="fa fa-inr" aria-hidden="true"></i> {{remainamount}}</span> 
                            </div>
            </div>
            <div class="col-xs-2 col-sm-4 col-md-2 col-lg-2 mgn-up-15">
                <a  (click)="gotoJaldeeCashdetails()">view details</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>